/*Ho tro truc tuyen*/
#sp_head {
	position: fixed;
	bottom: 10px;
	right: 0px;
	z-index: 9999999;
	color: #111;
 
}
#map-legend {
	display: none;
	width: 160px;
	margin: 0px;
	float: right;
	position: relative;
}
#map-legend-control {
	width: 30px;
	float: right;
	padding:10px;
	
	 background:#fff;
	position: relative;
}
#sp_head #map-legend ul {
	margin-left: 0px;
	text-align: center;
}
#map-legend a {
	width: 70px;
}
 
.hotline {
	width: 150px;
	height: 30px;
	background:#fff url(../images/bg_hotline.png) center no-repeat;
	padding:10px;
	padding-left:0;
}
.hotline span {
	white-space: nowrap;
	color: #f00;
	font-size: 22px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-style: italic;
	margin-left: 10px;
	float: left;
	margin-top: 10px;
}
#sp_head .hotline .number_phone {
	display: block;
	color:#F00;
	font-weight: 700;
	font-size:17px;
	margin-top:10px;
}
.close_f {
	text-align: right;
	line-height: 20px;
	min-width:90px;
}
.close_f :hover{ text-decoration:underline}
