/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 13px;
	font-family: Tahoma;
	color:#000000;
	background: #d1d3d4;
	background-attachment: fixed;
}
a {
	text-decoration: none;
	color: #000ad5;
}
a:hover {
	text-decoration: underline;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clear {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 5px;
	background: url(../Images/wrap_bg.png) top center repeat-y;
}
.page {
	width: 1000px;
	pading: 0;
	margin: 0 auto;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 0 auto;
	padding-top: 5px;
	display: block;
	width: 100%;
	clear: both;
}
.left_content {
	float: left;
	width: 195px;
	margin-left: 5px;
}
.main_content {
	float: left;
	margin: 0 5px;
	width: 590px;
}
.right_content {
	float: left;
	width: 195px;
	margin-right: 5px;
}
/* HEADER

--------------------------*/

.header {
	float:left;
	width: 100%;
	height: 255px;
	display: inline-block;
	margin: 0;
}
.header_inner { width: 1300px; margin: 0 auto; }
.logo { float: left; width: 198px; padding: 5px 10px; margin-left: 160px; }
.header_bottom { clear: both; width: 1000px; margin: 0 auto; height: 40px; }
.address { float: left; width: 60%; line-height: 16px; }
.address p { padding: 0; margin: 0; }
/*Slide Banner*/
.slider_banner
{
    float: right;
    margin: auto;
    position: relative;
    width: 840px;
    z-index: 5;
	margin-top: 20px;
	background: #FFFFFF;
}
.mycarousel img
{
    height: 160px;
    width: 110px;
}
.jcarousel-skin-tango
{
    padding: 5px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl
{
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal
{
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip
{
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal
{
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-item-horizontal
{
    margin-right: 10px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal
{
    margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical
{
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
/* SEARCH */
.search {
	float: right;
	width: 164px;
	height: 26px;
	margin-top: 5px;
	margin-right: 5px;
	overflow: hidden;
	background: url(../Images/search_bg.png) top left no-repeat;
}
.inputSearch {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #000000;
	float: left;
	font: 12px Tahoma;
	height: 15px;
	padding: 6px 0 0 10px;
	width: 140px;
}
.submitSearch {
	background: url(../Images/search_button.png) center right no-repeat;
	border: medium none;
	cursor: pointer;
	float: left;
	height: 15px;
	padding: 0;
	width: 14px;
	margin-top: 5px;
	margin-left: -5px;
	text-align: center;
}
.info_support { float: left; width: 25%; margin: 5px 0 0 15%; background: url(../Images/phone_icon.png) center left no-repeat; padding-left: 30px; color: #02e4ff; }
.info_support a { color: #02e4ff; }
.login { float: right; margin-top: 5px; color: #02e4ff; }
.login a { color: #FFFFFF; }
/*Products*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}
div.box_top_center
{
	height: 17px;
	background: url(../Images/box_top_bg.png) top left repeat-x;   
	margin: 0 20px 0 25px;
}
div.box_top_left
{
	background: url(../Images/box_top_left.png) top left no-repeat;
	height: 17px;
}
div.box_top_right
{
	background: url(../Images/box_top_right.png) top right no-repeat;
	height: 17px;
}
div.box_footer
{
	background: url(../Images/box_footer_bg.png) bottom left repeat-x;
	height: 15px;
	margin: 0 20px;
}
div.box_footer_left
{
	background: url(../Images/box_footer_left.png) bottom left no-repeat;
	height: 15px;
}
div.box_footer_right
{
	background: url(../Images/box_footer_right.png) bottom right no-repeat;
	height: 15px;
}
div.box_content_right
{
	background: url(../Images/box_content_left.png) top right repeat-y;
	width: 100%;
}
div.box_content_left
{
	background: url(../Images/box_content_left.png) top left repeat-y;
	width: 100%;
}
div.box_content_center
{
	background: #FFFFFF;
	padding: 0;
	margin: 0 2px; 
}
/*Vertical menu*/
ul.vertical_menu {
    background: none repeat scroll 0 0 #FFFFFF;
    list-style: none outside none;
    width: 94%;
	margin: 0 auto;
}
ul.vertical_menu li a {
	display: block;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    width: 90%;
	color: #1e00ff;
	background: url(../Images/blue_circle.png) no-repeat scroll 5px 6px transparent;
	padding-left: 20px;
	font-size: 15px;
}
ul.vertical_menu li {
	padding: 6px 0;
	margin: 0 5px;
	border-bottom: 1px solid #001eff;
}
ul.vertical_menu li.vl { border: none; }
.support p, .slide_v_product p { margin: 0 0 0.5em 0; padding: 0; }
/*Product*/
.top_main_banner { margin-bottom: 5px; }
.left_content .h1Tab, .right_content .h1Tab { background: url(../Images/left_Tab.png) top left no-repeat; height: 37px; line-height: 37px; text-align: center; width: 100%; color: #FFFFFF; margin-bottom: 4px; }
.main_content .h1Tab { background: url(../Images/main_Tab.png) top left no-repeat; height: 37px; line-height: 37px; padding-left: 10px; text-align: left; width: 98.5%; color: #FFFFFF }
.product_row {
    margin: 0 auto;
    padding: 0;
}
.product {
    float: left;
    text-align: left;
    width: 33.3%;
	font-size: 12px;
}
.product_inner {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.img_product { display: block; background: url(../Images/product_Bg.png) bottom right no-repeat; width: 174px; height: 148px; padding: 1px; margin-bottom: 5px; position: relative; }
.price { color: #aa0000; font: bold 15px Georgia, "Times New Roman", Times, serif; margin: 5px; }
.promotion_price span{ font-weight: bold; color: #F00; }
.searchbox { padding: 0 10px; }
.searchbox p { margin: 8px 0; }
.searchbox .inputbox { border: 1px solid #cccccc; background: url(../Images/input_Bg.jpg) top left repeat-x; width: 135px; height: 18px; margin-left: 5px; padding: 5px; }
.searchbox label { color: #e97d13; font-weight: bold; margin-left: 5px; font-size: 14px; }
.searchbox .button { cursor: pointer; }
/* HOVER STYLES */
div#pop-up {
display: none;
position: absolute;
width: 200px;
padding: 10px;
background: #eeeeee;
color: #000000;
border: 1px solid #1a1a1a;
font-size: 100%;
z-index: 999;
}
/*Slide Vertical*/
.slide_v_product {
    margin: 0 auto;
    width: 180px;
	text-align: center;
}
.slide_v_product ul li {
    display: block;
    list-style: none outside none;
    padding: 0;
}
.slide_v_product h4 a {
    font-weight: bold;
}
.clr {
    clear: both;
}
.slide_v_product .product { width: 100%; text-align: center; margin: 0 auto; float: none; }
.slide_v_product .img_product { background: none; text-align: center; padding: 0; margin: 0 auto; width: 170px; height: 140px;  }
.navigation {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 0 5px 0;
    text-align: center;
    width: 100%;
}
.navigation a {
    background: #FFFFFF url(../Images/box_footer_bg.png) bottom left repeat-x;
    border: 1px solid #ff98cf;
    border-radius: 5px 5px 5px 5px;
    color: #0600ff;
    margin: 0 2px;
    padding: 3px 8px;
}
.navigation b, .navigation a:hover {
    background: #ff7abc;
    border: 1px solid #ff7abc;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    padding: 3px 8px;
    text-decoration: none;
}
/*News*/
.list_news {
    width: 97.2%;
}
.list_news ul li {
    border-bottom: 1px dashed #0088FB;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}
.list_news .view_more {
    bottom: 5px;
    font-size: 11px;
    position: absolute;
    right: 0;
}
.list_news .h3Title {
    margin-bottom: 5px;
}
.list_news h4 {
    margin-bottom: 20px;
}
.list_news .h3Title a {
    font-weight: bold;
    text-transform: none;
}
.list_news img {
    border: medium none;
}
.detail_news {
    padding: 10px;
}
.date {
    color: #878787;
    font: 11px Arial;
}
.toolbar {
    border-color: #0088FB;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 10px 0;
    position: relative;
    text-align: left;
    width: 100%;
}
.toolbar a {
    background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
    color: #3E3E3E;
    display: inline-block;
    font: 11px/22px Tahoma;
    margin-left: 10px;
    padding-left: 22px;
}
a.email {
    background-position: 0 -44px;
}
a.print {
    background-position: 0 -22px;
}
.social_web {
    height: 30px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 10px;
    width: 70%;
}
.other_news_sub {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
}
.other_news_sub ul {
    list-style-image: url(../Images/bullet_icon.png);
    margin: 10px 0 0 20px;
}
.other_news_sub ul li {
    padding: 3px 0;
}
.other_news_sub a {
    color: #292929;
}
.title_otherNews {
    color: #0088FB;
    font: bold 18px Arial;
}
.other_news_sub .view_more {
	background: url(../Images/arrow.png) left 5px no-repeat;
	padding-left: 10px;
    left: 10px;
	margin-top: 10px;
	display: block;
}
.path {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #567ab7;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 0 3px;
    text-align: left;
    text-transform: none;
}
.detail_info {
    float: right;
    width: 65%;
}
/*Footer*/
.footer
{
    clear: both;
    color: #3e3e3e;
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}
.footer_menu
{
    float: left;
    background: url(../Images/footer_menuBg.jpg) top left repeat-x;
    padding: 8px 0 0 0;
	height: 27px;
    width: 100%;
    color: #FFFFFF;
}
.footer_menu a
{
    color: #FFFFFF;
	font-size: 15px;
}
.footer_bottom { float: left; width: 100%; text-align: center; }
.footer p
{
    margin: 5px 0;
    padding: 0;
}
.copyright
{
	float: left;
	width: 100%;
	clear: both;
    margin: 10px 0;
	text-align: center;
}
.bottom_page { width: 1018px; margin: 0 auto; height: 14px; background: url(../Images/footer_Bg.png) bottom left no-repeat; }
