/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color:#333333;
	background: url(../Images/bg.jpg) center 0 no-repeat
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #000000
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
	-ms-transform: All 0.5s ease-out;
}
.btn_web {
	display: block;
	white-space: nowrap;
	background: #2a6710;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
	padding: 6px 15px;
	margin-bottom: 20px;
	color: #FFFFFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: 700;
	line-height: 24px;
}
.btn_web:hover {
	text-decoration: none;
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
/* WRAPPER --------*/
.wrap {
	width: 980px;
	padding: 0;
	margin: 0 auto;
	position: relative;
	background: #174d00;
	-moz-box-shadow: 0 0 38px #858585;
	-webkit-box-shadow: 0 0 38px #858585;
	box-shadow: 0 0 38px #858585;
}
/* LAYOUT

--------------------------*/
#main {
	margin-bottom: 10px
}
#left_col {
	width: 200px;
	background: #FFFFFF url(../Images/left_bg.jpg) 0 0 no-repeat
}
#main_col {
	width: 770px;
	background: #FFFFFF
}
.inner {
	padding: 10px
}
.wrap:after, #header:after, #footer:after, #main:after, #divTop:after, .box:after, .box_ct:after, .product:after, .topnav:after, .pagination:after, .item_cart:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/* HEADER */
#header {
	position: relative;
	padding: 5px;
}
#header_bottom {
	position: absolute;
	right: 10px;
	bottom: 5px;
	height: 28px;
	line-height: 28px
}
#logo {
	width: 20%;
	text-align: center;
	margin-top: 60px
}
#logo img {
	max-width: 100%;
}
#divTime {
	color: #FFFFFF;
	white-space: nowrap;
}
#divTop {
	padding: 7px 10px
}
#divTop_main {
	height: 39px;
	background: #3a9016;
	border-bottom: 1px solid #2b6910;
	color: #FFFFFF;
	position: relative
}
#tpart {
	background: url(../Images/banner.png) 0 0 no-repeat;
	height: 70px;
	position: absolute;
	right: 60px;
	top: -39px;
	width: 240px;
	z-index: 1000;
}
/*Search Form*/
#search_form .inputSearch {
	background: #ffffff;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	border: none;
	float: left;
	font-family: inherit;
	font-size: 11px;
	padding: 4px 0;
	text-indent: 5px;
	width: 130px;
	color: #2a6710
}
#search_form .btn_search {
	float: right;
	background: #1fa209;
	border: 1px solid #7ec971;
	border-right: 1px solid #146606;
	border-bottom: 1px solid #0d4404;
	cursor: pointer;
	font-size: 11px;
	text-decoration: none;
	height: 21px;
	line-height: 21px;
	color: #FFFFFF;
	padding: 0 5px;
	margin-left: 3px;
}
/*Social Network*/
.social_network span {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 7px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_gplus {
	background-position: -22px 0
}
.icon_twitter {
	background-position: -44px 0
}
/*Vertical menu*/
#box_category > ul {
	position:relative
}
#box_category a {
	text-decoration: none;
	display:block;
	padding: 7px 5px 7px 10px;
	font-size:1em;
	font-weight:700;
	border-top: 1px solid #CCCCCC;
}
#box_category > ul > li > ul {
	opacity: 0;
	position: absolute;
	left: -9999px;
	top: 50px;
	z-index: 50;
	background: url(../Images/left_bg.jpg) 0 0 no-repeat;
	-moz-box-shadow: 3px 2px 3px #555555;
	-webkit-box-shadow: 3px 2px 3px #555555;
	box-shadow: 3px 2px 3px #555555;
}
#box_category > ul > li:hover > ul {
	opacity: 1;
	left: 100%;
	top: 0;
}
#box_category > ul > li ul > li {
	white-space: nowrap;
	min-width: 200px
}
#box_category a:hover {
	color:#FF0000;
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
}
/*Tab*/
.box_Tab {
	position: relative;
	padding: 7px 10px 5px 20px;
	background: #3a9016;
	border-bottom: 1px solid #2b6910;
	color: #FFFFFF;
	font-size: 1.1em;
	font-weight: 700;
	text-transform: uppercase;
}
.Tab_cate {
	padding: 7px 10px 5px 20px;
	font-size: 1em;
	font-weight: 700;
	color: #ff0000;
	padding-left: 20px
}
.marquee {
	width: 98%;
	height: 400px;
	overflow: hidden;
}
/*Ads*/
#ads_top_r {
	width: 25%
}
.ads img {
	width: 100%;
	margin-bottom: 5px
}
#ads_top_r img {
	height: 66px
}
#ads_top_r a:last-child img {
	margin-bottom: 0
}
/*Box Support*/
.hotline {
	text-align: center;
	font-size: 1.1em
}
.hotline span {
	display: block;
	font-weight: 700;
	border-top: 1px solid #CCCCCC;
	padding-top: 8px;
	margin: 8px 0
}
.hotline b {
	color: #FF0000;
}
/*Access Static-*/
#access_static span {
	display: block;
	margin: 3px 0
}
#access_static span b {
	float: right;
	width: 30%;
	text-align: left;
	color: #FF0000
}
/*List Products*/
.list_products {
	margin-left: -20px
}
.item_P {
	float: left;
	position: relative;
	width: 25%;
	margin-top: 10px;
}
.item_P:nth-child(4n+1) {
clear: both
}
.product {
	margin-left: 20px;
	text-align: center
}
.product .img_product {
	display: table-cell;
	vertical-align: middle;
	width: 151px;
	padding: 10px;
	height: 140px;
	text-align: center;
	border: 1px solid #c2c2c4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 7px #adacac;
	-webkit-box-shadow: 0 0 7px #adacac;
	box-shadow: 0 0 7px #adacac;
	text-align: center
}
.product img {
	max-width: 151px;
	max-height: 140px;
}
.product .product_name {
	margin: 8px 5px;
	line-height: 1.2
}
.product .product_name a {
	font-size: 0.9em;
	font-weight: 700
}
.product .price {
	font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.product .addtocart {
	margin-top: 15px;
	width: 20%;
	height: 31px;
	text-align: center;
	background: url(../Images/redBg.gif) 0 0 repeat-x;
}
.product .addtocart:hover {
	background: #7d100e
}
.product .addtocart_icon {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../Images/icons/addtocart_icon.png) center center no-repeat
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin:auto;
	margin: 15px 0 20px 0;
	text-align: center
}
.pagination a {
	display:inline-block;
	padding:2px 9px;
	background:#e0e0e0;
	color:#222222;
	text-align:center;
	text-decoration: none;
	margin-left:2px;
	font-size:15px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:hover, .pagination a.active {
	background:#1c1819;
	color:#FFF;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:first-child {
	border-radius:100px 0 0 100px;
	-webkit-border-radius:100px 0 0 100px;
	-moz-border-radius:100px 0 0 100px;
}
.pagination a:last-child {
	border-radius:0 100px 100px 0;
	-webkit-border-radius:0 100px 100px 0;
	-moz-border-radius:0 100px 100px 0;
}
/*Detail News*/
.title_page {
	font-size: 1.3em;
	text-transform: uppercase;
	padding: 4px 0;
	color: #FF0000
}
.h1Title {
	font-size: 20px;
	font-weight: 700;
	color: #FF0000;
	margin-bottom: 5px;
	line-height: 1.2
}
#info_g img {
	max-width: 100%;
	height: auto;
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
/*News*/
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h2 {
	padding: 0 0 3px 0;
	font-size: 1.1em;
	font-weight: 700;
}
#list_news p {
	margin: 0.3em 0 1em 0;
}
#list_news img {
	padding: 4px;
	border: 1px solid #CCCCCC;
	width: 150px;
	height: auto;
}
#list_news .view_more {
	color: #FF0000;
	font-weight: 700;
	text-transform: uppercase
}
#info_g img {
	max-width: 100%
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	margin: 10px 0;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 47%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -32px;
}
a.opinion {
	background-position: 0 -72px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 700;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 4px 0;
}
.other_news_sub li a {
	background: url(../Images/Bullet.png) no-repeat scroll 0 0 transparent;
	padding-left: 20px;
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Detail Products*/
.pro_left {
	width: 48%;
	position: relative;
}
.pro_left .prev, .pro_left .next {
	background: transparent url(../Images/slide_ctrl.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 26px;
	height: 47px;
	position: absolute;
	top: 15px;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.pro_left .prev {
	background-position: 0 0;
	left: -9px;
}
.pro_left .next {
	background-position: 100% 0;
	right: -9px;
}
#dtp_info {
	width: 50%;
}
.dtp_status {
	float: left;
	display: block;
	width: 100%;
	margin-top: 10px;
}
#like_P {
	margin-bottom: 7px
}
.dtp_status b {
	float: left;
	width: 45%
}
.dtp_status span {
	display: inline-block;
	width: 45%
}
#short_des_P p {
	margin: 10px 0
}
/*LightBox*/
#lightbox_me {
	float: left;
	clear: both;
	margin-top: 10px;
	color: #d73b1c;
	padding-left: 20px;
	background: url(../Images/email.gif) 0 center no-repeat
}
#box_lightbox {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFFFFF;
	padding: 20px;
	width: 400px;
	position: relative;
	display: none;
}
.box_light_inner {
	padding: 20px;
	height: auto;
	overflow: auto;
}
#close_x {
	width: 20px;
	height: 20px;
	overflow: hidden;
	line-height: 1000px;
	display: block;
	position: absolute;
	top: -5px;
	right: -5px;
	background: url(../Images/close_icon.png) 0 0 no-repeat;
}
/*Newsletter*/
* html div#habifl {
	position: absolute;
	overflow:hidden;
 top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}
#habifl {
	font: 12px Arial, Helvetica, sans-serif;
	position:fixed;
	_position: absolute;
	right:0;
	bottom:0;
	height:70px;
	border:0px gray solid
}
#habieb {
	width:270px;
	padding-right:7px;
repeat-x right top;
	border: dashed 0px;
}
#habicob {
	height:10px;
	padding-left:7px;
	border: dashed 0px;
}
#habicoc li a {
	background-image:url(../Images/button.gif);
	background-repeat:no-repeat;
	width:30px;
	height:0;
	padding-top:15px;
	overflow:hidden;
	float:left;
}
#habicoh {
	display:block;
	height:25px;
	line-height:25px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	background: #d20200;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	width:260px;
}
#habicoh a {
	text-decoration:none;
}
#habicoc {
	float:right;
	padding-top:3px;
	padding-right:10px;
	margin:0;
	list-style:none;
	overflow:hidden;
	height:15px;
}
#habicoc li {
	display:inline;
}
#habicoc li a.close {
	background-position: 0 0;
}
#habicoc li a.close:hover {
	background-position: 0 -15px;
}
#habicoc li a.min {
	background-position: -30px 0;
}
#habicoc li a.min:hover {
	background-position: -30px -15px;
}
#habicoc li a.max {
	background-position: -60px 0;
}
#habicoc li a.max:hover {
	background-position: -60px -15px;
}
#habico {
	display:block;
	margin:0;
	height: 50px;
	padding: 10px;
	background-color:#E1E1E2;
	overflow:hidden;
	width:240px;
}
/*Register to get email*/
#get_email input[type='text'] {
	float: left;
	color: #8F8F8F;
	float: left;
	height: 17px;
	line-height: 17px;
	padding: 5px 0;
	width: 73%;
	border-top: 1px solid #999999;
	text-indent: 5px;
}
.send_btn {
	display: block;
	float: right;
	font: bold 12px Arial;
	height: 26px;
	padding: 0 0;
	text-align: center;
	text-decoration: none;
	width: 25%;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase;
	background: #3a9016;
}
.send_btn:hover {
	text-decoration: none;
	color: #FFFFFF
}
/*Path*/
.path {
	text-align: left;
	text-transform: none;
	font-size: 100%;
	font-weight: 500;
}
.path, .path a {
	color: #FFFFFF
}
/*Footer*/
#footer {
	background: #8d0809;
	padding: 20px 10px
}
#footer a {
	color: #b8c0c0
}
#footer, #footer a:hover {
	color: #FFFFFF;
	text-decoration: none
}
.col_menuFooter {
	float: left;
	width: 21%;
	font-size: 96%
}
#spp_foo {
	width: 28%
}
#copyright {
	width: 30%
}
.ctentColuMenuFooter {
	text-align: left;
	margin-right: 50px;
}
#copyright .ctentColuMenuFooter {
	margin-right: 0
}
.ctentColuMenuFooter h3 {
	height: 20px;
	text-align: left;
	font-size: 1.3em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 20px;
	color: #FFFFFF
}
.listMenuFooter li {
	padding: 6px 0;
	border-bottom: 1px dotted #b8c0c0
}
#info_footer {
	float: left;
	width: 100%;
	text-align: center;
	margin: 20px 0 0 0
}
#info_footer p {
	margin: 0 0 0.3em 0
}
