/*Contact Us*/
#info_contact, #contactus {
	border: none !important;
	margin: 0 15px;
}
#info_contact {
	margin-bottom: 20px
}
#info_contact p {
	margin: 0 0 0.3em 0
}
#map {
	border: 2px solid #ccc;
	display: block;
	height: 400px;
	margin: 10px
}
.form_web .row_contact {
	float: left;
	width: 100%;
	margin-bottom: 5px
}
.form_web .left_row {
	width: 15%;
	line-height: 30px;
}
.form_web .right_row {
	width: 84%;
}
.form_web .row_contact input {
	width: 90%;
	border: 1px solid #908d7f;
	padding: 5px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-indent: 5px;
}
.form_web textarea {
	border: 1px solid #908d7f;
	width: 91.5%;
	height: 170px;
	text-indent: 10px;
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: block;
	border: none;
	padding: 7px 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	color: #111111;
	margin-top: 10px;
	cursor: pointer;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dadada 70%, #d2d2d2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(70%, #dadada), color-stop(100%, #d2d2d2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dadada 70%, #d2d2d2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #dadada 70%, #d2d2d2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dadada 70%, #d2d2d2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #dadada 70%, #d2d2d2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d2d2d2', GradientType=0 ); /* IE6-9 */
	border: 1px solid #707070;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: #908d7f
}
#map p {
	margin: 0
}
.required {
	color: #F00;
}
