#nav_wrap {
	height: 52px;
}
#cssmenu {
	background: url(../Images/menuBg.png) 0 0 no-repeat;
	height: 52px;
	position: relative;
	z-index: 999
}
#cssmenu > ul > li {
	float: left;
	display:inline-block;
	position: relative
}
#cssmenu > ul > li.active > a, #cssmenu > ul > li:hover > a {
	color: #FFFFFF;
	background: #7e817f
}
#cssmenu ul li a {
	display: block;
	text-decoration: none;
}
#cssmenu > ul > li > a {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 11px 20px;
	text-decoration: none;
}
#cssmenu > ul > li > a.home_icon {
	width: 46px;
	height: 46px;
	padding: 0;
	background: url(../Images/home_icon.png) center center no-repeat
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 43px;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background:#7e817f;
}
#cssmenu ul ul ul {
	top: 43px;
}
#cssmenu ul ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 200px
}
#cssmenu > ul > li:hover > ul {
	left: auto;
	top: 43px;
	opacity: 1;
}
#cssmenu ul ul li:hover > ul {
	left: 100%;
	top: 43px;
	opacity: 1;
}
#cssmenu ul ul li a {
	border-bottom: 1px solid #cbcccb;
	filter: none;
	font-size: 12px;
	display: block;
	line-height: 35px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 0 10px;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
#cssmenu ul ul li:hover > a {
	background: #cbcccb;
	color: #111111
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last > a {
	border-bottom: 0;
}
