@charset "utf-8";
/* CSS Document */
@font-face {
font-family:'Oswald';
src:url('../Images/font/vnfoswald-webfont.eot');
src:url('../Images/font/vnfoswald-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/font/vnfoswald-webfont.woff') format('woff'), url('../Images/font/vnfoswald-webfont.ttf') format('truetype'), url('../Images/font/vnfoswald-webfont.svg#gotham_htfbold') format('svg');
font-weight:bold;
font-style:normal
}
body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #333333
}
a {
	text-decoration: none;
	color: #333333;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a:hover {
	text-decoration: underline;
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
	position: relative;
	background: #FFFFFF;
	padding: 5px;
}
.inputbox {
	border: 1px solid #afafaf;
	height: 23px;
	line-height: 23px
}
/*LAYOUT*/
.page-inner {
	margin:0 auto;
	width: 980px;
	padding: 10px;
	position: relative;
}
.main {
	position: relative;
}
#sub-page {
	padding-bottom: 129px
}
.main .page-inner {
	background: url(../Images/white_transBg.png) 0 0 repeat
}
.main_content {
	float: left;
	width: 740px;
}
/******STYLE HEADER******/
#wrap-top-header {
	background: #000607 url(../Images/headerBg.jpg) center top no-repeat;
	padding: 10px 0;
}
.logo {
	float:left;
}
.text-logo {
	float: left;
	margin: 15px 0 0 140px;
	min-height: 65px;
}
div.lang {
	float:right;
	margin-top: 5px;
}
div.lang #tv, div.lang #ta {
	cursor:pointer;
	margin-left: 5px;
}
/*Search Form*/
#search_form {
	float: right;
	margin-top: 5px;
	margin-left: 10px;
	position: relative
}
#search_form .search_icon {
	display: block;
	width: 17px;
	height: 17px;
	background: url(../Images/icon_search.png) 0 0 no-repeat;
	cursor: pointer
}
#search_form .search_box {
	position: absolute;
	top: 39px;
	left: -129px;
	padding: 15px 10px 10px 10px;
	z-index: 9999;
	width: 250px;
	background: url(../Images/transBg.png) 0 0 repeat;
	-moz-box-shadow: 2px 2px 5px #444444;
	-webkit-box-shadow: 2px 2px 5px #444444;
	box-shadow: 2px 2px 5px #444444;
	border-top: 5px solid #00d4f3;
	display: none;
}
.icon_point {
	cursor: pointer;
	position: absolute;
	top: -24px;
	left: 45%;
	display: block;
	width: 37px;
	height: 20px;
	background: url(../Images/icon_point.png) 0 0 no-repeat;
}
div.search_box .inputSearch {
	color: #000000;
	float: left;
	font: 13px Arial, Helvetica, sans-serif;
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 5px;
	margin: 0;
	min-width: 243px;
	border: none;
	border: none;
	background: #FFFFFF;
	border: 1px solid #cff6fc;
	border-right: none;
	border-bottom: none;
}
div.search_box .submitSearch {
	position: relative;
	z-index: 10;
}
div.search_box .icon_search {
	background: url(../Images/seach_button.png) 0 0 no-repeat;
	border: medium none;
	cursor: pointer;
	display: block;
	height: 40px;
	width: 146px;
	margin: 50px auto 0 auto;
	position: relative;
	z-index: 5;
}
/*Hotline*/
#hotline {
	float: right;
	clear: right;
	color: #FFFFFF;
	background: url(../Images/icon_phone.png) 0 10px no-repeat;
	padding-left: 35px;
	font: bold 20px/48px Arial, Helvetica, sans-serif
}
/******STYLE CONTAINER******/
#wrap-container {
	position: relative;
}
/*Footer*/
#footer {
	clear: both;
	padding: 20px 0 10px 0;
	width: 100%;
	background: #3d4546;
	color: #fafafa;
}
#footer a {
	color: #d2d2d2
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: none
}
.topmenu_footer {
	margin: 0 auto;
	width: 100%;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #121819
}
.col_menuFooter {
	float: left;
	padding: 0;
	width: 30%
}
.ctentColuMenuFooter {
	float: left;
}
.ctentColuMenuFooter h2 {
	height: 25px;
	text-align: left;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: bold;
	line-height: 25px;
	text-transform: uppercase;
	font-size: 1.1em;
}
.listMenuFooter {
	padding: 10px 0;
}
.listMenuFooter a {
	line-height: 20px;
	overflow: hidden;
	display: block;
	font-weight: 200;
}
#info_footer {
	width: 40%;
	text-align: left;
}
#info_footer p {
	margin: 0 0 5px 0
}
.info_company {
	margin-bottom: 20px
}
.copyright {
	margin: 0;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #8c9293;
}
.copyright p {
	margin: 0;
	padding: 0;
}
.line {
	float: left;
	width: 100%;
	height: 1px;
	border-top: 1px solid #bababa;
	margin: 10px 0
}
/*Access Status*/
.access_status p {
	margin: 0 0 10px 0
}
/*Social Network*/
.social_network {
	clear: right;
}
.social_network a:hover {
	text-decoration: none
}
.social_network span {
	display: inline-block;
	background-image: url(../Images/icon_social.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 20px;
	margin-left: 2px;
}
.icon_facebook {
	background-position: 0 0
}
.icon_twitter {
	background-position: -26px 0
}
.icon_gplus {
	background-position: -51px 0
}
.icon_p {
	background-position: -76px 0
}
.icon_linkedin {
	background-position: -102px 0
}
.icon_youtube {
	background-position: -128px 0
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
}
.box_content {
	position: relative;
}
/*Tab*/
.box_Tab {
	height: 37px;
	line-height: 32px;
	text-align: center;
	margin-right: -18px;
	color: #FFFFFF;
	background: url(../Images/tabBg.png) bottom right no-repeat;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.main_Tab {
	float:left;
	width: 749px;
	position: relative;
	z-index: 5;
	text-align: left;
	margin-right: 0;
	margin-left: -19px;
	margin-bottom: 10px;
	background: url(../Images/mainTabBg.png) bottom left no-repeat;
}
.main_Tab span {
	display: block;
	line-height: 30px;
	padding-left: 20px;
}
/* MENU SIDEBAR */
#menu_sidebar {
	float: right;
	width: 240px;
}
.topnav {
	padding-left: 20px;
	margin: 0;
	line-height: 0.5em;
	list-style: none;
}
.topnav li {
	position: relative
}
.topnav li a {
	line-height: 35px;
	padding: 0 5px 0 20px;
	display: block;
	text-decoration: none;
	font-size: 12px;
	font-weight: 700;
	border-bottom: 1px dotted #c2c2c2;
	background: url(../Images/arrow_off.png) 5px 13px no-repeat;
}
.topnav li a:hover {
	color:#03bed9;
}
.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	top: -1px;
	left: 100%;
	background: #99b357;
	border: 1px solid #e3e4e2;
	width: 100%;
	z-index: 999;
}
.topnav ul li:last-child a {
	border: none
}
.topnav ul ul {
	display: none;
	position: absolute;
	top: -1px;
	left: 100%;
	z-index: 9999;
	width: 100%;
	height: auto;
}
.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
}
.topnav ul a {
	font-size: 12px;
	padding-left: 20px;
	font-weight: 500;
	outline:0;
	text-transform: none;
	background: url(../Images/arrow_left.gif) 5px 10px no-repeat;
}
.topnav ul a:hover {
	background-color:#7b9046;
}
/*Product*/
.product_row {
	margin-left: -10px
}
.product {
	float: left;
	text-align: center;
	width: 230px;
	height: 190px;
	overflow: hidden;
	margin: 15px 0 0 15px;
	position: relative;
	background: #f6f7f6;
}
.product:hover {
	background: #f7f3ce
}
.product_inner {
	padding: 5px;
}
.product_name a {
	display: block;
	width:230px;
	text-align: center;
	margin: 0;
	font-weight:bold;
	height: 38px;
	line-height: 18px;
	padding: 5px 0;
	overflow: hidden;
	color: #435909;
	font-size: 13px;
	display: table-cell;
	vertical-align: middle;
}
/*Path*/
.current_path {
	float: left;
	width: 100%;
	padding: 0;
}
.current_path a, .current_path {
	float: left;
	font-size: 11px;
	font-weight: 700;
	padding-bottom: 5px;
}
.current_path .spSeperator {
	background: url(../Images/arrow_off.png) 10px 3px no-repeat;
	float: left;
	height: 12px;
	padding: 0 10px;
	width: 8px;
}
/*Pagination*/
.navigation {
	font-weight: bold;
	margin: 15px auto;
	padding: 0;
	line-height: 20px;
	text-align: center;
	width: 100%;
}
.navigation a {
	padding: 2px 5px;
	color: #444444;
	border-right: 1px solid #333333;
}
.navigation b, .navigation a:hover {
	color: #FFFFFF;
	padding: 2px 5px;
	border-right: 1px solid #e83709;
	background: #e83709;
}
.navigation a:last-child {
	border: none
}
/*List News*/
#list_news {
	float: left;
	width: 100%;
}
#list_news ul li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news .hot_news .h2Title a {
	font-size: 18px;
}
#list_news .h2Title a {
	font-size: 12px;
}
#list_news p {
	text-align: justify;
	margin: 0 0.5em;
}
.view_more {
	z-index: 5;
	width: 80px;
	background: url(../Images/arrow_on.png) 0 3px no-repeat;
	font-size: 12px;
	font-weight: 500;
	color: #e83709;
	margin-left: 15px;
	padding-left: 10px;
}
.view_detail:hover {
	text-decoration: none
}
.detail_info {
	padding: 10px
}
.detail_info, .detail_info p {
	line-height: 150%;
}
.detail_info .h1Title {
	font-size: 20px;
}
.date {
	color: #888888;
	font-size: 11px;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #a8aaaa -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
	line-height: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -44px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	font-size: 17px;
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #333333;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_off.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #E83709;
}
/*Support*/
#support ul li {
	float: left;
	width: 100%;
	margin: 5px 0;
	text-align: center;
}
#support li p {
	margin: 5px 0
}
#support label {
	font-weight: 700;
}
/*Projects*/
#projects {
	float: left
}
.project_item {
	background-color: #737373;
	float: left;
	margin: 0 10px 20px 10px;
	overflow: hidden;
	padding: 3px;
	position: relative;
	width: 300px;
	height: 230px;
	text-align: center;
}
.project_item img {
	width: 100%;
	height: 200px;
}
.project_item .title_project {
	color: #FFFFFF;
	font-weight: 700;
	line-height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.dt_project_content {
	font-size: 14px;
	margin-bottom: 20px;
}
/*Hỗ trợ trực tuyến*/
.float-ck {
	position: fixed;
	right: 10px;
	bottom: 0;
	z-index: 9999;
}
* html .float-ck {
	position:absolute;
	bottom:auto;
top:expression(eval (document.documentElement.scrollTop+document.docum entElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}
#float_content_left {
	display: none;
	background:  url(../Images/chatBg.png) center left no-repeat;
	padding: 10px 10px 10px 100px;
	color: #FFFFFF;
}
#hide_float_left {
	text-align:left;
	font-size: 11px;
	height:28px;
	overflow: hidden;
}
#hide_float_left a {
	display: block;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #333333;
	background: #03c0dc;
	line-height: 28px;
	text-align: center;
	text-transform:uppercase;
	font-weight: 700;
	padding: 0 20px;
}
.yahoo {
	margin-bottom: 10px;
}
.yahoo a {
	display: block;
	float: left;
	clear: both;
	margin: 5px 10px 0 0
}
.yahoo img {
	margin-right: 5px
}
.nicescroll-rails {
	z-index: 99999 !important
}
.fixed {
	width: 260px !important;
	margin-right: 0
}
.fixed .box_Tab {
	margin-right: 2px !important
}
/* Contact */ 
.form_contact {
	float: left;
	margin: 0 auto;
	padding: 10px;
	background: url(../Images/advisoryBg.png) repeat scroll 0 44px rgba(0, 0, 0, 0);
}
.form_contact p {
	margin: 0 0 10px 0
}
div.row_contact {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	position: relative;
}
.left_row {
	float: left;
	display: block;
	width: 26%;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
}
.right_row {
	float: left;
	display: block;
	text-align: left;
}
.write_comment label {
	padding: 1px 7px 0;
	position: absolute;
	top: 4px;
	z-index: 1;
	color: #3e3e3e;
}
.form_contact .type_option {
	width: 170px;
	padding: 3px 2px;
	height: 25px;
	line-height: 20px;
	border: 1px solid #d5d8d8;
	font-size: 13px;
}
.form_contact textarea {
	padding: 5px;
	border: 1px solid #e5e7e7;
	width: 400px;
	height: 100px;
}
.send_cmt {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 80px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 10px;
	margin-right: 10px;
	background: #696b6b;
	cursor: pointer;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
.row_contact .inputbox {
	width: 400px;
	font: 12px Arial;
	padding: 0 5px;
	height: 28px;
	line-height: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d5d8d8
}
.reset {
	text-align: right;
	border: none;
}
.required {
	color: #F00;
}
#send_btn {
	text-align: center
}
.address_info {
	float: right;
	width: 220px;
	padding: 10px;
	background: #7d7d7d;
	color: #FFFFFF
}
.map_contact {
	text-align: center;
	margin: 40px 0
}
