/*Contact Us*/
#info_contact p {
	margin: 0.3em 0
}
#contactus {
	width: 70%;
	margin: 20px 0
}
.form_web .row_contact {
	float: left;
	width: 100%;
	margin-top: 10px
}
.form_web .left_row {
	float: left;
	width: 150px;
	line-height: 30px;
}
.form_web .right_row {
	margin-left: 160px
}
.form_web .row_contact input {
	width: 99.5%;
	background: #FFFFFF;
	border: 1px solid #d6d6d6;
	padding: 6px 0;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-indent: 5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form_web textarea {
	width: 99.5%;
	background: #FFFFFF;
	border: 1px solid #d6d6d6;
	height: 165px;
	text-indent: 5px;
	padding-top: 5px;
}
.form_web .row_contact input:focus, .form_web textarea:focus {
	box-shadow:0 0 10px #acacac;
	-moz-box-shadow:0 0 10px #acacac;
	-webkit-box-shadow:0 0 10px #acacac
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: inline-block;
	border: none;
	width: 100px;
	height: 38px;
	line-height: 38px;
	padding: 0;
	text-align: center;
	margin: 10px 10px 10px 0;
	cursor: pointer;
}
.required {
	color: #F00;
}