#nav {
	clear: right;
}
#cssmenu {
	margin-right: 50px
}
#cssmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#cssmenu:after, #cssmenu ul:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#cssmenu ul, #cssmenu li, #cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}
#cssmenu > ul {
	float: left;
	position: relative;
	display: block;
	z-index: 500;
}
#cssmenu > ul > li {
	float: left;
	display:inline-block;
	margin: 0;
}
#cssmenu > ul > li:first-child {
	padding: 0;
	background: none
}
#cssmenu > ul > li.active > a, #cssmenu > ul > li:hover > a {
	color: #FFFFFF
}
#cssmenu ul li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}
#cssmenu > ul > li > a {
	font-size: 1em;
	font-weight: 300;
	padding: 0 15px;
	line-height: 44px;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
	position: relative
}
#cssmenu > ul > li:hover::after {
 top: 46px;
 right: 45%;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 42px;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background: #eff2f2;
	border-top: 2px solid #fac903;
	-moz-box-shadow: 2px 3px 5px #666;
	-webkit-box-shadow:  2px 3px 5px #666;
	box-shadow:  2px 3px 5px #666;
}
#cssmenu ul ul ul {
	top: 42px;
}
#cssmenu ul ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 200px
}
#cssmenu > ul > li:hover > ul {
	left: auto;
	top: 42px;
	opacity: 1;
}
#cssmenu ul ul li:hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
}
#cssmenu ul ul li a {
	border-bottom: 1px solid #CCCCCC;
	filter: none;
	font: normal 12px Arial, Helvetica, sans-serif;
	display: block;
	line-height: 100%;
	font-weight: 700;
	padding: 10px;
	color:#1c3338;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
#cssmenu ul ul li:hover > a {
	background: #546979;
	color: #FFFFFF;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last > a {
	border-bottom: 0;
}
#cssmenu > ul > li > .mask_menu {
	position: absolute;
	left: -40px;
	top: 12px;
	opacity: 0;
	z-index: 1;
	height: 30px;
	width: 100%;
	border-bottom: 2px solid #fac903;
}
#cssmenu > ul > li.active > .mask_menu, #cssmenu > ul > li:hover > .mask_menu {
	left: 0;
	opacity: 1;
	visibility: visible;
}
