/* Common style */

.inputbox {
	
	border: 1px solid #a8a8a8;

	padding: 4px;

}

textarea { border: 1px solid #e5e5e5; width: 680px; height: 60px;}

label { margin-right: 8px;}



/* PRODUCT LIST */



.list { width: 100%; }

.list  .row {
	
	width: 100%;

	margin: 0;
	
	clear: both;


}


.list .cate { float: left; width: 25%; padding: 0;}

.list  .cate .product, .list  .cate .deal_today {height: 220px; padding:5px 10px 20px 10px;margin: 0; border-right: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3; }

.list  .cate .deal_today .product_image { padding-top: 0;}

.list  .cate .deal_today  { height: 210px; }

.list  .cate .selloff {height: 225px; }

.list  .cate .shop {height: 200px; }

.list  .cate .shop .company { width: 100%; }

/* Product image */

.list .product_image {display:block;padding:5px 0; width: 175px; height:175px;text-align:center;}

.list .product_image a { display: block;overflow:hidden; }

.list .product_image .price-reduce span{ position: absolute; }

/* Product name */ 

.list .product .product_name ,

.list .product .name { text-align:left;display:block;margin:0;height:18px; color: #000; font-size:12px;}

.list .product .product_name a {

	color: #000;

	font-weight: 100;

}


/* Product company, price */

.list .company { float: left; width: 55%; color: #7b7b7b; padding-left: 0; line-height: 20px; text-align: left;}

.list .company img{ margin-right: 5px; }
.list .shop .company { color: #3e3e3e; font-weight: bold; margin-left: 5px;}

.list .cate_price { float: right; width: 45%; background: none; color: #d91a1c; line-height: 20px;  text-align: right; }

.list .first_price { float: right; width: 90%; background: none; color: #000; line-height: 15px; font-size: 10px; text-align: right; padding-right: 5px;}

.list .first_price span { color: #d91a1c; text-decoration: line-through;}


.list .order { float: left; width: 45%; text-align: left; font-size: 12px;}

.list .order span {  color: #d91a1c; font-weight:  bold;}

.list .cate_price1 { float: right; background:url(../Images/price-deal.png) top left no-repeat; width: 89px; color: #FFFFFF; height: 20px; line-height: 18px; font-size: 12px; font-weight: bold; text-align: center;}

.list .first_price span { color: #d91a1c; background: url(../Images/line1.gif) center left repeat-x;}

/* List Shop */

.list .shop_categ { float: left; width: 100%; padding: 0;}

.list .shop_image { display:block; margin: 0 5px 5px 5px; text-align:center;border: 1px solid #e3e3e3; }

.list .new_shop { float: left; margin: 0 0 5px 0; }

.list .description { float: right; width: 50%;padding:10px 5px; text-align: left; }

#facebook span { color: #3b5998;}

#facebook span img{ padding-top: 10px; }

.list .facebook { float: left; width: 31%; margin: 0; padding: 0 2px;}

.list .facebook .shop_image { border: none; padding-right: 5px;}

.list .nick_name { float: left; width: 90%;padding: 0 5px; text-align: center; font-size: 11px; }

/* PRODUCT DETAIL */

.product_image { position:relative; }

.product_title { color: #006600; font-size: 12px; font-weight: bold; padding: 5px;}

.product_title a { color: #006600; }

.product_status { position:absolute; left:5px; top:5px; background: #ffff00; padding: 5px 25px; font-weight: bold; font-size: 12px;}

.product_reduce { position:absolute; right:0; top:5px; background:url(../Images/reduce.png) no-repeat; padding-right: 5px; width: 38px; height: 48px; color: #FFF; font-size: 11px; text-align: right;}

/* NAVIGATION */

.navigation { float: left; width: auto; text-align: center; padding: 10px 0 10px 200px; margin: 5px 0;}

.navigation a { padding: 5px 10px; background: #f3f3f3; border: 1px solid #e3e3e3; color: #3e3e3e;}

.navigation a:hover { color: #000;}

.navigation a.previous { background: #f3f3f3 url(../Images/pre.png) center left no-repeat; border: 1px solid #e3e3e3; color: #3e3e3e; padding-left: 20px;}

.navigation a.next {background: #f3f3f3 url(../Images/next.png) center right no-repeat; border: 1px solid #e3e3e3; color: #3e3e3e; padding-right: 20px;}

/* BACK TO TOP */
#toTop {
		width:50px;
        background: #FFF ;
        text-align:center;
        padding:5px;
        position:fixed; /* this is the magic */
        bottom:10px; /* together with this to put the div at the bottom*/
        right:10px;
        cursor:pointer;
        display:none;  
}

/* HOVER STYLES */
div#pop-up {
background: #e9e9e9;	
display: none;
position: absolute;
width: 200px;
padding: 10px;
color: #000000;
font-size: 12px;
line-height: 16px;
}
#pop-up .like { background:url(../Images/heart.png) top left no-repeat; padding-left: 25px; line-height: 25px; margin: 10px 0 0 5px;}


/* THONG TIN */
.boxgrid{ 
				width: 180px; 		
				float:left; 
				overflow: hidden; 
				position: relative; 
				font-size: 11px;
				line-height: 16px;
			}								
			.boxcaption{ 
				float: left; 
				position: absolute; 
				height: 240px; 
				padding: 5px 10px;
				width: 90%; 
				background:#f7f8ed; 
				opacity: .9;
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
			.boxgrid p {color: #000000;
			font-size: 11px;
			line-height: 16px;
			}
			.boxgrid p span { color: #002398;}
			  .boxgrid .sell_off { color: #F00; font-size: 10px;}
			


