body.template_bd {	font-size: 13px;

	font-family: Tahoma;

	color:#3e3e3e;
	
	background: none;
}
.template #header-inner { padding: 0 5px;}
.template #logo, .template #header-right { width: 50%; margin-top: 35px;}
.template #logo { height: auto; margin: 0;}
.template #logo .logo_image { float: left; width: 10%; margin-right: 10px;}
.template #logo .name_logo { float: right; width: 78%; text-align: left; font-size: 400%;}
.template #logo .slogan { font-size: 13px;}

#template_search { float: left; margin-left: 155px;}
p.search {
width: 100%;
height:30px;
}
p.search input.button {
float: right;
width: 20px;
height: 20px;
border: none;
position:relative;
top: -25px;
right: 10px;
background: url(../Images/search.png) no-repeat;
}
#header a.button_cart { float: right; margin-right: 0;}
#nav1
{
	float: left;	
	width: 1000px;
	margin: 5px;
	height: 40px;
	font-size: 0.9em;
	background: url(../Images/bar.png) top left repeat-x;
}
ul.menu1
{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
ul.menu1 li
{
	float: left;
	margin: 0 auto;
	height: 40px;	
}
ul.menu1 li a
{
	padding: 10px 10px 0 10px;
	height: 30px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	display: block;
	float: left;	
	text-align: left;		
}

ul.menu1 li a:hover, ul.menu li.active a:hover, ul.menu1 li.active a
{
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	background: #ff9900;
}

h3.template_black{ background:url(../Images/blocktitle.png) top left repeat-x; color: #FFF; font-size: 14px; font-weight: bold; border: none; }

.template_block ul#vertical-menu li { background: none;}

.template_block ul#vertical-menu li.active { font-weight: bold;}

.template_block .list  .cate .product {border: 1px solid #FFF;}

.template_block .list  .cate .product:hover { border: 1px solid #ff9900;}

.template_block .list  .cate .product_name, .template_block .list  .cate .cate_price { width: 100%; text-align: center; font-weight: bold;}

.template_block .template_button { background: #ff9900; color: #FFF; font-family: Tahoma; padding: 5px;}

.template_block ul.general li { margin-bottom: 5px;}

.template_block ul.general li .phone_number { float: left; text-align: left; margin: -10px 0 5px 50px; width: 130px; clear: both; }

.template_block .login { padding: 0 5px;}

#ads { width: 1000px; margin: 0 5px;}

.template_page a { border: 1px solid #F90; color: #F90; }

.template_block .news_info { float: right; width: 66%; line-height: 20px; font-weight: bold;}

.task { float: right; }

.task a { margin-right: 5px;}

.copyright_shop { margin: 0 auto; text-align: center; font-size: 13px; padding: 10px;}

#footer_templale { clear: both; margin: 0 auto; background: none; }

