html, body, fieldset {
	margin: 0;
	padding: 0;
}
body#bd {
	background: #0b0b0b url(../Images/bg.jpg) top center no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.clearfix {
	clear:both;
	display: block;
}
* html .clearfix {
	height: 1%;
}
img {
	border: medium none;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
ul {
	list-style: none outside none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.page {
	margin: 0 auto;
	width: 1000px;
	background: none;
}
.main {
	float: left;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto;
	padding: 5px 0;
	width: 100%;
}
.left_content {
	float: left;
	width: 580px;
}
.right_content {
	float: right;
	width: 410px;
	background: #000000;
}
.header {
	height: 160px;
	margin: 0;
	position: relative;
	width: 100%;
	margin: 0 auto;
	background: url(../Images/banner_header.png) top right no-repeat;
}
.logo {
	position: absolute;
	top: 30px;
	left: 10px;
}
/*Content*/
.top_main_banner {
	float: left;
	margin-bottom: 10px;
}
ul.categories {
	padding: 0;
	margin-right: -25px;
	float: left;
}
ul.categories li {
	float: left;
	width: 190px;
	margin-right: 15px;
	text-align: left;
}
.cate_Title {
	font-size: 14px;
	color: #FFFFFF;
	position: relative;
	top: -10px;
	padding-left: 5px;
}
.img_cate {
	border: 2px solid #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 3px 0;
}
.path {
	padding: 0 0 5px 0;
	border-bottom: 1px dotted #FFFFFF;
	text-align: left;
	text-transform: none;
}
ul.ullist_news {
	float: left;
	background: url(../Images/dot_bg.png) top center repeat-y;
}
ul.ullist_news li.col {
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 47.9%;
	min-height: 150px;
	border-bottom: 1px dotted #FFFFFF;
	position: relative;
}
ul.ullist_news li.col:hover {
	background: #262626;
}
.cf {
	padding-right: 0;
}
.cl {
	padding-left: 14px;
	margin-left: 1px;
}
.h2Title {
	margin-bottom: 10px
}
.h2Title a {
	font: bold 13px Tahoma, Geneva, sans-serif;
	color: #ffd800;
}
.ullist_news .view_more {
	bottom: 10px;
	font-size: 11px;
	position: absolute;
	right: 10px;
	font-style: italic;
}
.ullist_news p {
	font-size: 10pt;
	margin-bottom: 10px;
	margin-top: 0;
	text-align: left;
	line-height: 150%;
}
.ullist_news img {
	border: medium none;
}
.navigation {
	float: left;
	font-weight: bold;
	margin: 0 auto;
	padding: 12px 0 8px 0;
	text-align: right;
	width: 100%;
}
.navigation a {
	background: none repeat scroll 0 0 #4b4e4a;
	border: 1px solid #625C5C;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
}
.navigation b, .navigation a:hover {
	background: none repeat scroll 0 0 #bd6f0d;
	border: 1px solid #b66806;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	padding: 3px 8px;
	text-decoration: none;
}
ul.image_gallery {
	margin-top: 10px;
}
ul.image_gallery li {
	float: left;
	width: 132px;
	margin: 5px 10px 5px 0;
	text-align: center;
}
ul.image_gallery li .img_cate {
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	margin: 3px 0;
}
ul.image_gallery li .h2Title {
	font: bold 13px Arial, helvetica, sans-serif;
	text-transform: uppercase;
}
ul.image_gallery li a {
	text-decoration: none;
}
ul.image_gallery li:hover .h2Title {
	color: #FFFF00;
}
.h1Title {
	font: bold 20px Tahoma, Geneva, sans-serif;
	color: #FFFFFF;
}
.detail_news p {
	margin: 0 0 10px;
	padding: 0;
}
.detail_news .date {
	font-size: 11px;
	font-style: italic;
	color: #0d2807;
}
.detail_info {
	padding: 5px;
	margin: 5px 0;
}
.detail_info p { margin: 0 0 10px; line-height: 180%; }
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #FFFFFF -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 3px;
}
a.email {
	background-position: 0 -17px;
}
a.opinion {
	background-position: 0 -35px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	border-bottom: 1px dotted #FFFFFF;
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #FFFF00;
	font-size: 14px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/bullet_icon.png) left 3px no-repeat;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #FFFF00;
}
/*Slide Room*/
#slider_agents {
	float: right;
	margin: auto;
	position: relative;
	width: 100%;
	z-index: 5;
}
#slider_agents img {
	height: 80px;
	width: 120px;
}
.jcarousel-skin-tango {
	padding: 5px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 10px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal a {
	background: none;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
.book_room {
	float: left;
	margin: 10px 0 0 200px;
}
/*Footer*/
.footer {
	clear: both;
	color: #FFFFFF;
	float: left;
	padding: 0;
	width: 100%;
}
.footer p {
	margin: 5px 0;
	padding: 0;
}
.footer_top {
	float: left;
	width: 100%;
	background: url(../Images/footer_topBg.png) top left repeat-y;
}
.footer_bottom {
	float: left;
	width: 100%;
	margin: 5px 0;
}
.booking_online { float: left; width: 470px; padding: 10px; position: relative; }
.booking_online label { float: left; width: 100%; margin: 10px 0 5px 0; }
.booking_online ul { padding: 10px; }
.booking_online ul li { float: left; width: 155px; }
.choosing { width: 120px; border: 1px solid #d1d1d1; height: 26px; line-height: 26px; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.datepicker { 
padding-left: 5px;
background: #FFFFFF url(../Images/calendar_icon.jpg) right center no-repeat;
}
.choose_type { width: 128px; padding: 5px 5px 5px 0; height: 30px; }
.booking_room { display: block; text-align: left; background: url(../Images/book_room_icon.png) center center no-repeat; width: 150px; height: 47px; position: absolute; bottom: 17%; right: 2%; }
.booking_room span { line-height: 47px; color: #FF0; font-size: 15px; text-transform: uppercase; padding-left: 58px }
.booking_room:hover { text-decoration: none; }
.support {
	float: left;
	width: 210px;
	margin: 0 10px;
	padding: 10px;
}
.footer_news {
	float: right;
	width: 250px;
	padding: 10px 5px 0 5px;
}
.footer p {
	margin: 0 0 5px 0;
	padding: 0;
}
.contact {
	float: left;
	padding: 10px;
	text-align: left;
	width: 47%;
	color: #FFFFFF;
}
.social {
	float: right;
	clear: right;
}
.copyright {
	width: 50%;
	float: right;
	text-align: right;
	padding: 0;
	color: #FFFFF;
	margin: 5px 0 10px 0;
}
.support ul {
	list-style: none outside none;
	padding: 0;
}
.support ul li {
	float: left;
	list-style: none outside none;
	margin: 10px auto;
	text-align: center;
	width: 50%;
}
.hotline {
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 30px;
	text-shadow: 1px 1px 1px #081405;
}
.hotline p {
	margin: 3px 0;
}
.footer_news ul {
	margin-right: 10px;
}
.footer_news ul li {
	padding: 0 5px 10px;
}
.footer_news .news_Title {
	font-size: 11px;
}
.visitors {
	color: #FFFF00;
	font-weight: bold
}
/*Booking room*/
.write_comment { width: 100%; padding: 0; background: #000000; }
.title_right { display: block; text-align: center; line-height: 30px; text-transform: uppercase; color: #FFFFFF; font-weight: 700; border-bottom: 1px solid #FFFFFF; width: 96%; margin: 0 auto }
.row { margin: 5px 30px 0 30px; }
.col { float: left; width: 103px; }
.left_col { margin-left: 0 }
.right_col { margin-left: 20px; }
.write_comment label {
	line-height: 30px;
	color: #FFFFFF;
    z-index: 1;
}
.write_comment textarea {
	width: 340px;
	height: 100px;
	padding: 5px;
	border: 1px solid #e3e3e3;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;	
}
.row input { padding: 2px 4px; width: 340px; height: 24px; border: 1px solid #e3e3e3; font: 12px Arial; -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; cursor: text;
}
.col .choose_type { width: 100%; }
.reset, .send_cmt {text-align: right; border: none; }
.reset { margin-right: 5px; }
.row .booking_room { position: static; margin:20px auto; display: inline-block; margin-left: 15px; } 
