@charset "utf-8";
.headerBox {
	min-height: 100px;
	position:relative;
}
.bgHeader{ background:url(../images/bgHeader.png) repeat-x;background-size: 100% 100%;}
.bgNavx{ background:url(../images/bgMenu.png) repeat-x;background-size: 100% auto;}
.wrap{ width:100%; float:left}
 .bannerHeader{ margin-top:20px; margin-left:30px}
 .clsLogo img, .bannerHeader img{ max-width:100%}
.contentBox{ background:#fff}
.innerHeaderBox {
	padding: 10px;
	float: left;
}
.slideBg{ background:url(../images/bgBottomSlide.png) bottom center  no-repeat; padding-bottom:15px;}
 .spSmall_fix{ position:fixed; bottom:0; background:#06F; z-index:999999; color:#fff; width:100%; line-height:30px; font-size:1.1em}
.hotlineS{  font-size:1.1em; margin:10px}
.menuLeft{ float:left; width:25%; }
.menuRight{ float:right; /*width:25%;*/ }
.mainContent{ float:left; /*width:74%*/}
.innerMenuLeft{ float:left; padding-right:10px; padding-left:3px }
.innerMenuRight{ float:left; padding-right:10px; padding-left:3px }
.innerMainContent{ float:left; width:99.7%; padding-right:0.3%; }
.box{ float:left; width:100%; margin-top:10px;}
.innerBox{ border: solid 1px #5F5F5F; float:left; width:100%; padding:0px; border-top:0;}
.headingBox{ width:100%; float:left; line-height:40px; background-color:#055BBB; color:#fff; text-transform:uppercase; text-align:center; background-image:url(../images/bgTopHeadingBox.png); background-repeat:no-repeat; background-position:top right; font-size:1.2em}
.headingBoxMain{ background:none; color:#055BBB; border-bottom:solid 1px #CACACA; padding-bottom:0; font-weight:bold}
.innerBoxMain{ padding:10px; overflow:hidden; border: solid 0px #E0DB7D ;}
.txtleft{ text-align:left}
.videoBox img, .videoBox iframe{ width:100% !important}
.txtleft span{ padding-left:10px;}
.partnerBox{ padding-top:15px;}
.innerPartnerBox{ padding:10px; float:left; border: solid 1px #E0DB7D; margin-bottom:10px}
.wrap{ width:100%; float:left}
.menuFooter{  }
.footerBox{ background:#395e88 url(../images/bgBottomSlide.png) top no-repeat; margin-top:10px; color:#fff; padding-top:5px; padding-bottom:10px}
.innerColLeft{ padding:10px; float:left}
.innerColRight{ padding:10px; float:right;}
.copyRight{ padding-top:10px; font-style:italic; font-size:11px;}
.copyRight a{ color:#FFF}
.hotlineBox{position:absolute; bottom:0; right:10px; color:#900; background:url(../images/bgHotline.png) no-repeat; min-width:210px; min-height:48px;}
 .colf h2{ font-size:13px; font-weight:bold}
 .colf a{ clear:both; padding-left:5%; float:left; width:90%; color:#fff}
.hotlineBox b{ color:#fff; font-size:1.2em; line-height:55px; padding-left:75px;}
.slider_main{ width:100%; float:left; position:relative}
.noP{ padding:0}
/*Search*/
.inputSearch {
	border: solid 1px #FF0000;
	text-indent: 10px;
	height: 30px;
	width: 68%;
	float: left
}
.btnSearch {
	background: #FF0000;
	color: #fff !important;
	float: left;
	height: 30px;
	width: 25%;
	text-align: center;
	line-height: 30px;
	border: solid 1px #FF0000;
}
.popupSearch {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 30px;
	position: absolute;
	width: 320px;
	padding: 5px;
	right: 0px;
	top: 32px;
	z-index: 999999;
	background: #0665CF;
	overflow: hidden;
	border: solid 1px #055AB8;
}
.closeBtn {
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	font-size: 14px;
	color: #f00;
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.trigger {
	float: right;
	line-height: 30px;
	position: relative;
	background: url(../images/iconSearch.png) center center no-repeat;
	width: 30px;
	height: 30px;
}


.listPhoto .itemPhoto{ width:20%; float:left}
.innerItemPhoto{ padding:5px; float:left}
.innerItemPhoto img{ max-width:100%; border:solid 1px #814900; padding:1px}
.captionPhoto{ padding:10px; text-align:center;}

.contacBox{ float:left; width:100%}
.form-group{ margin-bottom:10px; display:table}
.frmCT{ width:100%; float:left}
.frmCT label{ width:100px; float:left}
.form-group input{ width:400px; float:left; height:25px; text-indent:10px;}
.form-group textarea{ width:400px; float:left; resize:vertical}
.form-group [type="submit"]{width:90px; margin-left:100px; background:#814900; color:#fff; border:0; text-align: center; padding:0; text-indent:0}
.ggMap{ margin-top:15px; float:left; width:100%}
.clsCaptcha{ margin-left:100px;}


.itemCate{ position:relative; overflow:hidden}
.itemCate .desCate{ position:absolute; bottom:0; left:0; width:100%; margin-right:4px; line-height:30px; }
.desCate h2{ margin-left:4px; margin-right:4px;color:#fff; background:url(../images/bgCate.png);overflow:hidden; font-size:1.1em; font-weight:normal}
.desCate h2 span{ padding-left:10px;white-space:nowrap; color:#fff; text-overflow:ellipsis}
.itemCate h2 a{ color:#fff; float:right; background:#0f71de; font-size:11px; padding:2px;   margin:7px; }
.itemCate h2 a i{ top:0}

.countOB {
	width: 200px;
	float: left
}
.numberonl {
	font-weight: bold;
	color: #fff
}
.address{ text-align:right; margin-top:10px;}

.httt .nm{ width:30%; text-align:right; margin-right:5%}
.ht{ width:65%}
.ht img{ max-width:120px;}
.itht{ padding-top:10px; padding-bottom:5px;}
.httt tel, .httt email{ clear:both; min-height:1px; float:left; width:100%; }
.httt email{ text-align:center; color:#055bbb}

.navy ul{ list-style:none; padding-bottom:10px}
.navy li{ padding-left:15px;line-height:20px; padding-right:10px; padding-top:5px }
.navy li a{  color:#333; text-decoration:none !important}
.navy li a:hover{ color:red}
.navy li a:before{ content:"\2666"; color:red; margin-right:5px}
a.viewMore{ color:red; font-style:italic; float:right; text-decoration:underline; margin-right:10px}
a.viewMore:after{ content:"\00bb"; color:red}
.langBox{ position:absolute; top:10px; right:10px;}
.langBox a { margin-right:5px}

.clsLogo a{ padding:30px 20px; margin-bottom:-60px; margin-top:-30px; background:#fff; float:left;-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;}
.bgHeader{ position:relative; z-index:99999999999}
.clsLogo  img{ 
}



 
.contacBox {
	float: left;
	width: 100%
}
.contacBox .form-group {
	margin-bottom: 10px;
	width:60%
}
.contacBox .form-group label {
	float: left;
	width: 100px;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
.input-group {
	display: table;
	position: relative;
	border-collapse: separate;
}
.input-group-addon:first-child {
	border-right: 0;
}
.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
	border-collapse: separate;
}
.input-group-addon:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group .form-control {
	display: table-cell;
	position: relative;
	z-index: 2;
	margin:0; padding:0;
	float: left;
	width: 97%;
	margin-bottom: 0;
	display: block;
	height: 30px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	text-indent: 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.frmCT {
	width: 100%;
	float: left
}
.input-group [type="submit"] {
	width: 90px;
	margin-left: 100px;
	background: #055BBB;
	color: #fff;
	border: 0;
	height: 30px;
	text-align: center;
	padding: 0;
	text-indent: 0
}
.ggMap {
	margin-top: 15px;
	float: left;
	width: 100%
}
.ggMap iframe{ width:99% !important; margin:auto; border:solid 1px #666}
.clsCaptcha {
	margin-left: 100px;
	clear: both;
	float: none;
}
.frmCT textarea {
	min-height: 70px !important;
	resize:vertical;
}
.clsCaptcha img{ margin-top:5px; max-width:50%}
 