#nav {
	width: 100%;
	height: 60px;
	background: url(../Images/menuBg.gif) 0 -4px repeat-x
}
#cssmenu {
	position: relative;
	width: 100%
}
#cssmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#cssmenu > ul {
	position: relative;
	display: block;
	float: left;
	z-index: 500;
}
#cssmenu > ul > li {
	float: left;
	display: block;
	position: relative;
	display:inline-block;
}
#cssmenu > ul > li .home_icon {
	background: none;
	padding: 18px 20px;
}
#cssmenu > ul > li:not(:first-child).active > a, #cssmenu > ul > li:not(:first-child):hover > a {
 color: #393780;
 background: #FFFFFF;
 margin-top: 5px;
 line-height: 55px;
 -webkit-border-radius: 3px 3px 0 0;
 -moz-border-radius: 3px 3px 0 0;
 border-radius: 3px 3px 0 0;
}
#cssmenu ul li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}
#cssmenu > ul > li > a {
	font-size: 1em;
	font-weight: 500;
	padding: 0 20px;
	line-height: 60px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
	position: relative
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 20px;
}
#cssmenu li.has-sub::after {
 display: block;
 content: '';
 position: absolute;
 width: 0;
 height: 0;
}
#cssmenu > ul > li.has-sub::after {
 right: 5px;
 top: 30px;
 border: 5px solid transparent;
 border-top-color: #FFFFFF;
 z-index: 1000;
}
#cssmenu > ul > li:hover::after {
 border-top-color: #fe0000;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 80px;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background:#FFF;
	-moz-box-shadow: 2px 5px 5px #444444;
	-webkit-box-shadow: 2px 5px 5px #444444;
	box-shadow: 2px 5px 5px #444444;
}
#cssmenu ul ul ul {
	top: 40px;
}
#cssmenu ul ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 180px
}
#cssmenu > ul > li:hover > ul {
	left: 0;
	top: 56px;
	opacity: 1;
}
#cssmenu ul ul li:hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
}
#cssmenu ul ul li a {
	border-bottom: 1px solid #eee;
	padding: 10px 15px;
	font-size: 13px;
	color:#333;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
	font-family:Arial, Helvetica, sans-serif;
}
#cssmenu ul ul li:hover > a {
	background: #f89633;
	color: #FFFFFF;
}
.submenuArrow {
	border: 6px solid transparent;
	width: 0;
	height: 0;
	border-bottom-color: #fff;
	position: absolute;
	top: -12px;
}
#cssmenu ul ul li.has-sub::after {
 border: 4px solid transparent;
 border-left-color: #500202;
 right: 10px;
 top: 12px;
 -moz-transition: all .2s ease;
 -ms-transition: all .2s ease;
 -o-transition: all .2s ease;
 transition: all .2s ease;
 -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu ul ul li.has-sub:hover::after {
 border-left-color: #fff;
 right: -5px;
 -webkit-transform: rotateY(180deg);
 -ms-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
 -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
}
