/*Right Fix Side*/
#right_fix_side {
	position: fixed;
	top: 300px;
	right: 3px;
	z-index: 9999999999999999999999999999
}
#right_fix_side .item_side_fix {
	width: 63px;
	height: 53px;
	margin-bottom: 3px;
	position: relative
}
.item_side_fix .icon_side_fix {
	display: block;
	width: 100%;
	height: 100%;
	background: #9a9a9a;
	background-image: url(../Images/sprites_icon/rightside_fix_icon.png);
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
	background-repeat: no-repeat;
	text-decoration: none
}
.item_side_fix:hover .icon_side_fix {
	background-color: #2c8907;
	text-decoration: none;
	-moz-box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
}
.item_side_fix .icon_side_fix.cart_icon {
	background-position: 10px 5px
}
.item_side_fix .icon_side_fix.likeP_icon {
	background-position: 10px -56px
}
.item_side_fix .icon_side_fix.commitment_icon {
	background-position: 10px -120px
}
.item_side_fix .quantity {
	position: absolute;
	top: 4px;
	left: 15px;
	color: #FFFFFF
}
.info_item_side_fix {
	position: absolute;
	left: -9999px;
	opacity: 0;
	visibility: hidden;
	z-index: 50;
	bottom: 50px;
	width: 200px;
	height: 163px;
	background: #FFFFFF;
	border: 1px solid #e0e0e0;
	border-right: none;
	transition: All 0.2s ease-out;
	-webkit-transition: All 0.2s ease-out;
	-moz-transition: All 0.2s ease-out;
	-o-transition: All 0.2s ease-out;
}
.item_side_fix:hover .info_item_side_fix {
	opacity:1;
	visibility: visible;
	left: auto;
	right: 63px;
	bottom: 0;
}
.info_header {
	padding: 5px 10px;
	text-align: left;
	position: relative;
}
.info_header:after {
	display: block;
	content: '';
	clear: both
}
.info_header div {
	float: left;
	width: 100%;
	margin-bottom: 7px;	
	display: block;		
}
.info_header div span {
	float: left;
	width: 45px;
	height: 45px;
	margin-right: 10px;
	background-image: url(../Images/info_gead_icon.png);
	background-repeat: no-repeat
}
.info_header div b { display: table-cell; vertical-align: middle; height: 45px; color: #054d8c; line-height: 15px }
.delivery {
	background-position: 0 0;
}
.return {
	background-position: -57px 0;
}
.payment {
	background-position: -113px 0;
}
/*Viewed Products*/
#viewed_P {
	width: 61px;
	height: 210px;
	margin-top: 3px;
	border: 1px solid #e0e0e0;
	background: #FFFFFF;
	position: relative;
	overflow: hidden
}
.tt_viewedP {
	font-weight: 700;
	color: #9a9a9a;
	font-size: 11px;
	text-align: center;
	margin-top: 3px;
	line-height: 15px
}
.tt_viewedP i {
	color: #fc3286
}
#viewed_P li {
	float: left;
	width: 61px;
	height: 50px;
	text-align: center
}
#slide_viewed_P {
	padding: 15px 0;
	position: relative;
	height: 150px
}
#viewed_P img {
	width: 42px;
	height: 42px;
	padding: 1px;
	border: 1px solid #e0e0e0
}
#viewed_P .prev, #viewed_P .next {
	background: transparent url(../Images/slide_ctrl.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 10px;
	height: 7px;
	position: absolute;
	left: 25px;
}
#viewed_P .prev {
	background-position: -22px -52px;
	top: 3px;
}
#viewed_P .next {
	background-position: -22px -58px;
	top: 165px;
}
#viewed_P .prev:hover {
	background-position: -37px -52px;
}
#viewed_P .next:hover {
	background-position: -37px -58px;
}
/*Support*/
#support_head {
	position: relative
}
.title_support {
	display: block;
	margin-top: 3px;
	width: 63px;
	height: 70px;
	background: #054d8c url(../Images/sprites_icon/rightside_fix_icon.png) 2px -182px no-repeat;
}
.support_bg {
	display: block;
	position: absolute;
	top: 50px;
	left: -9999px;
	width: 230px;
	padding: 0 10px 10px 10px;
	background: #FFFFFF;
	border: 1px solid #e0e0e0;
	border-right: none;
	z-index: 50;
	transition: All 0.4s ease-out;
	-webkit-transition: All 0.4s ease-out;
	-moz-transition: All 0.4s ease-out;
	-o-transition: All 0.4s ease-out;
	opacity: 0;
	visibility: hidden;
}
#support_head:hover .support_bg {
	opacity: 1;
	visibility: visible;
	left: auto;
	right: 63px;
	top: 0	
}
.support_bg p {
	margin: 3px 0
}
.hotline_head {
	font-size: 13px;
	font-weight: 700;
}
.hotline_icon {
	background:  url(../Images/hotline_icon.png) 0 center no-repeat;
	float: left;
	height: 40px;
	margin: 2px 5px;
	width: 40px;
}
.yahoo {
	float: left;
	display: block;
	margin: 10px 0 0 30px;
}
.yahoo span {
	color: #8f8f8f;
	font-size: 11px;
}
.yahoo a {
	display: inline-block;
	width: 70px;
	margin-top: 5px;
	margin-right: 15px;
}
.dSupport {
	height: 272px;
	width: 257px;
	display: none;
}
.contentSupport {
	float: left;
	height: 243px;
	margin: 15px 0 0 15px;
	width: 223px;
}
.infoSupport {
	float: left;
	margin-top: 6px;
}
.icoSupport {
	background: url(../Images/sprites_icon/hotline_icon.png) 0 center no-repeat;
	display: block;
	float: left;
	height: 50px;
	margin-top: 3px;
	width: 55px;
}
.hotLine {
	color: #FF0000;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 7px 0 10px 20px;
}
.timeSupport {
	clear: both;
	color: #4b4b4b;
	float: left;
	font-size: 13px;
	font-style: italic;
	margin-left: 8px;
	margin-top: 5px;
	width: 100%;
}
.icoMail {
	background: url(../Images/sprites_icon/mail_icon_spp.png) 0 center no-repeat;
	clear: both;
	display: block;
	float: left;
	height: 22px;
	margin-left: 30px;
	margin-top: 5px;
	width: 30px;
}
.mailSupport {
	color: #4b4b4b;
	float: left;
	font-size: 12px;
	font-weight: 700;
	margin: 7px 0 0 7px !important;
}
.optionSupport {
	border-bottom: 1px solid #8C8C8C;
	float: left;
	padding: 8px 0 0;
	width: 100%;
}
.optionSupport a {
	clear: both;
	color: #4b4b4b;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: 10px;
}




/*Account*/
.popup_login {
	border-collapse: collapse;
	font-weight: bold;
	line-height: 20px;
	position: absolute;
	width: 240px;
	right: 0;
	top: 30px;
	z-index: 99999999999999;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	border-top: 1px solid #DDDDDD;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333 !important
}
#dpop {
	display:none;
}
.trigger {
	cursor: pointer
}
.input_form {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align: left
}
.input_form label {
	display: block;
	margin-bottom: 3px
}
.input_form input {
	border: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	color: #333333;
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 7px 0;
	width: 218px;
	text-align: left;
	text-indent: 5px;
}
.required {
	color: #FF0000
}
.note_wrapper {
	float: left;
	width: 100%;
	margin: 0;
	text-align: left
}
.lost_password {
	clear: both;
	margin-bottom: 10px;
	text-align: left;
 
}
.lost_password a{ color:red !important;}
.link_acount {
	color: #0B58C2;
	line-height: 16px;
	text-decoration: underline;
}
.remember_password {
	float: right;
	width: 40%;
	text-align: right;
}
.remember_password input[type="checkbox"] {
	border: medium none;
	box-shadow: none;
	float: left;
	height: 30px;
	margin-top: -8px;
	width: 20px;
}
.popup_login .button {
	background: #F0077F;
	border: 0 none;
	color: #FFFFFF;
	width: 130px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px
}
.popup_login .button:hover {
	background: #0068cb
}
.close_box_acc {
	display: block;
	width: 20px;
	height: 20px;
	background: #e41826;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer
}