a{ text-decoration:none}
.imgDetail{ width:100%; float:left}
.infoDetail{ width:100%; float:left; margin-left:0}
.infoDetail h1{ border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px; margin:10px ; font-size:1.3em; color:#814900; margin-left:0}
.innerInfoDetail{}
.shortInfo{ white-space:pre-line; padding-top:10px; padding-bottom:15px}
.btnGroup{ padding:5px; text-align:center}
.btnBuy{ background:#814900; color:#fff; font-size:1.3em; margin: 0 auto; margin-left:0; line-height:30px; width:150px}
.btnBuy a{  color:#fff}
.priceGroup{padding:5px;}
.newPrice{ color:Red; font-size:1.2em;}
.oldPrice{ color:Gray; font-size:1em; text-decoration:line-through;}

.infoDetailMore{ width:100%; float:left; padding:10px 0px;}
.infoDetailMore h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin:0; padding-bottom:5px}
.innerInfoMore{ padding:10px}
.samePro{ width:100%; float:left; padding:0px 0px;}
.samePro h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px}
@media (min-width:768px) 
{
.imgDetail{ width:45%; float:left}
.infoDetail{ width:50%; float:left; margin-left:3%}
}


.product{ padding:10px}
.product h2{ margin:0; padding:0; font-size:1.1em; text-align:center; padding-top:10px; overflow:hidden;}
.product h2 a{ text-overflow:ellipsis; white-space:nowrap; padding: 0px 10px;}     
.listProduct .productItem{ width:33.33%; float:left}
.photoProduct img{ max-width:98%; margin:1%}  
.photoProduct{ height:200px; overflow:hidden; border:solid 1px #814900;}  
.btnCT{ background:#E0DB7D; color:#000; font-size:1em; margin: 0 auto; margin-left:auto; line-height:30px; width:100px}
.btnCT a{  color:#814900} 