@charset "utf-8";
/* CSS Document */
.navy ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.navy a {
	line-height: 30px;
	text-decoration: none;
}
.navy>ul>li {
	float: left;
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #814900;
}
.navy>ul>li>a {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	color: #fff;
}
.navy ul ul >li {
	background: #fff;
	border-bottom:dotted 1px #999
}
.navy ul ul >li>a {
	color: #814900;
	padding-left: 20px;
	padding-right: 10px;
}
.navy ul ul ul {
	left: 100%;
	top: 0px;
	background: #ccc;
	-moz-border-radius-topright: 9px;
	-webkit-border-top-right-radius: 9px;
	border-top-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	-webkit-border-bottom-right-radius: 9px;
	border-bottom-right-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-left-radius: 9px;
	border-bottom-left-radius: 9px;
	padding-top: 10px;
	padding-bottom: 10px;
}
