#nav_x {
	width: 100%;
	float: right;
	height: 35px;
	/*	background:url(../Images/bg_nav_x.png) repeat-x;*/
	position: relative;
	/*	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;*/
	z-index: 999;
	text-align: right;
}
#nav_x ul {
	list-style: none;
	position: relative;
	float: right;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	font-size: 100%;
	text-align: right;
}
#nav_x ul a {
	display: block;
	color: #AC019E;
	text-decoration: none;
	line-height: 250%;                    /*---edit line height---*/
	padding: 0px 10px 0px 10px;
	font-weight: 700;
	text-transform: uppercase;                      /*---edit---*/
	margin-right:10px;
	font-size:100%;
	letter-spacing:1px;
}
#nav_x ul a:hover {
	color:#FC0;
}
#nav_x ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;                           /*---edit line height---*/
	cursor: pointer;
	background: url(../Images/bg_li_nav_x.png) center right no-repeat;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	 
	
}
#nav_x ul > li:first-child {
/*	background: none;*/
	padding: 0;
	border-left: 0
}
 
/*#nav_x ul li.active a,*/ #nav_x ul li a.active {
	background:#FC0;
	border:1px solid #fff;
	-webkit-box-shadow: 0 4px 6px -6px black;
	-moz-box-shadow: 0 4px 6px -6px black;
	box-shadow: 0 4px 6px -6px black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
 	color:#AC019E;                        /*---edit mau sac active---*/
}
#nav_x ul li:hover a {
}
#nav_x ul li:hover {
/*---edit mau sac hover---*/
}
#nav_x ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	border: 1px solid #C757A0;
	width: 200px;
	z-index: 999999999;
	float: left;
}
#nav_x ul ul li {
	float: none;
	width: 200px;                            /*---edit width li level 2, 3---*/
	border-left: 0;
	position: relative;
	z-index: 999999999;
	border-bottom: 1px dotted #CCCCCC;
	background: #fff;
	height: 30px;
	text-align: left !important;
}
#nav_x ul ul li:hover {
	background: #C757A0;
}
#nav_x ul ul a {
	padding-left: 15px;                      /*---edit padding left a li level 2, 3---*/
	color: #000;
	line-height: 30px;
	font-weight: normal;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:0px;
}
#nav_x ul ul a:hover {
	color: #fff
}
#nav_x ul ul li:last-child > a, #nav_x ul ul li.last > a {
	border-bottom: 0;
}
#nav_x ul ul ul {
	top: 0;
	left: 100%;
}
#nav_x ul li:hover > ul {
	display: block;
}
/*-------------------------------------*/
#nav_x span {
	float: left;
}
