/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'UVNHongHaRegular';
    src: url('../Images/font/uvnhongha.eot');
    src: url('../Images/font/uvnhongha.eot') format('embedded-opentype'),
         url('../Images/font/uvnhongha.woff') format('woff'),
         url('../Images/font/uvnhongha.ttf') format('truetype'),
         url('../Images/font/uvnhongha.svg#UVNHongHaRegular') format('svg');
}

body#bd {
	font-size: 15px;
	font-family: UVNHongHaRegular;
	color:#333333;
	background: #FFFFFF url(../Images/bg.jpg) top left repeat-x;
}
a {
	text-decoration: none;
	color: #ba0000;
}
a:hover {
	text-decoration: none;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
	padding: 3px;
	background: #FFFFFF;
}
input {
	border:none;
}
.inputbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #cacaca;
	padding: 5px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	padding: 0;
}
.top_page {
	float: left;
	width: 100%;
	background: #FFFFFF;
}
.page_inner {
	padding: 0;
	margin: 0 auto;
	width: 1000px;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 20px 0;
	display: block;
	width: 100%;
	clear: both;
	background: #e6e6e6;
}
.left_content {
	float: left;
	width: 220px;
	margin: 10px 0 0 10px;
	padding: 0;
	background: none;
}
.main_content {
	background: #FFFFFF;
	float: right;
	width: 735px;
	padding: 10px;
	margin: 5px;
}
/* HEADER

--------------------------*/
.header {
	padding: 10px 0;
	position: relative;
}
.logo {
	float: left;
	display: block;
	margin-right: 20px;
}
/*Top Main*/
.top_main_banner {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.banner_scroll {
	position: absolute;
	top: 155px;
}
/* SEARCH TOP MAIN */
.search {
	position: absolute;
	top: 30px;
	right: 0;
	height: 30px;
	overflow: hidden;
	width: 200px;
	-moz-box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-box-shadow:inset 1px 2px 3px #dddddd;
	box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	background: #FFFFFF;
}
.search .input_Search {
	border: medium none;
	color: #000000;
	float: left;
	font: 12px UVNHongHaRegular;
	height: 24px;
	line-height: 24px;
	padding: 3px 0 3px 5px;
	width: 160px;
	background: none;
}
.search .search_btn {
	position: absolute;
	top: 6px;
	right: 0;
	width: 20px;
	height: 20px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content_center {
	padding: 0 5px;
}
/* Create arrow right */
.arrow_right {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ffffff;
	top: 30%;
	right: -10px;
}
/* Create arrow down */
.arrow_down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f74203;
	position: absolute;
	top: 45%;
	right: 0;
}
.arrow_down1 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFF;
	position: absolute;
	top: 45%;
	right: 14%;
}
/*Categories Index*/
.categories_index {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.categories_index .cate_li {
	float: left;
	width: 300px;
	padding-bottom: 10px;
	margin-left: 25px;
	text-align: left;
}
.categories_index .cate_name {
	height: 40px;
	overflow: hidden;
	line-height: 40px;
	padding: 0;
	margin: 10px 0;
	background: url(../Images/line_Bg.jpg) bottom left repeat-x;
}
.categories_index .cate_name a {
	color: #ba0000;
	font-size: 22px;
	font-weight: 500;
	text-transform: uppercase;
}
.categories_index p {
	float: left;
	line-height: 150%;
	margin: 5px 0;
	text-align: justify;
}
.view_detail {
	display: block;
	width: 90px;
	height: 20px;
	float: left;
	margin-top: 10px;
	color: #FFFFFF;
	background: url(../Images/view_moreBg.png) 0 0 no-repeat;
	padding-left: 15px;
	line-height: 18px;
	font-weight: 500;
	font-size: 13px;
}
/*Tab*/
.box_Tab {
	width: 100%;
	height: 43px;
	line-height: 30px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 500;
}
.left_content .box_Tab {
	background: url(../Images/line_Bg.jpg) bottom left repeat-x;
	height: 30px;
	line-height: 30px;
	text-align: left;
}
.left_content .box_Tab span {
	color: #333333;
	text-transform: uppercase;
}
/*Vertical menu*/
ul.vertical_menu {
	list-style: none outside none;
	width: 100%;
	margin: 0 auto;
}
ul.vertical_menu li a {
	display: block;
	font-weight: 500;
	text-align: left;
	text-decoration: none;
	line-height: 20px;
	color: #bf0000;
	font-size: 15px;
	padding: 5px 0 5px 18px;
	border-bottom: 1px solid #FFFFFF;
	background: url(../Images/bullets.png) no-repeat scroll 3px 10px transparent;
}
ul.vertical_menu li.active a {
	color: #d80e0c
}
ul.vertical_menu li ul li a, ul.vertical_menu li.active ul li a {
	text-transform: none;
	color: #3e3e3e;
	border-bottom: none;
	padding: 6px 0 6px 25px;
	border-bottom: 1px solid #FFFFFF;
	background: url(../Images/arrow_left.png) no-repeat scroll 15px 11px transparent;
	font-weight: 500;
}
ul.vertical_menu li.vl {
	border: none;
}
/*Ads Bottom Corner*/
/*================Ho Tro Truc Tuyen===============*/

* html div#block_Bottom {
	position: absolute;
	overflow:hidden;
}
#block_Bottom {
	color:#666;
	position:fixed;
	_position: absolute;
	float:right;
	right:0;
	bottom:0;
	margin:0;
	z-index:90000;
}
#coh963846 {
	display:block;
	font-size:10px;
	color:#fFF;
	background: url(../Images/supportBg.jpg) 0 0 repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 3px 0 0 5px;
	height: 22px;
	line-height: 18px;
	width: 140px;
	font-size: 13px;
	font-weight: 500
}
#coh963846 a {
	color:#690;
	text-decoration:none;
}
#coc67178 {
	float:right;
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	height:14px;
	margin-right: 3px;
}
#coc67178 li {
	display:inline;
}
#coc67178 li a {
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	width:12px;
	height:0;
	padding-top:14px;
	overflow:hidden;
	float:left;
}
#coc67178 li a.close {
	background-position: -24px 3px;
	width:20px;
}
#coc67178 li a.min {
	background-position: -12px 3px;
}
#coc67178 li a.max {
	background-position: 2px 3px;
}
#co453569 {
	display:block;
	height:200px;
	margin:0;
	padding:0;
	border:1px solid #ffa385;
	overflow:hidden;
	background:#FFF
}
.support {
	height:10px;
	padding:2px 4px;
}
.support a {
	padding:5px 0;
	line-height:10px;
	color:#333;
	font-size:11px;
	display: block;
}
.support a:hover {
	text-decoration:none;
	color:#f00
}
/*Pagination*/
.navigation {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	line-height: 20px;
}
.navigation a {
	border: 1px solid #6f7070;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 3px 8px;
	color: #6f7070;
	background: url(../Images/bg_repeat.png) 0 -42px repeat-x;
}
.navigation b, .navigation a:hover {
	background: #6f7070;
	border: 1px solid #6f7070;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*List News*/
.list_news {
	float: left;
	width: 100%;
}
.list_news ul {
	padding: 10px 0;
}
.list_news ul li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .h2Title {
	padding: 0 0 3px 0;
}
.list_news .hot_news .h2Title a {
	font-size: 18px;
}
.list_news .h2Title a {
	font-size: 15px;
}
.list_news p {
	margin: 0 0 1em 0;
}
.list_news img {
	border: medium none;
}
.list_news .view_detail {
	font-size: 11px;
	width: 50px;
}
.detail_info .h1Title { font-size: 20px; }
.date {
	color: #878787;
	font: 11px UVNHongHaRegular;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	float: left;
	width: 100%;
	background: none repeat scroll 0 0 #FFFFFF;
	font-weight: 500;
	text-align: left;
	text-transform: none;
	font-size: 12px;
}
.path a {
	color: #ba0000
}
/*Slide Vertical*/
#slide_v_product {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 0;
}
#slide_v_product ul li {
	display: block;
	list-style: none outside none;
	padding: 0;
	margin-bottom: 10px;
}
.clr {
	clear: both;
}
.project_name {
	margin: 5px 0;
}
/*Footer*/
.footer {
	float: left;
	width: 100%;
	margin: 0 auto;
	background: url(../Images/footer_Bg.jpg) 0 0 repeat-x;
	border-top: 1px solid #ba1616;
}
.footer p {
	margin: 5px 0;
}
.topmenu_footer {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}
.footer_inner {
	padding: 10px;
}
.col_menuFooter {
	float: left;
	padding: 0;
	width: 200px;
}
.ctentColuMenuFooter {
	text-align: left;
	width: 100%;
}
.hotline {
	font-size: 15px;
}
.hotline span {
	color: #ff0600
}
.last_f {
	float: right;
	width: 350px;
	color: #602810;
}
.listMenuFooter {
	padding: 0;
}
.topmenu_footer h2 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.listMenuFooter a {
	color: #3e3e3e;
	display: block;
	font-weight: 500;
	padding-left: 10px;
	background: url(../Images/arrow_left.png) 0 8px no-repeat;
}
.get_email {
	float: left;
	background: #fffcf0;
	opacity: 0.8;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.get_email label {
	float: left;
	font-size: 16px;
	font-weight: 500;
	color: #602810;
	margin-bottom: 10px;
}
.txf {
	float: left;
	border: 1px solid #c2c2c2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
	height: 21px;
	line-height: 21px;
	background: #FFFFFF;
	width: 250px;
}
.btn {
	float: right;
	display: block;
	width: 50px;
	height: 21px;
	line-height: 21px;
	background: url(../Images/orange_Bg.jpg) 0 0 repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	border: none;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
}
.col_menuFooter p.visitors {
	float: left;
	margin-top: 10px;
}
.footer_bottom {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	font-size: 11px;
	background: #fffadc;
}
.facebook {
	float: left;
	width: 40%;
	text-align: left;
	padding-top: 10px;
}
.copyright {
	float: right;
	text-align: right;
}
