@charset "utf-8";
/* CSS Document */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.5 Arial, Helvetica, sans-serif;
	color:#000000;
	background: url(../Images/bg.gif) 0 0 repeat;
}
a {
	text-decoration: none;
	color: #2f7c00;
}
a:hover {
	text-decoration: underline;
	color: #000000
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.fl {
	float:left
}
.fr {
	float:right !Important;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.cf:after, .page:after, #header:after, #main:after, #footer:after, #cate_home:after, #cate_home .cate_inner:after, #footer_r_inner:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.btn_web {
	display: block;
	background: url(../Images/tabBg.png) 0 0 repeat-x;
	border: none;
	padding: 6px 12px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn_web:hover {
	color: #ffffff;
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
/* WRAPPER --------*/
.wrap {
	position: relative;
	width: 1080px;
	margin: 0 auto;
}
/* LAYOUT

--------------------------*/
#main {
	margin: 40px 0
}
#sidebar {
	width: 22%
}
#main_col {
	width: 76%
}
.wrap:after, #header:after, #footer:after, #main:after, .box:after, .box_ct:after, .pagination:after, div.simpleTabsContent:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/* Top Page */
#top_page {
	background: url(../Images/tabBg.png) 0 0 repeat-x
}
#top_page .wrap {
	padding: 7px 0;
	background: url(../Images/tabBg.png) 0 0 repeat-x
}
#top_page a {
	float: left;
	color: #FFFFF;
	padding: 0 8px 0 10px;
	background: url(../Images/space_menu.gif) 0 center no-repeat;
	color: #FFFFFF;
	font-weight: 700
}
#top_page a:first-child {
	background: none;
}
#top_page a:last-child {
	padding-right: 0
}
/* HEADER */
#header {
	height: 80px;
	padding: 10px 0;
}
#logo {
	width: 30%;
	margin-top: 20px
}
#logo img {
	max-width: 100%;
}
/*Box*/
.box {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
}
/*Tab*/
.box_Tab {
	font-size: 13px;
	font-weight: 700;
	height: 32px;
	line-height: 32px;
	color: #FFFFFF;
	text-align: left;
	text-transform: uppercase;
	padding-left: 10px;
	background: url(../Images/tabBg.png) 0 0 repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.title_page {
	background: url(../Images/footerBg.jpg) bottom left repeat-x;
}
.tab_other {
	background: none;
	border-bottom: 2px solid #CACACA;
	color: #111111;
	margin-bottom: 10px
}
/*Cate Home*/
#cate_home {
	margin-left: -40px
}
#cate_home .item_cate {
	width: 25%
}
#cate_home .cate_inner {
	margin-left: 40px;
	-moz-box-shadow: 0 0 5px #919191;
	-webkit-box-shadow: 0 0 5px #919191;
	box-shadow: 0 0 5px #919191;
	padding: 3px;
}
#cate_home .tab_home {
	height: 32px;
	background-image: url(../Images/tabBg.png);
	background-repeat: repeat-x;
	position: relative;
}
.sl_products:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 18px;
	z-index: 5;
	background: url(../Images/shadowBg.png) 0 0 no-repeat;
	background-size: 100% 100%;
	content: ''
}
#cate_home .tab_home .link_cate {
	display: block;
	line-height: 32px;
	background-image: url(../Images/icons/circles_icon.png);
	background-repeat: no-repeat;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 700;
	text-shadow: 0 0 2px #888888
}
#cate_home #cate_home1 .tab_home {
	background-position: 0 0
}
#cate_home #cate_home2 .tab_home {
	background-position: 0 -40px
}
#cate_home #cate_home3 .tab_home {
	background-position: 0 -79px
}
#cate_home #cate_home4 .tab_home {
	background-position: 0 -118px
}
#cate_home #cate_home1 .tab_home .link_cate {
	background-position: 5px 4px
}
#cate_home #cate_home2 .tab_home .link_cate {
	background-position: 5px -29px
}
#cate_home #cate_home3 .tab_home .link_cate {
	background-position: 5px -61px
}
#cate_home #cate_home4 .tab_home .link_cate {
	background-position: 5px -93px
}
/*List Item*/
#list_products {
	margin-left: -40px
}
#list_products li {
	float:left;
	width: 33.3334%;
	margin: 15px 0
}
#list_products li:nth-child(3n+1) {
clear: both
}
.product_item {
	padding: 5px;
	margin-left: 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	-moz-box-shadow: 0 0 5px #919191;
	-webkit-box-shadow: 0 0 5px #919191;
	box-shadow: 0 0 5px #919191;
}
.product_item .img_product {
	display: table-cell;
	vertical-align: middle;
	width: 247px;
	height: 200px;
	text-align: center;
}
.product_item h3 {
	margin: 8px 0;
	font-size: 1.1em
}
.product_item img {
	max-width: 247px;
	max-height: 200px;
}
.sticky {
	width: 237px
}
/*Slide Products*/
.sl_products {
	position: relative;
}
.sl_products li {
	float: left;
	width: 234px;
	margin: 0;
	overflow: hidden;
}
.sl_products .product_item {
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative
}
.sl_products .img_product {
	width: 234px;
	height: 205px
}
.product_item img {
	max-height: 234px;
	max-width: 205px;
}
/*Vertical menu*/
#menu_sidebar {
	padding: 5px;
}
#menu_sidebar > ul > li {
	position:relative;
}
#menu_sidebar a {
	text-decoration: none;
	display:block;
	color: #111111;
	font-weight: 700;
	padding: 6px 10px 6px 17px;
	border-bottom: 1px dashed #cccccc;
	background: url(../Images/arr_cate_child.gif) 3px 10px no-repeat
}
#menu_sidebar a:hover, #menu_sidebar a.active {
	color: #329400
}
#menu_sidebar > ul > li.active ul {
	display:block;
}
#menu_sidebar > ul > li > ul > li {
	position: relative;
}
#menu_sidebar > ul > li span:hover {
	cursor:pointer;
}
#menu_sidebar > ul > li.active a + ul {
	display: none;
}
#menu_sidebar > ul > li ul > li > a {
	color: #333333;
	font-weight: 500;
	padding-left: 35px;
	background: url(../Images/bullet.gif) 25px 13px no-repeat;
}
/*Detail Product*/
#dt_product {
	float: left;
	width: 450px;
}
.dtp_status {
	float: left;
	width: 100%;
	margin-top: 15px
}
.short_des_dtp p {
	margin: 0;
	padding-bottom: 5px
}
.zoom-desc .prev, .zoom-desc .next {
	background: transparent url(../Images/slide_ctrl.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.zoom-desc .prev {
	background-position: 0 0;
	left: 40px;
}
.zoom-desc .next {
	background-position: 100% 0;
	right: 40px;
}
/*Slide Other Products*/
#slide_products {
	position: relative
}
#slide_products li {
	float: left;
	width: 253px;
	padding: 0 10px
}
#slide_products .product_item {
	margin: 20px 10px 10px 10px
}
#slide_products .prev, #slide_products .next {
	background: transparent url(../Images/slide_ctrl.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	z-index: 999
}
#slide_products .prev {
	background-position: 0 0;
	left: 0;
}
#slide_products .next {
	background-position: 100% 0;
	right: 0
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin:auto;
	margin-top: 15px;
	text-align: center
}
.pagination a {
	display:inline-block;
	padding:2px 8px;
	background:#FFFFFF;
	border: 1px solid #329400;
	color:#333333;
	text-align:center;
	text-decoration: none;
	margin-left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:hover, .pagination b {
	display:inline-block;
	padding:2px 8px;
	background:#329400;
	border: 1px solid #329400;
	color:#FFF;
	text-align:center;
	margin-left:5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
/*Detail News*/
.h1Title {
	font-size: 1.5em;
	color: #111111;
	margin-bottom: 5px;
}
.info_g img {
	max-width: 100%;
	height: auto;
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
/*News Page*/
#list_news li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	padding: 15px 0;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding-bottom: 3px;
	font-size: 110%;
	font-weight: 700;
}
#list_news p {
	margin: 0 0 0.3em 0;
	line-height: 150%;
}
#list_news img {
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 150px;
	height: auto;
	background: #FFFFFF;
}
#list_news .view_more {
	font-weight: 700;
	color: #ec2f2f;
	text-transform: uppercase
}
.info_g img {
	max-width: 100%;
	height: auto;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	float: left;
	padding: 5px 0;
	width: 100%;
	margin: 10px 0;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 47%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	white-space: nowrap;
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
	height: 20px;
	line-height: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -32px;
}
a.opinion {
	background-position: 0 -72px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #e3e3e3;
	font-weight: 700;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 4px 0;
}
.other_news_sub li a {
	background: url(../Images/bullet.gif) no-repeat scroll 0 3px transparent;
	padding-left: 12px;
	color: #333333
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Path*/
.path {
	margin: 5px 0;
	text-align: left;
}
.path, .path a {
	color: #111111;
	font-size: 11px
}
.path a:hover {
	text-decoration: underline
}
/*Footer*/
#footer {
	background: #68c606 url(../Images/footerBg.jpg) bottom left repeat-x;
}
#footer .wrap {
	background: #68c606 url(../Images/footerBg.jpg) bottom left repeat-x;
	padding: 15px 0;
}
#footer, #footer a {
	color: #FFFFFF
}
#footer p {
	margin: 2px 0
}
#info_footer {
	width: 44%
}
#footer_r {
	width: 55%;
}
#footer_r_inner {
	padding-left: 50px;
	background: url(../Images/space_menu.gif) 0 0 repeat-y
}
#copyright {
	margin-top: 20px
}
/*Slide Ads Bottom*/
#slide_ads {
	position: relative;
	margin-bottom: 20px
}
#slide_ads h3 {
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
	margin-bottom: 15px
}
#slide_ads li {
	float: left;
	width: 98px;
	padding: 10px 5px;
	background: #FFFFFF;
}
#slide_ads .ads_item {
	background: #FFFFFF;
	display: table-cell;
	vertical-align: middle;
	width: 98px;
	height: 50px;
	text-align: center;
}
#slide_ads .ads_item img {
	max-width: 98px;
	max-height: 50px
}
#slide_ads .prev, #slide_ads .next {
	background: url(../Images/btn_arr.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 23px;
	height: 63px;
	position: absolute;
	top: 36%;
	z-index: 999
}
#slide_ads .prev {
	background-position: 0 0;
	left: -22px;
}
#slide_ads .next {
	background-position: 100% 0;
	right: -20px
}
/*Social Network*/
#social_network span {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 10px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0;
}
.icon_glus {
	background-position: -38px 0;
}
.icon_youtube {
	background-position: -76px 0;
}
/*Print Page*/
#printting {
	width: 600px;
	margin: 0 auto;
	background-color:White;
}
#printting #logo {
	width: 100%;
	padding-bottom: 10px;
	text-align: center
}
#printting #function_print {
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background: #013fd2;
	color: #FFFFFF
}
#printting #function_print a {
	color: #FFFFFF
}
#printting #main {
	padding: 10px 0;
	border-bottom: 2px solid #000000;
	text-align: justify
}
#printting #detail_news img {
	max-width: 100%
}
#printting .dtp_status {
	margin: 4px 0
}
