<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'> @charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color:#22222;
	background: #0d161d
}
@font-face {
 font-family: 'Roboto Condensed';
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot');
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/robotocondensed-regular-webfont.woff') format('woff'), url('../Images/Fonts/robotocondensed-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Open Sans Regular';
 src: url('../Images/Fonts/opensans-regular-webfont.eot');
 src: url('../Images/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/opensans-regular-webfont.woff') format('woff'), url('../Images/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #3c7cf5
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	background: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding-left: 5px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.font1 {
	font: normal 13px Arial, Helvetica, sans-serif
}
.line {
	width: 100%;
	height: 1px;
	background: #959595;
	margin: 10px 0
}
.trans {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
/* WRAPPER --------*/
.wrap {
	width: 1000px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
.font1 {
	font-family: 'Roboto Condensed', Helvetica, sans-serif
}
.font2 {
	font-family: 'Open Sans Regular', Helvetica, sans-serif
}
/* LAYOUT

--------------------------*/
#main {
	margin-top: 10px;
	padding-right: 10px;
	background: #1f2326
}
#left_col {
	width: 25%;
}
#right_col {
	width: 74%;
}
.wrap:after, #header:after, #footer:after, #main:after, .box_skitter .label_skitter div:after, .box:after, .box_ct:after, .product:after, .topnav:after, .pagination:after, #main:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/* HEADER

--------------------------*/
#header {
	position: relative;
	padding: 20px 0 30px 0;
	background: url(../Images/headerBg.png) bottom left no-repeat
}
#header_bottom {
	position: absolute;
	right: 10px;
	bottom: 5px;
	height: 28px;
	line-height: 28px
}
#logo {
	width: 25%;
	text-align: center
}
#text_logo {
	margin-top: 0
}
#logo img {
	max-width: 100%;
}
#hotline {
	background: url(../Images/hotline_icon.png) 0 center no-repeat;
	font-size: 1.8em;
	color: #d8ff00;
	padding-left: 25px;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgba(0, 0, 0, 0.3)
}
#cart {
	background: url(../Images/cart_icon.png) 0 center no-repeat;
	padding-left: 35px;
	margin-left: 40px;
	font-size: 1.4em
}
#cart a {
	color: #FFFFFF
}
#cart b {
	color: #fff000
}
/*Social Network*/
#social_network span {
	display: inline-block;
	width: 30px;
	height: 28px;
	margin-left: 3px;
	background-image: url(../Images/social_icon.gif);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_glus {
	background-position: -30px 0
}
.icon_youtube {
	background-position: -62px 0
}
.icon_facebook:hover {
	background-position: 0 -30px
}
.icon_glus:hover {
	background-position: -30px -30px
}
.icon_youtube:hover {
	background-position: -62px -30px
}
#copyright {
	text-align: right;
	margin-top: 15px;
}
/*Account*/
#social_network, #cart, #account {
	margin-left: 30px;
	position: relative
}
#account .trigger {
	color: #FFFFFF;
	font-size: 1.3em;
	text-transform: uppercase;
	line-height: 30px
}
#account:hover .trigger:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: -3px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FFFFFF;
	margin-left: -10px;
	z-index: 100;
}
#account .trigger:hover {
	text-decoration: none
}
.popup_login {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 20px;
	position: absolute;
	top: 33px;
	right: -10px;
	width: 240px;
	z-index: 999999;
	padding: 10px;
	background-color: #FFFFFF;
	overflow: hidden;
	font: normal 12px Arial, Helvetica, sans-serif;
}
#account:hover .popup_login {
	display: block
}
.account_user ul li.bubbleInfo .popup_login a {
border: none !imporatnt;
	padding: 0
}
.input_form {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.input_form input {
	border: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	color: #333333;
	font: normal 12px Arial, Helvetica, sans-serif;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 218px;
	text-align: left;
}
.note_wrapper {
	text-align: left
}
.lost_password {
	width: 100%;
	margin: 10px auto
}
.link_acount {
	color: #f48000;
	line-height: 16px;
	text-decoration: underline;
}
.remember_password {
	float: right;
	width: 40%;
	text-align: right;
}
.remember_password input[type="checkbox"] {
	border: medium none;
	box-shadow: none;
	float: left;
	height: 30px;
	margin-top: -8px;
	width: 20px;
}
.popup_login .button {
	background: #57a50d;
	border: 0 none;
	color: #FFFFFF;
	width: 120px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}
/* SEARCH TOP MAIN */
#search_form {
	height: 25px;
	position: relative;
	top: 2px;
	right: 5px;
	border: 1px solid #c9c9c9;
	background: #FFFFFF
}
#search_form .inputSearch {
	background: none;
	border: none;
	color: #7B7B7B;
	float: left;
	font-family: Arial;
	height: 25px;
	line-height: 25px;
	width: 250px;
	padding: 0;
	text-indent: 10px;
}
#search_form .submitSearch {
	float: right;
	margin-top: 2px;
	margin-right: 3px;
	width: 26px;
	height: 21px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	border: none;
	cursor: pointer;
}
/*Search Advanced*/
#search_advanced {
	clear: both;
	position: relative;
	border: 1px solid #070708
}
#search_advanced .search_title {
	height: 26px;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 1.1em;
	background: url(../Images/bg_repeat.png) 0 -64px repeat-x;
	text-transform: uppercase;
	text-align: center
}
#search_filter {
	padding: 12px 15px 0 15px;
}
#search_filter .inputSearch {
	color: #000000;
	float: left;
	font: 13px Arial, Helvetica, sans-serif;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 5px;
	margin: 0;
	width: 360px;
	border: none;
	border: none;
	background: #FFFFFF;
}
.dropdown_adv {
	color: #000000;
	cursor: pointer;
	font-weight: normal;
	height: 30px;
	float: left;
	width: 100%;
	margin-bottom: 1px;
	position: relative;
}
.dropdown_adv select {
	height: 30px;
	line-height: 30px;
	padding: 6px 5px;
	position: relative;
	width: 100%;
	z-index: 10;
	text-align: center
}
.sm_button {
	float: right;
	text-align: center;
}
.sm_button input {
	float: right;
	margin: 10px 0;
	width: 80px;
	height: 22px;
	line-height: 22px;
	background: url(../Images/bg_repeat.png) 0 0 repeat-x;
	color: #FFFFFF;
	font-size: 1.2em;
	border: none;
	cursor: pointer
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
	background: #FFFFFF
}
/*Tab*/
.box_Tab {
	position: relative;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase;
}
#left_col .box_Tab {
	height: 26px;
	line-height: 26px;
	font-size: 1.2em;
	text-align: center;
	background: url(../Images/bg_repeat.png) 0 -93px repeat-x;
}
#right_col .box_Tab {
	height: 35px;
	line-height: 35px;
	font-size: 1.4em;
	text-align: left;
}
#detail_dtp .box_Tab {
	color: #111111;
	border-bottom: 1px solid #111111;
	text-transform: capitalize;
	margin-bottom: 10px;
}
/*Box Support*/
#box_support li {
	margin: 10px
}
#box_support b {
	margin-right: 10px
}
#box_support .number_phone {
	display: block;
	color: #ff0000;
	font-size: 1.8em;
	font-weight: 500;
	margin-top: 8px;
	padding-left: 40px;
	background: url(../Images/phone_icon.png) 0 center no-repeat
}
/*Vertical menu*/
#box_category {
	background: #1f2326;
	border: 1px solid #070708
}
#box_category > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 7px 10px;
	color: #ff7400;
	font-size:1.1em;
	font-weight:700;
	background: #000000;
}
#box_category li {
	position:relative;
}
#box_category li li:last-child > a {
	border:none;
}
#box_category > ul > li > ul {
	position: relative;
	margin-bottom: 5px
}
#box_category > ul > li span:hover {
	cursor:pointer;
}
#box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	padding: 7px 10px 7px 25px;
	color: #FFFFFF;
	border-bottom: 1px dotted #999999
}
#box_category a:hover {
	color:#ffa100;
}
/*Popular Products*/
#popular_products li {
	float: left;
	width: 100%;
	background: #fafafa url(../Images/bg_repeat.png) 0 -150px repeat-x;
}
#popular_products .P_item {
	padding: 15px 5px
}
#popular_products li:last-child {
	border: none
}
#popular_products .img_general {
	width: 100px;
	height: 80px;
}
#popular_products img {
	max-width: 100%;
	max-height: 100%
}
#popular_products h3 {
	margin-bottom: 10px
}
#popular_products h3 a {
	color: #ff7a00
}
#popular_products .price {
	font-weight: 700;
	color: #3f3e3e;
	text-align: right
}
/*List Products*/

.list_products ul {
	margin-left: -10px
}
.list_products li {
	float:left;
	width: 33.3%;
	position: relative;
	height: 370px;
}
.product_item {
	padding: 10px 30px;
	position: relative;
	height: 350px;
	overflow: hidden;
	-moz-box-shadow: 5px 5px 5px #f0efef;
	-webkit-box-shadow: 5px 5px 5px #f0efef;
	box-shadow: 5px 5px 5px #f0efef;
}
.list_products li:hover .product_item {
	min-height: 350px;
	height: auto;
	z-index: 500;
	background: #f3f2f2;
	-moz-box-shadow: 5px 5px 5px #c3c3c3;
	-webkit-box-shadow: 5px 5px 5px #c3c3c3;
	box-shadow: 5px 5px 5px #c3c3c3
}
.product_item .img_product {
	display: block;
	height: 180px;
	overflow: hidden;
	text-align: center;
}
.product_item img {
	max-width: 100%;
	max-height: 100%
}
.product_item .product_name {
	padding: 8px 0;
	text-align: center
}
.product_item .product_name a {
	font-size: 1.4em;
	font-weight: 500;
	color: #ff7400
}
.product_item .product_name a:hover {
	color: #3c7cf5;
	text-decoration: none
}
.product_item p {
	margin: 0.5em 0;
}
.product_item .price {
	font-size: 1.5em;
	color: #3a7bf5
}
.product_item .addtocart {
	display: block;
	margin-top: 5px;
}
/*Page Cart*/
table#page_cart {
	border-collapse: collapse;
	width: 100%;
	color: #444444;
	margin-top: 10px;
}
table#page_cart th, table#page_cart td {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #c5c7c5;
	padding: 8px 0;
	text-align: center
}
table#page_cart th {
	background: #e1e2e1;
}
table#page_cart td.td_price {
	width: 100px;
}
table#page_cart td.td_price span#vnd {
	color: #999999 !important;
}
table#page_cart td.ttd_price {
	border-right: medium none !important;
	font-weight: bold;
	padding-right: 20px !important;
	text-align: right;
}
table#page_cart td.ttd_price_t {
	border-left: medium none !important;
	color: #C21717;
	font-weight: bold;
	padding-left: 20px !important;
	text-align: center;
	font-size: 15px;
}
table#page_cart td.td_quantity input[type="text"] {
	border: 1px solid #7F9DB9;
	border-right: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4;
	color: #000000;
	height: 25px;
	width: 30px;
	text-align: center;
	font-weight: 700
}
.button_payment {
	float: right;
	display: inline-block;
	padding: 0 20px;
	height: 30px;
	background: #FFFFFF url(../Images/bg_repeat.png) 0 -32px repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 10px;
	color: #111111;
	font-size: 1.1em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 35px;
	text-align: center;
	cursor:pointer;
}
.button_payment:hover {
	text-decoration: none;
	color: #111111
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin:auto;
	margin:20px 0 10px 0;
	text-align: center
}
.pagination a {
	display:inline-block;
	padding:6px 15px;
	background:#e0e0e0;
	color:#222222;
	text-align:center;
	margin-left:2px;
	font-size:15px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:hover, .pagination a.active {
	background:#1c1819;
	color:#FFF;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:first-child {
	border-radius:100px 0 0 100px;
	-webkit-border-radius:100px 0 0 100px;
	-moz-border-radius:100px 0 0 100px;
}
.pagination a:last-child {
	border-radius:0 100px 100px 0;
	-webkit-border-radius:0 100px 100px 0;
	-moz-border-radius:0 100px 100px 0;
}
/*Detail News*/
.h2Title {
	font-size: 2.1em;
	font-weight: 500;
	color: #1f2326;
	margin-bottom: 5px;
}
#info_g img {
	max-width: 100%;
	height: auto;
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
/*News*/
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding: 0 0 3px 0;
	font-size: 1.1em;
	font-weight: 700;
}
#list_news h3 a {
	color: #322f20
}
#list_news p {
	margin: 0.5em 0 1em 0;
	line-height: 150%;
}
#list_news img {
	border: 10px solid #e8eaeb;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 200px;
	height: auto;
	background: #FFFFFF;
	transition: All 0.4s ease-out;
	-webkit-transition: All 0.4s ease-out;
	-moz-transition: All 0.4s ease-out;
	-o-transition: All 0.4s ease-out;
}
#list_news img:hover {
	opacity: 0.6
}
#list_news .view_more {
	font-weight: 700;
	color: #dc3a3e;
	text-transform: uppercase
}
#info_g, #info_g p {
	line-height: 160%;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	margin: 10px 0;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -32px;
}
a.opinion {
	background-position: 0 -72px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 4px 0;
}
.other_news_sub li a {
	background: url(../Images/bullet.gif) no-repeat scroll 0 4px transparent;
	padding-left: 10px;
	color: #333333
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Detail Products*/
.proleftdet {
	float: left;
	width: 55%;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid #d2d2d2;
	position: relative
}
#pro_detail_slide li {
	float: left;
	width: 392px;
	height: 400px
}
.img-box {
	background: none repeat scroll 0 0 #fff;
	display: table-cell;
	height: 400px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 392px;
}
.img-box img {
	max-height: 400px;
	max-width: 392px;
	text-align: center;
}
.slide_ctrl {
	background: transparent url(../Images/control_btn.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 40px;
	position: absolute;
	top: 180px
}
.slide_ctrl.prev {
	background-position: 0 0;
	left: 0;
}
.slide_ctrl.next {
	background-position: -30px 0;
	right: 0;
}
#dtp_info {
	float: right;
	width: 42%;
}
.dtp_status {
	clear: both;
	display: block;
	width: 100%;
	margin: 10px 0
}
.short_des_dtp {
	margin-top: 20px
}
/*Gallery*/
#detail_gallery ul {
	margin:10px 20px 10px 0
}
#detail_gallery li {
	float: left;
	width: 33.3%;
	margin-bottom: 15px
}
#detail_gallery .img_gallery {
	display: block;
	width: 90%;
	margin-left: 20px;
	background: #f2f2f2;
	border: 1px solid #dddddd;
	height: 170px;
}
#detail_gallery a:hover {
	border: 1px solid #999999
}
.img_gallery img {
	max-width: 100%;
	max-height: 100%
}
/*Path*/
.path {
	text-align: left;
	text-transform: none;
	font-size: 100%;
	font-weight: 500;
	margin: 10px 0;
}
.path, .path a {
	color: #FFFFFF
}
/*Footer*/
#footer {
	background: #28292d;
	padding: 10px;
	margin-bottom: 10px;
}
#footer, #footer a {
	color: #FFFFFF
}
#footer a:hover {
	color: #000000
}
#footer p {
	margin: 3px 0
}
#info_footer {
	width: 50%;
}
/*Register to get email*/
#get_email {
	width: 280px;
	height: 26px;
	background: #FFFFFF;
	border: 1px solid #c0c0c0
}
#get_email input {
	float: left;
	color: #8F8F8F;
	float: left;
	line-height: 26px;
	width: 200px;
	padding-left: 5px;
	background: none;
	border: none;
}
.send_button {
	background: url(../Images/bg_repeat.png) 0 -64px repeat-x;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	width: 70px;
	margin-top: 3px;
}
.send_button:hover {
	text-decoration: none
}
/*Access Status*/
#status {
	clear: right;
	margin-top: 20px
}
#status span {
	display: inline-block;
	margin: 0 10px;
	height: 26px;
}
#status b {
	color: #ffe400
}
#copyright {
	text-align: right;
	margin-top: 15px;
}
