/*Horizontal*/
#slider_thesameP {
	float: left;
	width: 100%;
	position: relative;
	z-index: 5;
	padding: 0;
}
/*------------------------------------------------------*/			
#slider_thesameP .jcarousel-skin-tango {
	padding: 0;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: 100%;
	width: 94%;
	margin: 10px auto;
	padding: 0;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 20px;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-next-horizontal {
	background: url(../Images/arrows_button.png) no-repeat scroll 100% -14px;
	cursor: pointer;
	height: 14px;
	position: absolute;
	right: 0;
	top: 45%;
	width: 12px;
	z-index: 10;
}
#slider_thesameP .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: url(../Images/arrows_button.png) no-repeat scroll 0 -14px;
	cursor: pointer;
	height: 14px;
	position: absolute;
	top: 45%;
	left: 0;
	width: 12px;
	z-index: 10;
}
/*Vertical*/
#slider_products {
	padding: 0;
	margin: 10px 0;
}
#slider_products .product {
	width: 100%
}
#slider_products .jcarousel-skin-tango .jcarousel-container {
	width: 100%;
	height: 100%;
}
#slider_products .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
#slider_products .jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 100%;
	padding: 0;
}
#slider_products .jcarousel-skin-tango .jcarousel-container-vertical {
	width: 100%;
	height: 620px;
	padding: 0;
}
#slider_products .jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
#slider_products .jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:  100%;
	height: auto;
}
#slider_products .jcarousel-skin-tango .jcarousel-clip-vertical {
	width: 100%;
	height: 100%;
}
#slider_products .jcarousel-skin-tango .jcarousel-item {
	width: 100%;
	height: 310px;
}
#slider_products .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 10px;
}
#slider_products .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
#slider_products .jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 0;
}
#slider_products .jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons

#slider_products .jcarousel-skin-tango .jcarousel-next-horizontal {
	position: absolute;
	top: 43px;
	right: 5px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(../Images/next-horizontal.png) no-repeat 0 0;
}
#slider_products .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(../Images/prev-horizontal.png);
}
#slider_products .jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 43px;
	left: 5px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: transparent url(../Images/prev-horizontal.png) no-repeat 0 0;
}
#slider_products .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../Images/next-horizontal.png);
}
/**
 *  Vertical Buttons
 
#slider_products .jcarousel-skin-tango .jcarousel-next-vertical {
	position: absolute;
	top: -20px;
	right: 0;
	width: 10px;
	height: 5px;
	cursor: pointer;
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 -5px;
}
#slider_products .jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus {
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 -5px;
}
#slider_products .jcarousel-skin-tango .jcarousel-prev-vertical {
	position: absolute;
	top: -30px;
	right: 0;
	width: 10px;
	height: 5px;
	cursor: pointer;
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 0;
}
#slider_products .jcarousel-skin-tango .jcarousel-prev-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 0;
}
#slider_products .product {
	width: 184px;
	height: 218px;
	margin: 10px auto 0 auto;
}
#slider_products .img_product {
	width: 180px;
	height: 180px;
	border: none;
}
#slider_products .product_name a {
	width: 184px
}*/
