/*detail event*/
.fileEventDetail{ width:100%; float:left; margin:10px 0}
.rif{ width:100%; float:left; margin:3px 0}
.typeFile{ float:left; width:12%; min-height:1px; font-size:4em; color:#9A336A}

.photoEvent img{ max-width:100%; border: solid 1px #993366;max-width: 100px}
.bodyDetailEvent{ float:left; width:85%;}
.fileDownload{ font-weight:bold}
.fileDownload a{ margin-right:15px;}

.rowfile{ width:100%; float:left; margin:10px 0}
.photoEvent{ float:left; width:17%; min-height:1px;}
.infoFile{ width:83%; float:left}
.fileSize b{ margin-right:  5px}
.fileSize b:not(:first-child){ margin-left:10px}
.pageNum{ font-weight:bold;}
.pageNum a{ padding-left: 5px;}
.pageNum a+a:before{content:"|"; margin:0 5px}
.headingEvent:before{content:"|"; margin-right: 5px}
.shortDes{ margin:10px 0}
.innerDetailEvent{ width:100%; float:left;}
.titleEvent {width:100%; float:left; margin:15px 0}

