/*Nav Desktop*/
.radiusTT() {
 -moz-border-radius-bottomright: 9px;
 -webkit-border-bottom-right-radius: 9px;
 border-bottom-right-radius: 9px;
 -moz-border-radius-bottomleft: 9px;
 -webkit-border-bottom-left-radius: 9px;
 border-bottom-left-radius: 9px;
}
.navx a {
	text-decoration: none;
	color: #fff;
	white-space: nowrap;
	font-size:13px
}

.navx ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.wMenuMain {
	background-image: url(../images/bgNavx.png);
	background-repeat: repeat-x;
	background-position: bottom center;
	padding-bottom: 9px;
	min-height: 35px;
	margin-bottom: 15px;
	position:relative;
	z-index:12
}
.navx ul ul {
	display: none;
	position: absolute;
	 
	background: #DA0965;
	padding-bottom: 10px;
	padding-top:10px;
}
.navx ul ul a {
	line-height: 30px;
	color: #fff;
	padding-right: 10px;
	padding-left: 10px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.navx ul ul ul {
	position:relative;
	 width:100%; float:left;
	 list-style-type:circle; color:#fff;  display:block; 
	 
}

.navx  ul  ul li {
	float:left; width:50%; position:relative; text-align:left; 
	 
}
.innerSubmenu{ width:600px; margin-left: auto; margin-right:auto}
 
.navx  ul ul ul li{float:left; width:90%; margin-left:10%  }

.navx ul ul li:hover {
	/*background-color: #904073;*/
	text-decoration:underline
}
 
.navx ul ul li:hover> a {
	color: #fff;
}
.navx ul li:hover>ul {
	display: block;
}
.navx {
	clear: both;
	display:table;
	z-index: 99;
	 
	text-align:center;
	margin-left:auto; margin-right:auto
}
.navx>ul {
	clear: both;
 
 
	display:table-row
}
/*.navx>ul>li+li:before{content:"|"; color:#69DBFF}*/
.navx>ul>li {
	 
	 
	display:table-cell;
}
.navx>ul>li:first-child {
	background-image: none
}
.navx>ul>li:hover,.navx>ul>li:focus,.navx>ul>li.active  {
	background-color:#DA0965;
}
.navx>ul>li>a {
	padding-left: 25px;
	padding-right: 25px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	padding-bottom: 7px;
}
.navx>ul>li:hover >a, .navx>ul>li.active > a, .navx>ul>li:focus >a {
	color: #fff;
 
}
.navx > ul > li > ul {
	top: 100%;
	left: 0;
	margin-top: -9px;
	width:100%;
	border-bottom: solid 5px #9A336A;
	padding-bottom:20px;
}
.navx > ul > li > ul>div >li>a{ font-weight:bold}
 
.clearfix:after {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
/* nav mobile*/
#pull {
	display: none;
	position: relative;
	right: 5px;
	top: 0px;
	float: right;
	height: 30px;
	width: 30px;
	text-align: center;
}
#pull i {
	font-size: 20px;
	top: 3px
}
#btnClose {
	display: none;
	cursor: pointer;
	text-align: right;
	padding: 5px;
}
 @media screen and (max-width: 767px) {
/*#pull {
	display: block;
}
.parent>a:after{ content:"\00bb"; color:#fff; margin-left:5px}
#btnClose {
	display: block;
}
.navx >ul {
	display: none;
	margin-top: 0px;
	position:absolute;
	top: 0px;
	right: 0px;
	width: 80%;
	background:#0665CF;
 
}
.navx >ul>li {
	float: none
}
.navx ul li {
	border-bottom: solid #fff 1px;
}
.navx ul li:hover>ul {
	display: none;
}
.navx ul ul {
	position: relative;
	clear: both;
	top: auto;
	left: auto;
	 
}
.navx ul ul li {
	background: #ddd
}
.navx ul ul a {
	padding-left: 15px;
	color: #000
}
.navx > ul > li > ul {
	position: relative;
	clear: both;
	top: auto;
	left: auto;
}
.open {
	border-bottom: 0;
	padding-bottom: 0px !important;
}
.navxMb li {
	color: #fff
}
#btnClose span {
	color: #fff;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	border: solid 1px #fff;
	padding: 0 7px 2px 7px;
}
#btnClose {
	color: #fff;
	padding-bottom: 10px
}*/
}
 @media screen and (max-width: 1200px) {
}
 @media screen and (max-width: 800px) {
}
.nav_f {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.nav_f a {
	padding: 0 20px;
	white-space: nowrap;
	color: #000;/*font-weight:bold*/
 
}
/*.nav_f a+a:before {
	content: "|";
	margin-right:10px;
 
}*/

.bSearch {
	float: right;
	position: relative
}
