@charset "utf-8";
.wTopPage {
	min-height: 40px;
	background-color: #D55585
}
.bMainContent {
	width: 88%;
	margin: 0 6%;
	float: left;
	 
}
img {
	max-width: 100%
}
.box {
	float: left;
	width: 100%;
	margin-top: 10px;
	background-position: center bottom;
	background-repeat: no-repeat;
}
 .wSlide{ margin-bottom:15px;}
.innerBox {
	float: left;
	width: 100%;
 
}
.headingBox {
	width: 100%;
	float: left;
	line-height: 35px;
	background-color: transparent;
	color: #9B3568;
	text-transform: uppercase;
	text-align: left;
	background-image: url(../images/icon_headingB.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	border-bottom: solid 1px #D34B7C;
	margin-bottom: 5px;
	font-weight: bold; 
}
.headingBoxMain {
	width: 100%;
	float: left;
	line-height: 35px;
	background-color: transparent;
	color: #DE0868;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	border-bottom: solid 1px #DE0868;
	margin-bottom: 5px;
	font-weight: bold
}
 .bAddress{ color:#DE0868}
.noborder{ border:0px !important}
.txtleft {
	text-align: left
}
.txtleft span {
	padding-left: 25px;
}
.boxMain {
	border: solid 1px #ddd;
	background-image: none;
	background-color: #fff
}
.imgmiss img {
	max-width: 86%
}
.imgmiss {
	cursor: pointer;
	overflow: hidden;
}
.bMiss {
	width: 60%;
	margin: 0 20%;
	display: table; margin-bottom:20px
}
.inner_bMiss {
	display: table-row
}
.photoMiss {
	display: table-cell
}
.imgmiss img {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: solid 7px #DE0868;
	margin-bottom: 10px;
	max-width:177px;
}
.imgmiss b {
	clear: both;
	float: none;
	color: #983468;
	text-transform: uppercase;
	width: 100%;
	float: left;
	font-size: 13px;
	font-weight: bold
}
/*Events*/
 
.itemEvent {
	float: left;
	width: 100%;
	margin: 15px;
0
}
.inner_bEvents {
	width: 100%;
}
.listEvent {
	width: 100%;
	float: left;
	margin: 10px 0;
	padding: 5px 0;
	color: #DE0868;
}
.listEvent a {
	color: #DE0868;
}
.dateEvent, .typeEvent {
	float: left
}
.dateEvent {
	width: 10%;
	font-weight: bold
}
.typeEvent {
	width: 12%
}
.bodyEvent {
	float: left;
	width: 70%;
	margin-left: 2%
}
.fileEvent, .fileEventDetail{
	float: left;
	width: 100%
}
.bodyEvent h2 {
	margin-top: 0;
	font-size: 13px;
	font-weight: bold
}
.iType {
	float: left;
	width: 33%;
	font-size: 1.5em;
	min-width: 40px;
	min-height: 1px; color:#993366
}
.countFile {
	font-size: 11px;
	font-style: italic;
	margin-top: 10px; color:#993366
}
.fileEvent img {
	border: solid 1px #993366;
	max-width: 100px
}
.fileEvent a {
	max-width: 100px;
	margin-right: 5px
}
a.viewMore {
	color: #993366;
	font-style: italic;
	float: right;
	text-decoration: underline;
	margin-right: 10px
}
 

 


.partnerBox {
	padding: 20px 0;
}
.innerPartnerBox {
	float: left;
	width: 100%;
}
.menuFooter {
	border-top: solid 5px #DE0868;
	padding-top: 15px;
}
.bsitemap, .vsb {
	margin-bottom: 10px;
	width: 100%;
	float: left;
	color: #000
}
.copyRight {
	padding-top: 15px;
	font-size: 11px;
	width: 100%;
	float: left;
	text-align: center;
	color: #000;
	padding-bottom: 5px;
}
.inner_cBannerHeader {
	min-height: 100px;
	padding: 15px 0;
	text-align: center; overflow:hidden
}
/*Social Network*/
.social_network_m {
	margin-left: 15px
}
.social_network_m span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: 7px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
	margin-top: 5px;
}
.icon_facebook {
	background-position: 0 0
}
.icon_youtube {
	background-position: -34px 0
}
.icon_gplus {
	background-position: -67px 0
}
.icon_twitter {
	background-position: -101px 0
}
.icon_facebook:hover {
	background-position: 0 -26px
}
.icon_youtube:hover {
	background-position: -34px -26px
}
.icon_gplus:hover {
	background-position: -67px -26px
}
.icon_twitter:hover {
	background-position: -101px -26px
}




.frmn{ margin-left:auto; margin-right:auto; width:80%; float:left; margin:10px 10%; min-height:1px; display:table;}
.frm_group{  width:100%; float:left; margin:5px 0; }
.lbl{   width:40%; text-align:right; color:#9A336A; float:left; margin:0; padding:0; font-weight:bold;  }
.input_group{ float:left; width:59%; text-align:left; margin-left:1%;vertical-align:top; }
.input_group .form-control{ height:25px; padding:0; margin:0; text-indent:10px; border:solid 1px #aeaeae; min-width:300px }
.red{ color:red}

 .fogotPass a{ text-decoration:underline; font-weight:bold}

.fogotPass { padding-bottom:20px; float:left; width:100%;}


/* =============================================*/
 

.videoBox img, .videoBox iframe {
	width: 100% !important
}
.wrap {
	width: 100%;
	float: left
}
 
.contacBox {
	float: left;
	width: 100%
}
.form-group {
	margin-bottom: 10px;
	display: table
}
.frmCT {
	width: 54%;
	float: left
}
.frmCT label {
	width: 100px;
	float: left
}
.form-group input {
	width: 400px;
	float: left;
	height: 25px;
	text-indent: 10px;
}
.form-group textarea {
	width: 400px;
	float: left;
	resize: vertical
}
.form-group [type="submit"] {
	width: 90px;
	margin-left: 100px;
	background: #814900;
	color: #fff;
	border: 0;
	text-align: center;
	padding: 0;
	text-indent: 0
}
.ggMap {
	margin-top: 15px;
	float: left;
	width: 100%
}
.clsCaptcha {
	margin-left: 100px;
}
.ggMap {
	float: right;
	width: 45%;
	margin: 0;
}
 
/*================================================================*/
.rdo {  }
.rdbb{ line-height:0}

.bGgallery .itemP{ float:left; width:25%}
.inner_itemP{ padding:10px; overflow:hidden}
.photoP{ width:100%; float:left}
.photoP img{ width:100%; height:150px;border: solid 1px #993366; padding:2px}
.itemP h3{ font-weight:normal; font-size:1.1em; text-align:center;  width:100%; float:left; height:50px; overflow:hidden}

.videoIframe{ width:70%; float:left}
.videoIframe iframe{min-height:400px}
.videoAds{ float:right; width:27%;}
.videoAds h3{ width:100%; background:#F16AA7; color:#fff; margin-bottom:10px; padding:5px; margin-top:0; font-size:1em}
.videoAds img{ width:100%}
.videoAds .adsimg{ height:362px; overflow:hidden; width:100%; float:left}
.videoPlayBox{ height:460px; overflow:hidden}