@charset "utf-8";
.linkTop a {
	line-height: 35px;
	white-space: nowrap;
	color: #fff;
}
.wTopPage {
	background-color: #32B919;
	color: #fff
}
.linkTop .linkT {
	float: left;
	margin-right: 10px;
}
.linkTop .linkT a {
	color: #fff;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}
.linkTop .linkT a:before {
	content: "\2666";
	color: #fff;
	margin-right: 5px;
}
.linkTop .linkT:hover, .linkTop .linkT:focus {
	background: #7FDC6B;
}
.linkTop .linkT:hover a, .linkTop .linkT:focus a {
	color: #333;
	cursor: pointer
}
.linkLog i {
	margin: 0px 10px;
	color: #fff
}
.wrap {
	width: 100%;
	float: left
}
.bannerHeader {
	margin-top: 20px;
	margin-left: 10px
}
.clsLogo {
	float: left;
}
.clsLogo img {
	width: 100px;
}
.clsLogo img, .bannerHeader img {
	max-width: 100%
}
.headerBox {
	min-height: 50px;
	position: relative;
}
.innerHeaderBox {
	float: left;
	width: 98.5%;
	padding: 0.75%;
}
.icon_mn {
	width: 30px;
	height: 30px;
	background: url(../images/icon_top.png) 0 0 no-repeat;
	float: left
}
.idambao {
	background-position: 0 top
}
.ithanhtoan {
	background-position: 0 -30px
}
.idoitra {
	background-position: 0 -60px
}
.txtSers {
	float: left;
	color: #F46C08;
	width: 130px;
	font-weight: bold;
	margin-left: 5px
}
.bSers {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.inner_bSers {
	width: 100%;
	float: left
}
.itSers {
	float: left;
	margin-right: 5px;
}
.hotlineBox {
	position: absolute;
	top: 0;
	right: 300px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #32B919;
	padding: 0 10px 5px 10px;
	color: #fff;
	font-size: 1.3em;
}
.wNavx {
}
.menuBox {
	width: 100%;
	float: left;
	background-image: url(../images/bgMenu.png);
	background-repeat: repeat-x;
	background-size: auto 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wMain {
	padding-top: 10px
}
.navy {
	width: 100%;
	float: left;
	background-color: #32B919
}
.navy ul {
	list-style: none;
	padding-bottom: 0px; margin: 0;
	padding:0;
}
.navy ul >li {
	padding-left: 15px;
	min-height: 30px;
	padding-right: 10px;
	padding-top: 5px;
	border-bottom: dotted 1px #ccc;
	position: relative;
}
.navy ul > li:hover, .navy ul > li:focus {
	background: #fff;
	cursor: pointer
}
.navy ul >li >a {
	color: #fff;
	text-decoration: none !important
}
.navy ul > li:hover a, .navy ul > li:focus a {
	color: #32B919
}
.navy ul >li >a:before {
	content: "\2666";
	color: #fff;
	margin-right: 10px
}
/*.navy li a:before{ content:"\2666"; color:#FFA200; margin-right:5px}
*/
.navy ul ul li {
	background: #FFF;
	color: #333;
	min-width: 200px
}
.navy ul ul li:hover>a {
	color: red
}
.navy ul ul {
	position: absolute;
	left: 100%;
	top: 0;
	display: none;
	z-index: 999;
}
.navy ul li:hover>ul {
	display: block
}
.headingBox {
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
	line-height: 30px;
	background-color: #7FDA6C;
	color: #fff;
	/*text-transform: uppercase;*/
	text-align: center;
	background-image: url(../images/box_menu_title.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100% auto;
	font-size: 13px;
	background-size: 100% 100%;
	white-space: nowrap;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	font-weight: bold;
}
.headingBox h2 {
	margin: 0;
	padding: 0;
	font-size: 13px
}
.sidebar .headingBox {
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-left-radius: 9px;
	border-top-left-radius: 9px;
	-moz-border-radius-topright: 9px;
	-webkit-border-top-right-radius: 9px;
	border-top-right-radius: 9px;
}
/*============================================================*/


.contentBox {
	background: #fff
}
.searchBox {
	float: right;
	width: 250px;
	text-align: right
}
.spSmall_fix {
	position: fixed;
	bottom: 0;
	background: #06F;
	z-index: 999999;
	color: #fff;
	width: 100%;
	line-height: 30px;
	font-size: 1.1em
}
.hotlineS {
	font-size: 1.1em;
	margin: 10px
}
.menuLeft {
	float: left;
	width: 25%;
}
.menuRight {
	float: right; /*width:25%;*/
}
.mainContent {
	float: left; /*width:74%*/
}
.innerMenuLeft {
	float: left;
	padding-right: 10px;
	padding-left: 3px
}
.innerMenuRight {
	float: left;
	padding-right: 10px;
	padding-left: 3px
}
.innerMainContent {
	float: left;
	width: 99.7%;
	padding-right: 0.3%;
}
.box {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.sidebar .box {
	padding-bottom: 12px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: solid 1px #32B919;
	background-color: #32B919;
}
div .box:nth-child(1) {
	margin-top: 0
}
.boxMain {
	margin-top: 0
}
.innerBox {
	float: left;
	width: 100%;
	padding: 0px;
	border-top: 0;
}
.headingBoxMain {
	background: none;
	color: #D70000;
	border-bottom: solid 1px #333;
	padding-bottom: 0;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 1.1em;
	margin: auto 10px
}
.innerBoxMain {
	padding: 0px;
	overflow: hidden;
	border: solid 0px #E0DB7D;
}
.txtleft {
	text-align: left
}
.videoBox img, .videoBox iframe {
	width: 100% !important
}
.txtleft span {
	padding-left: 10px;
}
.wrap {
	width: 100%;
	float: left
}
.menuFooter {
}
.footerBox {
	margin-top: 10px;
}
.copyRight {
	padding-top: 10px;
	font-style: italic;
	font-size: 11px;
	text-align: center;
	width: 70%;
	margin: 0 15%
}
.copyRight a {
	color: #FFF
}
.bMenuF {
	display: table;
	background: #32B919
}
.inner_bMenuF {
	display: table-row
}
.colf {
	display: table-cell;
	border-left: solid 1px #69D255;
	width: 20%;
	vertical-align: top;
	text-align: center
}
.colf h2 {
	font-size: 13px;
	font-weight: bold
}
.colf .linkF a {
	clear: both;
	padding-left: 5%;
	float: left;
	width: 90%;
	color: #fff
}
.socialF {/* width:95%; float:left; margin:3px 2.5%;*/
}
.inner_colf {
	float: left;
	width: 100%;
}
.social_network {
	overflow: hidden;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-left: 10px;
	margin: 10px
}
.inner_colf a {
	white-space: nowrap;
}
.linkF {
	padding: 5px 0px;
	float: left;
	width: 100%
}
.noP {
	padding: 0
}
/*Search*/
.inputSearch {
	border: solid 1px #FF0000;
	text-indent: 10px;
	height: 30px;
	width: 68%;
	float: left
}
.btnSearch {
	background: #FF0000;
	color: #fff !important;
	float: left;
	height: 30px;
	width: 25%;
	text-align: center;
	line-height: 30px;
	border: solid 1px #FF0000;
}
.popupSearch {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 30px;
	position: absolute;
	width: 320px;
	padding: 5px;
	right: 0px;
	top: 32px;
	z-index: 999999;
	background: #0665CF;
	overflow: hidden;
	border: solid 1px #055AB8;
}
.closeBtn {
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	font-size: 14px;
	color: #f00;
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.trigger {
	float: right;
	line-height: 30px;
	position: relative;
	background: url(../images/iconSearch.png) center center no-repeat;
	width: 30px;
	height: 30px;
}
.listPhoto .itemPhoto {
	width: 20%;
	float: left
}
.innerItemPhoto {
	padding: 5px;
	float: left
}
.innerItemPhoto img {
	max-width: 100%;
	border: solid 1px #814900;
	padding: 1px
}
.captionPhoto {
	padding: 10px;
	text-align: center;
}
.contacBox {
	float: left;
	width: 100%
}
.form-group {
	margin-bottom: 10px;
	display: table
}
.frmCT {
	width: 100%;
	float: left
}
.frmCT label {
	width: 100px;
	float: left
}
.form-group input {
	width: 400px;
	float: left;
	height: 25px;
	text-indent: 10px;
}
.form-group textarea {
	width: 400px;
	float: left;
	resize: vertical
}
.form-group [type="submit"] {
	width: 90px;
	margin-left: 100px;
	background: #814900;
	color: #fff;
	border: 0;
	text-align: center;
	padding: 0;
	text-indent: 0
}
.ggMap {
	margin-top: 15px;
	float: left;
	width: 100%
}
.clsCaptcha {
	margin-left: 100px;
}
/*==================cate==========*/
.itemCate {
	position: relative;
	overflow: hidden;
}
.itemCate .desCate {
	width: 100%;
	float: left
}
.wmn {
	float: left;
	width: 100%
}
.desCate h2 {
	width: 100%;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 5px 0
}
.desCate h2 a {
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 13px
}
.itemCate h2 a i {
	top: 0
}
.itemCate {
	border: solid 1px #32B919
}
.inner_itemCate {
	float: left;
	width: 100%;
	padding: 2%;
	height: 390px;
}
.txtCate {
	width: 100%;
	float: left;
	text-align: center
}
.slideCate .slide:not(:first-child) .itemCate {
	border-left: 0
}
.slideCate .slide:nth-child(3n+1) .itemCate {
	border-left: solid 1px #32B919
}
.slideCate .slide:nth-child(3n) .itemCate {
	border-right: solid 1px #32B919
}
.photoCate img {
	max-height: 248px;
}
.txtCate {
	max-height: 38px;
	overflow: hidden
}
/*==================cate==========*/
/*===============san pham noi bat===============*/
.desNB .newPrice span {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	text-align: left
}
.photoNB {
	float: left;
	width: 30%
}
.desNB {
	float: right;
	width: 66%;
	margin-right: 1%
}
.desNB .newPrice {
	font-weight: normal;
	text-align: left
}
.sliderNB .btnGroup {
	text-align: left !important;
	padding: 5px 0 !important
}
.sliderNB .priceGroup {
	text-align: left !important;
	padding: 5px 0 !important
}
.slideNB {
	border: solid 1px #32B919
}
.slideNB .innerProduct {
	border: 0px
}
.productNB h2 {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	overflow: hidden;
	line-height: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center
}
.productNB h2 a {
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	font-size: 13px;
	font-weight: bold
}
.innerProductNB {
	padding: 5px;
	overflow: hidden
}
.border1 {
	border: solid 1px #32B919
}
.productNB {
	height: 180px;
	margin-top: 10px
}
/*===============end san pham noi bat===============*/


.countOB {
	width: 200px;
	float: left
}
.numberonl {
	font-weight: bold;
	color: #fff
}
.address {
	text-align: center;
	width: 70%;
	margin: 15px 15% 0px 15%;
}
.address h2 {
	color: yellow;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-top: 0;
}
.httt .nm {
	width: 30%;
	text-align: right;
	margin-right: 5%
}
.ht {
	width: 65%
}
.ht img {
	max-width: 120px;
}
.itht {
	padding-top: 10px;
	padding-bottom: 5px;
}
.httt tel, .httt email {
	clear: both;
	min-height: 1px;
	float: left;
	width: 100%;
}
.httt email {
	text-align: center;
	color: #055bbb
}
a.viewMore {
	color: #32B919;
	/*font-style: italic;*/
	float: left;
	/*text-decoration: underline;*/
	margin-left: 10px;
	margin-top: 10px
}
.viewMore i {
	margin-right: 5px;
}
/*a.viewMore:after {
	content: "\00bb";
	color: #FFA200
}*/
.langBox {
	position: absolute;
	top: 10px;
	right: 10px;
}
.langBox a {
	margin-right: 5px
}
.searchBox .inputS {
	border: 0;
	height: 23px;
	float: left;
	border: solid 1px #ccc;
	text-indent: 10px;
	margin-right: 1%;
	font-size: 11px
}
.searchBox .btn {
	color: #666;
	float: left;
	padding: 3px 6px;
	font-size: 11px;
	color: #fff;
}
.vsBox {
	margin: 10px;
	overflow: hidden;
	background: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.innerVsBox {
	padding: 5px 10px;
	overflow: hidden
}
.innerVsBox p {
	padding: 0;
	margin: 5px 0
}
.vsBox b {
	margin-left: 10px
}
.htttBox {
	padding: 10px;
	overflow: hidden
}
.htttBox .imghttt {
	background: url(../images/bgHtttBox.png) center no-repeat;
	height: 86px;
	width: 100%;
	background-size: 100% auto;
}
.rowUser {
	text-align: center
}
.hlNumber {
	font-weight: bold;
	color: #f00
}
.rowUser p {
	padding: 0;
	margin: 5px 0
}
.rowUser span {
	font-weight: bold
}
.bannerHeader {
	margin-top: 0px;
	margin-left: 10px;
	font-size: 33px;
	text-transform: uppercase;
	font-weight: bold;
	color: #DA0000;
}
.inner_bIntro {
	padding: 10px;
	overflow: hidden;
	text-align: justify;
	line-height: 25px;
}
.iCate h2 {
}
.photoCate {
	text-align: center
}
.bProbe {
	padding: 5px 10px;
	overflow: hidden;
}
.bProbe p {
	padding: 0;
	margin: 5px 0
}
.htttT {
	margin-left: 10px
}
/*Support*/
/*httt*/
.popupBox {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 20px;
	position: fixed;
	width: 200px;
	right: 2px;
	bottom: 0px;
	z-index: 999999;
	padding: 0px;
	background: #FFF;
	overflow: hidden;
	border: solid 1px #32B919;
	border-bottom: 0;
}
.triggerHttt {
	position: fixed;
	bottom: 0;
	right: 2px;
	height: 30px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	padding: 0 15px;
	background: url(../images/bgHttt.png);
	background-size: 100% 100%;
	width: 182px;
	height: 31px;
	z-index: 99999;
}
.closeBtnHttt {
	display: block;
	width: 20px;
	height: 20px;
	background: #F46C08;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.titleB {
	background: #32B919;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 24px
}
.boxInnerHT {
	padding: 10px;
	text-align: center;
	overflow: hidden
}
 
.popupBox .boxInnerHT {
	color: #666
}
.popupBox p {
	font-weight: normal;
	text-align: justify
}
.hotline b {
	color: red;
	font-size: 1.2em
}
.nick_chat {
	width: 100%;
	float: left;
	margin: 3px 0;
}
.linkV {
	width: 100%;
	float: left;
	margin: 3px 0;
	color: #fff;
}
.linkV a, .linkV a:hover {
	color: #fff;
	padding: 0 10px;
}
.linkV a:before {
	content: "\2022";
	color: #fff;
	margin-right: 7px
}
/*  tab*/
/*tabs_info_pro*/
.tabs_info_pro {
	background:#32B919
}
ul.tabs_info_pro {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	width: 100%;
	 
	padding-top:5px;
	padding-left:5px;
}
ul.tabs_info_pro li {
	/*float: left;*/
	margin: 0;
	margin-top:5px;
	cursor: pointer;
	text-align: center;
	border-left: none;
	font-weight: bold;
	overflow: hidden;
	position: relative;
	font-size: 100%;
	 
	font-size: 100%;
	color: #fff;
	padding: 5px 10px;
	 
	font-weight: normal;
	/*width: 30%;*/
	display: table-cell;
	font-weight: bold;
	margin: 0;
	margin-bottom: -1px;
	text-transform: capitalize;
	margin-right: 1px;
	border-bottom: 0;
	margin-right: 1px
}
ul.tabs_info_pro li.active {
	background: #fff;
	 
	border-bottom: 0;
	color:#333;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}
.info_pro .tab_content {
	 
	border-top: 0;
	padding: 10px;
	overflow: hidden
} 
.tab_container {
	 
	clear: both;
	float: left;
	width: 100%;
	background: #FFFFFF;
}
.tab_content {
	padding: 20px;
	display: none;
	border: solid 1px #ddd;
	border-top-width: 3px
}
.tab_content textarea {
	width: 100%;
	min-height: 100px;
	resize: vertical
}
/*tab*/


.slideSamePro .product:hover .innerProduct{ border: solid 1px #32B919}

/*Cart*/
 
.cart_box {
	float: left;
	width: 100%
}
.cart_page {
	float: left;
	border: solid 1px #ddd;
}
.item_cart {
	width: 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: solid 1px #ddd
}
.item_cart.th {
	background: #f3f3f3
}
.item_cart.th div:first-child span {
	padding-left: 10px;
}
.item_img {
	width: 20%;
	float: left;
	text-align: center;
}
.item_img img {
	max-width: 90%;
	height: 90px;
}
.item_desc {
	width: 37%;
	float: left
}
.item_price {
	width: 15%;
	float: left
}
.item_qty {
	width: 8%;
	float: left
}
.price_cart {
	width: 15%;
	float: left;
	text-align: right
}
.item_qty input {
	width: 50px !important;
	float: left;
	border: 1;
	padding: 0;
	margin: 0;
	text-align: center
}
.cart_checkout .item_qty {
	width: 15%;
	text-align: center
}
.cart_checkout .item_desc {
	width: 50%
}
[class^="cell_"], [class*="cell_"] {
 width: 100%;
 float: left;
 overflow:hidden;
}
.old_price_c {
	margin-right: 10px;
	text-decoration: line-through
}
.sale_price_c {
	color: #C36
}
.button_cart {
	margin-top: 30px;
}
.button_cart .btn_c {
	padding: 6px 20px;
	border: solid 4px #666;
	background: #000;
	color: #fff !important;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
}
.button_cart .btn_c:hover {
	padding: 6px 20px;
	border: solid 4px #666;
	background: #000;
	color: #fff !important;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	border: solid 4px #C0C0C0;
	color: #fff;
}
.button_cart .btn_b {
	margin-right: 10px;
}
.btn_payment {
	margin-right: 0px;
}
.foo_cart {
	width: 100%;
	float: left;
	background: #f3f3f3;
	line-height: 30px;
	text-align: right;
	padding: 10px 0
}
.button_cart {
	width: 100%;
	float: left;
	margin: 20px 0
}
.foo_cart span {
	padding-left: 10px
}
.txt_sum, .txt_cart, .total_cart {
	float: left
}
.total_cart {
	text-align: right;
	float: right
}
.total_cart .pr {
	color: #C00909;
	font-size: 130%;
	padding-right: 10px;
}
.price_cart span {
	padding-right: 10px;
}
.sale {
	color: red
}
.remove_item_cart {
	margin-right: 20px;
	padding: 0 4px;
	background: #ccc;
	color: #fff;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	text-align: center !important;
	display: none;
	float: right;
}
.cell_name {
	font-weight: bold
}
.remove_item_cart:hover {
	background: #000;
}
.item_cart:hover .remove_item_cart {
	display: block
}
.per_off {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: url(../images/bg_off_cart.png) left center no-repeat;
	background-size: auto 100%;
	height: 23px;
	line-height: 25px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 77px
}
.cell_price{ font-weight:bold; font-size:14px;}
.cell_shipping {
	font-weight: bold;
	margin-bottom: 5px;
}
.new_price_c{ color:red; font-weight:bold}
/*End Cart*/


/*address checkout*/
.box_chk {
	width: 100%;
	float: left;
	border: solid 1px #ddd;
	line-height: 25px;
}
.box_chk .box_ct {
	padding: 2.5%;
	overflow: hidden;
	width: 95%;
	margin: 0 auto
}
fieldset {
	line-height: 25px
}
fieldset input[type="text"], fieldset input[type="password"], fieldset input[type="email"] {
	height: 25px;
	min-width: 300px
}
fieldset select {
	height: 35px;
}
.box_chk .box_tab {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd
}
.btn_r {
	float: right
}
.lbluser, .lblpass {
	width: 48%;
	float: left
}
.lblpass {
	float: right
}
.lbluser input, .lblpass input {
	width: 99%
}
.line_dashed {
	border-bottom: dashed 1px #ddd;
	margin: 10px;
	clear: both;
}
button.paypalbtn {
	background: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	height: auto
}
.box_address label {
	width: 100px;
	float: left;
}
.box_address fieldset select {
	background-color: #fff;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none;
	text-indent: .01px;
	text-overflow: '';
	height: 30px;
	border: 1px solid #ccc;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 0;
	cursor: pointer;
}
.box_address>fieldset select, .box_address>fieldset select {
	float: left;
	width: 65%;
}
.box_chk .rowck {
	min-height: 30px;
	padding: 5px 0; float:left; width:100%;
}
.txt_pobox, .txt_unit {
	width: 150px !important;
	min-width: 120px !important;
}
.shippingChoices label {
	width: 70%;
	margin-left: 20px
}
fieldset .shippingChoices label input {
	height: 10px !important
}
.contact_info input {
	width: 70%
}
.box_address_committed {
	background: #F0F0F0;
	margin-bottom: 10px;
}
fieldset input[type="radio"] {
	height: 10px !important;
	float: left
}
 
 fieldset{ border:0; padding:0; margin:0}
 .innerBoxAdds{ padding:10px; overflow:hidden}
 .contacBox{ margin-top:15px;}
 
 
 ..rowPay{ width:100%; float:left}
input[type="radio"] + label {
	display: none
}
input[type="radio"]:checked + label {
	display: block;
}
.chk_s {
	float: left;
	margin-top: 5px;
}

.frmn{ margin-left:auto; margin-right:auto; width:80%; float:left; margin:10px 10%; min-height:1px; display:table;}
.frm_group{  width:100%; float:left; margin:5px 0; }
.lbl{   width:30%; text-align:right; color:#000; float:left; margin:0; padding:0; font-weight:bold;  }
.input_group{ float:left; width:59%; text-align:left; margin-left:1%;vertical-align:top; }
.input_group .form-control{ height:25px; padding:0; margin:0; text-indent:10px; border:solid 1px #aeaeae; min-width:300px }
.red{ color:red}

 .fogotPass a{ text-decoration:underline; font-weight:bold}

.fogotPass { padding-bottom:20px; float:left; width:100%;}
