/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font: normal 12px/1.5 Arial, Helvetica, sans-serif;
	color:#3e3e3e;
	background: url(../Images/bg.gif) 0 0 repeat;
}
.tahoma12 {
	font: normal 12px Tahoma, Geneva, sans-serif
}
.tahoma14 {
	font: normal 14px Tahoma, Geneva, sans-serif
}
a {
	text-decoration: none;
	color: #3e3e3e;
}
a:hover {
	text-decoration: underline;
}
.clearfix {
	display: inline-box;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, boxquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.fl {
	float: left
}
.fr {
	float: right
}
/* WRAPPER --------*/
.wrap {
	width: 1000px;
	pading: 0 10px;
	margin: 0 auto;
}
#header:after, #footer:after, #main:after, .wrap:after, .pagination:after, .box_ct:after, .product_grid_row:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
/* LAYOUT

--------------------------*/
/*Top Main*/
.right_top_main {
	float: right;
	width: 620px;
	padding: 0;
	margin: 0;
}
/*Main*/
#left_col {
	width: 700px
}
#right_col {
	width: 290px
}
/* HEADER

--------------------------*/

#header {
	padding: 10px 0;
	position: relative;
	background: #FFFFFF;
}
#banner_head {
	float: left;
	width: 60%;
}
#banner_head img, #slogan img {
	max-width: 100%;
	max-height: 80px
}
.hotline {
	position: absolute;
	top: 25px;
	right: 0;
	background: url(../Images/hotline_menu.png) center left no-repeat;
	padding: 5px 0 0 28px;
	margin: 0;
	height: 30px;
	color: #ee1d25;
}
/*Box Cart*/
#box_cart {
	font-size: 1.2em
}
#box_cart span {
	display: block;
	margin: 3px 0;
	font-size: 14px
}
/* SEARCH */

#search_tool select {
	width: 90%;
	height: 25px;
	padding: 3px;
	margin: 5px auto
}
.submitSearch {
	margin: 10px 0
}
/*Idea*/
#idea .number_phone {
	display: block;
	margin: 3px 0 15px 0
}
/*Support Online*/
#support_online li {
	margin: 5px 0;
	padding-bottom: 8px;
	border-bottom: 1px dotted #CCCCCC
}
#support_online li:last-child {
	border: none;
	padding: 0
}
#support_online .number_phone {
	display: block;
	margin: 5px 0
}
/*Box*/
.box {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
	box-shadow: 0px 3px 3px 0px #999999;
	background:#FFFFFF;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
#right_col .box_ct {
	text-align: center
}
/*Tab*/
.box_Tab {
	height: 28x;
	background: url(../Images/bg_orange.png) bottom left no-repeat;
	padding-left: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	font: bold 14px/28px Arial, Helvetica, sans-serif
}
.box_Tab_right {
	height: 25px;
	line-height: 25px;
	background: #000000 url(../Images/bg_right_menu.gif) top right no-repeat;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: 700;
	text-align: center
}
/*List Products*/
.product_grid {
	display: table;
	border-collapse: collapse;
	font: normal 15px 'Roboto Condensed', Helvetica, sans-serif
}
.product_grid .product_item {
	float: left;
	display: table-cell;
	width: 169px;
	margin: 0 -1px -1px 0;
	border: 1px solid rgba(208, 223, 226, 0.50);
	text-align: center;
	height: 245px;
	overflow: hidden;
}
.product_grid .img_product {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 140px;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
}
.product_grid img {
	max-height: 100%;
	max-width: 100%;
}
.product_grid .product_name {
	display: block;
	font-size: 100%;
	width: 96%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.product_grid .price {
	color: #ff0000;
	font-size: 1.1em
}
.addtocart_btn {
	display: block;
	width: 100px;
	margin: 5px auto;
	height: 21px;
	line-height: 21px;
	background: #0a5cff url(../Images/greenBg.gif) 0 0 repeat-x;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 90%
}
.addtocart_btn:hover {
	text-decoration: none
}
.product_grid .box_caption {
	position: relative
}
.product_grid .cover {
	-moz-transition:bottom 0.4s ease;
	-webkit-transition:bottom 0.4s ease;
	-o-transition:bottom 0.4s ease;
	-ms-transition:bottom 0.4s ease;
	transition:bottom 0.4s ease;
	top: -210px;
	position: absolute;
	left: 0;
	background: #f8f8f8;
	padding: 5px 10px;
	height: 190px;
	overflow: hidden;
}
.product_grid .cover .short_des {
	margin: 5px 0;
	text-align: justify;
	line-height: 1.6;
}
.product_grid .cover h2 a {
	font: bold 13px Arial, Helvetica, sans-serif;
	text-align: center
}
.product_grid .cover li {
	margin: 5px 0
}
/*Pagination*/
.pagination {
	clear: both;
	font-weight: 700;
	text-align: center;
	width: 100%;
	font-size: 0.9em;
	padding: 15px 0 5px 0;
	line-height: 20px;
}
.pagination a {
	display: inline-block;
	border: 1px solid #006cff;
	margin: 0 2px;
	padding: 2px 8px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.pagination b, .pagination a:hover {
	display: inline-block;
	background: #006cff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 2px 8px;
	text-decoration: none;
}
/*News*/
#list_news li {
	border-bottom: 1px dashed #3F7100;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .view_more {
	bottom: -10px;
	position: absolute;
	right: 0;
	padding: 5px;
	background: #f25a21;
	text-decoration: none;
	color: #FFFFFF
}
#list_news .h3Title {
	padding-bottom: 5px;
	font-size: 1.1em;
	font-weight: 700;
	text-transform: none;
}
#list_news p {
	margin: 0 0 1em 0;
	color: #3e3e3e;
	line-height: 150%
}
#list_news img {
	border: medium none;
	max-width: 150px;
	height: auto
}
.date {
	color: #878787;
	font: 11px Arial;
	margin: 0;
	padding-bottom: 5px
}
#detail_news {
	float: left;
}
.cover_info {
	float: left;
	width: 100%;
}
#detail_news .cover_info {
	width: 100%;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -37px;
}
a.opinion {
	background-position: 0 -82px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	margin: 10px 0;
	position: relative;
	color: #0066ff;
	font-weight: 700;
}
.other_news_sub li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #FF0C00;
}
#info_g, #info_g p {
	line-height:1.5
}
/*Curent Path*/
.path {
	float: left;
	width: 99%;
	padding-bottom: 10px;
	text-align: left;
	text-transform: none;
	font-size: 11px;
}
.path a, path {
	color: #006cff
}
/*Footer*/
#footer {
	clear: both;
	background: #000000;
	padding: 15px 0;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.2em;
}
#footer p {
	padding: 0;
	margin: 0 0 3px 0;
}
#visitors {
	margin-top: 20px
}
/*Detail Products*/
#dtp_info {
	float: right;
	width: 50%;
}
.h2Title {
	font-size: 20px;
	color: #e87403;
	margin-bottom: 5px;
}
.dtp_status {
	clear: both;
	display: block;
	width: 100%;
	margin: 8px 0
}
#short_des_dtp {
	line-height: 18px;
	text-align: justify;
	font-size: 13px !important
}
.description_dtp {
	border-top: 1px solid #f9f6ec;
	padding:15px 5px 10px 5px;
	line-height: 20px;
	color: #747272;
}
.title_status {
	font-weight: 700;
	color: #191919;
	padding-right: 10px
}
.info_price_dtp {
	padding: 15px 0;
	margin-top: 20px;
	color:#303030;
	margin-bottom:20px;
}
.price_dtp {
	display: block;
	font-size: 1.6em;
	color: #af0101;
	margin-top: 20px;
}
.addtocart_dtp {
	padding-top: 10px;
}
.quantity_dtp {
	float: left;
	font-size: 1em;
	margin-top: 15px;
	display: inline-block
}
.button_cart {
	margin-top: 20px
}
.button_cart a {
	display: inline-block;
	margin-left: 10px
}
.button_cart .addtocart_btn {
	width: auto;
	padding: 3px 15px;
	font-size: 1.2em
}
/*Cart*/
table#page_cart {
	border-collapse: collapse;
	width: 100%;
	color: #444444;
	margin-top: 10px;
}
table#page_cart th, table#page_cart td {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 8px 0;
	text-align: center;
	vertical-align: middle
}
table#page_cart th {
	background: #F3F3F3;
	color: #333333;
}
table#page_cart td.td_price {
	width: 100px;
}
table#page_cart td.td_price span#vnd {
	color: #999999 !important;
}
table#page_cart td.ttd_price {
	border-right: medium none !important;
	font-weight: bold;
	padding-right: 20px !important;
	text-align: right;
}
table#page_cart td.ttd_price_t {
	border-left: medium none !important;
	color: #C21717;
	font-weight: bold;
	padding-left: 20px !important;
	text-align: center;
	font-size: 15px;
}
table#page_cart td.td_quantity input[type="text"] {
	border: 1px solid #dfdacb;
	color: #929292;
	height: 17px;
	text-align: center;
	width: 30px;
}
table#page_cart td.td_quantity .update_quantity {
	display: block;
	margin-top: 5px;
	text-align: center
}
