#fwslider {
	position: relative;
	width:100%;
	max-width: 1920px;
	margin: 0 auto 5px 0;
	height: 250px !important;
	overflow: hidden;
}
#fwslider .slider_container {
	position: relative;
	width:100%;
	height:250px;
	margin: auto;
}
#fwslider .slide {
	display: none;
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
	width:100%;
	text-align:center;
}
#fwslider .slide img {
	text-align:center;
	width: 100%;
}
#fwslider .slidePrev {
	/*background:#000;*/
    width:51px;
	height:53px;
	position: absolute;
	top:50% !important;
	margin-top: -26px;
	left: 50% !important;
	margin-left: -490px;
	opacity:0.5;
	z-index: 10;
	cursor: pointer;
}
#fwslider .slidePrev span {
	float: left;
	width: 51px;
	height: 53px;
	background: url(../Images/arrow.png) 0 0 no-repeat;
}
#fwslider .slideNext {
	width:51px;
	height:53px;
	position: absolute;
	top:50% !important;
	margin-top: -26px;
	left: 50% !important;
	margin-left: 440px;
	opacity:0.5;
	z-index: 10;
}
#fwslider .slideNext span {
	float: left;
	width: 51px;
	height: 53px;
	background: url(../Images/arrow.png) -51px 0 no-repeat;
	cursor: pointer;
}
.bor_sli_h {
	width: 880px;
	margin: 0 auto;
	position: relative;
}
#fwslider .timers {
	position: absolute;
	height:4px;
	bottom:15px;
	right: -50px;
	z-index: 3;
}
#fwslider .timer {
	height:4px;
	width:40px;
	background-color: #000;
	float:left;
	margin-right: 10px;
}
#fwslider .progress {
	height:4px;
	width:0%;
	background-color: #ed1b2f;
	float:left;
}
#fwslider .slide_content {
	top:0;
	left:0;
	position: absolute;
	width:100%;
	height:100%;
}
#fwslider .slide_content_wrap img {
	width:auto !important;
	height:auto !important;
}
#fwslider .slide_content_wrap { /* Slider Text Content Container Style */
	max-width:1280px;
	margin:0 auto;
	position: relative;
	z-index: 1000;
}
#fwslider .title {  /* Slider Title Style */
	opacity: 0;
	color:#fff;
	font-size:36px;
	float:left;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	margin-bottom:15px;
}
#fwslider .description { /* Slider Description Style */
	opacity: 0;
	color:#FC3;
	font-size:18px;
	clear:both;
	float:left;
	margin-top:2px;
	line-height:24px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}
#fwslider .readmore { /* Slider Read More button Style */
	opacity: 0;
	clear:both;
	float:left;
	text-transform:uppercase;
	font-size:10px;
	color:#919191;
	display: inline-block;
	text-decoration: none;
	margin-top:2px;
	width:100%;
	height:250px;
	left: 0px;
	top: 0px;
	position:absolute;
}
#fwslider .readmore:hover {
	color:#fff;
}
 @media only screen and (min-width:720px) and (max-width: 1600px) {
 #fwslider .slide_content_wrap {
}
 #fwslider .title {
font-size:26px;
}
 #fwslider .description {
font-size:12px;
}
}
 @media only screen and (max-width:719px) {
 #fwslider .slide_content_wrap {
display:none;
}
 #fwslider .timers {
display:none;
}
 #fwslider .slide_content {
cursor: pointer;
}
}
