@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,100,400italic,500,500italic,700&subset=latin,vietnamese);
@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font: normal 13px/1.5 Arial, Helvetica, sans-serif;
	color:#333333;
	background: #ececec;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
	overflow-x: hidden;
}
@font-face {
 font-family: 'Roboto Condensed';
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot');
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/robotocondensed-regular-webfont.woff') format('woff'), url('../Images/Fonts/robotocondensed-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #0042ff;
}
a:hover {
	text-decoration: none;
	color: #ff2a00
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	background: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding-left: 5px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.font1 {
	font-family: 'Roboto Condensed', Helvetica, sans-serif
}
.line {
	height: 2px;
	background: url(../Images/lineBg.gif) 0 0 repeat-x;
	display: block;
	margin: 8px 0
}
/* WRAPPER --------*/
.wrap {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
/* LAYOUT

--------------------------*/
#main {
	background: #1e54c2 url(../Images/mainBg.jpg) center top no-repeat;
	background-size: 100% 415px;
}
#left_col {
	width: 73%;
	background: #FFFFFF
}
#right_col {
	width: 26%;
}
.wrap:after, #header:after, #footer:after, .category_home_static:after, .box:after, .box_ct:after, .product:after, .topnav:after, #intro:after, #partners:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/* HEADER

--------------------------*/
#header {
	background: #06659d url(../Images/headerBg.jpg) center 0 no-repeat
}
#header .container {
	position: relative;
	background: #06659d url(../Images/headerBg.jpg) center 0 no-repeat
}
#logo {
	display: block;
	width: 20%;
	text-align: center;
	margin-left: 2.5%;
	margin-top: 2.5%;
}
#banner_header {
	display: block;
	width: 75%;
}
#banner_header img {
	margin-top: 10px
}
#logo img, #banner_header img {
	z-index: 10;
	max-width: 100%;
}
#toplink ul {
	float: right;
	height: 25px;
	line-height: 25px
}
#toplink li {
	float: left;
	display: inline-block
}
#toplink li a {
	border-left: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 0 10px
}
#toplink li:first-child a {
	border: none
}
#toplink .select-menu {
	display: none;
	font: normal 100% Arial, Helvetica, sans-serif;
	color: #1946a1;
	cursor: pointer;
	height: 28px;
	padding: 3px;
	margin: 0;
	outline: medium none;
	padding: 5px;
	width: 100%;
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
	background: #FFFFFF
}
/*Tab*/
.box_Tab {
	width: 100%;
	height: 61px;
	line-height: 61px;
	text-align: center;
	background: url(../Images/tabBg.png) 0 0 repeat-x;
	color: #00529f;
	font-size: 18px;
	text-transform: uppercase
}
#right_col .box_Tab {
	background: #2157c4 url(../Images/Tab_rightBg.gif) 0 0 repeat-x;
	color: #FFFFFF
}
/*Box Support*/
#box_support li {
	margin-top: 10px
}
#box_support b {
	margin-right: 10px
}
#box_support .number_phone {
	display: block;
	color: #a31a1a;
	font-size: 1.2em;
	font-weight: 700;
	margin-top: 8px;
	margin-left: 30%
}
/*Link web*/
#link_web {
	padding: 10px
}
#link_web select {
	display: block;
	width: 100%;
	height: 25px;
	padding: 3px
}
/*Ads*/
.ads img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px
}
/*Services*/
#service {
	background: #196202 url(../Images/cateBg.gif) 0 0 repeat;
	-moz-box-shadow: 1px 2px 5px #000000;
	-webkit-box-shadow: 1px 2px 5px #000000;
	box-shadow: 1px 2px 5px #000000;
}
#service .container {
	background: url(../Images/cateBg.gif) 0 0 repeat;
	color: #ff0018;
	padding: 20px 0
}
#service .item_service {
	position: relative;
	width: 96%;
	height: 250px;
	margin: 0 auto;
	background: url(../Images/cateBg.png) center 0 no-repeat;
	padding-top: 40px;
}
#service .img_cate {
	width: 90%;
	margin: 0 auto 5px auto;
	height: 215px;
	overflow: hidden;
	display: block;
	text-align: center;
	-moz-box-shadow: 1px -1px 5px #8a8a8a;
	-webkit-box-shadow: 1px -1px 5px #8a8a8a;
	box-shadow: 1px -1px 5px #8a8a8a;
}
#service .img_cate img {
	height: 100%;
	width: auto
}
#service h2 {
	padding: 5px 0;
	text-align: center;
}
#service .cate_name {
	width: 100%;
	padding: 0;
	font-weight: 500;
}
/*Intro*/
#intro {
	padding: 10px 0;
	margin-bottom: 10px;
	font-size: 1.7em;
	line-height: 25px;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
}
#intro p {
	margin: 3px 0;
}
/*List Products*/
.category_home_static {
	background: #FFFFFF;
	padding-bottom: 15px;
}
.category_home_static .cate_item {
	float: left;
	background: url(../Images/line_shadowBg.png) left center no-repeat;
	background-size: 15px 100%
}
#news_home {
	width: 25%
}
#gallery_images {
	width: 43%
}
#list_video {
	width: 32%
}
/*News Home*/
#news_home .title_news {
	color: #1e54c2;
	font-weight: 700;
	text-transform: uppercase
}
#news_home .date {
	display: block;
	color: #2bc701;
	margin: 5px 0
}
#news_home .img_general {
	max-width: 40%;
	height: auto;
	max-height: 100px
}
#news_home .short_des_news {
	max-height: 95px;
	overflow: hidden;
	margin: 0;
	text-align: justify
}
#news_home .other_title {
	height: 25px;
	line-height: 25px;
	font-weight: 700
}
#news_home .list_new_home li {
	margin: 5px 0
}
#news_home .list_new_home a {
	padding-left: 15px;
	background: url(../Images/arrow_on.png) 0 5px no-repeat
}
/*Gallery Images*/
#gallery_images {
	display: table
}
#gallery_images .pagination li {
	float: left;
	width: 31%;
	margin: 8px 10px 0 0;
}
#gallery_images .pagination li:nth-child(3n+3) {
margin-right: 0
}
#gallery_images .pagination a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 120px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF
}
#gallery_images .pagination img {
	width: 96%;
	margin: 0 auto
}
.simplePagerContainer {
	margin-left: 3%
}
ul.simplePagerNav {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
ul.simplePagerNav li {
	margin: 0 5px;
	padding: 5px;
	display: inline-block;
}
ul.simplePagerNav li a {
	display: inline-block;
	color: #333;
	font-weight: 700;
	text-decoration: none;
}
ul.simplePagerNav li.currentPage a {
	color: #ee2424;
	text-decoration: underline
}
/*Vertical menu*/
.topnav {
	background: #bbbcbb
}
.nav_list {
	display: block;
	z-index: 999999;
}
.topnav ul ul {
	background: #FFFFFF;
	padding-bottom: 3px
}
.topnav li {
	position: relative;
}
.topnav li li:last-child {
	margin-bottom: 3px;
}
.topnav li a {
	display: block;
	padding: 7px 5px 7px 10px;
	font-size: 1em;
	font-weight: 700;
}
.topnav > ul > li > a {
	font-size: 100%;
	background: #FFFFFF;
	margin-bottom: 1px;
}
.topnav > ul > li:last-child > a {
	margin: 0
}
.topnav > ul > li.active > a, .topnav > ul > li > a:hover {
	background: #4e84f1;
	color: #FFFFFF;
	text-decoration: none
}
.topnav ul ul a {
	outline:0;
	text-transform: none;
	padding-left: 30px;
	color: #000000;
}
/*Pagination*/
.navigation {
	clear: both;
	font-weight: bold;
	margin: 10px 0 15px 0;
	text-align: right;
	width: 100%;
}
.navigation a {
	padding: 4px 5px;
	color: #444444;
	border-right: 1px solid #333333;
}
.navigation b, .navigation a:hover {
	color: #FFFFFF;
	background: #1e54c2;
	padding: 4px 5px;
	border-right: 1px solid #1e54c2;
	text-decoration: none
}
.navigation a:last-child {
	border: none
}
/*List News*/
#list_news ul {
	padding: 10px;
}
#list_news li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .h3Title {
	padding: 0 0 3px 0;
}
#list_news p {
	margin: 0 0 1em 0;
}
#list_news img {
	opacity: 0.8;
	border: 1px solid #e5e5e5;
	padding: 3px;
	max-width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}
#list_news img:hover {
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#list_news .view_detail {
	font-size: 11px;
	width: 50px;
	float: right;
	margin-top: 10px;
	background: url(../Images/button_Bg.png) 0 0 repeat-x;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
#detail_news {
	padding: 10px
}
.h2Title {
	font-size: 1.8em;
	font-family: 'Roboto Condensed', Helvetica, sans-serif;
	font-weight: 500;
	color: #ff2a00;
	margin-bottom: 5px;
}
#info_g, #info_g p {
	line-height: 1.4
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
#info_g img {
	max-width: 100%
}
.date {
	color: #878787;
	font-size: 11px
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 45%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -32px
}
a.opinion {
	background-position: 0 -73px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_on.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin: 10px 0;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	text-align: left;
	text-transform: none;
	font-size: 12px;
	padding: 10px 10px 0 10px;
}
.path a {
	color: #333333
}
/*Main Footer*/
/*Footer*/
#footer {
	color: #FFFFFF;
	padding: 10px;
	background: url(../Images/footerBg.gif) 0 0 repeat
}
#footer a {
	color: #FFFFFF
}
#footer_menu {
	text-align: center;
	margin-bottom: 15px
}
#footer_menu a {
	display: inline-block;
	font-size: 1.1em;
	border-left: 1px solid #FFFFFF;
	line-height: 1em;
	padding: 0 8px;
	margin: 5px 0;
}
#footer_menu a:first-child {
	border: none
}
#info_footer {
	width: 60%;
	text-align: left;
}
#info_footer p {
	margin: 0 0 5px 0
}
#copyright {
	clear: right;
	margin-top: 10px;
	text-align: right;
}
/*Social Network*/
#social_network span {
	text-align: right;
	display: inline-block;
	width: 25px;
	height: 28px;
	margin-left: 3px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_gplus {
	background-position: -34px 0
}
.icon_youtube {
	background-position: -65px 0
}
/*Send Email Print*/
.modalBackground {
	background-color: Black;
	opacity: 0.8;
}
.modalPopup {
	background-color: #FFFFFF;
	border-color: #949494;
	border-radius: 10px 10px 10px 10px;
	border-style: solid;
	border-width: 10px;
	height: auto;
	width: 430px;
}
#outter_print {
	width: 600px;
	margin: 0px auto;
	padding: 0
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
/* LAYOUT

--------------------------*/


}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
body {
 font-size: 100%;
}
/*Layout*/
#left_col {
width: 100%
}
#right_col {
width: 100%;
float: left
}
/*Header*/
#banner_header {
margin-top: 3%;
}
/*Top link*/
#toplink {
padding-top: 5px
}
#toplink ul {
display: none
}
#toplink .select-menu {
 display: block;
}
#news_home, #gallery_images, #list_video {
width: 100%;
margin: 0
}
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
#topcontrol {
position: relative !important;
right: 0;
margin-top: 20px;
width: 100%;
height: 40px;
text-align: center;
}
/*Footer*/
#footer_menu {
display: none
}
#intro, #news_footer, #more_info_foo {
width: 100%;
margin-bottom: 20px
}
.ctentColuMenuFooter {
width: 100%
}
.listMenuFooter .img_general {
width: 100px;
border: 1px solid #298e09;
padding: 2px
}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
/*Header*/
#logo, #banner_header {
float: none;
width: 100%;
height: auto
}
#logo img {
margin: 5px auto
}
/*Gallery Images*/
#gallery_images .pagination li {
 float: left;
 width: 47%;
 margin: 8px 10px 0 0;
}
 #gallery_images .pagination li:nth-child(3n+3) {
margin-right: 10px
}
#gallery_images .pagination li:nth-child(2n+2) {
margin-right: 0 !important
}
 .like_face, .toolbar {
 float: none;
width: 100%;
 text-align: center;
 margin: 5px 0
}
/*Footer*/
#footer > .container > div {
float: none;
width: 100%;
text-align: center
}
#info_footer img {
float: none;
max-width: 100%;
margin-bottom: 10px
}
}
@media only screen and (min-width: 220px) and (max-width: 479px) {
body {
overflow-x: hidden
}
 .modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
}
/* Dropdownlis*/
.type_option {
	width:100%
}
