@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
@font-face {
font-family:Oswald;
src: url('../Images/font/VNFOswald.ttf'); /* IE9 */
}
#myFonts {
	font-family:oswald;
}
body#bd {
	font-size: 13px;
	font-family: Tahoma, Geneva, sans-serif;
	color:#333333;
	background: #FFFFFF;
}
a {
	text-decoration: none;
	color: #6d4500;
}
a:hover {
 text-decoration;
unicode-bidi:;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.img_cate {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cdcdd2;
}
input {
	border:none;
}
.inputbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #cacaca;
 p  adding: 5px;
}
.img_ads {
	float: left;
	width: 100%;
	margin: 10px 0;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	padding: 0;
}
.page_inner {
	padding: 0;
	margin: 0 auto;
	width: 1000px;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 10px 0;
	display: block;
	width: 100%;
	clear: both;
}
.main_content {
	float: left;
	width: 740px;
	padding: 0;
	margin: 5px 0;
}
.right_content {
	float: right;
	width: 250px;
	padding: 0;
}
/* HEADER

--------------------------*/
.header {
	float: left;
	width: 100%;
	background: url(../Images/top_pageBg.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.header_r {
	float: right;
	position: relative
}
.top_link {
	margin-top: 5px;
	height: 20px;
	line-height: 20px;
}
.top_link li {
	float: left;
	margin-left: 20px;
}
.top_link a {
	display: inline-block;
	padding-left: 18px;
	background-image: url(../Images/icon.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
}
.top_link li a.cart {
	background-position: 0 -32px
}
.top_link li a.login {
	background-position: 0 -60px
}
.top_link li a.register {
	background-position: -192px -60px
}
.language {
	position: absolute;
	top: 30px;
	right: 200px;
	width: 50px;
}
.language a {
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0
}
.top_link a.vn_lang {
	background-position: 0 -87px
}
.top_link a.en_lang {
	background-position: 0 -118px
}
/*Top Main*/
.top_main_banner {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.banner_scroll {
	position: absolute;
	top: 155px;
}
/* SEARCH TOP MAIN */
.search {
	position: absolute;
	top: 32px;
	right: 0;
	height: 20px;
	overflow: hidden;
	width: 190px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e5e1c2;
	background: #FFFFFF;
}
.search .input_Search {
	border: medium none;
	color: #000000;
	float: left;
	font: 12px Tahoma, Geneva, sans-serif;
	height: 14px;
	line-height: 14px;
	padding: 3px 0 3px 5px;
	width: 160px;
	background: none;
}
.search .search_btn {
	position: absolute;
	top: 1px;
	right: 0;
	width: 22px;
	height: 20px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content_center {
	padding: 5px;
}
/* Create arrow right */
.arrow_right {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ffffff;
	top: 30%;
	right: -10px;
}
/* Create arrow down */
.arrow_down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f74203;
	position: absolute;
	top: 45%;
	right: 0;
}
.arrow_down1 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFF;
	position: absolute;
	top: 45%;
	right: 14%;
}
/*Categories Index*/
.categories_index {
	float: left;
	margin-left: -69px;
}
.categories_index .cate_li {
	float: left;
	width: 287px;
	margin-left: 69px;
	text-align: left;
}
.categories_index .cate_name {
	height: 30px;
	overflow: hidden;
	line-height: 25px;
	padding: 0;
	margin: 10px 0;
	background: url(../Images/dot_Bg.jpg) bottom left repeat-x;
}
.categories_index .cate_name a {
	color: #bf0000;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.categories_index .cate_name span {
	float: left;
	background: #FFFFFF;
	position: relative;
	top: 10px;
	padding: 0 5px
}
/*Tab*/
.box_Tab {
	width: 100%;
	height: 43px;
	line-height: 30px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 500;
}
.right_content .box_Tab {
	background: #e5e5e5;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 16px;
	color: #555555;
	text-transform: uppercase;
}
.right_content .box_Tab span {
	padding-left: 10px;
}
.tab_index {
	float: left;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: url(../Images/tab_indexBg.png) center 0 no-repeat;
	background-size: 100% 100%;
	font-family: "Oswald";
	font-size: 18px;
	text-align: center;
	color: #6d4500
}
.tab_subpage {
	font-family: Tahoma, Geneva, sans-serif;
	margin-bottom: 10px
}
/*================Ho Tro Truc Tuyen===============*/

* html div#block_Bottom {
	position: absolute;
	overflow:hidden;
}
#block_Bottom {
	color:#666;
	position:fixed;
	_position: absolute;
	float:right;
	right:40px;
	bottom:0;
	margin:0;
	z-index:90000
}
#coh963846 {
	display:block;
	font-size:10px;
	color:#fFF;
	background:#878787;
	padding:2px 0 2px 5px
}
#coh963846 a {
	color:#690;
	text-decoration:none;
}
#coc67178 {
	float:right;
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	height:15px;
}
#coc67178 li {
	display:inline;
}
#coc67178 li a {
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	width:12px;
	height:0;
	padding-top:12px;
	overflow:hidden;
	float:left;
}
#coc67178 li a.close {
	background-position: 0 0;
}
#coc67178 li a.close:hover {
	background-position: 0 -15px;
}
#coc67178 li a.min {
	background-position: -30px 0;
}
#coc67178 li a.min:hover {
	background-position: -30px -15px;
}
#coc67178 li a.max {
	background-position: -15px 0;
}
#coc67178 li a.max:hover {
	background-position: -15px -15px;
}
#co453569 {
	display:block;
	height:200px;
	margin:0;
	padding:0;
	border:1px solid #878787;
	overflow:hidden;
	background:#FFF
}
.support {
	height:10px;
	padding:2px 4px;
}
.support a {
	padding:5px 0 0 0;
	line-height:10px;
	color:#333;
	font-size:10px;
	float:left
}
.support a:hover {
	text-decoration:none;
	color:#f00
}
/*Product*/
.product_row {
	margin-left: -34px;
}
.product {
	float: left;
	text-align: center;
	width: 222px;
	height: 320px;
	overflow: hidden;
	border: 1px solid #e0e0e3;
	margin: 10px 0 0 34px;
	position: relative;
}
.product:hover {
	background: #e8e6e9
}
.product_inner {
	padding: 10px;
}
.img_product {
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease;
	width: 200px;
	height: 240px;
}
.product_name a {
	display: block;
	width:100%;
	text-align: left;
	margin: 0;
	font-size:14px;
	font-weight:bold;
	height: 20px;
	padding: 5px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.price {
	float: left;
	z-index:100;
	font: normal 18px "Oswald";
	color: #d73d1f;
}
.price sup {
	font: normal 14px Tahoma, Geneva, sans-serif;
	color: #777777
}
.buy_bt {
	float: right;
	display: block;
	width: 80px;
	height: 33px;
	line-height: 33px;
	background:url(../Images/button_Bg.png) 0 -57px repeat-x;
	text-shadow: 0 1px 1px #888888;
	text-transform: uppercase;
	color: #fdeec9;
	font-family: "Oswald";
	font-size: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*Vertical menu*/
.vertical_menu {
	list-style: none outside none;
	width: 100%;
	margin: 0 auto;
}
.vertical_menu li {
	position: relative
}
.vertical_menu li a {
	display: block;
	font-weight: 500;
	text-align: left;
	text-decoration: none;
	line-height: 20px;
	color: #bf0000;
	font-size: 15px;
	padding: 6px 0 6px 20px;
	border-bottom: 1px dotted #e6e4e7;
	background: url(../Images/bullets.png) no-repeat scroll 3px 10px transparent;
}
.vertical_menu li.active a {
	color: #d8421c;
	font-weight: 700
}
.vertical_menu ul {
	display: none;
	position: absolute;
	top: 50%;
	left: -100%;
	z-index: 9999;
	width: 100%;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
	height: auto;
}
.vertical_menu li ul li a, .vertical_menu li.active ul li a {
	text-transform: none;
	color: #3e3e3e;
	font-weight: 500;
}
.vertical_menu li.vl {
	border: none;
}
/*Ads Bottom Corner*/
/*================Ho Tro Truc Tuyen===============*/

* html div#block_Bottom {
	position: absolute;
	overflow:hidden;
}
#block_Bottom {
	color:#666;
	position:fixed;
	_position: absolute;
	float:right;
	right:0;
	bottom:0;
	margin:0;
	z-index:90000;
	width: 150px;
}
#coh963846 {
	display:block;
	font-size:10px;
	color:#fFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 3px 0 0 5px;
	height: 25px;
	line-height: 18px;
	width: 140px;
	font-size: 13px;
	font-weight: 500;
	background: #6e471b;
	border: 1px solid #b2b1af;
	border-bottom: none;
}
#coh963846 a {
	color:#690;
	text-decoration:none;
}
#coc67178 {
	float:right;
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	height:14px;
	margin-right: 3px;
	margin-top: 3px;
}
#coc67178 li {
	display:inline;
}
#coc67178 li a {
	background-image:url(../images/button.png);
	background-repeat:no-repeat;
	width:12px;
	height:0;
	padding-top:14px;
	overflow:hidden;
	float:left;
}
#coc67178 li a.close, #coc67178 li a.close:hover {
	background-position: -24px 3px;
	width:20px;
}
#coc67178 li a.min, #coc67178 li a.min:hover {
	background-position: -12px 3px;
}
#coc67178 li a.max, #coc67178 li a.max:hover {
	background-position: 2px 3px;
}
#co453569 {
	display:block;
	width: 145px;
	height:200px;
	margin:0;
	padding:0;
	overflow:hidden;
	background:#FFF;
	border: 1px solid #b2b1af
}
.support a {
	padding:5px 0;
	line-height:10px;
	color:#333;
	font-size:11px;
	display: block;
}
.support a:hover {
	text-decoration:none;
	color:#f00
}
/*Pagination*/
.pagination {
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding-top: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 100%;
}
.pagination a {
	border: 1px solid #6f7070;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 3px 8px;
	color: #6f7070;
}
.pagination b, .pagination a:hover {
	background: #6f7070;
	border: 1px solid #6f7070;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*List News*/
.list_news {
	float: left;
	width: 100%;
}
.list_news ul {
	padding: 10px 0;
}
.list_news ul li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .h2Title {
	padding: 0 0 3px 0;
}
.list_news .hot_news .h2Title a {
	font-size: 18px;
}
.list_news .h2Title a {
	font-size: 13px;
}
.list_news p {
	margin: 0 0 1em 0;
}
.list_news img {
	border: 1px solid #e5e5e5;
	padding: 3px;
}
.list_news .view_detail {
	font-size: 11px;
	width: 50px;
	float: right;
	margin-top: 10px;
	background: url(../Images/button_Bg.png) 0 0 repeat-x;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
/*Detail Product*/
#detail_page, #detail_page p {
	line-height: 170%;
	margin: 10px 0;
}
.detail_info {
	float: left;
	width: 400px;
}
.float_L {
	float: left;
	clear: both;
}
.float_L span {
	float: left;
	width: 120px;
	font-weight: 700;
	line-height: 30px
}
.code_p {
	float: right;
	margin: 5px 0;
	font-style: normal
}
.detail_info .inputbox {
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	width: 100px;
	-moz-box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-box-shadow:inset 1px 2px 3px #dddddd;
	box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cbcbcb;
}
.detail_info .quantity, .detail_info .color {
	margin-top: 5px;
}
/* Select option */
.detail_info select {
	padding:5px 9px 5px 0;
	margin-right: 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: 0 0 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 0 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 0 0 #ccc, 0 -1px #fff inset;
	background: #FFFFFF;
	color:#888;
	border: 1px solid #CCCCCC;
	outline:none;
	display: inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	width: 110px;
	font-size: 13px;
	color: #333333;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
select {
padding-right:18px
}
}
.detail_info label {
	position:relative;
	font-size: 13px;
}
.detail_info label:after {
	content:'<>';
	font:12px "Consolas", monospace;
	color:#aaa;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	transform:rotate(90deg);
	right: 13px;
	top: 0;
	padding:0 0 2px 0;
	/*border-bottom:1px solid #ddd;*/	
	position:absolute;
	pointer-events:none;
}
.detail_info label:before {
	content:'';
	right: 13px;
	top: 0;
	width: 23px;
	height:18px;
	background:#FFFFFF;
	position:absolute;
	pointer-events:none;
	display:block;
}
.detail_info .dt_price {
	font-size: 30px;
	color: #c50000;
	margin-top: 20px
}
.detail_info .dt_buy {
	float: left;
	margin-top: 20px;
	display: block;
	width: 120px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	text-shadow: 2px 1px 1px #888888;
	text-transform: uppercase;
	background: url(../Images/button_Bg.png) 0 0 repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #965a00;
	font-family: "Oswald";
}
.h1Title {
	font: normal 22px "Oswald";
	color: #a96a05
}
.date {
	color: #878787;
	font: 11px Tahoma, Geneva, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	float: left;
	width: 100%;
	padding-bottom: 3px;
	border-bottom: 1px solid #dddde0;
	font-weight: 500;
	text-align: left;
	text-transform: none;
	font-size: 12px;
}
.path a {
	color: #6d4500
}
/*Footer*/
.footer {
	float: left;
	width: 100%;
	margin: 0 auto;
	padding-top: 5px;
	background: url(../Images/top_pageBg.png) center 0 no-repeat;
	background-size: 100% 100%;
	color: #6d4500;
}
.footer a {
	color: #FFFFFF;
}
.footer p {
	margin: 5px 0;
}
.info_footer {
	float: left;
	width: 50%;
}
.r_footer {
	float: right;
	text-align: right;
}
.payment {
	float: right;
	width: 183px;
	height: 35px;
	background: url(../Images/icon.png) 0 -246px no-repeat
}
.link_connect {
	float: right;
	clear: right;
	margin: 5px 0
}
.link_connect span {
	display: inline-block;
	width: 30px;
	height: 30px;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
	background-image: url(../Images/icon.png);
	background-repeat: no-repeat
}
.link_connect span.email {
	background-position: 0 -152px
}
.link_connect span.facebook {
	background-position: -38px -152px
}
.link_connect span.twitter {
	background-position: -73px -152px
}
.link_connect span.g_plus {
	background-position: -109px -152px
}
.link_connect span.youtube {
	background-position: -146px -152px
}
.link_connect span.rss {
	background-position: -182px -152px
}
.link_connect span.email:hover {
	background-position: 0 -192px
}
.link_connect span.facebook:hover {
	background-position: -38px -192px
}
.link_connect span.twitter:hover {
	background-position: -73px -192px
}
.link_connect span.g_plus:hover {
	background-position: -109px -192px
}
.link_connect span.youtube:hover {
	background-position: -146px -192px
}
.link_connect span.rss:hover {
	background-position: -182px -192px
}
.visitors {
	margin-bottom: 5px;
}
.copyright {
	float: left;
	width: 100%;
	background: url(../Images/copyright_Bg.png) center 0 no-repeat;
	background-size: 100%;
	margin-top: -20px;
	text-align: center;
	color: #FFFFFF;
}
.copyright .design_by {
	margin-top: 10px;
}
/*LightBox*/
#lightbox_me {
	float: left;
	clear: both;
	margin-top: 10px;
	color: #d73b1c
}
#box_lightbox {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #FFFFFF;
	padding: 20px;
	width: 500px;
	text-align: center;
	position: relative;
	display: none;
}
.box_light_inner {
	padding: 20px;
	height: 500px;
	overflow: auto;
}
#close_x {
	width: 20px;
	height: 20px;
	overflow: hidden;
	line-height: 1000px;
	display: block;
	position: absolute;
	top: -5px;
	right: -5px;
	background: url(../Images/close_icon.png) 0 0 no-repeat;
}
