<!--Contact-->

.contact_content {
	width: 500px;
	height: 600px;
	margin-top: 10px;
	padding: 130px 0 0 240px;
	background: #222222;
	text-transform: uppercase;		
}
/* COMMON STYLE

--------------------------------------------------------- */

html,body,fieldset {margin: 0;padding: 0;}



body {margin: 0;padding: 0;}

body#bd {	font-size: 13px;

	font-family: Tahoma;

	color:#311b1b;
	
	background: #383636;
}

a { text-decoration: none;  color: #08951c;}

a:hover { text-decoration: underline; }

.clearfix:after {

	content: ".";

	display: block;

	height: 0;

	clear: both;

	visibility: hidden;

	line-height:0;



}

.clearfix {display: inline-block;}


* html .clearfix { height: 1%;}

.clearfix {display: block; clear: both;}

img{border: none;}

h1 {font-size: 18px;}

h2 {font-size: 16px;}

h3 {font-size: 14px;}

h4 {font-size: 13px;}

ul {list-style: none;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0;

	padding: 0;

}
/* WRAPPER --------*/

#wrapper {margin: 0; padding: 0; width: 100%; }

#page {width: 1000px; margin: 0 auto; background:#383636; }

/* LAYOUT

--------------------------*/

.main {float: left; margin: 0 auto; padding: 0; display: block; width: 100%; height:auto; clear: both; margin-top: 10px;}

.left {width: 250px; float: left; clear: both;}

.right {width: 750px; float: right; background: #222222;}

.right_inner { padding-left: 10px;}


/* TOP MENU ------*/

#nav_menu {
    float: left;
	width:100%;
	line-height:normal;
	height: 40px;
	background: #3e3e33;
	padding-top: 5px;
	}

#nav_menu ul {
	width: 1000px;
	margin:0 auto;
	padding: 0;
	list-style:none;
	}
#nav_menu li {
	float: left;
	margin:0;
	padding:0;
	width: 25%;
	}
#nav_menu ul li a {
	float:left;
	background: url(../Images/left_menu.png) no-repeat left bottom;
	margin:0;
	padding:0;
	text-decoration:none;
	height: 40px;
	}
#nav_menu ul li a span {
	float:left;
	display:block;
	background: url(../Images/right_menu.png) no-repeat right bottom;
	padding:10px 0 0 0;
	height: 30px;
	margin-left: 12px;
	width: 238px;
    color: #FFFFFF;
	font-size: 18px;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	}
#nav_menu ul li.active a span {
	color: #000;
	font-weight: bold;
}

.contact {
	float: left;
	clear: both;
	margin-top: 10px;
	padding: 130px 0 0 240px;
	background: #222222;
	text-transform: uppercase;		
}

h3.title {
	background: #000;
	height: 30px;
	padding: 10px 0 0 20px;
	margin: 0;
	color: #ed1c24;
	font-size: 16px;
	font-weight: bold;
}

<!-- SLIDER -->

#slider {
	width: 100%;
	float: left;
	margin: 0;
	background: #222222;
}
#slider ul.thumbs {	
	float: left; 	
	list-style-type: none;
	position: absolute;
	margin:0;
	padding: 15px 0 0 210px;
	display: none;
}
#slider ul li {
	float: left;
	margin: 10px 6px;
	padding:0;
	border: 1px solid #FFF;
	position: relative;
}


/* MENU SIDEBAR */

.sidebarmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%; /* Width menu_level 1 */
}
.sidebarmenu ul li {

}
.sidebarmenu ul li a {
	display: block;
	overflow: auto; 
	text-decoration: none;
	padding: 7px 10px 0 0;
	height: 27px;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: right;
	color: #FFF;
	background: url(../Images/block_title.jpg) top right no-repeat;	
	border-top: 1px solid #FFF;		
}
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active, .sidebarmenu ul li a:hover {
	
}
.sidebarmenu ul li a:visited {
}
.sidebarmenu ul li a:hover {
}
/*Sub level menu items */
.sidebarmenu ul li ul {	
	width: 225px; /* Width menu_level 2, 3 */
	margin: 20px 0 0 25px;
	visibility: visible;
	background: #383636;
}
.sidebarmenu ul li ul li.active a {
	background: url(../Images/menu_hover.png) top left no-repeat;
	border-top: none;
}
.sidebarmenu a.subfolderstyle {
	background: #FFF;
}
.sidebarmenu ul li.block_title {
	margin: 0;
	color:#FFF;
	padding:8px 10px 0 0;
	width: 240px;
	height: 32px;
	background: url(../Images/block_title.jpg) top left no-repeat;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}


<!-- List -->
.list {
	float: left;
	clear: both;
	height: auto;
	width: 100%;
}
.list ul {
	margin: 0;
	padding: 0;
	list-style-image: url(../Images/list_icon.png);
	width: 700px;
	height: 320px;
	margin: 20px 10px 0 30px;
}
.list ul li {
	margin-bottom: 10px;
	padding-left: 3px;
}
.list ul li a {
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
	line-height: 18px;
}

.list_other {
	padding: 20px 0;
}

.public {
	background: url(../Images/public_relations.png) bottom right no-repeat;
}
/* FOOTER

--------------------------*/

#footer { float: left; clear:both; width: 100%; height:35px; background: #3e3e33;}

#footer .copyright {
	background:url(../Images/footer_bg.png) top left repeat-x;
	margin: 0 auto;
	clear:both;
	text-align: left;
	color: #FFF;
	padding: 0;
	font-size: 15px;
	width: 985px;
	padding: 8px 0 0 15px;
}

