@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font: normal 12px Arial, Helvetica, sans-serif;
	color:#333333;
	background: url(../Images/bg.jpg) top center no-repeat;
	background-attachment: fixed;
}
a {
	text-decoration: none;
	color: #0059a5;
}
a:hover {
	text-decoration: underline;
}
.link_title {
	color: #424242;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.h1Title, .h1Title a {
	padding-bottom: 3px;
	color: #d9241b;
}
.h2Title {
	font: bold 12px Arial, Helvetica, sans-serif;
}
.link_title {
	font: normal 12px Arial, Helvetica, sans-serif;
}
.inputbox {
	border: 1px solid #848484;
	height: 25px;
	line-height: 25px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
}
#page {
	width: 980px;
	padding: 0 10px;
	margin: 20px auto;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 10px #4a4a4a;
	-webkit-box-shadow: 0 0 10px #4a4a4a;
	box-shadow: 0 0 10px #4a4a4a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* LAYOUT

--------------------------*/

.main {
	float: left;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	display: block;
	width: 100%;
	clear: both;
}
.main_content {
	float: left;
	width: 730px;
	margin-right: 20px;
}
.right_content {
	float: left;
	width: 230px;
	margin: 0;
}
/* HEADER

--------------------------*/

.header {
	float:left;
	width: 100%;
	margin: 0;
	position: relative;
}
.logo {
	float: left;
	display: block;
	margin-top: 20px;
}
.slogan {
	position: absolute;
	top: 60px;
	left: 180px;
	width: 550px;
	text-align: center;
	margin: 0
}
/* SEARCH */
.search {
	float: right;
	width: 230px;
	height: 27px;
	position: relative;
	top: 10px;
	right: 0;
	background: url(../Images/search_bg.png) top left no-repeat;
	display: block;
}
.inputSearch {
	float: right;
	color: #000000;
	background: #FFFFFF;
	font: 12px Arial, Helvetica, sans-serif;
	height: 15px;
	line-height: 15px;
	padding: 5px;
	width: 205px;
	border: 1px solid #cecece;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:inset 1px 1px 0px #B9B8B8;
	-webkit-box-shadow:inset 1px 1px 0px #B9B8B8;
	box-shadow:inset 1px 1px 0px #B9B8B8;
}
.submitSearch {
	background: url(../Images/icon.png) 0 0 no-repeat;
	border: medium none;
	cursor: pointer;
	height: 20px;
	padding: 0;
	width:20px;
	position: absolute;
	top: 4px;
	left: 205px;
}
/*Slide Banner*/
.top_main {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	margin-top: 10px;
	padding: 0;
	width: 100%;
}
.top_mleft {
	float: left;
	width: 315px;
	height: 295px;
	background: #f2fcff url(../Images/top_leftBg.png) 0 100% no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #4a4a4a;
	-webkit-box-shadow: 0 0 5px #4a4a4a;
	box-shadow: 0 0 5px #4a4a4a;
	padding: 15px 5px 0 15px;
	font-size: 13px;
	text-align: justify
}
.top_mleft p {
	line-height: 150%;
	margin: 10px 0
}
.scroll {
	width:99%;
	margin: 0 auto;
	overflow:auto;
	height: 222px;
}
/*Left column*/
.box {
	clear: both;
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
}
.box_content {
	padding-top: 10px;
}
/*Tab*/
.box_Tab {
	height: 27px;
	line-height: 30px;
	text-align: right;
	width: 100%;
	color: #333333;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid #1f8ad5;
}
.main_content .box_Tab {
	float: left;
	position: relative;
	z-index: 5;
	text-align: left;
	color: #0b6d03;
	font-size: 16px;
	border-bottom: 2px solid #8d8e90;
}
.main_content .box_Tab span {
	float: left;
	display: block;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	padding-left: 10px;
	padding-right: 35px;
	text-transform: none;
	font: bold 15px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	height: 27px;
	line-height: 27px;
	background: url(../Images/tab_bg.png) 100% 0 no-repeat;
}
.view_more {
	display: block;
	float: right;
	margin-top: 10px;
	background: url(../Images/arrow_button.png) 0 -71px no-repeat;
	padding-left: 10px;
	font-size: 11px;
	font-weight: 500;
	color: #dd4234
}
#categories .view_more {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../Images/arrow_button.png) 0 -45px no-repeat;
	color: #0f0f0f
}
.img_ads {
	margin: 5px 0 10px 0;
}
/*Support*/
#support ul {
	float: left;
	width: 100%;
}
#support ul li {
	float: left;
	width: 100%;
	padding: 0;
	margin: 5px 0;
}
#support .hotline {
	font-size: 14px;
	text-align: center
}
#support .hotline span {
	color: #f90000;
	font-size: 18px;
	font-weight: 700
}
/*News index*/
#news_index, #video {
	width: 210px;
	margin: 0 auto;
}
#news_index ul {
	float: left;
	width: 100%;
}
#news_index ul li {
	float: left;
	padding: 0;
	position: relative;
	border-bottom: 1px dotted #333333;
}
#news_index ul li.news_hot a {
	padding: 0
}
#news_index .title_news {
	margin: 5px 0;
}
#news_index .title_news a {
	font-size: 12px;
	font-weight: 700
}
#news_index ul li a {
	display: block;
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0;
}
/*Link Web*/
#link_web {
	margin: 0 auto;
	padding: 0;
}
#link_web .type_option {
	width: 100%;
	margin-top: 10px;
	padding: 3px 2px;
	height: 25px;
	line-height: 20px;
	border: 1px solid #848484;
}
/*Get Email*/
#get_email {
	position: relative
}
.send_button {
	display: block;
	width: 60px;
	height: 23px;
	line-height: 23px;
	background: url(../Images/bg_repeat.png) 0 -59px repeat-x;
	position: absolute;
	top: 2px;
	right: 0;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
}
/*Social network*/
#followus {
	float: left;
	height: 25px;
	margin: 10px 0;
	background: url(../Images/bg_repeat.png) 0 -110px repeat-x;
}
#followus span {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../Images/icon.png);
	background-repeat: no-repeat;
	padding-right: 5px;
}
label.title_followus {
	float: left;
	width: 90px;
	height: 25px;
	line-height: 25px;
	background: url(../Images/icon.png) 0 -32px no-repeat;
	font-weight: 700;
	text-align: center;
	color: #FFFFFF
}
.icon_facebook {
	background: url(../Images/icon.png) 0 -75px no-repeat;
}
.icon_twitter {
	background: url(../Images/icon.png) -35px -75px no-repeat;
}
.icon_gplus {
	background: url(../Images/icon.png) -70px -75px no-repeat;
}
.icon_youtube {
	background: url(../Images/icon.png) -105px -75px no-repeat;
}
/*Column*/
#categories_tour .col {
	float: left;
	position: relative;
	text-align: left;
	width: 210px;
	margin: 20px 10px 10px 20px;
}
#categories_tour .col_content {
	width: 100%;
}
#categories .col .name_cate {
	font-size: 13px;
	font-weight: 700;
	height: 35px;
	line-height: 18px;
	overflow: hidden;
	margin-top: 5px;
}
#categories .col .price {
	color: #ff0000;
}
#categories .col p {
	margin: 4px 0 0 0;
	line-height: 15px;
}
#categories .short_des {
	font-size: 11px;
}
#categories_res .col {
	float: left;
	position: relative;
	text-align: left;
	width: 353px;
	border: 1px solid #e3e3e3;
	margin: 10px 5px 0 5px;
}
#categories_res .col_content {
	float: left;
	width: 336px;
	padding: 9px;
}
#categories_res .short_des {
	height: 56px;
	overflow: hidden
}
/*Pagination*/
.navigation {
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.navigation a {
	border: 1px solid #0e61c2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 4px 8px;
}
.navigation b, .navigation a:hover {
	background: #0e61c2;
	border: 1px solid #0e61c2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
}
/*News*/
#list_news {
	float: left;
	width: 100%;
}
#list_news ul {
	padding: 10px 0;
}
#list_news ul li {
	border-bottom: 1px dotted #0088FB;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .view_detail {
	bottom: 5px;
	position: absolute;
	right: 0;
	font-style: italic;
	text-decoration: underline;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news .h3Title a {
	font-weight: bold;
	text-transform: none;
}
#list_news p {
	margin: 0 0 1em 0;
	color: #333333;
	line-height: 150%
}
#list_news img {
	border: 1px solid #e3e3e3;
	padding: 3px;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.detail_info {
	float: left;
	width: 100%;
}
.detail_info, .detail_info p {
	line-height: 160%;
	margin: 10px 0;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #333333;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 5px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll left 3px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #dd4234;
}
.path {
	float: left;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0;
	text-align: left;
	text-transform: none;
}
/*Ads*/
.ads {
	float: left;
	padding: 20px 0;
	border: 2px solid #fbda53;
	border-left: none;
	border-right: none;
	position: relative;
}
.ads_inner {
	margin-left: -10px
}
.ads img {
	float: left;
	width: 320px;
	margin-left: 10px;
}
.star {
	display: block;
	position: absolute;
	left: 50%;
	width: 79px;
	height: 31px;
	background: url(../Images/icon.png) 0 -110px no-repeat;
}
.s_top {
	top: -16px;
}
.s_bot {
	bottom: -16px;
}
/*Footer*/
.footer {
	float: left;
	clear: both;
	width: 100%;
	padding-top: 20px;
	text-align: center;
	font-size: 12px;
	color: #333333;
}
.footer a {
	color: #0059a5;
}
.footer p {
	padding: 0;
	margin: 5px 0;
}
.menu_footer {
	height: 30px;
	text-align: center;
}
.menu_footer a {
	padding: 0 10px;
	line-height: 30px;
	font-weight: bold;
	color: #1f8ad5;
}
.info_footer {
	float: left;
	clear: both;
	width: 50%;
	padding: 10px 0;
	text-align: left;
}
.copyright, .facebook {
	float: right;
	width: 50%;
	text-align: right;
	padding: 10px 0;
}
