/* Navigation */

.nav ul {
	overflow: hidden;
	text-align: center;
}
.nav ul li {
	float: left;
	margin: 0;
	text-align: center;
	height: 30px;
}
.nav ul li a {
	display: block;
	color: #0a0a0a;
	font-weight: 700;
	line-height: 29px;
	padding: 0 10px;
	margin-right: 5px;
	background: #FFFFFF;
	border: 1px solid #bebebe;
	border-bottom: none;
}
.nav ul li a:hover, .nav ul li a:focus, .nav ul li a.current {
	background: #ececec;
}
.nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
	background-image: url('../img/notch.png');
}
/* Content */
#tabs_content { padding: 10px 0; border: 1px solid #bebebe; }
.section {
	margin:0;
	padding: 0 0.9em;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	
}
/*Tab News Index*/
.section li {
	float: left;
	width: 100%;
	margin-bottom: 5px;
	border-bottom: 1px dotted #333333;
}
.section li a {
	display: block;
	padding: 5px 0;
}
