/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	color:#000000;
	background: #d1d3d4;
	background-attachment: fixed;
}
a {
	text-decoration: none;
	color: #000ad5;
}
a:hover {
	text-decoration: underline;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clear {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 5px;
	background: #FFFFFF;
}
.page {
	width: 1300px;
	pading: 0;
	margin: 0 auto;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 0 auto;
	padding-top: 5px;
	display: block;
	width: 100%;
	clear: both;
}
.left_content {
	float: left;
	width: 175px;
	margin: 0;
}
.main_content {
	float: left;
	margin: 0 5px;
	width: 940px;
}
.right_content {
	float: left;
	width: 175px;
	margin: 0;
}
.ads img {
	margin-bottom: 5px;
}
/* HEADER

--------------------------*/

.header {
	float:left;
	width: 100%;
	height: 295px;
	display: inline-block;
	margin: 0;
}
/* SEARCH */
.search {
	float: right;
	width: 165px;
	height: 26px;
	margin-top: 5px;
	margin-right: 5px;
	overflow: hidden;
	background: url(../Images/search_bg.jpg) top left no-repeat;
}
.inputSearch {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #000000;
	float: left;
	font: 12px Verdana, Geneva, sans-serif;
	height: 15px;
	padding: 6px 0 0 10px;
	width: 140px;
}
.submitSearch {
	background: url(../Images/search_button.png) center right no-repeat;
	border: medium none;
	cursor: pointer;
	float: left;
	height: 15px;
	padding: 0;
	width: 14px;
	margin-top: 5px;
	margin-left: -5px;
	text-align: center;
}
/*Products*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}
div.box_content_center {
	background: #e2e2e2;
	padding: 0;
	margin: 0;
}
.main_content .box_content_center {
	background: #FFFFFF;
}
/*Vertical menu*/
ul.vertical_menu {
	list-style: none outside none;
	width: 94%;
	margin: 0 auto;
	padding: 5px 0;
}
ul.vertical_menu li a {
	display: block;
	font-weight: normal;
	text-align: left;
	width: 90%;
	color: #000000;
	padding-left: 5px;
	font-size: 13px;
}
ul.vertical_menu li {
	padding: 5px 0;
	margin: 0 5px;
}
ul.vertical_menu li.vl {
	border: none;
}
#support { text-align: center; font-weight: bold }
/*Product*/
.top_main_banner {
	float: left;
	margin-bottom: 5px;
}
.left_content .h1Tab, .right_content .h1Tab {
	background: url(../Images/left_Tab.jpg) top left repeat-x;
	height: 33px;
	line-height: 33px;
	text-align: center;
	width: 100%;
	color: #0a0091;
	text-transform: uppercase;
	font-size: 15px;
}
.main_content .h1Tab {
	background: url(../Images/main_Tab.png) top left no-repeat;
	height: 34px;
	line-height: 34px;
	text-align: left;
	width: 100%;
	color: #0a0091
}
.main_content .h1Tab span { padding-left: 40px; }
.product_row {
	margin: 0 auto;
	padding: 0;
	margin-top: 10px;
	margin-left: -12px;
	font-size: 12px;
}
.product {
	float: left;
	text-align: left;
	width: 305px;
	margin: 0 0 5px 12px;
}
.product_inner {
	margin: 0 auto;
	padding: 10px 5px 10px 10px;
	text-align: left;
	background: #e2e2e2;
}
.h1Title { color: #00F; font-size: 20px; }
.h2Title a {
	color: #F00;
	font-weight: bold;
}
.product p { margin: 10px 0 0 0; }
#cart {
	padding: 5px;
}
#cart li {
	margin: 8px 0;
}
#visistor p, .ullist_news p {
	margin: 3px 0 0.5em 0;
	padding: 0;
}
#visistor span, #cart li span {
	color: #F00;
	font-weight: bold;
}
#cart li.cart_button {
	text-align: center;
	margin-top: 10px;
}
.searchbox {
	padding: 0 10px;
}
.searchbox p {
	margin: 8px 0;
}
.searchbox .inputbox {
	border: 1px solid #cccccc;
	background: url(../Images/input_Bg.jpg) top left repeat-x;
	width: 135px;
	height: 18px;
	margin-left: 5px;
	padding: 5px;
}
.searchbox label {
	color: #e97d13;
	font-weight: bold;
	margin-left: 5px;
	font-size: 14px;
}
.searchbox .button {
	cursor: pointer;
}
/* HOVER STYLES */
div#pop-up {
	display: none;
	position: absolute;
	width: 200px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 100%;
	z-index: 999;
}
/*Slide Vertical*/
#slide_v_product, #visistor {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background: none;
}
#slide_v_product ul li {
	display: block;
	list-style: none outside none;
	padding: 0;
	margin-bottom: 5px;
	height: 240px;
}
.clr {
	clear: both;
}
.navigation {
	float: left;
	font-weight: bold;
	margin: 0 auto;
	padding: 15px 0 5px 0;
	text-align: center;
	width: 100%;
}
.navigation a {
	background: #d6d6d7;
	border-radius: 5px 5px 5px 5px;
	color: #0600ff;
	margin: 0 2px;
	padding: 3px 8px;
}
.navigation b, .navigation a:hover {
	background: #1854be;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	padding: 3px 8px;
	text-decoration: none;
}
/*News*/
.ullist_news {
	width: 97.2%;
	margin-top: 10px;
}
.ullist_news li {
	border-bottom: 1px dashed #0088FB;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.ullist_news .view_more {
	bottom: 5px;
	font-size: 11px;
	position: absolute;
	right: 0;
}
.ullist_news img {
	border: medium none;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial;
}
#detail_news {	
	float: left;
	padding: 10px;
}
.detail_info {
	float: left;
	width: 100%;
}
.function {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e3e3e3 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    float: left;
    padding: 5px 0;
    width: 100%;
}
.like_face {
    float: left;
    height: 18px;
    padding: 0;
    width: 35%;
}
.toolbar {
    float: right;
    padding: 0;
    position: relative;
    text-align: left;
}
.toolbar a {
    background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
    color: #0039dd;
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
}
a.print {
    background-position: 0 3px;
}
a.email {
    background-position: 0 -15px;
}
a.opinion {
    background-position: 0 -35px;
}
.other_news_sub {
    clear: both;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
}
.other_newsT {
    background: url(../Images/line_bg.jpg) repeat-x scroll right bottom transparent;
	padding-bottom: 3px;
    margin: 10px 0;
    position: relative;
	color: #292929;
}
.other_news_sub ul {
    margin: 10px 0 0 10px;
}
.other_news_sub ul li {
    padding: 3px 0;
}
.other_news_sub a {
    background: url(../Images/bullets.png) no-repeat scroll left 5px transparent;
    padding-left: 15px;
}
.view_all {
    float: left;
	background: none !important;
    margin-top: 10px;
    text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #222222;
}
.path {
	float: left;
	width: 100%;
	background: none repeat scroll 0 0 #ebebeb;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 0;
	text-align: left;
	text-transform: none;
}
/*Footer*/
.footer {
	clear: both;
	color: #3e3e3e;
	float: left;
	padding: 0;
	text-align: center;
	width: 100%;
}
.footer_menu {
	float: left;
	background: url(../Images/footer_menuBg.jpg) top left repeat-x;
	padding: 6px 0 0 0;
	height: 27px;
	width: 100%;
	color: #000000;
}
.footer_menu a {
	color: #000000;
	font-size: 15px;
}
.footer_bottom {
	float: left;
	width: 100%;
	text-align: center;
}
.footer p {
	margin: 5px 0;
	padding: 0;
}
.copyright {
	float: left;
	width: 100%;
	clear: both;
	margin: 10px 0;
	text-align: center;
}
.bottom_page {
	width: 1018px;
	margin: 0 auto;
	height: 14px;
	background: url(../Images/footer_Bg.png) bottom left no-repeat;
}
