/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
}
body#bd
{
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000000;
    background: url(../Images/bg.jpg) top center repeat-y;
    background-attachment: fixed;
}
a
{
    text-decoration: none;
    color: #065600;
}
a:hover
{
    text-decoration: underline;
}
.clearfix
{
    display: inline-block;
}
* html .clearfix
{
    height: 1%;
}
.clear
{
    display: block;
    clear: both;
}
img
{
    border: none;
}
h1
{
    font-size: 18px;
}
h2
{
    font-size: 16px;
}
h3
{
    font-size: 14px;	
}
h4
{
    font-size: 13px;
}
ul
{
    list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
}
.ar11, .ar11 a
{
    font: normal 11px Tahoma;
}
.ar12, .ar12 a
{
    font: normal 12px Tahoma;
}
.ar13, .ar13 a
{
    font: normal 13px Tahoma;
}
.ar14, .ar14 a
{
    font: normal 14px Tahoma;
}
.ar18, .ar18 a
{
    font: normal 18px Tahoma;
}
p
{
    line-height: 18px;
}
.clear
{
    clear: both;
}
.img_general
{
    float: left;
    margin-right: 10px;
}
/* WRAPPER --------*/

#wrapper
{
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    background: url(../Images/wrap_bg.png) top center repeat-y;
}
.page
{
    width: 1000px;
    pading: 0;
    margin: 0 auto;
}
/* LAYOUT

--------------------------*/
.main
{
    float: left;
    margin: 0 auto;
    padding-top: 5px;
    display: block;
    width: 100%;
    clear: both;
}
.left_content
{
    float: left;
    width: 200px;
    margin-left: 10px;
}
.main_content
{
    float: left;
    margin: 0 10px;
    width: 560px;
}
.right_content
{
    float: right;
    margin-right: 10px;
    width: 200px;
}
/* HEADER

--------------------------*/

.header
{
    float: left;
    width: 100%;
    height: 210px;
    display: inline-block;
    margin: 0;
    position: relative;
}
/* MAIN MENU ------*/
#nav_menu
{
    float: left;
    width: 100%;
    line-height: normal;
    height: 50px;
    background: #097f03;
	margin: 5px 0;
}
.inner_menu
{
    display: table;
    margin: 0 auto;
}
#nav_menu ul
{
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
#nav_menu li
{
    float: left;
    margin-right: 15px;
    padding-top: 3px;
    height: 47px;
}
#nav_menu ul li.cart { margin-right: 0; }
#nav_menu ul li a
{
    background: url(../Images/menu.png) top left no-repeat;
    width: 149px;
    height: 35px;
    padding: 12px 0 0 0;
    float: left;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
#nav_menu ul li.menu_home a
{
    background:  url(../Images/menu_first.png) top left no-repeat;
    width: 73px;
}
#nav_menu ul li.cart a
{
    background: url(../Images/menu_last.png) bottom right no-repeat;
    width: 76px;
}
#nav_menu ul li a:hover
{
    color: #ee3439;
}
/*Content*/
.block
{
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
	background: #097f03;
}
.block_content
{
    padding: 0;
    margin: 0 auto;
	padding-top: 10px;
}
.h3Tab
{
    width: 100%;
    position: relative;
    height: 30px;
    padding: 12px 0 0 0;
    color: #FFFFFF;
    background: url(../Images/tab_left.png) center center no-repeat;
    text-align: center;
    font: bold 14px Tahoma;
    text-transform: uppercase;
	-webkit-text-fill-color: #FFDB80;
  	-webkit-text-stroke: #E09F00 2px;	
}
/*Menu vertical*/
.sidebarmenu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
}
.sidebarmenu ul li
{
    position: relative;
    border-top: 1px solid #80aa48;
	margin: 0 10px;
}
.sidebarmenu ul li a
{
    border: medium none;
    display: block;
    overflow: auto;
    padding: 8px 5px 8px 10px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
}
.sidebarmenu ul li a:hover
{
	color: #cafb71;
}
/*Ads at Left Column*/
.slide_v_product {
    margin: 0 auto;
    text-align: center;
    width: 200px;
}
.slide_v_product ul li {
    display: block;
    list-style: none outside none;
    padding: 0;
	margin-bottom: 10px;
}
.slide_v_product h4 a {
	display: block;
    font-weight: bold;
	padding-bottom: 5px;
	color: #FFFFFF;
}
.clr {
    clear: both;
}
.main_content .h3Tab
{
	background: #097f03;
    height: 31px;
	padding: 0;
	margin-left: 5px;
	margin-top: 5px;
	width: 99.5%;
}
.mainTab
{
	width: 186px;
	height: 31px;
	padding-top: 11px;
	position: absolute;
	top: -7px;
	left: -5px;
	text-align: center;
    background: url(../Images/tab_left.png) center left no-repeat;
	color: #fff600;
}
.main_content .block { background: #FFFFFF; }
.product_row {
    margin: 0 auto;
}
.product {
    float: left;
    font-size: 12px;
    text-align: left;
    width: 33.3%;
	color: #065600;	
}
.product_inner {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
	font-weight: bold;
}
.img_product {
    background: url(../Images/product_bg.png) no-repeat scroll right bottom transparent;
    display: block;
    height: 118px;
    margin-bottom: 5px;
    padding: 0 10px 0 0;
    width: 166px;
}
.img_product img {
    border: 1px solid #d4d4d4;
}
.price span {
    color: #FF0000;
    font-weight: bold;
}
.button_product img {	
    border: medium none;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0;
}
.support { text-align: center; }
.path { background: #FFFFFF; text-align: left; padding: 5px 0 3px 0; margin-bottom: 2px; text-transform: none; border-bottom: 1px solid #a0c94c; font-weight: bold; }
.detail_info { float: right; width: 65%; }
.h3Title
{
    margin-bottom: 5px;
}
.h3Title a
{
    background: url(../Images/cate_arrow.png) center right no-repeat;
    padding-right: 15px;
    font: bold 14px Tahoma;
}
.news ul
{
	padding: 10px 10px 0 10px;
}
.news ul li
{
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
}
.new_post ul li
{
    border-bottom: 1px dotted #6e6200;
    padding: 5px 0;
}
.h4Title_news a
{
    color: #FFFFFF;
    font-weight: normal;
	font-size: 12px;
}
.social
{
    text-align: center;
    margin: 5px 0;
}
.navigation
{
    float: left;
    font-weight: bold;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 35px;
    text-align: right;
    background: #FFFFFF;
}
.navigation a
{
    background: #19b311;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 0 2px;
    padding: 3px 8px;
}
.navigation b, .navigation a:hover
{
    background: #097f03;
    color: #FFFFFF;
    padding: 3px 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
}
.navigation .pre, .navigation .next
{
    background: #097f03;
    color: #FFFFFF;
}
.list_news {
    width: 97.2%;
}
.list_news ul li {
    border-bottom: 1px dashed #9dc54d;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}
.list_news .view_more {
    bottom: 5px;
    font-size: 11px;
    position: absolute;
    right: 0;
}
.list_news .h3Title {
    margin-bottom: 5px;
}
.list_news h4 {
    margin-bottom: 20px;
}
.list_news .h3Title a {
    font-weight: bold;
    text-transform: none;
}
.list_news img {
    border: medium none;
}
.detail_news {
    padding: 10px;
}
.date {
    color: #878787;
    font: 11px Arial;
}
.toolbar {
    border-color: #0088FB;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 10px 0;
    position: relative;
    text-align: left;
    width: 100%;
}
.toolbar a {
    background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
    color: #3E3E3E;
    display: inline-block;
    font: 11px/22px Tahoma;
    margin-left: 10px;
    padding-left: 22px;
}
a.email {
    background-position: 0 -44px;
}
a.print {
    background-position: 0 -22px;
}
.social_web {
    height: 30px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 10px;
    width: 70%;
}
.other_news_sub {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
}
.other_news_sub ul {
    margin: 10px 0 0 20px;
}
.other_news_sub ul li {
    padding: 3px 0;
}
.other_news_sub a {
    color: #292929;
	background: url(../Images/bullet.jpg) center left no-repeat;
	padding-left: 20px;
}
.title_otherNews {
    color: #053203;
    font: 18px Arial;
}
.other_news_sub .view_more {
    background: url(../Images/arrow.png) no-repeat scroll left 5px transparent;
    display: block;
    left: 10px;
    margin-top: 10px;
    padding-left: 10px;
	color: #065600;
}
.link_title { font-weight: normal; }
/*Footer*/
.footer
{
    float: left;
    clear: both;
	background: url(../Images/footer_bg.png) bottom center no-repeat;	
    color: #000000;
    padding: 0;
    width: 100%;
    margin: 0 auto;
	text-align: center;
}
.footer_menu
{
    width: 1000px;
	margin: 0 auto;
	background: url(../Images/footer_menuBg.jpg) top left repeat-x;
	padding-top: 5px;
	height: 28px;
	color: #FFFFFF;
    font-weight: bold;
	font-size: 15px;
}
.footer_menu a
{
	padding: 0;
	color: #FFFFFF;
}
.footer p
{
    margin: 0;
    padding: 0;
}
.copyright
{
	float: left;
	width: 100%;
    clear: both;	
	text-align: center;
    margin: 10px 0 30px 0;
	color: #001eff;
}
.footer_bottom
{
	float: left;
	width: 100%;
    clear: both;	
	text-align: center;
    padding: 0 0 10px 0;
	color: #000000;
}
.footer_bottom a { color: #000000; }