/*Contact Us*/
.box_contact {
	margin: 0 50px
}
#info_contact p {
	margin: 0.7em 0;
	line-height: 1.5
}
#contactus {
	width: 64%;
	border-right: 1px solid #dddddd;
	padding-right: 20px;
	margin-right: 20px;
	margin-bottom: 20px
}
#info_contact {
	width: 30%
}
.form_web .row_contact {
	width: 100%;
	margin-bottom: 10px
}
.form_web .left_row {
	display: block;
	line-height: 30px;
}
.form_web .row_contact input, .form_web select {
	width: 97%;
	background: #FFFFFF;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-indent: 5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form_web select {
	width: 97%
}
.form_web textarea {
	width: 97%;
	background: #FFFFFF;
	border: 1px solid #ccc;
	height: 170px;
	text-indent: 10px;
}
.form_web #choose_file input {
	border: none;
	padding: 0;
	text-indent: inherit
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: inline-block;
	border: none;
	width: 32%;
	margin-right: 24px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 10px;
	background: #1a8ff4;
	cursor: pointer;
	float:left;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
#map {
	padding: 20px 0
}
.required {
	color: #F00;
}
/*RSS*/
#box_rss {
	margin: 0 20px;
	border: none;
	padding: 0
}
#info_rss {
	width: 31%
}
#box_rss .title_box_rss {
	border-bottom: 1px dotted #e2e2e3;
	font: 700 1.2em arial;
	padding-bottom: 10px;
}
#box_rss {
	background: url(../Images/bg_1x1_gray.gif) repeat-y scroll 68% 0 rgba(0, 0, 0, 0)
}
#list_rss {
	width: 67%
}
#list_rss li {
	border-bottom: 1px dotted #e2e2e3;
	float: left;
	margin: 0 0 5px;
	padding: 0 0 5px;
	width: 48%;
}
#list_rss li:nth-child(2n+2) {
float: right
}
#list_rss ul {
	margin-top: 15px;
	background: url(../Images/bg_1x1_gray.gif) repeat-y scroll 50% 0 rgba(0, 0, 0, 0)
}
#list_rss li a {
	font-size: 1.2em
}
#list_rss .icon_rss {
	height: 100%;
	width: 50px;
	background: url(../Images/rss_icon.gif) 0 center no-repeat
}
@media only screen and (max-width: 840px) {
 .box_contact {
margin: 0 10px
}
 #contactus, #info_contact {
width: 100%;
border: none;
}
.form_web .send_cmt, .form_web input.send_cmt {
width: 100%;
margin: 0;
display: block;
margin-top: 10px
}
}
@media only screen and (max-width: 767px) {
#box_rss {
background: none
}
}
@media only screen and (max-width: 479px) {
#list_rss ul {
background: none
}
#list_rss li {
float: left;
width: 100%
}
}
