@charset "utf-8";
/*Giao Luu*/
#col_gltt {
	font: normal 1em Tahoma, Geneva, sans-serif
}
#col_gltt .box_ct {
	padding: 5px
}
.giaoluu_tt {
	line-height: 25px;
	color: #df353c;
	font-size: 1.2em;
	padding-bottom: 27px;
	text-align: center;
	background: url(../Images/gltt_line.gif) bottom center no-repeat
}
.row_gltt {
	float: left;
	width: 100%;
	margin: 5px 0
}
.row_gltt .left_gltt {
	width: 24%;
	line-height: 24px
}
.row_gltt .right_gltt {
	width: 75%;
	padding: 2px 0;
}
.row_gltt .input_gltt {
	width: 98%;
	border: 1px solid #a8a8a8;
	padding: 3px 0;
	text-indent: 5px;
	font: normal 1em Tahoma, Geneva, sans-serif
}
.row_gltt .tt_email {
	margin-left: 2%;
	text-align: center
}
.function_gltt_item {
	float: left;
	width: 33%;
	height: 25px;
	margin: 3px 0
}
.function_gltt_item img {
	margin-right: 3px
}
.function_gltt_item a {
	line-height: 25px
}
.tt_gltt {
	height: 25px;
	line-height: 25px;
	background: #006dce;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: 700;
	padding-left: 10px
}
.hang_phien {
	float: left;
	width: 100%;
	padding: 8px 4px;
	font-family: Arial, Helvetica, sans-serif
}
.whiteBg {
	background: #FFFFFF
}
.greyBg {
	background: #f6f6f6
}
.ngay_phien {
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	color: #006dce;
	margin-bottom: 5px
}
.ten_phien {
	color: #252525
}
.tt_xemphien {
	width: 15%;
	margin-bottom: 5px;
	line-height: 25px
}
.sl_xemphien {
	width: 80%;
	height: 25px;
	margin-bottom: 10px;
}
/*Send Question*/
.tt_chucnanggiaoluu {
	font-size: 17px;
	color: #006dce;
	line-height: 30px;
	text-transform: uppercase;
	margin: 10px
}
.box_giaoluu {
	background: #ddddde;
	border: 1px solid #c6c6c6;
	padding: 10px;
	margin: 0 10px
}
.box_giaoluu .sl_xemphien, .box_giaoluu textarea {
	width: 75%;
	border: 1px solid #8fa7bd
}
.box_giaoluu textarea {
	width: 80%;
	height: 150px
}
.tt_box_giaoluu {
	width: 15%;
	font-size: 0.9em;
	margin-right: 5px;
	margin-bottom: 5px
}
.box_giaoluu .input_gltt {
	border: 1px solid #8fa7bd;
	width: 20%;
	padding: 3px 0;
	margin-left: 5px
}
#btn_sendques {
	margin-left: 40%;
}
#btn_sendques input {
	display: inline-block;
	width: 70px;
	text-align: center
}
.boxsearch_giaoluu {
	margin: 30px
}
.boxsearch_giaoluu .tt_box_giaoluu {
	line-height: 30px
}
.boxsearch_giaoluu .sl_xemphien {
	height: 35px
}
.boxsearch_giaoluu .sl_xemphien, .boxsearch_giaoluu .input_gltt {
	width: 80%;
	padding: 8px 0;
	border: 1px solid #cacaca
}
.btn_sendcauhoi {
	background: #f7f7f7;
	border: 1px solid #cacaca;
	width: 100px;
	height: 32px;
	line-height: 26px;
	margin: 10px auto
}
.boxsearch_giaoluu .tt_email {
	text-align: right
}
/*Chi tiet giao luu*/
.giaoluu_content h3 {
	font-size: 1.2em;
	color: #0059b4;
	text-transform: uppercase;
	border-bottom: 1px solid #0059b4;
	margin: 15px 0
}
.giaoluu_content li, .giaoluu_content .question_giaoluu {
	float: left;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 15px
}
.giaoluu_content li {
	border-bottom: 1px solid #006de8
}
.giaoluu_content .question_giaoluu {
	border-bottom: 1px dashed #a6a6a6
}
.giaoluu_content li:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none
}
.giaoluu_content .tab_giaoluu i {
	color: #FF0000
}
.giaoluu_content .tab_giaoluu img {
	position: relative;
	top: -2px;
	margin-right: 5px
}
.giaoluu_content .question_ct, .giaoluu_content .answer_ct {
	margin: 10px 0;
	color: #404040
}
.giaoluu_content .author_question {
	color: #00000;
	text-align: right
}
.giaoluu_content .author_answer {
	margin-top: 10px
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
 .function_gltt_item {
width: 50%
}
}
@media only screen and (max-width: 767px) {
.tt_xemphien, .sl_xemphien, .tt_box_giaoluu, .box_giaoluu textarea, .box_giaoluu .sl_xemphien, .boxsearch_giaoluu .tt_box_giaoluu {
width: 100%;
margin: 0 0 5px 0;
padding: 0
}
.tt_email.tt_box_giaoluu {
text-align: left;
margin-left: 0;
margin-top: 5px
}
#btn_sendques {
margin-left: 0;
text-align: center
}
.tt_chucnanggiaoluu {
margin: 10px 0
}
.boxsearch_giaoluu {
margin: 0
}
.boxsearch_giaoluu .sl_xemphien, .boxsearch_giaoluu .input_gltt {
width: 100% !important;
margin: 0
}
}
@media only screen and (max-width: 479px) {
 .row_gltt .left_gltt {
margin-bottom: 5px
}
.row_gltt .tt_email {
text-align: left;
margin-left: 0;
margin-top: 5px
}
 .row_gltt .left_gltt, .row_gltt .right_gltt {
width: 100% !important
}
.function_gltt_item {
width: 50%;
height: 35px
}
.function_gltt_item a {
 line-height: 35px
}
.box_giaoluu .input_gltt {
width: 70%
}
}
