/*LEAN MODAL*/
.modalBackground {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: rgba(0, 0, 0, .6);
	display: block;
}
.modal_popup {
	background: #f5f5f5;
	height: auto;
	width: 96%;
	margin: 0 auto;
	color: #000000;
	padding: 20px;
	display: block;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
	font: normal 12px Arial, Helvetica, sans-serif
}
.modal_head {
	height: 30px;
	float: left;
	width: 100%
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(../Images/functon_page/modal_close.png);
	z-index: 2;
}
/*Form Modal*/
div.row_feed {
	float: left;
	margin: 5px 0;
	position: relative;
	width: 100%;
	color: #000000
}
.left_col_feed {
	float: left;
	display: block;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
	width: 30%;
}
.right_col_feed {
	float: left;
	text-align: left;
	width: 60%;
}
.right_col_feed input {
	border: 1px solid #D9D6D6;
	height: 15px;
	padding: 4px;
	width: 280px;
}
.right_col_feed textarea {
	border: 1px solid #D9D6D6;
	font: 12px Tahoma;
	height: 85px;
	padding: 4px;
	width: 280px;
}
.button {
	margin: 5px auto;
	display: inline-block;
}
/*-----------------------------Pop Up--------------------------------*/
.block {
	clear: both;
	margin: 0 0 5px;
	width: 100%;
}
.p_title {
	float: left;
	font: bold 18px Arial, Helvetica, sans-serif;
	margin-bottom: 20px
}
.post_view {
	float: left;
	width: 97%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #ededed
}
.post_view span {
	display: inline-block;
}
.tt_post {
	margin-left: 20px;
	width: 10%;
}
.post_name {
	width: 85%;
	color: #b02428
}
span.required {
	color: #FF0000;
	left: 5px;
	margin-right: 5px;
	position: relative;
}
.note {
	font: 11px Tahoma;
	padding-left: 25%;
}
.toolbar a.button {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin: 10px 0 10px 35%;
}
.toolbar .close a.button {
	background: none repeat scroll 0 0 transparent;
	float: right;
}
.button_feed {
	float: left;
	background: none repeat scroll 0 0 #5d5c5c;
	border: medium none;
	cursor: pointer;
	font: 500 14px arial;
	height: 28px;
	margin-left: 32%;
	text-align: center;
	width: 96px;
}
.button_feed a, .button_feed input {
	border: none;
	background: none;
	color: #FFFFFF;
	line-height: 28px;
	text-decoration: none;
}
/*Printing Page*/
#outter_print {
	width: 480px;
	margin: 0px auto;
	padding: 0;
	font-size: 14px;
	color: #333333
}
#header_print {
	float: left;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #cccccc
}
.btn_print {
	margin-top: 15px;
	font: 400 11px/15px Arial
}
.date_post {
	padding: 10px 0;
	font: 400 11px/15px Arial
}
.title_news {
	color: #333;
	float: left;
	padding-bottom: 10px;
	width: 100%;
}
#outter_print img {
	font-size: 0;
	line-height: 0;
	max-width: 100%;
}
