.clear {
	clear:both
}
.ui-glyphish .ui-btn .ui-btn-inner {
	padding-top:40px !important
}
.ui-glyphish .ui-btn .ui-icon {
	width:30px!important;
	height:30px!important;
	margin-left:-15px !important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
	-webkit-border-radius:none !important;
	border-radius:none !important
}
.email .ui-icon {
	background:url(/js/jm/glyphish-icons/18-envelope.png) 50% 50% no-repeat;
	background-size:24px 16px
}
.phone .ui-icon {
	background:url(/js/jm/glyphish-icons/75-phone.png) 50% 50% no-repeat;
	background-size:24px 24px
}
.hide {
	display:none
}
.small {
	font-size:.8em
}
.bottom-5 {
	margin-bottom:5px
}
.bottom-10 {
	margin-bottom:10px
}
.bottom-15 {
	margin-bottom:15px
}
.bottom-20 {
	margin-bottom:20px
}
.bottom-25 {
	margin-bottom:25px
}
.bottom-30 {
	margin-bottom:30px
}
.bottom-35 {
	margin-bottom:35px
}
.bottom-40 {
	margin-bottom:40px
}
.top-5 {
	margin-top:5px
}
.top-10 {
	margin-top:10px
}
.top-15 {
	margin-top:15px
}
.top-20 {
	margin-top:20px
}
.top-25 {
	margin-top:25px
}
.top-30 {
	margin-top:30px
}
.top-35 {
	margin-top:35px
}
.top-40 {
	margin-top:40px
}
.orange {
	color:#E33100
}
.orange-lite {
	color:#FCCAB1
}
.yellow {
	color:#f8bc00
}
.blue-top-border {
	border-top:solid 2px #2870B8
}
.blue {
	color:#2870B8
}
.blue-lite {
	color:#D6EBFF
}
.green-top-border {
	border-top:solid 2px #64B342
}
.green {
	color:#64B342
}
.green-lite {
	color:#CEFABB
}
.gray {
	color:#666
}
.blue-link {
	color:#003399
}
.black {
	color:#000
}
.white {
	color:#fff
}
table.tblDiadanh {
	font-size:.9em;
	padding:0 0 20px 0
}
table.tblHotels {
	font-size:.9em
}
table.tblHotels tr td {
	padding:0 0 20px 0;
	vertical-align:top
}
table.tblHotels tr td.thumb {
	padding-right:10px;
	width:80px
}
td.thumb img {/*border:1px solid #eee;*/
	width:80px;
	height:80px;
	min-width:80px;
	max-width:80px
}
table.tblHotels tr td .hotel24h-heading {
	font-size:1.2em;
	margin-top:0;
	margin-bottom:5px
}
.hotel24h-heading a {
	text-decoration:none
}
.hotel24h-desc {
	font-size:.8em
}
.rate {
	font-size:1.3em;
	font-weight:bold;
	color:Orange
}
h2.header a {
	text-decoration:none
}
table.tblList1 {
	width:100%
}
table.tblList1 tr td {
	padding:5px 0;
	vertical-align:top
}
table.tblList1 tr td.tdHotelName {
	text-align:left
}
table.tblList1 tr td.tdRate {
	text-align:right;
	color:Orange;
	font-size:1.2em
}
.ui-state-highlight {
	background-color:Yellow;
	color:#000
}
.ui-state-error {
	background-color:Red;
	color:#fff
}
.ui-widget-content {
	padding:5px 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:solid 1px #ccc
}/*.divPhotos img{width:80px;height:80px}*/
table.tblPromotions td {
	font-weight:normal
}
.divPhotos img {
	width:100%;
	max-width:659px;
	margin-top:5px;
	margin-bottom:5px
}
div.GroupAllView {
	text-align:center;
	display:block;
	height:auto;
	line-height:30px
}
td.tdText {
	color:#70C056;
	padding-right:10px;
	white-space:nowrap
}
td.tdLine hr {
	background-color:#70C056;
	color:#70C056;
	height:2px;
	width:100%;
	margin-top:10px
}
td.tdPromotionName a.HotelName {
	padding-bottom:10px;
	font-weight:normal;
	font-size:1em;
	text-decoration:none
}
td.tdPromotionName a.CityName {
	padding-bottom:10px;
	font-weight:normal;
	font-size:0.9em;
	text-decoration:none
}
td.tdPromotionName a.PromotionName {
	margin:10px 0;
	color:#DE5F12;
	font-weight:normal;
	font-size:1.1em;
	text-decoration:none
}
table.tblPromotions a.ViewDetail {
	padding:20px 0;
	color:#004488;
	font-weight:normal;
	font-size:.8em;
	text-decoration:none
}
div.ui-content {
	padding-left:15px;
	padding-right:15px
}
.gradient-gray {
	background:-webkit-linear-gradient(#fff, #aaa);/* For Safari */
	background:-o-linear-gradient(#fff, #aaa);/* For Opera 11.1 to 12.0 */
	background:-moz-linear-gradient(#fff, #aaa);/* For Firefox 3.6 to 15 */
	background:linear-gradient(#fff, #aaa);/* Standard syntax */
}
body {/*background-color:#F1F1F1;*/
	margin:0;
	padding:0;
	background-color:#FEFEFE;
	font-size:1.05em
}
div.ui-panel-content-wrap {
	background:#eee
}
div.ui-footer {
	position:absolute;
	width:100%;
	bottom:0;
	height:35px
}/*/keep footer at bottom*/
.ui-mobile .ui-header {
	height:38px
}
.ui-mobile .ui-footer {
	height:38px
}
.ui-header .ui-title/*,.ui-footer .ui-title */ {
	margin:0.6em 15% 0.8em
}
div.ui-header .ui-title {
	margin-top:3px;
	margin-bottom:1px;
	padding:7px
}
div.ui-footer .ui-title {
	margin-top:8px;
	margin-bottom:8px
}
div.ui-footer a {
	text-decoration:none
}
div.ui-page .ui-header a.jqm-home {
	top:5px
}
.type-interior .content-secondary {
	background-color:#EEE
}
.ui-content, .type-interior .ui-content {
	padding-bottom:40px
}/*custom button~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*//*div .ui-header .ui-btn-corner-all,div .ui-footer .ui-btn-corner-all{border-radius:0}*/
div .ui-header .ui-btn-icon-notext, div .ui-footer .ui-btn-icon-notext {
	width:38px;
	height:37px
}
div .ui-header .ui-btn-icon-notext .ui-btn-inner .ui-icon, div .ui-footer .ui-btn-icon-notext .ui-btn-inner .ui-icon {
	margin:0
}
div .ui-header .ui-icon, div .ui-footer .ui-icon {
	background:url("../Images/icons-36-white.png") no-repeat 0 0 #599b27;
	width:38px;
	height:37px;
	border-radius:0;
	box-shadow:none;
}
div .ui-header .ui-btn-inner, div .ui-footer .ui-btn-inner {
	border:none
}
div .ui-header .ui-btn-up-f, div .ui-footer .ui-btn-up-f {
	border:none
}/*back button*/
div .ui-header .back-button, div .ui-footer .back-button {
	top:0 !important;
	left:0 !important
}
div .ui-header .back-button .ui-icon, div .ui-footer .back-button .ui-icon {
	background-position:-288px 0
}/*menu button*/
div .ui-header .menu-button, div .ui-footer .menu-button {
	top:0 !important;
	right:0 !important
}
div .ui-header .menu-button .ui-icon, div .ui-footer .menu-button .ui-icon {
	background-position:-1575px 0
}/*home button*/
div .ui-header .home-button, div .ui-footer .back-button {
	top:0 !important;
	left:0 !important
}
div .ui-header .home-button .ui-icon, div .ui-footer .back-button .ui-icon {
	background-position:-1150px 0
}/*/custom button*//*main~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-v2 div.jqm-demos {/*background-color:#F1F1F1;*/
	margin:0;
	padding:0;
	background-color:#FEFEFE;
	font-size:1.05em
}
#page-v2 div.jqm-content.ui-content {/*reset from hotel24h_v3.css*/
	padding:0 0 40px 0;
	background-color:#F1F1F1
}/*keep footer at bottom~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-v2 div.jqm-demos {
	position:relative
}
#page-v2 div.ui-body-c .ui-link {
	text-decoration:none
}
#page-v2 div.clear {
	clear:both
}
#page-v2 div.small-line {
	background:#d1d1d1;
	height:2px
}/*search selection page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-v2 .ui-title {
	padding:0
}
#page-v2 #search-selection-page .hotel-nearby-section {
	padding:8px;
	height:40px;
	cursor:pointer
}
#page-v2 #search-selection-page .hotel-nearby-section img {
	float:left
}
#page-v2 #search-selection-page .hotel-nearby-section .text1 {
	float:left;
	margin:-4px 0 -4px 10px
}
#page-v2 #search-selection-page .hotel-nearby-section .subtext1 {
	font-weight:bold;
	font-size:20px
}
#page-v2 #search-selection-page .hotel-nearby-section .subtext2 {
	color:#666;
	font-size:17px
}
#page-v2 #search-selection-page .hotel-nearby-section .nav-right {
	bottom:25px;
	right:10px;
	float:right;
	margin:10px 0
}
#page-v2 #search-selection-page .big-line {
	height:10px
}
#page-v2 #search-selection-page .city-section {
	height:40px;
	padding:8px;
	cursor:pointer
}
#page-v2 #search-selection-page .city-section img {
	float:left
}
#page-v2 #search-selection-page .city-section .text1 {
	float:left;/*Version 1:margin:10px 0 10px 10px;*/
	color:#333333;/*Version 2:overflow*/
	width:75%
}
#page-v2 #search-selection-page .city-section .subtext1 {/*Version 1:font-weight:bold;font-size:18px;*/ /*Version 2:overflow*/
	font-size:18px;
	font-weight:bold;
	margin:0 0 0 0;/*right:15%*/
	overflow:hidden;
	padding-left:10px;
	padding-top:10px;
	text-overflow:ellipsis;
	white-space:nowrap
}
#page-v2 #search-selection-page .city-section .nav-right {
	float:right;
	margin:10px 0
}
#page-v2 #search-selection-page .date-section {
	padding:8px;
	height:85px
}
#page-v2 #search-selection-page .date-section .text1 {
	width:48%;
	float:left;
	margin-bottom: 10px;
}
#page-v2 #search-selection-page .date-section .text1 .subtext1 {
	font-size:18px;
	color:#0067CE;
	padding-bottom:10px
}
#page-v2 #search-selection-page .date-section .text1 .check-in {
	border:1px solid #CACACA;
	background:#E9E9E9;
	border-radius:7px;
	cursor:pointer;
	height:42px;
	overflow:hidden;
	padding:8px;
	color:#333333
}
#page-v2 #search-selection-page .date-section .text1 .check-in .day-month {
	float:left;
	font-size:0.9em
}
#page-v2 #search-selection-page .date-section .text1 .check-in .date {
	float:left;
	font-size:50px;
	font-weight:bold;
	margin:-8px 0 -8px 10px
}
#page-v2 #search-selection-page .date-section .text2 {
	float:right;
	width:48%;
	margin-bottom: 10px;
}
#page-v2 #search-selection-page .date-section .text2 .subtext1 {
	font-size:18px;
	color:#0067CE;
	padding-bottom:10px
}
#page-v2 #search-selection-page .date-section .text2 .check-out {
	border:1px solid #CACACA;
	background:#E9E9E9;
	border-radius:7px;
	cursor:pointer;
	height:42px;
	overflow:hidden;
	padding:9px 8px 8px;
	color:#333333
}
#page-v2 #search-selection-page .date-section .text2 .check-out .day-month {
	float:left;
	font-size:0.9em
}
#page-v2 #search-selection-page .date-section .text2 .check-out .date {
	float:left;
	font-size:50px;
	font-weight:bold;
	margin:-8px 0 -8px 10px
}
#page-v2 #search-selection-page .customer-section {
	padding:8px;
	height:40px
}
#page-v2 #search-selection-page .customer-section img {
	float:left
}
#page-v2 #search-selection-page .customer-section .text1 {
	float:left;
	border:1px solid #BBBBBB;
	background:#e0e0e0;
	border-radius:7px;
	height:40px;
	overflow:hidden;
	margin:0 10px
}
#page-v2 #search-selection-page .customer-section .text2 {
	float:left;
	font-weight:bold;
	font-size:18px;
	margin:10px 0
}
#page-v2 #search-selection-page .room-section {
	padding:8px;
	height:40px
}
#page-v2 #search-selection-page .room-section img {
	float:left
}
#page-v2 #search-selection-page .room-section .text1 {
	float:left;
	border:1px solid #BBBBBB;
	background:#e0e0e0;
	border-radius:7px;
	height:40px;
	overflow:hidden;
	margin:0 10px
}
#page-v2 #search-selection-page .room-section .text2 {
	float:left;
	font-weight:bold;
	font-size:18px;
	margin:10px 0
}
#page-v2 #search-selection-page .seach-button-section {
	padding:0 20px 0 20px
}
#page-v2 #search-selection-page .ui-icon-nodisc label {
	vertical-align:top;
	background:white;
	padding:10px 0;
	width:40px;
	display:inline-block;
	text-align:center;
	padding-top:10px
}
#page-v2 #search-selection-page .www-chudu-link-section {
	text-align:center;
	font-size:13px;
	padding:5px 0
}/*city-selection-page*/
#page-v2 #city-selection-page .city-autocomplete-wrapper {
	margin:15px 0
}
#page-v2 #city-selection-page .wrapperRightKSPB {
	padding:5px 5px 0 5px;
	font-weight:normal
}
#page-v2 #city-selection-page .wrapperRightKSPB .RightTopic {
	font-size:19px;/*color:#333;*/
	font-weight:bold
}
#page-v2 #city-selection-page .wrapperRightKSPB .RightWrapCity {
	padding:5px 0;
	font-size:16px
}
#page-v2 #city-selection-page .wrapperRightKSPB .RightWrapCity a {/*color:#333;font-weight:normal;*/
}/*checkin-selection-page/checkout-selection-page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*//*datebox custom theme~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-v2 #checkin-selection-page .ui-content .ui-datebox-container, #page-v2 #checkout-selection-page .ui-content .ui-datebox-container {
	width:auto;
	background:#F1F1F1;
	border:none !important
}
#page-v2 #checkin-selection-page .ui-content .ui-input-datebox, #page-v2 #checkout-selection-page .ui-content .ui-input-datebox {
	height:0;
	min-height:0
}
#page-v2 #checkin-selection-page .ui-content .ui-datebox-griddate, #page-v2 #checkout-selection-page .ui-content .ui-datebox-griddate {
	width:10%;
	padding:1.5%
}
#page-v2 #checkin-selection-page .ui-content .ui-overlay-shadow, #page-v2 #checkout-selection-page .ui-content .ui-overlay-shadow {
	box-shadow:none
}
#page-v2 #checkin-selection-page .ui-content .ui-datebox-gridrow, #page-v2 #checkout-selection-page .ui-content .ui-datebox-gridrow {
	margin:0
}
#page-v2 #checkin-selection-page .ui-content .ui-datebox-gridheader h4, #page-v2 #checkout-selection-page .ui-content .ui-datebox-gridheader h4 {
	color:#333333;/*text-shadow:none;*/
}
#page-v2 #checkin-selection-page .ui-content .ui-body-a, #page-v2 #checkin-selection-page .ui-content .ui-overlay-a, #page-v2 #checkout-selection-page .ui-content .ui-body-a, #page-v2 #checkout-selection-page .ui-content .ui-overlay-a {
	text-shadow:none
}
#page-v2 #checkin-selection-page .ui-content .ui-corner-all, #page-v2 #checkout-selection-page .ui-content .ui-corner-all {
	border-radius:0;
	border:none
}
#page-v2 #checkin-selection-page .ui-content .ui-datebox-gridheader, #page-v2 #checkin-selection-page .ui-content .ui-datebox-grid, #page-v2 #checkout-selection-page .ui-content .ui-datebox-gridheader, #page-v2 #checkout-selection-page .ui-content .ui-datebox-grid {
	border:none
}
#page-v2 #checkin-selection-page .ui-content .ui-btn-up-a, #page-v2 #checkout-selection-page .ui-content .ui-btn-up-a {
	background:#FEFEFE;/*blue #6ABA2F;*/ /*background:linear-gradient(#FEFEFE,#F1F1F1) repeat scroll 0 0 #F1F1F1;*/
	border:1px solid #CCCCCC;
	color:#333;/*444*/
	text-shadow:none
}
#page-v2 #checkin-selection-page .ui-content .ui-datebox-griddate-disable, #page-v2 #checkout-selection-page .ui-content .ui-datebox-griddate-disable {
	color:#888;/*blue 666*/
}
#page-v2 #checkin-selection-page .ui-content .ui-datebox-griddate, #page-v2 #checkout-selection-page .ui-content .ui-datebox-griddate {
	font-size:16px
}
#page-v2 #checkin-selection-page .ui-content .ui-datebox-griddate-empty, #page-v2 #checkout-selection-page .ui-content .ui-datebox-griddate-empty {/*background:linear-gradient(#F1F1F1,#DDDDDD) repeat scroll 0 0 #F0F0F0;*/
	border:1px solid #B3B3B3;
	color:#888;/*blue 666*/
}
#page-v2 #checkin-selection-page .ui-content .ui-btn-down-a, #page-v2 #checkout-selection-page .ui-content .ui-btn-down-a {
	background:#F1F1F1;/*blue #335413;*/
	border:1px solid #CCCCCC;
	color:#333;
	text-shadow:none
}/*/datebox custom theme*//*#search-page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-v2 #search-page div.jqm-content {
}
#page-v2 #search-page .jqm-content * {
	padding:0;
	margin:0
}/*header city~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-v2 #search-page .ui-header .ui-title {
	padding:7px
}/*/header*/
#page-v2 #search-page .jqm-content .summary-section {
	background:#eee;
	padding:10px;
	font-size:0.7em
}
#page-v2 #search-page .jqm-content .summary-section .paras {
	float:left
}
#page-v2 #search-page .jqm-content .summary-section .total {
	text-align:right
}
#page-v2 #search-page .item {
	padding:10px
}
#page-v2 #search-page .item .img-div {
	float:left;
	padding-right:10px
}
#page-v2 #search-page .item .info-div {
	color:#6b6b6b;
	font-size:0.8em
}
#page-v2 #search-page .item .info-div .city {
	color:#097ac8;
	font-size:1.1em;
	font-weight:bold;
	margin-bottom: 3px;
}
#page-v2 #search-page .item .price-div {
	float:right;
	color:#ffa500;
	font-weight:bold;
	font-size:1.1em
}
#page-v2 #search-page .item .info-div .rating-num img {
	float:left;
	padding-right:5px
}
#page-v2 #search-page .item .info-div .rating-num .review-count {
	padding-top:2px
}
#page-v2 #search-page .flat-btn, #page-v2 #search-page .flat-btn > .ui-btn-inner {
	border-top:0 !important;
	border-bottom:0 !important;
	border:0 !important;
	background:transparent !important;
	-webkit-border-radius:0 !important;
	border-radius:0 !important;
	text-shadow:0 !important
}
#page-v2 #search-page a.click-to-view-more {
	padding:15px;
	background:#ddd !important
}
#page-v2 #search-page .filter-sorting-section a.filter {
	background:#ddd !important;
	width:50%;
	padding:15px 0;
	float:left
}
#page-v2 #search-page .filter-sorting-section a.sorting {
	background:#ddd !important;
	width:50%;/*padding:15px 0;*/
	float:right
}
#page-v2 #search-page .filter-sorting-section a.sorting div {
	border-left:3px solid #eee;
	padding:15px 0px
}/*#search-advance-page~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#page-v2 #search-advance-page .ui-header .title {
	padding:7px
}
#page-v2 #search-advance-page .ui-header .clear-button {
	padding:4px 2px 3px 2px;
	right:0;
	top:0;
	height:30px
}
#page-v2 #search-advance-page .jqm-content {
	margin:0;
	font-size:16px
}
#page-v2 #search-advance-page .jqm-content .have-promotion-section {
	padding:0 10px 0 10px
}
#page-v2 #search-advance-page .jqm-content .standard-to-rank-section {
	padding:0 10px
}
#page-v2 #search-advance-page .jqm-content .price-tier-section {
	padding:0 10px 0 10px
}
#page-v2 #search-advance-page .jqm-content .ui-field-contain .ui-controlgroup-controls, #page-v2 #search-selection-page .jqm-content .ui-field-contain .ui-controlgroup-controls {
	width:100%
}
#page-v2 #search-advance-page .button-section {/*padding:0 30%;*/
	padding:0 10px
}/*
 * jQuery Mobile Framework:plugin to provide a date and time picker.
 * Copyright (c) JTSage
 * CC 3.0 Attribution.May be relicensed without permission/notification.
 * https://github.com/jtsage/jquery-mobile-datebox
 */
.ui-input-datebox {
	width:97%;
	background-image:none;
	padding:.4em;
	line-height:1.4;
	font-size:16px;
	display:block;
	padding-top:0;
	padding-bottom:0;
	background-color:transparent
}
.ui-input-datebox {
	min-height:38px
}
.ui-datebox-container>.ui-header:first-child {
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px
}
.ui-input-datebox input {
	width:100%!important;
	padding:0!important;
	margin-top:5px!important;
	margin-right:-40px!important;
	border:1px solid transparent!important;
	vertical-align:middle;
	display:inline-block!important;
	background-color:transparent;
	zoom:1;
*display:inline
}
.ui-input-datebox input:focus {
	outline:0
}
.ui-input-datebox .ui-btn-text {
	display:none
}
.ui-input-datebox.ui-mini {
	min-height:20px;
	font-size:14px
}
.ui-icon-datebox {
	background-image:url('../Images/datebox.png')!important;
	background-repeat:no-repeat!important;
	background-position:99% 8px!important
}
.ui-icon-datebox-alt {
	background-image:url('../Images/datebox.png')!important;
	background-repeat:no-repeat!important;
	background-position:99% -28px!important
}
.ui-mini.ui-icon-datebox {
	background-position:99% 6px
}
.ui-mini.ui-icon-datebox-alt {
	background-position:99% -30px
}
@media all and (min-width:450px) {
.ui-field-contain .ui-input-datebox {
width:74.7%;
display:inline-block
}
.ui-hide-label .ui-input-datebox {
width:100%
}
}
.ui-grid-a .ui-input-datebox {
	width:97%
}
.ui-grid-b .ui-input-datebox {
	width:97%
}
.ui-grid-c .ui-input-datebox {
	width:97%
}
.ui-grid-d .ui-input-datebox {
	width:97%
}
.ui-grid-e .ui-input-datebox {
	width:97%
}
.ui-grid-e .ui-block-a, .ui-grid-e .ui-block-b, .ui-grid-e .ui-block-c, .ui-grid-e .ui-block-d, .ui-grid-e .ui-block-e, .ui-grid-e .ui-block-f {
	width:16.65%
}
.ui-grid-e>:nth-child(n) {
width:16.65%
}
.ui-grid-e .ui-block-a {
	clear:left
}
.ui-grid-e {
	overflow:hidden
}
.ui-block-f {
	margin:0;
	padding:0;
	border:0;
	float:left;
	min-height:1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box
}
.ui-datebox-gridheader {
	text-align:center
}
.ui-datebox-gridheader h4 {
	text-align:center;
	display:inline-block;
	margin-top:10px;
	margin-bottom:10px;
	zoom:1;
*display:inline
}
.ui-datebox-gridplus {
	float:right
}
.ui-datebox-gridminus {
	float:left
}
.ui-datebox-gridplus-rtl {
	float:left
}
.ui-datebox-gridminus-rtl {
	float:right
}
.ui-datebox-gridrow {
	margin-left:5px;
	margin-right:5px;
	margin-bottom:-7px
}
.ui-datebox-grid {
	clear:both;
	margin-bottom:5px
}
.ui-datebox-griddate {
	width:36px;
	height:30px;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	line-height:30px;
	font-weight:bold;
	font-size:12px;
	zoom:1;
*display:inline
}
.ui-datebox-griddate-week {
	width:31px;
	height:30px;
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	line-height:30px;
	font-weight:bold;
	font-size:12px;
	zoom:1;
*display:inline
}
.ui-datebox-griddate-empty {
	border:1px solid transparent;
	color:#888
}
.ui-datebox-griddate-label {
	height:15px!important;
	line-height:15px!important;
	color:black
}
.ui-datebox-griddate-disable {
	color:#888
}
.ui-datebox-header h4 {
	margin-top:5px;
	margin-bottom:5px;
	text-align:center
}
.ui-datebox-container fieldset div {
	margin:0!important
}
.ui-datebox-dboxin input {
	padding:.4em 0!important;
	text-align:center;
	width:95%
}
.ui-datebox-dboxin label {
	width:100%;
	text-align:center;
	display:block;
	margin-top:5px;
	margin-bottom:-8px
}
.ui-datebox-controls {
	text-align:center
}
.ui-datebox-controls div {
	width:77px;
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline
}
.ui-datebox-scontrols {
	text-align:center
}
.ui-datebox-scontrols div {
	width:55px;
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline
}
.ui-datebox-scontrols .ui-datebox-sinput {
	width:68px
}
.ui-datebox-scontrols .ui-datebox-sinput input {
	width:48px;
	text-align:center;
	margin-left:3px
}
.ui-datebox-input {
	width:74px!important;
	margin-left:1px;
	margin-right:1px;
	text-align:center!important;
	display:inline-block!important;
	zoom:1;
*display:inline
}
.ui-datebox-slide {
	width:280px;
	margin-left:auto;
	margin-right:auto
}
.ui-datebox-sliderow-d {
	margin-bottom:5px;
	text-align:center;
	height:40px;
	width:280px;
	overflow:hidden
}
.ui-datebox-sliderow-ym {
	margin-bottom:5px;
	text-align:center;
	height:32px;
	width:280px;
	overflow:hidden
}
.ui-datebox-sliderow-hi {
	text-align:center;
	height:32px;
	width:280px;
	overflow:hidden
}
.ui-datebox-sliderow-int {
	display:inline-block;
	white-space:nowrap
}
.ui-datebox-slide .ui-btn {
	margin:0;
	padding:0 1em
}
.ui-datebox-slideyear {
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline;
	width:84px;
	vertical-align:middle;
	line-height:30px;
	height:30px;
	font-size:14px;
	font-weight:bold
}
.ui-datebox-slidemonth {
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline;
	width:51px;
	vertical-align:middle;
	line-height:30px;
	height:30px;
	font-size:12px;
	font-weight:bold
}
.ui-datebox-slideday {
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline;
	width:32px;
	vertical-align:middle;
	line-height:20px;
	height:38px;
	font-size:14px;
	font-weight:bold
}
.ui-datebox-slidehour {
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline;
	width:32px;
	vertical-align:middle;
	line-height:22px;
	height:24px;
	font-size:14px;
	font-weight:bold
}
.ui-datebox-slidemins {
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline;
	width:32px;
	vertical-align:middle;
	line-height:22px;
	height:24px;
	font-size:14px;
	font-weight:bold
}
.ui-datebox-slidearrow {
	text-align:center;
	display:inline-block;
	zoom:1;
*display:inline;
	width:10px;
	vertical-align:middle;
	line-height:38px;
	height:38px;
	font-size:10px;
	font-weight:bold
}
.ui-datebox-slidewday {
	font-size:10px;
	font-weight:normal
}
.ui-datebox-flipcontent {
	text-align:center;
	height:125px;
	margin-bottom:-40px
}
.ui-datebox-flipcontent div {
	margin-left:3px;
	margin-right:3px;
	width:77px;
	height:120px;
	display:inline-block;
	text-align:center;
	zoom:1;
*display:inline;
	overflow:hidden
}
.ui-datebox-flipcontentd div {
	width:60px
}
.ui-datebox-flipcenter {
	border:1px solid #eee;
	height:40px;
	margin-left:10px;
	width:260px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	top:-45px
}
.ui-datebox-flipcontent ul {
	list-style-type:none;
	display:inline
}
.ui-datebox-flipcontent li {
	height:30px
}
.ui-datebox-flipcontent li span {
	margin-top:7px;
	display:block
}
.ui-datebox-container {
	border:5px solid #111!important;
	width:280px;
	-webkit-transform:translate3d(0, 0, 0)
}
.ui-datebox-screen {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.ui-datebox-screen-modal {
	background-color:black;
	-moz-opacity:.8;
	opacity:.80;
	filter:alpha(opacity=80)
}
.ui-datebox-hidden {
	display:none
}
.ui-dialog .ui-datebox-container {
	border:none!important
}
.ui-popup-container .ui-datebox-container {
	border:none!important
}
.ui-popup-container .ui-datebox-gridrow {
	margin-left:0;
	margin-right:0
}
.ui-datebox-collapse a {
	display:inline-block;
	width:45%
}
.ui-datebox-inline {
	margin-top:5px;
	border:5px solid #111!important;
	margin-left:auto;
	margin-right:auto;
	text-align:center
}
.ui-datebox-inlineblind {
	margin-top:5px;
	border:5px solid #111!important;
	margin-left:auto;
	margin-right:auto;
	text-align:center
}
#quick_booking .ui-btn-up-b {
	border:1px solid #df610e;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ff8744), to(#fb6d10));
	background-image:-webkit-linear-gradient(#ff8744, #fb6d10);
	background-image:-moz-linear-gradient(#ff8744, #fb6d10);
	background-image:-ms-linear-gradient(#ff8744, #fb6d10);
	background-image:-o-linear-gradient(#ff8744, #fb6d10);
	background-image:linear-gradient(#ff8744, #fb6d10)
}
.star_icon {
	background-image: url("../Images/star_icon.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	width: 80px;
}
.one_point {
	background-position: 0 0;
}
.two_point {
	background-position: 0 -15px;
}
.three_point {
	background-position: 0 -32px;
}
.four_point {
	background-position: 0 -49px;
}
.five_point {
	background-position: 0 -64px;
}
.six_point {
	background-position: 0 -78px;
}
.info_point i {
	color: #1FA1FB;
}
.repPhotos-items {
	text-align: center
}
/*Rating*/
.reviews_panel_redesign {
	background: none repeat scroll 0 0 #E4E8F0 !important;
	border-radius: 0 0 3px 3px;
	float: left;
	margin-bottom: 15px;
	padding: 2%;
	width: 96%;
}
.reviews_panel_redesign #rev_disclaimer {
	margin: 0;
	padding: 0 0 15px;
	text-align: center;
}
.reviews_panel_redesign #rev_filter {
	border-left: 0 none;
	border-right: 0 none;
	padding: 0;
	width: 26%;
}
.reviews_panel_redesign .review_panel ul {
	margin: 0;
	padding: 0;
}
.reviews_panel_redesign #rev_filter li.selected, .reviews_panel_redesign #rev_filter li:hover .key, .reviews_panel_redesign #rev_filter li:hover .value, .reviews_panel_redesign #rev_filter li.selected .key, .reviews_panel_redesign #rev_filter li.selected .value {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px 0 0 3px;
	color: #003580;
}
.review_panel li {
	font-size: 12px !important;
	line-height: 19px !important;
	margin-bottom: 1px;
	padding: 0 40px 0 0;
	position: relative;
}
.type_global {
	background-position: 0 -200px;
}
.redesign-destination-suggestion ul, li {
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.destination-suggestion ul, li {
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.breakdown_score_wrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 0 3px 3px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	float: left;
	width: 100%;
}
.reviews_panel_redesign #rev_breakdown {
	float: left;
	padding: 2% 3%;
	width: 60%;
}
.reviews_panel_redesign h4 {
	color: #003580;
	font-size: 14px !important;
	margin: 0;
	padding-bottom: 10px;
	text-align: center;
}
.reviews_panel_redesign .review_panel ul {
	margin: 0;
	padding: 0;
}
.reviews_panel_redesign #rev_breakdown li {
	display: block;
	float: left;
	margin-bottom: 8px;
	width: 98%;
}
.reviews_panel_redesign .score-outer {
	background: none repeat scroll 0 0 #E6F2FF;
	border-radius: 3px;
	float: left;
	line-height: 22px;
	width: 100% !important;
}
.reviews_panel_redesign #rev_breakdown .value, .reviews_panel_redesign #rev_filter .key, .reviews_panel_redesign #rev_filter .value {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.reviews_panel_redesign .breakdown_score_wrapper li .value {
	padding: 0 0 0 10px !important;
	right: auto;
}
.review_panel li .value {
	font-weight: bold;
	padding: 0 3px !important;
	position: absolute;
	right: 0;
}
.review_panel li {
	font-size: 12px !important;
	line-height: 19px !important;
}
.reviews_panel_redesign .score-line.score-animate {
	transition: width 0.5s ease-in-out 0s;
}
.reviews_panel_redesign .score-line {
	background: none repeat scroll 0 0 #87C2F6;
	border-radius: 3px;
	height: 22px;
	margin-top: -22px;
	overflow: hidden;
	width: 0;
}
.reviews_panel_redesign .score-outer {
	line-height: 22px;
}
.reviews_panel_redesign #rev_total {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	width: 29%;
}
.reviews_panel_redesign h4 {
	color: #003580;
	font-size: 14px !important;
	margin: 0;
	padding-bottom: 10px;
	text-align: center;
}
#rev_total_score_number {
	clear: both;
	margin: 0 30%;
	width: 100%;
}
.reviews_panel_redesign #rev_total_score_number div {
	background: none repeat scroll 0 0 #003580;
	border: 0 none;
	border-radius: 10px 10px 10px 0;
	color: #FFFFFF;
	font-size: 35px;
	height: 45px;
	line-height: 45px;
	margin-top: 10px;
	padding: 15px;
	text-align: center;
	width: 45px;
}
reviews_panel_redesign #rev_total_score_number div {
	color: #FFFFFF;
	font-size: 35px;
	line-height: 45px;
	text-align: center;
}
.reviews_panel_redesign #rev_total p {
	text-align: center;
}
.reviews_panel_redesign #rev_breakdown .value, .reviews_panel_redesign #rev_filter .key, .reviews_panel_redesign #rev_filter .value {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.reviews_panel_redesign .score-outer span {
	color: #003580 !important;
	font-weight: 700;
	padding: 6px;
	position: relative;
	white-space: nowrap;
}
/*Book Room*/
.green_Tab {
	background: none repeat scroll 0 0 #409807;
	height: 30px;
	position: relative;
	text-align: left;
}
.green_Tab span {
	color: #FFFFFF;
	float: left;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	padding-left: 10px;
}
.nowrap img.occsprite {
	background-image: url("../Images/iconsonguoi.png");
	margin-top: 2px;
}
img.max1 {
	background-position: -42px -1px;
	width: 12px;
}
img.max2 {
	background-position: -42px -21px;
	width: 19px;
}
img.max3 {
	background-position: -42px -41px;
	width: 26px;
}
img.max4 {
	background-position: -42px -61px;
	width: 33px;
}
img.max5, img.max6, img.max7, img.max8, img.max9 {
	width: 38px;
}
img.max5 {
	background-position: -42px -81px;
}
img.max6 {
	background-position: -42px -101px;
}
img.max7 {
	background-position: -42px -121px;
}
img.max8 {
	background-position: -42px -141px;
}
img.max9 {
	background-position: -42px -161px;
}
img.max10 {
	background-position: -42px -181px;
	width: 42px;
}
img.maxkids1 {
	background-position: -42px -497px;
	width: 9px;
}
img.maxkids2 {
	background-position: -42px -510px;
	width: 14px;
}
img.maxkids3 {
	background-position: -42px -523px;
	width: 19px;
}
img.maxkids4 {
	background-position: -42px -536px;
	width: 24px;
}
.plus_kids {
	font-size: 0.9em;
	line-height: 16px;
	margin-right: 2px;
}
.tien-nghi {
	margin: 0 0 10px;
}
.RoomTypeInfos .sub-sub-title {
	color: #FFFFFF;
	line-height: 35px;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 10px;
	background: #3f90ca;
	text-shadow: none
}
.bottom-15 {
	margin-bottom: 15px;
}
.unit_facilities {
	display: table;
	width: 100%;
}
.sub-title .description {
	border-bottom: 1px solid #009B00;
	clear: both;
	display: table-row;
	float: left;
	margin: 0 0 3px;
	padding-bottom: 3px;
	width: 100%;
}
.sub-title .description h3, .sub-title .description p.firstpar {
	display: table-cell;
	float: left;
	vertical-align: top;
}
.sub-title .description h3 {
	color: #0067CE;
	font-size: 16px;
	font-weight: normal;
	width: 35%;
}
.sub-title .firstpar, .sub-title .positive_policy_free {
	width: 65%;
	float: left
}
.hotelchars .description h3, #doc h2, #unsubscribeTmpl h2 {
	color: #779BCA;
}
.hotelchars .description h3 span, #doc h2 span, #unsubscribeTmpl h2 span {
	line-height: 1em;
	top: 0.2em;
}
.rules_cancel {
	float: left;
	width: 100%;
	margin-top: 10px
}
.sub-title .description span {
	width: 10em;
}
.sub-title .description .facility_icon {
	background: url("../Images/facilities_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	height: 33px;
	margin-right: 5px;
	padding: 0;
	width: 33px;
}
.sub-title #outdoors_facility .facility_icon {
	background-position: 0 -502px;
}
.sub-title #internet_policy .facility_icon {
	background-position: 0 -264px;
}
.sub-title #parking_policy .facility_icon {
	background-position: 0 -433px;
}
.sub-title #services_facility .facility_icon {
	background-position: 0 -112px;
}
.sub-title .facility_icon_id_1 .facility_icon {
	background-position: 0 0;
}
.sub-title .facility_icon_id_languages .facility_icon {
	background-position: 0 -540px;
}
.sub-title p, .sub-title .description h3 {
	margin: 5px 0
}
.reviewRating {
	float: left;
	width: 52px;
	height: 35px;
	margin: 0 30px 15px 0;
	background: #f8fcf7;
	text-align: center;
	padding-top: 5px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1)
}
.viewrating {
	margin-top: 10px;
	border-top: 1px solid #CCCCCC
}
.tr_write_comment {
	height: 50px;
	border-bottom: 1px solid #CCCCCC;
	background: #FFFFFF
}
.info_dt_booking {
    margin: 20px 0;
}