/* Navigation */
.tab_info {
	float: left;
	width: 740px;
}
.nav ul {
	overflow: hidden;
}
.nav ul li {
	float: left;
	text-align: center;
	margin-left: 10px;
	height: 40px;
	position: relative;
	z-index: 999;
}
.nav ul li a {
	display: block;
	color: #333333;
	font-weight: 700;
	font-size: 13px;
	line-height: 40px;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	width: 170px;
	border: none;
	/*background: #FFFFFF;*/
	background: url(../Images/bg_repeat.png) 0 -180px repeat-x;
	transition: none;
	position: relative;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.nav ul li a:hover, .nav ul li a:focus, .nav ul li a.current 
{
    background:#FFFFFF;
	/*color: #FFFFFF;
	background: url(../Images/bg_repeat.png) 0 -180px repeat-x;*/
}
.nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
	background-image: url('../img/notch.png');
}
/* Content */
#content section {
	display: none;
}
.section {
	margin:0;
	padding: 0.9em;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	border: 1px solid #c1c1c1;
	margin-top: -1px;
	-moz-box-shadow:0 0 5px #888888;
	-webkit-box-shadow:0 0 5px #888888;
	box-shadow:0 0 5px #888888;
	background: #FFFFFF
}
#tabs_detail_content p {
	margin: 10px 0;
	line-height: 170%;
}
.profile_tab .nav ul li a { width: 160px; }