 /*form contact*/
 #contact{ padding-left:30px; padding-right:30px;}
 .contact_add { width:100%; float:left}
.btn {
	background-color: rgb(0, 173, 233);
	border: 0;
	margin: 0;
	height: 25px;
	width: 100px;
	clear: both;
	cursor:pointer;
}
 
.form_contact {
	width: 50%;
	float: left;
}
.form_contact h2{ width:100%; font-weight:bold; font-size:110% }
.form_contact .txt {
	margin: 3px 0px;
	width: 100%;
	background:url(../images/fields.png) left center no-repeat;
 
	border: solid #ccc 1px;
	min-height: 25px;
	text-indent:30px;
}
 
textarea {
	resize: vertical;
}
.form_contact .row {
	width: 100%;
	float: left
}
.form_contact .name{ 
background-position-x: 9px;
background-position-y: -130px;}
.form_contact .email{ 
background-position-x: 9px;
background-position-y: -175px;}
.form_contact .phone{ 
background-position-x: 9px;
background-position-y: -40px;}
.form_contact  .message{ 
background-position-x: 9px;
background-position-y: -260px;}