/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#3e3e3e;
	background: #FFFFFF;
}
a {
	text-decoration: none;
	color: #3e3e3e;
}
a:hover {
	text-decoration: none;
}
.clearfix {
	display: inline-box;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, boxquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.img_general {
	float: left;
	margin-right: 10px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
}
#page {
	width: 1000px;
	pading: 0 10px;
	margin: 0 auto;
}
/* LAYOUT

--------------------------*/
/*Top Main*/
.top_main {
	margin-top: 10px;
}
.right_top_main {
	float: right;
	width: 620px;
	padding: 0;
	margin: 0;
}
/*Main*/
.main {
	float: left;
	margin: 0 auto;
	padding-top: 10px;
	display: box;
	width: 100%;
	clear: both;
	position: relative;
}
.left {
	float: left;
	width: 725px;
	margin-right: 10px;
}
.right {
	float: right;
	width: 265px;
}
/* HEADER

--------------------------*/

.header {
	float:left;
	width: 100%;
	margin: 0;
	position: relative;
}
.logo {
	float: left;
	margin: 10px 0;
	padding: 0;
}
.slogan {
	float: left;
	margin: 20px 0 0 50px;
}
.hotline {
	position: absolute;
	top: 25px;
	right: 0;
	background: url(../Images/hotline_menu.png) center left no-repeat;
	padding: 5px 0 0 28px;
	margin: 0;
	height: 30px;
	color: #ee1d25;
}
/* SEARCH */
.search {
	background: #dadada;
	float: left;
	width: 460px;
	height: 30px;
	padding: 10px;
	margin-top: 20px;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
}
.inputSearch {
	background: #FFFFFF;
	border: 1px solid #727272;
	width: 452px;
	color: #000000;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	height: 22px;
	padding: 4px;
}
.submitSearch {
	background: url(../Images/search_button.jpg) center left repeat-x;
	border: 1px solid #c7c5c5;
	cursor: pointer;
	position: absolute;
	top: 13px;
	right: 11px;
	height: 26px;
	padding: 0 10px;
	width: 60px;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
}
/*Account*/
.bubbleInfo {
	float: right;
	margin-top: 30px;
	position: relative;
	text-align: left;
	width: 100%;
	transition: all 0.3s linear 0s;
	width: 130px;
	height: 40px;
	z-index: 99999;
	font-size: 13px;
	background: url(../Images/avatar_icon.png) center left no-repeat;
	padding-left: 35px;
}
.trigger {
	display: block;
	line-height: 40px;
}
.popup_login {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 20px;
	position: absolute;
	width: 240px;
	z-index: 50;
	top: 45px !important;
	left: 0 !important;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	border-top: 1px solid #DDDDDD;
	font: normal 12px Arial, Helvetica, sans-serif;
}
.input_form {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.input_form input {
	border: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	color: #333333;
	font: normal 12px Arial, Helvetica, sans-serif;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 218px;
	text-align: left;
}
.note_wrapper {
	float: left;
	width: 100%;
	margin: 0;
}
.lost_password {
	float: left;
	width: 58%;
}
.link_acount {
	color: #0B58C2;
	line-height: 16px;
	text-decoration: underline;
}
.remember_password {
	float: right;
	width: 40%;
	text-align: right;
}
.remember_password input[type="checkbox"] {
	border: medium none;
	box-shadow: none;
	float: left;
	height: 30px;
	margin-top: -8px;
	width: 20px;
}
.popup_login .button {
	background: #FF6600;
	border: 0 none;
	color: #FFFFFF;
	width: 130px;
	text-align: center;
	cursor: pointer;
}
.menu_account {
	background-color: #FFFFFF;
	overflow: hidden;
	margin-top: 5px;
}
.menu_account ul {
	float: left;
	width: 100%;
	margin-top: -1px;
	position: relative;
	text-align: left;
}
.menu_account ul li {
	border-top: 1px dotted #CCCCCC;
	border-left: none;
	clear: left;
	float: none;
	padding: 0;
	margin-top: -1px;
	overflow: hidden;
	height: auto;
}
.menu_account ul li a {
	background: none repeat scroll 0 0 transparent;
	color: #333333;
	font-family: robotoRegular, arial;
	font-size: 100%;
	font-weight: 400;
	height: 28px;
	line-height: 28px;
	padding: 0;
	width: 100%;
}
.menu_account ul li:hover {
	background-color: #DDDDDD;
	text-decoration: none;
}
/*Box*/
.box {
	float: left;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}
div.box_content {
	padding: 0;
	margin: 0 auto;
}
/*Tab*/
.box_Tab {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #dcdcdc;
}
.box_Tab span {
	text-align: center;
	color: #3e3e3e;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 10px;
}
#news_index ul {
	width: 100%;
	list-style: none;
}
#news_index ul li {
	float: left;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #dddddd;
}
#news_index ul li.news_hot {
	padding: 0;
	font-size: 13px;
}
#news_index .h2Title a {
	font-size: 13px;
}
#register {
	border: 1px solid #bdbdbd;
	position: relative;
	height: 25px;
	padding: 1px 1px 1px 4px;
}
.txf {
	width: 215px;
	border: none;
	float: left;
	padding: 4px 0;
}
.btn_send {
	float: right;
	width: 40px;
	height: 25px;
	background: #929292;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
}
.option {
	width: 100%;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #bdbdbd;
	margin: 0;
	outline: medium none;
	padding: 5px 3px;
}
/*Pagination*/
.pagination {
	float: left;
	font-weight: bold;
	margin: 0 auto;
	margin-top: 10px;
	padding: 5px 0;
	height: 18px;
	text-align: center;
	width: 100%;
}
.pagination a {
	border: 1px solid #dadada;
	border-radius: 5px 5px 5px 5px;
	margin: 0 2px;
	padding: 5px 10px;
	color: #3e3e3e;
}
.pagination b, .pagination a:hover {
	background: #dadada;
	border: 1px solid #dadada;
	border-radius: 5px 5px 5px 5px;
	color: #3e3e3e;
	margin: 0 2px;
	padding: 5px 10px;
	text-decoration: none;
}
/*News*/
#list_news {
	float: left;
	width: 100%;
}
#list_news ul {
	padding: 10px 0;
}
#list_news ul li {
	border-bottom: 1px dashed #3F7100;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .view_more {
	bottom: 10px;
	position: absolute;
	right: 0;
	font-style: italic;
	text-decoration: underline;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news .h3Title a {
	font-weight: bold;
	text-transform: none;
}
#list_news p {
	margin: 0 0 1em 0;
	color: #3e3e3e;
	line-height: 150%
}
#list_news img {
	border: medium none;
}
.h1Title {
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #3e3e3e;
}
.detail_news {
	padding: 10px;
}
.hiTitle {
	font: bold 20px Arial, Helvetica, sans-serif;
	color: #FF0C00;
}
.date {
	color: #878787;
	font: 11px Arial;
}
#detail_news {
	float: left;
}
.detail_info {
	float: left;
	width: 100%;
}
#detail_news .detail_info {
	width: 100%;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar_menu.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #2e7201;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 5px 0;
}
.other_news_sub a {
	background: url(../Images/arrows_left_menu.png) no-repeat scroll left -10px transparent;
	padding-left: 10px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #FF0C00;
}
.path {
	float: left;
	width: 99%;
	padding: 5px;
	text-align: left;
	text-transform: none;
	background: #e4e4e4;
	font-size: 11px;
}
/*Slide Vertical*/
.slide_v_product {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}
.slide_v_product ul li {
	display: block;
	list-style: none outside none;
	padding: 0;
}
.clr {
	clear: both;
}
/*Footer*/
.footer {
	float: left;
	width: 100%;
	padding: 5px 0;
	margin-top: 10px;
	border-top: 1px solid #dddddd;
	color: #333333;
}
.footer_inner {
	float: left;
	width: 100%;
	border-top: 1px solid #dddddd;
	padding-top: 20px
}
.footer p {
	padding: 0;
	margin: 0 0 3px 0;
	line-height: 15px;
}
.col_menuFooter {
	float: left;
	padding: 10px 0;
	width: 20%;
}
.ctentColuMenuFooter {
	float: right;
	text-align: left;
	width: 95%;
}
.support, .fl {
	width: 30%;
	text-align: right;
}
.ctentColuMenuFooter h2 {
	margin-bottom: 10px;
}
.ctentColuMenuFooter h2 a {
	color: #333333;
	font-weight: bold;
}
.listMenuFooter {
	padding: 0;
}
.support {
	font: normal 14px Arial, Helvetica, sans-serif;
}
.support p {
	margin: 0 0 20px 0;
	line-height: 150%
}
.support span {
	color: #333333;
	font-weight: bold
}
.menu_f_title {
	font: bold 14px Arial, Helvetica, sans-serif;
}
.listMenuFooter a {
	color: #3e3e3e;
	display: block;
	font-weight: 200;
	margin-top: 5px;
}
.footer_l, .footer_r {
	float: left;
	width: 50%;
}
.copyright {
	float: right;
	clear: right;
	text-align: right;
	font-size: 11px;
}
.face_b {
	float: right;
	margin: 10px 0;
}
.visitors {
	float: right;
	width: 100%;
	padding: 10px 0;
	text-align: right;
}
/*Ads Bottom Corner*/
html div.ads_bottom {
	overflow:hidden;
	width: 170px;
	z-index: 9999;
}
#ads_bottom01 {
	color:#666;
	position:fixed;
	_position: absolute;
	right:0;
	bottom:0;
	margin:0
}
#ads_bottom02 {
	color:#666;
	position:fixed;
	_position: absolute;
	left:0;
	bottom:0;
	margin:0
}
#coh963846 {
	display:block;
	font: bold 12px Arial;
	color:#fdf7d7;
	background:#0063b0;
	padding:4px 0 4px 5px
}
#coh963846 a {
	color:#690;
	text-decoration:none;
}
#coc67178 {
	float:right;
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	height:15px;
}
#coc67178 li {
	display:inline;
}
#coc67178 li a {
	background-image:url(../Images/button.gif);
	background-repeat:no-repeat;
	width:30px;
	height:0;
	padding-top:15px;
	overflow:hidden;
	float:left;
}
#coc67178 li a.close {
	background-position: 0 0;
}
#coc67178 li a.close:hover {
	background-position: 0 -15px;
}
#coc67178 li a.min {
	background-position: -30px 0;
}
#coc67178 li a.min:hover {
	background-position: -30px -15px;
}
#coc67178 li a.max {
	background-position: -60px 0;
}
#coc67178 li a.max:hover {
	background-position: -60px -15px;
}
#co453569 {
	display:block;
	height:200px;
	margin:0;
	padding:0;
	overflow:hidden;
	background:#FFFFFF;
	border-left: 1px solid #0063b0;
}
.Stati {
	width:100%;
	float:right;
	padding:5px 0;
	line-height:16px;
	color:#7c2a03;
	position: relative;
}
.Stati ul {
	width: 94%;
	margin: 0 auto;
}
.Stati ul li {
	float: left;
	width: 50%;
	position: absolute;
	bottom: 0;
	margin: 5px 0;
	position: relative;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}
/*Products*/
.product_row {
	float: left;
	border-top: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
}
.product {
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	float: left;
	height: 240px;
	margin: -1px 0 0 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 180px;
	font-size: 13px;
	position: relative;
}
.product_inner {
	margin: 0 auto;
	padding: 10px 9px;
	text-align: left;
}
.info_product {
	position: absolute;
	bottom: 5px;
}
.product img {
	border: 1px solid #ebebeb;
}
.double {
	width: 362px;
}
.double .product {
	width: 361px;
}
.double .product_inner {
	padding: 0;
}
.double .info_product {
	left: 10px;
}
.double img {
	border: none;
}
.double .boxcaption {
	width: 341px;
}
.divTitle {
	font: normal 20px Arial, Helvetica, sans-serif;
	color: #0000FF;
}
.link_title {
	font-size: 13px;
	color: #0000ff;
}
.h1Title {
	margin-top: 0;
	font-size: 20px;
	color: #210220;
}
.h2Title {
	margin: 5px 0;
}
.h2Title a {
	font: normal 14px Arial, Helvetica, sans-serif;
}
.price {
	margin-top: 5px;
	color: #FF0000;
	font-weight: bold;
	font-size: 14px;
}
.status {
	position: absolute;
	top: 0;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}
.new_status, .hot_status {
	left: 0;
	width: 35px;
	height: 15px;
	line-height: 15px;
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 12px
}
.new_status {
	background: #5fd400;
}
.hot_status {
	background: #ff0000;
}
.saleoff_status {
	right: 0;
	width: 70px;
	background: #0064c1;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	text-align: left
}
/* Create arrow up */
.arrow_up {
	width:0px;
	height:0px;
	border-left:50px solid transparent;
	border-right:50px solid transparent;
	border-bottom:50px solid #5fd400; /* Tam giac phia duoi duoc do mau */
}
/* Create arrow down */
.arrow_down {
   width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #FFFFFF;
	position: absolute;
	left: 0;
	bottom: -10px;
}
.new_status .arrow_down {
	border-top: 10px solid #5fd400; /* Tam giac phia tren duoc do mau */
}
.hot_status .arrow_down {
	border-top: 10px solid #ff0000; /* Tam giac phia tren duoc do mau */
}
/* Create arrow left */
.arrow_left {
	width:0px;
	height:0px;
	border-bottom:10px solid transparent;
	border-top:10px solid transparent;
	border-right:10px solid #0064c1; /* Tam giac phai duoc do mau */
	position: absolute;
	top: 0;
	left: -10px;
}
/* Create arrow right */
.arrow_right {
	width:0px;
	height:0px;
	border-bottom:0 solid transparent;
	border-top:30px solid transparent;
	border-left:30px solid #dadada;  /* Tam giac trai duoc do mau */
	position: absolute;
}
.button {
	display: inline-block;
	width: 70px;
	height: 25px;
	background: url(../Images/button_bg.jpg) center center repeat-x;
	margin: 5px auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	line-height: 25px;
	text-align: center;
}
.h1Title {
	width: 100%;
	font: normal 20px Arial, Helvetica, sans-serif;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	background: url(../Images/title_productBg_menu.png) top left no-repeat;
}
.h1Title a {
	line-height: 40px;
	padding: 0 10px;
}
.boxgrid {
	float: left;
	overflow: hidden;
	position: relative;
}
.boxcaption {
	background: none repeat scroll 0 0 #f5f5f5;
	float: left;
	height: 239px;
	padding: 10px;
	width: 88.5%;
	position: absolute;
	left: 0;
	top: 240px;
	color: #C00;
}
.boxcaption a {
	text-decoration: none;
}
.nolist {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.nolist {
	margin-top: 10px;
}
.nolist li {
	margin: 2px 0;
	line-height: 120%
}
.arrow_box {
	position: relative;
	width: 280px;
	height: 80px;
	background: #206d97;
	border: 4px solid #4ec7ab;
}
.arrow_box:after, .arrow_box:before {
	width:0;
	height:0;
	content: "";
	position: absolute;
	bottom: 100%;
}
.arrow_box:after {
	border: 20px solid transparent;
	border-bottom-color: #206d97;
	left: 5px;
}
.arrow_box:before {
	border: 25px solid transparent;
	border-bottom-color: #4ec7ab;
}
/*Menu left*/
#site-body {
	margin: 0;
	padding: 0;
	float: left;
	width: 370px;
}
#site-body .navigation-banner {
}
#site-body .navigation-banner .navigation {
	float: left;
	width: 100%;
}
#site-body .navigation-banner .navigation ul, #site-body .navigation-banner .navigation ul li, #site-body .navigation-banner .navigation ul li a {
	float: left;
	font: normal 12px Arial, Helvetica, sans-serif;
}
#site-body .navigation-banner .navigation ul li a {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
	transition: all 300ms ease 100ms;
	-webkit-transition: all 300ms ease 100ms;
}
#site-body .navigation-banner .navigation ul li a.hover {
	border-color: #555;
	box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
}
#site-body .navigation-banner .navigation ul.last {
	margin-right: 0;
}
#site-body .navigation-banner .navigation ul li {
	margin-bottom: 2px;
}
#site-body .navigation-banner .navigation ul li.digital, #site-body .navigation-banner .navigation ul li.accessories, #site-body .navigation-banner .navigation ul li.sim-card {
	margin-bottom: 2px;
}
#site-body .navigation-banner .navigation ul li.last {
	margin-bottom: 0;
}
#site-body .navigation-banner .navigation .col1, #site-body .navigation-banner .navigation .col1 li, #site-body .navigation-banner .navigation .col1 li a {
	width: 100%;
}
#site-body .navigation-banner .navigation .col {
	float: left;
	width: 184px;
}
#site-body .navigation-banner .navigation .col2 {
	margin-left: 2px;
}
#site-body .navigation-banner .navigation .col1 li.mobile {
	width: 100%;
}
#site-body .navigation-banner .navigation .col1 li.mobile a {
	background: #e76823 url(../Images/mobile_icon.png) 20px center no-repeat;
	height: 82px;
	line-height: 82px;
	text-align: center;
	padding: 0 10px 0 60px;
}
#site-body .navigation-banner .navigation .col1 li.mobile a.hover {
	background-position: 140px center;
	padding-left: 20px;
	padding-right: 60px;
}
#site-body .navigation-banner .navigation .col1 li.accessories {
	width: 91px;
}
#site-body .navigation-banner .navigation .col1 li.accessories a {
	background: #e79300 url(../Images/accessories_icon.png) center 5px no-repeat;
	height: 82px;
	padding-top: 60px;
	text-align: center;
}
#site-body .navigation-banner .navigation .col1 li.accessories a.hover {
	background-position: center 30px;
	padding-top: 10px;
}
#site-body .navigation-banner .navigation .col1 li.desktop {
	width: 91px;
	margin-left: 2px;
}
#site-body .navigation-banner .navigation .col1 li.desktop a {
	background: #b91f3b url(../Images/desktop_icon.png) center 10px no-repeat;
	height: 82px;
	padding: 58px 0 0 0;
	text-align: center;
}
#site-body .navigation-banner .navigation .col1 li.desktop a.hover {
	background-position: center 32px;
	padding-top: 10px;
}
#site-body .navigation-banner .navigation .col1 li.tablet {
	width: 100%;
}
#site-body .navigation-banner .navigation .col1 li.tablet a {
	background: #a40303 url(../Images/tablet_icon.png) 115px center no-repeat;
	height: 82px;
	line-height: 82px;
	padding: 0 10px 0 15px;
	text-align: left;
}
#site-body .navigation-banner .navigation .col1 li.tablet a.hover {
	background-position: 15px center;
	padding-left: 80px;
}
#site-body .navigation-banner .navigation .col2 li.camera {
	width: 91px;
}
#site-body .navigation-banner .navigation .col2 li.camera a {
	background: #013296 url(../Images/camera_icon.png) center 12px no-repeat;
	width: 100%;
	height: 82px;
	text-align: center;
	padding: 55px 0 0 0;
}
#site-body .navigation-banner .navigation .col2 li.camera a.hover {
	background-position: center 35px;
	padding-top: 10px;
}
#site-body .navigation-banner .navigation .col2 li.sale_off {
	width: 91px;
	margin-left: 2px;
}
#site-body .navigation-banner .navigation .col2 li.sale_off a {
	background: #018834 url(../Images/saleoff_icon.png) center 15px no-repeat;
	width: 100%;
	height: 82px;
	text-align: center;
	padding: 55px 0 0 0;
}
#site-body .navigation-banner .navigation .col2 li.sale_off a.hover {
	background-position: center 38px;
	padding-top: 12px;
}
#site-body .navigation-banner .navigation .col2 li.laptop {
	width: 100%;
}
#site-body .navigation-banner .navigation .col2 li.laptop a {
	background: #13a7eb url(../Images/laptop_icon.png) 90px center no-repeat;
	width: 100%;
	height: 82px;
	line-height: 82px;
	text-align: left;
	padding: 0 0 0 40px;
}
#site-body .navigation-banner .navigation .col2 li.laptop a.hover {
	background-position: 30px center;
	padding-left: 90px;
}
#site-body .navigation-banner .navigation .col2 li.electric {
	width: 91px;
}
#site-body .navigation-banner .navigation .col2 li.electric a {
	background: #02a07d url(../Images/electric_icon.png) center 42px no-repeat;
	height: 82px;
	line-height: 16px;
	text-align: center;
	padding: 5px 10px;
}
#site-body .navigation-banner .navigation .col2 li.electric a.hover {
	background-position: center 8px;
	padding: 45px 10px 5px 10px;
}
#site-body .navigation-banner .navigation .col2 li.accessories_pc {
	width: 91px;
	margin-left: 2px;
}
#site-body .navigation-banner .navigation .col2 li.accessories_pc a {
	background: #27b1c1 url(../Images/accessories_pc_icon.png) center 42px no-repeat;
	height: 82px;
	line-height: 18px;
	text-align: center;
	padding: 5px 10px;
}
#site-body .navigation-banner .navigation .col2 li.accessories_pc a.hover {
	background-position: center 5px;
	padding: 40px 10px 5px 10px;
}
/*Menu chay*/
#sidebar {
	top:0;
	right:10px;
	left:auto;
}
#sidebar ul {
	width:100%;
}
#sidebar ul li {
	float:left;
	margin-bottom:1px;
	position:relative;
}
#sidebar ul li a {
	background-color:#6f6f6f;
	background-repeat:no-repeat;
	color:#fff;
	float:left;
	font-size:11px;
	height:60px;
	line-height:16px;
	padding:0 5px;
	text-align:center;
	transition:all 300ms ease 100ms;
	-webkit-transition:all 300ms ease 100ms;
	width: 75px;
}
#sidebar ul li a:hover {
	background-color:#999;
	box-shadow:0 1px 25px #888888 inset;
}
#sidebar ul li a {
	height:39px;
	padding-top:6px
}
#sidebar ul li.mobile a {
	background-image:url(../Images/mobile_icon_menu.png);
	background-position:center 6px;
	height:20px;
	padding-top:40px;
}
#sidebar ul li.mobile a:hover, #sidebar ul li.mobile a.active {
	background-color: #e76823;
}
#sidebar ul li.laptop a {
	background-image:url(../Images/laptop_icon_menu.png);
	background-position:center 5px;
	height:20px;
	padding-top:45px;
}
#sidebar ul li.laptop a:hover, #sidebar ul li.laptop a.active {
	background-color:#13a7eb
}
#sidebar ul li.tablet a {
	background-image:url(../Images/tablet_icon_menu.png);
	background-position:center 3px;
	height:20px;
	padding-top:45px;
}
#sidebar ul li.tablet a:hover, #sidebar ul li.tablet a.active {
	background-color:#a40303
}
#sidebar ul li.camera a {
	background-image:url(../Images/camera_icon_menu.png);
	background-position:center 8px;
	height:20px;
	padding-top:40px;
}
#sidebar ul li.camera a:hover, #sidebar ul li.camera a.active {
	background-color:#013296
}
#sidebar ul li.electric a {
	background-image:url(../Images/electric_icon_menu.png);
	background-position:center 5px;
	height:35px;
	padding-top:40px;
}
#sidebar ul li.electric a:hover, #sidebar ul li.electric a.active {
	background-color:#02a07d
}
#sidebar ul li.sale_off a {
	background-image:url(../Images/saleoff_icon_menu.png);
	background-position:center 8px;
	height:20px;
	padding-top:45px
}
#sidebar ul li.sale_off a:hover, #sidebar ul li.sale_off a.active {
	background-color:#018834
}
#sidebar ul li.desktop a {
	background-image: url(../Images/desktop_icon_menu.png);
	background-position:center 8px;
	height:20px;
	padding-top:40px
}
#sidebar ul li.desktop a:hover, #sidebar ul li.desktop a.active {
	background-color:#b91f3b
}
#sidebar ul li.accessories a {
	background-image:url(../Images/accessories_icon_menu.png);
	background-position:center 8px;
	height:20px;
	padding-top:50px
}
#sidebar ul li.accessories a:hover, #sidebar ul li.accessories a.active {
	background-color:#e79300
}
#sidebar ul li.accessories_pc a {
	background-image:url(../Images/accessories_pc_icon_menu.png);
	background-position:center 8px;
	height:20px;
	padding-top:40px;
}
#sidebar ul li.accessories_pc a:hover, #sidebar ul li.accessories_pc a.active {
	background-color:#27b1c1;
}
.wrap {
	height:1000px;
	padding:0;
	margin:0 0 0 95px;
	color:#333;
}
.menu {
	position:absolute;
	left:0;
	width:85px;
}
.menu .easing {
	overflow:hidden;
	margin:10px 0;
}
.menu .easing button {
	font-size:1.1em;
	float:left;
	clear:left;
	line-height:1;
	cursor:pointer;
}
.menu2_wrap {
	position:absolute;
	top: 10px;
	left:95px;
	bottom: 10px;	
}
.menu2 {
	top:0;
	right:10px;
	left:auto;
}
.transition200 .duration,  .transition200 .delay {
	visibility:hidden;
}
.transition200 {
	transition:200ms;
	-webkit-transition:200ms;
	-o-transition:200ms;
}
.list_products {
	width: 906px;
	height:auto;
}
.cate_title {
	background: #FFFFFFF;
	border: 1px solid #dadada;
	height: 30px;
	position: relative;
	margin-bottom: 10px;
}
.cate_title .title_c {
	float: left;
	padding: 0 0 0 10px;
	text-transform: uppercase;
	font: normal 14px Arial, Helvetica, sans-serif;
	line-height: 30px;
	background: #dadada;
}
.sort {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 160px
}
.sort_option {
	width: 135px;
	border: 1px solid #dadada;
}
/*Detail*/
.detail .h1Title {
	float: right;
	position: inherit;
	text-align: left;
	margin: 0 0 10px 0;
	padding-bottom: 3px;
	width: 100%;
	border-bottom: 1px solid #d6d6d6;
	color: #202020;
}
.info_detail {
	float: right;
	width: 58%;
	font-size: 13px;
}
.info_detail .social_network {
	float: left;
	width: 30%;
}
.warranty {
	float: right;
	width: 70%;
	text-align: left;
}
.info_detail .price_detail {
	float: left;
	clear: left;
	width: 50%;
	padding: 20px 0;
}
.info_detail .price_detail div {
	margin-bottom: 10px;
}
.cost {
	font: bold 18px Arial, Helvetica, sans-serif;
}
.cost span {
	color: #ff0000;
}
.f_price {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #3e3e3e;
}
.f_price span {
	text-decoration: line-through;
}
.buy_detail {
	float: left;
	display: block;
	background: url(../Images/blue_bg.jpg) 0 0 repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 140px;
	height: 40px;
	margin-top: 20px;
	text-align: center;
}
.buy_detail span {
	display: block;
	line-height: 40px;
	padding-top: 12px;
	color: #FFFFFF;
	font: bold 15px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.short_des {
	float: left;
	width: 48%;
	margin: 20px 0 0 10px;
	line-height: 150%;
}
.info_detail p {
	margin: 10px 0;
}
.info_detail ul li {
	background: url(../Images/circle_icon.png) 0 7px no-repeat;
	margin: 3px 0;
	padding-left: 10px;
}
#tabs_detail {
	float: left;
	width: 650px;
}
#tabs_detail p {
	margin: 0 0 10px 0;
	line-height: 180%;
}
/* Send Opinion */ 
form {
	padding: 0;
	margin: 0;
}
.form_comment {
	margin: 0 auto;
	width: 100%;
}
div.row {
	width: 100%;
	float: left;
	margin: 5px 0;
	position: relative;
}
.column {
	float: left;
}
.left_col {
	display: block;
	width: 30%;
	margin-right: 10px;
	margin-top: 5px;
	text-align: right;
}
.right_col {
	float: left;
	display: block;
	text-align: left;
}
.write_comment label {
	padding: 1px 7px 0;
	position: absolute;
	top: 4px;
	z-index: 1;
	color: #3e3e3e;
}
textarea {
	width: 400px;
	height: 100px;
	padding: 5px;
	border: 1px solid #e3e3e3;
}
.send_cmt {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	font: bold 12px Arial;
	color: #FFFFFF;
	background: url(../Images/blue_bg.jpg) center center repeat-x;
}
.row input {
	padding: 2px 4px;
	width: 225px;
	height: 20px;
	border: 1px solid #e3e3e3;
	font: 12px Arial;
}
.reset {
	text-align: right;
	border: none;
}
.reset {
	margin-right: 5px;
}
.required {
	color: #F00;
	margin: 5px;
}
.inputbox {
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
/*Other products*/
.other_products {
	float: right;
	width: 245px;
	background: #f5f3f3;
	padding-bottom: 10px;
}
.other_products .product {
	width: 100%;
	border: none;
	position: relative;
	height: auto;
	margin-top: 5px;
}
.other_products .product img {
	border: 1px solid #dadada;
}
.other_products .product_inner {
	padding: 5px;
}
.accessories_slide {
	margin: 10px 0;
}