/* COMMON STYLE

--------------------------------------------------------- */

html,body,fieldset {margin: 0;padding: 0;}



body {margin: 0;padding: 0;}

body#bd {	font-size: 12px;

	font-family: Arial;

	color:#3e3e3e;
	
	background: #feffff url(../Images/bg.jpg) top left repeat-x;
}

a { text-decoration: none;  color: #1a74a9;}

a:hover { text-decoration: underline; }

.clearfix {display: inline-block;}


* html .clearfix { height: 1%;}

.clearfix {display: block; clear: both;}

img {border: none;}

h1 {font-size: 18px;}

h2 {font-size: 16px;}

h3 {font-size: 14px;}

h4 {font-size: 13px;}

ul {list-style: none;}

pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0;

	padding: 0;

}
.inputbox {
    height: 31px;
    padding: 0 4px;
	border: 1px solid #878787;
}

.ar11, .ar11 a { font: normal 11px Arial; }

.ar12, .ar12 a { font: normal 12px Arial; }
/* WRAPPER --------*/

#wrapper { width:100%; float: left; margin: 0 auto; padding: 0; background: url(../Images/wrap_bg.jpg) top center repeat-y; }

#page {width: 1000px; pading: 0 10px; margin: 0 auto; background: #ffffff; }

/* LAYOUT

--------------------------*/

.main {float: left; margin: 0 auto; padding: 0; display: block; width: 100%; clear: both; background: url(../Images/main_bg.jpg) top left repeat-y;}
.main_top { width: 100%; margin: 10px 0; }

/* HEADER

--------------------------*/

.header { float:left; width: 100%; height: 100px; display: inline-block; margin: 0; position: relative; background: #FFFFFF; }

.logo { float: left; margin: 20px 20px 0 20px; padding: 0; }

.slogan { float: left; margin: 20px 0 0 50px; }

.hotline { position: absolute; top: 15px; right: 10px; background: url(../Images/phone.png) center left no-repeat; padding: 5px 0 0 20px; margin: 0; height: 25px; color: #ee1d25; }

/* SEARCH */

.search {
    background: url(../Images/search_bg.jpg) no-repeat scroll 0 0 transparent;
	position: absolute;
	top: 60px;
	right: 10px;
    height: 20px;
    overflow: hidden;
    width: 180px; 
}
.inputSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    float: left;
    font: 11px arial;
    height: 17px;
    padding: 3px 0 0 4px;
    width: 140px;
}
.submitSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 18px;
    padding: 0;
    width: 20px;
}
/* MAIN MENU ------*/

#nav_menu {
    float: left;
	width:100%;
	line-height:normal;
	height: 52px;
	background: url(../Images/nav_bg.png) top left repeat-x;
}
.inner_menu { margin: 0 auto; display: table; }
#nav_menu ul {
	padding: 0;
	margin-top: 5px;
	list-style:none;
	text-align: center;
	}
#nav_menu li {
	float: left;
	margin:0 auto;
	padding:0;
	height: 40px;
	}
#nav_menu ul li a {
background: url(../Images/space.jpg) left 10px no-repeat;
height: 28px;
padding: 12px 15px 0 15px;
float: left;
display: block;
color: #FFFFFF;
text-decoration: none;
text-align: center;
font-weight: bold;
text-transform: uppercase;
}
#nav_menu ul li.active a {
	background: #7384a9;
}
#nav_menu ul li a:hover, #nav_menu ul li.active a:hover {
	text-decoration:none;
	background: #7384a9;
}	
/*Slide*/
#slider_products {
				float: right;
				background: #FFFFFF;
				width: 380px;				
				margin: auto;
				position: relative;
				z-index: 10;
			}
#slider_products .jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url(../Images/pre_slider.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: -40px;
    top: 130px;
    width: 30px;
}
#slider_products .jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url(../Images/next_slider.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    top: 130px;
	right: -40px;
    width: 30px;	
}			
#slider_logo { 				
				clear: both;
				background: #FFFFFF;
				width: 100%;				
				margin: auto;
				margin-bottom: 5px;
				position: relative;
				z-index: 5;
			}
#mycarousel img{ width:120px; height: 80px;} 
/*------------------------------------------------------*/			
.jcarousel-skin-tango { padding: 5px 50px; }
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: auto;
    width: 100%;
	float: left;
	padding: 5px 0 10px 0;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url(../Images/pre_slider.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: -40px;
    top: 25px;
    width: 30px;
	opacity: 0.5;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url(../Images/next_slider.png);
    left: 5px;
    right: auto;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url(../Images/next_slider.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    top: 20px;
	right: -40px;
    width: 30px;
	opacity: 0.5;	
}


.video { float: left; width: 620px; height: 280px; }
.content { width: 100%; margin: 5px 0 0 0; }
div.categories {
    list-style-type: none;
    padding: 0 0 10px;
	margin: 0 auto;
    width: 100%;
	background: url(../Images/devide_col.png) top left repeat-y;
}
div.categories div.col {
    float: left;
    height: 100%;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 48%;
}
div.categories div.divider {
    clear: both;
    height: 1px;
	background: url(../Images/line_cateBg.png) top left no-repeat;
}

.col_news { float: left; width: 47%; padding: 10px; margin: 0 5px; border-bottom: 1px solid #a9ddf4; position: relative; }
.img_general { float: left; margin-right: 10px; }
.divider {
    clear: both;
    line-height: 1px;
}
.link_title {
    color: #1a74a9;
    font: 12px arial;
    text-decoration: none;
}
.h3title { margin-bottom: 20px; }
.h3title a { font: bold 12px Arial; }
.view_more { float: left; background: url(../Images/arrow.png) left 4px no-repeat; padding-left: 8px; margin-top: 20px; }

.partners { float: left; width: 100%; border: 1px solid #e2ecff; margin-bottom: 5px; position: relative; }
.title_logo { padding: 5px; background: #e2ecff; }
.online { position: absolute; top: 5px; right: 5px; text-align: right; color: #031953; }
/*Footer*/
.footer {
    float: left;
    width: 100%;
}
.footer p { padding: 0; margin: 0; }
.menu_footer { background: #031953; margin: 0 auto; text-align: center; padding: 5px 0; }
.menu_footer, .menu_footer a { color: #FFFFFF; }
.info_footer {
	float: left;	
	clear: both;
	width: 60%;
	padding: 10px 0;
    text-align: left;
}
