/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial;
	color:#696868;
	background: url(../Images/bg.jpg) top center repeat;
}
@font-face {
 font-family: 'HPAvoRegular';
 src: url('../Images/font/havon.eot');
 src: url('../Images/font/havon.eot') format('embedded-opentype'), url('../Images/font/havon.woff') format('woff'), url('../Images/font/havon.ttf') format('truetype'), url('../Images/font/havon.svg#HPAvoRegular') format('svg');
}
@font-face {
 font-family: 'UVNHongHaRegular';
 src: url('../Images/font/uvnhongha.eot');
 src: url('../Images/font/uvnhongha.eot') format('embedded-opentype'), url('../Images/font/uvnhongha.woff') format('woff'), url('../Images/font/uvnhongha.ttf') format('truetype'), url('../Images/font/uvnhongha.svg#UVNHongHaRegular') format('svg');
}
a {
	text-decoration: none;
	color: #005baa;
}
a:hover {
	text-decoration: underline;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #cacaca;
	padding: 5px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
	background: url(../Images/wrapper_bg.png) top center repeat-y;
}
.page {
	width: 1000px;
	pading: 0;
	margin: 0 auto;
}
.page_inner {
	margin: 0 auto;
	width: 1000px;
	background: #FFFFFF url(../Images/blue_gradientBg.jpg) 0 0 repeat-y;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	display: block;
	width: 100%;
	clear: both;
}
.left_content {
	float: left;
	width: 220px;
	padding: 0;
	margin-left: 10px;
}
.main_content {
	float: right;
	width: 770px;
	padding: 0;
	margin: 0;
}
.main_2column {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.main_l_col {
	float: left;
	width: 530px;
}
.main_r_col {
	float: right;
	width: 230px;
	background: #e7f0f5;
	padding-top: 10px;
}
/* HEADER

--------------------------*/
.header {
	position: relative;
}
.logo {
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
/*Top Main*/
.top_main_banner {
	float: left;
	width: 100%;
	padding: 0;
}
/* SEARCH TOP MAIN */
.search {
	position: absolute;
	top: 10px;
	right: 0;
	height: 30px;
	overflow: hidden;
	width: 200px;
	-moz-box-shadow:inset 2px 5px 9px #000000;
	-webkit-box-shadow:inset 2px 5px 9px #000000;
	box-shadow:inset 2px 5px 9px #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
}
.search .input_Search {
	border: medium none;
	color: #000000;
	float: left;
	font: 12px arial;
	height: 24px;
	line-height: 24px;
	padding: 2px 0 2px 5px;
	width: 500px;
}
.search .search_btn {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 34px;
	height: 26px;
	background: url(../Images/icon.png) 0 -132px no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.cart {
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content_center {
	padding: 5px;
}
/* MENU SIDEBAR */
.all_categories {
	float:left;
	width: 100%;
	background: #e7f0f5;
	padding-top: 5px;
	margin-bottom: 10px;
}
.nav_menu {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	position: relative;
	display: block;
}
.m_li {
	cursor: pointer;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 210px;
	position: relative;
}
.m_li a {
	font-weight: 700;
}
.pc_menu a {
	font-weight: normal;
}
.m_li:hover {
	text-decoration: none;
	z-index: 999999999;
}
.m_li:hover a.t_menu {
	color: #005baa;
}
.t_menu {
	color: #005baa;
	text-transform: uppercase;
	display: block;
	font-size: 15px;
	font-weight: bold;
	height: 27px;
	padding: 8px 7px 0 10px;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: url(../Images/tab_bg.jpg) 0 0 repeat-x;
	margin: 4px 0;
	border: 1px solid #838484;
	text-align: center;
}
.t_menu:hover {
	text-decoration: none;
}
.list_categories a {
	font-size: 12px;
	font-weight: normal;
	padding: 2px 3px 2px 15px;
	text-transform: capitalize;
}
.list_categories ul {
	list-style-type: none;
}
.list_categories ul li {
	background: none repeat scroll 0 0 transparent !important;
	border: medium none !important;
	float: none !important;
	font-weight: normal;
	line-height: 20px;
	margin-left: 20px;
	width: 200px;
}
.list_categories {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	display: none;
	padding-bottom: 10px;
	position: absolute;
	top: 0;
	left: 210px !important;
	width: 770px !important;
	z-index: 999999999;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
}
.pc_menu {
	float: left;
	width: 250px !important;
}
.list_categories p {
	color: #0039de;
	font-size: 13px;
	font-weight: bold;
	margin: 2px 0;
	padding: 2px 5px;
}
.list_categories p a {
	color: #333333;
	font-size: 12px;
	font-weight: bold;
}
.image_cate {
	clear: both;
	width: 98%;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
	display: block;
}
.pc_menu ul li a {
	background: url(../Images/bullets.png) 0 7px no-repeat;
	padding-left: 15px;
	display: block;
}
/*Tab*/
.box_Tab {
	width: 94%;
	height: 35px;
	border: 1px solid #a19f7b;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: url(../Images/tab_bg.jpg) 0 0 repeat-x;
	text-align: center;
	font-weight: 700;
	line-height: 35px;
	color: #c93939;
	text-transform: uppercase;
	font-family: 'UVNHongHaRegular';
	font-size: 100%;
}
.main_r_col .box_Tab {
	width: 210px;
	margin: 0 auto;
	color: #005baa;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}
#ads .box_Tab {
	float: left;
	width: 230px;
	position: absolute;
	background: url(../Images/tab_bg.jpg) 0 -42px repeat-x;
	color: #005baa;
}
.main_r_col .box_Tab .info_tootip { padding: 10px; display: none; position: absolute; left: -130%; top: 5%; text-align: center; background: #FFFFFF; 	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888; width: 250px;
	box-shadow: 0 0 5px #888888; z-index: 999; font: bold 18px Arial, Helvetica, sans-serif; text-transform: none; color: #c50000; cursor: default  }
.tip {
	z-index: 999999999;
}
.tip:before, .tip:after {
	content: '';
	width: 0px;
	height: 0px;
}
.tip:before {
	border-bottom:10px solid transparent;
	border-top:10px solid transparent;
	border-left:10px solid #c1c1c1;
	position: absolute;
	top: 2px;
	left: 101%;
	z-index: 1;
}
.tip:after {
	border-bottom:8px solid transparent;
	border-top:8px solid transparent;
	border-left:9px solid #FFFFFF;
	position: absolute;
	top: 5px;
	left: 100%;
	z-index: 2;
}
.main_r_col .box_Tab:hover .info_tootip { display: block; }
/*Partners*/
#partners {
	float: left;
	width: 100%;
	margin: 5px 0;
	cursor: pointer;
	text-align: left;
}
#partners .title_partner {
	display: block;
	background: url(../Images/arrow_left.png) 10px 8px no-repeat;
	padding: 6px 0 6px 25px;
	font-weight: 700;
	color: #4b4b4b;
}
.slide_link {
	position: relative;
}
.slide_link .slide_img {
	width: 100%;
	margin: 5px 0;
	border: 1px solid #c2c2c2;
	opacity: 0;
	display: none;
	margin-left: -10px;
	z-index: 100;
}
.tip_img {
	z-index: 999999999;
}
.tip_img:before, .tip:after {
	content: '';
	width: 0px;
	height: 0px;
}
.tip_img:before {
    border-bottom: 10px solid rgba(0, 0, 0, 0.2);
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 40%;
    position: absolute;
    top: 22px;
}
.tip_img:after {
    border-bottom: 9px solid #FDFDFA;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 41%;
    position: absolute;
    top: 24px;
}

/*WRAPPER MENU*/
.wrap_menu {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 484px;
	padding: 0 15px;
}
.menu a {
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px;
	width: 140px;
	height: 160px;
	color: #005baa;
	text-align: center;
	text-decoration: none;
	font: normal 15px/25px Helvetica, Arial, sans-serif;
}
/*MAIN CIRCLE*/
.circle {
	position: relative;
	width: 100%;
	height: 515px;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: url(../Images/cate_indexBg.png) 0 160px no-repeat;
}
/*LITTLE CIRCLES*/
.circle li {
	position: absolute;
	width: 160px;
	height: 170px;
	list-style-type: none;
	text-align: center;
	font: 20px/50px Helvetica, Arial, sans-serif;
	top: 0;
	left: 0;
	z-index: 100;
	-webkit-transform:scale(1); /*Webkit: Scale down image to 0.8x original size*/
	-moz-transform:scale(1); /*Mozilla scale version*/
	-o-transform:scale(1); /*Opera scale version*/
	-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
	-moz-transition-duration: 0.5s; /*Mozilla duration version*/
	-o-transition-duration: 0.5s; /*Opera duration version*/
}
.circle li:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
.circle li:hover a { font-weight: 700; text-transform: uppercase }
 .circle li:nth-child(1) {
 top: 15px;
 left: 160px;
}
.circle .one {
	background: url(../Images/yellow_menu.png) 0 0 no-repeat
}
.circle .one:hover {
	background: url(../Images/yellow_menu_hover.png) 0 0 no-repeat
}
.circle .two {
	background: url(../Images/orange_menu.png) 0 0 no-repeat
}
.circle .two:hover {
	background: url(../Images/orange_menu_hover.png) 0 0 no-repeat
}
.circle .three {
	background: url(../Images/green_menu.png) 0 0 no-repeat
}
.circle .three:hover {
	background: url(../Images/green_menu_hover.png) 0 0 no-repeat
}
.circle .four {
	background: url(../Images/blue_menu.png) 0 0 no-repeat
}
.circle .four:hover {
	background: url(../Images/blue_menu_hover.png) 0 0 no-repeat
}
.circle .five {
	background: url(../Images/pink_menu.png) 0 0 no-repeat
}
.circle .five:hover {
	background: url(../Images/pink_menu_hover.png) 0 0 no-repeat
}
 .circle li:nth-child(2) {
 top: 125px;
 left: 330px;
}
 .circle li:nth-child(3) {
 top: 315px;
 left: 280px;
}
 .circle li:nth-child(4) {
 top: 315px;
 left: 50px;
}
.circle li:nth-child(5) {
 top: 125px;
 left: 0;
}
/*HOVER STATES*/
.menu > .one:hover ~ .circle {
 -webkit-transform: rotate(0deg);
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -o-transform: rotate(0deg);
 transform: rotate(0deg);
}
 .menu > .two:hover ~ .circle {
 -webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);
 transform: rotate(-90deg);
}
 .menu > .three:hover ~ .circle {
 -webkit-transform: rotate(-180deg);
 -moz-transform: rotate(-180deg);
 -ms-transform: rotate(-180deg);
 -o-transform: rotate(-180deg);
 transform: rotate(-180deg);
}
 .menu > .four:hover ~ .circle {
 -webkit-transform: rotate(-270deg);
 -moz-transform: rotate(-270deg);
 -ms-transform: rotate(-270deg);
 -o-transform: rotate(-270deg);
 transform: rotate(-270deg);
}
.menu > .five:hover ~ .circle {
 -webkit-transform: rotate(-270deg);
 -moz-transform: rotate(-270deg);
 -ms-transform: rotate(-270deg);
 -o-transform: rotate(-270deg);
 transform: rotate(-270deg);
}
/*Slide Vertical*/
.slide_v_product {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.slide_v_product label { display: block; font-weight: 700; font-size: 15px; color: #333333; text-align: center; text-transform: uppercase; background: url(../Images/shadow.png) 0 100% repeat-x; background-size: 100% 30%; width: 100%; height: 35px; line-height: 35px; padding-bottom: 10px }
.slide_v_product ul li {
	display: block;
	list-style: none outside none;
	padding: 0;
	height: 160px;
	margin-bottom: 5px;
}
.clr {
	clear: both;
}
/*Ads at bottom*/
#ads {
	background: #fff200;
	padding: 5px 5px 0 5px;
	width: 990px;
	height: 190px;
	overflow: auto;
}
#ads a { float: left; margin: 5px; }
#ads .img_f { margin-top: 45px; }
/*Pagination*/
.navigation {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
	height: 25px;
	line-height: 25px;
	padding: 10px 0;
}
.navigation a {
	background: #f7f8f8;
	border: 1px solid #8ea299;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 3px 8px;
	color: #ee3338;
}
.navigation b, .navigation a:hover {
	background: #4c9875;
	border: 1px solid #4c9875;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*List News*/
.list_news {
	float: left;
	width: 100%;
}
.list_news ul {
	padding: 10px 0;
}
.list_news ul li {
	border-bottom: 1px dotted #b9babb;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .h2Title {
	padding: 0 0 3px 0;
}
.list_news .h2Title a {
	background: url(../Images/cicle_arrow.png) 100% 50% no-repeat;
	padding-right: 15px;
}
.list_news .hot_news .h2Title a {
	font-size: 18px;
	font-weight: 700;
}
.list_news p {
	margin: 0;
}
.list_news img {
	border: 1px solid #b9babb;
}
.detail {
	float: left;
	padding: 10px 0;
}
.detail_info {
	line-height: 170%;
}
.detail p {
	margin: 5px 0;
	line-height: 160%;
}
.h1Title {
	font-size: 20px;
	color: #005baa;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_general {
	float: left;
	padding-top: 10px;
	width: 100%;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding-top: 10px;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	float: left;
	width: 520px;
	background: #187449;
	font-weight: 500;
	padding: 5px;
	text-align: left;
	text-transform: none;
	color: #FFFFFF;
}
.path a {
	color: #FFFFFF;
}
/*Footer*/
.footer {
	clear: both;
	float: left;
	padding: 0;
	width: 100%;
	color: #3e3e3e;
}
.footer p {
	margin: 0 0 3px 0;
	padding: 0;
}
.info_footer {
	float: left;
	width: 60%;
	font: normal 12px Arial;
	text-align: left;
}
.copyright {
	float: right;
	width: 40%;
	margin: 0;
	font-size: 11px;
	line-height: 30px;
	text-align: right;
	padding-top: 10px;
}
.content { display: none; }