/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
}
body#bd
{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background: url(../Images/bg.jpg) top center no-repeat;
    background-attachment: fixed;
}
a
{
    text-decoration: none;
    color: #0107fd;
}
a:hover
{
    text-decoration: underline;
}
.clearfix
{
    display: inline-block;
}
* html .clearfix
{
    height: 1%;
}
.clear
{
    display: block;
    clear: both;
}
img
{
    border: none;
}
h1
{
    font-size: 18px;
}
h2
{
    font-size: 16px;
}
h3
{
    font-size: 14px;	
}
h4
{
    font-size: 13px;
}
ul
{
    list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
}
.ar11, .ar11 a
{
    font: normal 11px Arial, Helvetica, sans-serif;
}
.ar12, .ar12 a
{
    font: normal 12px Arial, Helvetica, sans-serif;
}
.ar13, .ar13 a
{
    font: normal 13px Arial, Helvetica, sans-serif;
}
.ar14, .ar14 a
{
    font: normal 14px Arial, Helvetica, sans-serif;
}
.ar18, .ar18 a
{
    font: normal 18px Arial, Helvetica, sans-serif;
}
.tahoma11, .tahoma11 a
{
    font: normal 11px Tahoma, Geneva, sans-serif
}
.tahoma12, .tahoma12 a
{
    font: normal 12px Tahoma, Geneva, sans-serif
}
.tahoma13, .tahoma13 a
{
    font: normal 13px Tahoma, Geneva, sans-serif
}
.tahoma14, .tahoma14 a
{
    font: normal 14px Tahoma, Geneva, sans-serif
}
.tahoma18, .tahoma18 a
{
    font: normal 18px Tahoma, Geneva, sans-serif;
}
p
{
    line-height: 18px;
}
.clear
{
    clear: both;
}
.img_general
{
    float: left;
    margin-right: 10px;
}
/* WRAPPER --------*/

#wrapper
{
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: 0;
    background: url(../Images/wrap_bg.png) top center repeat-y;
}
.page
{
    width: 1000px;
    pading: 0;
    margin: 0 auto;
	margin-top: -40px;
}
/* LAYOUT

--------------------------*/
.main
{
    float: left;
	padding: 0;
    margin: 0 auto;
    display: block;
    width: 100%;
    clear: both;
	background: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	z-index: 100;
}
.left_content {
	float: left;
	width: 770px;
	margin: 0 10px;
}
.right_content {
	float: right;
	width: 190px;
	margin: 0 10px;
}
/* HEADER

--------------------------*/

.header
{
    height: 196px;
    margin: 0 auto;
	text-align: center;
}
/* MAIN MENU ------*/
#nav_menu
{
    line-height: normal;
    height: 45px;
    background: url(../Images/nav_bg.png) top center no-repeat;
	margin: 5px auto;
	position: relative;
	top: -20px;
	text-align: center;
}
.inner_menu
{
    display: table;
    margin: 0 auto;
}
#nav_menu ul
{
	width: 1000px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
#nav_menu li
{
    float: left;
	padding-top: 7px;
    height: 23px;
}
#nav_menu ul li a
{
    background: url(../Images/menu.png) top left no-repeat;
    height: 17px;
    padding: 0 10px;
    float: left;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
	text-transform: none;
	border-left: 1px solid #FFFFFF;
}
#nav_menu ul li.menu_home
{
	padding-top: 2px;
}
#nav_menu ul li.order_online 
{
	padding-top: 3px;
}
#nav_menu ul li.menu_home a, #nav_menu ul li.order_online a
{
	border: none;
}
#nav_menu ul li a:hover
{
    color: #ee3439;
}
#nav_menu ul li.order_online a {
	width: 160px;
	margin-left: 40px;
}	
/*Content*/
.categories { width: 94%; margin: 0 auto; padding: 20px 0 10px 0; }
.top_categories { 
	background: url(../Images/top_categories_bg.png) top left no-repeat;
	width: 100%; 
	height: 10px;
}
.center_categories { float: left; width: 100%; background: url(../Images/categories_bg.png) top left repeat-y; padding: 0 0 10px 0; }
.bot_categories {
	float: left;
	background: url(../Images/bot_categories_bg.png) bottom right no-repeat;
	width: 100%; 
	height: 10px;
}
.cate { float: left; width: 20%; text-align: center; }
.cate_inner { width: 70%; margin: 0 auto; }
.h3Title { text-transform: uppercase; margin: 5px 0; font-size: 15px; }
.img_cate { display: block; width: 123px; height: 123px; padding: 4px; background: url(../Images/cate_bg.png) center center no-repeat; }
/*News*/
.list_news {
    width: 97.2%;
}
.list_news ul li {
    border-bottom: 1px dashed #3097c1;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}
.list_news .view_more {
    bottom: 5px;
    font-size: 12px;
    position: absolute;
    right: 0;
	font-style: italic;
}
.list_news .h3Title {
    margin: 0 0 5px 0;
}
.list_news h4 {
    margin-bottom: 20px;
}
.list_news .h3Title a {
    font-weight: bold;
    text-transform: none;
}
.list_news img {
    border: medium none;
}
.detail_news {
    padding: 10px;
}
.date {
    color: #878787;
    font: 11px Arial;
}
.toolbar {
    border-color: #0088FB;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 10px 0;
    position: relative;
    text-align: left;
    width: 100%;
}
.toolbar a {
    background: url("../Images/toolbar.png") no-repeat scroll 0 0 transparent;
    color: #3E3E3E;
    display: inline-block;
    font: 11px/22px Tahoma;
    margin-left: 10px;
    padding-left: 22px;
}
a.email {
    background-position: 0 -44px;
}
a.print {
    background-position: 0 -22px;
}
.social_web {
    height: 30px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 10px;
    width: 70%;
}
.other_news_sub {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
}
.other_news_sub ul {
    margin: 10px 0 0 20px;
}
.other_news_sub ul li {
    padding: 3px 0;
}
.other_news_sub a {
    background: url("../Images/bullet.jpg") no-repeat scroll left center transparent;
    color: #292929;
    padding-left: 20px;
}
.title_otherNews {
    color: #053203;
    font: 18px Arial;
}
.other_news_sub .view_more {
    background: url("../Images/arrow.png") no-repeat scroll left 5px transparent;
    color: #065600;
    display: block;
    left: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
.link_title {
    font-weight: normal;
}
.navigation
{
    float: left;
    font-weight: bold;
    padding: 0;
    margin: 0 auto;
	margin-top: 10px;
    width: 100%;
    height: 35px;
    text-align: right;
    background: #FFFFFF;
}
.navigation a
{
    background: #b1b1b1 url(../Images/navigation_a.jpg) top left repeat-x;
    border: 1px solid #c8c8c8;
    border-radius: 5px 5px 5px 5px;
    color: #0d5e92;
    margin: 0 2px;
    padding: 3px 8px;
}
.navigation b, .navigation a:hover
{
    background: #407899 url(../Images/navigation_hover.jpg) top left repeat-x;
    color: #FFFFFF;
    padding: 3px 8px;
    border: 1px solid #a2abb1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	text-decoration: none;
}
/*Ads at Left Column*/
/*========= BOX #demo ========*/
#demo { 
	width:100%;
	margin: 0 auto;
	margin-top: 10px;
}
/*=========BOX .jcarouse ========*/
.jcarouse { width:100%; }
.jcarouse ul li{ list-style:none; display:block; margin-bottom:10px; }
.jcarouse ul li a { display:block; width:180px; }
.jcarouse .thumb { float:left; width:190px; height:125px; }
.clr { clear: both; }
.mainTab {
	margin: 20px 0 15px 10px;
	color: #2a5197;
	font-weight: bold;
	text-transform: uppercase;
	background: url(../Images/line_tab.jpg) bottom right repeat-x;	
	position: relative;
}
.mainTab span {
	z-index: 100;
	background: #FFFFFF;
	position: absolute;
	top: 18px;
	padding: 0 5px;
}
.right_content .h3Tab {
	width: 100%;
	height: 23px;
	padding: 6px 0 0 0;
	color: #FFFFFF;
	text-align: center;
	background: url(../Images/tab_right.jpg) 0 0 no-repeat;
}
.menu_dishes {
	width: 95%;
	margin: 0 auto;
}
.dish { float: left; width: 20%; text-align: center; margin-bottom: 10px; }
.dish a { width: 90%; margin: 0 auto; }
.menu_dishes .img_general {
    display: block;
    height: 119px;
    margin-bottom: 5px;
    padding: 1px 10px 1px 1px;
    width: 160px;
	margin: 0 auto;
	background: url(../Images/product_bg.png) bottom right no-repeat;
}
.menu_dishes img {
    border: 1px solid #b8b8b8;
    border-radius: 15px 15px 15px 15px;
}
.menu_inner { width: 165px; margin: 0 auto; }
.menu_dishes h3 { margin: 5px 0; }
/*Detail*/
.detail {
    margin: 0 auto;
    width: 98%;
}
.detail .img_general {
    display: block;
    height: 230px;
    margin: 0 auto;
    padding: 1px 10px 1px 1px;
    width: 310px;
	margin: 0 auto;
	background: url(../Images/product_detailBg.png) bottom right no-repeat;
}
.detail .img_general img { border-radius: 35px 35px 35px 35px; }
.detail .product_title { color: #2a5197; font-weight: bold; }
.more_info_detail { float: right; width: 65%; text-align: left; }
.other_products {
    clear: both;
    margin: 0 auto;
    width: 98%;
}
.other_Tab {
    margin-bottom: 10px;
    padding: 5px 0;
	font-style: italic;
}
/*Slide*/
#slider {
    float: right;
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 5;
}
.jcarousel-skin-tango {
    padding: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 0;
	width: 130px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.other_products .img_general {
    display: block;
    height: 87px;
    margin-bottom: 5px;
    padding: 1px 10px 1px 1px;
    width: 107px;
	margin: 0 auto;
	background: url(../Images/product_bg01.png) bottom right no-repeat;
}
.other_products { width: 90%; margin: 0 auto; }
.other_products img {
    border-radius: 0;
}
.other_products .dish, .other_products .menu_dishes { width: 100%; }
/*Footer*/
.footer
{
    float: left;
    clear: both;
	background: #FFFFFF;	
    color: #000000;
    padding-bottom: 10px;
    width: 100%;
    margin: 0 auto;
	text-align: center;
}
.footer_inner { width: 94%; margin: 0 auto; }
.footer_bottom
{
	float: left;
	width: 100%;
    clear: both;	
	text-align: center;
    padding: 0;
	color: #FFFFFF;
}
.footer_bottom a { color: #FFFFFF; }
.info_footer, .copyright { float: left; width: 50%; text-align: left; }
.footer p { padding: 0; margin: 5px 0; }
.more_info { float: right; width: 50%; text-align: right; }
.more_info p { margin: 10px 0; }
.email {
    background: url(../Images/get_emailbg.png) no-repeat scroll 0 0 transparent;
    float: right;
    height: 34px;
    width: 235px;
	margin-left: 10px;
}
.input-email {
    border: medium none;
    margin: 6px 0 0 5px;
	float: left;
	background: none;
	width: 80%;
}
.inputb {
    bottom: 25px;
    display: block;
    height: 35px;
    left: 190px;
    position: relative;
    width: 67px;
}