@charset "utf-8";
/*Left Menu*/
html, body, fieldset {
	margin: 0;
	padding: 0;
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
fieldset {
	background: none;
	border: none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: top;
}
ul {
	list-style: none;
	margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
	color: #0576e0;
}
a:hover {
	text-decoration: underline;
}
/*Tab*/
.box_Tab, .box_Tab_main span {
	height: 37px;
	font-size: 1.2em;
	font-weight: 500;
	color: #fff000;
	line-height: 35px;
	text-transform: uppercase;
	position: relative;
	padding-left: 20px;
	background: url(../Images/tabBg.png) top right no-repeat;
}
.menu_list {
	width: 100%;
	display: none;
	background: #f7f7f7
}
.cate_header {
	margin-bottom: 3px;
	text-transform: uppercase;
	position: relative
}
.cate_header.current {
	margin: 0
}
.cate_header.current:after {
	position: absolute;
	right: 4px;
	top: 23px;
	width: 30px;
	height: 15px;
	background: url(../Images/menu_listBg.png) 0 0 no-repeat;
	content: ''
}
.menu_head {
	height: 32px;
	line-height: 32px;
	background: #f7f7f7 url(../Images/menu_sidebar_li.png) 0 -41px no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	padding-left: 10px;
}
.menu_head:first-child {
	background-position: 0 -78px;
	margin-bottom: 1px;
}
.menu_head a, .menu_head a:hover {
	color: #FFFFFF
}
.menu_head span {
	padding-left: 15px;
	background: url(../Images/yellow_dot.png) 0 5px no-repeat
}
.menu_body {
	padding: 0 0 0 25px;
	background: url(../Images/sidebar_menuBg.gif) 0 0 repeat-y;
	display: none
}
.menu_body ul ul {
	margin-left: 15px
}
.menu_body li {
	float: left;
	width: 100%
}
.menu_body ul a {
	display: block;
	padding: 7px 0 7px 15px;
	color: #111111;
	background: url(../Images/blue_dot.png) 0 13px no-repeat
}
.menu_body ul ul a {
	padding-left: 10px;
	background: url(../Images/arr_l.png) 0 13px no-repeat
}
.menu_body ul ul ul a {
	padding-left: 10px;
	background: url(../Images/arr_orange.png) 0 14px no-repeat
}
