/* MENU SIDEBAR */
.nav_menu_wrap {
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
	width: 100%;
	position: relative;
	min-height: 0;
	color: #565656;
}
.accordion_menu {
	padding: 0 12px;
	margin: 0 auto;
	font: bold 12px Arial, sans-serif;
}
.accordion_menu ul a {
	float: none;
	padding: 5px 0 0 0;
	color: #565656;
}
.accordion_menu li {
	margin: 0;
	padding: 0;
	border: none;
}
.accordion_menu li .sub_cate {
	padding-bottom: 10px;
	margin-top: 10px
}
.accordion_menu li.dcjq-parent-li {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #D6D6D6
}
.accordion_menu a {
	padding: 11px 15px 0 0;
	text-decoration:none;
	display: block;
	color: #4a4a4a;
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
}
.accordion_menu li li a {
	font-weight: 500;
	text-transform: none;
	font-size: 11px
}
.accordion_menu li li a.active {
	color: #FF0000
}
.accordion_menu li li.dcjq-parent a {
	font-weight: 700
}
.accordion_menu a.dcjq-parent, .accordion_menu a.dcjq-parent:hover {
	background: none;
}
.accordion_menu li li a.dcjq-parent {
	font-weight: 700;
	padding-left: 20px;
}
.accordion_menu a .dcjq-icon {
	position: absolute;
	top: 52%;
	right: 0;
	width: 9px;
	height: 10px;
	background: url(../Images/arrow-left.png) no-repeat 0 0;
}
.accordion_menu a.dcjq-parent.active .dcjq-icon {
	height: 6px;
	top: 60%;
	background: url(../Images/arrow-bottom.png) no-repeat 0 0;
}
.accordion_menu a:hover {
	color: #4a4a4a;
}
.accordion_menu a:active {
}
