/*Contact Us*/
#info_contact p {
	margin: 0.3em 0
}
#info_contact, #contactus {
	width: 48%;
	margin: 20px 0
}
.form_web .row_contact {
	float: left;
	width: 80%;
	margin-top: 10px
}
#contactus .row_contact {
	width: 100%
}
.form_web .left_row {
	display: block;
	line-height: 30px;
}
#payment_page .row_contact {
	width: 100%;
}
#payment_page .left_row {
	width: 28%
}
#payment_page .right_row {
	width: 69%
}
.form_web .row_contact input {
	width: 99.5%;
	background: #FFFFFF;
	border: 1px solid #aaaaaa;
	padding: 7px 0;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-indent: 5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form_web textarea {
	width: 99.5%;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	height: 165px;
	text-indent: 5px;
	padding-top: 5px;
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: block;
	border: none;
	width: 100%;
	padding: 0;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 1.3em;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 7px;
	cursor: pointer;
	float:left;
}
#map {
	padding: 20px 0
}
.required {
	color: #F00;
}
.contact_info {
	background: #ebebeb;
	font-size: 1.2em;
	margin-bottom: 13px;
	width: 100%;
}
.contact_note {
	background: #ebebeb;
	clear: right;
	width: 100%;
}
.ct_inner {
	padding: 20px;
}
