#nav_x {
	width: 100%;
	float: left;
	position: relative;
	z-index: 99;
	height: 44px;
	background: #020202;
	background:url(../images/bg_nav.png) no-repeat bottom center;

}
#nav_x .icon_nav_first {
	position: absolute;
	left: 0px;
	background: #fff url(../images/bg_left_nav_x.png) bottom right no-repeat;
	width: 50px;
	height: 39px;
}
#nav_x .icon_nav_last {
	position: absolute;
	right: 0px;
	background: #fff url(../images/bg_right_nav_x.png) bottom left no-repeat;
	width: 50px;
	height: 39px;
}

.icon_f_first {
	position: absolute;
	left: 0px;
	background: url(../images/bg_left_footer.png) top right no-repeat;
	width: 50px;
	height: 60px;
	left:-50px;
}
.icon_f_last {
	position: absolute;
	right: 0px;
	background:   url(../images/bg_right_footer.png) top left no-repeat;
	width: 50px;
	height: 60px;
	right:-50px
}


#nav_x ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	margin-left:50px;
	font-size: 130%;
/*	width:1000px;
-webkit-box-shadow: 0 3px 5px 0 #040403;
box-shadow: 0 3px 5px 0 #040403;*/
}
#nav_x ul a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 19px;
	line-height: 39px;                     /*---edit line height---*/
	padding: 0px 15px 0px 20px;
	text-transform: uppercase;                       /*---edit---*/
	font-weight: normal;
	font-family:'f2';
}
#nav_x ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;                           /*---edit line height---*/
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#nav_x ul > li:first-child {
	padding: 0;
	border-left: 0;
}
#nav_x ul > li:first-child a {
 
 
}
#nav_x ul ul > li:first-child a {
	padding: 0;
	border-left: 0;
	padding-left:15px;
}
#nav_x ul li.active {
	color: yellow                       /*---edit mau sac active---*/
}
#nav_x ul li.active a {
	color: yellow                        /*---edit mau sac active---*/
}
#nav_x ul  a:hover {
	color:#FF0;
}
#nav_x ul li:hover {
/*---edit mau sac hover---*/
}
#nav_x ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	border: 1px solid #6a6255;
	width: 200px;
	z-index: 99999999999999999999999;
	float: left;
}
#nav_x ul ul li {
	float: none;
	width: 200px;                            /*---edit width li level 2, 3---*/
	border-left: 0;
	position: relative;
	z-index: 99999999999999999999999;
	border-bottom: 1px dotted #CCCCCC;
	background: #fff;
	height: 30px;
	text-align: left !important;
	background-image: none !important;
}
#nav_x ul ul li:hover {
	background: #000;
}
#nav_x ul ul a {
	padding:0;
	padding-left: 15px;                      /*---edit padding left a li level 2, 3---*/
	color: #000;
	line-height: 30px;
	font-weight: normal;
	font-size: 14px;
}
#nav_x ul ul a:hover {
	color: #fff
}
#nav_x ul ul li:last-child > a, #nav_x ul ul li.last > a {
	border-bottom: 0;
}
#nav_x ul ul ul {
	top: 0;
	left: 100%;
}
#nav_x ul li:hover > ul {
	display: block;
}
/*-------------------------------------*/
#nav_x span {
	float: left;
}
