#tab {
	width:100%;
	margin-top:15px;
}
#tab A {
	font-size:14px;
	font-weight:bold;
	border:1px solid #ccc;
	border-bottom:0;
	display:block;
	float:left;
	text-align:center;
	color:#333;
	padding:10px;
	background-color:#eee;
	margin-right:1px
}
#tab A:active {
	display:block;
	float:left;
	padding:10px;
	color: #333
}
#tab A:visited {
	display:block;
	float:left;
	padding:10px;
	color: #333
}
#tab A.selected {
	font-size:14px;
	font-weight:bold;
	background:#fff;
	border:1px solid #cccccc;
	border-bottom:0;
	color: #333;
	margin-bottom:-1px
}
#tab A.selected:active {
	color: #eb0f16;
	border:1px solid #cccccc
}
#tab A.selected:visited {
	color: #0F5F00
}
#tab_nav {
	width:100%;
	margin-top:15px;
}
#tab_nav A {
	font-size:14px;
	font-weight:bold;
	border:1px solid #ccc;
	border-bottom:0;
	display:block;
	float:left;
	text-align:center;
	color:#333;
	padding:10px;
	background-color:#eee;
	margin-right:1px
}
#tab_nav A:active {
	display:block;
	float:left;
	padding:10px;
	color: #333
}
#tab_nav A:visited {
	display:block;
	float:left;
	padding:10px;
	color: #333
}
#tab_nav A.selected {
	font-size:14px;
	font-weight:bold;
	background:#fff;
	border:1px solid #ccc;
	border-bottom:0;
	color: #333;
	margin-bottom:-2px
}
#tab_nav A.selected:active {
	color: #ed1b26;
	border:1px solid #ccc
}
#tab_nav A.selected:visited {
	color: #ed1b26
}
.hiddencontent {
	display: none;
	background-color:#ffffff;
	border:1px solid #cccccc;
	padding: 5px
}
