/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#333333;
	background: url(../Images/bg.jpg) 0 0 repeat;

}
a {
	text-decoration: none;
	color: #023b89;
}
a:hover {
	text-decoration: none;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 150%;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
	position: relative;
}
.inputbox {
	border: 1px solid #b8b8b8;
	height: 21px;
	line-height: 21px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/* WRAPPER --------*/

#wrapper {
	float: left;
	width:100%;
	padding: 0;
}
.page_inner {
	width: 990px;
	padding: 5px;
	margin: 0 auto 10px auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 10px #888888;
	-webkit-box-shadow: 0 0 10px #888888;
	box-shadow: 0 0 10px #888888;
}
.top_page {
	float: left;
	width: 100%;
	position: relative;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 0 auto;
	display: block;
	width: 100%;
	clear: both;
}
.main_content {
	float: left;
	width: 750px;
	padding: 0;
	margin: 0;
}
.right_content {
	float: right;
	width: 230px;
}
/* HEADER

--------------------------*/

.header {
	position: relative;
	z-index: 10;
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
}
.logo {
	float: left;
}
/* SEARCH */
.search {
	float: right;
	clear: right;
	width: 230px;
	height: 30px;
	position: relative;
	top: 15px;
	right: 0;
	display: block;
	background: #fcfcfc;
	border: 1px solid #aeaeae;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.input_Search {
	float: left;
	color: #333333;
	background: #fcfcfc;
	font: 12px Arial;
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	width: 180px;
	border: none;
		-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search_btn {
	background: url(../Images/search_button.png) center left no-repeat;
	border: medium none;
	cursor: pointer;
	height: 30px;
	padding: 0;
	width:30px;
	position: absolute;
	top: 2px;
	right: 0;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}
.box_content {
	padding: 0;
	position: relative;
}
.right_content .box_content {
	padding-top: 10px;
}
/*Tab*/
.box_Tab {
	height: 33px;
	line-height: 33px;
	text-align: left;
	width: 100%;
	color: #de1e1e;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 2px solid #1154b0;
}
.box_Tab span {
	display: block;
	line-height: 33px;
	padding-left: 10px;
	color: #de1e1e;
}
.main_content .box_Tab {
	height: 35px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url(../Images/bg_repeat.png) 0 0 repeat-x;
	z-index: 5;
	border: none;
}
.main_content .box_Tab span {
	color: #FFFFFF;
	line-height: 35px;
}
/*Products*/
.product_row {
	margin-left: -10px;
	padding-top: 10px;
}
.product {
	float: left;
	width: 228px;
	height: 250px;
	line-height: 20px;
	font: normal 12px Arial, Helvetica, sans-serif;
	border: 1px solid #d2d2d2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0 10px 20px;
}
.product_inner {
	position: relative;
	margin: 14px;
}
.img_product {
	overflow: hidden;
	transition: all 1s ease;
	width: 200px;
	height: 200px;
}
.product img {
	margin-bottom: 10px;
	text-align: center;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.img_product:hover img {
	width: 220px;
	height: 220px;
}
.product_name {
	color: #333333;
	float: left;
	font-weight: bold;
	height: 20px;
	margin-top: 10px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.product_name span {
	display: table-cell;
	vertical-align: middle;
}
.product_name a {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #333333;
}
/*Support*/
#support {
	text-align: center;
	line-height: 20px;
}
#support li {
	margin: 5px 0;
}
#support li span {
	color: #de1e1e;
	font-weight: 700
}
/*Get Email*/
.send_button {
	display: block;
	width: 60px;
	height: 21px;
	line-height: 21px;
	background: url(../Images/bg_repeat.png) 0 -49px repeat-x;
	position: absolute;
	top: 12px;
	right: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
}
/*Vertical menu*/
ul.vertical_menu {
	list-style: none outside none;
	width: 100%;
	margin: 0 auto;
}
ul.vertical_menu li a {
	display: block;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	line-height: 20px;
	color: #555555;
	font-size: 13px;
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid #aeaeae;
	background: url(../Images/bullet_circle.png) 0 10px no-repeat;
}
ul.vertical_menu li.active a {
	color: #d80e0c
}
ul.vertical_menu li ul li a, ul.vertical_menu li.active ul li a {
	background: url(../Images/arrow_left.png) 10px 10px no-repeat;
	text-transform: none;
	color: #3e3e3e;
	border-bottom: none;
	padding: 5px 0 5px 20px;
	border-bottom: 1px solid #e2e3e3;
	font-weight: 500;
}
ul.vertical_menu li.vl {
	border: none;
}
/*Visitors*/
#visitors p {
	margin: 5px 0;
	line-height: 20px;
}
#visitors span {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	font-weight: 700;
}
#visitors b {
	float: right;
	margin-right: 50px;
	text-align: right;
	font-size: 14px;
}
.sum_visitors {
	background: url(../Images/icon.png) 0 0 no-repeat;
}
.online {
	background: url(../Images/icon.png) 0 -20px no-repeat;
}
/*News Index*/
#news_index ul {
	padding-bottom: 5px;
}
#news_index ul li {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #FFFFFF;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.Title_news {
	margin: 0;
	padding: 0;
	line-height: 15px;
}
.Title_news a {
	color: #333333;
	font-weight: 500;
}
/*Pagination*/
.navigation {
	float: left;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 0;
	height: 25px;
	text-align: center;
	width: 100%;
}
.navigation a {
	background: #8f8f90;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 5px 10px;
	color: #FFFFFF;
}
.navigation b, .navigation a:hover {
	background: #2158a3;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
/*News*/
#list_news {
	width: 100%;
}
#list_news ul {
	padding: 10px;
}
#list_news ul li {
	border-bottom: 1px dotted #3F7100;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .view_more {
	float: right;
	padding: 0 10px;
	margin-top: 10px;
	font-size: 11px;
	font-weight: 700;
	line-height: 21px;
	background: url(../Images/bg_repeat.png) 0 -49px repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news .h3Title a {
	font-weight: bold;
	text-transform: none;
}
#list_news p {
	margin: 0 0 1em 0;
	color: #3e3e3e;
	line-height: 150%
}
#list_news img {
	border: 1px solid #dbdbdb;
	padding: 4px;
}
.h1Title {
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #3e3e3e;
}
#detail_page {
	padding: 10px;
}
.hiTitle {
	font: bold 20px Arial, Helvetica, sans-serif;
	color: #FF0C00;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_info {
	float: left;
	width: 100%;
}
.detail_pro {
	float: left;
	width: 340px;
}
#detail_page p {
	margin: 5px 0
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #333333;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 5px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_left.png) no-repeat scroll 0 3px transparent;
	padding-left: 10px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #FF0C00;
}
.path {
	float: left;
	width: 730px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 0 5px;
	font-size: 11px;
	font-weight: 700;
	text-align: left;
	text-transform: none;
	background: #F3F3F3;
		-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.path a { color: #de1e1e; }
/*Footer*/
.footer {
	float: left;
	clear: both;
	color: #333333;
	font-size: 11px;
	padding: 10px 0;
	width: 100%;
	border-top: 2px solid #1154b0;
}
.footer_menu {
	float: left;
	width: 50%;
	padding: 0;
	height: 27px;
	color: #023b89;
}
.footer_menu a {
	color: #023b89;
	font-weight: 700;
}
.info_footer {
	float: right;
	width: 50%;
	text-align: right;
}
.footer p {
	margin: 0 0 3px 0;
	padding: 0;
}
.copyright {
	float: left;
	clear: left;
	width:50%;
	margin: 0;
	text-align: left;
	font-size: 11px;
}
