/* COMMON STYLE

--------------------------------------------------------- */

html,body,fieldset {margin: 0;padding: 0;}



body {margin: 0;padding: 0;}

body#bd {	font-size: 12px;

	font-family: Arial;

	color:#292929;
}

a { text-decoration: none;  color: #292929;}

a:hover { text-decoration: underline; }

.clearfix {display: inline-block;}


* html .clearfix { height: 1%;}

.clearfix {display: block; clear: both;}

img {border: none;}

h1 {font-size: 18px;}

h2 {font-size: 16px;}

h3 {font-size: 14px;}

h4 {font-size: 13px;}

ul {list-style: none;}

pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0;

	padding: 0;

}
.inputbox {
    height: 31px;
    padding: 0 4px;
	border: 1px solid #878787;
}

.ar10, .ar10 a { font: normal 10px Arial; }

.ar11, .ar11 a { font: normal 11px Arial; }

.ar12, .ar12 a { font: normal 12px Arial; }

.ar14, .ar14 a { font: normal 14px Arial; }

.ar18, .ar18 a { font: normal 18px Arial; }

/* WRAPPER --------*/

#wrapper { width:100%; float: left; margin: 0 auto; padding: 0; background: url(../Images/wrap_bg.jpg) top center repeat-y; }

#page {width: 1000px; pading: 0 10px; margin: 0 auto; background: #ffffff; }

/* LAYOUT

--------------------------*/

.main {float: left; margin: 0 auto; padding: 0; display: block; width: 100%; clear: both; background: url(../Images/main_bg.jpg) top left repeat-y;}

.sub_page { background: url(../Images/main_bg_subpages.jpg) top left repeat-y; }

.right {width: 705px; float: right; }

.left {width: 290px; float: left; }

.sub_page .left { width: 500px; }

.sub_page .right { width: 200px; }

.middle { float: left; margin: 0 5px; width: 290px; }

.left_inner { padding: 0; }

.container { float: left; width: 100%; }

.container_left { float: left; width: 500px; }

.container_right { float: left; margin-left: 5px; width: 200px;}

.law_page .left { width: 240px; }

.law_page .right { width: 755px; }

.skill .left { width: 220px; }

.skill .right { width: 220px; }

.skill .middle { width: 550px; margin: 0 5px; }

/* HEADER

--------------------------*/

.top { margin: 0 auto; width: 994px; padding: 0 15px; height: 29px; background: url(../Images/top_menu_bg.jpg) top left repeat-x; font: normal 12px Arial; color: #777777;}

.top p { float: left; padding: 6px 0 0 0; margin: 0; width: 42%; color: #5f63f5; }

.top_menu { float: left; text-align: right;}

.header { float:left; width: 100%; height: 120px; display: inline-block; margin: 15px 0; position: relative; }

.logo { float: left; margin-right: 18px; padding: 0; }

.banner_Header { float: left; margin-top: 20px; }

.banner_Header img { float: left; margin-left: 10px; }

.top_main { float: left; width: 1000px; padding-top: 2px; height: 30px; background: #f4f5f5 url(../Images/top_mainBg.jpg) bottom left repeat-x; position: relative; top: -16px; left: -10px; padding: 0 10px;}
.top_main_l { float: left; width: 40%; text-align: left; }
.top_main_r { float: left; text-align: right; }


/* SEARCH */

.search {
    background: url(../Images/search_bg.png) no-repeat scroll 0 0 transparent;
    float: right;
    height: 25px;
    overflow: hidden;
    width: 140px;
	margin-left: 10px;
}
.inputSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    float: left;
    font: 11px arial;
    height: 16px;
    padding: 5px 0 0 4px;
    width: 110px;
}
.submitSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 18px;
    padding: 0;
    width: 21px;
}
/* MAIN MENU ------*/

#nav_menu {
    float: left;
	width:1060px;
	line-height:normal;
	height: 62px;
	background: url(../Images/nav_bg.png) top left no-repeat;
	position: relative;
	left: -30px;
}

#nav_menu ul {
	margin:0;
	padding-left: 40px;
	list-style:none;
	}
#nav_menu li {
	float: left;
	margin:0;
	padding:0;
	height: 62px;
	}
#nav_menu ul li a {
background: url(../Images/space.png) top left no-repeat;
height: 31px;
padding: 14px 15px 0 15px;
float: left;
display: block;
color: #FFFFFF;
text-decoration: none;
text-align: center;
font-weight: bold;
}
#nav_menu ul li.active a {
	float:left;
	background: url(../Images/left_menu.png) no-repeat left bottom;
	margin:0;
	padding: 6px 0 0 0;
	height: 39px;
	text-decoration:none;
	}
#nav_menu ul li a:hover, #nav_menu ul li.active a:hover {
	float:left;
	background: url(../Images/left_menu.png) no-repeat left bottom;
	margin:0;
	padding:0;
	text-decoration:none;
	padding: 6px 0 0 0;
	height: 39px;
	}	
#nav_menu ul li.active a span, #nav_menu ul li.active a:hover span {
	float:left;
	display:block;
	background: url(../Images/right_menu.png) no-repeat right bottom;
	padding: 8px 12px 0 3px;
	height: 31px;
	margin-left: 10px;
    color: #3a65f0;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	}
#nav_menu ul li a:hover span {
	float:left;
	display:block;
	background: url(../Images/right_menu.png) no-repeat right bottom;
	padding:8px 12px 0 8px;
	height: 31px;
	margin-left: 10px;
    color: #3a65f0;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	}


.top_Main { float: left; width: 100%; height: 25px; margin: 5px 0; font: normal 11px Arial; }

.time_date { float: right; width: 25%; font: normal 11px Arial; color: #3e3e3e; text-align: center;}

/*FOOTER*/
.footer {
    float: left;
    width: 100%;
	background: #FFFFFF url(../Images/footer_bg.jpg) top left repeat-x; 
}
.menu_footer { float: left; width: 100%; margin-bottom:2px; }
.col_menuFooter {
    float: left;
    padding: 15px 0;
    width: 20%;
}
.ctentColuMenuFooter {
	margin: 0 auto;
    text-align: left;
	width: 85%;
}
.ctentColuMenuFooter h4 {
    margin-bottom: 5px;
}
.ctentColuMenuFooter h4 a {
    color: #eb0f0f;
    text-transform: uppercase;
}
.listMenuFooter a {
    color: #000000;
    display: block;
    font-weight: 200;
    margin-top: 3px;
}
.copyright {
	float: left;	
	clear: both;
	width: 100%;
    border-top: 4px solid #eb1c24;
    color: #2979fb;
	padding: 10px 0;
	font: normal 12px Arial;
    text-align: center;
}
.copyright a {
    color: #2979fb;
}
.copyright p {
	line-height: 18px;
    color: #2979fb;
	padding: 0;
	margin: 0;
}