/*Contact Us*/
#info_contact {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCCCCC
}
#info_contact p {
	margin: 0.3em 0
}
.form_web {	
	margin-bottom: 30px
}
.form_web .row_contact {
	float: left;
	width: 100%;
	margin-bottom: 10px
}
.form_web .item_title {
	float: left;
	width: 125px;
	line-height: 30px;
}
.form_web .row_contact .inputbox {
	width: 400px;
	border: 1px solid #CCCCCC;
	padding: 6px 0;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-indent: 5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form_web .row_contact .inputbox:focus {
	-moz-box-shadow: 0 0 5px #bdbdbc;
	-webkit-box-shadow: 0 0 5px #bdbdbc;
	box-shadow: 0 0 5px #bdbdbc;
}
.form_web textarea {
	border: 1px solid #CCCCCC;
	width: 390px;
	height: 100px;
	padding: 5px;
}
.form_web .row_contact input:focus, .form_web textarea:focus {
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: block;
	width: 100px;
	padding: 4px 0;
	margin: 10px 10px 10px 0;
	text-align: center;
	font-size: 1.15em;
	font-weight: 500;
	cursor: pointer;
	float:left;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
.required {
	color: #F00;
}
