@charset "utf-8";
/* CarouFedSel CSS Document */
.cf {
	float: none;
	clear: both;
}
#news_home .prev, #news_home .next {
	background: transparent url(../Images/control_btn.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 44px;
	height: 65px;
	position: absolute;
	top: 200px;
}
#news_home .prev {
	background-position: 0 0;
	left: -45px;
}
#news_home .next {
	background-position: -44px 0;
	right: -45px;
}
#ads_slide .prev, #ads_slide .next {
	background-image: url(../Images/ctrl_button.png);
	background-repeat: no-repeat;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 25px;
	height: 50px;
	position: absolute;
	top: 40%;
	z-index: 50
}
#ads_slide .prev {
	background-position: 0 0;
	left: 5px;
}
#ads_slide .next {
	background-position: 100% 0;
	right: 5px;
}
