/* MENU SIDEBAR */
.accordion {
	width: 100%;
	margin: 0 auto;
	font: bold 12px Arial, sans-serif;
}
.accordion ul a {
	padding-left: 30px;
	background-position: 18px 13px;
}
.accordion li {
	margin: 0;
	padding: 0;
	border: none;
}
.accordion li li.dcjq-parent-li { padding-left: 15px; }
.accordion a {
	padding: 7px 0 7px 20px;
	background: url(../Images/arrow_left.png) no-repeat 7px -118px;
	text-decoration:none;
	display: block;
	color: #0064b7;
	border-bottom: 1px dotted #ccc;
	position: relative;
	line-height: 170%;
}
.accordion li li a { font-weight: 500 }
.accordion li li.dcjq-parent a { font-weight: 700 }
.accordion a.dcjq-parent, .accordion a.dcjq-parent:hover {
	background: none;
}
.accordion li li a.dcjq-parent {
	font-weight: 700;
    padding-left: 20px;	
}
.accordion a .dcjq-icon {
	position: absolute;
	top: 50%;
	left: 8px;
	width: 34px;
	margin-top: -17px;
	height: 34px;
	background: url(../Images/arrow_left.png) no-repeat 0 -56px;
}
.accordion a.dcjq-parent.active .dcjq-icon {
	background: url(../Images/arrow_left.png) no-repeat 0 -40px;
}
.accordion a:hover {
	color: #0064b7;
}
.accordion a:active {
}