#nav_x {
	width: 100%;
	float: left;
	height: 47px;
	background: url(../Images/bg_nav_x.png) repeat-x;
}
#nav_x ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 9999;
	margin-top: 5px;
}
#nav_x ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;                           /*---edit line height---*/
	cursor: pointer;
	background: url(../Images/bg_li_nav_x.png) center left no-repeat;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	padding: 0px 5px;
}
#nav_x ul a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 200%;
	line-height: 42px;                      /*---edit line height---*/
	padding: 10px 20px 10px 20px;
	font-size: 110%;
	font-weight: 700;                        /*---edit---*/
	background: #900 url(../images/bg_a_nav_x.png) no-repeat;
	background-size: 100% 100%;
}
#nav_x ul > li:first-child {
	background: none;
	border-left: 0
}
#nav_x ul > li:first-child a img {
	margin-top: 15px;
}
#nav_x ul li.active {
/*---edit mau sac active---*/
}
#nav_x ul li.active a {
	color: #880015;                         /*---edit mau sac active---*/
}

#nav_x ul   a:hover {
	color:#FC0;
}
#nav_x ul li:hover {
/*---edit mau sac hover---*/
}
#nav_x ul ul {
	margin: 0;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	margin: 0;
	border: 1px solid #333;
	width: 200px;
	float: left;
	z-index: 9999999999999999999;
}
#nav_x ul ul li {
	margin: 0;
	padding: 0;
	float: none;
	width: 200px;                            /*---edit width li level 2, 3---*/
	border-left: 0;
	position: relative;
	z-index: 999999999;
	border-bottom: 1px dotted #CCCCCC;
	background: #fff;
	min-height: 30px;
	text-align: left !important;
}

#nav_x ul ul a {
	background: none;
	border: 0;
	padding-left: 15px;                      /*---edit padding left a li level 2, 3---*/
	color: #000;
	line-height: 30px;
	font-weight: normal;
	font-size: 12px;
}
#nav_x ul ul li:last-child > a, #nav_x ul ul li.last > a {
	border-bottom: 0;
}

#nav_x ul ul li:hover {
	background: #ccc;
}
#nav_x ul ul a:hover {
	color:red;
}
#nav_x ul ul ul {
	top: 0;
	left: 100%;
}
#nav_x ul li:hover > ul {
	display: block;
}
/*-------------------------------------*/
#nav_x span {
	float: left;
}
.menu_f {
	position: relative;
	right: 10px;
	top: 15px;
	float:right;
}
.menu_f ul {
	text-align: right
}
.menu_f ul li {
	float: left;
	border-left:1px solid #fff;
}
.menu_f ul li:first-child{ border:0}
.menu_f ul a {
	padding: 0px 10px;
	color:#fff;
}
.menu_f ul a:hover{ color:yellow}