<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'> @charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color:#22222;
	background: url(../Images/bg.gif) center 0 no-repeat;
	background-size: 100% 100%
}
@font-face {
 font-family: 'Open Sans Regular';
 src: url('../Images/Fonts/opensans-regular-webfont.eot');
 src: url('../Images/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/opensans-regular-webfont.woff') format('woff'), url('../Images/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #072a03;
}
a:hover {
	text-decoration: underline;
	color: #222222
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	background: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding-left: 5px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.font1 {
	font: normal 13px Arial, Helvetica, sans-serif
}
.line {
	width: 100%;
	height: 1px;
	background: #959595;
	margin: 10px 0
}
.trans {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
/* WRAPPER --------*/
.wrap {
	width: 1000px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
.font1 {
	font-family: 'Open Sans Regular', Helvetica, sans-serif
}
.font2 {
	font-family: 'Roboto', Helvetica, sans-serif
}
/* LAYOUT

--------------------------*/
#main {
	margin-top: 10px
}
#left_col {
	width: 25%;
}
#right_col {
	width: 74%;
}
.wrap:after, #header:after, #footer:after, #categories_home:after, .box:after, .box_ct:after, .product:after, .topnav:after, .pagination:after, #main:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/* HEADER

--------------------------*/
#header {
	position: relative;
	padding: 20px 0;
}
#logo {
	width: 20%;
	margin-top: 10px;
	text-align: center
}
#text_logo {
	margin-top: 0
}
#logo img {
	max-width: 100%;
}
#hotline {
	position: absolute;
	bottom: 10px;
	right: 5px;
	background: url(../Images/hotline_icon.png) 0 center no-repeat;
	font-size: 26px;
	color: #ff0000;
	padding-left: 30px;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgba(0, 0, 0, 0.3)
}
/* SEARCH TOP MAIN */
#search_form {
	height: 31px;
	position: relative;
	top: 5px;
	right: 3px;
}
#search_form .inputSearch {
	background: url(../Images/searchBg.png) 0 0 no-repeat;
	border: none;
	color: #7B7B7B;
	float: left;
	font-family: Arial;
	height: 31px;
	line-height: 31px;
	width: 200px;
	padding: 0;
	text-indent: 10px;
}
#search_form .submitSearch {
	float: right;
	margin-right: 5px;
	width: 34px;
	height: 31px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	border: none;
	cursor: pointer;
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
}
#left_col .box {
	padding: 0 0 6px 0;
	background: url(../Images/transBg.png) 0 0 repeat;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
#left_col .box_ct {
	margin: 0 6px;
	background: #f0f9fc;
	-webkit-border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}
#right_col .box_ct {
	background: #FFFFFF;
}
/*Tab*/
.box_Tab {
	height: 39px;
	line-height: 39px;
	background: url(../Images/tabBg.gif) 0 0 no-repeat;
	background-size: 100% 39px;
	border-bottom: 1px dotted #008f4c;
	font-size: 1.3em;
	position: relative;
	color: #111111;
	text-transform: uppercase;
	padding-left: 10px;
}
#right_col .box_Tab {
	background-size: 240px 39px;
	border-bottom: 2px solid #008f4c
}
/*Box Support*/
#box_support li {
	margin: 10px
}
#box_support b {
	margin-right: 10px
}
#box_support .number_phone {
	display: block;
	color: #ff0000;
	font-size: 1.8em;
	font-weight: 500;
	margin-top: 8px;
	padding-left: 40px;
	background: url(../Images/phone_icon.png) 0 center no-repeat
}
/*News Home*/
#news_home li {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #393780;
	margin-bottom: 5px;
	padding: 5px 0;
}
#news_home li:last-child {
	border: none
}
#news_home .img_general {
	width: 94px;
	border: 2px solid #FFFFFF
}
#news_home img {
	max-width: 100%;
	height: auto
}
#news_home h3 {
	line-height: 15px;
	font-weight: 500
}
#news_home .view_more {
	float: right;
	display: block;
	width: 71px;
	height: 23px;
	line-height: 18px;
	text-align: center;
	margin-top: 10px;
	background: url(../Images/view_moreBg.png) 0 0 no-repeat;
	font-size: 90%;
	font-weight: 700
}
#news_home .view_more:hover {
	color: #ffbd11
}
/*List Products*/
.list_products ul {
	margin-left: -10px
}
.list_products li {
	float:left;
	width: 233px;
	margin: 0 0 10px 10px;
	position: relative;
}
.product_item {
	border: 1px solid #e7e6e6;
	padding: 10px;
	height: 270px;
	overflow: hidden;
	position: relative;
}
.product_item .img_product {
	display: block;
	height: 180px;
	overflow: hidden;
	text-align: center;
}
.product_item img {
	max-width: 100%;
	max-height: 100%
}
.product_item .product_name {
	padding: 8px 0;
	text-align: center
}
.product_item .product_name a {
	font-size: 1.3em;
	font-weight: 500;
	color: #008f4c
}
.product_item .product_name a:hover {
	color: #ff0000;
	text-decoration: none
}
.product_item .btn_P {
	width: 100%;
	height: 21px;
	position: absolute;
	bottom: 15px;
	left: 0;
}
.product_item .btn_P div {
	width: 80%;
	margin: 0 auto;
	background: #ffbd11 url(../Images/split_btn.gif) center center no-repeat;
	background-size: 25px 100%
}
.product_item .btn_P a {
	display: inline-block;
	width: 50%;
	text-align: center;
	line-height: 21px;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration: none;
}
.product_item .btn_P a:hover {
	color: #111111
}
/*Products Home*/
#products_home li {
	float:left;
	width: 233px !important;
	margin-right: 10px;
}
.slide_ctrl {
	background: transparent url(../Images/control_btn.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 40px;
	position: absolute;
	top: 180px
}
.slide_ctrl.prev {
	background-position: 0 0;
	left: 0;
}
.slide_ctrl.next {
	background-position: -30px 0;
	right: 0;
}
/*Vertical menu*/
#box_category > ul > li > a:hover {
	color:#000000;
}
#box_category > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 7px 10px 7px 15px;
	color: #111111;
	font-size:1em;
	font-weight:700;
	border-bottom: 1px dotted #008f4c
}
#box_category > ul > li {
	position:relative;
	background: url(../Images/bullet_cate.png) 0 8px no-repeat;
}
#box_category > ul > li:last-child > a {
	border:none;
}
#box_category > ul > li > ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
}
#box_category > ul > li.active ul {
	display:block;
}
#box_category > ul > li > ul > li {
	padding-left: 15px;
	position: relative;
	background: url(../Images/icon_list_video.gif) 10px 11px no-repeat;
}
#box_category > ul > li span:hover {
	cursor:pointer;
}
#box_category > ul > li.active a + ul {
	display: block;
}
#box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	padding: 7px 10px;
	color: #333333;
}
#box_category > ul > li ul > li li {
	margin-left: 20px;
	background: url(../Images/bullet.gif) 0 12px no-repeat
}
#box_category > ul > li ul > li li a {
	padding-left: 10px
}
/*Ads*/
.ads img {
	width: 100%;
	height: auto;
	margin-bottom: 5px
}
#ads_home div {
	float: left;
	width: 50%;
	text-align: center
}
#ads_home div img {
	max-width: 98%;
	margin: 0 auto
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin:auto;
	margin:15px 0;
	text-align: center
}
.pagination a {
	display:inline-block;
	padding:6px 15px;
	background:#e0e0e0;
	color:#222222;
	text-align:center;
	margin-left:2px;
	font-size:15px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:hover, .pagination a.active {
	background:#1c1819;
	color:#FFF;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:first-child {
	border-radius:100px 0 0 100px;
	-webkit-border-radius:100px 0 0 100px;
	-moz-border-radius:100px 0 0 100px;
}
.pagination a:last-child {
	border-radius:0 100px 100px 0;
	-webkit-border-radius:0 100px 100px 0;
	-moz-border-radius:0 100px 100px 0;
}
/*Detail News*/
.h2Title {
	font-size: 2em;
	font-weight: 500;
	color: #008f4c;
	margin-bottom: 5px;
}
#info_g img {
	max-width: 100%;
	height: auto;
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
/*News*/
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding: 0 0 3px 0;
	font-size: 1.1em;
	font-weight: 700;
}
#list_news h3 a {
	color: #322f20
}
#list_news p {
	margin: 0.5em 0 1em 0;
	line-height: 150%;
}
#list_news img {
	border: 10px solid #f4fbde;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 200px;
	height: auto;
	background: #FFFFFF;
	transition: All 0.4s ease-out;
	-webkit-transition: All 0.4s ease-out;
	-moz-transition: All 0.4s ease-out;
	-o-transition: All 0.4s ease-out;
}
#list_news img:hover {
	opacity: 0.6
}
#list_news .view_more {
	font-weight: 700;
	color: #dc3a3e;
	text-transform: uppercase
}
#info_g, #info_g p {
	line-height: 160%;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	margin: 10px 0;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -32px;
}
a.opinion {
	background-position: 0 -72px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 4px 0;
}
.other_news_sub li a {
	background: url(../Images/bullet.gif) no-repeat scroll 0 4px transparent;
	padding-left: 10px;
	color: #333333
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Detail Products*/



.proleftdet {
	float: left;
	width: 55%;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid #d2d2d2;
	position: relative
}
#pro_detail_slide li {
	float: left;
	width: 396px;
	height: 400px
}
.img-box {
	background: none repeat scroll 0 0 #fff;
	display: table-cell;
	height: 400px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 396px;
}
.img-box img {
	max-height: 400px;
	max-width: 396px;
	text-align: center;
}
#dtp_info {
	float: right;
	width: 42%;
}
.dtp_status {
	clear: both;
	display: block;
	width: 100%;
	margin: 10px 0
}
.short_des_dtp {
	margin-top: 20px
}
/*Gallery*/
#detail_gallery ul {
	margin:10px 20px 10px 0
}
#detail_gallery li {
	float: left;
	width: 33.3%;
	margin-bottom: 15px
}
#detail_gallery .img_gallery {
	display: block;
	width: 90%;
	margin-left: 20px;
	background: #f2f2f2;
	border: 1px solid #dddddd;
	height: 170px;
}
#detail_gallery a:hover {
	border: 1px solid #999999
}
.img_gallery img {
	max-width: 100%;
	max-height: 100%
}
/*Path*/
.path {
	text-align: left;
	text-transform: none;
	font-size: 100%;
	font-weight: 500;
	margin-bottom: 10px;
}
/*Footer*/
#footer {
	background: #f4fbde url(../Images/footerBg.gif) bottom left repeat-x;
	padding: 10px
}
#footer a {
	color: #555555
}
#footer a:hover {
	color: #000000
}
#footer p {
	margin: 3px 0
}
#info_footer {
	width: 70%;
}
/*Social Network*/
#social_network {
	margin-top: 20px
}
#social_network span {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-left: 3px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_youtube {
	background-position: -28px 0
}
#copyright {
	text-align: right;
	margin-top: 15px;
}
