/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	color:#000000;
	background: #053067 url(../Images/bg.jpg) top center no-repeat;
}
a {
	text-decoration: none;
	color: #0105c6;
}
a:hover {
	text-decoration: underline;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clear {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
	border: 1px solid #dedede;	
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
	background: url(../Images/wrap_bg.png) top center repeat-y;
}
.page {
	width: 1000px;
	pading: 0;
	margin: 0 auto;
	background: #FFFFFF;	
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 0 auto;
	padding-top: 5px;
	display: block;
	width: 100%;
	clear: both;
}
.left_content {
	float: left;
	width: 230px;
	margin: 0 5px;
}
.right_content {
	float: right;
	width: 750px;
	margin: 0 5px;
}
.h1Title { color: #00F; font-size: 20px; }
.h2Title { margin: 5px 0; font: 13px Verdana, Geneva, sans-serif; }
.h2Title a {
	color: #960303;
	font-weight: bold;
}
/* HEADER

--------------------------*/

.header {
	float:left;
	width: 100%;
	height: 200px;
	display: inline-block;
	margin: 0;
}
/* SEARCH */
.search {
	float: right;
	width: 165px;
	height: 26px;
	margin-top: 5px;
	margin-right: 5px;
	overflow: hidden;
	background: url(../Images/search_bg.jpg) top left no-repeat;
}
.inputSearch {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #000000;
	float: left;
	font: 12px Verdana, Geneva, sans-serif;
	height: 15px;
	padding: 6px 0 0 10px;
	width: 140px;
}
.submitSearch {
	background: url(../Images/search_button.png) center right no-repeat;
	border: medium none;
	cursor: pointer;
	float: left;
	height: 15px;
	padding: 0;
	width: 14px;
	margin-top: 5px;
	margin-left: -5px;
	text-align: center;
}
/*Products*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}
div.box_content_center {
	background: #FFFFFF;
	padding: 0;
	margin: 0;
}
.main_content .box_content_center {
	background: #FFFFFF;
}
/*Vertical menu*/
ul.vertical_menu {
	list-style: none outside none;
	width: 94%;
	margin: 0 auto;
	padding: 5px 0;
}
ul.vertical_menu li a {
	display: block;
	font-weight: normal;
	text-align: left;
	width: 90%;
	color: #000000;
	padding-left: 5px;
	font-size: 13px;
}
ul.vertical_menu li {
	padding: 5px 0;
	margin: 0 5px;
}
ul.vertical_menu li.vl {
	border: none;
}
#support { text-align: center; font-weight: bold }
/*Product*/
.news_hot {
	float: left;
	background: #0105c6;
	margin-bottom: 5px;
	padding: 5px 10px 5px 5px;
	color: #FFFFFF;
}
.news_hot p { margin: 5px 0; line-height: 170% }
.news_hot .h1Title { color: #FFFFFF }
.news_hot .view_more {
	float: right;
	margin-top: 10px;
    font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
}
/*Slide Products*/
.slider_jcarousel {
	float: left;
	clear: both;
	background: #FFFFFF;
	width: 100%;
	margin: auto;
	position: relative;
	z-index: 5;
	margin-top: 5px;
}
.slider_jcarousel img {
	width: 160px;
	height: 140px;
	border: 1px solid #0018ff;
}
/*------------------------------------------------------*/			
.jcarousel-skin-tango {
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	width: 93%;
	margin: 0 auto;
	padding: 10px 0 5px 0;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 30px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-top: 12px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../Images/arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 49px;
    left: 10px;
    position: absolute;
    top: 60px;
    width: 22px;
    z-index: 10;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background: url("../Images/arrows.png") repeat scroll right 0 #74C779;
    left: 10px;    
    right: auto;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../Images/arrows.png") no-repeat scroll right 0 transparent;
    cursor: pointer;
    height: 49px;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 22px;
    z-index: 10;
}
#slider_customers img, #slider_partners img {
	width: 105px;
	height: 70px;
	border: 1px solid #dedede;
}
#slider_customers .jcarousel-skin-tango .jcarousel-clip-horizontal, #slider_partners .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	width: 480px;
	margin: 0 auto;
	padding: 5px 0;
}
#slider_customers .jcarousel-skin-tango .jcarousel-item-horizontal, #slider_partners .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 17px;
}
#slider_customers .jcarousel-skin-tango .jcarousel-next-horizontal, #slider_customers .jcarousel-skin-tango .jcarousel-prev-horizontal, #slider_partners .jcarousel-skin-tango .jcarousel-next-horizontal, #slider_partners .jcarousel-skin-tango .jcarousel-prev-horizontal { background: none; }
/*News index*/
.categories {
	float: left;
    position: relative;
    width: 100%;
	margin: 0;
	display: table;
	border-collapse: collapse;
}
.col {
	float: left;
    position: relative;
    width: 50%;
	display: table-cell;
}
.col_content { padding: 10px; }
.categories .view_more {
    bottom: 5px;
    font-size: 11px;
    position: absolute;
    right: 0;
}
.categories p {
    margin-bottom: 10px;
	margin-top: 0;
	text-align: left;
	font-size: 12px;
}
.categories img {
    border: medium none;
}
.top_news { float: left; width: 100%; }
.ulnews { float: left; margin-top: 10px; width: 100%; }
.ulnews li { float: left; width: 100%; margin: 3px 0 }
.ulnews li a { background: url(../Images/bullets.png) left 5px no-repeat; padding-left: 15px; }
ul.projects { float: left; margin: 10px 0 0 -10px; }
ul.projects li { float: left; width: 235px; margin-left: 10px; }
.h1Tab {
	background: url(../Images/h1Tab_bg.png) top left no-repeat;
	height: 32px;
	line-height: 32px;
}
.h1Tab span { 
	padding-left: 10px; 
	text-align: left;
	width: 100%;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
}
.right_content .h1Tab { background: url(../Images/h1Tabmain_bg.png) top left no-repeat; margin-bottom: 10px; }
.left_content .h1Tab span, .right_content .h1Tab span { font-size: 13px; }
/*Pagination*/
.navigation {
	float: left;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 0 5px 0;
	text-align: right;
	width: 100%;
}
.navigation a {
	background: #d6d6d7;
	color: #0600ff;
	margin: 0 2px;
	padding: 3px 8px;
}
.navigation b, .navigation a:hover {
	background: #1854be;
	color: #FFFFFF;
	padding: 3px 8px;
	text-decoration: none;
}
/*News*/
#list_products ul { margin-left: -35px; }
#list_products li { float: left; width: 30%; text-align: center; margin: 0 0 10px 25px; }
#list_products li img { border: 1px solid #dcdcdc; padding: 10px; }
.ullist_news {
	float: left;
	width: 100%;
}
.ullist_news li {
	border-bottom: 1px solid #dcdcdc;
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	position: relative;
	width: 98%;
}
.ullist_news .view_more {
	bottom: 5px;
	font-size: 11px;
	position: absolute;
	right: 0;
}
.ullist_news img {
	border: medium none;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial;
}
#detail_news {	
	float: left;
	padding: 10px;
}
.detail_info {
	float: left;
	width: 65%;
}
#detail_news .detail_info { width: 100%; }
.function {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e3e3e3 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    float: left;
    padding: 5px 0;
    width: 100%;
}
.like_face {
    float: left;
    height: 18px;
    padding: 0;
    width: 35%;
}
.toolbar {
    float: right;
    padding: 0;
    position: relative;
    text-align: left;
}
.toolbar a {
    background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
    color: #0039dd;
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
}
a.print {
    background-position: 0 3px;
}
a.email {
    background-position: 0 -15px;
}
a.opinion {
    background-position: 0 -35px;
}
.other_news_sub {
    clear: both;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
}
.other_newsT {
    background: url(../Images/line_bg.jpg) repeat-x scroll right bottom transparent;
	padding-bottom: 3px;
    margin: 10px 0;
    position: relative;
	color: #292929;
}
.other_news_sub ul {
    margin: 10px 0 0 10px;
}
.other_news_sub ul li {
    padding: 3px 0;
}
.other_news_sub a {
    background: url(../Images/bullets.png) no-repeat scroll left 5px transparent;
    padding-left: 15px;
}
.view_all {
    float: left;
	background: none !important;
    margin-top: 10px;
    text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #222222;
}
.path {
	float: left;
	width: 100%;
	background: none repeat scroll 0 0 #ebebeb;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 0;
	text-align: left;
	text-transform: none;
}
#list_news .ulnews li { width: 100%; }
/*Footer*/
.footer {
	clear: both;
	color: #3e3e3e;
	float: left;
	padding: 0;
	text-align: center;
	width: 100%;
}
.footer_menu {
	float: left;
	background: url(../Images/nav_bg.jpg) top left no-repeat;
	padding: 6px 0 0 0;
	height: 26px;
	width: 100%;
	color: #FFFFFF;
}
.footer_menu a {
	color: #FFFFFF;
	font-size: 15px;
}
.footer_bottom {
	float: left;
	width: 99%;
	margin: 10px 5px;
}
.footer p {
	margin: 5px 0;
	padding: 0;
}
.info_company { float: left; width: 35%; text-align: left; }
.logo {
	float: left;
	width: 300px;
	margin: 10px 0;
	text-align: center;
}
.copyright { float: right; width: 32%; text-align: right; }
