.nha_hotel_wide_photo {
	border:none!important;
	clear:both;
	height:350px;
	margin-top:-4px;
	width:100%;
	margin-bottom:5px;
	position:relative;
	overflow:hidden;
	z-index:0;
	left:0
}
#photos_distinct.b_nha_hotel_small_images {
	clear:left;
	padding-top:0
}
.b_nha_hotel_small_images .hotel_thumbs_sprite {
	margin:0 .291em .291em 0
}
.nha_large_photo_slideshow_first, .nha_hotel_wide_photo div {
	width:100%;
	height:350px;
	background:no-repeat 50% 50% #fff;
	display:block;
	overflow:hidden
}
.nha_hotel_wide_photo #photo_container {
	z-index:2;
	position:relative;
	cursor:default
}
.nha_hotel_wide_photo #photo_holding {
	z-index:1;
	position:relative;
	margin-top:-350px;
	top:0;
	left:0
}
#hotelTmpl .nha_large_photo_reviewFloater .hotel_large_photp_score {
	background-color:#fff;
	filter:alpha(opacity=80)
}
#hotelTmpl .nha_large_photo_reviewFloater .hotel_large_photp_score {
	background-color:rgba(255, 255, 255, 0.8);
	padding:.6em 5%;
	float:right;
	width:90%;
	margin-bottom:10px
}
.nha_large_photo_reviewFloater {
	position:relative;
	margin-top:-350px;
	z-index:3
}
.nha_large_photo_reviewFloater .score_from_number_of_reviews {
	margin-bottom:0
}
.nha_large_photo_reviewFloater .score_from_number_of_reviews {
	padding-top:0
}
.nha_large_photo_reviewFloater .icon_user_back_container {
	opacity:.8;
	clear:both;
	width:14em!important;
	overflow:hidden
}
.nha_large_photo_reviewFloater .big_review_score_detailed, .nha_large_photo_reviewFloater .score_from_number_of_reviews {
	width:100%;
	float:right;
	clear:both;
	margin-bottom:0
}
.nha_large_photo_reviewFloater .althotelsDiv2 {
	background-color:rgba(229, 234, 242, 0.9)!important;
	filter:alpha(opacity=90)
}
.nha_large_photo_reviewFloater .altHotelsReviewer2 {
	padding-bottom:10px!important
}
.nha_large_photo_reviewFloater #summary {
	clear:both
}
#hotel_main_content.nha_large_photo_main_content {
	position:relative;
	zoom:1
}
.nha_place_holder {
	float:left;
	height:340px;
	margin-top:-350px;
	width:50%
}
.nha_hotel_wide_photo #photo_wrapper, .nha_hotel_wide_photo #photo_wrapper a {
	height:350px;
	position:absolute;
	left:0;
	zoom:1
}
.nha_large_photo_extra_height .nha_hotel_wide_photo, .nha_large_photo_extra_height .nha_large_photo_slideshow_first, .nha_large_photo_extra_height .nha_hotel_wide_photo div, .nha_large_photo_extra_height .nha_hotel_wide_photo #photo_wrapper, .nha_large_photo_extra_height .nha_hotel_wide_photo #photo_wrapper a {
	height:450px;
	background-color:#f2f4f8
}
.nha_large_photo_extra_height .nha_hotel_wide_photo #photo_holding, .nha_large_photo_extra_height .nha_large_photo_reviewFloater, .nha_large_photo_extra_height .nha_place_holder {
	margin-top:-450px
}
.nha_large_photo_extra_height .nha_place_holder {
	height:440px
}
.first_image_perf {
	margin-top:-50%;
	top:50%;
	text-align:center
}
.large_image_slider {
	background:url("../Images/arrows_slide.png") no-repeat left;
	cursor:pointer;
	position:absolute;
	top:200px;
	margin-left:13px;
	height:60px;
	width:60px;
	z-index:10;
	display:none
}
.large_image_slider.lis_right {
	background-position:right;
	right:13px
}
.large_image_slider.lis_left {
	left:0
}
.slider_gif_loader {
	background:url("//q-ec.bstatic.com/static/img/experiments/large_image_loader/74f967b379ec1bb85439d0f4938a314cec4cd22a.gif") no-repeat left;
	height:32px;
	width:32px;
	position:absolute;
	top:220px;
	left:48%;
	display:none
}
.nha_large_photo_main_content .new_hotel {
	top:5px;
	position:absolute;
	z-index:10;
	right:0;
	font-size:15px
}
.large_image_slider_active {
	opacity:.5;
	filter:alpha(opacity=50)
}
.large_image_slider_active:hover {
	opacity:1;
	filter:alpha(opacity=100)
}
.nha_hotel_small_wide_photo .nha_hotel_wide_photo {
	width:auto;
	margin-right:15.2em
}
.nha_hotel_small_wide_photo .large_image_slider {
	top:150px;
	margin-left:5px
}
.nha_hotel_small_wide_photo .large_image_slider.lis_right {
	right:15.4em
}
#photos_distinct.nha_hotel_small_images_no_review {
	margin-top:-340px;
	float:right;
	width:14em
}
#photos_distinct.nha_hotel_small_images_new_property {
	margin-top:-310px
}
.show_limit_number_gallery_images {
	float:right;
	margin-top:3px;
	background:url("//r-ec.bstatic.com/static/img/experiments/icon_open/800fb2ebd7c457a33bda4967a81b4cce06f57e15.gif") -3px -1px no-repeat;
	padding:0 0 0 15px;
	font-weight:bold;
	text-decoration:none
}
.b_nha_hotel_small_images .hide_extra_gallery_images {
	display:none
}
.b_nha_hotel_small_images_limited {
	overflow:hidden;
	height:60px
}
.slideshow_img_container {
	position:relative;
	border:none!important;
	overflow:hidden
}
.nha_hotel_wide_photo .slideshow_img_container img#photo_holding, .nha_hotel_wide_photo .slideshow_img_container img#photo_container {
	position:relative;
	margin-top:0;
	width:850px;
	margin-left:-425px;
	padding-left:50%
}
.change_large_image_on_hover:hover {
	opacity:.5;
	filter:alpha(opacity=50)
}
.photo_contrain {
	position:absolute
}
.nha_large_photo_main_content .hotel_thumbs_sprite_large {
	width:60px;
	height:60px
}
.nha_hotel_facility_wide_photo_block {
	clear:both;
	padding-bottom:5px;
	float:left;
	width:100%
}
.nha_hotel_facility_wide_photo, .nha_hotel_facility_wide_photo_second {
	width:49.5%;
	height:270px;
	float:left
}
.nha_hotel_facility_wide_photo {
	margin-right:1%
}
.nha_hotel_facility_wide_photo_gallery_holder {
	width:46%;
	margin-right:.5%;
	margin-bottom:.5%;
	border:1px solid #ddd;
	padding:.5%;
	float:left
}
.nha_hotel_facility_wide_photo_gallery {
	width:100%;
	height:270px
}
.toggle_hide, .nha_collapsed_gallery {
	display:none
}
.show_all_gallery_img {
	clear:both;
	float:right;
	text-decoration:none;
	background:url("//r-ec.bstatic.com/static/img/experiments/icon_shut/9e01885cb7935d328682a75f89d1fbaaa066558f.gif") -6px -1px no-repeat;
	padding:0 0 0 15px
}
.show_all_gallery_img.toggle_hide {
	background:url("//r-ec.bstatic.com/static/img/experiments/icon_open/800fb2ebd7c457a33bda4967a81b4cce06f57e15.gif") -3px -1px no-repeat;
	margin-bottom:5px
}
.hotel_thumbs_sprite {
	display:inline-block;
	margin:0 4px 4px 0;
	width:40px;
	height:40px;
	vertical-align:top;
	float:left
}
#photos_distinct {
	padding-top:10px;
	padding-left:1px;
	overflow:hidden;
	zoom:1
}
.prevnextbar {
	border:1px solid #c5d4e9;
	border-left:none;
	border-right:0;
	margin:1.2em 0 0;
	width:100%;
	padding:.3em 0;
	font-weight:bold;
	color:#c5d4e9;
	float:left
}
.prevnextbar_new {
	border-bottom:0;
	margin-bottom:20px;
	padding-left:10px;
	padding-right:10px
}
.prevnextbar a.prev, .prevnextbar a.next {
	text-decoration:none;
	padding:1px 0 1px 33px;
	margin:0 8px
}
.prevnextbar .prev {
	background:url("//r-ec.bstatic.com/static/img/hotelchars-prev/615af7bf8b47269da0749f6cf2e7acd00fba16fb.png") top left no-repeat;
	float:left
}
.prevnextbar .next {
	background:url("//r-ec.bstatic.com/static/img/hotelchars-next/aa8b0e4959cf4014413c03df19553dd9e3e4990f.png") top left no-repeat;
	float:right
}
.prevnextbar a:hover {
	background-position:0 -17px
}
.prevnextbar a:active {
	background-position:0 -34px
}
.prevnextbar a.disabled, .prevnextbar a.disabled:hover, .prevnextbar a.disabled:active {
	background-position:0 -51px!important;
	color:#c5d4e9
}
.hotel_navigate_wrapper {
	display:block;
	position:relative;
	width:250px;
	height:190px
}
.prevnextbar span.prev, .prevnextbar span.next {
	text-decoration:none;
	padding:1px 0 1px 33px;
	margin:0 8px
}
.hotel_prev {
	float:left
}
.hotel_next {
	float:right
}
.hotel_navigate_wrapper h2 {
	position:absolute;
	width:205px;
	left:0;
	bottom:5px;
	padding:10px 10px 10px 30px;
	margin:0;
	background:rgba(255, 255, 255, 0.95);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#F2FFFFFF);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#F2FFFFFF)"
}
.hotel_navigate_wrapper h2 .althotel_link {
	display:block;
	font-size:130%
}
.hotel_navigate_wrapper h2 .hotel_navigate_rating {
	font-size:.7em;
	color:#003580;
	display:block
}
