/*Detail Products*/
.cf {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.h1Title {
	font-size: 1.6em;
	font-weight: 500;
	color: #0c0c0a;
	margin-bottom: 10px;
}
#info_g img {
	max-width: 100%;
	height: auto;
}
#info_g, #info_g p {
	line-height: 1.4
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
.pro_left {
	float: left;
	margin: 0 20px 20px 0;
	width: 320px;
	position: relative;
}
.boxcenter {
	display: table;
	overflow: hidden;
	text-align: center;
}
.boxcenter .midd {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.pro_left .main_img {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #dfdfdf;
	height: 320px;
	line-height: 1px;
	width: 320px;
}
.pro_left .main_img img {
	max-height: 320px;
	max-width: 320px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out 0s;
}
.pro_left .main_img img:hover {
	opacity: 0.7;
}
.pro_left .main_img a {
	display: block;
}
.pro_left .zoom {
	line-height: 29px;
	padding: 5px 0;
	text-align: center;
}
.pro_left .zoom a {
	background: url(../Images/btn_largerview.png) no-repeat scroll 0 50% transparent;
	display: inline-block;
	padding-left: 25px;
}
.pro_left .thumbnails {
	padding: 0 32px;
}
.pro_left .thumb {
	line-height: 1px;
	text-align: center;
}
.pro_left .thumb a {
	float: left;
	display: inline-block;
	height: 52px;
	text-align: center;
	width: 52px !important;
	border: 1px solid #c3c3c3;
	margin: 0 5px;
}
.pro_left .thumb a.current, .pro_left .thumb a:hover {
	border-color: #02a1d5;
}
.pro_left .thumb img {
	max-width: 100%;
	max-height: 100%;
}
.zoom_icon {
    background: url(../Images/zoom_icon.png) no-repeat scroll 0 center rgba(0, 0, 0, 0);
    bottom: 50px;
    height: 20px;
    left: 30%;
    line-height: 20px;
    margin: 10px 0;
    padding-left: 25px;
    position: absolute;
    z-index: 50;
}
#dtp_info {
	float: right;
	width: 350px;
}
#dtp_info .dtp_status {
	clear: both;
	display: block;
	width: 100%;
	margin-bottom: 12px
}
#dtp_info #short_des_dtp p {
	margin: 0.3em 0
}
#dtp_info .tt_price {
	margin-right: 10px
}
#dtp_info .dt_f_price {
	color: #6b6b6c
}
#dtp_info .dt_price {
	font-size: 1.5em;
	color: #e1361f
}
.btn_addtocart {
	display: inline-block;
	padding: 8px 20px;
	margin: 20px 0;
	font-size: 1.4em;
	font-weight: 500;
	color: #FFFFFF;
	text-decoration: none;
}
.btn_web {
	text-decoration: none;
	text-transform: uppercase;
	background: #0280db; /* Old browsers */
	background: -moz-linear-gradient(top, #0280db 0%, #0267b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0280db), color-stop(100%, #0267b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0280db 0%, #0267b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0280db 0%, #0267b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0280db 0%, #0267b5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0280db 0%, #0267b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0280db', endColorstr='#0267b5', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.btn_web:hover {
	text-decoration: none
}
.pro_left .slide_ctrl {
	background: transparent url(../Images/slide_btn.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 22px;
	height: 22px;
	position: absolute;
	top: 91%;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.pro_left .slide_ctrl.prev {
	background-position: 0 0;
	left: 10px;
}
.pro_left .slide_ctrl.next {
	background-position: -26px 0;
	right: 10px;
}
