a{ text-decoration:none}
.imgDetail{ width:100%; float:left}
.infoDetail{ width:100%; float:left; margin-left:0}
.infoDetail h1{ border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px; margin:10px ;}
.innerInfoDetail{}
.shortInfo{ white-space:pre-line}
.btnGroup{ padding:5px; text-align:center}
.btnBuy{ background: #B60503 url(../images/bgHD.png) repeat-x;  font-size:1.3em; margin: 0 auto; margin-left:0; line-height:30px; float:left}
.btnBuy a{  color:#fff; padding:0 20px}
.priceGroup{padding:5px;}
.newPrice{ color:Red; font-size:1.2em;}
.oldPrice{ color:Gray; font-size:1em; text-decoration:line-through;}
              
.infoDetailMore{ width:100%; float:left; padding:10px 0px;}
.infoDetailMore h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin:0; padding-bottom:5px}
.innerInfoMore{ padding:10px; max-height:600px; overflow-y: auto}
.samePro{ width:100%; float:left; padding:10px 0px;}
.samePro h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px}
.listProduct .productItem{ width:33.33%; float:left}
 /*@media (min-width:768px) 
 {
     .imgDetail{ width:45%; float:left}
     .infoDetail{ width:50%; float:left; margin-left:3%}
	 
 }*/
 @media (max-width:768px){
	 .listProduct .productItem{ width:50%}
 }
 @media (max-width:480px){
	 .listProduct .productItem{ width:100%}
 }
 
 .product{ padding:10px}
 .product:hover img{ opacity:0.8}
 .desProduct{  width:100%; float:left}
 .innerProduct{ position:relative; border:solid 1px #CACACA;  text-align:left}
 .photoProduct{ text-align:center}
 .product h2{ margin:0; padding:0; font-size:1.1em;overflow:hidden; line-height:30px; }  
 .product h2 a{   font-weight:normal; text-overflow: ellipsis; white-space:nowrap; overflow:hidden}   
 
 .photoProduct img{  width:98%; padding:1%; height:145px}     
 
 
 
 .hotProduct, .ItemHotProduct{ width:100%; float:left}
 .ItemHotProduct{ border-bottom: solid 1px #ddd}
 .innerHP{ padding:5px; overflow:hidden}
 .photoHP{ width:50%; float:left}
 img{ max-width:100%}
 .photoHP img{ padding:3px; border:solid 1px #ccc; }
 .desHP{ width:45%; float:right}
 .desHP h2{ font-size:12px;}
 
 .likePro{ margin-bottom:5px; float:left; width:100%}
 