body {
	margin:0px;
	font-family:Arial;
	font-size:14px;
}
#aspnetForm {
	background:#CC0000;
}
a {
	text-decoration:none;
}
/*** Top ***/
.top {
	padding:4px 10px;
	background:#f3f3f3;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #dddddd;
	overflow:hidden;
	_height:100%;
}
span.clock {
	float:left;
	display:inline-block;
	color:#000;
}
span.tn_online {
	float:right;
}
.tn_online a:link, .tn_online a:visited {
	color:#b10069;
}
.tn_online a:hover {
	color:#f00;
}
.logo, .main {
	background-color:white;
}
.logo {
	padding:5px;
}
.img-search {
 *padding:3px 0 0 0;
}
.m-banner {
	clear: both;
	height:55px;
	text-align:center;
	background: #0075de;
}
.m-banner iframe.autoHeight {
	margin:-9px 0 0 -4px;
}
.main-ds {
	padding:0px 15px 5px 15px;
}
.Div-Error {
	padding:10px 15px;
	background:#fff;
}
#main_details, #main_more {
	padding:0px 15px;
}
.Results {
	background:#fff;
	padding:10px 15px;
}
.search {
	overflow:hidden;
	padding:5px;
	background: #0075DE;
}
.text-Search {
	float:left;
	margin-right:6px;
	border: 1px solid #cccccc;
}
.text-Search input {
	width:200px;
	height:12px;
	border:0;
	font-size:11px;
	color:#3c3c3c;
}
.menu-tab {
	overflow:hidden;
	padding:5px 0 0 5px;
	border-bottom:1px #fff solid;
	background: #0075DE;
}
.menu-tab ul {
	margin:0px;
	padding:0;
	list-style:none;
}
.menu-tab div {
	float:left;
}
.menu-tab a {
	display:block;
	padding:4px 12px;
}
.menu-tab .active {
}
.menu-tab a {
	background:#0075DE;
}
.menu-tab a:link, .menu-tab a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
.menu-tab a:hover {
	color:#FFFF99;
}
.menu-tab .active a:link, .menu-tab .active a:visited {
	color:#CC0000;
	background: #FFFFFF;
}
.menu-tab .active a:hover {
	color:#000;
}
.Sub_Title {
	font-weight:bold;
	color:#444444;
	padding:5px 0;
}
.news_title {
	padding-bottom:5px;
	color:#FF0000;
	font-size:18px;
	font-weight:bold;
}
.news_title a {
	font-weight:bold;
	color:#FF0000!important
}
.news_title a:link, .news_title a:visited {
	color:#1087c6;
	text-decoration:none;
}
.news_title a:hover {
	color:#CC0000;
}
.image_newshot img {
	border:0;
	max-width:222px;
	height:auto;
	border:0;
	margin:5px 0;
}
#main_more {
	clear:both;
	margin-top:15px;
	padding-bottom:10px;
}
.CungChuyenMuc {
	padding-bottom:5px;
}
.main-ds ul, ul.CungChuyenMuc1 {
	margin:5px 10px;
	padding:0;
	list-style:none;
}
ul.Group_Mautin1 {
	margin:0 15px 0 20px;
	padding:5px 0;
	list-style:none;
}
.main-ds ul li, ul.Group_Mautin1 li, ul.CungChuyenMuc1 li {
	padding:3px 0px 3px 10px;
	vertical-align:middle;
}
.link_mautin1 a, .mob_news01 a, .main-news .CungChuyenMuc a, .main-news .other a {
	display:inline-block;
	padding:0px 5px 0 0;
}
.main-news .CungChuyenMuc a:link, .main-news .other a:link {
	color:#000;
	text-decoration:none;
}
.mob_news01 a:link, .link_mautin1 a:link {
	color:#035EAC;
	background: url(../Images/icon_big_dot_news.gif) left -1px no-repeat;
	padding-left: 10px;
}
.main-news .CungChuyenMuc a:visited, .link_mautin1 a:visited, .mob_news01 a:visited, .main-news .CungChuyenMuc a:visited, .main-news .other a:visited {
	color:#b10069;
}
.link_mautin1 a:hover, .mob_news01 a:hover, .main-news .CungChuyenMuc a:hover, .main-news .other a:hover {
	color:#CC0000;
}
.date {
	color:#8d8d8d;
	font-size:11px;
}
.image-mota {
	width:1px;
	text-align:center;
	margin:10px auto 0px auto;
}
.MotaImage {
	color:#8d8d8d;
	font-size:12px;
}
.Image img, .image_newshot img {
	max-width:200px;
}
/** CM **/
.Title_CM {
	font-weight:bold;
}
.Title_CM {
	padding:3px 15px;
	background:#0061b5;
	color:#fff;
}
.lnk_category {
	clear: both;
	background:#0061b5;
	border-bottom:1px #fff solid;
}
.lnk_category a {
	background: url('../Images/expard.png') no-repeat right center;
	display:block;
	padding:3px 15px;
	color:#fff;
}
.lnk_category a:link, .lnk_category a:visited {
	color:#fff;
	text-decoration:none;
}
.lnk_category a:hover {
	color:#FFFF99;
}
.Group_Mautin {
	padding:5px 15px;
}
.mob_mautin a {
	display:block;
	padding:3px 15px;
}
.main-news {
	padding:5px 15px;
	background:#fff;
}
.main-news .other {
	font-weight:bold;
	margin-bottom:12px;
	clear:both;
}
.foot {
	color:#fff;
	padding:8px 0px;
	text-align:center;
	background: #0075DE;
}
/** paging **/
.PageIn {
	text-align:right;
	padding-bottom:5px;
}
.PageIn a {
	padding:0px 2px;
}
.Contend-Paging a:link, .Contend-Paging a:visited, .PageIn a:link, .PageIn a:visited {
	color:#CC0000;
}
.PageIn a:hover, .Contend-Paging a:hover {
	color:#b10069;
}
.Contend-Paging {
	float:right;
}
.btn-prev, .btn-next {
	float:left;
}
.btn-next {
	background: url('/img_mobile/next.gif') no-repeat right 5px;
	padding-right:10px;
}
.btn-prev {
	background: url('/img_mobile/prev.gif') no-repeat left 5px;
	padding-left:10px;
	margin-left:10px;
}
/*** result **/
.TitleTK {
	font-weight:bold;
	color:#1087c6;
	margin-bottom:5px;
}
.Result {
	padding:5px 0px;
}
.Result-Title {
	font-weight:bold;
	padding-bottom:3px;
}
.Result-ArticleDes {
	padding-bottom:3px;
}
.Result-Link a:link, .Result-Link a:visited {
	color:green
}
.Result-Link a:hover {
	color:#CC0000;
}
.NoResult .key {
	color:#f00;
}
.contend-disactive {
	display:none;
}
.view_more {
	background: url('/img_mobile/next.gif') no-repeat right 5px;
	float:right;
	padding:0 10px 0 0;
}
.view_more a:link, .view_more a:visited {
	color:#3c3c3c;
}
.view_more a:hover {
	color:#CC0000;
}
.main-news {
	overflow:hidden;
}
.content_mautin {
	font-size:16px;
}
