/* nav style */
.sitenav {
	position:absolute;
	z-index:11;
	display:inline-block;
	top: 0;
	left: 0
}
li.homecatalog {
	width:231px;
	height:50px;
	position:relative
}
.homecataloglabel {
	background: url(../Images/tab_cateBg.png) 0 0 no-repeat;
	height:45px;
	width:231px;
	display:block;
	cursor:pointer;
	line-height:45px;
	font-size:16px;
	text-indent:10px;
	text-align: center;
	color: #FFFFFF;
}
.sitenav .cataloglist {
	display: block;
	background:#FFFFFF;
	-moz-box-shadow: 0px 7px 10px #cdcdcd;
	-webkit-box-shadow: 0px 7px 10px #cdcdcd;
	box-shadow: 0px 7px 10px #cdcdcd;
	padding:10px 0 10px;
	width:231px;
	position:absolute;
	left:0;
	top:45px;
	z-index:2;
	height:auto;
}
.homecatalog:hover .cataloglist {
	display: block
}
/*#contentbody{ *position:relative; *z-index:-1;}*/
.sitenav .cataloglist:hover, .sitenav .cataloglist:hover .cataloglistexpand {
}
.sitenav .showtransparentdiv {
	background:#ebebeb;
	height: 401px;
	left: 0;
	opacity: 0.95;
	position: absolute;
	top: 46px;
	width: 231px;
	display:none;
	z-index:0
}
.sitenav ul {
	list-style:none
}
/*li.homecatalog:hover .cataloglist, li.homecatalog:hover .showtransparentdiv{display:block}*/
.sitenav .cataloglist li {
	padding: 0 10px
}
.sitenav .cataloglist li.maincat {
	background: url(../Images/line_cateBg.png) bottom center no-repeat
}
.sitenav .cataloglist a, .sitenav .cataloglist span.noncatalog-container {
	display:block;
	color:#444444;
	padding: 8px 10px 8px 20px;
	text-decoration:none;
	font-weight: 700;
	background: url(../Images/bullet_cate.png) 0 8px no-repeat
}
.sitenav > ul > li > .cataloglist > li:hover { background: #eeeeee }
.sitenav .cataloglist > li:last-child {
	background: none
}
.sitenav .cataloglist a.solid {
	border-bottom-style:solid
}
.sitenav .cataloglist a:hover, .sitenav .cataloglist a.active {
	color:#0000ff;
}
.sitenav .cataloglist a.noncatalog, .sitenav .cataloglist a.noncatalog:hover {
	background-position:-671px -50px;
	width:auto;
	border-bottom:none;
	padding:8px 0 0 27px
}
.sitenav .cataloglist a.noncatalog {
	background:none !important;
	padding-left:0px !important;
}
.sitenav .cataloglist span.noncatalog-container a, .sitenav .cataloglist span.noncatalog-container a:hover {
	padding-top:0px
}
.cataloglistexpand {
	position:absolute;
	left:231px;
	top:-7px;
	border:1px solid #d3cfcf;
	background:#fff;
	padding:10px 0;
	display:none;
	min-height: 300px;
	height: 352px;
	overflow:hidden;
 *overflow:visible;
	border-top:5px solid #fbab00;
	max-width: 52em;
	min-width: 968px;
	z-index: 999999;
}
/* BG images to come on hover to reduce page load*/
.cataloglist .submenubg {
	margin:0 10px 10px 0;
	position:absolute;
	bottom:0;
	right:0;
	z-index:0;
	max-width: 250px;
*margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
}
li.maincat:hover .readersoffer .readerofferimage {
	height:340px;
	width:620px;
	background:url("/images/newHome/images/readers_offer_banner.gif") no-repeat;
	display: block;
	margin-right: 0;
}
/* BG images to come on hover to reduce page load*/
.cataloglistexpand .subcatwrapper {
	position:relative;
	z-index:1;
}
.cataloglistexpand .col {
	float:left;
	margin:0 0 0 15px;
	width:165px
}
.cataloglistexpand .col span, .cataloglistexpand .col h3 {
	clear:both
}
.cataloglistexpand .col h3 {
	color:#f26200;
	font-weight:400;
	margin-bottom: 4px;
}
.cataloglistexpand .col h3.noheading {
	color:#f26200;
	font-size:18px;
	font-weight:400;
	border-bottom: none;
	margin: 0 0 5px;
	padding: 0 0 5px;
}
.cataloglistexpand .col h3.viewall {
	color:#0072BC;
	font-size:13px;
	font-weight:400;
	border:none;
	margin:0;
	padding:0;
}
.cataloglistexpand .col span {
	display:block;
	font-size: 12px;
	line-height: 1.2em;
	color:#aaa;
	margin-top:3px
}
.cataloglistexpand ul {
	padding:0.3em 0 0.8em 0;
	clear:both;
	border-top: 1px dotted #595959;
}
.sitenav .cataloglistexpand ul li {
	padding:0;
	color:#000;
	font-size:12px;
	font-weight:500;
	line-height:12px
}
.sitenav .cataloglistexpand ul li.navcategoryhead {
	padding-bottom:7px
}
.sitenav .cataloglistexpand ul li a, .sitenav .cataloglistexpand ul li a:hover, .sitenav .cataloglistexpand .col a, .sitenav .cataloglistexpand .col a:hover {
	background:none !important;
	border:none;
	color:#555;
	width:auto;
	display:inline-block;
	line-height:11px;
	padding: 4px 0;
	font-size: 1em;
	font-weight: 500
}
.sitenav .cataloglistexpand ul li a:hover, .sitenav .cataloglistexpand .col a:hover {
	color:#f26200
}
.sitenav .cataloglistexpand ul li a.viewall, .sitenav .cataloglistexpand ul li a.viewall:hover, .sitenav .cataloglistexpand .col a.viewall, .sitenav .cataloglistexpand .col a.viewall:hover {
	color:#0054a6
}
.sitenav .cataloglistexpand .col h3 a, .sitenav .cataloglistexpand .col h3 a:hover {
	font-size: 1em;
	font-weight:700 !important;
	color:#0000ff;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sitenav .cataloglistexpand .col h3.viewall a, .sitenav .cataloglistexpand .col h3.viewall a:hover {
	font-size:13px !important;
	font-weight:400 !important;
	color:#0054a6 !important
}
.sitenav .cataloglist .navbanner {
	padding:25px 0 0
}
.sitenav .cataloglist .navbanner a {
	padding:0;
	border:0;
}
/* .sitenav .cataloglist li:hover .cataloglistexpand{display:block} */

/* head right */
.headright {
	position:absolute;
	right:0px;
	top:78px; /*width:425px;*/ /*margin-right:1em; z-index:103;*/
	font-family:zurich, arial, sans-serif, helvetica, tahoma
}
.headright ul {
	list-style:none
}
.headsignin, .headcart, .headhelp, .headbigdeals, .headhelpfaq, .trackorder {
	background:#3a3a3a;
	margin-left:7px;
	float:left;
	position:relative;
	font-weight:700;
	color:#fff;
	font-size:14px;
}
.headsignin:hover, .headcart:hover, .headhelp:hover, .headbigdeals1:hover, .headsigninactive, .headcartactive, .headhelpfaqactive .headhelpactive, .headbigdealsactive {
	background:#ffc700;
	color:#333;
	text-decoration:none;
}
.headsignin .headrightlabel, .headcart .headrightlabel, .headhelp .headrightlabel, .headbigdeals .headrightlabel, .headhelpfaq .headrightlabel, .trackorder .headrightlabel {
	padding:10px 30px 5px 10px;
	cursor:pointer;
	height:20px;
	display:block;
	width:auto
}
.headsignin .headrightonlylabel {
	cursor:pointer;
	height:35px;
	display:block;
	width:125px
}
.headsignin .headrightonlylabel a {
	color:#fff;
	height:20px;
	display:block;
	width:110px;
	padding:10px 5px 5px 10px
}
.headsignin .headrightonlylabel a:hover, .headsignin:hover .headrightonlylabel a {
	color:#333
}
.headsignin .headrightlabel .logpra {
	color:#fff
}
.headsignin .active .logpra {
	background:#ffc700;
	color:#333 !important;
	text-decoration:none;
}
.expand {
	position:absolute;
	right:2px;
	background-image:url("/images/newHome/images/sitesprite.png") !important;
	background-repeat:no-repeat;
	background-position:-641px -129px;
	width:11px;
	display:inline-block;
	text-indent:-5000px;
	margin:5px 5px 0 0
}
.headsignin:hover .expand, .headcart:hover .expand, .headhelp:hover .expand, .headsigninactive .expand, .headcartactive .expand, .headhelpactive .expand {
	background-position:-641px -157px
}
.headcart .headrightlabel {
	background:#3a3a3a url("../images/sitesprite.png") no-repeat -655px -157px;
	padding-left:15px;
	width:auto
}
.headcart:hover .headrightlabel, .headcartactive .headrightlabel {
	background:url("../images/sitesprite.png") no-repeat scroll -655px -124px #ffc700
}
.headcart .cartvalue {
	display: inline-block;
	margin-left: 10px;
	text-align: right;
	width:auto
}
.headcart .cartitems {
	width:18px;
	display:inline-block;
	text-align:center;
	position:relative;
	top:-6px
}
.headhelpfaq a.headrightlabel a:hover {
	color:#333;
}
.headhelpfaq a.headrightlabel {
	background: url("../images/sitesprite.png") no-repeat scroll 0 -401px transparent;
	padding: 10px 10px 5px 30px !important;
	color: #FFFFFF;
}
.headhelpfaq a.headrightlabel:hover {
	background:url("../images/sitesprite.png") no-repeat scroll 0 -431px #ffc700;
	text-decoration:none;
	color:#333 !Important;
}
.headbigdeals a {
	color:#fff
}
.headbigdeals a.headrightlabel {
	background: url("../images/sitesprite.png") no-repeat -655px -197px;
	padding:10px 10px 5px 41px!Important
}
.headbigdeals a.headrightlabel:hover {
	color:#333;
	background-position:-655px -239px;
	text-decoration:none;
}
.expandheadright {
	border-top:6px solid #FBAB00;
	border-left:1px solid #eeeeee;
	position:absolute;
	right:0;
	top:35px;
	background:#fff;
	color:#333;
	padding:.25em 0 0;
	display:none;
	border-right:solid 1px #EEEEEE;
	border-bottom:solid 1px #EEEEEE;
	-moz-box-shadow: 4px 4px 6px #333;
	-webkit-box-shadow: 4px 4px 6px #333;
	box-shadow:4px 4px 6px #333;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=150, Color='#333333')";
-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=150, Color='#333333');
}
.expandheadright p {
	margin:.3em 1em;
	font-weight:400
}
.expandheadright a {
	color:#000
}
.expandheadright a:hover {
	text-decoration:underline
}
li.readonly {
	border-bottom:1px dotted #ccc
}
.expandheadright .readonly {
	color:#666;
	font-weight:400;
cursor:default:default
}
.expandheadright .readonly b {
	font-size:16px;
	color:#000;
	font-weight:700
}
.expandheadright .userlogout {
	display:block;
	border-top:1px solid #9c9c9c;
	padding:.5em 1em;
	margin-top:.8em;
	text-align:center;
	background-image: linear-gradient(to bottom, #dbdbdb 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#ffffff));
	background: -moz-linear-gradient(top, #dbdbdb, #ffffff);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#dbdbdb', endColorstr='#ffffff');
}
.expandheadright .userlogout input {
	border:1px solid #a7a7a7;
	font-size: 1.1em;
	padding: 3px 10px;
	cursor:pointer;
	position:relative
}
span.readonly {
	padding-left:7px;
	font-size:.8em;
	line-height:1.1em
}
.expandheadright .tip {
	position:absolute;
	top:-14px;
	right:50px;
	width:14px;
	height:14px;
	background-position:0 -16px;
	display:none
}
.expandheadright .closeme {
	position:absolute;
	top:0;
	right:10px;
	font-weight:400;
	cursor:pointer;
	display:none
}
.subcatwrapper {
	width: 100%;
	overflow: hidden;
}
.col {
	background: #FFFFFF;
	float: left;
	margin: 0 12px 0 0;
	overflow: hidden;
}
 @media only screen and ( max-width: 40em ) /* 640px */ {
 .item {
 width: 46.876%; /* 305px */
 margin-bottom: 0.938em; /* 15px */
}
}
 @media only screen and ( max-width: 20em ) /* 320px */ {
 #list {
 width: 100%;
 margin-left: 0;
}
 .item {
 width: 100%;
 margin-left: 0;
 margin-right: 0;
}
}
