@charset "utf-8";
/* CSS Document */
html, body, fieldset {
	margin: 0;
	padding: 0;
	border: none
}
body {
	margin: 0;
	padding: 0;
	font: normal 13px/1.4 Arial, Helvetica, sans-serif;
	color: #000;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
	overflow-x: hidden;
	background: #fffcbd;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover, a span:hover {
	color: red;
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
/*img {
	max-width: 100%
}*/
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
input {
	border: none;
}
.fl {
	float: left
}
.fr {
	float: right
}
.alignl {
	text-align: left
}
.alignc {
	text-align: center
}
.alignj {
	text-align: justify
}
.alignr {
	text-align: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
/*-----------------------------*/
 
/*-------------------------------*/
.container {
	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
	width: 970px;
	overflow: hidden;
	background: #fff;
	-webkit-box-shadow: 0px 3px 30px 0px rgba(153, 123, 0, 0.48);
-moz-box-shadow:    0px 3px 30px 0px rgba(153, 123, 0, 0.48);
box-shadow:         0px 3px 30px 0px rgba(153, 123, 0, 0.48);
}
.row {
	width: 100%;
	float: left
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float: left
}
.col-xs-12 {
	width: 100%
}
.col-xs-11 {
	width: 91.66666667%
}
.col-xs-10 {
	width: 83.33333333%
}
.col-xs-9 {
	width: 75%
}
.col-xs-8 {
	width: 66.66666667%
}
.col-xs-7 {
	width: 58.33333333%
}
.col-xs-6 {
	width: 50%
}
.col-xs-5 {
	width: 41.66666667%
}
.col-xs-4 {
	width: 33.33333333%
}
.col-xs-3 {
	width: 25%
}
.col-xs-2 {
	width: 16.66666667%
}
.col-xs-1 {
	width: 8.33333333%
}
.col-xs-pull-12 {
	right: 100%
}
.col-xs-pull-11 {
	right: 91.66666667%
}
.col-xs-pull-10 {
	right: 83.33333333%
}
.col-xs-pull-9 {
	right: 75%
}
.col-xs-pull-8 {
	right: 66.66666667%
}
.col-xs-pull-7 {
	right: 58.33333333%
}
.col-xs-pull-6 {
	right: 50%
}
.col-xs-pull-5 {
	right: 41.66666667%
}
.col-xs-pull-4 {
	right: 33.33333333%
}
.col-xs-pull-3 {
	right: 25%
}
.col-xs-pull-2 {
	right: 16.66666667%
}
.col-xs-pull-1 {
	right: 8.33333333%
}
.col-xs-pull-0 {
	right: auto
}
.col-xs-push-12 {
	left: 100%
}
.col-xs-push-11 {
	left: 91.66666667%
}
.col-xs-push-10 {
	left: 83.33333333%
}
.col-xs-push-9 {
	left: 75%
}
.col-xs-push-8 {
	left: 66.66666667%
}
.col-xs-push-7 {
	left: 58.33333333%
}
.col-xs-push-6 {
	left: 50%
}
.col-xs-push-5 {
	left: 41.66666667%
}
.col-xs-push-4 {
	left: 33.33333333%
}
.col-xs-push-3 {
	left: 25%
}
.col-xs-push-2 {
	left: 16.66666667%
}
.col-xs-push-1 {
	left: 8.33333333%
}
.col-xs-push-0 {
	left: auto
}
.col-xs-offset-12 {
	margin-left: 100%
}
.col-xs-offset-11 {
	margin-left: 91.66666667%
}
.col-xs-offset-10 {
	margin-left: 83.33333333%
}
.col-xs-offset-9 {
	margin-left: 75%
}
.col-xs-offset-8 {
	margin-left: 66.66666667%
}
.col-xs-offset-7 {
	margin-left: 58.33333333%
}
.col-xs-offset-6 {
	margin-left: 50%
}
.col-xs-offset-5 {
	margin-left: 41.66666667%
}
.col-xs-offset-4 {
	margin-left: 33.33333333%
}
.col-xs-offset-3 {
	margin-left: 25%
}
.col-xs-offset-2 {
	margin-left: 16.66666667%
}
.col-xs-offset-1 {
	margin-left: 8.33333333%
}
.col-xs-offset-0 {
	margin-left: 0
}
.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.text-center {
	text-align: center
}
.text-justify {
	text-align: justify
}
.text-nowrap {
	white-space: nowrap
}
.text-lowercase {
	text-transform: lowercase
}
.text-uppercase {
	text-transform: uppercase
}
.text-capitalize {
	text-transform: capitalize
}
.hotlineB {
	color: red;
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
}
 
/*---------------------------------------------*/
/*visit*/
/*---------------------------------------------*/
.visit {
	color: #000;
	white-space: nowrap;
	float: right;
	font-style: italic;
}
.visit .soluong {
	text-align: left;
	font-weight: bold;
	line-height: 20px;
	padding-top: 6px;
	float: right;
	color: #000;
}
.visit b {
	font-style: normal;
	margin-left: 10px;
}
/*---------------------------------------------*/
/*box*/
/*---------------------------------------------*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom:10px}
 
 
.box_Tab {
	height: 40px;
	line-height: 40px;
	padding-bottom: 0;
	background: url(../images/bg_box_tab.png);
	background-size: 100% 100%;
}
.box_Tab span {
	color: #fff;
	text-transform: uppercase;
	padding-left: 10px;
	overflow: hidden;
	font-size: 120%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.boxInner {
	border: solid 1px #ca9324
}
/*---------------------------------------------*/
 
/*---------------------------------------------*/
/*Current Path*/
/*---------------------------------------------*/
.path {
	padding: 8px 0;
	text-align: left;
	margin: 5px 0px;
	background: #fafafa;
	border-top: solid 3px #FEB620;
}
.path, .path a {
	color: #FEB620;
	font-size: 95%;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
}
.path a:hover {
	text-decoration: underline !important;
	color: #F00;
}
.view_detail {
	color: #0B88B6;
	float: right;
	margin-right: 20px;
}
/*---------------------------------------------*/
/*Pagination*/
/*---------------------------------------------*/
.navigation_news {
	float: left;
	clear: both;
	font-weight: 700;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
.navigation_news a {
	display: inline-block;
	margin: 0 1px;
	padding: 5px 10px;
	color: #fff;
	background: #FFE400;
}
.navigation_news b, .navigation_news a:hover {
	display: inline-block;
	background: #E99C06;
	color: #fff;
	margin: 0 1px;
	padding: 5px 10px;
	text-decoration: none;
}
.navigation_news a.pre {
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
}
.navigation_news a.next {
	-webkit-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
}
/*News*/

#list_news {
	width: 96%;
	padding: 1% 2%
}
#list_news ul li {
	border-bottom: 1px dotted #ccc;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding: 0 0 3px 0;
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news a img {
	border: 1px solid #e3e3e3;
	width: 20%;
	height: auto;
	float: left;
	padding: 1%;
}
#list_news .short_news {
	width: 75%;
	float: right
}
.box_news_index {
	padding: 10px;
}
.box_news_index li {
	width: 100%;
	float: left;
	padding-bottom: 0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.box_news_index li:last-child {
	border-bottom: 0px;
}
.box_news_index li a {
	width: 30%;
	float: left;
}
.box_news_index li h3 a {
	width: 100%;
	float: left
}
.list_news .box_news_index a img {
	max-width: 95%;
	float: left;
	margin-bottom: 10px;
}
.list_news .box_news_index .date {
	width: 100%;
	float: left;
}
.list_news .box_news_index h3 {
	float: right;
	width: 100%;
}
.list_news .box_news_index .text {
	width: 70%;
	float: left;
}
.list_news .box_news_index h3 a {
	width: 100%;
	color: #0078d4;
	padding: 2px 0px;
	font-weight: bold;
}
.img_news {
	border: solid 1px #ccc;
	width: 25%;
	float: left;
}
.des_news {
	width: 70%;
	float: right;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #ca9324 ;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_product {
	float: left;
	padding: 0;
	width: 50px;
	height: 21px;
	width: 50%;
	cursor: pointer;
	margin-left: 5px;
	margin: 5px;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
#main_col .box_news_index li {
	width: 33.3%;
	float: left;
	border: 0;
}
#main_col .li_news {
	padding: 10px;
	overflow: hidden;
}
#main_col .inner_li_news {
	overflow: hidden;
}
#main_col .list_news .box_news_index h3 a {
	color: red
}
/*detail_news*/
#detail_news {
 
}
#detail_news h1 {
	font-size: 16px;
	font-weight: 700;
	color: #E99C06;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#info_g, #info_g p {
	line-height: 160%;
	text-align: justify;
	width: 98%;
	margin: 1%;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #ca9324;
	font-weight: 500;
	font-size: 16px;
	color: #E99C06;
	font-weight: bold;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub a.view_all {
	margin-left: 10px;
	color: #E99C06;
	font-weight: bold
}
/*Footer*/
.footer {
 
	 background:#93670e; color:#fff; text-align:center;
	 padding-top:7px;
	 padding-bottom:7px
	 
}
 
.copyright {
 
}
/*Social net work*/
.social_network {
	text-align: left;
	float: right;
}
.social_network a {
	float: left;
	width: 40px;
	height: 40px;
	background: url(../images/social_network.png) left center no-repeat;
	margin-left: 5px;
}
.social_network .facebook {
	background-position: left center;
}
.social_network .youtube {
	background-position: -80px center;
}
.social_network .gplus {
	background-position: right center;
}
.social_network .skype {
	background-position: -40px center;
}
.social_network .twitter {
	background-position: -160px center;
}
.social_network .pinteres {
	background-position: -120px center;
}
.social_network .wordpress {
	background-position: -200px center;
}
/*form contact*/
#contact {
	padding: 20px;
}
.contact_add {
	width: 50%;
	float: left
}
.form_contact .btn {
	text-transform: uppercase;
	border: 0;
	margin: 0;
	height: 35px;
	width: 100px;
	clear: both;
	cursor: pointer;
	border: solid 2px #CCC;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	background: #FFE400; /* Old browsers */
	background: -moz-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFE400), color-stop(100%, #FEB620)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFE400 0%, #FEB620 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE400', endColorstr='#FEB620', GradientType=0 ); /* IE6-9 */
}
.form_contact .btn:hover {
	background: #006100; /* Old browsers */
	background: -moz-linear-gradient(top, #006100 0%, #028200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006100), color-stop(100%, #028200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #006100 0%, #028200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #006100 0%, #028200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #006100 0%, #028200 100%); /* IE10+ */
	background: linear-gradient(to bottom, #006100 0%, #028200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006100', endColorstr='#028200', GradientType=0 ); /* IE6-9 */
}
.map_gg {
	width: 98%;
	float: left;
	margin-top: 20px;
	min-height: 300px
}
.map_gg iframe {
	width: 98%;
	border: solid 1px #ccc;
}
.form_contact {
	width: 50%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}
.form_contact h2 {
	width: 100%;
	font-weight: bold;
	font-size: 110%
}
.form_contact .txt {
	margin: 3px 0px;
	width: 100%;
	background: url(../images/fields.png) left center no-repeat;
	border: solid #ccc 1px;
	min-height: 25px;
	text-indent: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
textarea {
	resize: vertical;
	padding-top: 10px;
}
.form_contact .txt:focus {
	border: #666 1px solid;
	border-left: 2px solid #666;
}
.form_contact .row {
	width: 100%;
	float: left
}
.form_contact .name {
	background-position: left 9px top -172px;
	background-position-x: 9px;
	background-position-y: -172px;
}
.form_contact .email {
	background-position: left 9px top -218px;
	background-position-x: 9px;
	background-position-y: -218px;
}
.form_contact .phone {
	background-position: left 9px top -40px;
	background-position-x: 9px;
	background-position-y: -40px;
}
.form_contact .message {
	background-position: left 9px top -260px;
	background-position-x: 9px;
	background-position-y: -260px;
	min-height: 100px;
}
.form_contact span {
	width: 100%;
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: left;
}
.icon_send {
	background: url(../images/icon_send.png) right center no-repeat;
	background-size: auto 100%;
}
/*---------------------------------------------*/
/*user edit*/
/*---------------------------------------------*/
#doi_tac {
	background: #FFE401;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 15px;
	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac
}
#doi_tac .doi_tac_inner {
	margin: 10px;
	padding: 10px;
	background: #fff;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
#doi_tac ul li {
	width: 170px
}
a:hover {
	color: #F00;
	cursor: pointer;
}
/*E9E9E9*/
.mediaLeft {
	float: left;
	width: 25%
}
.mediaLeft img {
	max-width: 100%;
}
.mediaBody {
	float: left;
	padding-left: 2%;
	max-width: 73%
}
.mediaBody h3 {
	font-weight: bold;
	font-size: 1.2em;
}
.media {
	padding-bottom: 10px;
}
.listMedia {
	padding: 10px;
	margin-bottom: 10px;
}
.listMedia .title {
	font-size: 1.4em;
	color: #feb520;
	border-bottom: solid 1px #feb520;
	text-transform: uppercase;
	margin: 10px 0;
	font-weight: bold;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.9);
}
.viewDetail {
	color: #feb520;
}
.viewDetail:before {
	content: "» ";
	color: #feb520
}
.httt div {
	padding: 5px 0;
	text-align: center
}
.link a {
	background: url(../images/arrow_l.png) left no-repeat;
	padding-left: 15px;
	line-height: 25px;
}
.viewAll {
	color: #F00;
	text-decoration: underline;
}
.viewAll:after {
	content: " » ";
	color: red
}
.fb img {
	max-width: 100%
}
.link {
	margin-left: 10px;
}
.clsRight img{ max-width:100%; max-height:100%}
.headerB{ margin-bottom:10px;}


/*Account*/
.popupBox {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 20px;
	position:fixed;
	width: 300px;
	right: 2px;
	bottom: 0px;
	z-index: 999999;
	padding:  0px;
	background:#FFF;
	-moz-border-radius-topleft: 9px;
-webkit-border-top-left-radius: 9px;
 border-top-left-radius: 9px;
-moz-border-radius-topright: 9px;
-webkit-border-top-right-radius: 9px;
border-top-right-radius: 9px;
overflow:hidden;
border:solid 1px #C68504;
border-bottom:0;
 
 
}
 
.trigger {
	position:fixed;
	bottom:0;
	right:2px;
	height:30px; line-height:30px;
	color:#000;
	font-weight:bold;
/*	-moz-border-radius-topleft: 9px;
-webkit-border-top-left-radius: 9px;
 border-top-left-radius: 9px;
-moz-border-radius-topright: 9px;
-webkit-border-top-right-radius: 9px;
border-top-right-radius: 9px;
background:#FEB31C; 
border:solid 1px #C68504;*/
padding:0 15px;
background:url(../images/bg_box_tab.png);
background-size:100% 100%

	
}
 
.popupBox .button {
	background: #0068cb;
	border: 0 none;
	color: #FFFFFF;
	width: 130px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px
}
.popupBox .button:hover {
	background: #43a80c
}
.closeBtn {
	display: block;
	width: 20px;
	height: 20px;
	background: #e41826;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.popup_account a:hover {
	background: #ddd
}
.popupacc {
	position: absolute;
	top: 0;
	left: 72px;
	width: 200px;
	background: #fff;
	text-align: left;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.titleB { background:#ca9324; color:#fff; font-weight:bold; text-align:center; line-height:24px}
.boxInnerHT{padding:10px;}
.popupBox  .clsinput{ width:100%; float:left; height:25px; border:solid 1px #999; text-indent:10px}
.popupBox .clstextarea{width:100%; float:left; min-height:25px; border:solid 1px #999; text-indent:10px}
.clsbtn{ background:url(../images/bg_li_nav_x_hover.png); background-size:100% 100%; width:50%; margin-left:auto; margin-right:auto; height:25px; line-height:25px; color:#000}
.popupBox .row{ margin-bottom:7px;}
.popupBox .boxInnerHT{ color:#666}
.popupBox p{ font-weight:normal; text-align:justify}