/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color:#466000;
	background: url(../Images/bg.jpg) top center no-repeat;
	background-attachment: fixed;
}
a {
	text-decoration: none;
	color: #85b602;
}
a:hover {
	text-decoration: underline;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input { border: none; }
/* WRAPPER --------*/

.wrapper {
	clear: both;
	width:1028px;
	margin: 0 auto;
	padding: 0;	
}
.wr_top {
	height: 15px;
	background: url(../Images/wr_topBg.png) top left no-repeat;
}
.wr_bot {
	height: 15px;	
	background: url(../Images/wr_botBg.png) top left no-repeat;
}
.wr_content {
	background: url(../Images/wr_contentBg.png) top center repeat-y;
}
.page {
	width: 990px;
	pading: 0;
	margin: 0 auto;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	clear: both;
	margin: 0 auto;
	padding-top: 10px;
	display: block;
	width: 100%;
	clear: both;
}
.left_content {
	float: left;
	width: 240px;
	padding: 0;
	margin: 0;
}
.main_content {
	float: right;
	width: 740px;
	padding: 0;
	margin-left: 5px;
}
/* HEADER

--------------------------*/

.header {
	float:left;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 140px;
	margin: 0;
}
.logo {
	position: absolute;
	top: 20px;
	left: 20px;
}
.info_header {
	position: absolute;
	bottom: 5px; 
	left: 20px; 
}
/* SEARCH */
#search {
	padding: 10px;
	text-align: center;
}
.inputSearch {
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #000000;
	font: 13px Arial, Helvetica, sans-serif;
	height: 18px;
	padding: 2px 0 3px 2px;
	width: 165px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.submitSearch {
	background: url(../Images/SearchButton.png) center left no-repeat;
	border: medium none;
	cursor: pointer;
	clear: both;
	height: 30px;
	padding: 0;
	width: 85px;
	text-align: center;
	color: #FFFFFF;
	font: normal 13px Arial, Helvetica, sans-serif;
}
/*Products*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}
div.box_content_center {
	padding: 0;
	margin: 0 auto;
}
/* MENU SIDEBAR */
ul.vertical_menu {
    list-style: none outside none;
    width: 96%;
	margin: 5px auto;
}
ul.vertical_menu li a {
	display: block;
    font-weight: bold;
    text-align: left;
	line-height: 20px;
	padding: 5px 0 5px 15px;
	border-bottom: 1px dotted #d0d0d0;
	background: url(../Images/arrow_left.png) no-repeat scroll 4px 12px transparent;	
}
/*Slide Banner*/
.top_main_banner {
	float: left;
	margin: 10px 0 0 0;
}
.h1Tab {
	height: 35px;
	background: url(../Images/green_Tab.png) top left repeat-x;
	line-height: 35px;
	text-align: center;
	width: 100%;
	color: #FFFFFF;
	font-size: 13px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
}
#news ul {
	float: left;
	width: 96%;
	padding: 10px 5px;
}
#news ul li {
	border-bottom: 1px dotted #FFFFFF;
	float: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
	width: 100%;
}
#news img { border: 1px solid #cacaca; }
.Title_news {
	margin: 0;
	padding: 0;
	line-height: 15px;
}
.Title_news a {
	color: #3d6700;
	font-weight: bold;
}
#support {
	padding: 10px 0 0 0;
	text-align: center;
	color: #ff5a00;
}
#support p, #visitors p {
	margin: 5px 0;
	padding: 0;
}
/*Slide Agents*/
#slider_products
{
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 5;
}
#slider_products img
{
    height: 150px;
    width: 150px;
}
.jcarousel-skin-tango
{
    padding: 5px 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl
{
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal
{
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip
{
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal
{
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 97%;
}
.jcarousel-skin-tango .jcarousel-item-horizontal
{
    margin-right: 15px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal
{
    margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical
{
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
#slider_products .jcarousel-skin-tango .jcarousel-next-horizontal
{
    background: url(../Images/button_slider.png) no-repeat scroll bottom left transparent;
    cursor: pointer;
    height: 14px;
    right: 20px;
    position: absolute;
    top: -30px;
    width: 13px;
    z-index: 10;
}
#slider_products .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal
{
    background: url(../Images/button_slider.png) repeat scroll bottom left;
    left: 5px;
    right: auto;
}
#slider_products .jcarousel-skin-tango .jcarousel-prev-horizontal
{
    background: url(../Images/button_slider.png) no-repeat scroll bottom right transparent;
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 10px;
    top: -30px;
    width: 13px;
    z-index: 10;
}
#slider_products .product { width: 100%; margin: 0; }
#like_face {
	padding: 10px;
}
#visitors {
	padding: 5px 10px;
	text-align: left;
}
.yellow {
	text-align: left;
	background: url(../Images/yellow_Tab.jpg) top left repeat-x;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;	
}
.yellow span {
	padding-left: 10px;
	color: #eb6900;
}
/*Products*/
.product_row {
	padding: 0;
	margin-left: -10px;
}
.product {
	float: left;
	text-align: left;
	width: 240px;
	margin-left: 10px;
}
.product_inner {
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
}
.h1Title {
	font: normal 20px Arial, Helvetica, sans-serif;
	color: #ff5a00;
}
.link_title {
	color: #658b00;
}
.h2Title {
	margin: 10px 0 0 0;
}
.h2Title a {
	font-size: 13px;
}
.price {
	margin: 0;
	color: #FF0000;
	font-weight: bold;
	font-size: 14px;
}
/*Pagination*/
.navigation {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	line-height: 30px;
}
.navigation a {
	border: 1px solid #6c9501;
		-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 2px;
	padding: 3px 8px;
}
.navigation b, .navigation a:hover {
	background: url(../Images/nav_bg.jpg) center center repeat-x;
	border: 1px solid #6c9501;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*News*/
.list_news {
	float: left;
	width: 100%;
}
.list_news ul {
	padding: 10px;
}
.list_news ul li {
	border-bottom: 1px dashed #f45b82;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .view_more {
	bottom: 5px;
	font-size: 11px;
	position: absolute;
	right: 0;
	color: #ff5a00;
}
.list_news .h2Title {
	margin: 0 0 5px 0;
}
.list_news p {
	margin: 0 0 1em 0;
}
.list_news img {
	border: medium none;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#detail {
	float: left;
	padding: 10px;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
	color: #3e3e3e;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll left -15px transparent;
	padding-left: 15px;
	color: #3e3e3e;	
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #ff5a00 !important;
}
.path {
	background: none repeat scroll 0 0 #f0f0ee;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	width: 98.7%;
	text-align: left;
	text-transform: none;
	font-size: 11px;
	color: #5b7d00;
}
.path a { color: #5b7d00; }
/*Footer*/
.footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 0;
	color: #3e3e3e;
	border-top: 5px solid #b4d416;
}
.footer a {	color: #658b00; }
.footer p { margin: 0 0 5px 0; }
.footer_inner {
	width: 100%;
	margin: 10px auto;
}
.footer_menu {
	float: left;
	width: 50%;
	text-align: left;
}
.footer_menu a {
	font-weight: bold;
	padding-right: 10px;
}
.info_footer {
	float: right;
	text-align: right;
}
.footer_bottom p {
	margin: 0 0 5px 0;
}
.copyright {
	float: left;
	clear: left;
	text-align: left;
	margin-top: 10px;
	font-size: 11px;
}
