/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;
	cursor:move;
}
/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:10px;
	top:0px;
}
/* This is the zoom window. */
.cloud-zoom-big {
	border:4px solid #ccc;
	overflow:hidden;
}
/* This is the loading message. */
.cloud-zoom-loading {
	color:white;
	background:#222;
	padding:3px;
	border:1px solid #000;
}
.zoom-section {
	position:relative;
	z-index:1;
	padding: 20px;
	margin-right: 20px;
	border: 1px solid #cfcfcf;
	background: white;
}
.zoom-desc {
	padding: 10px 48px;
	position: relative
}
.zoom-small-image {
	width: 358px;
	height: 358px;
	text-align: center;
	margin-bottom: 10px;
}
.cloud-zoom {
	width: 100%;
	height: 100%;
	text-align: center;
}
#wrap .mainImage {
	max-width: 100%;
	max-height: 358px;
}
#wrap .mainImage {
	max-width: 100%;
	margin-bottom: 10px;
}
.cloud-zoom-gallery {
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #CCCCCC;
	margin: 0;
	padding: 2px;
	width: 50px;
	height: 50px;
	text-align: center;
}
.zoom-tiny-image {
	max-width: 50px !important;
	max-height: 50px;
}
.zoom-section:hover .zoom img {
	opacity: 1
}
.zoom-desc li {
	float: left;
	width: 55px;
	margin: 0 5px
}
.zoom_area {
	width: 100%;
	height: 20px;
	text-align:right;
	position: relative
}
