/*Menu level*/
#mnu_bot > ul > li {
	float: left;
	width: 100%;
	display: block;
	position: relative
}
#mnu_bot a {
	display: block;
	background: #FFFFFF;
	padding: 8px 40px 8px 10px;
	position: relative;
	font-size: 1.1em;
	color: #333333;
	text-decoration: none;
	border-bottom: 1px solid #e8e8e8
}
#mnu_bot a:hover {
	color: #104ad3
}
#mnu_bot > ul > li > a {
	padding-left: 25px;
}
#mnu_bot > ul > li.wholesale_price> a {
	background: #ff9700; /* Old browsers */
	background: -moz-linear-gradient(top, #ff9700 0%, #ffa000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9700), color-stop(100%, #ffa000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff9700 0%, #ffa000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff9700 0%, #ffa000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff9700 0%, #ffa000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ff9700 0%, #ffa000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9700', endColorstr='#ffa000', GradientType=0 ); /* IE6-9 */
	color: #FFFFFF;
	font-weight: 700
}
#mnu_bot > ul > li.golden_hour> a {
	background: #000859; /* Old browsers */
	background: -moz-linear-gradient(top, #000859 0%, #003695 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000859), color-stop(100%, #003695)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000859 0%, #003695 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000859 0%, #003695 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000859 0%, #003695 100%); /* IE10+ */
	background: linear-gradient(to bottom, #000859 0%, #003695 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000859', endColorstr='#003695', GradientType=0 ); /* IE6-9 */
	color: #FFFFFF;
	font-weight: 700;
	padding-left: 42px
}
.new_icon {
	position: absolute;
	top:0;
	right: 0;
	z-index: 2;
	width: 33px;
	height: 33px;
	background: url(../Images/icons.png) 0 0 no-repeat
}
.hot_icon {
	position: absolute;
	top: 7px;
	left: 0;
	z-index: 2;
	width: 38px;
	height: 20px;
	background: url(../Images/icons.png) -44px 0 no-repeat
}
.cate_icon {
	float: left;
	border: 1px solid #3a4446;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 25px;
	text-align: center;
	margin: 0 5px;
	position: relative;
	top: 4px;
	width: 25px;
	z-index: 2;
}
.cate_icon span {
	display: table-cell;
	vertical-align: middle;
	width: 25px;
	height: 25px;
}
.cate_icon img {
	max-width: 25px;
	max-height: 25px
}
#mnu_bot ul ul {
	display: none;
	clear: both;
}
#mnu_bot > ul > li ul > li > a {
	padding-left: 35px;
	background: #FFFFFF url(../Images/arr_orange.png) 25px 15px no-repeat;
}
#mnu_bot > ul > li ul ul > li > a {
	padding-left: 45px;
	background: #FFFFFF url(../Images/arrow_l1.png) 35px 15px no-repeat;
}
/*Menu Arcordion*/
#mnu_bot > ul > li > ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
	background: #e8e8e8;
}
#mnu_bot > ul > li.active ul {
	display:block;
}
#mnu_bot > ul > li > ul > li {
	position: relative;
}
#mnu_bot > ul > li span:hover {
	cursor:pointer;
}
#mnu_bot > ul > li.active a + ul {
	display: block;
}
#mnu_bot > ul > li ul > li.active > a, #mnu_bot > ul > li ul > li.active > a {
	font-weight:normal;
	color:#3b2c26;
}
#mnu_bot > ul > li > span.close {
	background:url(../Images/faq1.png) center -73px no-repeat;
	width:40px;
	height:39px;
	float:right;
	display:block;
	cursor: pointer;
	z-index: 10
}
#mnu_bot > ul > li > span.close.expanded {
	background-position: center 12px
}
#mnu_bot li li span.close {
	background:url(../Images/faq1.png) center -72px no-repeat;
	width:40px;
	height:39px;
	float:right;
	margin-top:0;
	display:block;
	cursor: pointer;
	z-index: 10
}
#mnu_bot li.active > span.close {
	background-position: center -72px
}
#mnu_bot li li span.close.collapsed {
	background-position: center -73px
}
#mnu_bot li span.close.expanded {
	background-position: center 12px
}
#mnu_bot > ul > li span.close:hover {
	cursor:pointer;
}
#mnu_bot .close {
	position:absolute;
	top:0;
	right:0px;
}
#mnu_bot ul ul .close {
	position:absolute;
	top:0px;
	right:0px;
}
