@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,vietnamese,latin-ext);
#nav {
	clear: both;
	background: url(../Images/bg_repeat.png) 0 0 repeat-x;
	height: 40px;
}
#nav:after, #nav ul:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#nav ul {
	margin: 0;
	padding: 0;
	position: relative;
}
#nav > ul {
	position: relative;
	display: block;
	z-index: 500;
}
#nav > ul > li {
	float: left;
	display:inline-block;
	padding-left: 3px;
	background: url(../Images/space.png) 0 center no-repeat
}
#nav ul li a {
	display: block;
	text-decoration: none;
}
#nav > ul > li > a {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
	position: relative;
	color: #ffffff;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	line-height: 40px;
	padding: 0 17px;
	text-decoration: none;
	text-transform: uppercase
}
#nav > ul > li.home_icon {
	padding: 0;
	background: none
}
#nav > ul > li.home_icon > a {
	padding: 11px 20px
}
#nav > ul > li.active > a, #nav > ul > li:hover > a {
	color: #333333;
	background: #FFFFFF;
}
#nav > ul > li.has-sub > a {
	padding-right: 25px;
}
#nav .sub_menu {
	position: absolute;
	top: 40px;
	display: none;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background:#FFFFFF;
	-moz-box-shadow: 2px 3px 5px #666;
	-webkit-box-shadow:  2px 3px 5px #666;
	box-shadow:  2px 3px 5px #666;
}
.sub_menu ul ul ul {
	top: 40px;
	-moz-border-radiust:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.sub_menu ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 200px
}
#nav li:hover .sub_menu {
	display: block;
	top: 40px;
	opacity: 1;
}
#nav li:hover .mega-menu {
	left: 0;
}
.sub_menu ul li:hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
}
.sub_menu ul li a {
	background: #FFFFFF;
	border-bottom: 1px dotted #9c9c9c;
	filter: none;
	font-size: 12px;
	font-weight: 700;
	display: block;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	color:#1b63a5;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
.sub_menu ul li:hover > a {
	background: #1b63a5;
	color: #FFFFFF;
}
.sub_menu ul li:last-child > a, .sub_menu ul li.last > a {
	border-bottom: 0;
}
.submenuArrow {
	border: 6px solid transparent;
	width: 0;
	height: 0;
	border-bottom-color: #fff;
	position: absolute;
	top: -12px;
}
.sub_menu ul li.has-sub::after {
 border: 4px solid transparent;
 border-left-color: #500202;
 right: 10px;
 top: 12px;
 -moz-transition: all .2s ease;
 -ms-transition: all .2s ease;
 -o-transition: all .2s ease;
 transition: all .2s ease;
 -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
.sub_menu ul li.has-sub:hover::after {
 border-left-color: #fff;
 right: -5px;
 -webkit-transform: rotateY(180deg);
 -ms-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
 -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
}
.sub_menu .has-sub .has-sub:hover > ul {
	display: block;
}
.sub_menu .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}
.sub_menu .has-sub .has-sub ul li a {
	background: #b00c11;
	border-bottom: 1px dotted #d06d70;
}
.sub_menu .has-sub .has-sub ul li a:hover {
	background: #80090d;
}
/*Menu Products*/
#nav .mega-menu > div {
	padding: 0 2px 4px;
	position: relative;
	width: 994px;
}
#nav .mega-menu .items_menu {
	float: left;
	font-size: 0.77em;
	padding: 0;
	width: 100%;
}
#nav .mega-menu .items_menu .row_menu {
	float: left;
	clear: both;
	width: 100%;
}
#nav .mega-menu .items_menu .item {
	float: left;
	padding: 30px 0 0.5em 5px;
	position: relative;
	width: 160px;
}
#nav .mega-menu .items_menu h4 {
	float: left;
	left: 4px;
	color: #606062;
	display: inline;
	font-size: 1.3em;
	padding: 10px 0 5px;
	position: absolute;
	top: 0;
}
#nav .mega-menu .items_menu .item .head {
	float: left;
	cursor: pointer;
	margin: 0 0 0.5em;
	padding: 0 0 4px;
	width: 154px;
}
#nav .mega-menu .items_menu .item .head div {
	float: left;
	padding: 5px 3px 0;
	width: 148px;
}
#nav .mega-menu .items_menu .item .head img {
	float: left;
	margin: 0 0 5px;
}
#nav .mega-menu .items_menu .item .head h3 {
	float: left;
	background: url(../Images/models.png) no-repeat scroll 0 bottom transparent;
	font-size: 1.3em;
	padding: 0 0 5px;
	text-transform: uppercase;
	width: 147px;
}
#nav .mega-menu .items_menu .item .head h3 a {
	float: left;
	background: url(../Images/models.png) no-repeat scroll -250px 0 transparent;
	color: #000000;
	display: block;
	min-height: 20px;
	padding: 9px 2px 0;
	text-align: center;
	width: 143px;
	font-size: 1.1em;
}
#nav .mega-menu .items_menu .item p.price {
	font-weight: bold;
	float: left;
	padding: 0 0 0 8px;
	color: #5f6062;
	font-size: 1.1em;
	line-height: 1.2em;
	width: 100%;
}
#nav .mega-menu .items_menu .item .head:hover h3 {
	background: #237cb5; /* Old browsers */
	background: -moz-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #237cb5), color-stop(100%, #1b6291)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* IE10+ */
	background: linear-gradient(to bottom, #237cb5 0%, #1b6291 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#237cb5', endColorstr='#1b6291', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#nav .mega-menu .items_menu .item .head:hover h3 a {
	background: none;
	color: #FFFFFF
}
