/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 13px/1.5 Arial, Helvetica, sans-serif;
	color:#111111;
	background: url(../Images/bg.jpg) fixed center 0 repeat-y
}
@font-face {
 font-family: 'Avo Regular';
 src: url('../Images/Fonts/utm_avo-webfont.eot');
 src: url('../Images/Fonts/utm_avo-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/utm_avo-webfont.woff2') format('woff2'), url('../Images/Fonts/utm_avo-webfont.woff') format('woff'), url('../Images/Fonts/utm_avo-webfont.ttf') format('truetype'), url('../Images/Fonts/utm_avo-webfont.svg#utm_avoregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #111111;
}
a:hover {
	text-decoration: underline;
	color: #c22719
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
	max-width: 100%;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin: 2px 0
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
.btn_web {
	display: block;
	background: #f9f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f8f8), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f8f8 0%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f8', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
	padding: 4px 10px;
	margin-bottom: 20px;
	color: #000000;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 24px;
}
.btn_web:hover {
	color: #ffffff;
	background: #e53425; /* Old browsers */
	background: -moz-linear-gradient(top, #e53425 0%, #b62215 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e53425), color-stop(100%, #b62215)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e53425 0%, #b62215 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e53425 0%, #b62215 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e53425 0%, #b62215 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e53425 0%, #b62215 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53425', endColorstr='#b62215', GradientType=0 ); /* IE6-9 */;
	border-color: #f65d0d
}
.padd {
	padding: 15px !important
}
.marg15 {
	margin-right: 15px
}
#main_content .inner_col {
	margin-left: 15px;
	margin-top: 15px;
}
/* WRAPPER --------*/
.font1 {
	font-family: 'Avo Regular', Helvetica, sans-serif
}
/* LAYOUT

--------------------------*/

.wrap:after, #header:after, #footer:after, #main:after, .box:after, .box_ct:after, .product_item:after, .pagination:after, #main:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#main {
	background: #FFFFFF url(../Images/mainBg.gif) 24.2% 0 repeat-y;
	margin-top: 50px
}
#main_content {
	margin-top: -35px;
	background: #FFFFFF;
	border-top: 5px solid #cf2c1d;
	z-index: 2
}
/* HEADER*/
#header {
	position: relative;
	margin-top: 35px
}
#logo {
	margin-top: 15px;
	margin-left: 10px
}
#text_logo {
	text-align: center;
	margin: 10px 0
}
#logo img, #text_logo img {
	max-width: 100%;
}
#hotline_head {
	position: absolute;
	top: 12px;
	right: 0;
	width: 238px;
	height: 39px;
	background: url(../Images/hotlineBg.png) right 0 no-repeat;
}
#hotline_head b {
	display: block;
	line-height: 39px;
	font-size: 1.6em;
	color: #FFFFFF;
	padding: 7px 0 0 40px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 #000000
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
#sidebar .box_ct {
	padding: 10px 15px 10px 10px;
}
/*Tab*/
.box_Tab {
	position: relative;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase;
}
.tab_cate {
	position: absolute;
	top: -30px;
	left: 0;
	background: url(../Images/sidebarBg.png) 0 0 no-repeat;
	content: '';
	width: 100%;
	height: 30px;
}
.tab_cate span {
	padding-left: 40px;
	line-height: 30px;
	color: #FFFFFF;
	font-weight: 700
}
.l_tab {
	min-height: 26px;
	text-align: right;
	padding-bottom: 3px;
	background: url(../Images/tab_P.png) bottom left no-repeat
}
.l_tab span {
	display: block;
	padding: 0 0 10px 110px;
	font-weight: 700
}
.box_Tab_main {
	height: 38px;
	background: #000000;
	position: relative;
	color: #FFFFFF;
	margin-left: 55px;
}
.box_Tab_main:before {
	position: absolute;
	top: 0;
	left: -55px;
	background: url(../Images/tab_mainBg.png) 0 0 no-repeat;
	width: 55px;
	height: 38px;
	content: ""
}
.box_Tab_main span, .box_Tab_main h1 {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 38px;
	padding-right: 20px;
	font-weight: 700
}
.box_Tab_main img {
	position: relative;
	top: -2px
}
/*Vertical menu*/
#left_nav li {
	position:relative;
}
#left_nav a {
	text-decoration: none;
	display:block;
	padding: 6px 10px 6px 18px;
	font-size: 1em;
	border-bottom: 1px dotted #7b7b7b;
}
#left_nav h2 {
	font-size: 1em
}
#left_nav > ul > li > a {
	font-weight: 700;
	background: url(../Images/arr_l.png) 6px 12px no-repeat
}
#left_nav > ul > li > a:hover, #left_nav > ul > li > a.active {
	background-image: url(../Images/arr_l1.png)
}
#left_nav > ul > li > ul {
	display: none;
	background: #f2f2f2
}
#left_nav li li a {
	padding-left: 20px;
	background: url(../Images/bullet.gif) 10px 12px no-repeat
}
#left_nav a.active, #left_nav a:hover {
	background-color: #e13324;
	color: #FFFFFF
}
/*Popular Products*/
#popular_products li {
	margin: 10px 0;
	background: #d1d1d1;
}
#popular_products li:last-child {
	margin: 0
}
#popular_products img {
	width: 100%;
	height: auto;
	max-width: inherit;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
#popular_products h3 {
	margin: 7px;
	font-size: 1.15em;
	font-weight: 500
}
/*List Products*/
.list_products ul {
	margin-left: -25px
}
.list_products li:nth-child(3n+1) {
clear: both
}
.product_item {
	padding: 10px 0 10px 25px;
	position: relative;
}
.product_item .img_product {
	display: table-cell;
	width: 225px;
	height: 125px;
	overflow: hidden;
	text-align: center;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.product_item img {
	max-width: 225px;
	max-height: 125px
}
.product_item:hover img, #popular_products li:hover img {
	opacity: 0.8
}
.product_item .product_name {
	padding: 5px 0;
}
.product_item .product_name a {
	font-weight: 500;
}
/*News Home*/
#likebox {
	margin: 0 15px
}
#news_home li {
	border-bottom: 1px dotted #7b7b7b;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
#news_home .news_item {
	padding-left: 110px
}
#news_home .title_news {
	margin: 10px 0 5px 0
}
#news_home .title_news a {
	color: #d90000
}
#news_home p {
	margin: 0 0 0.5em 0
}
#news_home .readmore {
	display: block;
	white-space: nowrap;
	background: #e53425; /* Old browsers */
	background: -moz-linear-gradient(top, #e53425 0%, #b62215 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e53425), color-stop(100%, #b62215)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e53425 0%, #b62215 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e53425 0%, #b62215 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e53425 0%, #b62215 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e53425 0%, #b62215 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e53425', endColorstr='#b62215', GradientType=0 ); /* IE6-9 */;
	padding: 5px 20px;
	font-style: italic;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #e8604d
}
/*Video*/
#video {
	padding: 15px 0
}
#ytvideo, #ytvideo2 {
	float: left;
	margin-right: 10px;
}
ul.demo2 {
	float: left;
	margin: 0;
	padding: 0;
	width: 265px;
}
ul.demo2 li {
	background: #f1f1f1;
	display: block;
	float: left;
	margin-bottom: 5px;
	width: 100%;
}
ul.demo2 li img {
	border: 1px solid rgb(153, 153, 153);
	float: left;
	margin-right: 5px;
	width: 120px;
}
ul.demo2 li a {
	display: block;
	font-size: 1em;
	text-decoration: none;
	padding: 2px
}
.currentvideo {
	background: none repeat scroll 0 0 rgb(230, 230, 230);
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin: 10px 0;
	text-align: center;
	font-size: 0.9em;
}
.pagination a {
	display: inline-block;
	padding: 3px 9px;
	margin: 0 3px;
	color: #000000;
	background: #f9f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f8f8), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f8f8 0%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f8', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
	border: 1px solid #cecccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination b, .pagination a:hover {
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	padding: 3px 9px;
	margin: 0 3px;
	background: #d90000; /* Old browsers */
	background: -moz-linear-gradient(top, #d90000 0%, #c50202 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d90000), color-stop(100%, #c50202)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d90000 0%, #c50202 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d90000 0%, #c50202 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d90000 0%, #c50202 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d90000 0%, #c50202 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90000', endColorstr='#c50202', GradientType=0 ); /* IE6-9 */
	border-color: #d90000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*Detail News*/
.title_page {
	font-size: 1.8em;
	font-weight: 500;
	color: #1f2326;
	margin: 7px 0;
}
.info_g {
	margin-right: 15px
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
/*Detail News*/
#info_g, #info_g p {
	line-height: 160%;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	float: left;
	margin: 10px 0;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	padding: 0
}
.toolbar {
	float: right;
	padding: 0;
	margin-right: 15px;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 20px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -36px
}
a.opinion {
	background-position: 0 -76px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
	font-weight: 700;
	font-size: 13px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 3px 0;
}
.other_news_sub li a {
	background: url(../Images/bullet.gif) no-repeat scroll 0 4px transparent;
	padding-left: 10px;
	font-size: 0.9em
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Detail Products*/
.proleftdet {
	float: left;
	width: 55%;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid #d2d2d2;
	position: relative
}
#pro_detail_slide li {
	float: left;
	width: 392px;
	height: 400px
}
.img-box {
	background: none repeat scroll 0 0 #fff;
	display: table-cell;
	height: 400px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 392px;
}
.img-box img {
	max-height: 400px;
	max-width: 392px;
	text-align: center;
}
.slide_ctrl {
	background: transparent url(../Images/control_btn.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 40px;
	position: absolute;
	top: 180px
}
.slide_ctrl.prev {
	background-position: 0 0;
	left: 0;
}
.slide_ctrl.next {
	background-position: -30px 0;
	right: 0;
}
#dtp_info {
	float: right;
	width: 42%;
}
.dtp_status {
	clear: both;
	display: block;
	width: 100%;
	margin: 10px 0
}
.short_des_dtp {
	margin-top: 20px
}
/*Path*/
.path {
	text-align: left;
	text-transform: none;
	font-size: 90%;
	font-weight: 500;
	margin: 10px 0;
}
.path, .path a {
	color: #ff5d4f
}
/*Footer*/
#footer {
	margin-top: 10px;
	padding-left: 200px !important
}
#footer a:hover {
	color: #000000
}
#footer p {
	margin: 3px 0
}
#info_footer {
	margin-top: 5px
}
/*Social Network*/
#social_network .fr {
	margin-top: 10px;
	margin-right: 30px
}
#social_network span {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-left: 3px;
	margin-top: 5px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_glus {
	background-position: -63px 0
}
.icon_youtube {
	background-position: -28px 0
}
.icon_twitter {
	background-position: -100px 0
}
#copyright {
	text-align: right;
	margin-top: 15px;
}
