#nav {
	padding: 0 60px;
	height: 56px;
	z-index: 6;
	position: relative;
	background: url(../Images/menuBg.gif) 0 0 repeat-x;
}
#nav:before, #nav:after {
	position: absolute;
	top: 0;
	width: 55px;
	height: 56px;
	content: ""
}
#nav:before {
	background: url(../Images/corner_menuBg.png) 0 0 no-repeat;
	left: 0
}
#nav:after {
	background: url(../Images/corner_menuBg.png) top right no-repeat;
	right: 0
}
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#nav ul:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#nav ul, #nav li, #nav a {
	margin: 0;
	padding: 0;
	position: relative;
}
#nav > ul {
	position: relative;
	z-index: 500;
}
#nav > ul > li {
	float: left;
	display:inline-block;
	padding-left: 2px;
	background: url(../Images/space_menu.gif) 0 center no-repeat
}
#nav > ul > li:first-child {
	padding: 0;
	background: none
}
#nav ul li a {
	display: block;
	text-decoration: none;
}
#nav > ul > li > a {
	display: inline-block;
	font-size: 1.1em;
	text-transform: uppercase;
	padding: 0 20px;
	text-align: center;
	color: #FFFFFF;
	line-height: 56px;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
}
#nav > ul > li > a.icon_home {
	height: 56px;
	padding-left: 0
}
#nav > ul > li > a.icon_home img {
	margin-top: 16px
}
#nav > ul > li:not(:first-child).active > a, #nav > ul > li:not(:first-child):hover > a {
 background: #4f5053;
 color: #FFFFFF;
}
#nav ul ul {
	position: absolute;
	left: -9999px;
	top: 56px;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background: #4f5053;
}
#nav ul ul ul {
	top: 56px;
}
#nav ul ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 200px
}
#nav > ul > li:hover > ul {
	left: auto;
	top: 56px;
	opacity: 1;
}
#nav ul ul li:hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
}
#nav ul ul li a {
	border-bottom: 1px solid #6e7172;
	filter: none;
	font-size: 1em;
	display: block;
	line-height: 100%;
	padding: 10px;
	color:#FFFFFF;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
#nav ul ul li:hover > a {
	background: #0bbffb;
	color: #FFFFFF;
}
