/*Contact Us*/
#info_contact, #contactus, #map {
	margin-bottom: 20px
}
#info_contact p {
	margin: 0.5em 0
}
#contactus, #map {
	width: 100%;
}
#contactus .row_contact {
	float: left;
	width: 100%;
	margin-bottom: 10px
}
#contactus .left_row {
	line-height: 22px;
}
#contactus .inputbox {
	width: 100%;
	background: #f9f9f9;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	padding: 8px 0;
	text-indent: 5px;
}
#contactus select {
	height: 30px;
	line-height: 30px;
	padding: 2px;
	width: 101% !important;
}
#contactus textarea {
	background: #f9f9f9;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	width: 100%;
	height: 132px;
}
.send_cmt {
	float: left;
	width: 48%;
	padding: 8px 0;
	text-align: center;
	margin-top: 10px;
	margin-right: 4%
}
.reset_btn {
	margin-right: 0
}
.required {
	color: #FF0000
}
