/* Navigation */
.tab_nav {
	background: #FFFFFF;
}
.tab_nav ul {
	overflow: hidden;
}
.tab_nav li {
	float: left;
	text-align: center;
}
.tab_nav li a {
	color: #3e3e3e;
	font-weight: bold;
}
.tab_nav li a:hover, .tab_nav li a:focus, .tab_nav li a.current {
	color: #00a9f8;
}
.tab_nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
	background-image: url('../img/notch.png');
}
/* Content */
#content section {
	display: none;
}
.section {
	margin:0;
	padding: 0.9em;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	border: 1px solid #c1c1c1;
}
#tabs_detail {
	padding: 0;
	margin: 0;
}
.tab_nav ul#tabs_detail li {
	height: 40px;
	margin: 0 0 0 7px;
	position: relative;
	z-index: 999;
}
.tab_nav ul#tabs_detail li a {
	display: block;
	color: #333333;
	font-weight: 500;
	line-height: 40px;
	padding: 0 15px;
	font-weight: 700;
	background: url(../Images/white_Bg.jpg) 0 100% repeat-x;
	border: 1px solid #CACACA;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.tab_nav ul#tabs_detail li a:hover, .tab_nav ul#tabs_detail li a:focus, .tab_nav ul#tabs_detail li a.current {
	color: #FFFFFF;
	display: block;
	border-bottom: none;
	position: relative;
	background: url(../Images/blueBg.gif) top left repeat-x;
	text-decoration: none;
	border-color: #1b98ea
}
#tabs_dtcontent {
	width: 100%;
	margin-bottom: 10px
}
#tabs_dtcontent .section {
	margin-top: -1px;
	padding: 10px
}
#tabs_dtcontent p {
	margin: 10px 0;
	line-height: 170%;
}
@media only screen and (max-width: 479px) {
.tab_nav ul#tabs_detail li a { font-size: 0.85em; padding: 0 7px }
}

