a{ text-decoration:none}
.imgDetail{ width:100%; float:left}
.infoDetail{ width:100%; float:left; margin-left:0}
.infoDetail h1{ border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px; margin:10px ;}
.innerInfoDetail{}
.shortInfo{ white-space:pre-line}
.btnGroup{ float:right; width:48%; text-align:center}
.btnBuy{ background:#0000A6; color:#fff; font-size:1.4em; margin: 0 auto; margin-left:0; line-height:30px; width:150px}
.btnBuy a{  color:#fff}
.priceGroup{ float:left; width:48%; text-align:right}
.newPrice{ color:Red; font-size:1.2em; font-weight:bold}
.oldPrice{ color:Gray; font-size:0.85em; text-decoration:line-through;}
              
.infoDetailMore{ width:100%; float:left; padding:10px 0px;}
.infoDetailMore h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin:0; margin-bottom:15px; color:#00F}
.innerInfoMore{ padding:10px}
.samePro{ width:100%; float:left; padding:10px 0px;}
.samePro h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px; color:#00F}
.listProduct .productItem{ width:33.33%; float:left}
 @media (min-width:768px) 
 {
     .imgDetail{ width:45%; float:left}
     .infoDetail{ width:50%; float:left; margin-left:3%}
	 
 }
 @media (max-width:768px){
	 .listProduct .productItem{ width:50%}
 }
 @media (max-width:480px){
	 .listProduct .productItem{ width:100%}
 }
 
 .product{ padding:0 10px; overflow:hidden; }
  .productItem:nth-child(n+4) .product{ padding-top: 15px;}
 .product:hover img{ opacity:0.8}
 .desProduct{ width:100%; float:left }
 .innerProduct{ overflow:hidden; background:#fff; padding:0px;height:255px;}
 .photoProduct{ text-align:center; height:165px; overflow:hidden}
 .product h2{ margin:0; padding:0; font-size:1.1em;overflow:hidden; line-height:30px;  margin-bottom:10px; padding-left:20px; padding-right:20px; overflow:hidden }  
 .product h2 a{ color:#00F; font-weight:600;text-overflow: ellipsis; white-space:nowrap; text-transform:uppercase}   
 
 .photoProduct img{ max-width:100%; margin:0%; max-height:165px}     
 
 .adsLeft{ float:left; width:17%}
 .adsLeft img{ width: 190px; height:255px;}
 
 
 .listProduct{ float:left; width:83%;}
 
 .btnMua{ background:url(../images/btnBuyPro.png) no-repeat; width:116px; height:27px; margin-left:10px; margin-top:6px;}
 .btnMua a{ width:100%; float:left; height:27px}
 
 
 .infoDetail .priceGroup{ width:100%; text-align:left}
 .infoDetail .btnGroup{   float:left; margin-top:10px; width:auto }
  .infoDetail .btnGroup a{ color:#fff; padding: 0 20px;}
 .likePro{ margin-bottom:10px;}
 .infoDetail .priceGroup{ margin-top:10px;}
 .listProBox .productItem{ width:25%}
 .listProBox .listProduct{ width:100%}