@charset "utf-8";
.headerBox {
	min-height: 50px;
	position: relative;
}
.bgHeader {
	background: #000;
}
.bgNavx {
	background: #000
}
.wrap {
	width: 100%;
	float: left
}
.bannerHeader {
}
.clsLogo img, .bannerHeader img {
	max-width: 100%; margin-left:200px;
}
.contentBox {
	background: #fff
}
.innerHeaderBox {
	padding: 10px;
	float: left;
	width: 99%;
	padding: 0.5%
}
.slideBg {
	background: url(../images/bgBottomSlide.png) bottom center no-repeat;
	padding-bottom: 15px;
}
.spSmall_fix {
	position: fixed;
	bottom: 0;
	background: #06F;
	z-index: 999999;
	color: #fff;
	width: 100%;
	line-height: 30px;
	font-size: 1.1em
}
.hotlineS {
	font-size: 1.1em;
	margin: 10px
}
.menuLeft {
	float: left;
	width: 25%;
}
.menuRight {
	float: right; /*width:25%;*/
}
.mainContent {
	float: left; /*width:74%*/
}
.innerMenuLeft {
	float: left;
	padding-right: 10px;
	padding-left: 3px
}
.innerMenuRight {
	float: left;
	padding-right: 10px;
	padding-left: 3px
}
.innerMainContent {
	float: left;
	width: 99.7%;
	padding-right: 0.3%;
}
.box {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.innerBox {
 
	float: left;
	width: 100%;
	padding: 0px;
	border-top: 0;
}
.headingBox {
	width: 100%;
	float: left;
	line-height: 40px;
	background-color: #055BBB;
	color: #fff;
	text-transform: uppercase;
 
	background-image: url(../images/bgHeadingB.png);
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 1.2em
}
.headingBoxMain {
	background: none;
	color: #333;
	border-bottom: solid 0px #CACACA;
	padding-bottom: 0;
	font-weight: bold
}
.text-center span {
	padding: 0 20%;
	border-bottom: dotted 1px #00F;
	padding-bottom: 5px;
}
.innerBoxMain {
	padding: 10px;
	overflow: hidden;
	border: solid 0px #E0DB7D;
}
.headingBox a.viewAll{ float:right; margin-right:10px; text-transform:none; color:#fff; font-size:12px; text-decoration:none !important;}
.headingBox a.viewAll:before{ content:"\00bb"; color:#FF0; font-size:12px; margin-right:5px;}
.headingBox a.viewAll:hover{ color:#FF0; cursor:pointer}
.text-left {
	text-align: left
}
.videoBox img, .videoBox iframe {
	width: 100% !important
}
.text-left span {
	padding-left: 10px;
}
.text-left span:before{ content:"\2192"; color:#FF0; margin-right:5px; font-size:1.3em}
.partnerBox {
	padding-top: 15px;
}
.innerPartnerBox {
	padding: 10px;
	float: left;
	border: solid 1px #E0DB7D;
	margin-bottom: 10px
}
.wrap {
	width: 100%;
	float: left
}
.menuFooter {
}
.lineF{margin-top: 10px; border-top:solid 3px #000;}
.footerBox {
	background: #000 url(../images/bgBottomSlide.png) top no-repeat;
	margin-top: 3px;
	color: #fff;
	padding-bottom: 10px;
	padding-top:15px;
}
.innerColLeft {
	padding: 10px;
	float: left
}
.innerColRight {
	padding: 10px;
	float: right;
}
.copyRight {
	padding-top: 10px;
	font-style: italic;
	font-size: 11px;
}
.copyRight a {
	color: #FFF
}
.hotlineBox {
	position: absolute;
	bottom: 0;
	right: 10px;
	color: #900;
	background: url(../images/bgHotline.png) no-repeat;
	min-width: 210px;
	min-height: 48px;
}
.colf h2 {
	font-size: 13px;
	font-weight: bold;
	text-transform:uppercase;
}
.colf  .linF a {
	clear: both;
	padding-left: 0%;
	float: left;
	width: 90%;
	color: #fff
}
.hotlineBox b {
	color: #fff;
	font-size: 1.2em;
	line-height: 55px;
	padding-left: 75px;
}
.slider_main {
	width: 100%;
	float: left;
	position: relative
}
.noP {
	padding: 0
}
/*Search*/
.inputSearch {
	border: solid 1px #FF0000;
	text-indent: 10px;
	height: 30px;
	width: 68%;
	float: left
}
.btnSearch {
	background: #FF0000;
	color: #fff !important;
	float: left;
	height: 30px;
	width: 25%;
	text-align: center;
	line-height: 30px;
	border: solid 1px #FF0000;
}
.popupSearch {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 30px;
	position: absolute;
	width: 320px;
	padding: 5px;
	right: 0px;
	top: 32px;
	z-index: 999999;
	background: #0665CF;
	overflow: hidden;
	border: solid 1px #055AB8;
}
.closeBtn {
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	font-size: 14px;
	color: #f00;
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.trigger {
	float: right;
	line-height: 30px;
	position: relative;
	background: url(../images/iconSearch.png) center center no-repeat;
	width: 30px;
	height: 30px;
}
.listPhoto .itemPhoto {
	width: 20%;
	float: left
}
.innerItemPhoto {
	padding: 5px;
	float: left
}
.innerItemPhoto img {
	max-width: 100%;
	border: solid 1px #814900;
	padding: 1px
}
.captionPhoto {
	padding: 10px;
	text-align: center;
}
.contacBox {
	float: left;
	width: 100%
}
.form-group {
	margin-bottom: 10px;
	display: table; width:100%
}
.frmCT {
	width: 100%;
	float: left
}
.frmCT label {
	width: 100px;
	float: left
}
.form-group input {
	width: 400px;
	float: left;
	height: 25px;
	text-indent: 10px;
}
.form-group textarea {
	width: 400px;
	float: left;
	resize: vertical
}
.form-group [type="submit"] {
	width: 90px;
	margin-left: 100px;
	background: #814900;
	color: #fff;
	border: 0;
	text-align: center;
	padding: 0;
	text-indent: 0
}
.ggMap {
	margin-top: 15px;
	float: left;
	width: 100%
}
.clsCaptcha {
	margin-left: 100px;
}
.cateBox {
	padding-top: 15px;
}
.innerCateBox {
	float: left;
	width: 100%;
	margin-top: 15px;
}
.itemCate {
	position: relative;
	overflow: hidden
}
.itemCate .desCate {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-right: 4px;
	line-height: 30px;
}
.desCate h2 {
	color: #fff;
	background: url(../images/bgCate.png);
	overflow: hidden;
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 0;
	text-align: center
}
.itemCate h2 a {
	white-space: nowrap;
	color: #fff;
	text-overflow: ellipsis;
	text-transform: uppercase
}
.slideCate {
}
.slideCate .slide img {
	width: 100%
}
.countOB {
	width: 200px;
	float: left
}
.numberonl {
	font-weight: bold;
	color: #fff
}
.address {
	text-align: left;
	margin-top: 10px;
}
.httt .nm {
	width: 30%;
	text-align: right;
	margin-right: 5%
}
.ht {
	width: 65%
}
.ht img {
	max-width: 120px;
}
.itht {
	padding-top: 10px;
	padding-bottom: 5px;
}
.httt tel, .httt email {
	clear: both;
	min-height: 1px;
	float: left;
	width: 100%;
}
.httt email {
	text-align: center;
	color: #055bbb
}
.navy ul {
	list-style: none;
	padding-bottom: 10px
}
.navy li {
	padding-left: 15px;
	line-height: 20px;
	padding-right: 10px;
	padding-top: 5px
}
.navy li a {
	color: #333;
	text-decoration: none !important
}
.navy li a:hover {
	color: red
}
.navy li a:before {
	content: "\2666";
	color: red;
	margin-right: 5px
}
a.viewMore {
	color: red;
	font-style: italic;
	float: right;
	text-decoration: underline;
	margin-right: 10px
}
a.viewMore:after {
	content: "\00bb";
	color: red
}
.bgHeader {
	position: relative;
	z-index: 99999999999
}
.clsLogo img {
	transition: All 1.7326s ease-in-out;
	-webkit-transition: All 1.7326s ease-in-out;
	-moz-transition: All 1.7326s ease-in-out;
	-o-transition: All 1.7326s ease-in-out;
	transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-webkit-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-moz-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-o-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
	-ms-transform: rotate(354deg) scale(1) skew(1deg) translate(0px);
}
.topPage {
	background: #000;
	padding-top: 5px;
}
.menu-top-page {
	float: right
}
.linkT {
	float: left;
}
.linkT a {
	padding: 0 10px;
	color: #fff;
}
.menu-top-page .linkT + .linkT:before {
	content: " | ";
	color: #fff;
}
.langBox {
}
.langBox a {
	padding: 0px;
	margin-left: 5px
}
.caret {
}
.menuBox {
	padding-bottom: 10px;
}
.innerItemSer {
	background: #7DB7FF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	height: 350px;
	width: 350px;
	overflow: hidden
}
.innerItemSer img {
	margin-left: auto;
	margin-right: auto
}
.desSer {
	text-align: center !important;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	font-size: 1.2em;
	color: #fff;
}
.desSer h2 {
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: normal;
}
.desSer h2 a{ color:#fff}
.desSer .txt {
	letter-spacing: 1px;
	word-spacing: 1px
}
.innerServicesBox {
	float: left;
	margin-top: 10px;
	width: 100%
}
.innerItemPrt {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	height: 270px;
	width: 270px;
	overflow: hidden;
	background: #7DB7FF;
	border: solid 3px #2F94DB;
	position: relative
}
.innerItemPrt img {
	width: 100%;
	height: 100%
}
.desPrt h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	color: #fff;
	background: url(../images/bgCate.png);
	overflow: hidden;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	text-align: center;
	line-height: 40px
}
.desPrt h2 a {
	color: #fff;
	text-transform: uppercase
}
.itemTend {
	background: #4C4C4C;
	color: #fff;
	width: 100%;
	float: left
}
.itemTend a.btnViewmore {
	float: right;
	width: 90px;
	line-height: 30px;
	background: #004D8F;
	color: #fff;
	text-align:center; cursor:pointer; font-size:15px
}
.innerItemTend {
	padding: 15px 35px;
	overflow: hidden
}
.itemTend .txtT{ float:left; width:80%; font-size:17px}
.social_network{ margin-top:15px}
.paymentF{ padding-top:10px;}
.paymentF img{}


/*httt*/
.popupBox {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 20px;
	position:fixed;
	width: 300px;
	right: 2px;
	bottom: 0px;
	z-index: 999999;
	padding:  0px;
	background:#FFF;
	-moz-border-radius-topleft: 9px;
-webkit-border-top-left-radius: 9px;
 border-top-left-radius: 9px;
-moz-border-radius-topright: 9px;
-webkit-border-top-right-radius: 9px;
border-top-right-radius: 9px;
overflow:hidden;
border:solid 1px #0000A6;
border-bottom:0;
 
 
}
 
.triggerHttt {
	position:fixed;
	bottom:0;
	right:2px;
	height:30px; line-height:30px;
	color:#000;
	font-weight:bold;
/*	-moz-border-radius-topleft: 9px;
-webkit-border-top-left-radius: 9px;
 border-top-left-radius: 9px;
-moz-border-radius-topright: 9px;
-webkit-border-top-right-radius: 9px;
border-top-right-radius: 9px;
background:#FEB31C; 
border:solid 1px #C68504;*/
padding:0 15px;
background:url(../images/bgHttt.png);
background-size:100% 100%; width:182px; height:31px;
z-index:99999;

	
}
 
.popupBox .button {
	background: #0068cb;
	border: 0 none;
	color: #FFFFFF;
	width: 130px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px
}
.popupBox .button:hover {
	background: #43a80c
}
.closeBtnHttt {
	display: block;
	width: 20px;
	height: 20px;
	background: #e41826;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
  

.titleB { background:#0000A6; color:#fff; font-weight:bold; text-align:center; line-height:24px}
.boxInnerHT{padding:10px;}
.popupBox  .clsinput{ width:100%; float:left; height:25px; border:solid 1px #999; text-indent:10px; resize:vertical}
.popupBox .clstextarea{width:100%; float:left; min-height:25px; border:solid 1px #999; text-indent:10px}
.clsbtn{ background:#0000A6; background-size:100% 100%; width:50%; margin-left:auto; margin-right:auto; height:30px; line-height:30px; color:#fff}
.popupBox .row{ margin-bottom:7px;}
.popupBox .boxInnerHT{ color:#666}
.popupBox p{ font-weight:normal; text-align:justify}

.proBox{ background:#cbcbcb}
.innerProBox{ padding:10px; overflow:hidden}
.hdb2{ background-image:none; background:none; color:#666; border-bottom: solid 1px #666; margin-bottom:10px;}
.hdb2 span{ border-bottom:solid 3px #00F; padding-bottom:9px; font-weight:bold; color:#00F}
.hdb2 span:before{ color:#00F;}



/*Cart*/
.fl{ float:left}
.fr{ float:right}
.row_th_cart {
	float: left;
	width: 100%;
	background:#f3f3f3;border-bottom: solid 1px #ddd;
	margin-top:10px; 
	padding:7px 0;
}
.th_table_cart {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #555555
}
.item_cart {
	border-top: solid 1px #ddd;	 
	height: 120px;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
 
.item_cart .img_cart {
	display: block;
	margin: 10px 0;
	width: 15%;
	text-align: center
}
.item_cart .img_cart img{ width:100px; height:100px;}
.item_cart .close {
	background: url(../Images/popup-close.png) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 25px;
	position: absolute;
	right: 0px;
	top: 18px;
	width: 25px;
}
.item_cart .cell {
	border-left: 1px solid #ddd;
	float: left;
	height: 69px;
	margin-top: 24px;
}
.item_cart .cell.unit {
	width: 14.5%;
}
.item_cart .cell.unit .old {
	color: #666666;
	display: block;
	font-size: 125%;
	line-height: 18px;
	margin: 16px 0 0 16px;
}
.item_cart .cell.unit .new {
	color: #f00;
	font-size: 167%;
	font-weight: 700;
	line-height: 65px;
	margin-left: 16px;
}
.item_cart .cell.amount {
	background: none repeat scroll 0 0 transparent;
	border-radius: 0 0 0 0;
	position: static;
	text-align: center;
	width: 10%;
}
.item_cart .cell.amount select {
	color: #000000;
	font-size: 120%;
	font-weight: 700;
	height: 30px;
	padding: 4px;
	margin-top: 23px;
	text-align: center;
	width: 50px;
}
.item_cart .cell.total {
	color: #f00;
	font-size: 192%;
	font-weight: 700;
	line-height: 69px;
	padding-right: 23px;
	text-align: right;
	width: 18%;
}
.cell.name {
	border-left: 0 none;
	display: table;
	height: 118px;
	margin-top: 0;
	position: relative;
	width: 39.5%;
}
.cell.name div {
	display: table-cell;
	top: 50%;
	vertical-align: middle;
}
.cell.name span {
	color:#666;
	font-size: 137%;
	font-weight: 700;
	line-height: 28px;
	top: -50%;
}
.cell.name i {
	color: #333333;
	display: block;
	font-size: 125%;
	line-height: 18px;
	top: -50%;
}
.foo-cart {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 10px;border-top: 1px solid #ddd;
	padding-top:20px;
}
.total-cart {
	color: #000000;
	border: 1px solid #ddd;
	float: right;
	font-size: 125%;
	line-height: 28px;
	margin-right: 12px;
	padding: 9px 23px;
	text-align: right;
	width: 500px;
}
.total-cart p {
	display: block;
	height: 28px;
	padding: 6px 0;
	text-align: left;
}
.total-cart strong {
	font-size: 150%;
	padding-left: 23px;
	vertical-align: middle;
}
.total-cart span {
	float: right;
	font-size: 150%;
	padding-left: 23px;
	vertical-align: middle;
	color:#f00
}
.total-cart i {
	float: left;
	line-height: 28px;
}
.core-cart {
	background: url(../Images/icon.png) no-repeat scroll 103% 105% transparent;
	border: 1px solid #BFBFBF;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.75) inset;
	float: right;
	height: 40px;
	margin: 9px 20px 0 0;
	padding-right: 34px;
	position: relative;
}
.core-cart input {
	border: 0 none;
	color: #666666;
	font-size: 125%;
	line-height: 18px;
	margin: 11px 0 0 10px;
	width: 160px;
}
.core-cart label {
	color: #666666;
	font-size: 125%;
	left: 11px;
	line-height: 18px;
	position: absolute;
	top: 10px;
}
.core-cart a {
	height: 22px;
	position: absolute;
	right: 6px;
	top: 10px;
	width: 22px;
}
.del-cart {
	clear: both;
	color: #666666;
	float: right;
	font-size: 108%;
	font-style: italic;
	height: 16px;
	margin-top: 12px;
	padding-left: 36px;
}
.button_cart {
	clear: both;
	float: right;
	height: 40px;
	padding: 10px;
	width: auto;
	margin-bottom: 10px;
	text-align:right
}
.button1, .button_cart .button1 {
	background: #003466 url(../Images/blue_bg.jpg) repeat-x scroll 0 0;
	color: #FFFFFF;
	display: inline-block;
	font-size: 130%;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	margin: -9px 12px 0;
	position: relative;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none
}
.button_cart .button {
	background: url(../Images/button_viewBg.jpg) 0 0 repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	float: right;
	font-size: 140%;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 12px;
	margin-top: 3px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 190px;
}


.form_web input[type="checkbox"], .form_web input[type="radio"] {
	padding: 0 1px;
	margin-top: 8px
}
.info_account {
	width: 45%;
	height: 560px;
	margin: 15px 0;
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px 20px
}
.form_web .form_header {
	color: #03F;
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 3px solid #ddd
}
.form_web .row_account {
	float: left;
	margin: 3px 0;
	clear: both;
	width:98%
}
.form_web .item_title {
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 4px 10px 4px 0;
	width: 25%;
}
.not_account {
	margin-top: 15px !important
}
.form_web .right_row_account {
	width: 70%; float:left !important
}
.form_web .row_account i {
	float: left;
	padding: 5px 0;
	font-size: 11px
}
.form_web .sl_form_web {
	/*width: 100%;*/
	height: 32px;
	padding: 3px
}
.form_web .sl_form_web.accountBirthDay {
	width: 32.5%
}
.tab_transport .right_row_account .inputbox {
	width: 99%
}
.form_web .btn_action {
	margin-right: 20px;
}
.form_web .text {
	clear: both;
	float: left;
	padding-left: 170px;
}
.form_web .row .checkbox {
	padding-bottom: 5px;
	padding-top: 10px;
}
.form_web .write_comment label {
	line-height: 30px;
	color: #FFFFFF;
	z-index: 1;
}
.form_web .write_comment textarea {
	width: 340px;
	height: 100px;
	padding: 5px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.login_account {
	padding: 20px 0;
	width: 45%;
	margin: 0 auto
}
.login_account .lost_password p {
	margin: 0 0 0 150px
}
.login_account .link_acount {
	text-decoration: underline;
	color: #e82d08
}
.login_account .link_acount:hover {
	text-decoration: none
}
.info_account input[type="text"]{ height:30px; width:100%}


/*Tab Payment*/
#tabs_payment {
	margin-top: 15px
}
#tabs_payment:after {
	clear: both;
	display: block;
	content: ''
}
#tabs_payment ul {
	float: left;
	width: 25%;
	height: 100%;
	list-style:none;
}
#tabs_payment li {
	float: left;
	width: 100%
}
#tabs_payment ul li a {
	text-decoration: none;
	font-weight: bold;
	background: #f8f8f8;
	border-bottom: 1px solid #dfdfdf;
	border-left: 5px solid #dfdfdf;
	box-sizing: border-box;
	color: #5b5b5b;
	display: block;
	height: 50px;
	line-height: 50px;
	margin-bottom: 5px;
	padding-left: 15px;
	width: 100%;
	-moz-box-shadow: -2px 2px 5px #dddddd;
-webkit-box-shadow: -2px 2px 5px #dddddd;
	box-shadow: -2px 2px 5px #dddddd
}
#tabs_payment ul li.active a {
	background: #FFFFFF;
	border-left: 5px solid #1793de;
	border-right: 1px solid #ffffff;
}
.pay-form .condition_tran {
	color: #cc0000;
	display: block;
	margin-top: 5px;
	padding-left: 15px;
}
#tabs_payment .tab_payment_ct {
	padding: 0 20px 15px 20px;
	width: 68%;
	font-size: 14px;
}
.tab_transport .tab_payment_ct {
	border-left: 1px solid #cacaca
}
.method_payment_tab .tab_payment_ct {
	font-size: 13px !important
}
.method_payment_tab .payment_radio_check {
	display: inline-block;
}
.method_payment_tab .payment_form_title {
	display: inline-block;
	width: 95%;
}
.method_payment_tab .row {
	margin-bottom: 15px; float:left; width:100%; 
}
#bill_info .row {
	margin-bottom: 5px
}
.hidden {
	display: none
}
.address {
	width:90%; margin:5px;  float:left ;
 
 
	
}
.address p{ margin-left:30px;}
.change_info {
	position: absolute;
	z-index: 50;
	top: 0;
	right: 10px;
	font-size: 0.8em;
	color: #fff;
	text-transform: none;
}
.process_payment{ width:50%}