
*  {
	margin: 0;
	padding: 0; }

body  {
	color:#333333;
	background: url("../images/bg.jpg") ;
	font-size:12px;
	line-height:18px;}
#s5_scrolltotop{
   
    margin: 0;
    padding: 0;
    width: 100%;

}
.image{
	padding-left:0 !important;
}
#test img{
	width:158px;
}
#s5_pos_bottom_row2_1{
	background:#00F;
}
.s5_fourdivs_1hiep span{
	 font-size: 18px;
    line-height: 26px;
	color:#696969;
}

.s5_fourdivs_1hiep a{
	 font-size: 18px !important;
	 color:#F00 !important;
    
}
.s5_fourdivs_1lien span{
	 font-size: 18px;
    line-height: 26px;
	color:#696969;
}

.s5_fourdivs_1lien a{
	 font-size: 18px !important;
	 color:#F00 !important;
    
}
.s5_fourdivs_1HY span{
	 font-size: 18px;
    line-height: 26px;
	color:#696969;
}

.s5_fourdivs_1HY a{
	 font-size: 18px !important;
	 color:#F00 !important;
    
}
.slideshowprobox {
	width:948px !important;
	
}
.s5_fourdivs_1HY .xanh{
	height:964px;
}

.s5_fourdivs_1hiep .xanh{
	height:964px;
}

.s5_fourdivs_1lien .xanh{
	height:964px;
}
#product_list{
	overflow: scroll;
	height:200px;
}
.xanh{
	height: 303px;
    overflow: auto;
}
#tinymce{
	background:#FFF;
}
.xanh a{
	
	color: #696969;
    font-family: times new roman;
    font-size: 14px;
}
#keyword{
	border-radius: 6px 6px 6px 6px;
    margin-left: 38px;
    margin-top: -5px;
    width: 144px;
}
#s5_pos_middle_top_2{
	height:28px;
}
.xanh img{
border: 1px solid;
    height: 105px;
	float:left;
    padding: 2px;
    width: 140px;
}
.tooltips-link img{

}
.ho{
	
	height: 2px;
    margin-top: 2px;
}
.productPrice{
	color:#0044a0;
	line-height:20px;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
}
#mod_search_searchword{
	border-radius: 10px 10px 10px 10px;
    width: 183px;
}
.row {
    display: block;
    margin: 0 -10px 0 -5px;
    overflow: hidden;
}
.row > div {
    display: table-cell;
}

.row .product > div, div.vmproduct div.spacer {
    border: 1px solid #E3E3E3;
    display: inline-block;
    margin: 7px;
}

a, a:active, a:focus {
    color: #EA2E2E;
    outline: medium none;
    text-decoration: none;
}
.s5_sli{
border: 3px solid deepskyblue;
    margin-top: -7px;
	width:973px;
}
#s5_menu_login_wrap_inner{

   
   
    display: block;
    padding: 4px;
	width:100%;
	height:32px;

}
#s5_center_area_inner {
	width:975px !important;
	background:#FFF;
}
#s5_bottom_row2_area_inner{
	width:975px !important;
}
#s5_bottom_row2_wrap{
	border: 3px solid deepskyblue;
    margin-left: -5px;
    width: 973px;
}
#zt-inner{
color:#FFFFFF;
padding-left:22px;
margin-top:4px;
}
#zt-highlight-inner {
    background: url("../images/hightline.png") no-repeat scroll 0 0 transparent;
    margin-top: -17px;
    min-height: 95px;
    padding: 5px 15px;
}
#zt-massheader {
   
    display: inline-block;
    width: 100%;
}

.zt-wrapper {
    margin: 0 auto;
    width: 986px;
}

#zt-massheader-inner {
background: url("../images/bg-menu.jpg") no-repeat scroll 0 0 transparent;
    
}
#zt-header {
    display: inline-block;
	margin-bottom:119px;
    width: 100%;
}
#zt-wrapper-inner{

    display: inline-block;
    width: 100%;
}
body.contentpane {
	background:#FFFFFF;}
.seo{
	margin-left:auto;
	margin-right:auto;
	width:950px;
}

a  {
	text-decoration: none;}

a:hover, a:focus  {
	text-decoration:underline; }

fieldset a  {
	font-weight: bold; }
.s5_highlight_line2{
	height:5px;
	background-color:#00F;
}

h1 {
	font-size:1.7em;
	font-weight: normal;}

h2 {
	font-size:1.4em;
	font-weight: normal;}

h3 {
	display: inline-block;
    font-size: 150%;
    font-weight: normal;
    line-height: 1.4;
    margin: 10px 0 5px;
    width: 100%;
	}

h4 {
	font-size:1.1em;
	font-weight: normal;}

h5 {
	font-size:0.9em;
	font-weight: normal;}


/* IMAGES
----------------------------------------------------------- */
#s5_logo_module{
	width:349px;
	height:110px;
	float:left;
	padding-top:10px;
}
a img, fieldset, img  {
	border: medium none;
    }
#seotd{
	height:4px;
	background-color:#25a7fb;
	
}
.mosimage  {
	padding: 0;
	border:1px solid #333333;
	margin:6px;	}

.mosimage img  {
	padding: 0;
	margin: 0!important; }

.mosimage_caption {
	background:#333333;
	border-top:1px solid #333333;
	color:#FFFFFF;
	font-size:8pt;
	margin-top:2px;
	padding:1px 2px;}


#s5_component_wrap ul {
	list-style:none;
	}

/* FORM
----------------------------------------------------------- */
fieldset  {
	border-bottom:dotted 1px #5F5F5F;
	padding-top:7px;
	padding-bottom:7px;}

#form-login fieldset {
	border:none;
	padding-top:0px;}

#form-login p {
	padding-top:0px;}

#login br {
	display:none;}

#login .button {
	margin-top:8px;
	margin-bottom:8px;}

#login ul, #form-login ul {
	padding-top:8px;
	padding-bottom:8px;}

#modlgn_username, #modlgn_passwd, #username_vmlogin, #password_vmlogin {
	width:92%;}

.inputbox {
	behavior: url(templates/paradigm_shift/css/PIE.htc);
	border:1px solid #CDCDCD;
	margin-top: 3px;
	margin-bottom:4px;
	padding:5px;
	background:#F8F8F8;
	-moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15) inset; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15) inset; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15) inset; /* Opera 10.5, IE9, Chrome 10+ */}

.inputbox:hover {
	behavior: url(templates/paradigm_shift/css/PIE.htc);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); 
	border:solid 1px #ABABAB;}

label.invalid {
	color:#FF0000;}

label.invalid {
	color:red;}

.invalid {
	border-color:#FF0000;}

.invalid {
	border-color:red !important;}

.tool-tip {
	float: left;
	background: #CCCCCC;
	border: 1px solid #333333;
	padding: 5px;
	color:#000000;
	max-width: 200px;}

.tool-title {
	padding: 0;
	margin: 0;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	color:#000000;}

.tool-text {
	color:#000000;
	margin: 0;}

/* BUTTONS
----------------------------------------------------------- */

.button, a.readon, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink, a.readmore-link, a.comments-link, div.itemCommentsForm form input#submitCommentButton {
	padding:5px;
	margin-top:14px;
	margin-bottom:0px;
	border:none;
	color:#FFFFFF;
	text-decoration: none; 
	font-size:0.9em;}

.button {
	margin:0px;
	margin-top:0px;
	display:inline;
	margin-right:8px;
	color:#ffffff;}
	
#submitCommentButton {
	margin-top:14px;}

a.readon, div.catItemReadMore, .userItemReadMore, div.catItemCommentsLink, .userItemCommentsLink, a.readmore-link, a.comments-link {
	padding-left:10px;
	padding-right:10px;}


/* FONT CONTROLS
----------------------------------------------------------- */
#fontControls {
	float:right;}

#fontControls a {
	color:#FFFFFF;}

.decreaseSize {
	font-size:12px;}

.increaseSize {
	font-size:19px;}

.resetSize {
	font-size:16px;
	margin-left:5px;
	margin-right:5px;}	
	
/* SCROLL TO TOP
----------------------------------------------------------- */


.s5_scrolltotop  {	
	cursor:pointer;
	margin-top:-24px;
	float: right;
}	


	
	
/* BOTTOM MENU
----------------------------------------------------------- */

#s5_bottom_menu_wrap ul.menu a:hover {
text-decoration:underline;}

#s5_bottom_menu_wrap ul.menu li {
padding-right:7px;
padding-left:7px;
font-size:1.1em;
font-weight:bold;
display:inline;}

#s5_bottom_menu_wrap {
padding-top:10px;}


/* COLUMN MENU
----------------------------------------------------------- */

.module_round_box ul.menu a {
padding:24px;
padding-bottom:6px;
padding-top:6px;
display:block;
background:url(../images/arrow.png) no-repeat left center;
color:#191919;
border-bottom:1px dotted #D3D3D3;}

.module_round_box ul.menu a:hover {
text-decoration:underline;}

.module_round_box ul.menu ul a:hover {
text-decoration:underline;}

.module_round_box ul.menu ul a {
background:none;
padding:6px;
padding-left:10px;
border-bottom: none;
display:block;}

.module_round_box ul.menu ul ul a {
font-size:8pt;
padding:3px;
padding-left:20px;
border-bottom: none;
display:block;
font-weight:normal;}

.module_round_box ul.menu #current ul span {
font-weight:normal;}

.module_round_box ul.menu li {
padding:0px;}

.module_round_box ul.menu li ul li {
margin-left:24px;}

	
/* ACCORDION MENU
----------------------------------------------------------- */

#s5_accordion_menu span {
font-weight:bold;}

#s5_accordion_menu ul li span {
font-weight:normal;}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {
color:#3F3F3F;}

div.s5_accordion_menu_element li li{
padding-left:4px;}

div.s5_accordion_menu_element li li li{
padding-left:12px;}

div.s5_accordion_menu_element li a {
background:url(../images/arrow.png) no-repeat left center;
padding-left:20px;
padding-top:6px;
padding-bottom:6px;
display:block;
border-bottom:none;
font-size:0.9em;
border-bottom:1px dotted #D3D3D3;
color:#3F3F3F;}

div.s5_accordion_menu_element li li a {
background:none;
padding-left:6px;
padding-right:6px;
font-size:0.9em;
color:#3F3F3F;
border:none;
padding-top:5px;
padding-bottom:5px;}


span.s5_accordion_menu_left {
padding:0px;
padding-left:17px;
padding-right:17px;
padding-top:7px;
display:block;
padding-bottom:6px;}

.s5_am_inner_li span.s5_accordion_menu_left {
padding:0px;}

.s5_am_innermenu span.s5_accordion_menu_left {
background:none;}

#s5_accordion_menu ul li {
padding-bottom:0px;
padding-top:0px;}

#s5_accordion_menu {
margin:0px;}

#s5_accordion_menu div {
width:100%;
display:block;}

#s5_accordion_menu h3 {
behavior: url(templates/paradigm_shift/css/PIE.htc);
background: #FFFFFF; /* Old browsers */
background: -moz-linear-gradient(top, #FFFFFF 0%, #F2F0F0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F2F0F0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #FFFFFF 0%,#F2F0F0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #FFFFFF 0%,#F2F0F0 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #FFFFFF 0%,#F2F0F0 100%); /* IE10+ */
background: linear-gradient(top, #FFFFFF 0%,#F2F0F0 100%); /* W3C */
-pie-background: linear-gradient(top, #FFFFFF 0%,#F2F0F0 100%); /* IE */
-moz-border-radius:16px;
-webkit-border-radius:16px;
border-radius:16px;
border:solid 1px #CFCECE;
margin:0px;
position:relative;
width:100%;
display:block;
font-size:1em;
margin-bottom:6px;}

#s5_accordion_menu h3:hover {
background: #F2F0F0;
}

#s5_accordion_menu h3.s5_am_parent span.s5_accordion_menu_left {
cursor: pointer;
background:url(../images/s5_acc_r_parent.png) no-repeat top right;
padding-right:24px;
position:relative;}

#s5_accordion_menu h3.s5_am_open span.s5_accordion_menu_left {
background:url(../images/s5_acc_r_parent.png) no-repeat bottom right;}

#s5_accordion_menu h3.s5_am_not_parent span.s5_accordion_menu_left {
background:none;
}

#s5_accordion_menu h3.s5_am_not_parent {
cursor:pointer;}

#s5_accordion_menu h3.s5_am_toggler div {
margin:0px;
padding:0px;}

#s5_accordion_menu h3.s5_am_toggler a.mainlevel {	
width:auto;
border:none;
padding:0px;
margin:0px;}

div.s5_accordion_menu_element li {	
list-style-image:none;
list-style-position:outside;
list-style-type:none;}

div.s5_accordion_menu_element {
width:auto;}

#s5_accordion_menu #s5_am_parent_div_current, #s5_accordion_menu .s5_accordion_menu_element {
background:none;}

ul.s5_am_innermenu {
padding-top:0px;
padding-bottom:8px;
padding-left:8px;
padding-right:8px;
margin-left:0px;
margin-top:0px;}

ul.s5_am_innermenu a:hover {
text-decoration:underline;}

#s5_accordion_menu h3.s5_am_parent {
padding-right:0px;}

#s5_accordion_menu h3 span.s5_accordion_menu_left {
height:18px;}

	
/* BODY ELEMENTS
----------------------------------------------------------- */


#s5_top_bar {
behavior: url(templates/paradigm_shift/css/PIE.htc);
height:38px;
border-bottom:solid 1px #B3B2B2;
background: #ebeaea; /* Old browsers */
background: -moz-linear-gradient(top, #ebeaea 0%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebeaea), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebeaea 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebeaea 0%,#fcfcfc 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ebeaea 0%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(top, #ebeaea 0%,#fcfcfc 100%); /* W3C */
-pie-background: linear-gradient(top, #ebeaea 0%,#fcfcfc 100%); /* W3C */
}

#s5_header_area1 {
background:#ffffff;
}

#s5_font_icon_search_wrap, #fontControls, #s5_rss, #s5_twitter, #s5_facebook, #s5_search_wrap, #s5_header_icons {
float:right;
}

#fontControls a {
color:#4B4B4B;
}

#fontControls {
padding-top:13px;
}

#s5_header_icons {
padding-top:9px;
margin-left:9px;
}

#s5_search_wrap {
padding-top:2px;
margin-left:16px;
}

#s5_search_wrap .button {
margin:0px;
margin-left:4px;
}

#s5_facebook {
margin-left:6px;
height:20px;
width:20px;
cursor:pointer;
background:url(../images/s5_facebook.png) no-repeat top right;
}

#s5_twitter {
margin-left:6px;
height:20px;
width:20px;
cursor:pointer;
background:url(../images/s5_twitter.png) no-repeat top right;
}

#s5_rss {
margin-left:6px;
height:20px;
width:20px;
cursor:pointer;
background:url(../images/s5_rss.png) no-repeat top right;
}

#s5_logo {

height:97px;
width:300px;
cursor:pointer;
float:left;
}

.s5_logo_module {
background:none;
height:97px;
width:300px;
cursor:pointer;
float:left;
}

#s5_menu_login_wrap, #s5_footer_area1 {
 display: inline-block;
    width: 100%;
}

#s5_menu_wrap {
 display: block;
    min-height: 32px;
    width: 780px;
	float:left;
}

#s5_loginreg {
float:right;
padding-top:14px;
}

#s5_login, #s5_register, .s5_scrolltotop, .readon, a.readmore-link, .comments-link {
float:right;
margin-left:8px;
behavior: url(templates/paradigm_shift/css/PIE.htc);
background: #F9F8F8; /* Old browsers */
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset; 
border:solid 1px #ffffff;
padding:2px;
padding-left:8px;
padding-right:8px;
cursor:pointer;
}

a.readmore-link, .comments-link {
padding-top:5px;
padding-bottom:5px;
margin-right:6px;
}

a.readon, a.readmore-link, a.comments-link {
float:left;
margin-left:0px;
}

#s5_login:hover, #s5_register:hover, .s5_scrolltotop:hover, .readon:hover, a.readmore-link:hover, .comments-link:hover {
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset;
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset; 
text-decoration:none;
}

.s5_scrolltotop  {	
padding-top:4px;
padding-bottom:4px;
}

.s5_highlight_line {
height:5px;
}

#s5_header_area1 {
background:#FFFFFF url(../images/s5_header_1.jpg) repeat-x top left;
}

#s5_header_area2 {
background:url(../images/s5_header_2.jpg) repeat-x bottom left;
}

#s5_pos_banner {
float: left;
    padding-left: 40px;
    padding-top: 10px;
    width: 345px
}
#zt-topmenu-inner {
  
    margin-top: -25px;
    min-height: 35px;
    padding-top: 10px;
    width: 135px;
}
#s5_top_row1_area1, #s5_bottom_row3_area1 {
overflow:hidden;
position:relative;
z-index:2;
}

#s5_top_row1_wrap, #s5_bottom_row3_wrap {
behavior: url(templates/paradigm_shift/css/PIE.htc);
-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); 
padding:16px;
padding-left:0px;
padding-bottom:0px;
position:relative;
z-index:1;
}

#s5_center_area {
margin-top: -7px;
}

.muaa{
	border:1px solid #F00;
}
#s5_footer_area1 {
padding-bottom:40px;
padding-top:10px;
height:auto;
}

#s5_breadcrumb_wrap img {
display:none;
}

#s5_bottom_menu_wrap ul, #s5_footer {
text-align:center;
padding-top:14px;
}


/* MODULE STYLES
----------------------------------------------------------- */

#s5_top_row1_wrap .module_round_box_outer, #s5_bottom_row3_wrap .module_round_box_outer {
margin-left:16px;
margin-bottom:16px;
}

#s5_top_row1_wrap .module_round_box, #s5_bottom_row3_wrap .module_round_box {
padding:16px;
color:#ffffff;
behavior: url(templates/paradigm_shift/css/PIE.htc);
background:url(../images/s5_opacity.png);
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset; 
}

#s5_top_row1_wrap .module_round_box-none, #s5_bottom_row3_wrap .module_round_box-none {
padding:00px;
color:#ffffff;
}

#s5_top_row1_wrap .s5_mod_h3, #s5_bottom_row3_wrap .s5_mod_h3 {
font-size:1.4em;
margin-bottom:8px;
text-shadow:1px 1px #333333;
}

#s5_top_row1_wrap .module_round_box ul.menu a, #s5_bottom_row3_wrap .module_round_box ul.menu a {
padding:0px;
padding-left:5px;
padding-right:5px;
padding-bottom:3px;
border:none;
background:none;
}

#s5_center_area .module_round_box_outer, #s5_component_wrap, #s5_center_area .moduletable, #s5_center_area .module_round_box_outer-none {
margin-left:2px;
margin-right:2px;
margin-bottom:12px;
}

#s5_center_area .module_round_box, #s5_component_wrap, #s5_center_area .moduletable, #s5_center_area .module_round_box-plain {
background:#ffffff;
padding:12px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15); 	
}
#s5_component_wrap {
padding-top:20px;
padding-bottom:7px;
}

.module_round_box-none {
margin:0px;
padding:0px;
background:none;
border:none;
}
.me{
	color: #FFFFFF;
    padding-left: 49px;
    text-transform: uppercase;
}
#s5_breadcrumb_wrap .moduletable {
padding-top:6px;
padding-bottom:5px;
}
.browseProductTitle{
	font-size:12px !important;
	
}
#s5_center_area .module_round_box .s5_mod_h3 {

background:  url(../images/led.jpg) no-repeat ;
-moz-border-radius:8px 8px 0px 0px;
-webkit-border-radius:8px 8px 0px 0px;

margin-top:-13px;
margin-left:-13px;
margin-right:-13px;
margin-bottom:12px;
display:block;
padding-bottom:8px;
padding-top:9px;
padding-left:12px;
padding-right:12px;
font-size:1.3em;

}

#s5_center_area .module_round_box-dark {
background:#222222;
border:solid 1px #000000;
padding:12px;
color:#BDBDBD;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) inset;
-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) inset;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) inset; 
}

#s5_center_area .module_round_box-dark .s5_mod_h3 {
border-bottom:solid 1px #343434;
background: #222222 url(../images/s5_mod_dark_h3.jpg) repeat-x top left;
-moz-border-radius:8px 8px 0px 0px;
-webkit-border-radius:8px 8px 0px 0px;
border-radius:8px 8px 0px 0px;
margin-top:-13px;
margin-left:-13px;
margin-right:-13px;
margin-bottom:12px;
padding-bottom:8px;
padding-top:9px;
padding-left:12px;
padding-right:12px;
font-size:1.3em;
}

#s5_center_area .module_round_box-dark .s5_mod_h3 {
color:#BDBDBD;
}

#s5_center_area .module_round_box-dark .s5_h3_first, #s5_center_area .module_round_box-dark a {
color:#999999;
}

#s5_center_area .module_round_box-medium {
background:#C9C9C9;
border:solid 1px #A1A0A0;
padding:12px;
color:#55554F;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset; 
}

#s5_center_area .module_round_box-medium .s5_mod_h3 {
border:solid 1px #A1A0A0;
border-bottom:solid 1px #DDDDDD;
background: #C0C0C0 url(../images/s5_mod_medium_h3.jpg) repeat-x top left;
-moz-border-radius:8px 8px 0px 0px;
-webkit-border-radius:8px 8px 0px 0px;
border-radius:8px 8px 0px 0px;
margin-top:-13px;
margin-left:-13px;
margin-right:-13px;
margin-bottom:12px;
padding-bottom:8px;
padding-top:9px;
padding-left:12px;
padding-right:12px;
font-size:1.3em;
}

#s5_center_area .module_round_box-medium .s5_mod_h3 {
color:#2C2C2C;
}

#s5_center_area .module_round_box-plain .s5_mod_h3 {
background:none;
border:none;
margin-bottom:8px;
margin-top:0px;
padding-top:1px;
}

#s5_center_area .module_round_box-none .s5_mod_h3, #s5_top_row1_wrap .module_round_box-none .s5_mod_h3, #s5_bottom_row3_wrap .module_round_box-none .s5_mod_h3 {
background:none;
border:none;
margin:0px;
margin-bottom:8px;
padding:0px;
}

#s5_top_row1 .module_round_box_outer-none {
margin-top:-16px;
margin-right:-16px;
}
.s5_highlight, .s5_scrolltotop, .moduletable h3, a, #s5_button_wrap2 .s5_ts_active a, .componentheading, #comments a, #s5_middle_menu_wrap a, #s5_center_area .s5_h3_first, #cboxContent h3, .contentpagetitle, .contentheading, .module_round_box .menu #current a, .module_round_box .menu #current a, h2, h4, div.s5_accordion_menu_element #current a, #current span.s5_accordion_menu_left a.mainlevel, .add_to_cart .button, a.readon, #s5_login, #s5_register, a.readmore-link, a.comments-link {
	color:#25A7FB;
}
.s5_highlight_line, .button, #s5_nav li.active {
	height:23px;
}
#s5_nav li.mainMenuParentBtnFocused {
	background-color:#FFFFFF;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
#s5_nav li.mainMenuParentBtnFocused .S5_parent_subtext {
	color:#333333;
}
#s5_nav li.mainMenuParentBtnFocused a {
	color:#000000;
}
#s5_top_row1_area1, #s5_bottom_row3_area1, #s5_top_row1_wrap, #s5_bottom_row3_wrap {
	behavior: url(Styles/PIE.htc);
	background: #25A7FB; /* Old browsers */
	background: -moz-linear-gradient(top, #3fc1115 0%, #25A7FB 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fc1115), color-stop(100%, #25A7FB)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3fc1115 0%, #25A7FB 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3fc1115 0%, #25A7FB 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #3fc1115 0%, #25A7FB 100%); /* IE10+ */
	background: linear-gradient(top, #3fc1115 0%, #25A7FB 100%); /* W3C */
	-pie-background: linear-gradient(top, #3fc1115 0%, #25A7FB 100%); /* W3C */
}
#s5_top_row1_wrap a, #s5_bottom_row3_wrap a {
	color:#9d11f173;
}
.button:hover {
	background:#3fc1115;
}
#s5_nav li a {
	color:#000000;
}
body {
	font-family: 'Arial', Helvetica, Arial, Sans-Serif;
}
/* k2 stuff */
div.itemHeader h2.itemTitle, div.catItemHeader h3.catItemTitle, h3.userItemTitle a, #comments-form p, #comments-report-form p, #comments-form span, #comments-form .counter, #comments .comment-author, #comments .author-homepage, #comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error, #comments-form #comments-form-captcha-holder {
	font-family: 'Arial', Helvetica, Arial, Sans-Serif;
}
/*Slide*/
div.JT-ClearBox {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
DIV#slideshowproboxfooter {
	display:block;
	padding-top: 10px;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 8px;
	font-weight: bold;
}
DIV#slideshowproboxwrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
}
.slideshowprobox ul li {
	list-style:none;
	display:block;
}
.slideshowprobox li img {
	margin-right: 2px;
	width: 170px;
	height: 128px;
}
/*Detail*/

#jc h4 {
    font-size: 1.3em;
}
#comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error, #comments-form #comments-form-captcha-holder {
    margin-left: 0 !important;
}
#comments-form .btn div, #comments-report-form .btn div {
    background: none repeat scroll 0 0 #F1F2F3;
    border: 1px solid #DADADA;
    float: left;
    margin: 0 -25px 0 0;
}
#comments-form .btn, #comments-report-form .btn {
    background: none repeat scroll 0 0 #000000;
    float: left;
}
#comments-form .btn a, #comments-report-form .btn a {
    border: medium none;
    font-size: 1em;
    font-weight: normal;
    height: 31px;
    line-height: 29px;
    padding: 0 24px;
    text-decoration: none;
}
#comments-form .btn a:hover, #comments-report-form .btn a:hover {
    color: #666666;
    text-decoration: none;
}
#comments-footer {
    border: medium none;
    height: 20px;
}
#comments-form-message {
    padding: 5px 8px 5px 33px;
}
.comments-form-message-info {
    border: 1px solid #CCCCCC;
}
#comments .comments-list {
    margin-left: 0;
}
#comments-list-footer {
    margin: 0 0 10px !important;
}
#comments .comment-author, #comments .author-homepage {
    color: #3C452D;
    font-weight: bold;
    margin: 0;
    padding-left: 6px;
    padding-right: 6px;
}
#jc h4, #jc .rbox_t, #jc .rbox_b, #jc .rbox_m {
    border: medium none;
}
#jc .rbox_tr, #jc .rbox_tl, #jc .rbox_t, #jc .rbox_m, #jc .rbox_br, #jc .rbox_bl, #jc .rbox_b {
    background: none repeat scroll 0 0 transparent;
}
#comments-list .even {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px dotted #CCCCCC;
}
#comments-list .odd {
}
#comments .comment-body {
    padding-left: 7px;
    padding-top: 9px;
}
.jcomments-links {
    margin-top: 18px;
}
#jc h4 {
    font-size: 1em;
    font-weight: normal;
}
#comments .comment-date {
    background: none repeat scroll 0 0 transparent;
    color: #333333;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
#comments .comment-anchor {
    color: #333333;
    display: none;
    font-size: 11px;
}
#comments-form img.captcha {
    height: 44px;
    width: 116px;
}
#comments .comments-buttons {
    float: right;
    font-size: 11px;
    margin-top: 7px;
    padding: 5px 4px 4px;
}
#jc h4, #jc .rbox_t, #jc .rbox_b, #jc .rbox_m {
    border: medium none;
}
#jc .rbox_tr, #jc .rbox_tl, #jc .rbox_t, #jc .rbox_m, #jc .rbox_br, #jc .rbox_bl, #jc .rbox_b {
    background: none repeat scroll 0 0 transparent;
}
#comments-list .even {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
}
#comments-list .odd {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #BFBFBF;
}
#comments .comment-body {
    padding-left: 24px;
    padding-top: 13px;
}
.jcomments-links {
    height: 28px;
    margin-top: 32px;
}
.product_name {
    padding-bottom: 10px;
}
.product_name a {
    color: #454545;
    font-size: 1em;
    font-weight: normal;
}
div#tienda_category_header span {
    font-size: 1.3em;
}
div#tienda_products div.product_item {
    border-bottom: medium none;
    float: left;
    margin-bottom: 0;
    margin-right: 6px;
    padding-bottom: 0;
    padding-top: 6px;
}
div#tienda_category_header {
    background: none repeat scroll 0 0 transparent;
    border-bottom: medium none;
    margin-top: 13px;
    padding: 10px 0;
}
#tienda_category_header {
    padding: 10px 10px 19px;
}
div#tienda_product_header span.product_name {
    color: #454545;
    display: block;
    font-size: 1.3em;
    font-weight: normal;
    padding-bottom: 14px;
}
.tienda_header {
    border: medium none;
    margin-bottom: 9px;
    margin-top: 19px;
}
.tienda_header span {
    font-size: 1.3em;
}
.product_listimage {
    margin-right: 1px;
}
div#tienda_product_header {
    border: medium none;
    margin-bottom: 20px;
    padding: 8px 8px 8px 0;
}
div.product_rating, div.product_rating img {
    margin-left: -1px;
}


.product_image div a.modal {
    border: medium none;
    font-size: 1.1em;
    margin-top: 6px;
}
div#tienda_subcategories {
    border-bottom: medium none;
    margin-bottom: 10px;
}
#tienda_categories #tienda_subcategories .subcategory_thumb {
    background: none repeat scroll 0 0 transparent;
    margin: 5px 0 15px;
    min-height: 92px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 0;
    text-align: center;
}
#tienda_categories .subcategory_name {
    background: none repeat scroll 0 0 #000000;
    font-size: 13px;
    margin-left: 21px;
    margin-top: 21px;
    padding: 1px 13px;
    position: absolute;
}
#tienda_categories .subcategory_name a {
    color: #FFFFFF;
}
div.subcategory {
    background: none repeat scroll 0 0 #FFFFFF !important;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
div.subcategory:hover {
    background: none repeat scroll 0 0 #CCCCCC;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
div.subcategory img {
    max-height: 224px;
    max-width: 335px;
}
#tienda_products .product_info {
    padding: 8px;
}
div.product_image {
    float: none;
    text-align: center;
    width: 111px;
}
div.product_listimage img {
    max-height: 78px;
    max-width: 109px;
}
.product_listimage .product_addtocart {
    color: #000000;
    font-size: 1.1em;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 3px;
    text-align: left;
}
.product_addtocart .addtocart_icon {
    background: url("../images/tienda/cart_icon.png") no-repeat scroll right center transparent;
    float: right;
    height: 14px;
    margin-right: 3px;
    margin-top: 6px;
    width: 16px;
}
div#tienda_products div.product_thumb {
    float: left;
    margin: 0 13px 5px 0;
}
div#tienda_category_header img {
    float: left;
    max-height: 120px;
    padding-bottom: 9px;
    padding-right: 12px;
    vertical-align: middle;
}
.cat_title {
    font-size: 1.2em;
    margin-top: 2px;
}
.default div.product_buy {
    float: none;
}
div#tienda_products div.product_buy {
    margin-top: -10px;
    max-width: none;
}
.default div.product_buy, .product_name, .product_attributeoptions .inputbox {
    font-size: 1.1em;
}
.product_quantity_input input {
    padding: 3px;
}
.product_quantity_input {
    text-align: right;
}
.product_attributeoptions, div#tienda_products span.title {
    font-size: 0.9em;
    font-weight: bold;
}
.s5_basepricediv {
    border-bottom: 1px dotted #333333;
    font-size: 1em;
    margin-bottom: 8px;
    padding-bottom: 5px;
    text-align: left;
}
.product_name {
    margin-left: 10px;
    padding-bottom: 0;
}
.s5_addtocartdropdown {
    display: none;
    margin-left: -14px;
    margin-top: -2px;
    position: absolute;
    z-index: 102;
}
div.product_name span {
    margin-right: 0;
}
span.CartView {
    background: none repeat scroll 0 0 #000000;
    font-size: 11px;
    margin-top: 15px;
    padding-left: 8px;
    padding-right: 7px;
    width: auto;
}
span.CartCheckout {
    background: none repeat scroll 0 0 #000000;
    float: right;
    font-size: 11px;
    margin-top: 15px;
    padding-left: 8px;
    padding-right: 7px;
    width: auto;
}
.CartView a, .CartCheckout a {
    color: #FFFFFF;
}
.s5_portfolio_closebut {
    background: url("../images/multibox/close.png") no-repeat scroll right center transparent;
    cursor: pointer;
    height: 32px;
    margin-right: -11px;
    margin-top: -11px;
    position: absolute;
    right: 0;
    width: 32px;
}
.tienda_product_item {
    float: left;
}
#vmMainPage hr {
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
}
#vmMainPage h1 {
    font-weight: normal;
}
#vmMainPage h4, .browseProductContainer h2 a {
    font-size: 1.3em;
    font-weight: normal;
    padding-bottom: 6px;
    padding-top: 5px;
}
#vmMainPage h4 {
    margin-top: 15px;
}
#vmMainPage h2 {
    margin-bottom: 6px;
}
#vmMainPage ul {
    margin-bottom: 15px;
    margin-left: 15px;
}
#product_list a img {
    margin-bottom: 8px;
    padding: 5px;
}
#vmMainPage .buttons_heading img {
    border: medium none;
    margin-bottom: 0;
    padding: 0;
}
#product_list div {
    display: block;
    width: 100%;
}
.cbButtons .button {
    display: inline;
}
.vmCartContainer {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.vmCartChild {
    border: medium none;
}
.vmRowTwo {
    background: none repeat scroll 0 0 transparent;
}
.addtocart_button {
    background: url("../Images/addtocart.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    font-size: 12px;
    padding-right: 21px;
    padding-top: 3px;
}
.addtocart_button:hover {
    background: url("../Images/addtocart.png") no-repeat scroll 0 -31px transparent;
}
.browseAddToCartContainer .addtocart_button {
    margin-bottom: 14px;
    margin-top: 14px;
}
.continue_link {
    background: url("../Images/topleft.png") no-repeat scroll left center transparent;
}
.checkout_link {
    background: url("../Images/topright.png") no-repeat scroll left center transparent;
}
.next_page {
    background: url("../Images/topright.png") no-repeat scroll right center transparent;
    height: 25px;
    line-height: 26px;
    padding-right: 36px;
    width: auto;
	float: right;
}
.previous_page {
    background: url("../Images/topleft.png") no-repeat scroll left center transparent;
    height: 25px;
    line-height: 26px;
    padding-left: 36px;
    width: auto;
	float: left;
}
div.buttons_heading {
    margin: 10px 4px 4px 16px;
    width: auto;
	float: right;
}
.vmCartDetails {
    padding-bottom: 13px;
}
.availabilityHeader {
    font-size: 1.3em;
    font-weight: normal;
    text-decoration: none;
}
.vmRecent {
    border: 1px solid #FFFFFF;
    margin-bottom: 26px;
    margin-top: 26px;
    padding: 12px;
}
#product_list {
    padding-top: 21px;
}
#product_list .addtocart_form {
    padding-top: 12px;
}
#product_list .addtocart_button {
    float: left;
    margin-top: 12px;
}
#vmMainPage br {
    margin-bottom: 10px;
}
.browseProductContainer {
    margin-bottom: 20px;
    padding: 0 10px 10px;
}
.browseProductContainer a {
    float: left;
    margin-bottom: 10px;
}
.browseProductContainer h2 a {
    float: none;
    margin-bottom: 0;
}
#vmMainPage .button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
#vmMainPage h3, #vmMainPage h1 {
    font-size: 1.4em;
    height: 25px;
    margin-top: -30px;
}
div.itemListCategory img {
    border: medium none;
}
div.itemHeader h2.itemTitle, div.catItemHeader h3.catItemTitle, h3.userItemTitle a, div.userBlock h2 {
    font-size: 1.3em;
}
div.itemHeader span.itemAuthor, div.catItemHeader span.catItemAuthor {
    font-size: 0.9em;
}
div.itemToolbar {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #BFBFBF;
    height: 20px;
    padding: 4px;
}
div.itemComments {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 16px;
}
div.itemAuthorBlock, #k2Container .userBlock {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
#s5_component_wrap .itemComments ul {
    list-style: none outside none;
}
h3.itemCommentsCounter {
    font-size: 1.2em;
    margin-bottom: 10px;
}
div.itemComments ul.itemCommentsList li.even {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-bottom: 14px;
    padding: 9px;
}
div.itemComments ul.itemCommentsList li.odd {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #BFBFBF;
    margin-bottom: 14px;
    padding: 9px;
}
div.itemComments {
    padding-left: 0;
}
div.itemComments ul.itemCommentsList li img {
    margin: 4px 13px 4px 0;
}
div.itemComments ul.itemCommentsList li span.commentAuthorName, div.itemComments ul.itemCommentsList li span.commentDate {
    font-weight: bold;
}
div.itemAuthorBlock img.itemAuthorAvatar {
    width: 55px;
}
div.itemCommentsForm p.itemCommentsFormNotes {
    border-top: medium none;
}
div.userBlock p.userAdditionalInfo {
    border-top: medium none;
}
div.userBlock img {
    margin-right: 20px;
}
div.userItemCommentsLink {
    border: medium none;
    margin-left: -4px;
    margin-top: -12px;
    padding: 9px 0 0 35px;
}
div.itemListCategory {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.banner_left { text-align: center; }