@charset "utf-8";
/* CSS Document */
.ar11, .ar11 a {
	font: normal 11px "Times New Roman", Times, serif;
	color:#a43b37
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
.clearfix {
	clear:both;
	display:block
}
a {
	text-decoration:none;
	color:#a43b37
}
a:hover {
	text-decoration:underline
}
.day {
	color:#878787;
	font-size:11px
}
img {
	border:none
}
.img_general {
	float: left;
	margin-right: 10px;
}
body {
	font-family: "Times New Roman", Times, serif;
	font-size:18px;
	background: #FFFFFF;
	margin:0;
	padding:0;
	color:#3e3e3e
}
.shadow {
	width:1020px;
	margin:0 auto
}
.outer {
	width:1000px;
	height:auto;
	margin:0 auto;
	padding-bottom:5px
}
#header {
	width:100%;
}
#content {
	width:100%;
	margin-top:5px
}
#footer {
	width:100%;
	clear:both;
	text-align:center;
	background:#fff
}
.Banner {
	width:100%;
	height:200px;
}
.menu_main {
	width:100%;
	height:45px;
	float:left;
	margin-top:5px;
	background: url(../Images/nav_bg.jpg) top left no-repeat;
}
.menu_main ul {
	margin:0;
	padding:0;
	list-style:none;
	font-size:14px;
	font-weight:bold
}
.menu_main ul li {
	height:30px;
	margin-top: 15px;
	float:left;
	position: relative;
}
.menu_main ul li.active a {
	color:#faf215;
	text-decoration:none
}
.menu_main ul li.last {
	background:none;
}
.menu_main ul li a {
	font: bold 15px Arial, Helvetica, sans-serif;
	display: block;
	color: #FFFFFF;
	padding:0 15px;
	text-transform:uppercase;
	text-decoration:none;
	border-left: 1px solid #FFFFFF;
}
.menu_main ul li a {
	display: inline-block;
}
.menu_main ul li a.selected {
	color: #faf215
} /*Khi re chuot cap con hien màu cáp cha*/
.menu_main ul li a:hover {
	color:#faf215;
	text-decoration:none
}
/*1st sub level menu*/
.menu_main ul li ul {
	position: absolute;
	left: 0;
	display: none;
	visibility: visible;
	border-bottom: none;
}
.menu_main ul li ul li {
	background:#85b6fe;
	display: list-item;
	float: none;
	width: 178px;
	height:30px;
}
.menu_main ul li ul li ul {
	top:0
}
.menu_main ul li ul li a {
	font: normal 12px "Times New Roman", Times, serif;
	width: 160px;
	padding: 7px 9px;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid #2165c2;
	text-transform:none
}
.menu_main ul li ul li a:hover {
	background:#dceaff;
	color:#01149e
}
.top_content { float: left; width: 100%; padding: 10px 0; }
.face { float: left; width: 40%; }
.search {
    background: url(../Images/search_bg.jpg) no-repeat scroll left top transparent;
    float: right;
    height: 29px;
    overflow: hidden;
    width: 297px;
}
.inputSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    float: left;
    font: 12px Tahoma;
    height: 20px;
    padding: 6px 0 0 5px;
    width: 215px;
}
.submitSearch {
	border: none;
	background: none;
    cursor: pointer;
    float: left;
    margin-top: 5px;
	margin-left: 5px;
    padding: 0;
    text-align: center;
    width: 70px;
	color: #FFFFFF;
}
.left {
	width:770px;
	height:auto;
	float:left
}
.right {
	width:220px;
	height:auto;
	float:right
}
.box {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.news_hot {
	width:99.7%;
	border:#6f98ff 1px solid;
	margin-bottom:5px
}
.news_VIP {
	width:99.7%;
	margin-bottom:5px;
	border:#6f98ff 1px solid;
	border-top:none;
}
.news_new {
	width:99.7%;
	border:#6f98ff 1px solid;
	border-top:none;
}
.news_hot_img {
	width:500px;
	height:300px;
	float:left;
	margin:4px 0 4px 4px;
}
.news_hot_side {
	width:225px;
	height:auto;
	float:left
}
.news_hot_side ul {
	margin:0;
	padding:0;
	margin-top:4px
}
.news_hot_side ul li {
	background:url(../Images/BG_Side.png);
	list-style:none;
	height:69px;
	color:#FFF;
	padding:6px 5px 0 0
}
.news_hot_side ul li:hover {
	background:#fcb200
}
.news_hot_side ul li a {
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:bold
}
.news_hot_side ul li a:hover {
	color:#fff;
	text-transform:uppercase
}
.news_hot_side_img {
	width:90px;
	height:60px;
	border:1px #FFF solid;
	margin:0 5px 0 5px;
	float:left
}
.top_boxLeft {
	background: url(../Images/top_boxLeft.jpg) no-repeat scroll left top transparent;
	height: 34px;
	width: 97.5%;
	font-size: 24px;
	color: #FFFFFF;
	padding: 7px 0 0 20px;
	font-weight: bold;
}
.center_boxLeft {
	background: url(../Images/center_boxLeft.jpg) repeat-y scroll left top transparent;
	float: left;
	padding: 0;
	width: 100%;
}
.bot_boxLeft {
	background: url(../Images/bot_boxLeft.jpg) no-repeat scroll right bottom transparent;
	float: left;
	height: 10px;
	width: 100%;
}
.news {
	padding: 10px 10px 0 10px;
}
.col {
	float: left;
	height: 100%;
	padding: 5px;
	margin-bottom: 5px;
	position: relative;
	text-align: left;
	width: 46.4%;
	border: 2px solid #a5a4a2;
}
.cf {
	margin-right: 5px;
}
.cl {
	margin-left: 5px;
}
div.divider {
	clear: both;
	height: 1px;
	background: url(../Images/line_cateBg.png) top left no-repeat;
}
.h1Title {  margin-bottom: 10px; }
.h1Title a { font-size: 24px; color: #d3375e; }
.h2Title {
	margin-bottom: 20px;
}
.h2Title a {
	font: normal 18px "Times New Roman", Times, serif;
}
.price {
	font-size: 14px;
	position: relative
}
.view_more {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 15px;
	color: #3a3635;
}
.link_title { font-size: 14px; color: #3a3635; }
.news_title {
	widows:100%;
	height:27px;
	line-height:27px;
	border-bottom:#1569e5 1px solid;
	border-top:#1569e5 2px solid;
	color:#01149e;
	padding-left:10px;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold
}
.news_title a {
	color:#01149e;
}
.news_title a:hover {
	color:#f00;
	text-decoration:none
}
.news_content {
	widows:99.7%;
}
.list_block {
	width:97.5%;
	height:auto;
	float:left;
	border-bottom:1px #6f98ff solid;
	position:relative;
	margin:0 9px;
	padding-bottom:5px
}
.news_text {
	text-align:justify;
	padding:9px 0 5px 0;
}
.news_text_title {
	font-weight:bold;
	color:#002ea3;
	margin-bottom:5px
}
.news_text_title a {
	color:#002ea3;
	font-size:13px
}
.news_text_title a:hover {
	text-decoration:none;
	color:#f00
}
.news_img {
	width:180px;
	height:120px;
	margin:0 10px 5px 0;
	float:left
}
.more a {
	color:#044ca5;
	text-decoration:none;
	font-size:11px;
	background: url(../Images/List_style.png)left 3px no-repeat;
	padding-left:12px
}
.more a:hover {
	color:#F00
}
.page {
	padding:10px;
	float:left
}
.page a {
	padding:2px 6px;
	font-size:12px;
	color:#003378;
	background:#fff;
	margin:0 1px;
	border:1px #a7ccff solid
}
.page a:hover {
	background:#044ca5;
	color:#fff;
	text-decoration:none
}
.page a.active {
	background:#044ca5;
	color:#fff
}
.block_right {
	width:100%;
	float:left;
	margin-bottom:5px
}
.block_right_title {
	height:35px;
	background: url(../Images/tab_right.jpg) top left no-repeat;
	text-transform:uppercase;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	line-height:35px;
	padding-left: 10px;
	width: 95.5%;
}
.block_right_content {
	border:#f8a65d 1px solid;
	border-top:none;
}
.support ul {
	list-style: none;
	padding: 10px;
}
.support ul li, .visistors ul li { display: block; padding: 6px 10px;  }
.support ul li span {padding-left: 25px; background: url(../Images/phone_icon.png) center left no-repeat; color: #d5244e; font-weight: bold; font-size: 22px; }
.info {
	margin-top:10px;
}
.cpright {
	margin-top:10px;
	font-size:12px;
	color:#1569e5;
	font-size:11px;
	padding-bottom:10px
}
.list_menu {
	width:170px;
	height:20px;
	margin:5px 0 0 0;
	color:#130df1;
}
/*========= ĐỊNH DẠNG BOX #demo ========*/
#demo {
width:98%%;
	margin: 0 auto;
	text-align: center
}
/*========= ĐỊNH DẠNG BOX .jcarouse ========*/
.jcarouse {
	width:100%;
}
.jcarouse ul li {
	list-style:none;
	display:block;
	border-bottom: 1px dotted #6f6d6e;
	padding-top: 10px;
}
/*List*/
.link {
	width:100%;
	height:20px;
	font-size:11px;
	background:#6f98ff;
	margin-bottom:5px;
	color:#FFF;
	line-height:20px
}
.link a {
	color:#FFF;
	padding:10px
}
.link a:hover {
	color:#009;
	text-decoration:none
}
/*Detail_news*/
.news_detail {
	widows:99.7%;
	border-top:2px #1569e5 solid;
	padding:10px;
	text-align:justify;
}
.news_detail_title {
	color:#002ea3;
	font-size:16px;
	font-weight:bold
}
.sendmail {
	width:100%;
	height:30px;
	line-height:30px;
	;
	border-top:1px #6f98ff solid;
	border-bottom:1px #6f98ff solid;
	text-align:right
}
.sendmail a:hover {
	text-decoration:underline
}
.box_comment {
	clear: both;
	margin: 5px auto;
	width: 99.6%;
	border: 1px solid #a7ccff;
}
.content_cmt ul {
	display: block;
	margin: 0 auto;
}
.content_cmt ul li {
	list-style-type: none;
	border-bottom: 1px dashed #c6d6ff;
	margin: 5px;
}
.colr_comment {
	color:#003378
}
.box_comment .date {
	padding: 0;
}
.box_comment .navigation {
	margin: 0 auto 5px auto;
	width: 100%;
	text-align: center;
}
p.author {
	text-align: right;
	font-style: italic;
	font: normal 12px;
	margin-top: 5px;
}
.write_comment {
	margin: 0 auto;
	width: 96%;
	margin-top: 5px;
}
.form_comment {
	margin: 0 auto;
	width: 100%;
}
.navigation {
	float: right;
	text-align: right;
}
.navigation a {
	padding:5px;
	padding-bottom:0;
	text-decoration: none;
}
.navigation a:hover {
	text-decoration:underline
}
.tab {
	width:100%;
	float:left;
	height:auto
}
.tab_name {
	width:200px
}
.tab_tt {
	width:280px
}
.tab_cm {
	width:700px
}
.wri {
	float:right;
}
.wri a {
	background:#6f98ff;
	padding:5px;
	color:#FFF
}
.wri a:hover {
	text-decoration:none;
	background:#e2eaff;
	color:#6f98ff;
}
.viewmore {
	width:100%;
	height:auto;
	float:right;
	margin:5px 5px 10px 0;
	text-align:justify
}
.viewmore ul {
	margin:0;
	padding:0
}
.viewmore ul li {
	list-style:none;
	list-style:url(../Images/List_style_detail.png);
	padding:2px 0 2px 20px;
	list-style-position:inside;
	text-align:left
}
.viewmore ul li a {
	color:#3e3e3e;
	text-decoration:none;
	font-size:13px
}
.viewmore ul li a:hover {
	color:#e30000;
}
/*Detail_img*/
.news_detail_img {
	widows:99.7%;
	border:1px #1569e5 solid;
	padding:10px;
	text-align:justify;
	margin-bottom:5px
}
.news_detail_img a {
	font-weight:bold;
	color:#002ea3
}
.news_detail_img a:hover {
	font-weight:bold;
	color:#002ea3;
	text-decoration:none
}
.news_detail_img_large {
	width:600px;
	height:400px;
	margin:0 auto;
	padding-top:20px
}
.news_detail_img_small {
	padding-top:20px;
	text-align:center
}
.news_detail_img_small a {
	padding:0 10px
}
#slider_logo {
	float: left;
	clear: both;
	background: #FFFFFF;
	border-radius: 10px;
	border: 1px solid #c5937a;
	width: 100%;
	margin: auto;
	position: relative;
	z-index: 5;
}
#mycarousel img {
	width:140px;
	height: 110px;
}
/*------------------------------------------------------*/			
.jcarousel-skin-tango {
	padding: 5px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	width: 100%;
	float: left;
	padding: 5px 0;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 25px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	background: url(../Images/pre_slider.png) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 30px;
	position: absolute;
	left: -40px;
	top: 25px;
	width: 30px;
	opacity: 0.5;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	background-image: url(../Images/next_slider.png);
	left: 5px;
	right: auto;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: url(../Images/next_slider.png) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 30px;
	position: absolute;
	top: 20px;
	right: -40px;
	width: 30px;
	opacity: 0.5;
}
