/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/*Macbook pro 1440x900*/
/*================================================== */
 @media only screen and (min-width: 1366px) and (max-width: 1440px) {
}
/*Some laptop 1366x768*/
/*================================================== */
 @media only screen and (min-width: 1280px) and (max-width: 1366px) {
}
/*Macbook air 1280x800*/
/*================================================== */
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
/*Most netbook 1024x600*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
}
/*Most Ipad 1024x768*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
#cssmenu > ul > li > a {
padding: 0 12px
}
}
/*IPhone 4 960x640*/
/*================================================== */
 @media only screen and (max-width: 960px) {
#cssmenu > ul > li > a {
padding: 0 6px;
font-size: 1.25em
}
#cate_product_page .one-third.column {
width: 100%
}
#cate_product_page .item_P {
width: 33.3%
}
#cate_product_page .product {
border-right: 1px dashed #ed2025
}
#cate_product_page li:last-child .product {
border-right: none
}
.container #detail_page.twelve.columns {
width: 66.6%
}
.container #other_products.four.columns {
width: 33.3%
}
}
/*Google nexus one 4 800x480*/
/*================================================== */
 @media only screen and (max-width: 1199px) {
 #ads_top_main, .left_nav {
height: auto;
margin-top: 5px
}
}
 @media only screen and (max-width: 767px) {
body {
 font-size: 90%;
}
.fullsize {
width: 100% !important
}
.inner_side {
padding: 0
}
/*Header*/
#logomobile {
display: block
}
#logo {
display: none
}
header .container .twelve.columns {
width: 75%;
margin-top: 0
}
header .container .four.columns {
width: 25%
}
#search_head {
position: absolute;
right: 0;
bottom: -52px;
z-index: 2
}
/*Support*/
.container-spp, .title-contact {
 top: auto;
 bottom: 40px;
 height: 30px;
}
.title-contact p {
height: 30px;
background-position: -235px -36px
}
.content-yahoo {
top: auto;
bottom: 0
}
/*Row Column Home*/
.row_h1 .inner_col_row .box_ct, .slimScrollDiv, .scrollbar {
height: auto !important
}
.slimScrollBar { display: none !important }
.row_h2 .columns:last-child .inner_col_row, #news_page .inner_col_row, #other_products .inner_col_row {
 margin-left: 0
}
.row_h2 .six.columns {
margin-bottom: 15px
}
/*Manufacturing Process*/
.tab li {
margin: 0 2px 10px 2px
}
/*List Products*/
#sec_cate_products {
padding-top: 0
}
#list_products_page .product {
border-right: none
}
#cate_product_page .item_P {
width: 100%
}
#cate_product_page .product {
border-right: none
}
/*Detail Products*/
.container .img_dtp_P.seven.columns {
width: 43.75%
}
.container .dtp_product.nine.columns {
width: 56.25%;
}
.container #detail_page.twelve.columns, .container #other_products.four.columns {
width: 100%
}
#other_products li {
width: 50%
}
#other_products .product {
margin: 0 10px
}
/*Footer Columns*/
#footer_columns .columns {
background: none
}
#certification, #communities {
margin: 20px 0 0 0
}
#communities {
margin: 20px 0
}
#communities li {
height: auto
}
#slide_communities {
padding: 0 30px 10px
}
#slide_communities .prev {
left: 10px
}
#slide_communities .next {
right: 10px
}
#info_footer li {
width: 100%
}
#info_footer li > div {
border: none;
padding: 10px 0
}
#access_status {
float: left;
width: 100%;
margin-top: 10px
}
#access_status > div {
float: left !important
}
#access_status span {
margin-left: 0;
margin-right: 20px
}
}
@media only screen and (max-width: 639px) {
/*Header*/
header .container .twelve.columns, header .container .four.columns {
width: 100%
}
 .popup_login {
right: auto;
left: 0
}
.filter_name, #social_network, #head_hotline {
width: 100%;
text-align: center;
margin-left: 0;
margin-top: 10px
}
/*Manufacturing Process*/
.tab li {
margin: 0 10px 10px 10px
}
.img_dtp_P.seven.columns, .dtp_product.nine.columns {
width: 100%
}
/*Detail Products*/
.container .img_dtp_P.seven.columns, .container .dtp_product.nine.columns {
width: 100%
}
.main_img {
margin-right: 0
}
.img_dtp_P .mousetrap {
 display:none;
}
}
/*Meizu M8 one 4 720x480*/
/*================================================== */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
}
/*IPhone 3G 480x320*/
/*================================================== */
 @media only screen and (max-width: 480px) {
.fullsize480 {
width: 100% !important
}
/*List Products*/
.product .img_product {
width: 100%;
margin-bottom: 10px
}
.product .info_product {
 margin-left: 0
}
#cate_product_page .item_P {
padding-bottom: 20px
}
.product .value_price {
margin-right: 0
}
.item_P .product .addtocart {
float: right !important
}
/*Detail Products*/
#other_products li {
width: 100%
}
#other_products .product {
margin: 0
}
.img_listnews img {
width: 100%;
margin-right: 0;
margin-bottom: 10px
}
.like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
}

/*Mobile*/
/*================================================== */
 @media only screen and (max-width: 320px) {
body {
overflow-x: hidden
}
.modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove  
		comment brackets */
