/*Contact Us*/
.contactus {
	width: 85%;
	margin-left: 20px
}
.contactus .left_row {
	line-height: 30px
}
.contactus .inputbox {
	width: 100%;
	background: #f9f9f9;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	border-bottom: none;
	border-right: none;
	height: 30px;
	line-height: 30px
}
.contactus select {
	height: 30px;
	line-height: 30px;
	padding: 2px;
	width: 101% !important;
}
.contactus textarea {
	background: #f9f9f9;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	width: 100%;
}
.send_cmt, .contactus .row_contact input.send_cmt {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	width: 100px;
	height: 35px;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	font-size: 120%;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 10px;
	background: #069508; /* Old browsers */
	background: -moz-linear-gradient(top, #069508 0%, #29e964 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #069508), color-stop(100%, #29e964)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #069508 0%, #29e964 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #069508 0%, #29e964 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #069508 0%, #29e964 100%); /* IE10+ */
	background: linear-gradient(to bottom, #069508 0%, #29e964 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069508', endColorstr='#1b1b1b', GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 1px #069508;
	cursor: pointer;
	float:left;
	margin-top: 20px;
}
.send_cmt {
	margin-right: 15px;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
