@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:400,400italic,700&subset=latin,vietnamese,latin-ext);
@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font: normal 13px/1.4 Arial, Helvetica, sans-serif;
	color:#333333;
	background: #FFFFFF
}
@font-face {
 font-family: 'Open Sans Regular';
 src: url('../Images/Fonts/opensans-regular-webfont.eot');
 src: url('../Images/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/opensans-regular-webfont.woff') format('woff'), url('../Images/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #555555;
}
a:hover {
	text-decoration: none;
	color: #000000
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	background: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding-left: 5px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.font1 {
	font: normal 16px 'Roboto', Helvetica, sans-serif
}
.font2 {
	font-family: 'Open Sans Regular', Helvetica, sans-serif
}
.line {
	height: 3px;
	background: #2fb759;
	display: block;
	margin: 10px 0
}
.cl_orange {
	color: #ff360a
}
/* WRAPPER --------*/
.wrap {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
/* LAYOUT

--------------------------*/
#main {
	padding: 10px 0 5px 0
}
#left_col {
	width: 22%;
}
#right_col {
	width: 77%;
}
#left_col_dt {
	width: 77%;
}
#right_col_dt {
	width: 22%;
}
.cf:after, .wrap:after, #header:after, #footer:after, .category_home_static:after, .box:after, .box_ct:after, .product:after, .pagination:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/* HEADER

--------------------------*/
#toplink {
	height: 27px;
	line-height: 27px;
	color: #FFFFFF;
	margin-top: 5px;
}
#toplink a {
	border-left: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 0 12px;
	font-size: 14px;
}
#toplink a:first-child {
	border: none
}
#toplink #tt_link {
	padding-left: 25px;
	background: #20b24d url(../Images/m_toplink.gif) bottom left no-repeat
}
#header {
	position: relative;
}
#logo {
	float: left;
	width: 210px;
	text-align: center;
	position: relative;
	top: -10px
}
#header_right {
	height: 36px;
	line-height: 36px
}
#search_form, #hotline, #account, #cart {
	margin-left: 15px
}
/*Search Form*/
#search_form {
	width: 300px;
	height: 30px;
	position: relative;
	background: #FFFFFF;
	border: 3px solid #20b24d;
}
#search_form .dropdown {
	float: left;
	position: relative;
	width: 80px;
	overflow: hidden;
	height: 30px;
	background: url(../Images/arr_search.png) right 3px no-repeat;
	z-index: 99;
}
#search_form select {
	width: 125%;
	color: #888888;
	padding: 4px 0;
	height: 30px;
	background: none;
	border: none
}
.inputSearch {
	border: none;
	color: #555555;
	float: left;
	font: italic normal 12px arial;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 5px;
	margin-top: 7px;
	width: 160px;
}
.btn_search {
	position: absolute;
	top: 0;
	right: -4px;
	width: 52px;
	height: 28px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	border: none;
}
#hotline {
	line-height: 36px;
	padding-left: 25px;
	background: url(../Images/headhotline_icon.png) 0 center no-repeat;
	font-size: 1.5em;
	color: #d40000;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 rgba(0, 0, 0, 0.3)
}
/*Cart*/
#cart img {
	margin-right: 5px
}
#cart b {
	color: #ed4c05
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	border: 1px solid #cccccc;
	padding: 0 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#news_home, #box_support {
	padding: 10px 20px;
}
/*Tab*/
.box_Tab {
	height: 40px;
	position: relative;
	border-bottom: 1px solid #878787
}
.box_Tab span {
	line-height: 48px;
	border-bottom: 4px solid #2fb759;
	font-size: 1.3em;
	color: #000101;
}
.box_Tab span.tt_box {
	font-size: 1.1em
}
.view_all {
	position: absolute;
	right: 0;
	top: 20px;
	color: #c90204;
	font-size: 0.9em
}
.title_box .view_all {
	top: 0
}
#right_col .box_Tab {
	margin-bottom: 10px
}
/*cate*/
.cate_div_pos {
	border-bottom: 1px solid #878787;
	position: relative;
	width: 100%;
}
.cate_div_pos .title_body {
	color: #676767;
	float: none;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	margin-top: 23px;
	letter-spacing: -2px;
	margin-bottom: 8px;
}
.cate_child_div_body {
	bottom: 0;
	position: absolute;
	right: 0;
}
.cate_child_div {
	display: block;
	margin: 0 auto;
	min-height: 35px;
	width: auto;
}
.cate_child_div_body li {
	position: relative;
	float: left;
	margin-right: 13px;
}
.cate_child_div_body li.active {
	color: #20b24d
}
.cate_item {
	background-clip: padding-box;
	cursor: pointer;
	float: left;
	padding: 0 0 0 12px
}
.cate_item a {
	float: left;
	font-size: 13px;
	line-height: 38px;
	margin-left: 9px;
}
.aCateSubAll {
	background: url(../Images/menu_ico.png) 0 center no-repeat;
	padding-left: 30px;
	color: #20b24d
}
/*List Products*/
.product_row {
	margin-left: -20px
}
.product_row li {
	float:left;
	width:320px;
	margin: 20px 0 0 20px;
	position: relative;
	background: #f2f2f2
}
.product_row .product {
	padding-bottom: 10px;
	border: 1px solid #CCCCCC
}
.product .img_product {
	display: block;
	height: 320px;
	overflow: hidden;
	border-bottom: none
}
.product img {
	max-width: 100%;
	max-height: 100%
}
.product .product_name {
	font-size: 1em;
	height: 28px;
	line-height: 22px;
	overflow: hidden;
	padding: 0 10px;
	margin: 10px 0;
	text-align: center;
	font-weight: 500
}
.product .product_name a {
	color: #4e4e4e
}
.info_price span {
	display: block;
	text-align: center
}
.info_price .f_price {
	text-decoration: line-through;
	font-size: 85%;
	color: #737373
}
.info_price .main_price {
	color: #fe0000;
	font-size: 1.3em;
	line-height: 28px
}
.product .info_img {
	display: none
}
.product:hover .info_img {
	display: block
}
.product .saleoff_percent {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 49px;
	height: 49px;
	line-height: 45px;
	font-size: 1.2em;
	color: #FFFFFF;
	text-align: center;
	background: url(../Images/price_icon.png) 0 0 repeat-x;
}
.product .view_moreP {
	position: absolute;
	bottom: 30%;
	left: 27%;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background-color: #4cb127;
	border-bottom: 5px solid #229119;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #666666;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px 0 #3f4140;
	-webkit-box-shadow: 2px 2px 2px 0 #3f4140;
	box-shadow: 2px 2px 2px 0 #3f4140;
}
.product .view_moreP .arrow_buy, .button_payment .arrow_buy {
	background: url(../Images/arr_addtocart.png) 0 center no-repeat;
	float: right;
	height: 40px;
	margin-left: 8px;
	width: 26px;
}
.time_div {
	border: 1px solid #d9d9d9;
	background: #FFFFFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: left;
	position: relative;
	padding: 12px 16px;
	width: 165px;
	min-height: 36px
}
.time_div > span {
	display: block;
	text-align: center
}
.icon_timer {
	background: url(../Images/icon_timer.png) 0 center no-repeat;
	float: left;
	height: 58px;
	margin-left: 40px;
	margin-right: 10px;
	width: 26px;
}
.time_auto {
	float: left;
	font-size: 14px;
	line-height: 10px;
}
.time_auto .unit_time {
	font-size: 20px;
	line-height: 22px;
}
.time_auto span {
	font-size: 11px;
	margin: 0 0px;
}
.time_title {
	float: left;
	font-size: 12px;
}
.time_title span {
	margin-right: 17px;
}
.time_div div {
	float:left;
	line-height:14px;
	font-size:20px;
	min-width:24px;
	text-align:center
}
.time_div div.sep {
	text-align:center;
	min-width:18px;
	padding-top:5px;
	font-size:16px;
}
.product .time_div {
	position: absolute;
	top: 35%;
	left: 10%;
	background: url(../Images/transBg.png) 0 0 repeat;
	border: none;
	color: #FFFFFF;
	height: 85px
}
.product .time_auto {
	font-size: 1.4em;
	margin-left: 50px
}
.product .time_title {
	margin-left: 50px;
	margin-bottom: 10px
}
.product .time_title span {
	margin-right: 16px;
}
.countBuy {
	float: left;
	width: 45px;
	color: #20b24d;
	margin-right: 10px;
	line-height: 18px;
	background: #d5ffe2;
	border: 1px solid #d3f6de;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 12px 10px 12px 45px;
	background: #e2f2cf url(../Images/checked_icon.png) 15px center no-repeat
}
.countBuy b {
	display: block;
	font-size: 20px;
}
/*News Home*/
#news_home li {
	float: left;
	margin: 0 7px;
	min-height: 280px;
	height: auto
}
#news_home .img_news {
	display: table-cell;
	vertical-align: middle;
	width: 225px;
	height: 225px;
	text-align: center;
}
#news_home .img_news img {
	max-width: 225px;
	max-height: 225px
}
#news_home h3 {
	margin: 8px 0
}
#news_home p {
	margin: 5px 0;
	text-align: justify;
	font-size: 0.9em
}
.slide_ctrl {
	background: transparent url(../Images/btn_news.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 5px;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.slide_ctrl.prev {
	background-position: 0 0;
	right: 50px;
}
.slide_ctrl.next {
	background-position: -32px 0;
	right: 15px;
}
.title_box {
	color: #20b24d;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 10px;
	position: relative
}
.hot_news {
	width: 34%
}
.list_news_home {
	width: 65%
}
.list_news_home .img_news {
	width: 30%;
	margin-left: 10px
}
.list_news_home li {
	float: left;
	width: 100%;
	margin: 5px 0;
	font-size: 0.9em
}
.list_news_home li a {
	font-weight: 700;
	color: #372221;
	padding-left: 12px;
	background: url(../Images/arr_l.png) 0 3px no-repeat
}
.tt_box_dt {
	height: 25px;
	line-height: 25px;
	text-transform: uppercase;
	border-bottom: 3px double #C0C1C2;
	margin-bottom: 15px;
	font-weight: 700;
}
/*View Area*/
.view_area {
	padding: 3px 0;
	margin: 10px 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef
}
.view_area span {
	font-size: 0.85em;
	font-style: italic;
	color: #84817a;
	line-height: 15px
}
.view_area img {
	width: 12px;
	height: 12px;
	margin-right: 2px
}
/*Box Support*/
#box_support {
	width: 30%
}
.info_support {
	color: #049507;
	font-size: 1.2em
}
.info_support img {
	margin-right: 10px
}
/*Register to get email*/
#get_email {
	height: 32px;
	background: #f3f3f3;
	border: 1px solid #c3c3c3;
	padding: 10px;
	margin-bottom: 10px
}
#get_email div {
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	color: #306ca4;
	padding-left: 28px;/*background: url(../Images/gift_icon.gif) 8px center no-repeat*/
}
#get_email input {
	float: left;
	color: #8F8F8F;
	float: left;
	height: 17px;
	line-height: 17px;
	padding: 7px 0;
	width: 50%;
	margin-left: 25%;
	text-indent: 5px;
	background: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d4d4d4;
}
.send_button {
	border: 1px solid #0b7500;
	background: #049507;
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 80px;
	margin-left: 5px;
	color: #FFFFFF;
	font-weight: 700;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.send_button:hover {
	text-decoration: none;
	color: #FFFFFF
}
#left_col #get_email {
	padding: 0;
	margin-top: 10px
}
#left_col #get_email input {
	display: block;
	width: 100%;
	margin: 0
}
#left_col .send_button {
	display: block;
	margin-top: 7px;
	margin-bottom: 10px;
	margin-left: 28%
}
/*Vertical menu*/
#box_category > ul > li > a:hover {
	color:#C71126;
}
#box_category > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 7px 10px 7px 0;
	border-bottom: 1px solid #cccccc;
	color: #0f1110
}
#box_category > ul > li {
	position:relative;
}
#box_category > ul > li > ul {
	position: static
}
#box_category > ul > li > ul > li {
	position: relative;
	background: #FFFFFF url(../Images/bullet.gif) 5px 14px no-repeat;
}
#box_category li.active a, #box_category l:hover a {
	color:#C71126;
}
#box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#424241;
	font-size: 0.95em;
	padding: 7px 10px 7px 15px;
	border-bottom: 1px solid #f4f4f4
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin:auto;
	margin:20px 0;
	text-align: center
}
.pagination a {
	display:inline-block;
	padding:6px 15px;
	background:#e0e0e0;
	color:#222222;
	text-align:center;
	margin-left:2px;
	font-size:15px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:hover, .pagination a.active {
	background:#555555;
	color:#FFF;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:first-child {
	border-radius:100px 0 0 100px;
	-webkit-border-radius:100px 0 0 100px;
	-moz-border-radius:100px 0 0 100px;
}
.pagination a:last-child {
	border-radius:0 100px 100px 0;
	-webkit-border-radius:0 100px 100px 0;
	-moz-border-radius:0 100px 100px 0;
}
/*List News*/
#list_news ul {
	padding: 10px 0;
}
#list_news li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	margin-bottom: 5px;
}
#list_news p {
	margin: 0 0 1em 0;
	font-size: 90%
}
#list_news .img_general {
	border: 1px solid #efefef;
	padding: 4px;
	width: 200px;
	display: block;
	height: auto;
	position: relative;
	overflow: hidden;
}
#list_news img {
	max-width: 100%;
	height: auto
}
#list_news img:hover {
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#list_news .view_more {
	margin-top: 15px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #a80004
}
/*Detail Product*/
.h2Title {
	font-size: 1.5em;
	color: #242424;
	margin-bottom: 5px;
}
#detail_news .h2Title {
	margin-top: 10px;
}
#dtp_info_P {
	width: 520px
}
.short_des_dtp {
	padding: 10px 0;
	font-size: 15px
}
.div_deal_price {
	padding-top: 10px
}
.div_price_deal .del_price {
	display: block;
	font-size:16px;
	color:#737373;
	line-height: 22px;
	font-weight: 500
}
.reduce_percent {
	display: block;
	margin: 5px 0;
	font-size: 1.2em;
}
.reduce_percent b {
	color: #ff6501
}
.div_price_deal .now_price {
	font-size:36px;
	margin-top:7px;
	letter-spacing: -2px;
	color:#22b14c
}
.div_price_deal .now_price sup {
	font-size:20px;
	font-family:NhomMuaMobileLight, Arial, Helvetica, sans-serif;
	vertical-align:top
}
.list_cout .all_money {
	float: right;
	font-size:36px;
	width: 300px;
	text-align: right;
	letter-spacing: -2px;
	color:#fe6601
}
.arrow_down {
	width:84px;
	height:58px;
	background: url(../Images/arrow_discount.png) 0 0 no-repeat;
	color:#ffffff;
	font-size:22px;
	text-align:center;
	float:left;
	line-height:45px;
	margin-left:12px
}
.div_like_code .code_P {
	font-size:14px;
	float:right
}
.div_like_code .like_product {
	height: 32px;
	margin-top:10px;
	padding: 0 5px 0 0;
	float:right;
	clear:both;
}
.div_circle_detail {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	clear: both;
	float: left;
	margin-top: 20px;
	padding: 8px 0;
	width: 100%;
}
.circle_item {
	width: 175px;
}
.circle_item.fr {
	width: 120px;
	text-align: right
}
.circle_ico {
	float: left;
	height: 41px;
	margin-right: 4px;
	width: 41px;
}
.circle_delivery {
	background: url(../Images/circle_itemBg.png) 0 0 no-repeat;
}
.circle_buyers {
	background: url(../Images/circle_itemBg.png) -42px 0 no-repeat;
}
.circle_text .txt_1 {
	display: block;
	font-size: 13px;
	line-height: 15px;
	margin-top: 7px;
	color: #ff6501
}
.circle_text .txt_1 b {
	font-size: 18px;
}
.circle_text .txt_2 {
	display: block;
	font-size: 11px;
	line-height: 18px;
}
.select_size_div {
	margin-top: 15px;
	width: 100%;
	padding: 10px 0;
}
.select_size_div .title {
	font-size: 16px;
}
.list_cout {
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 4px 8px;
	margin-top: 8px;
	background: #f2f2f2
}
.list_cout .title {
	float: left;
	font-size: 13px;
	width: 190px;
}
.list_cout .price_div {
	float: left;
	width: 110px;
	margin-left: 10px;
}
.list_cout .price_div span {
	float: right;
	text-align: right;
	width: 100%;
}
.list_cout .price_div .del_price {
	font-size: 14px;
}
.list_cout .price_div .now_price {
	font-size: 22px;
}
.list_cout .select_number {
	float: left;
	width: 100px;
	padding: 8px;
	font-size: 16px
}
.viewlike {
	margin-top: 30px;
	margin-left: 50px;
	position: relative;
	width: 200px;
	font-size: 16px
}
.viewlike_tour {
	margin-top: 20px;
	position: relative;
	font-size: 16px
}
.btn_buy_detail_big {
	background-color: #4cb127;
	border-bottom: 5px solid #229119;
	color: #ffffff;
	float: right;
	font-size: 24px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #666666;
	height: 55px;
	line-height: 55px;
	margin-right: 0;
	padding: 0 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px 0 #777777;
	-webkit-box-shadow: 2px 2px 2px 0 #777777;
	box-shadow: 2px 2px 2px 0 #777777;
}
.btn_buy_detail_big:hover {
	text-decoration: none;
	color: #FFFFFF
}
.btn_buy_detail_big .arrow_buy {
	background: url(../Images/arr_addtocart.png) 0 center no-repeat;
	float: right;
	height: 62px;
	margin-left: 8px;
	width: 26px;
}
/* div that surrounds Cloud Zoom image and content slider. */
#surround {
	width: 50%;
	min-width: 256px;
	max-width: 480px;
}
/* Image expands to width of surround */
img.cloudzoom {
	width:100%;
}
/* CSS for slider - will expand to width of surround */
#slider1 {
	margin: 10px 20px;
	height:72px;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
	position:relative;
}
/*Interest Products*/
#interest_products li {
	overflow:hidden;
	border-top: 1px solid #e5e5e5;
	padding-top: 15px;
	position:relative;
	font-family: 'Roboto', Helvetica, sans-serif;
}
#interest_products li.first {
	border-top:none;
	padding-top:0
}
#interest_products li a {
	position:relative;
	display:block
}
#interest_products li .img_P {
	width: 100%;
	height: 220px
}
#interest_products .title_deal {
	font-size:15px;
	font-weight: 500;
	margin:8px 0 5px 0;
	line-height:18pt;
}
#interest_products .info_deal_cont {
	padding-left: 0;
	padding-right: 5px;
}
#interest_products .num_discount {
	font-size:36px
}
#interest_products .prices {
	margin-top:10px
}
#interest_products .del_price {
	font-size:12px;
	line-height: 12px;
}
#interest_products .now_price {
	color: #ff6501;
	font-size: 15px;
	line-height: 22px;
}
#interest_products .sum_buyer {
	margin-right: 0;
	margin-top: 6px;
}
div.info_deal {
	overflow: hidden;
	position: relative;
}
.info_deal p.title_deal, .info_deal h4.title_deal {
	font-size: 17px;
	font-weight: 500;
	height: 46px;
	line-height: 22px;
	overflow: hidden;
	padding: 10px 10px 5px;
	color: #4e4e4e
}
.info_deal_cont {
	float: left;
	padding: 0 10px;
}
.num_discount {
	color: #ff360a;
	float: left;
	font-size: 40px;
	letter-spacing: -1px;
}
.num_discount i {
	font-size: 24px;
	font-style: normal;
}
.prices {
	float: left;
	margin-top: 5px;
}
.del_price {
	display: block;
	font-size: 14px;
	line-height: 14px;
}
.now_price {
	color: #ff6501;
	display: block;
	font-size: 24px;
	line-height: 29px;
}
.now_price sup {
	font-size: 14px;
	position: relative;
	top: 4px;
}
.sum_buyer {
	float: right;
	margin-right: 15px;
	margin-top: 16px;
}
.sum_buyer span {
	clear: both;
	color: #ef532a;
	float: right;
	font-size: 16px;
	line-height: 16px;
	margin-left: 4px;
}
.sum_buyer span.f_thin {
	color: #737373;
	font-size: 12px;
}
/*Detail News*/
#info_g img {
	max-width: 100%;
	height: auto;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
#info_g, #info_g p {
	line-height: 1.4
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
.date {
	color: #878787;
	font-size: 11px
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -32px
}
a.opinion {
	background-position: 0 -73px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
	font-weight: 700;
	border-bottom: 3px double #CCCCCC
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arr_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
	font-size: 90%
}
.path {
	text-align: left;
	text-transform: none;
	font-size: 12px;
	margin-bottom: 10px;
}
.path a {
	color: #333333
}
/*Footer*/
#footer {
	background: #7f7f7f
}
#footer .wrap {
	background: #7f7f7f;
	padding: 20px 0
}
#footer, #footer a {
	color: #fffff6
}
#footer a:hover {
	color: #FFFFFF;
}
.col_foo {
	float: left;
	width: 20%;
	margin-right: 2%
}
.col_foo:last-child {
	width: 34%;
	margin-right: 0
}
.title_col_footer {
	font-size: 1.2em;
	height: 30px;
	line-height: 30px;
	text-decoration: underline;
	text-transform: uppercase
}
.col_F_ct {
	padding: 5px 0
}
.list_menu_footer li {
	margin: 3px 0
}
.list_menu_footer a {
	color: #999999;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
.list_menu_footer a:hover {
	color: #111111;
	text-decoration: none
}
#info_footer p {
	margin: 0 0 0.3em 0
}
/*Social Network*/
#social_network a {
	display: inline-block;
	margin: 5px 3px 10px 0;
}
#social_network span {
	display: inline-block;
	width: 32px;
	height: 30px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
#copyright {
	clear: both;
	margin-top: 3px;
	padding-top: 1px;
	background: #7f7f7f;
	padding: 10px 0;
	clear: both;
	font-size: 90%;
	text-align: center;
	color: #FFFFFF;
	border-top: 1px solid #060606;
	text-shadow: 1px 1px 1px #000000
}
/*Cart*/
table#page_cart {
	border-collapse: collapse;
	width: 100%;
	color: #444444;
	margin-top: 10px;
}
table#page_cart th, table#page_cart td {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #c5c7c5;
	padding: 8px 5px;
	text-align: center
}
table#page_cart th {
	background: #e1e2e1;
}
table#page_cart td.td_price {
	width: 100px;
}
table#page_cart td.td_price span#vnd {
	color: #999999 !important;
}
table#page_cart td.ttd_price {
	border-right: medium none !important;
	font-weight: bold;
	padding-right: 20px !important;
	text-align: right;
}
table#page_cart td.ttd_price_t {
	border-left: medium none !important;
	color: #C21717;
	font-weight: bold;
	padding-left: 20px !important;
	text-align: center;
	font-size: 15px;
}
table#page_cart td.td_quantity input[type="text"] {
	border: 1px solid #7F9DB9;
	border-right: 1px solid #F4F4F4;
	border-bottom: 1px solid #F4F4F4;
	color: #000000;
	height: 25px;
	width: 30px;
	text-align: center;
	font-weight: 700
}
.payment_div {
	float: right;
	padding: 20px 0
}
.button_payment {
	float: right;
	display: inline-block;
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 15px;
	background-color: #4cb127;
	border-bottom: 5px solid #229119;
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #666666;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px 0 #3f4140;
	-webkit-box-shadow: 2px 2px 2px 0 #3f4140;
	box-shadow: 2px 2px 2px 0 #3f4140;
	cursor:pointer;
}
.button_payment:hover {
	text-decoration: none;
	color: #FFFFFF
}
/*List Images*/
#list_gallery_img {
	position: relative;
	z-index: 0;
}
#list_gallery_img .img_item {
	background: #FFFFFF;
	float: left;
	padding: 2px;
	margin: 0 12px 12px 10px;
	width: 29%;
}
#list_gallery_img a {
	display: block;
	width: 100%;
	height: 250px;
	text-align: center
}
.img_gallery {
	max-width: 100%;
	max-height:  100%
}
#list_gallery_img > div {
	background: none repeat scroll 0 0 #FFFFFF;
	/*border: 1px solid #EEEEEE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    padding: 5px;
	position: relative;
}
#list_gallery_img > div:before, #list_gallery_img > div:after {
	bottom: 8px;
	/*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);*/
    content: "";
	height: 20%;
	left: 10px;
	max-width: 300px;
	position: absolute;
	transform: skew(-15deg) rotate(-6deg);
	width: 50%;
	z-index: -1;
}
#list_gallery_img > div:after {
	left: auto;
	right: 10px;
	transform: skew(15deg) rotate(6deg);
}
#list_gallery_img p.title {
	color: #444444;
	margin: 0;
	padding-top: 2px;
	text-align: center;
}
#list_gallery_img > * > * > img {
}
#list_gallery_img {
	margin: 30px 0;
}
#list_gallery_img > * {
	transform: rotate(-3deg);
}
#list_gallery_img p.title {
}
#list_gallery_img > *:nth-child(2n) {
 transform: rotate(3deg) scale(1.05);
}
#list_gallery_img > *:nth-child(5n) {
 left: -10px;
 position: relative;
 transform: rotate(-4deg) scale(0.9);
}
#list_gallery_img > * {
	transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	-ms-transform: all 0.5s ease-out 0s;
}
#list_gallery_img > *:hover {
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
	position: relative;
	transform: rotate(0deg) scale(1.1);
	z-index: 10;
}
#project-list {
	min-height:100px;
	margin-top:7px;
}
.short_des_dtp {
	text-align: justify;
	line-height: 1.5;
	font-size: 14px;
}
/*Banner Ads*/
#divAdRight {
	display:none;
	position:absolute;
	top:10px;
	width: 130px
}
#divAdLeft {
	display:none;
	position:absolute;
	top:10px;
	width: 130px
}
#divAdLeft img, #divAdRight img {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 5px
}
/*Print Page*/
#printing {
	width: 600px;
	margin: 0 auto
}
#printing #logo {
	width: 20%
}
#printing #text_logo {
	width: 78%
}
#printing #function_print {
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color:#20b24d;
	color: #000
}
#printing #function_print a {
	color: #000
}
#printing #main {
	padding: 10px;
	background: #FFFFFF;
	border-bottom: 2px solid #18b32d;
	text-align: justify;
	-moz-box-shadow: 0 0 3px #555555;
	-webkit-box-shadow: 0 0 3px #555555;
	box-shadow: 0 0 3px #555555;
}
/*Support
#sp_head {
	position: fixed;
	top: 150px;
	right: 0;
	z-index: 9999;
	color: #111111
}
#map-legend-control {
	width: 30px;
	float: right;
	position: relative;
	right: 0
}
#map-legend {
	display: none;
	width: 150px;
	min-height: 110px;
	background: #FFFFFF;
	height: 100%;
	margin: 0;
	padding: 10px;
	float: right;
	position: relative;
	-moz-box-shadow: -2px 3px 5px #444444;
	-webkit-box-shadow: -2px 3px 5px #444444;
	box-shadow: -2px 3px 5px #444444;
}
#map-legend li {
	float: left;
	width: 100%;
	margin: 5px 0;
	text-align: center
}
#map-legend a {
	width: 70px;
	margin-top: 5px;
}
.hotline {
	font-weight: 500;
	font-size: 1.3em;
}
.hotline .number_phone {
	display: block;
	color: #ff0000
}*/
.support_head {
	position: fixed;
	top: 150px;
	right: 0;
	z-index: 9999;
}
.title_support {
	display: block;
	position: absolute;
	right: 0;
	width: 30px;
	height: 130px;
	background: url(../Images/support_icon.png) 0 0 no-repeat;
}
.support_bg {
	display: block;
	position: absolute;
	top: 0;
	right: -235px;
	width: 230px;
	background: #F3F3F3;
	border: 1px solid #FFFFFF;
	-moz-box-shadow: -2px 1px 5px #888888;
	-webkit-box-shadow: -2px 1px 5px #888888;
	box-shadow: -2px 1px 5px #888888;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	padding-bottom: 10px
}
.support_head:hover .support_bg {
	-moz-transform: translateX(-262px);
	-o-transform: translateX(-262px);
	-webkit-transform: translateX(-262px);
	transform: translateX(-262px);
}
.hotline_head {
	font-size: 13px;
	font-weight: 700;
}
.hotline_icon {
	float: left;
	height: 11px;
	margin: 2px 5px;
	width: 17px;
}
.yahoo {
	float: left;
	display: block;
	margin-top: 10px
}
.yahoo span {
	color: #8f8f8f;
	font-size: 11px;
}
.yahoo a {
	width: 70px;
	margin-top: 5px;
	margin-right: 15px;
}
.dSupport {
	height: 272px;
	width: 257px;
	display: none;
}
.contentSupport {
	float: left;
	height: 243px;
	margin: 15px 0 0 15px;
	width: 223px;
}
.infoSupport {
	float: left;
}
.icoSupport {
	background:  url(../Images/boxhotline_icon.png) 0 center no-repeat;
	display: block;
	float: left;
	height: 40px;
	margin-left: 14px;
	margin-top: 3px;
	width: 50px;
}
.hotLine {
	color: #FF0000;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 4px 0 10px 0;
}
.timeSupport {
	clear: both;
	color: #4b4b4b;
	float: left;
	font-size: 13px;
	font-style: italic;
	margin: 3px 0 3px 8px;
	width: 100%;
}
.icoMail {
	background: url(../Images/email_icon.png) 0 center no-repeat;
	clear: both;
	display: block;
	float: left;
	height: 30px;
	margin-left: 10px;
	margin-top: 9px;
	width: 35px;
}
.mailSupport {
	color: #4b4b4b;
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin: 16px 0 0 7px;
}
.optionSupport {
	border-bottom: 1px solid #8C8C8C;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.optionSupport a {
	clear: both;
	color: #4b4b4b;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: 10px;
}
