@charset "utf-8";
/* CSS Document */
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
.fl {
	float: left
}
.fr {
	float: right !important
}
.alignl {
	text-align: left
}
.alignc {
	text-align: center
}
.alignj {
	text-align: justify
}
.alignr {
	text-align: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.w70 {
	width: 70% !important
}
.w75 {
	width: 75% !important
}
.w23 {
	width: 23% !important
}
.w80 {
	width: 80% !important
}
.w60 {
	width: 60% !important
}
.w65 {
	width: 65% !important
}
.w40 {
	width: 40% !important
}
.w30 {
	width: 30% !important
}
.w35 {
	width: 35% !important
}
.w50 {
	width: 50% !important
}
.w90 {
	width: 90% !important
}
.w100 {
	width: 100% !important
}
.w10 {
	width: 10% !important
}
.w20 {
	width: 20% !important
}
/*-------------------------------*/
.f_menu, .main_menu {
	background: #0071CB;
}
.container.main_container {
	background: #fff;
	-webkit-box-shadow: 0 0px 10px 5px #024BA6;
	box-shadow: 0 0px 10px 5px #024BA6;
}
.wrap {
	width: 100%
}
/*--------------------------*/
/* HEADER*/
/*--------------------------*/
#w_header {
	background: #fff;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 0 3px 5px 0 #6E6E6E;
	box-shadow: 0 3px 5px 0 #6E6E6E;
}
.header {
	width: 100%;
	float: left;
}
.logo {
}
.logo_text {
}
.logo img, .logo_text img {
	max-height: 100%;
	max-width: 100%;
}
.logo_text img {
}
/*Ngon ngu*/
.lang {
	float: right;
}
.lang img {
	margin-right: 5px;
}
.lang a {
	margin-left : 5px;
	float: left;
	color: #fff
}
/*baner slider*/
.ads_top_slide {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-bottom: 7px;
}
.ads_top_slide img {
	max-width: 100%;
}
.baner {
	float: left;
	margin-top: 0px;
	height: 420px;
	margin-bottom: 0px;
	overflow: hidden;
	width: 99%;
	padding: 0.5%;
}
.b_slide {
	float: left;
	width: 80%;
	overflow: hidden;
	height: 420px;
}
.b_ads {
	float: right;
	width: 19%;
	overflow: hidden;
	height: 420px;
}
.ads_item {
	width: 99%;
	margin-bottom: 7px;
	border: solid 1px #ccc;
	text-align: center
}
.ads_item img {
	max-width: 100%
}
/*-----------------------------------*/
/*SEARCH TOP*/
/*-----------------------------------*/
#search_form {
	width: 220px;
	overflow: hidden;
	height: 22px;
	background: #FFF;
	margin: 0;
	padding: 0;
	border: solid 1px #ccc;
	line-height: 22px;
	float: right;
	margin-top: 3px;
	margin-right: 10px;
}
#search_form .inputSearch {
	height: 22px;
	background: none;
	text-indent: 10px;
	width: 150px;
	margin: 0;
	padding: 0;
	float: left;
	border: 0;
	font-style: italic;
	font-size: 95%;
}
#search_form .submitSearch {
	height: 22px;
	background: #F00;
	float: right;
	width: 65px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
/*-----------------------------------*/
/*SEARCH TOP dropdown*/
/*-----------------------------------*/
#search_form_dropdown {
	height: 36px;
	position: relative;
	float: left;
	background: url(../images/btn_search_1.png) no-repeat;
	width: 170px;
	margin-left: 10px;
	top: 10px;
	z-index: 9999999;
}
#search_form_dropdown .search_box {
	position: absolute;
	top: 41px;
	left: -10px;
	padding: 15px 10px 10px;
	z-index: 9999;
	width: 200px;
	background: url('../Images/transBg.png') repeat scroll 0px 0px transparent;
	box-shadow: 2px 2px 5px #444;
	border-top: 5px solid #1492C2;
	display: none;
	text-align: center;
}
#search_form_dropdown #dpop {
	display: none;
	position: absolute;
	top: 40px;
	padding: 20px;
	margin-top: 5px;
	z-index: 9999;
	width: 250px;
	background: none repeat scroll 0% 0% #FFF;
	box-shadow: 2px 2px 5px #444;
	border-top: 5px solid #054D8C;
}
.trigger_search {
	width: 100%;
	float: left;
	height: 30px;
}
.icon_point {
	cursor: pointer;
	position: absolute;
	top: -24px;
	left: 45%;
	display: block;
	width: 37px;
	height: 20px;
	background: url('../Images/icon_point.png') no-repeat scroll 0px 0px transparent;
}
#search_form_dropdown .inputSearch {
	color: #000000;
	float: left;
	font: 13px Arial, Helvetica, sans-serif;
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 5px;
	margin: 0;
	min-width: 243px;
	border: none;
	border: none;
	background: #FFFFFF;
	border: 1px solid #dfdfdf;
	margin-bottom: 10px;
}
.dropdown_adv {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
	cursor: pointer;
	font-weight: normal;
	height: 32px;
	padding: 1px 3px 1px 1px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	position: relative;
}
.dropdown_adv select {
	height: 32px;
	line-height: 32px;
	padding: 5px;
	position: relative;
	width: 100%;
	z-index: 10;
	color: #555;
	border: 1px solid #DFDFDF;
}
#search_form_dropdown .search_icon {
	display: block;
	width: 100%;
	float: left;
	height: 30px;
	cursor: pointer;
}
#search_form_dropdown .submitSearch {
	margin-left: 25px;
	position: relative;
	z-index: 11;
}
#search_form_dropdown a {
	text-decoration: none;
	color: #333;
	transition: all 300ms ease-in-out 0s;
}
div.search_box .icon_search {
	border: medium none;
	cursor: pointer;
	display: block;
	width: 120px;
	line-height: 25px;
	background: #1492C2;
	color: #fff;
	margin: 10px auto 0 auto;
	position: relative;
	z-index: 10;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.sm_button {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.sub_Search {
	background: url(../Images/bg_repeat.png) 0 0 repeat-x;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	font: bold 15px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222222;
}
/* SEARCH */
#search_box {
	background: #e8e8e8;
	border-top: 3px solid #1C87C5;
	height: 50px;
	position: relative;
	z-index: 9999999;
	padding-top: 10px;
}
#search_box #search_form {
	margin: 0;
	padding: 0;
	float: left;
	margin-top: 0px;
	height: 40px;
	position: relative;
	background: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #666666 inset;
	-webkit-box-shadow: 0px 0px 2px #666666 inset;
	box-shadow: 0px 0px 2px #666666 inset;
	width: 85%;
}
#search_box #search_form .dropdown {
	margin: 0;
	padding: 0;
	float: left;
	float: left;
	position: relative;
	width: 20%;
	overflow: hidden;
	height: 40px;
	background: url(../Images/arr_search.png) 96% center no-repeat;
	z-index: 10;
	border-right: 1px solid #c6c6c6;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#search_box #search_form select {
	margin: 0;
	padding: 0;
	float: left;
	width: 125%;
	color: #888888;
	padding: 4px 0;
	height: 40px;
	background: none;
	border: none;
	cursor: pointer
}
#search_box #search_form .input_Search {
	margin: 0;
	padding: 0;
	float: left;
	color: #555555;
	font: italic normal 14px arial;
	margin-top: 11px;
	width: 70%;
	background: none;
	border: none;
	text-indent: 5px;
}
#search_box .search_btn {
	margin: 0;
	padding: 0;
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: url(../Images/search_icon.png) center center no-repeat;
	border: none;
	cursor: pointer;
}
/*---------------------------------------------*/
/*visit*/
/*---------------------------------------------*/
.visit {
	float: right;
	white-space: nowrap;
	margin-top: 10px;
}
.visit .soluong {
	text-align: left;
	font-weight: bold;
	line-height: 20px;
	float: right;
}
.visit b {
	margin-left: 10px;
}
.visit .img {
	float: left;
	margin-right: 10px;
}
/*---------------------------------------------*/
/*box*/
/*---------------------------------------------*/
.box {
	float: left;
	clear: both;
	width: 99.8%;
	position: relative;
	margin-bottom: 10px;
	border: solid 1px #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.box_ct {
	width: 99.9%;
	float: left;
}
.left_menu .inner_col {
	border: solid 1px #eee;
	border-top: 0;
}
.box_tab {
	height: 35px;
	line-height: 35px;
	padding: 0px;
	padding-bottom: 0px;
	background: url(../images/bg_box_tab.png) no-repeat;
	background-size: 100% 100%;
}
.box_tab span {
	color: #0064b1;
	text-transform: uppercase;
	margin-left: 10px;
	overflow: hidden;
	font-size: 120%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	letter-spacing: -1px;
}
.httt .box_tab {
	background: url(../images/httt_bt.png) no-repeat;
	background-size: 100% 100%;
}
.httt .box_tab span {
	color: #fff;
	margin-left: 60px;
}
.box_tab_s {
	font-size: 13px;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	background: #0068cb; /* Old browsers */
	background: -moz-linear-gradient(top, #0068cb 0%, #054d8c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0068cb), color-stop(100%, #054d8c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0068cb 0%, #054d8c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0068cb 0%, #054d8c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0068cb 0%, #054d8c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0068cb 0%, #054d8c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0068cb', endColorstr='#054d8c', GradientType=0 ); /* IE6-9 */
	border-top: none !important;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	letter-spacing: -1px;
	word-spacing: 2px;
	height: 35px;
	padding: 0;
	float: left;
	width: 100%;
	line-height: 35px;
}
.box_tab_s span {
	width: 100%;
	float: left;
}
.box_tab_1 {
	height: 32px;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
	background: url(../images/bg_box_tab_1.png) no-repeat;
	background-size: 100% 100%;
	line-height: 32px;
}
.box_tab_1 span {
	white-space: nowrap;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 130%;
}
.box_tab_2 {
	height: 38px;
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
	background: url(../images/bg_box_tab_2.png) no-repeat;
	background-size: 100% 100%;
	line-height: 38px;
}
.box_tab_2 span {
	white-space: nowrap;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 130%;
	padding-left: 20px;
}
/*---------------------------------------------*/
/*---------------------------------------------*/
/*view_all*/
/*---------------------------------------------*/
.view_all {
	float: left;
	color: red;
	font-style: italic;
	text-decoration: underline;
	font-size: 12px;
	padding-right: 10px !important;
}
.view_all:hover {
	color: #000;
}
/*---------------------------------------------*/
/*Current Path*/
/*---------------------------------------------*/
.path {
	padding: 5px 0;
	text-align: left;
	margin: 5px 0px;
	background: #fafafa;
	border-top: solid 2px #ddd;
	margin-top: 10px;
}
.path, .path a {
	color: #008CFD;
	font-size: 95%;
	height: 23px;
	line-height: 20px;
	padding-left: 5px;
}
.path a:hover {
	text-decoration: underline !important;
	color: #F00;
}
.view_detail {
	color: #0071CB;
	float: left;
	font-style: italic;
	margin-right: 20px;
	font-weight: bold;
	white-space: nowrap;
}
#list_news .view_detail {
	background: url(../images/bg_li_f.png) right center no-repeat;
	padding-right: 15px;
	color: red;
	font-weight: normal
}
#list_news .view_detail:hover {
	color: #00F
}
/*---------------------------------------------*/
/*Pagination*/
/*---------------------------------------------*/
.navigation_news {
	float: left;
	clear: both;
	font-weight: 700;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
.navigation_news a {
	display: inline-block;
	margin: 0 1px;
	padding: 3px 10px;
	color: #fff;
	background: #008CFD;
}
.navigation_news b, .navigation_news a:hover {
	display: inline-block;
	background: #f00;
	color: #fff;
	margin: 0 1px;
	padding: 4px 10px;
	text-decoration: none;
}
.navigation_news a.pre {
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
}
.navigation_news a.next {
	-webkit-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
}
/*News*/

#list_news {
}
#list_news ul {
	float: left;
	width: 100%
}
#list_news ul li {
	border-bottom: 1px dotted #ccc;
	float: left;
	position: relative;
	width: 100%;
	cursor: pointer;
}
#list_news h3 {
	padding: 0 0 3px 0;
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news a img {
	border: 1px solid #e3e3e3;
	width: 20%;
	height: auto;
	float: left;
	padding: 1%;
}
#list_news .short_news {
	width: 75%;
	float: right
}
.box_news_index {
	width: 100%;
	margin: 0 auto;
	float: left;
}
.list_news {
	padding: 1px
}
.box_news_index li {
	width: 100%;
	float: left;
	border-bottom: 1px dotted #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
}
.box_news_index li .li_news {
	width: 100%;
	float: left;
	padding-left: 10px;
	background: url(../images/arrow_l.png) left no-repeat;
}
.box_news_index li:last-child {
	border-bottom: 0px;
}
.box_news_index li h3 {
	font-size: 100%;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 20px;
}
.box_news_index li h3 a {
	width: 100%;
	float: left;
}
.list_news .box_news_index a img {
	max-width: 95%;
	float: left;
	margin-bottom: 10px;
	border: solid 1px #ccc;
	padding: 1px;
}
.list_news .box_news_index .date {
	width: 100%;
	float: left;
}
.list_news .box_news_index h3 {
	float: right;
	width: 100%;
}
.list_news .box_news_index .text {
	width: 99%;
	float: left;
}
.list_news .box_news_index h3 a {
	width: 100%;
	color: #666;
	padding: 2px 0px;
	font-weight: bold;
}
#list_news ul li:hover, .list_news li:hover {
	background: #fafafa
}
.img_news {
	width: 25%;
	float: left;
}
.des_news {
	width: 70%;
	float: right;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_product {
	float: left;
	padding: 0;
	width: 50px;
	height: 21px;
	width: 50%;
	cursor: pointer;
	margin-left: 5px;
	margin: 5px;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
#main_col .box_news_index li {
	width: 33.3%;
	float: left;
	border: 0;
}
#main_col .li_news {
	padding: 10px;
	overflow: hidden;
}
#main_col .inner_li_news {
	overflow: hidden;
}
#main_col .li_news h3 a {
	color: #0071CB
}
/*detail_news*/
#detail_news {
	width: 100%;
}
#detail_news h1 {
	font-size: 16px;
	font-weight: 700;
	color: #0071CB;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#info_g, #info_g p {
	line-height: 160%;
	text-align: justify;
	margin: 0 auto;
	width: 98%;
	padding-bottom: 10px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
	font-weight: 500;
	font-size: 14px;
	color: #0071CB;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub a.view_all {
	margin-left: 10px;
	color: #0071CB;
	font-weight: bold
}
/*Detail Info*/
#dtp_info {
	position: relative;
	color: #333;
	float: right;
	width: 49%;
	margin: 0;
	margin-right: 1%;
}
#dtp_info h2 {
	margin: 5px 5px;
	border-bottom: #CCC 1px solid;
	font-size: 150%;
	padding: 3px 0px;
}
#dtp_info .row {
	width: 100%;
	float: left;
	padding: 5px;
	display: table-cell;
}
#dtp_info .row .lbl {
	float: left;
	margin-right: 5px;
}
#dtp_info input[type="text"], #dtp_info select {
	border: 1px solid #ccc;
	width: 130px;
	margin-left: 10px;
}
#dtp_info .addtocart {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 5px;
	font-size: 15px;
	width: 90%;
	margin-left: 5px;
}
#dtp_info .dtp_price {
	color: red;
	font-size: 20px;
	display: inline-block;
	line-height: 35px;
	text-align: center;
}
#dtp_info .buy_bt {
	width: 120px;
	float: right;
}
.mo_ta {
	padding: 5px 0px;
	margin-left: 5px;
}
.mo_ta p {
	white-space: pre-line
}
.number_cart, .price_cart {
	color: #006699;
	font-weight: bold;
}
.mo_ta_chi_tiet {
	float: left;
	min-width: 80%;
	overflow: hidden;
	text-align: justify;
	padding-top: 20px
}
.mo_ta_chi_tiet h3 {
	font-size: 110%;
	color: #009;
}
.mo_ta_chi_tiet img {
	max-width: 70%;
}
table.page_cart {
	background-color: #C5C2C2;
	border-spacing: 1px;
	margin: 0.5em 0;
}
table.page_cart th, table.page_cart td {
	padding: 5px
}
table.page_cart td {
	background-color: #FFFFFF;
}
#cart .buy_bt {
	width: 150px !important;
	line-height: 200%;
	color: #fff;
	text-decoration: none;
	font-size: 100%;
}
#cart .continue {
	padding: 7px;
	margin-left: 10px;
}
.number {
	width: 50px !important;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #D70E6E;
	font-weight: bold
}
/*-------------------------------------*/
/*Products */
/*-------------------------------------*/
.index_products {
	width: 100%;
	float: left;
}
.product_row {
	float: left;
	width: 99.8%;
	padding-bottom: 10px;
}
.product_row ul {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}
.product_row li {
	float: left;
	width: 20%;
	margin-top: 10px;
}
.index_products .product_row li {
	float: left;
	width: 20%;
}
#sidebar .product_row li {
	width: 100%;
}
.product_row li .product {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	height: 210px;
}
.product_row li .product_inner {
	overflow: hidden;
	text-align: center;
	border: solid 0px #E9E9E9;
	padding: 3px;
	background: #fff;
}
.product_row li .product_inner:hover {
	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac
}
.bottom_pro {
	width: 100%;
	height: 12px;
	background: url(../images/bottom_product.png) bottom no-repeat;
}
#mycarousel_products .product_row li {
	width: 235px !important;
	float: left !important;
	margin: 0;
	padding: 0;
}
#the_same_P #mycarousel_products .product_row li {
	width: 207px !important;
}
.cart_top {
	position: absolute;
	width: 169px;
	height: 43px;
	background: url(../images/bg_cart.png) no-repeat;
	right: 1px;
	top: -5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 43px;
	z-index: 999;
	font-size: 13px;
}
.cart_top a {
	color: #fff;
}
.cart_top a:hover {
	color: #73B200;
}
.percent_sale {
	width: 100%;
	float: left;
	margin-top: 30%;
	color: #fff;
	font-weight: bold;
	font-size: 110%
}
.product_row img {
	text-align: center;
	margin-bottom: 0px;
	width: 100%;
}
.product_row a {
	font-weight: bold;
}
.product_row .price {
	color: #000;
	font-weight: 700;
	float: left;
	width: 100%;
}
.product_row .price b {
	color: red;
}
.img_pro {
	float: left;
	width: 95%;
	height: 150px;
	overflow: hidden;
	border: solid 1px #ccc;
	padding: 2%;
}
.img_pro img {
	max-height: 100%;
}
.img_pro a {
	text-align: center;
}
.product_row li .product_inner h4 {
	width: 95%;
	float: left;
	margin: 0 2.5%;
	text-align: left;
}
.product_row li .product_inner h4 a {
	font-size: 13px;
	text-align: left;
	color: #2048a0;
	line-height: 10px;
}
.des_product {
	width: 100%;
	overflow: hidden;
	border-top: 0px;
	position: relative;
	z-index: 10;
	padding-top: 10px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}
.old_price {
	color: #666;
	font-size: 100%;
	text-decoration: line-through
}
.new_price {
	color: #F00;
	font-weight: bold;
	font-size: 140%;
	float: left;
}
.txt_desc {
	width: 94%;
	margin: 2% 3%;
}
.product_row p {
	text-align: left;
	font-size: 110%;
	margin: 0;
	margin-bottom: 2px;
	padding-left: 10px;
}
.services_row {
	width: 100%;
	margin: 0 auto;
}
.services_row li {
}
.services_row .se {
	padding: 10px;
}
.services_row .se .se_inner {
	background: #0071CB;
	-webkit-border-radius: 100px 100px 100px 100px;
	border-radius: 100px 100px 100px 100px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}
.services_row .se_img {
	background: #0071CB;
	-webkit-border-radius: 100px 100px 100px 100px;
	border-radius: 100px 100px 100px 100px;
	width: 190px;
	height: 190px;
	overflow: hidden;
	float: right;
	margin-top: 5px;
}
.services_row .se_img img {
	width: 200px;
	height: 200px;
	font-size: 100%;
}
.services_row .se h3 {
	text-align: center
}
.services_row .se h3 a {
	color: #2048a0;
	margin: 5px auto;
	padding: 0;
}
.product_row .btn {
	text-align: center;
	float: right;
}
.btn_buy_1 {
	background: #73B200;
	color: #fff;
	text-transform: uppercase;
	font-size: 95%;
	padding: 3px;
}
.buy_bt {
	border: 0;
	margin: 0;
	float: none;
	text-align: center;
	padding: 0;
	width: 110px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	box-shadow: 0 -2px 0 #008CFD inset;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	background: #73B200;
}
.btn_addtocart {
	background: #008CFD;
	border: none;
	box-shadow: 0 -2px 0 #0362AF inset;
	padding: 7px 12px;
	color: #fff !important;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: 500;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	width: 140px;
	height: 25px;
	font-size: 18px;
	font-weight: 700;
}
.addtocart_ico {
	background: url(../images/icon_cart.png) no-repeat;
	width: 27px;
	height: 27px;
	float: left;
}
.btn_addtocart:hover {
	color: #fff
}
/*Footer*/

	
#footer {
}
.address {
}
.copyright {
	float: right;
	text-align: right;
}
#w_footer, #w_footer .container {
	background: #005ea8;
	color: #fff !important;
	z-index: 2;
	position: relative
}
/*Social net work*/
.social_network {
	text-align: right;
	float: right;
}
.social_network a {
	height: 33px;
	width: 40px;
	float: left;
	background: url(../images/social_icon.png) left top no-repeat;
}
.social_network .facebook {
	background-position: left -33px;
}
.social_network .twitter {
	background-position: -40px -33px;
}
.social_network .gplus {
	background-position: -80px -33px;
}
.social_network .skype {
	background-position: -200px -33px;
}
.social_network .instagram {
	background-position: -240px -33px;
}
.social_network .youtube {
	background-position: -440px -33px;
}
.social_network .pinteres {
	background-position: -120px center;
}
.social_network .wordpress {
	background-position: -600px center;
}
/*.social_network_top*/
.social_network_t {
	float: right;
}
.social_network_t a {
	height: 30px;
	width: 30px;
	float: left;
	background: url(../images/social_network_t.png) left top no-repeat;
}
.social_network_t.facebook {
	background-position: left top;
}
.social_network_t .youtube {
	background-position: -60px top;
}
.social_network_t .instagram {
	background-position: -30px top;
}
.social_network_t .twitter {
	background-position: -90px top;
}
.social_network_t .rss {
	background-position: -120px top;
}
/*sidebar*/

.ads {
}
.ads img {
	border: 0;
	padding: 0;
	margin: 0;
	max-width: 100%
}
.ads img {
	width: 100%
}
.ads iframe {
	width: 100% !important;
	border: 0;
	padding: 0;
	margin: 0;
}
#sidebar .row {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
#sidebar .col {
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	display: table;
}
#sidebar .hotline b {
	color: #ff5a00
}
.icon_httt {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}
.icon_hl {
	background: url(../images/icon_phone.png) left center no-repeat
}
.icon_email {
	background: url(../images/icon_email.png) left center no-repeat
}
.httt {
	font-size: 110%;
	line-height: 20px;
}
.httt b {
	color: yellow;
	font-size: 125%;
}
.httt .row .col:first-child {
	font-weight: bold;
	padding-right: 5px;
}
.httt .download, .httt .tygia {
	background: #06F;
}
.httt .download a, .httt .tygia a {
	padding: 5px 10px;
}
.httt .download a img, .httt .tygia a img {
	padding: 5px;
}
/*form contact*/
#contact {
	padding: 20px;
}
.contact_add {
	width: 50%;
	float: left
}
#map_gg {
	float: right;
 
}
#map_gg iframe {
	width: 98%;
	border: solid 1px #ccc;
}
.form_contact {
}
.form_contact .btn {
	background-color: rgb(0, 173, 233);
	text-transform: uppercase;
	border: 0;
	margin: 0;
	height: 35px;
	width: 100px;
	clear: both;
	cursor: pointer;
	border: solid 2px #CCC;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	background: #008CFD; /* Old browsers */
	background: -moz-linear-gradient(top, #008CFD 0%, #0071CB 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008CFD), color-stop(98%, #0071CB)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #008CFD 0%, #0071CB 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #008CFD 0%, #0071CB 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #008CFD 0%, #0071CB 98%); /* IE10+ */
	background: linear-gradient(to bottom, #008CFD 0%, #0071CB 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008CFD', endColorstr='#0071CB', GradientType=0 ); /* IE6-9 */
}
.form_contact .btn:hover {
	background: #0071CB; /* Old browsers */
	background: -moz-linear-gradient(top, #0071CB 0%, #028200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0071CB), color-stop(100%, #008CFD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0071CB 0%, #008CFD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0071CB 0%, #008CFD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0071CB 0%, #008CFD 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0071CB 0%, #008CFD 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071CB', endColorstr='#008CFD', GradientType=0 ); /* IE6-9 */
}
.form_contact h2 {
	width: 100%;
	font-weight: bold;
	font-size: 110%
}
.form_contact .txt {
	margin: 10px 0px;
	width: 95%;
	background: url(../images/fields.png) left center no-repeat;
	border: solid #ccc 1px;
	height: 20px !important;
	text-indent: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
textarea {
	resize: vertical;
	padding-top: 10px;
}
.form_contact .txt:focus {
	border: #666 1px solid;
	border-left: 5px solid #0071CB;
}
.form_contact .row {
	width: 100%;
	float: left
}
.form_contact .name {
	background-position: left 9px top -172px;
	background-position-x: 9px;
	background-position-y: -172px;
}
.form_contact .email {
	background-position: left 9px top -218px;
	background-position-x: 9px;
	background-position-y: -218px;
}
.form_contact .phone {
	background-position: left 9px top -40px;
	background-position-x: 9px;
	background-position-y: -40px;
}
.form_contact .message {
	background-position: left 9px top -260px;
	background-position-x: 9px;
	background-position-y: -260px;
	min-height: 100px;
}
.form_contact span {
	width: 100%;
	float: left;/*	height: 25px;
	line-height: 25px;
	text-align: left;*/
}
.icon_send {
	background: url(../images/icon_send.png) right center no-repeat;
	background-size: auto 100%;
}
/*---------------------------------------------*/
/*user edit*/
/*---------------------------------------------*/
/*intro_box*/
.intro_box {
	margin: 10px;
	font-size: 110%;
	text-align: justify;
}
/*bottom_main*/
.bottom_main {
	border-bottom: solid 1px #ccc;
	margin-bottom: 3px;
}
.index_products .view_all {
	position: absolute;
	right: 0;
	color: #000;
	font-style: normal;
	text-decoration: none;
}
/*get_mail_form*/
#get_mail_form {
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	width: 255px;
	overflow: hidden;
	height: 30px;
	background: #FFF;
}
#get_mail_form .inputEmail {
	height: 30px;
	line-height: 30px;
	background: #FFF;
	text-indent: 10px;
	width: 180px;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
}
#get_mail_form .submitGetMail {
	height: 30px;
	line-height: 30px;
	background: #ed1f24;
	float: right;
	width: 70px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	float: right;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	text-shadow: 0 0px rgba(255, 255, 255,0);
}
.stickydiv {
	position: fixed;
	top: 0;
	z-index: 10000;
}
.section_title_dt {
	border-bottom: 1px solid #e7e7e7;
	color: #444444;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-bottom: 5px;
}
.section_dt_content > table {
	max-width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	font-size: 14px
}
.section_dt_content td, .section_dt_content th {
	border: 1px solid #ddd;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;
}
.section_dt_content tr:nth-child(2n+1) > td, .section_dt_content tr:nth-child(2n+1) > th {
	background-color: #f9f9f9;
}
.moreBg {
	float: left;
	width: 100%;
	margin: 15px 0
}
.view_more_infoP {
	cursor: pointer;
	font-weight: bold;
	display: block;
	width: 240px;
	padding: 8px 0;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	background: #f0f0f0;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e5e5e5));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f0f0f0 0%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e5e5e5', GradientType=0);
	/* IE6-9 */
	box-shadow: 0 -2px 0 #cacaca inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
}
.view_more_infoP:hover {
	color: #FFFFFF;
	background: #fca70a;
	text-decoration: none
}
