#nav_x {
	width: 100%;
	float: left;
	height:40px;
 
}
.menu_main{ background:#0A3151;}
#nav_x ul {
	list-style:none;
	position:relative;
	float:left;
	
	margin:0;
	padding:0;
	max-width:100%;
	z-index:99;
 
	margin:0 0%;
	margin-left: 240px;
	 
}
#nav_x ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;                           /*---edit line height---*/
	cursor: pointer;
/*	background:url(../Images/bg_li_nav_x.png) center left no-repeat;*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#nav_x ul a {
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	line-height:40px;                      /*---edit line height---*/
	padding:0;
	font-size:15px;
	font-weight:700;                        /*---edit---*/
	float:left; width:100%;
	font-weight:normal;
	white-space:nowrap;
	padding:0 25px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); 
}

#nav_x ul > li:first-child {
	background-image:none;
	padding: 0;
	border-left: 0
}
#nav_x ul > li:first-child a img{ margin-top:15px;}
#nav_x ul > li.active > a,
#nav_x ul > li a:hover{
	color:#ffa800; 
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);                        /*---edit mau sac active---*/
}
 
#nav_x ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	margin:0;
	border: 1px solid #fff;
	width: 200px;
	float: left;
	z-index: 99999999999;
	 
}
#nav_x ul ul li {
	float: left;
	width: 200px;                            /*---edit width li level 2, 3---*/
	border-left: 0;
	position: relative;
	z-index: 999999999;
	border-bottom: 1px dotted #fff;
	background: #fff;
	min-height: 22px;
	text-align: left !important;
	padding:5px 0px !important;
	background:#0A3151;
	
}
#nav_x ul  ul > li:first-child {
	 

}
#nav_x ul ul > li:hover {
	background:#fff;
	
}
#nav_x ul ul > li:hover > a{
	color:#ffa800;
}
#nav_x ul ul a {
	padding:0;
	margin:0;	
	color: #fff;
	line-height: 20px;
	font-weight: normal;
	font-size: 12px;
	text-align:left;
	white-space:normal !important;
	width:90%;
	margin:0 5%;
	text-transform:capitalize;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#nav_x ul ul li:last-child, 
#nav_x ul ul li.last > a {
	border-bottom: 0;
}
#nav_x ul ul ul {
	top: -1px;
	left: 100%;
}
#nav_x ul li:hover > ul {
	display: block;
}
/*-------------------------------------*/
 .nav_f {
 	float: left;
	position: relative;
	width:100%;
	
}
.nav_f ul {
	margin: 0;
	padding: 0;
	float:left;
	border-bottom: solid 1px #fff;
}
.nav_f ul li {
	float: left;
	border-left: solid 1px #fff;
	margin-left: 5px;
}
.nav_f ul li:first-child {
	border: 0;
}
.nav_f a {
	font-weight: normal;
	float: left;
	width: 100%;
	color: #fff;
	padding: 0 5px;
	font-size:95%
}
/*.sp_hot{ background:#d22b1b; color:#fff; height:30px; line-height:30px; font-size:11px;-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px; float:left;}*/
#nav_x ul a.sp_hot{ background:url(../images/sp_hot.png) left no-repeat; padding-left:30px}
.like_face{ margin:5px;}