#main-menu {
	height: 50px;
	width: 100%;
}
#menu {
	width: 100%;
	height: 35px;
	margin-left: 0px;
	margin-top: 10px;
	background:#FFBC00;
	line-height: 35px;
}
#menu ul {
	list-style: none;
	text-align: center;
	
}
#menu ul li {
	float: left;
	/*width: 110px;*/
	padding-left: 0px;
	margin-left: 2px;
	/*border-left:solid 1px #666;*/
	background:url(../Images/bg-li-menu.png) left no-repeat;
}
#menu ul li a:hover{ color:#333;}
#menu .link-first{border-left:0px; background:none;}
#menu ul li a {
	color: #fff;
	font-size: 12px;;	
	padding-left: 15px;
	padding-right: 15px;
	text-transform:uppercase;
	font-weight:bold;
}
#menu ul li li a {
	color: #fff;
	font-size: 12px;
	font-weight: none !important;	
	padding-left: 0px;
	text-transform:capitalize;
	padding-left:10px;
	text-align:left;
}
#menu ul li:hover {
	color: #000;
	cursor: pointer;
}
#menu .menu {
	position: absolute;
	padding-left: 10px;
}
#menu * {
	list-style: none;
	border: 0;
	padding: 0;
	margin: 0;
}
#menu li .parent,  #menu li  li.parent {
	background: transparent url(../Images/arrow.gif) no-repeat scroll 99% center;
	z-index: 10;
}
#menu a {
	display: block;
	white-space: nowrap;
}

#menu li li {
	float: none;
	background:#333;
	border-bottom:solid 1px #666666;
	width:150px;
	background-image:none;
	
}
#menu ul ul {
	margin-left: 0px;
	position:relative;
	z-index:99999999999;
}
#menu div {
	visibility: hidden;
	position: absolute;
	margin-left: 0px;
}
#menu div div {
	margin: -20px 0 0 -1px;
	left: 100%;
}
#menu li:hover>div {
	visibility: visible;
}

#menu a {
	text-decoration: none;
	position: relative;
	z-index: 77;
}
#menu ul ul {
/*	width: 130px;*/
-webkit-transition:all 200ms ease 200ms;
	-moz-transition:all 200ms ease 200ms;
	transition:all 200ms ease 200ms
}
#menu li li a {
	position: static;
	white-space: normal;
	text-transform: none;
	font-weight:none !important;
}
#menu li li a:hover {
	color: #000;

	

}
#menu li li li {
	background:#666;
	border-bottom:solid 1px #333 !important;
}

#menu #menu-cart{
	float:right;
	background:url(../Images/icon-cart.png) no-repeat left center;
	width:180px;
	
}

#menu #menu-cart green{
	color:green;
}
#menu ul ul ul{
	margin-top:-15px;
	
}