/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font-size: 13px;
	font-family: Tahoma;
	color:#555555;
	background: #f0f0f0;
	background-attachment: fixed;
	line-height : 18px;
}
a {
	text-decoration: none;
	color: #555555;
}
a:hover {
	text-decoration: underline;
	color: #555555;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	line-height:0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border-style: none;
	border-color: inherit;
	border-width: medium;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 14px;
}
h3 {
	font-size: 13px;
}
h4 {
	font-size: 12px;
}
ul {
	list-style: none;
}
p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
/* WRAPPER --------*/

#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
}
#top_page {
	float: left;
	width: 100%;
	margin-bottom: 5px;
	background: #FFFFFF url(../Images/grey_lineBg.jpg) bottom left repeat-x;
}
.page {
	width: 1010px;
	margin: 0 auto;
	background:#FFF;
}
/* LAYOUT

--------------------------*/

#main {
	float: left;
	padding: 0 5px;
	margin: 0 auto;
	display: block;
	width: 1000px;
	clear: both;
	background-color: white;
}
#sidebar {
	width: 203px;
	float: left;
}
#sidebar_inner {
	margin: 0 4px 5px 0;
}
#content {
	width: 797px;
	float: right;
}
#content-inside {
	margin-right: 0;
}
#content1 {
	float: left;
	width: 720px;
}
#content1_inside {

}
#right_sidebar_inner {
	padding: 5px;
}
/* HEADER

--------------------------*/

.header {
	width: 100%;
	margin: 10px 0 5px 0;
}
#header-inner {
	width: 100%;
	margin: 10px 0 5px 0;
}
#header-right {
	float:right;
	width: 800px;
}
#header-bottom {
	float: left;
	width: 100%;
	clear: both;
	margin: 0 auto;
	padding: 5px 0;
	height: 30px;
	background:#e1e1e1;
	position: relative;
}
/* LOGO ---------*/

.logo {
	float: left;
	display: block;
	width: 197px;
	height: 63px;
	margin: 3px 0 9px 0;
}
/*.vip{width:135px; height:135px; position:absolute; top:100px; right:165px;}*/

/* TOP MENU ------*/

.topmenu {
	float: right;
	width:100%;
	margin:0;
	font-size: 13px;
}
ul.menu {
	float:right;
	margin:0;
}
ul.menu li {
	float: left;
	display: inline;
	background:none;
	padding: 0px 5px 0 5px;
	border-bottom: none;
	border-right:1px solid #555555;
	line-height:12px;
}
ul.menu li.last, .blockcontent ul#vertical-menu li.last {
	border-right:none;
	border-bottom: none;
}
ul.menu li.last {
	padding-right: 0;
}
ul.menu li.dealmenu {
	border-right:none;
}
ul.menu li a {
	display:inline-block;
	font-weight: bold;
	color: #555555;
}
ul.menu li.dealmenu a {
	color: #0c7f40;
	background:url(../Images/deal.png) top left no-repeat;
	padding: 0 30px 0 35px;
	font-size: 13px;
}
/* SEARCH --------*/

#search {
	float: left;
	width: 70%;
	padding: 0;
}
.search {
	float: left;
	padding: 0;
}
.search .inputbox {
	padding: 0 4px;
	height: 28px;
}
.search .inputboxsearch {
	padding: 0 4px;
	height: 26px;
}
#search .bt-search {
	padding:0;
	margin:0;
	background: url(../Images/search-button.png) top left no-repeat;
	width: 50px;
	height: 30px;
	float:right;
	border:none;
	margin: -1px 3px 0 2px;
}
/* LOGIN --------*/
#login {
	float: left;
	margin-top: 20px;
	width: 50%;
	height: 30px;
	padding-left: 10px;
	background: url(../Images/login.png) top left no-repeat;
}
#login:hover {
	float: left;
	margin-top: 20px;
	width: 50%;
	height: 30px;
	padding-left: 10px;
	background: url(../Images/login_hover.png) top left no-repeat;
}
#login a {
	font-weight: normal;
	padding-top: 3px;
	text-align: left;
}
#login ul {
	float: left;
	padding-left: 20px;
}
.login {
	float: left;
	width: 100%;
	padding: 5px 0 0 20px;
	text-align: left;
}
#local {
	float: right;
	height: 28px;
	margin-top: 15px;
}
.type-option {
	width: 145px;
	border: 1px solid #a5a5a5;
	padding: 4px;
}
#search .type-option {
	height: 30px;
	width: 180px;
	padding: 4px;
	background: #FFF;
	border: 1px solid #a5a5a5;
	margin-top: -1px;
}
#cart {
	float: right;
	padding-left:15px;
	height: 30px;
	background: url(../Images/cart.png) center left no-repeat;
}
#quantity {
	float: left;
	display: block;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
#cart a {
	color: #878787;
	font-weight: bold;
	line-height: 40px;
	padding-left: 1px;
}
/* BLOCK */

.border_bottom {
	border-bottom: 1px solid #e3e3e3;
}
.block .nopadding {
	padding: 0;
}
.block .padding {
	padding: 5px 5px 0 5px;
}
.block .padding1 {
	padding: 10px
}
.block .padding2 {
	padding: 5px;
}
.block .margin1 {
	margin: 0 5px;
}
.block .nopadding_bottom {
	padding-bottom: 0;
}
.block .nomargin_top {
	margin-top: 0;
}
.block .padding_top {
	padding-top: 5px;
}
.block .nobackground {
	background: none;
}
.block .noborder {
	border: none;
}
.block .noborder_left {
	border-left: none;
}
.block .noborder_bottom {
	border-bottom: none;
}
.block .noborder_right {
	border-right: none;
}
.block .noborder_top {
	border-top: none;
}
.block .justify {
	text-align: justify;
}
.block .line_height {
	line-height: 25px;
}
.block .right_round_bottom {
	background: url(../Images/corner/right-corner-bottom.png) bottom right no-repeat;
	height: 3px;
}
.block .left_round_bottom {
	background: url(../Images/corner/left-corner-bottom.png) bottom left no-repeat;
	height: 3px;
}
.block .line_round_bottom {
	background: url(../Images/corner/line-bottom.png) bottom left repeat-x;
	height: 3px;
	margin: 0 5px;
}
.block .right_round_top {
	background: url(../Images/corner/right-corner-top.png) right 13px no-repeat;
	height: 16px;
}
.block .left_round_top {
	background: url(../Images/corner/left-corner-top.png) left 13px no-repeat;
	height: 16px;
}
.block .line_round_top {
	background: url(../Images/corner/line-top.png) left 13px repeat-x;
	height: 16px;
	margin: 0 5px;
}
.block ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	background: #f3f3f3;
}
#facebook .blockcontent {
	padding-bottom: 5px;
}
/* MENU SIDEBAR */
.jqueryslidemenu {
	font: bold 12px Verdana;
	background:#153E7E;
	width: 198px;
}
.jqueryslidemenu ul {
	font: 12px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 198px;
	z-index: 30;
}
.jqueryslidemenu ul li {
	position: relative;
	float: left;
	width: 100%;
}
.jqueryslidemenu ul li a {
	border-bottom: 1px solid #E3E3E3;
	border-left: 1px solid #E3E3E3;
	display: block;
	overflow: auto;
	padding: 6px;
	text-decoration: none;
}
* html .jqueryslidemenu ul li a {
	display: inline-block;
}
.jqueryslidemenu ul li a:hover {
	background:#FFFFFF;
	text-decoration: underline;
}
.jqueryslidemenu ul li ul {
	border-top: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	position: absolute;
	top: -1px !important;
	left: 198px !important;
	visibility: hidden;
	width: 198px;
	background: #FFFFFF;
}
.jqueryslidemenu ul li ul li {
	display: list-item;
	float: none;
}
.jqueryslidemenu ul li ul li ul {
	top: 0;
}
.jqueryslidemenu ul li ul li a {
	font: normal 13px Verdana;
	padding: 6px 5px;
	margin: 0px;
	border-top-width: 0;
}
.jqueryslidemenuz ul li ul li a:hover {
	background: #eff9ff;
	color: black;
}
.downarrowclass, .rightarrowclass {
	position: absolute;
	top: 12px;
	right: 7px;
}
.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited, .jqueryslidemenu ul li a:active, .jqueryslidemenu ul li a:hover {
}
.block .corner_bottom {
	float: left;
	clear: both;
	width: 100%;
	height: 10px;
	border-bottom-left-radius:5px;/*cac trinh duyet khac*/
	border-bottom-right-radius:5px;/*cac trinh duyet khac*/
	-webkit-border-radius-bottomleft:5px;/*Safari & google chrome*/
	-webkit-border-radius-bottomright:5px;/*Safari & google chrome*/
	-moz-border-radius-bottomleft:5px;/*Firefox*/
	-moz-border-radius-bottomright:5px;/*Firefox*/
}
/* BANK */

.block ul.bank li {
	float: left;
	background:none;
	border: none;
	display: inline;
	padding: 0 5px;
	width: 139px;
}
.block ul.bank li.active {
	float: left;
	background:none;
	border: none;
	display: inline;
	margin: 0;
	padding-left: 0;
}
/* FOOTER

--------------------------*/

#footer {
	background: none repeat scroll 0 0 #ECECEC;
	border-top: 2px solid #C5C5C5;
	clear: both;
	color: #9DA0A8;
	float: left;
	font-size: 13px;
	width: 100%;
}
#footer_top {
	margin: 10px 0;
	width: 1000px;
}
#footer_top, #footer_top a {
	color: #777777;
}
#footer_top ul.province {
	list-style-type: none;
	margin: 0 auto;
	width: 100%;
}
#footer_top ul.province li {
	float: left;
	width: 14%;
}
#footer_bottom {
	border-top: 1px solid #C5C5C5;
	line-height: 18px;
	margin: 0;
	padding: 10px 0 0;
	text-align: left;
	width: 100%;
}
#footer_bottom a {
	font-weight: bold;
	text-align: center;
}
#footer_inner {
	margin: 0 auto;
	padding: 10px;
	width: 990px;
}
#footer img {
	border: medium none;
}
#footer .block {
	float: left;
	height: auto;
	width: 100%;
}
#footer .footer_left {
	float: left;
	margin: 0 10px;
}
#footer .copyright {
	color: #555555;
	float: left;
	margin-left: 20px;
	font: 11px/18px Tahoma;
	padding: 0;
	text-align: left;
	width: 50%;
}
#footer .copyright a {
	color: #555555;
	font: 11px Tahoma;
}
#footer .copyright p {
	margin: 0;
	padding: 0;
}
.block h2 {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #777777;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 9px;
}
.modalBackground {
	background-color: Black;
	filter: alpha(opacity=90);
	opacity: 0.8;
}
.modalPopup {
	background-color: #FFFFFF;
	border-width: 10px;
	border-style: solid;
	border-radius: 10px;
	border-color: #949494; /*padding-top: 10px;
	padding-left: 10px;*/
	width: 500px;
	height: auto;
}
.tdGridRow {
	padding-left:5px;
	padding-right:5px;
}
.tdGridRow {
	height:25px;
}
.tdGridHeader {
	background:#e3e3e3;
	color:#555555;
	text-align:center;
	font-weight:bold;
	border-bottom:#555555 1px solid;
}
.tdGridHeader {
	height:25px;
}
/*--Jquery Carousel--*/
.image_carousel {
	/*padding: 15px 0 15px 40px;*/
	padding-left:25px;
	position: relative;
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	/*background: url(../images/miscellaneous_sprite.png) no-repeat transparent;*/
	width: 30px;
	height: 18px;
	display: block;
	position: absolute;
	top: 40%;
}
a.prev {
	left: 10px;
	background:url('../Images/hs_prev.gif') no-repeat;
}
a.prev:hover {
	background:url('../Images/hs_prev.gif') no-repeat;
}
a.prev.disabled {
	background:url('../Images/hs_prev_dis.gif') no-repeat;
}
a.next {
	right: 0px;
	background:url('../Images/hs_next.gif') no-repeat;
}
a.next:hover {
	background:url('../Images/hs_next.gif') no-repeat;
}
a.next.disabled {
	background:url('../Images/hs_next_dis.gif') no-repeat;
}
a.prev.disabled, a.next.disabled {
	cursor: default;
}
a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	height: 15px;
	margin: 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
.cat_nav {
	text-align:center;
	display:block;
	width:100%;
	float: left;
	padding:10px 0;
}
.tdGridTable {
	border-spacing: 1px;
	border-collapse:separate !important;
}
.tdGridRow {
	padding-left:5px;
	padding-right:5px;
}
.tdGridRow {
	height:40px;
}
.tdGridHeader {
	background:#e3e3e3;
	color:#555555;
	text-align:center;
	font-weight:bold;
	border-bottom:#555555 1px solid;
}
.tdGridHeader {
	height:30px;
}
/* ---------->>> jtip <<<---------------------------------------------------------------*/

#JT_arrow_left {
	background-image: url(../images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
	top:-3px;
}
#JT_arrow_right {
	background-image: url(../images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
	top:-2px;
}
#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}
#JT_copy {
	padding:10px 10px 10px 10px;
	color:#333333;
}
.JT_loader {
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}
#JT_close_left {
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_close_right {
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}
#JT_copy p {
	margin:3px 0;
}
#JT_copy img {
	padding: 1px;
	border: 1px solid #CCCCCC;
}
.jTip {
	cursor:pointer;
}
.linkbutton {
	cursor: pointer;
}
th.left {
	background: none repeat scroll 0 0 #F3F3F3;
	border: 0 none;
	font-size: 12px;
	height: 20px;
	padding-right: 5px;
	text-align: right;
}
.contactshop {
	color: #0C7F40;
}
.pricesub {
	color : #555;
	font-size : 9px;
	text-decoration: line-through;
}
.htmcontent p {
	margin: 10px 0;
	line-height: 20px;
}
.dvcat1 {
	text-align: left;
	font-size: 13px;
	line-height: 24px;
	width: 155px;
}
.dvcat1 a {
	display:block;
}
.dvcat1:hover {
	background: #E3e3e3;
}
.dvcat1 a:hover {
	text-decoration: none;
}
.catActive {
	background: #E3e3e3;
}
.interfaceActive {
	opacity: 1;
}
.interfaceUnActive {
	opacity: 0.5;
}
.interfaceUnActive:hover {
	opacity: 1;
}
.dvInterface {
}
.dvInterface:hover {
	opacity: 2;
}
.interfaceActive1 {
	color: #f00;
}
.interfaceUnActive1 {
	color: #ccc;
}
.interfaceUnActive1:hover {
	color: #f00;
	text-decoration: none;
}
#testdiv {
	width:600px;
	margin:0 auto;
	border:1px solid #ccc;
	padding:20px 25px;
	background:#fff
}
#tinybox {
	position:absolute;
	display:none;
	padding:10px;
	background:#fff url(images/preload.gif) no-repeat 50% 50%;
	border:10px solid #e3e3e3;
	z-index:2000
}
#tinymask {
	position:absolute;
	display:none;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#000;
	z-index:1500
}
#tinycontent {
	background:#fff
}
.ad_col {
	float: left;
	margin-bottom: 5px;
	overflow: hidden;
	width: 33%;
	margin: 0 1px 5px;
}
#dvGridCat a:hover {
	color: #006600;
	text-decoration: none;
}
.bordermenu {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E3E3E3;
	margin: 0;
	padding: 0;
}
.menu_left {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	width: 99.4%;
}
.menu_left ul {
	margin: 0;
	padding: 0;
}
.menu_left ul li {
	float: left;
	height: auto;
	padding: 0;
	width: 97.2%;
}
.menu_left ul li a {
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
	color: #3E3E3E;
	display: block;
	float: left;
	font-weight: bold;
	padding: 8px 0 8px 10px;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}
.menu_left ul li a:hover {
	background: none repeat scroll 0 0 #EAEAEA;
}
.menu_left ul li ul {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	width: 93.6%;
}
.menu_left ul li ul li {
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	float: left;
}
.menu_left ul li ul li a {
	background: url("../Images/List_Style.png") no-repeat scroll left 15px top 14px transparent;
	/*border-bottom: 1px dotted #CCCCCC;*/
	font-size: 13px;
	font-weight: normal;
	padding: 8px 10px 8px 25px;
	text-transform: none;
	border-bottom:none;
	border-top:none;
}
.menu_left ul li ul li a:hover {
	background: url("../Images/List_Style.png") no-repeat scroll left 15px top 14px #F3F3F3;
}
/*-----------------Button-------------------------*/
  .button_c {
	margin-left: 10px;
	display: inline-block;
	-moz-box-shadow: 3px 3px 8px #000000;
	-webkit-box-shadow: 3px 3px 8px #000000;
	box-shadow: 3px 3px 3px #ccc;
}
.button_c a {
	background: #52b152; /* Old browsers */
	background: -moz-linear-gradient(top, #52b152 0%, #008a00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52b152), color-stop(100%, #008a00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #52b152 0%, #008a00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #52b152 0%, #008a00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #52b152 0%, #008a00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #52b152 0%, #008a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b152', endColorstr='#008a00', GradientType=0 ); /* IE6-9 */
	border-radius: 3px 3px 3px 3px;
	color: #F3F3F3;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 100px;
	display: block;
}
.button_c a:hover {
	background: #52b152;
	color: #FFFFFF;
	text-decoration: none;
}
#idpay p {
	margin: 12px 0;
	line-height: 150%;
}
#dvBuyUp ul li.style2 {
	border-bottom: 0 solid #DEDBDB;
	border-right: 0 solid #DEDBDB;
	border-top: 1px solid #DEDBDB;
	text-align: left;
	width: 140px;
}
#dvBuyUp ul li.style2 .name_option {
	background: none repeat scroll 0 0 #F0EEEE;
	border-left: 1px solid #DEDBDB;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: none;
	width: 140px;
}
#dvBuyUp ul li.style2 .price_option {
	border-left: 1px solid #DEDBDB;
	border-top: 1px solid #FFFFFF;
	color: #D2260A;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 140px;
}
#dvBuyUp ul li.style2 .button_option {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #DCD7D7;
	border-left: 1px solid #E8E8E8;
	border-top: 1px solid #DCD7D7;
	height: 60px;
	padding: 0;
	width: 140px;
}
/*
#dvBuyUp ul li.style2:hover {
    border-bottom: 0 solid #DEDBDB;
    border-right: 0 solid #DEDBDB;
    border-top: 1px solid #DEDBDB;
    text-align: left;
    text-transform: none;
}
#dvBuyUp ul li.style2:hover .name_option {
    background: none repeat scroll 0 0 #F0EEEE;
    border-left: 1px solid #DEDBDB;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: none;
}
#dvBuyUp ul li.style2:hover .price_option {
    background: none repeat scroll 0 0 #F0EEEE;
    border-left: 1px solid #DEDBDB;
    border-top: 1px solid #DCD7D7;
    color: #D2260A;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#dvBuyUp ul li.style2:hover .button_option {
    background: none repeat scroll 0 0 #E2E1E1;
    border-bottom: 1px solid #DCD7D7;
    border-left: 1px solid #E8E8E8;
    border-top: 1px solid #DCD7D7;
    height: 60px;
    padding: 0;
}
*/
#dvBuyUp ul li.style3 {
	border-top: 1px solid #DEDBDB;
	text-align: left;
	width: 252px;
}
#dvBuyUp ul li.style3 .name_option {
	background: none repeat scroll 0 0 #F0EEEE;
	border-left: 1px solid #DEDBDB;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: none;
	width: 252px;
}
#dvBuyUp ul li.style3 .price_option {
	border-left: 1px solid #DEDBDB;
	color: #D2260A;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 252px;
}
#dvBuyUp ul li.style3 .button_option {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #DCD7D7;
	border-left: 1px solid #E8E8E8;
	border-top: 1px solid #DCD7D7;
	height: 70px;
	padding: 0 0 0 48px;
	width: 204px;
}
#dvBuyUp ul li a.tms1_btn {
	background: url("../images/icon.png") no-repeat scroll 0 -459px transparent;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	font-weight: bold;
	height: 28px;
	margin: 15px 0 0 9px;
	padding: 6px 0 0;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	width: 120px;
}
#dvBuyUp ul li:hover a.tms1_btn {
	display: block;
}
#dvBuyUp ul li.style2 {
	float:left;
}
#dvBuyUp .button_c a {
	width: 50px !important;
}
/*-------------------Social Network--------------------*/    
.block_social {
	width:100%;
	height:40px;
	float:right;
	margin:5px 0
}
.block_social a {
	display: block;
	height:42px;
	text-decoration: none;
}
.social_1, .social_2, .social_3, .social_4, .social_5, .social_6 {
	transition:All 0.6s ease;
	-webkit-transition:All 0.6s ease;
	-moz-transition:All 0.6s ease;
	-o-transition:All 0.6s ease;
	width:42px;
	height:42px;
	overflow:hidden;
	float:left;
	margin-left:3px
}
.social_1:hover, .social_2:hover, .social_3:hover, .social_4:hover, .social_5:hover, .social_6:hover {
	transition:All 0.6s ease;
	-webkit-transition:All 0.6s ease;
	-moz-transition:All 0.6s ease;
	-o-transition:All 0.6s ease;
	width:42px;
	height:42px;
	overflow:hidden;
}
.social_1 {
	background:url(../Images/Social.png) -5px -5px no-repeat;
}
.social_1:hover {
	background:url(../Images/Social.png) -5px -55px no-repeat;
}
.social_2 {
	background:url(../Images/Social.png) -56px -5px no-repeat;
}
.social_2:hover {
	background:url(../Images/Social.png) -56px -55px no-repeat;
}
.social_3 {
	background:url(../Images/Social.png) -107px -5px no-repeat;
}
.social_3:hover {
	background:url(../Images/Social.png) -107px -55px no-repeat;
}
.social_4 {
	background:url(../Images/Social.png) -158px -5px no-repeat;
}
.social_4:hover {
	background:url(../Images/Social.png) -158px -55px no-repeat;
}
.social_5 {
	background:url(../Images/Social.png) -209px -5px no-repeat;
}
.social_5:hover {
	background:url(../Images/Social.png) -209px -55px no-repeat;
}
.social_6 {
	background:url(../Images/Social.png) -260px -5px no-repeat;
}
.social_6:hover {
	background:url(../Images/Social.png) -260px -55px no-repeat;
}
