/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	background: #252525;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: underline;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;	
}
.page {
	width: 1000px;
	padding: 0 5px;
	margin: 0 auto;
	background: #333333;	
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 5px auto 0 auto;
	padding: 0;
	display: block;
	clear: both;
	width: 100%;
}
.left_content {
	float: left;
	width: 235px;
	padding: 0;
	margin: 0;
}
.main_content {
	float: left;
	margin-left: 5px;
	width: 760px;
}
/* HEADER

--------------------------*/

.header {
	float:left;
	width: 100%;
	height: 150px;
	display: inline-block;
	margin: 0;
	position: relative;
}
.hotline { position: absolute; top: 5px; right: 10px; font-weight: bold; color: #FFFFFF; background: url(../Images/phone_icon.png) center left no-repeat; line-height: 30px; padding-left: 40px; text-transform: uppercase; font-size: 16px; }
.hotline span { font-weight: bold; }
/* SEARCH */
#search {
	padding: 10px;
}
.type_option {
    border: 1px solid #b4b4b4;
	background: #ebe9e9;
    color: #000000;
    font: 12px Tahoma;
    margin: 0 8px 0 0;
	padding: 3px 2px;
    width: 155px;
}
.inputSearch {
    border: 1px solid #b4b4b4;
	background: #ebe9e9;
	color: #000000;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	height: 22px;
	padding: 2px 0 0 5px;
	width: 155px;
	margin-right: 10px;
}
.submitSearch {
	background: url(../Images/search_button.png) center left no-repeat;
	border: medium none;
	cursor: pointer;
	float: right;
	height: 25px;
	padding: 0;
	width: 70px;
	text-align: center;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
}
/*Products*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}
div.box_content_center
{
	background: #2b2b2b;
	border: 1px solid #595959;
}
/*Vertical menu*/
ul.vertical_menu {
    list-style: none outside none;
    width: 98%;
	margin: 0 auto;
}
ul.vertical_menu li a {
	display: block;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
	line-height: 20px;
	color: #26c9ff;
	padding: 5px 0 5px 5px;
	text-transform: uppercase;
	border-bottom: 1px solid #595959; 	
}
ul.vertical_menu li ul li a {
	background: url(../Images/arrow_left.png) no-repeat scroll 8px 12px transparent;
	text-transform: none;
	color: #d1d1d1;
	border-bottom: none;
	padding: 6px 0 6px 20px;
	margin: 0 5px;
	border-bottom: 1px dotted #a2d7fb;	
}
ul.vertical_menu li.vl { border: none; }
#support ul.vertical_menu li ul li { padding: 5px; }
#support ul.vertical_menu li ul li a { background: none; border: none; padding: 0; width: 22px; display: inline-block; margin: 0; }
/*Slide Banner*/
.top_main_banner {
    float: left;
    margin-top: 5px;
}
.h1Tab { background: url(../Images/left_Tab.jpg) top left repeat-x; height: 30px; line-height: 30px; text-align: center; width: 100%; color: #FFFFFF; font-size: 12px; text-transform: uppercase; }
.news ul {
    padding: 10px;
}
.news ul li {
    float: left;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.Title_news {
    margin: 0;
    padding: 0
}
.Title_news a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
}
.ads img { margin-bottom: 5px; }
.support { padding-top: 10px; text-align: center; }
.support span { line-height: 30px; }
.support p, .visitors p { margin: 0.5em 0; padding: 0; }
.visitors { padding: 5px 10px; text-align: left; }
.main_content .h1Tab { background: url(../Images/left_maintab.png) top left no-repeat; height: 35px; text-align: left; }
.main_content .h1Tab span { float: left; display: block; padding-left: 10px; padding-right: 35px; text-transform: none; font: bold 12px Arial, Helvetica, sans-serif; height: 35px; line-height: 35px; background: url(../Images/right_maintab.png) top right no-repeat; }
.product_row {
    margin: 0 auto;
    padding: 0;
}
.product {
    float: left;
    text-align: left;
    width: 25%;
	font-size: 12px;
	margin: 0;
}
.product_inner {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
.h2Title { font: normal 12px Arial, Helvetica, sans-serif; padding: 8px 0 5px 0; }
.price { margin-bottom: 5px; }
.cost { font: normal 11px Arial, Helvetica, sans-serif; }
.cost span { text-decoration: line-through; }
.link_title { color: #26c9ff; font-weight: bold }
/*Slide Vertical*/
.slide_v_product {
    margin: 0 auto;
    width: 165px;
	text-align: center;
}
.slide_v_product ul li {
    display: block;
    list-style: none outside none;
    padding: 0;
	height: 180px;	
}
.clr {
    clear: both;
}
.slide_v_product .product { width: 100%; text-align: center; margin: 0 auto; float: none; }
.navigation {
	clear: both;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.navigation a {
    border: 1px solid #575757;
    border-radius: 5px 5px 5px 5px;
    margin: 0 2px;
    padding: 3px 8px;
}
.navigation b, .navigation a:hover {
    background: #1bc7ff;
    border: 1px solid #1bc7ff;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 0 2px;
    padding: 3px 8px;
    text-decoration: none;
}
.detail .box_content_center { padding: 10px; }
/*News*/
.list_news {
	float: left;
    width: 100%;
}
.list_news ul { padding: 10px; } 
.list_news ul li {
    border-bottom: 1px dashed #0088FB;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}
.list_news .view_more {
    bottom: 5px;
    font-size: 11px;
    position: absolute;
    right: 0;
}
.list_news .h2Title {
    padding: 0 0 3px 0;
}
.list_news .h3Title a {
    font-weight: bold;
    text-transform: none;
}
.list_news p { margin: 0 0 1em 0; }
.list_news img {
    border: medium none;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial;
}
#detail_news {	
	float: left;
	padding: 10px;
}
.detail_info {
	float: left;
	width: 65%;
}
#detail_news .detail_info { width: 100%; }
.function {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e3e3e3 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    float: left;
    padding: 5px 0;
    width: 100%;
}
.like_face {
    float: left;
    height: 18px;
    padding: 0;
    width: 35%;
}
.toolbar {
    float: right;
    padding: 0;
    position: relative;
    text-align: left;
}
.toolbar a {
    background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
    color: #26C9FF;
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
}
a.print {
    background-position: 0 2px;
}
a.email {
    background-position: 0 -18px;
}
a.opinion {
    background-position: 0 -37px;
}
.other_news_sub {
    clear: both;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
    margin: 10px 0;
    position: relative;
	color: #FFFFFF;
}
.other_news_sub ul {
    margin: 10px 0 0 10px;
}
.other_news_sub ul li {
    padding: 5px 0;
}
.other_news_sub a {
    background: url(../Images/bullets.png) no-repeat scroll left 2px transparent;
    padding-left: 15px;
}
.view_all {
    float: left;
	background: none !important;
    margin-top: 10px;
    text-align: right;
	text-decoration: underline;
	font-size: 11px;
}
.path {
    border-bottom: 1px solid #575757;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 0 3px;
    text-align: left;
    text-transform: none;
}
.sub_cates { list-style: none; float: left; margin-top: 10px; width: auto }
.sub_cates li { border-left: 1px solid #FFFFFF; float: left; height: 15px; }
.sub_cates li.f { border: none; }
.sub_cates li a { display: block; font: normal 11px Arial, Helvetica, sans-serif; line-height: 15px; padding: 0 5px; } 
/*Slide Agents*/
#slider_partners
{
    float: right;
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 5;
}
#slider_partners img
{
    height: 70px;
    width: 160px;
}
.jcarousel-skin-tango
{
    padding: 5px 5px 2px 5px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl
{
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal
{
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip
{
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal
{
    height: auto;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}
.jcarousel-skin-tango .jcarousel-item-horizontal
{
    margin-right: 20px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal
{
    margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical
{
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder
{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal
{
    background: url(../Images/button_slider.png) no-repeat scroll top left transparent;
    cursor: pointer;
    height: 27px;
    left: -5px;
    position: absolute;
    top: 30%;
    width: 16px;
    z-index: 10;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal
{
    background: url(../Images/button_slider.png) repeat scroll top left;
    left: 5px;
    right: auto;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal
{
    background: url(../Images/button_slider.png) no-repeat scroll top right transparent;
    cursor: pointer;
    height: 27px;
    position: absolute;
    right: -5px;
    top: 30%;
    width: 16px;
    z-index: 10;
}
/*Slide Products*/
#slider_products .jcarousel-skin-tango .jcarousel-next-horizontal
{
    background: url(../Images/button_slider.png) no-repeat scroll bottom left transparent;
    cursor: pointer;
    height: 10px;
    left: 98%;
    position: absolute;
    top: -30px;
    width: 6px;
    z-index: 10;
}
#slider_products .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal
{
    background: url(../Images/button_slider.png) repeat scroll bottom left;
    left: 5px;
    right: auto;
}
#slider_products .jcarousel-skin-tango .jcarousel-prev-horizontal
{
    background: url(../Images/button_slider.png) no-repeat scroll bottom right transparent;
    cursor: pointer;
    height: 10px;
    position: absolute;
    right: -5px;
    top: -30px;
    width: 6px;
    z-index: 10;
}
#slider_products .jcarousel-skin-tango .jcarousel-clip-horizontal
{
    width: 100%;
}
#slider_products .jcarousel-skin-tango .jcarousel-item-horizontal
{
    margin-right: 2px;
}
#slider_products .product { width: 100%; }
/*Footer*/
.footer
{
    clear: both;
    color: #FFFFFF;
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
	background: #131313;
}
.footer_inner { padding: 0; background: url(../Images/line_footer.jpg) bottom left repeat-x; }
.footer_menu
{
	width: 100%;
    padding: 0;
	height: 30px;
    color: #FFFFFF;
	text-align: center;
	background: url(../Images/footer_menuBg.jpg) top left repeat-x;
}
.footer_menu a
{
    color: #FFFFFF;
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 5px;
	line-height: 30px;
}
.footer p
{
    margin: 0 0 0.05em 0;
    padding: 0;
}
.copyright
{
	float: left;
	width: 990px;
	background: #000000;
	clear: both;
	padding: 5px;
    margin: 0;
	text-align: center;
	font-size: 11px;
}
.copyright a { color: #FFFFFF; }
.info_footer { text-align: center; padding: 5px; width: 100%; float: left; }
