@charset "utf-8";
/* Mega Menu Styles */
#nav_menu_wrap {
	height: 28px;
	line-height: normal;
	margin: 0 auto;
	float: left;
	width: 100%;
}
#nav_menu {
	width: 960px;
	margin: 0 auto
}
.mega-menu ul, .mega-menu ul li {
	list-style: none;
}
.mega-menu ul {
	position: relative;
	padding: 0;
	margin: 0;
}
.mega-menu ul li ul {
	display: none;
}
.mega-menu .sub {
	display: none;
}
.mega-menu .sub ul {
	display: block;
}
ul.mega_menu, ul.mega_menu, ul.mega_menu li {
	margin: 0;
	padding: 0;
	border: none;
}
ul.mega_menu {
	border: 0 none;
	float: left;
	height: 28px;
	margin: 0;
	padding: 0;
	position: relative
}
ul.mega_menu li {
	float: left;
	margin: 0;
	padding: 0;
}
ul.mega_menu li.home-icon {
	background: url(../Images/home-white.png) top left no-repeat;
}
ul.mega_menu li.home-icon:hover {
	background: url(../Images/home-grey.png) top left no-repeat !important;
}
ul.mega_menu li.home-icon {
	margin: 0 0 0 4px;
}
ul.mega_menu li.home-icon a {
	width: 29px;
	height: 31px;
	padding: 0;
	margin: 0;
}
ul.mega_menu li a {
	color: #333333;
	display: inline-block;
	font-family: Verdana;
	font-size: 13px;
	margin: 0;
	outline-style: none;
	overflow: hidden;
	padding: 7px 11px;
	text-decoration: none;
}
ul.mega_menu > li > a:hover {
	background: #7d7f80;
	color: #FFFFFF !important
}
ul.mega_menu > li.home-icon > a:hover {
	background: none;
}
ul.mega_menu li a.dc-mega {
	position: relative;
}
ul.mega_menu li a .dc-mega-icon {
	display: block;
	position: absolute;
	top: 18px;
	right: 15px;
	width: 8px;
	height: 6px;
}
ul.mega_menu li.mega-hover a .dc-mega-icon {
	background-position: 0 100%;
}
ul.mega_menu li .sub-container {
	position: absolute;
}
ul.mega_menu li .sub {
	overflow : visible;
	z-index : 500;
	padding : 12px 12px 10px 12px;
	border : #c2c2c2 solid 1px;
	border-top : #7e7f81 solid 3px;
	background-color : #ffffff;
	font-family : Verdana;
	display: none;
}
ul.mega_menu li .sub-container.mega .sub {
	padding: 10px 0;
}
ul.mega_menu li .sub .row {
	display: table;
	overflow: hidden;
	clear: both;
}
ul.mega_menu li .sub li {
	list-style: none;
	float: none;
	width: 230px;
	font-size: 1em;
	font-weight: normal;
}
ul.mega_menu li .sub li ul ul { margin-left: 10px }
ul.mega_menu li .sub li.mega-hdr {
	padding: 5px 20px 5px 10px;
	float: left;
	border-right: 1px solid #C2C2C2;
	display: table-cell;
	border-collapse: collapse
}
ul.mega_menu li .sub li.mega-hdr.last {
	margin-right: 0;
	border: none
}
ul.mega_menu li .sub li.last-li {
	width: 100%;
}
ul.mega_menu li .sub a {
	background: none;
	border: none;
	text-shadow: none;
	color: #111;
	padding: 7px 10px;
	display: block;
	float: none;
	text-decoration: none;
	font-size: 0.9em;
}
ul.mega_menu li .sub li.mega-hdr a.mega-hdr-a {
	display: block;
	font: normal 15px/21px Verdana;
	padding: 0 0 2px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	margin-bottom: 5px;
	color: #0365a6
}
ul.mega_menu .sub li.mega-hdr li a {
	display: block;
	font: bold 12px/17px Verdana;
	text-transform: uppercase;	
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	padding-bottom: 2px;
	color: #333333
}
ul.mega_menu .sub li.mega-hdr li li a { padding-left: 14px; width: 90%; font: normal 11px/18px Verdana; text-transform: none; background: url(../Images/Circle_Grey.png) no-repeat scroll 0 5px }
ul.mega_menu .sub li.mega-hdr li a:hover {
	text-decoration: underline
}
ul.mega_menu .sub ul li {
	padding-right: 0;
}
ul.mega_menu li .sub-container.non-mega .sub {
	padding: 20px 20px 20px 0;
}
ul.mega_menu li .sub-container.non-mega li {
	padding: 0;
	width: 190px;
	margin: 0;
}
ul.mega_menu li .sub-container.non-mega li a {
	padding: 7px 5px 7px 22px;
	background: url(../Images/arrow_off.png) no-repeat 7px 10px;
}
ul.mega_menu li .sub-container.non-mega li a:hover {
}
