/* ===========================================================================

  $Id: top-menu-level1-v35.css,v 1.55 2013/03/25 07:12:19 Radim Exp $

  Menu level 1 for version 3.5

============================================================================== */
#menuProductsBox {
	position: relative;
}
#menuLv1BoxInner #topmenuLv1-right-box {
	position: static;
	width: 100%;
	height: auto;
}
#menuLv1BoxInner {
	height: 121px;
	font-family:Verdana;
	overflow:visible;
	z-index: 300;
}
.maxi-menu .category, .maxi-menu .more-products, .maxi-menu .popular-product {
	min-height: 285px
}
/* Products menu
------------------------------------------------------------------------------ */

#menuProductsBoxInner {
	border-width: 0 0 2px;
	clear: both;
	left: 0;
	position: absolute;
	top: 90px;
	width: 980px;
}
ul#topmenuLv2-products, ul#topmenuLv2-products li {
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	height: 28px;
}
ul#topmenuLv2-products li.activeCategory, ul#topmenuLv2-products li.hover {
	background-color: #7e7f81;
}
ul#topmenuLv2-products li.activeCategory a span, ul#topmenuLv2-products li.hover a span {
	color:#ffffff;
}
ul#topmenuLv2-products li.home-icon {
	background: url(../Images/home-white.png) top left no-repeat;
}
ul#topmenuLv2-products li.home-icon:hover {
	background-color : transparent;
	background: url(../Images/home-grey.png) top left no-repeat;
}
ul#topmenuLv2-products li.home-icon {
	margin: 0 0 0 4px;
}
ul#topmenuLv2-products li.home-icon a {
	width: 29px;
	height: 31px;
	padding: 0;
	margin: 0;
}
ul#topmenuLv2-products li a {
	display: inline-block;
	padding: 7px 14px 5px 13px;
	margin: 0;
	overflow: hidden;
	font-family: Verdana;
	font-size:13px;
	color: #333333;
	text-decoration: none;
	text-transform: uppercase;
	outline-style: none;
}
.tr_TR ul#topmenuLv2-products li a {
	text-transform: none;
}
.mn_MN ul#topmenuLv2-products li a {
	padding: 7px 12px 5px 11px;
}
.mn_MN ul#topmenuLv2-products li.home-icon a {
	padding: 0;
}
/* Level 3 menu
------------------------------------------------------------------------------ */
.startPage #menuLv3Box {
	top:122px;
}
/* Minisearch v35 */
.frontPage #miniSearchWrapper {
	text-align:left;
	position:absolute;
	top:81px;
	right:9px;
	z-index:1000;
	width:342px;
}
.frontPage.sticky-top #miniSearchWrapper {
	top:110px;
}
.frontPage #GSASearchBoxInner {
	width: 980px;
}
.frontPage .big #topmenuLv1-search-box a {
	position:absolute;
	right:19px;
	top:0px;
	border-right:1px solid #b1afa7;
	padding-right: 12px;
	height:32px;
	background: white url(/image/buttons/search.png) no-repeat 1px;
}
.big #topmenuLv1-search-box a {
	position:absolute;
	right:19px;
	top:0px;
	border-right:1px solid #b1afa7;
	padding-right: 12px;
	height:32px;
	background: white url(/image/buttons/search.png) no-repeat 1px;
}
body #topmenuLv1-search.big {
	padding-top:9px;
}
#topmenuLv1-search #search-text {
	width: 220px;
}
#topmenuLv1-search.big #search-text {
	width: 265px;
}
#miniSearchWrapper {
	text-align:left;
	position:absolute;
	top:81px;
	right:9px;
	z-index:1000;
	width:342px;
}
.sticky-top #miniSearchWrapper {
	top:110px;
}
/* Products maxi menu
------------------------------------------------------------------------------ */
.maxi-menu {
	position: absolute;
	top: 28px;
	left: 0;
	overflow : visible;
	z-index : 500;
	padding : 12px 12px 10px 12px;
	border : #c2c2c2 solid 1px;
	border-top : #7e7f81 solid 3px;
	background-color : #ffffff;
	font-family : Verdana;
}
.maxi-menu.hidden {
	visibility : hidden;
}
.maxi-menu .threedots_ellipsis {
	height : 8px;
	font : normal 8px/8px Verdana;
}
ul#topmenuLv2-products .maxi-menu a {
	text-transform : none;
}
ul#topmenuLv2-products .maxi-menu a:hover {
	text-decoration : underline;
}
ul#topmenuLv2-products .maxi-menu span, ul#topmenuLv2-products .maxi-menu li a span.hover, ul#topmenuLv2-products .maxi-menu .category a, ul#topmenuLv2-products .maxi-menu .category a span, ul#topmenuLv2-products .maxi-menu .more-products a, ul#topmenuLv2-products .maxi-menu .more-products a span {
	color : #333333;
}
ul#topmenuLv2-products .maxi-menu .maxi-menu-h1 {
	display : block;
	clear : both;
	width : auto;
	height : auto;
	padding-bottom : 12px;
	font : normal 17px/21px Verdana;
	text-transform : uppercase;
}
ul#topmenuLv2-products .maxi-menu .maxi-menu-h1 span {
	white-space : nowrap;
}
ul#topmenuLv2-products .maxi-menu ul {
	display : inline-block;
	width : auto;
	padding : 0 0 0 2px;
	overflow : visible;
}
ul#topmenuLv2-products .maxi-menu ul li {
	display : block;
	clear : both;
	width : auto;
	height : auto;
	overflow : visible;
	white-space : nowrap;
}
ul#topmenuLv2-products .maxi-menu ul li .maxi-menu-h2 {
	display : block;
	white-space : nowrap;
	overflow : visible;
	padding : 12px 0 2px 0;
	font : bold 12px/17px Verdana;
	text-transform : uppercase;
}
ul#topmenuLv2-products .maxi-menu ul li a, ul#topmenuLv2-products .maxi-menu ul li a span {
	display : block;
	width : auto;
	overflow : visible;
	white-space : nowrap;
	font : normal 11px/19px Verdana;
	padding : 0;
}
.maxi-menu .category {
	border-right : solid 1px #cfd1d1;
	float : left;
	display : inline-block;
	padding : 6px 31px 6px 10px;
	overflow : visible;
}
.maxi-menu .category .categories-list {
	float : left;
	margin-right : 30px;
	overflow : auto;
	min-width : 50px;
}
ul#topmenuLv2-products .maxi-menu .category .categories-div {
	overflow : visible;
}
/* specific maximum widths can be set here depending on 1, 2 or 3 columns split */
.maxi-menu .category.oneColumn .maxi-menu-h1 {
	max-width : 300px;
}
.maxi-menu .category.oneColumn .categories-list {
	max-width : 300px;
}
.maxi-menu .category.twoColumns .maxi-menu-h1 {
	max-width : 400px;
}
.maxi-menu .category.twoColumns .categories-list {
	max-width : 185px;
}
.maxi-menu .category.threeColumns .maxi-menu-h1 {
	max-width : 405px;
}
.maxi-menu .category.threeColumns .categories-list {
	max-width : 115px;
}
.maxi-menu .category .categories-list.last {
	margin-right : 0;
}
/* testing only
.maxi-menu .category .categories-list {
	width : 45px;
} */
.maxi-menu .more-products {
	border-right : solid 1px #cfd1d1;
	float : left;
	display : inline-block;
	padding : 6px 31px 6px 22px;
}
.maxi-menu .more-products .maxi-menu-h1, .maxi-menu .more-products ul {
	overflow : visible;
	max-width : 300px;
}
ul#topmenuLv2-products .maxi-menu .more-products .nobrands {
	display : block;
	overflow : visible;
	padding : 0 0 2px 0;
}
.maxi-menu .popular-product {
	float: left;
	display : inline-block;
	padding: 6px 7px 6px 22px;
	width: 223px;
	position: relative;
	overflow : visible;
}
.maxi-menu .popular-product .maxi-menu-h1 {
	overflow : visible;
	max-width : 223px;
}
ul#topmenuLv2-products .maxi-menu .popular-product .popularProductBox .a-img-prodlist-s {
	padding: 5px 0 3px 0;
}
.maxi-menu .popular-product .popularProductBox {
	padding-top : 5px;
}
.maxi-menu .popular-product .popularProductBox .title {
	margin-top: 10px;
	color:#333333;
	font-weight:bold;
	font-size: 12px;
	max-height: 29px;
}
.maxi-menu .popular-product .popularProductBox .title:hover {
	text-decoration:underline;
}
ul#topmenuLv2-products .maxi-menu .popular-product .popularProductBox .img-box {
	text-align: center;
	width: 80%;
	padding: 0;
}
ul#topmenuLv2-products .maxi-menu .popular-product .popularProductBox .a-ratings {
	padding-top:0;
	padding-left:0;
	text-decoration: none;
}
ul#topmenuLv2-products .maxi-menu .popular-product .popularProductBox .priceBox {
	padding:0;
	right: 13px;
	bottom: 45px;
	position: absolute;
}
ul#topmenuLv2-products .maxi-menu .popular-product .popularProductBox .priceBox p {
	float:right;
	font-weight:bold;
	font-size: 12px;
}
ul#topmenuLv2-products li.hover a span.rating-stars-ratingCount {
	font-size: 11px;
	line-height: 16px;
	margin-left: 7px;
	padding-left: 0;
	color:#333333;
}
ul#topmenuLv2-products li.hover a span.rating-stars-ratingCount:hover {
	text-decoration: underline;
}
.maxi-menu .popular-product .popularProductBox .go-to-product {
	display: inline-block;
	bottom: 11px;
	right: 12px;
	padding: 0;
	position: absolute;
}
ul#topmenuLv2-products .maxi-menu .popular-product .popularProductBox .go-to-product a {
	background: none repeat scroll 0 0 #add502;
	color: #FFFFFF;
	padding: 5px 12px 6px 12px;
	font-size: 11px;
	text-transform:uppercase;
	text-decoration: none;
	font-weight: bold;
	float: right;
}
ul#topmenuLv2-products .maxi-menu .popular-product .popularProductBox .go-to-product a:hover {
	text-decoration: none;
	background-color: #979898;
}
ul#topmenuLv2-products .maxi-menu .popular-product .priceBox p.red {
	color: #CC0033;
	font-size:15px;
	padding-left:5px;
}
ul#topmenuLv2-products .maxi-menu .popular-product .priceBox .origPrice {
	text-decoration: line-through;
	padding-top:2px;
}
ul#topmenuLv2-products .maxi-menu .go-to-all {
	/* width : 100%; */
	clear : both;
	overflow : visible;
	\ display : inline-block;
}
ul#topmenuLv2-products .maxi-menu .go-to-all .border {
	height : 4px;
	border-bottom : solid 1px #cfd1d1;
}
ul#topmenuLv2-products .maxi-menu .go-to-all a {
	background: url("../Images/menu/right-black-arrow.png") no-repeat right 14px;
	padding-top: 8px;
	padding-bottom: 0;
	padding-right: 11px;
	line-height : 16px;
}
ul#topmenuLv2-products li .maxi-menu .go-to-all a:hover {
	text-decoration:underline !important;
}
ul#topmenuLv2-products .maxi-menu .go-to-all span {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
/* Following styles should be removed after new FP version 3.5 release */
#subWrapper {
	border:none;
}
.noMnL2_noMnLv3 #subWrapper {
	background: #FFFFFF;
	padding-top: 133px;
}
.noMnL2_noMnLv3 #menuLv1BoxInner {
	background: url("../Images/common/bg-v35.gif") repeat-x scroll 0 0 transparent
}
#topmenuLv1-right-box a:hover {
	color:#333333;
}
#topmenuLv1-search input {
	background: transparent;
}
#topmenuLv1-search-box a.focus-in {
	background: url("../Images/buttons/search.gif") no-repeat center left transparent;
}
#topmenuLv1-search-box a.focus-out {
	background: #ffffff url(/image/buttons/search.png) no-repeat 1px;
}
#topmenuLv1-search-box input.focus-out {
	background: transparent;
}
/* Christmas theme */
body.dynamicTheme {
	background: #b3b1af url(/image/common/bg-v35-christmas.jpg) 50% 121px no-repeat;
}
.dynamicTheme #wrapper {
	background: url(/image/common/bg-v35-christmas-header.gif) 0 0 repeat-x;
}
.dynamicTheme.v35noMenuL2 #menuLv1BoxInner {
	height : 121px;
}
.dynamicTheme.v35noMenuL2 #subWrapper {
	padding-top: 133px;
	background: none transparent;
}
.dynamicTheme .dynamicWrapper {
	border: none;
	margin: 0;
	padding: 0;
	background: url(/image/common/bgContentsDark.gif) top left repeat-y;
}
.dynamicTheme.body-temp-2column .dynamicWrapper, .dynamicTheme.body-temp-flippingIntroPage .dynamicWrapper, .dynamicTheme.body-temp-wysiswygFirst .dynamicWrapper, .dynamicTheme.body-temp-blankMenu3 .dynamicWrapper, .dynamicTheme.body-temp-blankMenu3NoPadding .dynamicWrapper, .dynamicTheme.body-temp-blankNoMenu3 .dynamicWrapper, .dynamicTheme.faq .dynamicWrapper {
	background: #fff;
}
.dynamicTheme.body-temp-blankFullScreen .dynamicWrapper {
	background: none;
}
.dynamicTheme #missing-content {
	background-color: #FFF;
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
	min-height: 300px;
}
.dynamicTheme .clear {
	clear: both;
}
.dynamicTheme.startPage #menuLv3Box {
	top: 133px;
}
