/* nav menu styles */
#nav {
	float: left;
	display: block;
	width: 170px;
	margin: 0 30px;
}
.menu_content {
	float: left;
	width: 700px;
}
#nav li {
	background: url(../Images/menu_v_tab.jpg) 0 0 no-repeat;
	margin-bottom: 3px;
}
#nav li a {
	display: block;
	line-height: 31px;
	font-size: 0.9em;
	font-weight: 500;
	color: #005baa;
	text-decoration: none;
	text-align: center;
}
#nav > li > a:hover, #nav > li > a.open {
	color: #005baa;
}
#nav li ul {
	display: none;
	margin-top: 3px;
}
#nav li ul li a {
	display: block;
	color: #333333;
	line-height: 29px;
	border: 1px solid #dadada;
	background: url(../Images/submenu_v_tab.jpg) 0 0 repeat-x;
}
