@charset "utf-8";
/* CSS Document */
.dropdown-menu ul, .dropdown-menu {
/*display: block !important*/
}
span.icon-bar {
	background: #fff
}.navbar {
	position: relative;
	min-height: 30px;
	margin-bottom: 0px;
	border: 0px solid transparent;
}
.navbar-default {
}
/*level 3: 3 ul*/
ul.dropdown-menu ul {
	position: absolute;
	left: 100%;
	top: -1px;
	min-width: 200px;
	display: none;
	background: #fff;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding: 0;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
ul.dropdown-menu li:hover > ul {
	display: block;
}
ul.dropdown-menu a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
ul.dropdown-menu a:hover, ul.dropdown-menu a:focus {
	background-color: #e8e8e8;
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
	background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	background-repeat: repeat-x;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 5px 15px;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 30px;
}
.nav>li {
	background-image: url(../images/li_nav.png);
	background-repeat: no-repeat;
	background-position: center left
}
.nav>li:first-child {
	background-image: none
}
.nav>li>a:focus, .nav>li>a:hover {
	background: #D9212B;
	color: #fff
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: #D9212B;
	color: #fff
}
.dropdown-menu {
	padding: 0;
	border: 0;
	padding-bottom:5px;
	border-bottom: solid 2px #1694D8;
	background: #D9212B;
}
ul.dropdown-menu   ul{padding-bottom:5px;
	border-bottom: solid 2px #1694D8;
	 }
.dropdown-menu > li {
	background: #D9212B;
}
.dropdown-menu > li > a {
	color: #fff
}
