@charset "utf-8";
body {
	background-image: url(../images/bg.png);
}
.bgWhite {
	background: #fff
}
/*loginBox*/
.modal_login {
	margin-top: 20%
}
/*itemProduct*/
.itemProduct {
}
.itemProduct .itemDesc {
}
.itemProduct .btnGroup {
}
.itemProduct .priceGroup {
}
.priceGroup {
	display: table;
	width: 100%;
}
.priceGroup > div {
	display: table-row
}
.newPrice, .oldPrice {
	display: table-cell;
	vertical-align: bottom
}
.newPrice {
	color: red
}
.oldPrice {
	color: #666;
	font-size: 95%;
	float: right;
	vertical-align: bottom
}
.btnGroup {
	text-align: right
}
/*foot*/
.footer {
	width: 100%;
	float: left;
	display: table
}
.f_row {
	width: 100%;
	float: left;
	display: table-row
}
.f_col {
	display: table-cell;
	padding: 5px;
}
.f_col h2 {
	color: #000;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	text-align: left;
	padding-left: 5%;
	font-size: 110%;
}
.f_col a {
	width: 100%;
	float: left;
	padding: 5px 0px;
	text-align: left;
}
.dropdown-menu>li {
	position: relative;
}
.navbar-toggle {
	color: #000;
	padding-top: 0;
	padding-bottom: 0;
}

.side-menu .btn-default:hover, .side-menu .btn-default:focus {
	background-position: 0 0px;
}
/*====================================================*/
/*carousel vertical*/  
.vertical .carousel-inner {
	height: 100%;
}
.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
	top: 0;
}
.carousel.vertical .next {
	top: 400px;
}
.carousel.vertical .prev {
	top: -400px;
}
.carousel.vertical .next.left, .carousel.vertical .prev.right {
	top: 0;
}
.carousel.vertical .active.left {
	top: -400px;
}
.carousel.vertical .active.right {
	top: 400px;
}
.carousel.vertical .item {
	left: 0;
}
/*============================================*/
.logo img, .banner_header img {
	max-width: 100%
}
.banner_header {
	margin-left: 30px
}
.hotlineBox {
	background: url(../images/bg_hotline.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 10px;
	width: 245px
}
.numberPhone {
	padding-left: 65px;
	white-space: pre-line;
	font-weight: bold;
	color: #FF0;
	font-size: 1.2em;
}
.menu_main {
	background: #1694d8; z-index:999999
}
.inputBoder0 {
	border: 0;
}
.frmSearch {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	overflow: hidden;
	border: solid 1px #ddd;
	padding: 2px;
	padding-left: 10px;
	line-height: 25px;
	width: 100%;
}
.btnCust1 {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 26px;
	width: 26px;
	float: right;
	background: #0eabe2;
	text-align: center;
	padding: 0;
}
.white, .white a {
	color: #fff;
}
.red, .red a {
	color: red
}
.ads img {
	width: 100%
}
.shadow {
	-webkit-box-shadow: 0 0 10px 0 #C9C9C9;
	box-shadow: 0 0 10px 0 #C9C9C9;
}
.slider_main {
	margin: 10px;
	-webkit-box-shadow: 0 5px 5px 0 #C9C9C9;
	box-shadow: 0 5px 5px 0 #C9C9C9;
}
/*=====================sideRight============================*/
.sideRight {
	width: 100%;
	float: left;
	background: #f6f6f6
}
.sideRight .ads img {
	background: #fff;
	padding: 5px 0px
}
.box {
	width: 100%;
	float: left;
}
.boxInner {
	padding: 9px;
	overflow: hidden
}
.boxTitle {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	color: #F00;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 40px;
	border-bottom: solid 1px #c6c6c6;
	padding: 0 0px 0 10px;
}
.boxTitle2 {
	color: #F00;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 30px;
	border-bottom: dotted 1px #3f89c3;
	padding: 0 0px 0 10px;
}
.dichVu {
	padding: 0;
	margin: 0;
}
.dichVu li {
	line-height: 35px;
	border-bottom: dotted 1px #3f89c3;
	overflow: hidden;
	text-overflow: ellipsis
}
.dichVu li a {
	white-space: nowrap;
	color: #111;
	text-overflow: ellipsis;
	background: url(../images/li_news_right.png) left no-repeat;
	padding-left: 15px;
}
.pad0 {
	padding: 0
}
.padT {
	padding-top: 10px
}
/*============================================*/
.vanBanPhapQuy {
	vertical-align: middle;
}
.vanBanPhapQuy thead tr {
	background: #ffcb05;
	border-bottom: solid 1px #000;
	color: #000;
	text-transform: uppercase;
}
.vanBanPhapQuy thead th {
	border: 0 !important
}
.iconDown {
	width: 29px;
	height: 22px;
	float: left;
	background-image: url(../images/icon_download.png)
}
.vanBanPhapQuy tr th:nth-child(3) {
	width: 330px
}
.vanBanPhapQuy tr td:nth-child(1), .vanBanPhapQuy tr td:nth-child(2), .vanBanPhapQuy tr td:nth-child(1) a, .vanBanPhapQuy tr td:nth-child(2) a {
	color: #0090e6
}
.doiTac .item {
	float: left
}
.connectBox {
	margin-bottom: 10px;
}
.connectBox h2 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.connectBox h2 span {
	border-bottom: solid 1px #ddd;
}
/*============================================*/
/*Social net work*/
.social_network {
	text-align: center;
	float: left;
}
.social_network a {
	height: 33px;
	width: 40px;
	float: left;
	background: url(../images/social_icon.png) left top no-repeat;
	margin-top: 10px;
}
.social_network .facebook {
	background-position-x: 0px;
}
.social_network .twitter {
	background-position-x: -40px;
}
.social_network .gplus {
	background-position-x: -80px;
}
.social_network .skype {
	background-position-x: -200px;
}
.social_network .instagram {
	background-position-x: -240px;
}
.social_network .youtube {
	background-position-x: -440px;
}
.social_network .pinteres {
	background-position-x: -120px;
}
.social_network .wordpress {
	background-position-x: -600px;
}
.social_network a {
	background-position-y: 0px;
}
.social_network a:hover {
	background-position-y: -33px;
}
.copyRight {
	border-top: solid 1px #ddd;
	line-height: 30px;
}
.onlUser span:nth-child(2+n) {
	margin-left: 10px;
}
.onlUser strong {
	font-weight: bold;
	color: #09F;
	margin-left: 5px
}
.slideDoiTac {
	background: url(../images/bg_slide_s.png) repeat-x;
	background-size: auto 100%;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.slideDoiTac ul.slides li {
	margin-right: 25px !important
}
/*.slideDoiTac .flex-direction-nav .flex-prev{ left:0;opacity: 1;}*/
.slideDoiTac .flex-direction-nav a {
	opacity: 1 !important;
	top: 61%;
}
.slideDoiTac .flex-direction-nav .flex-prev {
	left: -30px;
	opacity: 1 !important
}
.slideDoiTac .flex-direction-nav .flex-next {
	right: -30px;
	opacity: 1 !important
}
.slideDoiTac .flex-direction-nav a:before {
	font-size: 20px;
	color: #F90;
}
/*right_fix*/
.right_fix {
	position: fixed;
	top: 100px;
	left: 1px;
	z-index: 999999999999999
}
.item_r {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 10px
}
.btnsp {
	position: relative; margin-left:-1px;
}
.support_bg {
	display: block;
	position: absolute;
	top: 0;
	width: 230px;
	left: -230px;
	padding: 0 10px 10px 10px;
	background: #FFFFFF;
	border: 1px solid #e0e0e0;
	z-index: 50;
	transition: All 0.7s ease-out;
	-webkit-transition: All 0.7s ease-out;
	-moz-transition: All 0.7s ease-out;
	-o-transition: All 0.7s ease-out;
	opacity: 0;
	visibility: hidden;
	min-height: 142px;
}
.sp1 {
	min-height: 105px;
}
#btnSP1:hover .sp1 {
	opacity: 1;
	visibility: visible;
	left: auto;
	left: 0px;
	top: 0
}
#btnSP2:hover .sp2 {
	opacity: 1;
	visibility: visible;
	left: auto;
	left: 0px;
	top: 0
}
.support_bg p {
	margin: 3px 0
}
.hotline_head {
	font-size: 13px;
	font-weight: 700;
}
.yahoo {
	float: left;
	display: block;
	margin: 10px 0 0 30px;
}
.yahoo span {
	color: #8f8f8f;
	font-size: 11px;
}
.yahoo a {
	display: inline-block;
	width: 70px;
	margin-top: 5px;
	margin-right: 15px;
}
.hotLine {
	color: #FF0000;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 7px 0 10px 20px;
}
.mailSupport {
	color: #4b4b4b;
	float: left;
	font-size: 12px;
	font-weight: 700;
	margin: 7px 0 10px 20px;
}
.optionSupport {
	border-bottom: 1px solid #8C8C8C;
	float: left;
	padding: 8px 0 0;
	width: 100%;
}
.optionSupport a {
	clear: both;
	color: #4b4b4b;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: 10px;
}

.spSmall_fix{ position:fixed; bottom:0; background:#06F; z-index:999999; color:#fff; width:100%; line-height:30px; font-size:1.1em}
.hotlineS{  font-size:1.1em; margin:10px}


/*news*/
.list_news .media-left img{ max-width:200px;}
 /*detail_news*/
 
#detail_news h1 {
	font-size: 16px;
	font-weight: 700;
	color: #223191;
	margin-bottom: 10px;
	text-transform: uppercase;
	 
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#info_g, #info_g p {
	line-height: 160%;
	text-align: justify;
	padding-right:7px
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #ddd;
	font-weight: 500;
	font-size: 14px;
	color: #0081FF;
	text-transform: uppercase;
}
.other_news_sub ul {
	margin: 10px 0 0 0px;
	list-style:none;
	-webkit-padding-start: 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/li_f.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub a.view_all {
	margin-left: 10px;
	color: #0081FF;
}
 
.date {
	color: #878787;
	margin-left:5px;
 
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	white-space: nowrap;
	margin-top:10px;
}
.like_product {
	float: left;
	padding: 0;
	width: 90%;
	margin:5px 0px
 
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	 
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
 .toolbar a i{ margin-right:5px;}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.breadcrumb{ margin-bottom:0}
.caret{ margin-left:5px;}