@charset "utf-8";
/*Left Menu*/
html, body, fieldset {
	margin: 0;
	padding: 0;
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
fieldset {
	background: none;
	border: none;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: top;
}
ul {
	list-style: none;
	margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
	color: #0576e0;
}
a:hover {
	text-decoration: underline;
}
/*Vertical menu*/
#menu_sidebar > ul > li > a:hover {
	color:#f7941e;
}
#menu_sidebar > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 7px 20px 7px 25px;
	font-size: 14px;
}
#menu_sidebar li a {
	border-bottom: 1px solid #CCCCCC
}
#menu_sidebar > ul > li:last-child > a {
	border: none
}
#menu_sidebar > ul > li {
	position:relative;
	background: url(../Images/bits.png) 5px -638px no-repeat;
}
#menu_sidebar > ul > li.active, #menu_sidebar > ul > li:hover {
	background-position: 5px -688px
}
#menu_sidebar > ul > li > ul {
	padding:0px;
	margin:0px;
}
#menu_sidebar > ul > li.active ul {
	display:block;
}
#menu_sidebar > ul > li > ul > li {
	padding-left: 10px;
	position: relative;
	background: #FFFFFF url(../Images/arr_right.gif) 12px 11px no-repeat;
}
#menu_sidebar > ul > li span:hover {
	cursor:pointer;
}
#menu_sidebar > ul > li.active > a {
	color:#C71126;
}
#menu_sidebar > ul > li.active a + ul {
	display: block;
}
#menu_sidebar > ul > li ul > li > a:hover {
	color:#C71126;
}
#menu_sidebar > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#424241;
	padding: 7px 20px 7px 15px;
	border-bottom: 1px solid #cccccc
}
#menu_sidebar > ul > li ul > li.active > a, #menu_sidebar > ul > li ul > li.active > a {
	font-weight:normal;
	color:#3b2c26;
}