/*Vertical*/
.jcarousel-skin-tango .jcarousel-container {
	width: 100%;
	height: 100%;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 100%;
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
	width: 100%;
	height: 240px;
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width:  100%;
	height: auto;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
	width: 100%;
	height: 100%;
}
.jcarousel-skin-tango .jcarousel-item {
	width: 100%;
	height: 310px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
	margin-right: 10px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 0;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
#best_selling {
	padding: 0;
	margin: 10px 0;
}
#best_selling .product {
	float: none;
	width: 180px;
	margin: 0 auto
}
.slider_products .img_product {
	float: left;
	margin-right: 5px;
	border: 1px solid #ececec
}
.slider_products .product_name {
	height: auto;
	text-align: left
}
.slider_products .price {
	font-weight: 500
}
.slider_products .jcarousel-skin-tango .jcarousel-container-vertical {
	height: 272px
}
.slider_products .jcarousel-skin-tango .jcarousel-item {
	height: 70px !important;
	overflow: hidden;
	padding: 10px;
	width: 200px;
	border-bottom: 1px dotted #bfbfbf
}
#thesame_cate_P {
	margin: 0 !important
}
#thesame_cate_P .jcarousel-skin-tango .jcarousel-container-vertical {
	height: 272px
}
#thesame_cate_P .jcarousel-skin-tango .jcarousel-item {
	width: 230px
}
#thesame_cate_P .product {
	width: 100%
}
#thesame_cate_P .img_product {
	border: 1px solid #e0e0e0;
	margin-bottom: 10px
}
#thesame_cate_P .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 15px
}
#thesame_cate_P .f_price { margin: 0 }
/**
 *  Horizontal Buttons*/

#thesame_cate_P .jcarousel-skin-tango .jcarousel-next-horizontal, #thesame_cate_P .jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: -30px;
	width: 6px;
	height: 10px;
	cursor: pointer;
	background-image: url(../Images/arrows_button.png);
	background-repeat: no-repeat;
	z-index: 10;
}
#thesame_cate_P .jcarousel-skin-tango .jcarousel-next-horizontal {
	right: 12px;
	background-position: 0 100%;
}
#thesame_cate_P .jcarousel-skin-tango .jcarousel-prev-horizontal {
	right: 0;
	background-position: 100% 100%;
}
/**
 *  Vertical Buttons
 
.slider_products .jcarousel-skin-tango .jcarousel-next-vertical {
	position: absolute;
	top: -20px;
	right: 0;
	width: 10px;
	height: 5px;
	cursor: pointer;
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 -5px;
}
.slider_products .jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus {
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 -5px;
}
.slider_products .jcarousel-skin-tango .jcarousel-prev-vertical {
	position: absolute;
	top: -30px;
	right: 0;
	width: 10px;
	height: 5px;
	cursor: pointer;
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 0;
}
.slider_products .jcarousel-skin-tango .jcarousel-prev-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
	background: transparent url(../Images/arrows_vslide.png) no-repeat 0 0;
}
.slider_products .product {
	width: 184px;
	height: 218px;
	margin: 10px auto 0 auto;
}
.slider_products .img_product {
	width: 180px;
	height: 180px;
	border: none;
}
.slider_products .product_name a {
	width: 184px
}
