@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
@font-face {
 font-family: 'utm_swiss_condensedregular';
 src: url('../Images/font/utm_swiss_condensed-webfont.eot');
 src: url('../Images/font/utm_swiss_condensed-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/font/utm_swiss_condensed-webfont.woff') format('woff'), url('../Images/font/utm_swiss_condensed-webfont.ttf') format('truetype'), url('../Images/font/utm_swiss_condensed-webfont.svg#utm_swiss_condensed') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'utm_swiss_condensedbold';
 src: url('../Images/font/utm_swiss_condensedbold-webfont.eot');
 src: url('../Images/font/utm_swiss_condensedbold-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/font/utm_swiss_condensedbold-webfont.woff') format('woff'), url('../Images/font/utm_swiss_condensedbold-webfont.ttf') format('truetype'), url('../Images/font/utm_swiss_condensedbold-webfont.svg#utm_swiss_condensedbold') format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#343434;
	background: url(../Images/bg.jpg) 0 0 repeat;
}
a {
	text-decoration: none;
	color: #343434;
}
a:hover {
	text-decoration: underline;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.img_cate {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cdcdd2;
}
input {
	border:none;
}
.inputbox {
	padding: 5px;
	height: 18px;
	line-height: 18px;
}
/* WRAPPER --------*/

#wrapper {
	float: left;
	width:100%;
	margin: 0 auto;
	padding: 0;
}
.page {
	width: 960px;
	padding: 0 20px;
	margin: 0 auto 20px auto;
	border: 1px solid #a1a1a1;
	border-top: none;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	display: block;
	width: 100%;
	margin-top: 20px;
}
.left_content {
	float: left;
	width: 220px;
	margin-right: 20px;
}
.right_content {
	float: right;
	width: 260px;
	margin: 0;
}
.main_content {
	float: left;
	width: 690px;
}
/* HEADER

--------------------------*/
.header {
	float: left;
	width: 100%;
	position: relative;
	background: #FFFFFF;
	padding: 20px 0
}
.logo {
	float: left;
	display: block;
}
.top_link {
	float: right;
	line-height: 30px;
	margin: 0
}
.top_link a {
	padding-left: 3px
}
.icon_cart {
	float: left;
	display: block;
	width: 30px;
	height: 28px;
	background: url(../Images/icon.png) 0 0 no-repeat;
	margin-right: 5px;
}
/* SEARCH */
.search {
	float: right;
	clear: right;
	position: relative;
	width: 169px;
	height: 26px;
	margin-top: 10px;
	background: #FFFFFF;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #001254;
	background: url(../Images/icon.png) 0 -34px no-repeat;
}
.input_Search {
	float: right;
	color: #FFFFFF;
	background: none;
	font: 11px Arial;
	height: 24px;
	line-height: 24px;
	width: 140px;
	padding-left: 5px;
	border: none;
}
.search_btn {
	float: left;
	background: url(../Images/icon.png) -155px 3px no-repeat;
	cursor: pointer;
	height: 26px;
	padding: 0;
	width:50px;
	position: absolute;
	top: 0;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content {
	padding: 4px;
	border: 1px solid #c1c1c1;
}
.line {
	float: left;
	width: 100%;
	border-top: 1px solid #cccbcb;
	margin-bottom: 5px
}
/*Vertical menu*/
.topnav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.topnav li {
	position: relative
}
.topnav li a {
	display: block;
	padding: 8px 5px 8px 12px;
	color: #343434;
	font-style: italic;
	font-weight: 700;
	border-bottom: 1px dotted #aaaaaa;
	background: url(../Images/bullet_circle.png) 0 11px no-repeat;
}
.topnav li a:hover {
	text-decoration: none;
	color: #009049;
}
.topnav ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 999999;
	width: 200px;
	padding: 0 10px;
	background: url(../Images/transparentBg.png) 0 0 repeat;
	-moz-box-shadow: 0 0 5px #dddddd;
	-webkit-box-shadow: 0 0 5px #dddddd;
	box-shadow: 0 0 5px #dddddd;
	height: auto;
}
.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
}
.topnav ul a {
	font-size: 12px;
	font-weight: 700;
	outline:0;
	text-transform: none;
	color: #FFFFFF;
}
.topnav ul a:hover {
	color: #FFFFFF;
}
.topnav > li:last-child > a {
	border: none;
	margin-bottom: 3px;
}
.name_video {
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	margin: 8px 0
}
/*Info Contact*/
#info_contact .box_content {
	padding: 9px
}
.address {
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 10px;
	margin-bottom: 5px
}
.address p {
	margin: 0;
	line-height: 20px
}
.address span {
	float: left;
	display: block;
	width: 20px;
	height: 30px;
	margin-right: 5px;
	background-image: url(../Images/icon.png);
	background-repeat: no-repeat;
	vertical-align: middle
}
.address .icon_home {
	background-position: -88px 0
}
.address .icon_phone {
	background-position: -125px 0
}
.nick_chat a {
	float: left;
	display: block;
	margin: 5px 0
}
/*News Index*/
#news_index {
	width: 240px;
	padding: 10px;
	background: #f0f0f0
}
#news_index .box_Tab_news {
	border-bottom: 1px solid #bfbfbf;
	color: #026fb2;
	font: bold 12px/25px Arial, Helvetica, sans-serif;
	text-transform: uppercase
}
#news_index ul {
	float: left;
	width: 100%;
	border-top: 1px solid #FFFFFF;
	padding-top: 10px
}
#news_index li {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.news_Title {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 3px
}
/*Customers Comments*/
.cus_comment label {
	color: #006fb6;
	font-weight: 700;
	margin-bottom: 10px
}
.cus_comment li {
	float: left;
	width: 45%;
	margin: 10px 30px 0 0;
	padding-bottom: 10px;
	line-height: 160%;
	border-bottom: 1px solid #d9d9d9
}
/*Product*/
.white_Bg {
	border: 1px solid #d1d1d1;
	padding: 1px;
	background: #FFFFFF url(../Images/white_Bg.jpg) bottom left repeat-x
}
.product {
	float: left;
	text-align: center;
	width: 25%;
	height: 240px;
	margin: 10px 0 0 0;
	position: relative;
}
.product_inner {
	width: 150px;
	margin: 0 auto
}
.product_name {
	text-align: center;
	height: auto;
}
.product_name a {
	width: 100%;
	font-size: 12px;
	font-weight: 500;
	height: 40px;
	overflow: hidden;
}
.f_price {
	text-decoration: line-through;
	color: #666666;
	margin: 5px 0;
}
.price {
	color: #fe0000;
	font-weight: 700
}
.cate_products li {
	float: left;
	width: 19.9%;
	border: 1px dotted #cccccc;
	border-top: none;
	border-right: none;
	margin-bottom: 10px
}
.cate_products li:first-child {
	border-left: none
}
.cate_products li .product {
	width: 100%
}
.cate_products .product_inner {
	width: 180px
}
.cate_name {
	text-transform: uppercase;
	font: normal 16px "utm_swiss_condensedregular", Helvetica, sans-serif;
	margin: 10px 0;
	text-align: center
}
/*Tab*/
.box_Tab_index {
	height: 25px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #cccccc;
}
.right_content .box_Tab_index {
	border: none
}
.box_Tab_index span {
	float: left;
	display: block;
	line-height: 25px;
	background: #e00000;
	padding: 0 10px;
	font: bold 12px/25px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}
.white_Bg .box_Tab_index {
	height: 30px;
	margin: 0
}
.white_Bg .box_Tab_index span {
	float: none;
	background: #eaeaea;
	color: #343434;
	line-height: 30px;
}
/*Main Bottom*/	
.main_bot {
	float: left;
	width: 100%;
	height: 360px;
	overflow: hidden;
	margin-bottom: 20px
}
.brands {
	float: left;
	width: 635px
}
.fade_brand {
	float: left;
	width: 305px;
	height: 100%;
	position: relative
}
#fade_brand_perfume {
	margin-left: 20px
}
.title_brand {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	text-align: center
}
/*Vertical text*/
.question, .foreign_rating {
	float: right;
	width: 300px;
	background: #f0f0f0;
	padding: 10px
}
.foreign_rating {
	margin-top: 10px
}
.title_main_bot {
	display: block;
	width: 100%;
	color: #0070b0;
	font: bold 15px/25px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px dotted #cccccc;
	margin-bottom: 10px
}
.scroll-text {
	width: 100%;
	height: 8em;
	overflow: hidden;
}
.scroll-text ul {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0;
}
.scroll-text ul li {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px dotted #b9b9b9;
	background: url(../Images/icon.png) -158px -67px no-repeat;
	padding-left: 42px;
}
.scroll-text p {
	margin: 3px 0
}
/*support*/
div#sticker {
	width:100%;
	z-index: 9999;
}
#beforefooter-support .wraper {
	width:980px;
	padding: 0 10px;
	height:40px;
	line-height: 38px;
	color: #FFFFFF;
	margin:0 auto;
	background: url(../Images/bg_repeat.png) 0 -60px repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 999999;
}
#beforefooter-support {
	position:relative;
}
.stick {
	bottom: 0;
	position: fixed;
}
.transport {
	float: left
}
.hotline {
	float: right;
	font-size: 14px;
	font-weight: 700;
}
.hotline_icon {
	float: left;
	display: block;
	width: 18px;
	height: 40px;
	margin-right: 5px;
	background: url(../Images/icon.png) -48px 10px no-repeat;
}
/*Vertical Menu*/
.nav_menu {
	float:left;
	background: #FFFFFF;
	border: 1px solid #d2d0d1;
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
	width: 218px;
	position: relative;
	min-height: 0;
}
.nav_menu_inner {
	float: left;
	margin: 1px;
	background: #f0eef1
}
.title_cate {
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	font-weight: 700;
	background: url(../Images/green_Tab.png) top right no-repeat
}
.title_cate span {
	padding-left: 20px
}
.m_li {
	cursor: pointer;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 100%;
	border-bottom: 1px dotted #bdbbbc;
}
.m_li:last-child {
	border: none
}
.pc_menu li a {
	font-weight: normal;
	background: url(../Images/icon.png) no-repeat scroll -98px -122px transparent;
	padding-left: 15px;
}
.m_li:hover {
	text-decoration: none;
	z-index: 999999999;
}
.t_menu {
	color: #333132;
	display: block;
	font-weight: 500;
	height: 22px;
	padding: 8px 7px 0 10px;
	text-decoration: none;
	font-weight: 500;
	background: url(../Images/icon.png) no-repeat scroll -95px -115px transparent;
	padding-left: 20px;
}
.t_menu:hover {
	text-decoration: none;
}
.list_categories img {
	margin-top: 4px;
}
.list_categories a {
	font-size: 12px;
	font-weight: normal;
	padding: 2px 3px 2px 15px;
	text-transform: capitalize;
}
.list_categories ul {
	list-style-type: none;
}
.list_categories ul li {
	background: none repeat scroll 0 0 transparent !important;
	border: medium none !important;
	float: none !important;
	font-weight: normal;
	line-height: 20px;
	margin-left: 20px;
	width: 200px;
}
.list_categories ul li span {
}
/*.list_categories {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #0039DE;
    display: none;
    padding-bottom: 10px;
    position: absolute;
    top: 30px;
    width: 560px !important;
    z-index: 99999999;
}*/
.list_categories {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	display: none;
	padding-bottom: 10px;
	position: absolute;
	top: 0;
	height: 416px;
	left: 220px !important;
	width: 750px;
	z-index: 999999999;
}
.pc_menu {
	float: left;
	width: 250px !important;
}
.list_categories p {
	color: #0039de;
	font-size: 13px;
	font-weight: bold;
	margin: 2px 0;
	padding: 2px 5px;
}
.list_categories p a {
	color: #004688;
	font-size: 12px;
	font-weight: bold;
}
.image_cate {
	float: right;
	padding: 10px 0;
	margin: 0 auto;
	display: block;
}
/*Pagination*/
.navigation {
	font-weight: bold;
	margin: 15px auto;
	padding: 0;
	line-height: 20px;
	text-align: right;
	width: 100%;
}
.navigation a {
	padding: 2px 5px;
	color: #444444;
	border-right: 1px solid #333333;
}
.navigation b, .navigation a:hover {
	color: #FFFFFF;
	padding: 2px 5px;
	border-right: 1px solid #017abf;
	background: #017abf;
	text-decoration: none
}
.navigation a:last-child {
	border: none
}
/*List News*/
.list_page {
	float: left;
	padding: 10px 0;
}
.list_page li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
	width: 100%;
}
.list_page .h2Title {
	padding: 0 0 3px 0;
}
.list_page .h2Title a {
	font-size: 14px;
	color: #0070b2;
}
#list_news .h2Title a {
	font-size: 12px;
	color: #333333;
}
.list_page p {
	margin: 0 0 1em 0;
}
.list_page .view_detail {
	font-size: 11px;
	width: 90px;
	float: left;
	margin-top: 10px;
	background: url(../Images/icon.png) 0 -120px no-repeat;
	height: 30px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
}
.list_page .view_detail:hover {
	text-decoration: none
}
.ads img {
	margin-bottom: 10px;
	padding: 4px;
	border: 1px solid #d2d0d1;
}
/*Detail Product*/
.dt_infop p, .detail_info p {
	line-height: 130%;
	margin: 10px 0;
}
.dt_infop {
	float: right;
	width: 318px;
	height: 428px;
	overflow: hidden;
	padding: 10px;
	background: url(../Images/dtinfo_Bg.jpg) 0 0 repeat;
	border: 1px solid #b4d8ee;
}
.h1Title {
	font: normal 20px Arial, Helvetica, sans-serif;
	color: #0070b1;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.row_des {
	float: left;
	width: 100%;
	height: 30px;
	line-height: 30px
}
.r_grey {
	background: url(../Images/grey_transBg.png) 0 0 repeat
}
.title_des {
	float: left;
	width: 40%;
	font-weight: 700
}
.property {
	float: left;
	color: #666666
}
.color img {
	border: 1px solid #666666;
	margin-right: 2px
}
.dt_infop .f_price {
	text-decoration: line-through
}
.dt_price {
	color: #ff0000;
	font-size: 16px;
	font-weight: 700
}
.bt_buy {
	width: 152px;
	height: 52px;
	display: block;
	margin: 20px auto;
	background: url(../Images/icon.png) 0 -168px no-repeat
}
.file_attachments li {
	float: left;
	width: 100%;
	list-style: none;
	margin: 2px 0;
	line-height: 20px
}
/*News Viewed*/
#news_viewed li {
	float: left;
	width: 90%;
	padding: 10px;
	border-bottom: 1px dotted #bfbfbf
}
#news_viewed li:last-child {
	border: none
}
.news_title a {
	font-size: 12px;
	font-weight: 500
}
/*Consulting*/
#accordion .title_consulting {
	font-size: 12px;
	font-weight: 500;
}
#accordion li {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #cdcdcd;
	margin: 5px 0;
	padding-bottom: 10px !important;
}
#accordion .ui-accordion-header-active {
	position: relative
}
#accordion .ui-accordion-header-active a {
	font-weight: 700;
	color: #0070b4
}
#accordion .element {
	background: #FFFFFF;
	border: 1px solid #d9d9d9 !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 15px
}
#accordion .element p {
	background: #f0f0f0;
	padding: 8px !important;
	margin: 1px
}
.ui-accordion-header-active .ui-accordion-header-icon {
	position: absolute;
	bottom: -16px;
	left: 100px;
	display: block;
	width: 36px;
	height: 13px;
	background: url(../Images/tip.png) 0 0 no-repeat;
	z-index: 100
}
/*News Detail*/
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #cccccc -moz-use-text-color;
	border-image: none;
	border-style: dotted none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	font-weight: 700;
	margin-top: 10px;
	position: relative;
	color: #0170b1;
}
.other_news_sub ul {
	margin: 10px 0 20px 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/blue_arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 12px;
}
.view_all {
	float: left;
	background: none !important;
	margin: 10px 0;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	float: left;
	width: 100%;
	text-align: left;
	text-transform: none;
	font-size: 11px;
	margin-bottom: 10px;
}
.path a {
	color: #0070b2;
}
/* Contact */ 
.contactus {
	border-bottom: 1px dotted #CCCCCC;
	background: url(../Images/home-cate-title-bg.png) center bottom no-repeat;
	padding-bottom: 20px;
}
.contactus p {
	margin: 8px 0;
}
.form_contact {
	float: left;
	margin: 0 auto;
	padding: 10px;
	background: url(../Images/advisoryBg.png) repeat scroll 0 44px rgba(0, 0, 0, 0);
}
.form_contact p {
	margin: 0 0 10px 0
}
div.row_contact {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	position: relative;
}
.left_row {
	float: left;
	display: block;
	width: 26%;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
}
.right_row {
	float: left;
	display: block;
	text-align: left;
}
.write_comment label {
	padding: 1px 7px 0;
	position: absolute;
	top: 4px;
	z-index: 1;
	color: #333333;
}
.form_contact .type_option {
	width: 170px;
	padding: 3px 2px;
	height: 25px;
	line-height: 20px;
	border: 1px solid #afafaf;
	font-size: 13px;
}
.form_contact textarea {
	padding: 5px;
	background: #efefef;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
	width: 350px;
	height: 100px;
}
.send_cmt {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-weight: 700;
	color: #FFFFFF;
	margin-top: 10px;
	margin-right: 5px;
	background:#006fb4 url(../Images/bg_repeat.png) 0 0 repeat-x;
	cursor: pointer;
	border: 1px solid #0165a0;
}
.reset_cmt {
	background: #FFFFFF url(../Images/bg_repeat.png) 0 -29px repeat-x;
	border: 1px solid #c1c1c1;
	color: #333333
}
.send_cmt:hover {
	text-decoration: none;
}
.row_contact input {
	width: 350px;
	font: 12px Arial;
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
	background: #efefef;
	border-top: 1px solid #b6b6b6;
	border-left: 1px solid #b6b6b6;
}
.reset {
	text-align: right;
	border: none;
}
.required {
	color: #fe0103;
}
.map {
	float: right
}
.title_office {
	height: 30px;
	border-bottom: 1px solid #dfdfdf
}
.title_office span {
	float: left;
	padding: 0 20px;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	line-height: 30px;
	background: url(../Images/bg_repeat.png) 0 -23px repeat-x;
	font-weight: 700
}
.map img {
	border: 1px solid #dfdfdf;
	border-top: none;
	padding: 4px
}
/*Cart*/
table.page_cart {
	background-color: #dedede;
	border-spacing: 1px;
	margin: 0.5em 0;
}
table.page_cart th {
	color: #FFFFFF
}
table.page_cart th, table.page_cart td {
	padding: 4px
}
table.page_cart td {
	background-color: #FFFFFF;
}
table.page_cart td.product_name {
	color: #783900;
	font-weight: 700
}
#news-container {
	margin-bottom: 10px;
	padding: 0 30px;
}
#news-container .title {
	background-color: #46a9f1;
	border-top: 1px solid #dedede;
	color: #555555;
	font: bold 14px Arial;
	margin: 0.5em 0;
	padding: 10px;
}
.button_payment {
	display: inline-block;
	width: 80px;
	height: 30px;
	background: url(../Images/bg_repeat.png) 0 -120px repeat-x;
	margin-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font: bold 12px Arial;
	line-height: 30px;
	text-align: center;
	cursor:pointer;
}
.button_payment:hover {
	text-decoration: none
}
/*Top Footer*/
.topmenu_footer {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
	margin-bottom: 20px;
	color: #FFFFFF;
	display: table;
}
.topmenu_footer a, .footer a {
	color: #FFFFFF
}
.topmenu_footer p {
	margin: 0;
	line-height: 150%
}
.col_menuFooter {
	display: table-cell;
	padding: 0 20px;
	background: url(../Images/line_fooBg.png) right center no-repeat;
	background-size: 2px 100%;
}
#social_network {
	width: 170px;
	padding-left: 0
}
#access_status, #link_web {
	width: 190px
}
#transport {
	background: none;
	padding-right: 0;
	width: 310px
}
.ctentColuMenuFooter {
	text-align: left;
	width: 100%;
	vertical-align: middle;
}
.col_menuFooter h3 {
	height: 25px;
	line-height: 25px;
	text-align: left;
	color: #ffe400;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}
/*Social Network*/
#social_network span {
	display: inline-block;
	width: 30px;
	height: 32px;
	background-image: url(../Images/icon.png);
	background-repeat: no-repeat;
	padding-right: 3px;
}
.icon_facebook {
	background: url(../Images/icon.png) 0 -68px no-repeat;
}
.icon_twitter {
	background: url(../Images/icon.png) -37px -68px no-repeat;
}
.icon_rss {
	background: url(../Images/icon.png) -74px -68px no-repeat;
}
.icon_gplus {
	background: url(../Images/icon.png) -112px -68px no-repeat;
}
#social_network a:hover {
	text-decoration: none
}
/*Access Status*/
#access_status p {
	clear: both;
	margin: 0 0 2px 0
}
#access_status b {
	float: right;
	width: 80px;
	text-align: left;
	position: relative;
	top: -4px;
	margin: 3px 10px 0 0;
	font-family: Georgia, "Arial, Helvetica, sans-serif", Times, serif;
	font-size: 15px;
	font-weight: 700;
}
/*Link Web*/
#link_web .type_option {
	width: 100%;
	margin: 0 auto;
	padding: 2px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #FFFFFF;
	background: #7bceff;
	font-size: 12px;
}
/*Main Footer*/
.footer {
	float: left;
	width: 100%;
	margin: 0 auto;
	background: #0070b2 url(../Images/bg_repeat.png) 0 -118px repeat-x;
	color: #FFFFFF;
	border-top: 2px solid #268ed1;
}
.menu_footer {
	width: 1000px;
	margin: 0 auto;
	text-align: center
}
.menu_footer a {
	display: inline-block;
	background: url(../Images/line_foomenuBg.png) top left no-repeat;
	padding: 0 10px;
	margin: 5px 0;
	height: 30px;
	line-height: 30px;
	font-size: 11px;
	font-weight: 700
}
.menu_footer a:first-child {
	background: none
}
.info_footer {
	float: left;
	width: 60%
}
.copyright {
	float: right;
	clear: right;
	font-size: 11px;
	text-align: right;
	color: #FFFFFF;
}
