@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	min-width: 1000px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h1 {
	font-size: 1.3em;
}
.clear {
	clear: both;
	display: none;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
#pagewrap {
	width: 1000px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
.fr{ float:right;}
.fl{float:left;}
/*=====================header=====================*/
#header {
	height: 136px;
	width: 100%;
	background: url(../Images/bgtop.png) no-repeat -1px center;
	/*font-size: 15px;*/
	color: #fff;
	font-weight: bold;
	position: relative;
}
#logo {
	position: absolute;
	left: 285px;
	top: 0;
}
.company-name {
	position: absolute;
	left: 447;
	top: 27;
}
#header .headercol1 {
	width: 290px;
	float: left;
	min-height: 135px;
}
#header .headercol2 {
	width: 100px;
	float: left;
	min-height: 135px;
}
.box-hotline {
	width: 300px;
	text-align: left;
	float: left;
	margin-top: 40px;
	font-size: 20px;
	padding-left: 15px;
}
.box-infoheader {
	float: right;
	text-align: center;
	width: 300px;
	min-height: 115px;
	color: #fff;
	font-weight: bold;
	position: relative;
	margin-right: 20px;
}
.box-infoheader a, .box-infoheader a:visited {
	color: #fff;
}
.baner {
	width: 100%;
	margin: 0;
	float: left;
}
/*=============================menu header=============================*/
.wraptop {
	width: 100%;
	float: left;
	min-height: 115px;
	margin-top: 0px;
}
nav {
	position: relative;
	position: relative;
	z-index: 1;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 100%;
	float: left;
}
nav ul {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.menutop {
	width: 100%;
	float: left;
	min-height: 115px;
}
.menutop li {
	float: left;
	position: relative;
	min-width: 30%;
	text-align: center;
}
.menutop li a:hover {
}
/* Dropdown styles */

.menutop ul {
	position: absolute;
	/*display:none;*/
	list-style: none !important;
	opacity: 0;
	transition: opacity 0.1s ease;
	width: 100%;
	display:none;
}
.box-danhmuc .menutop, .box-danhmuc .wraptop {
	min-height: 0px !important;
	height: 0px;
}
.menutop h1:hover ul, .menutop img:hover ul, .menutop:first-child:hover ul {
	display: block;
}
.menu-index-page .menutop ul, .menu-index-page ul {
	display: block !important;
	opacity: 100;
}
.menutop ul li {
	float: none;
	width: 100px;
	min-height: 30px;
}
.menutop ul {
}
.menutop .box-timkiem {
	background: url(../Images/kinh.png) right top no-repeat;
	float: right;
	width: 33px;
	height: 33px;
	position: absolute;
	top: 40px;
	right: 0;
}
.menutop li:hover ul {
	left: 0;
	opacity: 1;
	background: #fff;
}
.box-timkiem ul {
	height: 50px;
	width: 220px;
	color: #333;
	text-align: center;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: -110px !important;
	margin-top: -10px !important;
}
.menutop .detail-box {
	width: 150px;
	text-align: left;
	margin-top: 15px;
	margin-right: 10px;
	float: left;
	text-align: center;
}
.box-timkiem .detail-box {
	width: 98% !important;
	float: left;
}
.box-dangnhap ul {
	min-height: 160px;
	width: 195px;
	border-radius: 5px;
	text-align: left;
	float: left;
	color: #333;
	position: absolute;
	top: 15px;
	left: 0;
	display: none;
}
.box-dangnhap:hover ul {
	display: block;
}
.box-dangnhap .detail-box {
	width: 180px;
	margin-left: 15px;
	float: left;
	padding-bottom: 10px;
}
.box-dangnhap .thongtindangnhap {
	width: 100%;
	float: left;
}
.box-dangnhap .rowdn {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.box-dangnhap .rowspass {
	text-align: left;
}
.box-dangnhap .rowuser {
	text-align: left;
}
.box-dangnhap .rowdn input[type="text"] {
	width: 90%;
	float: left;
	height: 20px;
}
.box-dangnhap ul .taotaikhoan {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
.box-dangnhap ul .taotaikhoan a {
	color: red;
	font-weight: bold;
}
.btn-search {
	width: 50px;
	height: 25px;
	float: right;
	background: #0191C6;
	color: #fff;
	line-height: 25px;
	border: 1px solid #fafafa;
	font-weight: bold;
	float: left;
}
input[type="text"] {
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 2px;
}
.box-timkiem input[type="text"] {
	width: 150px;
	height: 25px;
	float: left;
	display: block;
	background-color: #fff;
	border: solid 1px #ccc;
	margin-left: 10px;
	float: left;
	border-radius: 0px;
	margin-bottom: 10px;
}
.menutop .line {
	width: 280px;
	float: left;
}
.menutop .box-dangnhap {
	float: right;
	margin-left: 0px;
	margin-top: 10px;
	width: 90px;
	position: absolute;
	right: 0;
	bottom: 7;
}
.menutop .box-dangnhap .btndangnhap {
	width: 90%;
	height: 30px;
	background: #3A5898;
	line-height: 30px;
	color: #fff;
	margin-top: 5px;
	text-align: center;
}
.menutop .box-dangnhap #dangnhap {
	height: 30px;
	margin-top: 10px;
	background: #FF7A01;
	line-height: 30px;
}
.menutop .box-giohang {
	float: right;
	position: absolute;
	left: 100;
	bottom: 7;
	margin-left: 0px;
	width: 90px;
}
.box-danhmuc {
	width: 285px;
	text-align: left;
	float: left;
	position: absolute;
	top: 110px;
}
.danhmuc-dropdown {
	height: 57px;
	width: 285px;
	color: #FFF;
	background: url(../Images/DANHMUC.png) bottom left no-repeat;
	margin-top: -32px;
}
.danhmuc-dropdown #ul-boxmenu {
	float: left;
	width: 286px;
	background-color: #fff;
	margin-top: 55px !important;
	margin-left: 2px;
	border-top: none;
	margin-left: -1px;
}
.danhmuc-dropdown img {
	float: left;
	padding: 20px;
}
.danhmuc-dropdown h1 {
	font-size: 20px;
	color: #fff;
	float: left;
}
#baner1 .ul-boxmenu {
	display: block !important;
}
/*=====================slide=====================*/
#baner1 {
	width: 100%;
	float: left;
	position: relative;
}
#baner1 .baner1-col2 {
	float: right !important;
	width: 709px;
}
#baner .col {
	float: left;
}
#baner1 #colslide {
	float: right !important;
	width: 709px;
	height: 413px;
	background: url(../Images/silde1.jpg) no-repeat center top;
}
#baner1 #col-products1 {
	float: right !important;
	width: 100%;
	height: 425px;
}
.product_row li:nth-child(3n+2) .product {
	float: none;
	margin: 0 auto;
}
#baner2 {
	width: 100%;
	height: 380px;
	float: left;
	margin-top: 10px;
}
#baner2 .baner2-box {
	float: left;
	width: 270px;
	border: solid 1px #ccc;
}
#baner2 #box-tintuc {
	float: left;
	height: 380px;
	width: 445px;
	/*background: url(../Images/news.jpg) no-repeat center center;*/
	text-align: left;
}
#baner2 #box-tintuc .tinnoibat {
	width: 100%;
	float: left;
}
#baner2 #box-tintuc h3 a {
	color: #000;
	width: 100%;
}
#baner2 #box-tintuc #detail-box-tintuc {
	width: 90%;
	margin-left: 20px;
	float: left;
}
#baner2 #box-tintuc img {
	width: 240px;
	height: 165px;
	float: left;
}
#baner2 #box-tintuc .text-tintuc {
	width: 140px;
	float: right;
	text-align: justify;
}
#baner2 #box-tintuc .text-tintuc a {
	float: right;/*	font-size: 14px;*/
}
#baner2 #box-tintuc .tintuc-lienquan {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#baner2 #box-tintuc .tintuc-lienquan row {
	width: 100%;
	float: left;
	min-height: 20px;
	margin-top: 5px;
	padding-left: 30px;
	background: url(../Images/icon-tinlienquan.png) no-repeat left top;
}
#baner2 #box-tintuc .tintuc-lienquan row a {
	/*	font-size: 14px;*/
	color: #000;
}
#baner2 #box-tintuc .tintuc-lienquan row a:visited {
	color: #000;
}
#baner2 .box-sanphamnoibat {
	float: left;
	width: 265px;
	height: 380px;
	font-size: 1.2em;
}
#baner2 .box-sanphamnoibat .box-img {
	width: 100%;
	height: 290px;
	float: left;
}
#baner2 .box-sanphamnoibat .text {
	width: 100%;
	height: 88px;
	float: left;
	background: #EDEDED;
	color: #000;
	text-align: center;
	/*	font-size: 16px;*/
	vertical-align: middle;
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;/*word-spacing:5px;*/
}
#baner2 .box-mid {
	margin-left: 12px;
}
#baner3 {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#baner4 {
	float: left;
	widows: 100%;
	padding: 0px;
}
.product_row {
	width: 100%;
	float: left
}
.product_row ul {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}
.product_row img {
	height: 210px;
	width: 315px;
	padding: 10px;
}
.product_row .topbox {
	width: 100%;
	text-align: center;
	background: #EDEDED;
	padding: 10px;
}
.product_row h1 {
	/*	font-size: 20px;*/
	text-transform: uppercase;
	width: 100%;
	padding: 5px 0px 5px;
	line-height: 0px;
	font-weight: normal;
}
.product_row .hinhanh-sanpham {
	float: left;
	width: 100%;
	background: #fff;
}
.product_row .hinhanh-sanpham img {
	float: left;
	padding: 10px;
	padding-bottom: 0px;
}
.product_row .thongtin-sanpham {
	width: 100%;
	float: left;
	background: #fff;
}
.product_row .thongtin-sanpham .text {
	text-align: left;
	color: #000;
	/*	font-size: 16px;*/
	float: left;
	width: 90%;
	min-height: 40px;
	margin-left: 20px;
	padding-top: 10px;
}
.product_row .thongtin-sanpham .box-btn {
	float: left;
	width: 100%;
}
.product_row .thongtin-sanpham .price {
	text-align: center;
	/*	color: #0190C8;*/
	/*	font-size: 16px;*/
	float: left;
	width: 100%;
	/*	font-size: 20px;*/
	padding-bottom: 5px;
}
.product_row .thongtin-sanpham . {
 width: 100px;
 height: 25px;
 float: left;
 background: #0191C6;
 color: #fff;
/*	font-size: 16px;*/
	border: 1px solid #fafafa;
 border-radius: 5px;
 margin-left: 35px;
 line-height: 25px;
}
#baner4 {
}
#top-main {
	height: 40px;
	background: #0191c6;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	padding-left: 20px;
}
.box-end {
	float: right !important;
}
/*=====================slide=====================*/
#slide {
}
/*=====================content=====================*/
#content {
	width: 60%;
	float: left;
	background: #fff;
	min-height: 600px;
	height: 600px;
}
#content-detail {
	overflow: auto;
	width: 100%;
	height: 600px;
}
/*=====================footer=====================*/
#footer {
	width: 100%;
	float: left;
	margin-top: 10px;
	position: relative;
	z-index: 99999;
}
#footer .row {
	width: 100%;
	float: left;
}
#footer #row1 {
	background: #E3E3E3;
	height: 40px;
	padding-left: 20px;
}
#footer #row1 h1 {
	color: #004863;
	float: left;
}
#footer #row1 .col-share {
	width: 140px;
	float: right;
	text-align: right;
	margin-top: 5px;
	margin-right: 15px;
}
#footer #row1 img {
	width: 30px;
	height: 30px;
}
#footer #row2 {
	background: #0191C6;
	height: 40px;
}
#footer #row2 .col {
	width: 25%;
	float: left;/*	font-size: 20px;*/
}
#footer #row2 .col a {
	color: #fff;
}
#footer #row2 .col-first {
	margin-left: 20px;
}
#footer #row2 .col-share {
	width: 20%;
	float: right;
	margin-top: 5px;
	margin-right: 15px;
}
#footer #row2 .col-share img {
	width: 30px;
	height: 30px;
}
#footer #row3 {
	background: #004863;
	height: 70px;
	text-align: center;
	/*font-size: 20px;*/
	color: #fff;
}
#footer #row3 b {
	text-transform: uppercase;
	padding-top: 20px;
}
a {
	text-decoration: none;
}
a:hover {
	color: #CCC;
}
.icon {
	float: right;
	margin-left: 10px;
}
#footer #row3 #info-footer {
	margin-top: 10px;
	float: left;
	width: 100%;
}
/*===============================cart===================================*/

#baner1 #cart {
	float: right !important;
	width: 100%;
	text-align: center;
}
.detail-cart {
}
#cart img {
	height: 60px;
}
#cart a img {
	width: 20px;
	height: 20px;
}
#cart table {
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	float: left;
}
#cart h1 {
	border-bottom: dotted 1px #333;
	color: #666;
	padding-top: 40px;
	padding-bottom: 10px;
	width: 98%;
}
#cart tr {
	border-left: solid #35A4D3 1px;
}
#cart td {
	border: solid #35A4D3 1px;
	color: #333;
	font-size: 0.8em;
	border-top: 0;
	border-left: 0;
}
#cart .th>td {
	background: #35A4D3;
	color: #fff !important;
	height: 30px !important;
	font-weight: normal !important;
}
#cart .tdf {
	border-left: solid #35A4D3 1px;
}
#cart .btn a {
	text-decoration: none;
}
.div-btn-right {
	float: right;
	position: relative;
	right: 10px;
	margin-right: 15px;
}
.btn {
	text-align: center;
	width: 110px;
	height: 30px;
	margin-top: 5px;
	margin-left: 20px;
	color: #fff;
	float: left;
	line-height: 30px;
	float: left;
	margin-bottom: 10px;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#58BAE4), to(#006185));
	background-image: -webkit-linear-gradient(left, #58BAE4, #006185);
	background-image: -moz-linear-gradient(left, #58BAE4, #006185);
	background-image: -o-linear-gradient(left, #58BAE4, #006185);
	background-image: linear-gradient(to bottom, #58BAE4, #006185);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#cart .btn {
	text-align: center;
	width: 130px;
	height: 30px;
	font-size: 1em;
	margin-top: 5px;
	margin-left: 10px;
	color: #fff;
	float: left;
	line-height: 30px;
	float: left;
	margin-bottom: 10px;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#58BAE4), to(#006185));
	background-image: -webkit-linear-gradient(left, #58BAE4, #006185);
	background-image: -moz-linear-gradient(left, #58BAE4, #006185);
	background-image: -o-linear-gradient(left, #58BAE4, #006185);
	background-image: linear-gradient(to bottom, #58BAE4, #006185);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#cart #sum {
	text-align: right;
	padding-right: 20px;
	color: red;
	font-size: 15px;
	font-weight: bold;
	widht: 98%;
	height: 30px;
	line-height: 30px;
	float: right;
	margin-right: 20px;
}
#cart input[type="text"] {
	width: 30px;
	height: 20px;
	display: block;
	background-color: #fff;
	border: solid 1px #ccc;
	margin-left: 30%;
}
#cart input[type="button"] {
	border: 1px;
}
/*============================chi tiet san pham ========================*/
#product-detail {
}
#product-detail #product-detail-slide {
	width: 48%;
	float: left;
}
#product-detail #product-detail-info {
	width: 50%;
	float: right;
}
#product-detail #product-detail-info h2 {
	color: #06F;
	/*font-size:25px;*/
	float: left;
}
#product-detail #product-detail-info .text-pro {
	/*font-size:16px;*/
	color: #333;
	width: 90%;
	float: left;
}
#product-detail #product-detail-info .price-pro {
	width: 30%;
	float: left;
	margin-top: 20px;
}
#product-detail #product-detail-info .percent-pro {
	width: 20%;
	float: left;
	min-height: 44px;
	margin-top: 20px;
	/*font-size:23px;*/
	color: #fff;
	text-align: center;
	background: url(../Images/icon-percent.png) left center no-repeat;
	line-height: 33px;
	padding-right: 15px;
}
#product-detail #product-detail-info .share-pro {
	width: 30%;
	float: right;
	margin-top: 20px;
}
#product-detail #product-detail-info .price-pro .old-price {
	width: 100%;
	float: left;
	/*font-size:16px;*/
	text-decoration: line-through;
}
#product-detail #product-detail-info .price-pro .new-price {
	width: 100%;
	float: left;
	font-size: 1.4em;
	color: red;
}
#product-detail #product-detail-info .btnlike {
	text-align: center;
	width: 50px;
	height: 20px;
	font-size: 10px;
	margin-top: 5px;
	margin-left: 5px;
	color: #fff;
	float: left;
	line-height: 20px;
	float: left;
	margin-bottom: 10px;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#4A67B8), to(#3E59A5));
	background-image: -webkit-linear-gradient(left, #4A67B8, #3E59A5);
	background-image: -moz-linear-gradient(left, #4A67B8, #3E59A5);
	background-image: -o-linear-gradient(left, #4A67B8, #3E59A5);
	background-image: linear-gradient(to bottom, #4A67B8, #3E59A5);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
}
#product-detail #product-detail-info .btnmua {
	clear: both;
	text-align: center;
	width: 120px;
	height: 30px;
	/*font-size: 15px;*/
	margin-top: 15px;
	margin-left: 30%;
	color: #fff;
	float: left;
	line-height: 30px;
	float: left;
	margin-bottom: 10px;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#0191C6), to(#006286));
	background-image: -webkit-linear-gradient(left, #0191C6, #006286);
	background-image: -moz-linear-gradient(left, #0191C6, #006286);
	background-image: -o-linear-gradient(left, #0191C6, #006286);
	background-image: linear-gradient(to bottom, #0191C6, #006286);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.chonsoluong {
	width: 100%;
	height: 60px;
	background: #EDEDED;
	color: #333;
	font-size: 14px;
	vertical-align: middle;
	float: left;
	margin-top: 20px;
	line-height: 50px;
}
.chonsoluong img {
	width: 70px;
	padding: 5px;
	float: left;
	padding-right: 20px;
}
.chonsoluong price {
	color: #333;
	/*font-size:18px;*/
	margin-left: 30px;
	font-weight: bold;
}
.chonsoluong select {
	width: 50px;
	height: 30px;
	display: block;
	background-color: #fff;
	border: solid 1px #333;
	margin-left: 10px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

#text_info_detail {
	width: 70%; border: solid 1px #ccc;
	padding:10px;
}
#the_same_P{ width:28%;}
.box{ width:100%; float:left; margin-top:20px;}
.box_Tab {
height: 30px;
line-height: 30px;
border-bottom: 1px solid #ccc;
margin-bottom:20px;

}
.path, .path a {
    color: #0191C6;
    height: 20px;
    line-height: 20px;
}
.path {
    padding: 8px 0px;
    text-align: left;
}
.box_Tab span {
    float: left;
    line-height: 34px;
    font-size: 16px;
    font-weight: 500;
    color: #0191C6;
    text-transform: uppercase;
}


/*==================new============================*/
#news-detail {
	margin: 15px;
	text-align: justify;
	line-height: 18px;
	margin-bottom: 20px;
	/*font-size:15px;*/
	color: #333;
}
#news-detail #text-new-detail img {
	border: solid 0px #666666;
	max-width: 99%;
	margin-left: 1%;
}
#news-detail special {
	/*font-size:18px;*/
	padding-bottom: 20px;
	line-height: 20px;
	color: #09F;
}
#news-detail .share {
	height: 30px;
	margin-top: 10px;
}
#news-detail .share img {
	float: left;
}
#news-detail .share #print {
	float: right;
}
#news-detail .share #social {
	float: left;
}
#news-detail .news-other {
	clear: both;
	margin-top: 20px;
	line-height: 20px;
}
.news-other h4{

padding-bottom: 3px;
margin: 10px 0px;
position: relative;
border-bottom: 1px solid #606060;
font-weight: 500;
font-size: 16px;}
#news-detail .news-other a {
	color: #930;
	text-decoration: none;
	font-weight: bold;
}
#news-detail .news-other date {
	font-size: 10px;
}
.content-news-detail {
	background-color: #fff;
}
/*============================*/
.bottom-page {
	width: 100%;
	float: left;
	position: relative;
	z-index: 2;
}
.bottom-page1 {
	height: 75px;
	margin-top: -300px;
	background: #E3E3E3;
}
.bottom-page2 {
	height: 75px;
	margin-top: -225px;
	background: #0191C6;
}
.bottom-page3 {
	height: 150px;
	margin-top: -150px;
	background: #004863;
}
/*--------------------danhmuc tin tucws-------------------*/
.side-bar {
	width: 27%;
	float: right;
}
.side-bar .quangcao-khuyenmai {
	margin-top: 15px;
	float: left;
	width: 100%;
}
.side-bar .quangcao-khuyenmai img {
	width: 100%;
}
.danhmutintuc {
	width: 100%;
	float: left;
	background: #F2F2F2;
}
.detail-danhmutintuc {
	width: 100%;
	float: left;
}
.detail-danhmutintuc .line-news {
	width: 100%;
	border-bottom: solid 1px #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
	float: left;
	background-image: linear-gradient(#F6F6F6, #D5D5D5);
	padding-left: 5%;
}
.detail-danhmutintuc .line-news-end {
	border-bottom: dotted 0px #666;
}
.detail-danhmutintuc .line-news img {
	height: 70px;
	width: 70px;
	float: right;
	margin-right: 0px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.detail-danhmutintuc .text-news {
	color: #333;
	font-size: 12px;
	float: left;
	width: 70%;
	text-align: left;
}
.detail-danhmutintuc .text-news a {
	text-decoration: none;
	color: #000;
	font-size: 13px;
}
.detail-danhmutintuc .text-news .date {
	width: 100%;
	color: #333;
	font-size: 10px;
	margin-top: 10px;
}
.price, .price h1, .new-price h1 {
	font-weight: bold !important;
	color: red;
	font-size: 1.3em;
}
.product_row li {
	float: left;
	width: 33.3%;
	margin-top: 15px;
}
.product_row li li {
	border: solid 0px #ccc;
}
.product_row li .product {
	float: left;
	position: relative;
	width: 95%;
	overflow: hidden;
	border: solid 1px #ccc;
}
.product_row li:nth-child(3n+3) .product {
	float: right
}
.product_row li:nth-child(3n+2) .product {
	float: none;
	margin: 0 auto
}
#baner2 .product_row {
	width: 550px;
	float: right;
}
#baner2 .product_row li {
	width: 270px;
	float: left;
}
#baner2 .product_row img {
	height: 225px;
}
#baner2 li {
	border: solid 1px #ccc;
	margin-top: 0px;
	height: 377px;
	margin-left: 5px;
	float: right;
}
#baner2 li ul li {
	border: solid 0px #ccc;
	margin-top: 0;
	height: auto;
	margin: 0;
}
#baner2 .product_row .text {
	width: 100%;
	text-align: center;
	padding: 10px;
	background: #EDEDED;
	float: left;
	height: 75px;
	margin-top: 20px;
}
.product_row li:nth-child(3n+3) .product {
	float: right
}
.product_row li:nth-child(3n+2) .product {
	float: none;
	margin: 0 auto
}
ul {
	list-style: none !important;
}

#the_same_P .product_row li { width:100%; float:left;}
#the_same_P  .box_ct { padding:20px; color:#333;}
#the_same_P  .product_row li{ margin-top:0px;}

/*Pagination*/
.number-page-link {
	text-align: center;
	width: 100%;
	float: right;
}
.number-page-link li:hover {
	background: #999;
}

.number-page-link .navigation {
	float: left;
	clear: both;
	font-weight: 700;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
.number-page-link .navigation a {
	display: inline-block;
	border: 1px solid #0191C6;
	margin: 0 2px;
	padding: 4px 8px;
	color: #0191C6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.number-page-link .navigation b, .navigation a:hover {
	display: inline-block;
	background: #09F;
	border: 1px solid #ccc;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*News*/
#list_news a{ color:#0191C6;}
#list_news { width:100%; float:left; }
#list_news ul { width:100%; float:left; margin:0 !important; padding:0px !important;}
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	margin:0 !important; padding:0px !important;
}
#list_news h3 {
	padding: 0 0 3px 0;
	color:#09F;
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news img {
	border: 0px solid #09F;
	padding: 3px;
	max-width: 150px;
	height: auto;
	float:left;
	padding-right:20px;
}
#info_g, #info_g p {
	line-height: 160%
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	padding-bottom:10px;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 0px;
	padding:0px;}
.other_news_sub ul li {
	padding: 4px 0;
	padding-left:0px;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}

/*=============================news===============================*/
#news {
	width: 70%;
	float: left;
}
#news-page {
	width: 100%;
	float: left;
}


.icon_social_nework {
	width: 200px;
	height: 30px;
	float: right
}
.icon_social_nework a {
	width: 30px;
	height: 30px;
	background: url(../Images/icon_social_network.png) left top no-repeat;
	float: left;
	margin-left:5px;
}
.icon_social_nework .facebook {
	background-position: -60px 0px;
}
.icon_social_nework .gplus {
	background-position: -90px 0px;
}
.icon_social_nework .yahoo {
	background-position: top left;
}
.icon_social_nework .skype {
	background-position: -120px 0px;
}
.icon_social_nework .youtube {
	background-position: -30px 0px;
}