@charset "utf-8";
/* CSS Document */

/* BLOCK */

.block {
	clear: both;
	margin: 0 0 5px 0;
}
div.blockcontent {
	background:#FFF;
	padding: 10px 5px;
	margin: 0;
	background: #FFF url(../Images/block_bg.png) bottom left repeat-x;
	border: none;
}
.block h3.blocktitle {
	margin: 0;
	color:#FFF;
	padding:6px 0 0 25px;
	height: 24px;
	background: url(../Images/block_title.png) top left repeat-x;
	font-size: 14px;
	font-weight: bold;
}
.block h3.main_title {
	font-size: 14px;
	color: #27597a;
	padding-left: 25px;
	background: url(../Images/main_title.png) top left no-repeat;
}
.block h3.main_title span {
	color: #ff0000;
}
.block h3.title {
	font-size: 14px;
	padding: 5px 5px 0 10px;
	padding-bottom: 3px;

	border-bottom: 1px solid #e3e3e3;
}
.block h3.bestsell {
	background: none;
	border: none;
	background: #FFF;
	width: 33.5%;
	font-size: 14px;
}
.block .sell_off { background:url(../Images/popular_bg.png) top left no-repeat; padding: 5px 0;}

.block #play { float: right; line-height: 18px; margin-right: 10px; margin-top: -25px;}

.block #play img { border: none;}

.block #play a { padding: 5px;}


div.itemproduct_inner {
	padding:7px;
}
div.item_image {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	min-width:120px;
	height:110px;
}
div.item_image img {
	display:block;
	margin:auto;
}
div.item_name {
	min-height:36px;
	margin:10px 0 5px;
}
div.itemproduct_inner:hover {
}
div.itemproduct_inner div.item_image, div.itemproduct_inner:hover div.item_image {
	border: none;
	background: url(/templates/zt_opis25/images/item_image.png) top left no-repeat;
}
div.itemproduct_inner:hover div.item_name a {
	color:#E10707;
}
div.pagenav .pre-scroll,  div.pagenav .next-scroll {
	width:18px;
	height:30px;
	position:absolute;
	display:block;
	background:url(../images/pagenav.png) no-repeat 0 bottom;
	top: 40%;
}
div.pagenav .pre-scroll {
	left: 10px;
}
div.pagenav .next-scroll {
	right: 10px;
	background-position: right bottom
}
div.pagenav .pre-scroll:hover {
	background-position: left top;
}
div.pagenav .next-scroll:hover {
	background-position: right top;
}
.block .general { line-height: 25px; }

/* PRODUCT LIST */

.list { width: 100%; float: left;}

.list  .row {
	
	width: 100%;

	margin: 0;
	
	clear: both;

}

.list .cate { float: left; width: 20%; padding: 0;}
.sell_off .cate { width: 100%; }
.sell_off .cate .product { width: 145px; margin: 0 auto; }
.list  .cate .product {height: 180px; margin: 0 auto; padding: 5px 5px 10px 5px;}
/* Product image */

.list .product_image {display:block;padding:0; border: 1px solid #3a9cc4; margin: 0 auto;}

.list .product_image a { display: block;overflow:hidden;}

/* Product name */ 

.list .product .product_name ,

.list .product .name { text-align: center;display:block;margin:0;height:18px; color: #000; font-size:13px;}

.list .product .product_name a {

	color: #000;

	font-weight: 100;

}

/* Product company, price */

.list .cate_price { float: right; width: 100%; background: none; color: #d91a1c; line-height: 20px; text-align: center;}

/* NAVIGATION */

.navigation {  width: auto; text-align: center; padding-top: 10px; margin: 5px auto;}

.navigation a { padding: 5px 10px; background: #f3f3f3; border: 1px solid #e3e3e3; color: #3e3e3e;}

.navigation a:hover { color: #000;}

.navigation a.previous { background: #f3f3f3 url(../Images/pre.png) center left no-repeat; border: 1px solid #e3e3e3; color: #3e3e3e; padding-left: 20px;}

.navigation a.next {background: #f3f3f3 url(../Images/next.png) center right no-repeat; border: 1px solid #e3e3e3; color: #3e3e3e; padding-right: 20px;}