/* COMMON STYLE

--------------------------------------------------------- */

html,body,fieldset {margin: 0;padding: 0;}



body {margin: 0;padding: 0;}

body#bd {	font-size: 13px;

	font-family: Tahoma;

	color:#3e3e3e;
	
	background: #6296b8 url(../Images/bg.jpg) top left no-repeat;
	
	line-height: 18px;
	background-attachment: fixed;
}

a { text-decoration: none;  color: #1c7bc6;}

a:hover { text-decoration: underline;}

.clearfix:after {

	content: ".";

	display: block;

	height: 0;

	clear: both;

	visibility: hidden;

	line-height:0;



}

.clearfix {display: inline-block;}


* html .clearfix { height: 1%;}

.clearfix {display: block; clear: both;}

img{border: none;}

h1 {font-size: 20px;}

h2 {font-size: 14px;}

h3 {font-size: 13px;}

h4 {font-size: 13px;}

ul {list-style: none;}

ul li.active{ border-left: none;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0;

	padding: 0;

}
/* WRAPPER --------*/

#wrapper {margin: 0; padding: 0; width: 100%; }

#page {width: 1000px; margin: 0 auto;}

.top_page {
    float: right;
	line-height:normal;
	width: 100%;
	height: 30px;
	background: #057dda;
	position: fixed;
	z-index: 999;
	}
.top_page .top_page_inner {
	width: 1000px;
	margin: 0 auto;
	text-align: right;
}
.top_page, .top_page a { color: #FFFFFF; }
.hotline { float: left; width: 20%; text-align: left; color: #fdf23f; padding-top: 4px;}
.cart { margin-right: 20px; }
.top_page img { margin-right: 5px; }
/* LAYOUT

--------------------------*/

#main {float: left; margin: 0 auto; display: block; width: 100%; clear: both;}

#sidebar {width: 200px; margin: 0 5px 5px 0; float: left; }

#content {width: 795px;float: right;}

/* HEADER

--------------------------*/

#header {width: 100%; height: 110px; display: inline-block; margin-top: 30px;}

#header-inner { float: left; padding: 5px 0; width: 100%;}

/* LOGO ---------*/

#logo { float: left; width: 50%; height: auto; margin: 0;}
#logo .logo_image { float: left; width: 100px; margin-right: 10px; }
#logo .name_shop { margin-top: 20px; margin-left: 110px;}

/* Search */
.search { float: right; width: 50%; margin-top: 30px; }
.searchform {
float: right;
position: relative;
border:none;
height:40px;
background: url(../Images/search_bg.png) top left no-repeat;
}
.searchform input[type=text] 
{
width:340px;
height:30px;
border:0px;
background:none;
float:left;
border: 1px thin #cccccc;
margin:5px;padding:0;
}
.searchform input[type=submit] 
{
float:right;
margin:0;
width: 40px;
height:40px;
border: none;
background: url(../Images/btn_search.png) 0px 5px no-repeat;
}
/* MENU NGANG */

#nav
{
	float: left;
	clear: both;
	width: 1000px;
	margin: 5px 0;
	height: 40px;
	font-size: 0.9em;
	background: url(../Images/bar_bg.png) top left repeat-x;
}
ul.menu
{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
ul.menu li
{
	float: left;
	margin: 0 auto;
	height: 40px;	
}
ul.menu li a
{
	width: auto;
	padding: 10px 10px 0 10px;
	height: 30px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	display: block;
	float: left;	
	text-align: left;
	background: url(../Images/space.png) top right no-repeat;
}
ul.menu li.last a { background: none;}
ul.menu li a:hover, ul.menu li.active a:hover, ul.menu li.active a
{
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	background: url(../Images/menu_hover.png) top left repeat-x;
}

/* BLOCK */

.border_bottom { border-bottom: 1px solid #e3e3e3;}

.block .nopadding {padding: 0;}

.block .padding {padding: 5px 5px 0 5px;}

.block .padding1 {padding: 10px}

.block .padding2 {padding: 5px;}

.block .margin1 { margin: 0 5px; }

.block .nopadding_bottom { padding-bottom: 0;}

.block .nomargin_top {margin-top: 0;}

.block .padding_top {padding-top: 5px;}

.block .nobackground {background: none;}

.block .noborder {border: none;}

.block .noborder_bottom {border-bottom: none;}

.block .noborder_right {border-right: none;}

.block .noborder_top {border-top: none;}

.block .justify { text-align: justify;}

.block .line_height { line-height: 25px;}

.block .right_round_bottom { background: url(../Images/corner/right-corner-bottom.png) bottom right no-repeat; height: 3px;}

.block .left_round_bottom { background: url(../Images/corner/left-corner-bottom.png) bottom left no-repeat; height: 3px;}

.block .line_round_bottom { background: url(../Images/corner/line-bottom.png) bottom left repeat-x; height: 3px; margin: 0 5px;}

.block .right_round_top { background: url(../Images/corner/right-corner-top.png) right 13px no-repeat; height: 16px;}

.block .left_round_top { background: url(../Images/corner/left-corner-top.png) left 13px no-repeat; height: 16px;}

.block .line_round_top { background: url(../Images/corner/line-top.png) left 13px repeat-x; height: 16px; margin: 0 5px;}

/* MENU SIDEBAR */

.sidebarmenu { background: #ffffff;}

.sidebarmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: nomal 13px Verdana;
	width: 190px; /* Width menu_level 1 */
	z-index: 1;
	padding: 5px;
}
.sidebarmenu ul li {
	position: relative;
}

.sidebarmenu ul li a {
	display: block;
	overflow: auto; 
	text-decoration: none;
	padding: 6px;
	border-bottom: 1px solid #6ccbf7;
	color: #1c7bc6;
}
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active, .sidebarmenu ul li a:hover {
	background: url(../Images/arrow_menu.png) left 8px no-repeat;
	padding-left: 15px;
}
.sidebarmenu ul li a:visited {
}
.sidebarmenu ul li a:hover {
	background: url(../Images/menu_hover.png) top left repeat-x;
}
/*Sub level menu items */
.sidebarmenu ul li ul {
	position: absolute;
	width: 190px; /* Width menu_level 2, 3 */
	top: -1px;
	visibility: hidden;
	background: #2d8ebb;
}
.sidebarmenu a.subfolderstyle {
	background: #f3f3f3;
}


/* LIST PRODUCT */

.inputbox {
	
	border: 1px solid #a8a8a8;

	padding: 5px 3px;

}

textarea { border: 1px solid #e5e5e5; width: 680px; height: 60px;}

label { margin-right: 8px;}

/* BACK TO TOP */
#toTop {
		width:50px;
        background: #FFF ;
        text-align:center;
        padding:5px;
        position:fixed; /* this is the magic */
        bottom:10px; /* together with this to put the div at the bottom*/
        right:10px;
        cursor:pointer;
        display:none;  
}

/* HOVER STYLES */
div#pop-up {
background: #e9e9e9;	
display: none;
position: absolute;
width: 200px;
padding: 10px;
color: #000000;
font-size: 13px;
line-height: 16px;
}
#pop-up .like { background:url(../Images/heart.png) top left no-repeat; padding-left: 25px; line-height: 25px; margin: 10px 0 0 5px;}


/* THONG TIN */
.boxgrid{ 
				width: 180px; 		
				float:left; 
				overflow: hidden; 
				position: relative; 
				font-size: 11px;
				line-height: 16px;
			}								
			.boxcaption{ 
				float: left; 
				position: absolute; 
				height: 240px; 
				padding: 5px 10px;
				width: 90%; 
				background:#f7f8ed; 
				opacity: .9;
				/* For IE 5-7 */
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
				/* For IE 8 */
				-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 			}
			.boxgrid p {color: #000000;
			font-size: 11px;
			line-height: 16px;
			}
			.boxgrid p span { color: #002398;}
			  .boxgrid .sell_off { color: #F00; font-size: 10px;}
			
/* FOOTER

--------------------------*/

#footer { float: left; clear:both; width: 100%; color:#fcee05; font-size: 13px;}

#footer a { color: #fcee05;}

#footer_top { margin: 0 auto; width: 1000px; margin: 10px 0;}

#footer_bottom { margin: 0 auto; width: 1000px; margin-top: 10px;background: url(../Images/footer_bg.png) top left repeat-x; padding: 10px 0;}

#footer_inner { margin: 0 auto; width: 990px; padding: 10px;}

#footer img {float: left; width: 79px; height: 52px; padding: 0 20px 0 0;}

#footer .block { float: left; width: 100%; height: auto;}

.block h2 { background: none; border: none; line-height: 18px; color: #000; font-weight: normal; margin-bottom: 9px;}