/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/*Macbook pro 1440x900*/
/*================================================== */
 @media only screen and (min-width: 1366px) and (max-width: 1440px) {
}
/*Some laptop 1366x768*/
/*================================================== */
 @media only screen and (min-width: 1280px) and (max-width: 1366px) {
}
/*Macbook air 1280x800*/
/*================================================== */
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
/*Most netbook 1024x600*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
}
/*Most Ipad 1024x768*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
}
/*IPhone 4 960x640*/
/*================================================== */
 @media only screen and (max-width: 960px) {
#projects_page .one-third.column {
width: 50%
}
}
 @media only screen and (min-width: 768px) and (max-width: 960px) {
	 #main_content { width: 65% !important }
	 #sidebar { width: 35% !important }
}
/*Google nexus one 4 800x480*/
/*================================================== */
 @media only screen and (max-width: 767px) {
body {
 font-size: 90%;
}
.inner_side {
padding: 0
}
#menu_wrap .container {
width: 100%
}
/*Header*/
#header.container .two.columns {
width: 28%;
}
#header.container .thirteen.columns {
width: 72%
}
/*Support*/
.container-spp {
	top: 10px
}
.title-contact p {
height: 37px;
background: url(../Images/support_mobile_icon.png) 0 0 no-repeat
}
#projects_page .one-third.column {
width: 100%;
}
.project_item {
margin: 10px;
border: none;
border-bottom: 1px dotted #000000;
padding-bottom: 10px;
margin-bottom: 10px
}
.project_item .img_project {
float: left;
width: 35%;
height: auto;
margin-right: 15px;
background: #FFFFFF
}
.project_item h2 {
height: auto;
text-align: left
}
.project_item .title_project {
margin: 0
}
/*Customers*/
#customers {
position: relative
}
/*Footer Columns*/
#footer_r {
text-align: left
}
#footer_r > div {
margin: 15px 0 0 0
}
}
@media only screen and (max-width: 639px) {
/*Header*/
header .container .twelve.columns, header .container .four.columns {
width: 100%
}
}
/*Meizu M8 one 4 720x480*/
/*================================================== */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
}
/*IPhone 3G 480x320*/
/*================================================== */
 @media only screen and (max-width: 480px) {
 #header {
padding-bottom: 0
}
#header.container .two.columns, #header.container .thirteen.columns {
 width: 100%;
text-align: center
}
.head_hotline {
position: relative;
clear: both
}
#list_news .img_general {
display: block;
width: 100%;
padding: 0;
margin-right: 0;
margin-bottom: 10px;
border: none
}
.lSAction > a {
 opacity: 0;
}
#lightSlider:hover .lSAction > a {
 opacity: 1;
}
#customers-caro li a {
height: 80px
}
.like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
}

/*Mobile*/
/*================================================== */
 @media only screen and (max-width: 320px) {
body {
overflow-x: hidden
}
.tab li {
 margin-top: 10px
}
.modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove  
		comment brackets */
