/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial;
	color:#000000;
	background: url(../Images/bg.jpg) top center repeat;
}
a {
	text-decoration: none;
	color: #005baa;
}
a:hover {
	text-decoration: underline;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #cacaca;
	padding: 5px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
	background: url(../Images/wrapper_bg.png) top center repeat-y;
}
.page {
	width: 1000px;
	pading: 0;
	margin: 0 auto;
}
.top_page {
	float: left;
	width: 100%;
	background: #FFFFFF;
}
.page_inner {
	margin: 0 auto;
	width: 1000px;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin-top: 10px;
	display: block;
	width: 100%;
	clear: both;
}
.left_content, .main_content {
	background: #FFFFFF;
	-moz-box-shadow: 0 0 4px #666666;
	-webkit-box-shadow: 0 0 4px #666666;
	box-shadow: 0 0 4px #666666;
}
.left_content {
	float: left;
	width: 235px;
	padding: 0;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.main_content {
	float: right;
	width: 725px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* HEADER

--------------------------*/
.header {
	padding: 10px 0;
	position: relative;
}
.logo {
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
/*Top Main*/
.top_main_banner {
	float: left;
	width: 100%;
	margin-bottom: 5px;
}
.banner_scroll {
	position: absolute;
	top: 155px;
}
/* SEARCH TOP MAIN */
.search {
	position: absolute;
	top: 10px;
	right: 0;
	height: 30px;
	overflow: hidden;
	width: 200px;
	-moz-box-shadow:inset 2px 5px 9px #000000;
	-webkit-box-shadow:inset 2px 5px 9px #000000;
	box-shadow:inset 2px 5px 9px #000000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
}
.search .input_Search {
	border: medium none;
	color: #000000;
	float: left;
	font: 12px arial;
	height: 24px;
	line-height: 24px;
	padding: 2px 0 2px 5px;
	width: 500px;
}
.search .search_btn {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 34px;
	height: 26px;
	background: url(../Images/icon.png) 0 -132px no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.cart {
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content_center {
	background: #ffffff;
	padding: 5px;
}
/* MENU SIDEBAR */
.accordion {
	font: bold 13px Arial, sans-serif;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.accordion ul a {
	padding-left: 40px;
	background-position: 28px 13px;
}
.accordion, .accordion li {
	margin: 0;
	padding: 0;
	border: none;
}
.accordion a {
	padding: 10px 10px 10px 20px;
	background: #ececec url(../Images/arrow_left.png) no-repeat 10px 13px;
	text-decoration:none;
	display: block;
	color: #333;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	position: relative;
	text-shadow: 1px 1px 1px #fff;
}
.accordion a.dcjq-parent, .accordion a.dcjq-parent:hover {
	background: #D7D4D4 url(../Images/bg_repeat.png) repeat-x 0 -80px;
}
.accordion a.dcjq-parent.active {
}
.accordion a .dcjq-icon {
	position: absolute;
	top: 50%;
	left: 8px;
	width: 34px;
	margin-top: -17px;
	height: 34px;
	background: url(../Images/arrow_left.png) no-repeat 0 -14px;
}
.accordion a.dcjq-parent.active .dcjq-icon {
	background: url(../Images/arrow_left.png) no-repeat 0 -40px;
}
.accordion a:hover {
	background: #D7D4D4 url(../Images/bg_repeat.png) repeat-x 0 -80px;
	color: #990000;
}
.accordion a:active {
}
/* Create arrow right */
.arrow_right {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ffffff;
	top: 30%;
	right: -10px;
}
/* Create arrow down */
.arrow_down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f74203;
	position: absolute;
	top: 45%;
	right: 0;
}
.arrow_down1 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFF;
	position: absolute;
	top: 45%;
	right: 14%;
}
/*Tab*/
.box_Tab {
	width: 100%;
	height: 30px;
	background: url(../Images/bg_repeat.png) 0 0 repeat-x;
}
.box_Tab span {
	text-align: left;
	font-weight: 700;
	line-height: 30px;
	color: #ff0000;
	text-transform: uppercase;
	padding-left: 10px;
	font-size: 1.1em;
}
/*Support*/
.number_phone {
	display: block;
	padding-top: 10px;
	font-size: 18px;
	color: #FF0000;
	font-weight: 700;
	clear: both
}
#support .hotline {
	width: 100px;
	height: 60px;
	padding-left: 65px;
	font-size: 15px;
	text-align: center;
	background:  url(../Images/htline_icon.png) 5px 8px no-repeat;
}
#support ul li {
	float: left;
	width: 30%;
	margin-left: 5px;
	text-align: center;
}
#support ul li a {
	float: left;
	padding-top: 8px;
}
#support label {
	color: #3e3e3e;
	font-weight: 700;
	font-size: 13px;
}
#support p, #news_index p {
	margin: 0;
}
/*Link Web*/
#link_web {
	margin: 0 auto;
}
#link_web .type_option {
	width: 215px;
	margin: 5px;
}
/*Ads*/
.ads {
	text-align: center;
}
.ads img {
	margin-bottom: 10px;
}
/*News index*/
#news_index li {
	float: left;
	margin: 5px 0;
}
#news_index p {
	line-height: 15px;
}
/*Pagination*/
.navigation {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	line-height: 20px;
}
.navigation a {
	border: 1px solid #dfdfdd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 3px 8px;
	color: #ff6700;
	background: url(../Images/bg_repeat.png) 0 -42px repeat-x;
}
.navigation b, .navigation a:hover {
	background: #f99239;
	border: 1px solid #f99239;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*News*/
#list_services ul {
	float: left;
	padding: 10px 0;
}
#list_services > ul > li {
	border-bottom: 1px solid #e3e4e3;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_services .service_content {
	float: right;
	width: 520px;
}
#list_services .view_more {
	position: relative;
	z-index: 100;
	margin-top: 10px;
	float: right;
	background: url(../Images/bg_repeat.png) 0 -40px repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #b8b8b8;
	color: #3e3e3e;
	width: 70px;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}
#list_services .h2Title {
	padding: 0 0 3px 0;
}
#list_services .h2Title a {
	font-size: 18px;
	font-weight: 700;
	text-transform: none;
	color: #005baa;
}
#list_services p {
	margin: 0 0 1em 0;
	color: #3e3e3e;
	line-height: 150%
}
#list_services img {
	border: medium none;
}
#list_services .sub_list_services {
	width: 100%;
	border-top: 1px solid #DEDEDE;
	margin-top: -10px;
	padding-top: 8px;
	position: relative;
	z-index: 2;
}
#list_services .sub_list_services li {
	float: left;
	width: 100%;
	margin: 4px 0
}
#list_services .sub_list_services li a {
	background: url(../Images/cicle_bullet_icon.png) no-repeat scroll left 2px rgba(0, 0, 0, 0);
	color: #005baa;
	float: left;
	padding-left: 14px;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_general {
	float: left;
	padding-top: 10px;
	width: 100%;
}
.dt_price {
	color: #FF0000;
	font-size: 18px;
	text-decoration: none;
	font-weight: 700;
}
.dt_fprice {
	text-decoration: line-through;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/cicle_bullet_icon.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	float: left;
	width: 715px;
	background: none repeat scroll 0 0 #f3f3f3;
	font-weight: 500;
	margin-bottom: 5px;
	padding: 5px;
	text-align: left;
	text-transform: none;
	font-size: 12px;
}
/*Footer*/
.footer {
	clear: both;
	float: left;
	margin-top: 10px;
	padding: 10px 0;
	width: 100%;
	color: #3e3e3e;
}
.footer p {
	margin: 0 0 3px 0;
	padding: 0;
}
.info_footer {
	float: left;
	width: 60%;
	font: normal 12px Arial;
	text-align: left;
}
.copyright {
	float: right;
	width: 40%;
	margin: 0;
	font-size: 11px;
	line-height: 30px;
	text-align: right;
	padding-top: 10px;
}
