#nav, #cssmenu {
	height: 44px;
	background: #a10b71 url(../Images/menuBg.gif) 0 0 repeat-x;
}
#cssmenu {
	position: relative;
}
#cssmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#cssmenu:after, #cssmenu ul:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#cssmenu ul, #cssmenu li, #cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}
#cssmenu > ul {
	position: relative;
	display: block;
	z-index: 500;
}
#cssmenu > ul > li {
	float: left;
	display:inline-block;
	margin: 0;
	padding-left: 2px;
	background: url(../Images/space_menu.png) 0 center no-repeat
}
#cssmenu > ul > li:first-child {
	background: none;
	padding: 0
}
#cssmenu ul li a {
	display: block;
	text-decoration: none;
}
#cssmenu > ul > li > a {
	white-space: nowrap;
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0 15px;
	line-height: 44px;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
}
#cssmenu > ul > li.active > a, #cssmenu > ul > li:hover > a {
	background: url(../Images/menu_hoverBg.gif) 0 0 repeat-x;
	color: #FFFFFF
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 35px;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background:#dc0f8b;
	
}
#cssmenu ul ul ul {
	top: 44px;
}
#cssmenu ul ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 200px
}
#cssmenu > ul > li:hover > ul {
	left: auto;
	top: 44px;
	opacity: 1;
	
}
#cssmenu ul ul li:hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
	background:#ba0d76;
}
#cssmenu ul ul li a {
	border-bottom: 1px dotted #FFFFFF;
	filter: none;
	font-size: 100%;
	display: block;
	line-height: 100%;
	padding: 10px;
	color: #FFFFFF;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
#cssmenu ul ul li:hover > a {
	background: #f8f7f7; /* Old browsers */
	
	color: #111111;
}