@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 21px/1.4 'UTMAptimaRegular', Helvetica, sans-serif;
	background: #FFFFFF; /*url(../Images/bg_body.gif) 0 0 repeat;*/
	color: #FFFFFF;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
@font-face {
 font-family: 'UTMAptimaRegular';
 src: url('../Images/Fonts/utmaptima.eot');
 src: url('../Images/Fonts/utmaptima.eot') format('embedded-opentype'), url('../Images/Fonts/utmaptima.woff2') format('woff2'), url('../Images/Fonts/utmaptima.woff') format('woff'), url('../Images/Fonts/utmaptima.ttf') format('truetype'), url('../Images/Fonts/utmaptima.svg#UTMAptimaRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'UTM Akashi Regular';
 src: url('../Images/Fonts/utm_akashi-webfont.eot');
 src: url('../Images/Fonts/utm_akashi-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/utm_akashi-webfont.woff') format('woff'), url('../Images/Fonts/utm_akashi-webfont.ttf') format('truetype'), url('../Images/Fonts/utm_akashi-webfont.svg#utm_akashiregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {
	text-decoration: none;
	color: #fffc00
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 125%;
}
h2 {
	font-size: 170%;
}
h3 {
	font-size: 120%;
}
h4 {
	font-size: 80%;
}
ol, ul {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.link_title, .link_title a {
	color: #2a2827;
}
.inputbox {
	border: 1px solid #848484;
	height: 25px;
	line-height: 25px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none
}
.show {
	display: block
}
.trans {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
.font2 {
	font-family: 'UTM Akashi Regular', Arial, Helvetica, sans-serif
}
.name_web {
	text-indent: -999px;
	visibility: hidden;
	height: 0
}
/* WRAPPER --------*/
.wrap {
	width: 1000px;
	padding: 10px 0;
	margin: 0 auto;
	position: relative;
	background: #21ade4;
}
/* LAYOUT

--------------------------*/
#main {
	padding: 6px;
	margin: 0 10px;
	background: #FFFFFF
}
#main #col_left {
	width: 77%
}
#main #col_right {
	width: 22%;
}
#main #vertical_menu {
	width: 30%
}
#main #right_content {
	width: 69%;
	background: #FFFFFF;
	color: #111111
}
#right_ct_box {
	padding: 10px 20px
}
.wrap:after, #header:after, #footer:after, #main:after, .box_ct:after, .pagination:after, #recruitment:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
/* HEADER

--------------------------*/
#header {
	position: relative;
	height: 200px;
	background: url(../Images/headerBg.png) 0 28px no-repeat
}
#logo {
	position: absolute;
	left: 10px;
	width: 50%;
	text-align: center
}
#logo img {
	max-width: 86%;
	max-height: 200px
}
#header_r {
	margin-top: 10px;
	margin-right: 10px
}
/*Language*/
#lang {
	margin-left: 50px;
}
div#lang #tv, div#lang #ta {
	float: left;
	cursor:pointer;
	display: inline-block;
	margin-left: -6px;
}
.recruitment, .recruitment:hover {
	position: absolute;
	top: 60px;
	right: 10px;
	width: 198px;
	height: 41px;
	line-height: 48px;
	text-align: right;
	font-size: 1.3em;
	color: #FFFFFF;
	text-transform: uppercase
}
.slimScrollBar {
	border: 2px solid #c0c0c0 !important;
	right: 1px !important
}
.scrollbar {
	margin-right: 20px
}
/*Social Network*/
#support {
	margin-right: 10px
}
#support a {
	display: inline-block;
	margin-right: 5px;
	margin-top: -4px;
}
#support span {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-image: url(../Images/support_icon.png);
	background-repeat: no-repeat;
}
#support .facebook {
	background-position: 0 0
}
#support .icon_skype {
	background-position: -35px 0
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
	background: #21ade4
}
.box_ct {
	padding: 10px;
}
/*Ads*/
.ads img {
	max-width: 100%;
	height: auto;
}
#ads_right_home {
	width: 350px
}
/*Tab*/
.box_Tab {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 1.4em;
	position: relative;
	background: #0c69b2;
	border-bottom: 3px solid #FFFFFF;
	text-transform: uppercase;
	color: #FFFFFF;
}
.box_Tab_main {
	font-size: 20px;
	font-weight: 500;
	height: 35px;
	line-height: 35px;
	background: url(../Images/box_TabBg_l.gif) 0 0 repeat-x;
	padding-left: 10px;
	color: #FFFFFF;
	position: relative;
	text-transform: uppercase
}
#col_right .box_Tab {
	font-size: 16px;
	font-weight: 700;
	line-height: 35px;
	padding-left: 10px
}
/*Categories Home*/
h2.title_cate {
	font-weight: 500;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.need_to_know {
	width: 570px;
	height: 270px;
	overflow: hidden;
	background: #21ade4;
	padding: 15px 20px
}
.need_to_know li {
	float: left;
	width: 100%
}
.need_to_know h3 {
	font-size: 1.2em;
}
.need_to_know .img_general {
	display: block;
	width: 250px;
	height: 190px;
}
.need_to_know img {
	width: 100%;
	height: auto
}
.need_to_know p {
	margin: 5px 0;
	text-align: justify;
	height: 90px;
	overflow: hidden
}
.readmore {
	float: right;
	margin-top: 8px;
	text-decoration: underline
}
.readmore:hover {
	text-decoration: none
}
/*Process Order*/
/* keyframes */
@-webkit-keyframes blurFadeDown {
 0% {
 opacity: 0;
 -webkit-transform: translateY(-130px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0px);
}
}
@-moz-keyframes blurFadeDown {
 0% {
 opacity: 0;
 -moz-transform: translateY(-130px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0px);
}
}
@-ms-keyframes blurFadeDown {
 0% {
 opacity: 0;
 -ms-transform: translateY(-130px);
}
 100% {
 opacity: 1;
 -ms-transform: translateX(0px);
}
}
@-webkit-keyframes blurFadeUp {
 0% {
 opacity: 0;
 -webkit-transform: translateY(130px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0px);
}
}
@-moz-keyframes blurFadeUp {
 0% {
 opacity: 0;
 -moz-transform: translateY(130px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0px);
}
}
@-ms-keyframes blurFadeUp {
 0% {
 opacity: 0;
 -ms-transform: translateY(130px);
}
 100% {
 opacity: 1;
 -ms-transform: translateX(0px);
}
}
 @-webkit-keyframes blurFadeRight {
 0% {
 opacity: 0;
 -webkit-transform: translateX(-50px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateX(0px);
}
}
@-moz-keyframes blurFadeRight {
 0% {
 opacity: 0;
 -moz-transform: translateX(-50px);
}
 100% {
 opacity: 1;
 -moz-transform: translateX(0px);
}
}
@-ms-keyframes blurFadeRight {
 0% {
 opacity: 0;
 -ms-transform: translateX(-50px);
}
 100% {
 opacity: 1;
 -ms-transform: translateX(0px);
}
}
.tab {
	-webkit-animation: blurFadeDown 0.4s ease-in 0.8s backwards;
 -moz-animation: blurFadeDown 0.4s ease-in .8s backwards;
 -ms-animation: blurFadeDown 0.4s ease-in .8s backwards;
}
.tabContents {
	-webkit-animation: blurFadeUp 0.4s ease-in 0.8s backwards;
 -moz-animation: blurFadeUp 0.4s ease-in .8s backwards;
 -ms-animation: blurFadeUp 0.4s ease-in .8s backwards;
}
#process_order {
	position: relative;
}
.tab {
	height: 180px
}
.tab li {
	float: left;
	width: 16.6%;
	text-align: center;
	background: url(../Images/arr_step.png) right 55% no-repeat
}
.tab li:last-child { background: none }
.tabContents div {
	display:none;
	padding:0;
}
#tab01 {
	display:block;
}
.description {
	color: #FFF;
	text-align: justify
}
.number {
	width: 145px;
	height: 145px;
	text-align: center;
	margin: 20px auto 0 auto;
	display: inline-block;
	position: relative
}
.hi_icon_wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	color: #fff;
}
 @-webkit-keyframes spinAround {
 from {
 -webkit-transform: rotate(0deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
 -moz-transform: rotate(0deg); /* Fx 3.5-15 */
 -ms-transform: rotate(0deg); /* IE 9 */
 -o-transform: rotate(0deg); /* Op 10.5-12 */
 transform: rotate(0deg); /* Fx 16+, IE 10+ */
}
to {
	-webkit-transform: rotate(360deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
	-moz-transform: rotate(360deg); /* Fx 3.5-15 */
	-ms-transform: rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg); /* Op 10.5-12 */
	transform: rotate(360deg); /* Fx 16+, IE 10+ */
}
}
@-moz-keyframes spinAround {
 from {
 -webkit-transform: rotate(0deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
 -moz-transform: rotate(0deg); /* Fx 3.5-15 */
 -ms-transform: rotate(0deg); /* IE 9 */
 -o-transform: rotate(0deg); /* Op 10.5-12 */
 transform: rotate(0deg); /* Fx 16+, IE 10+ */
}
to {
	-webkit-transform: rotate(360deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
	-moz-transform: rotate(360deg); /* Fx 3.5-15 */
	-ms-transform: rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg); /* Op 10.5-12 */
	transform: rotate(360deg); /* Fx 16+, IE 10+ */
}
}
@keyframes spinAround {
 from {
 -webkit-transform: rotate(0deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
 -moz-transform: rotate(0deg); /* Fx 3.5-15 */
 -ms-transform: rotate(0deg); /* IE 9 */
 -o-transform: rotate(0deg); /* Op 10.5-12 */
 transform: rotate(0deg); /* Fx 16+, IE 10+ */
}
to {
	-webkit-transform: rotate(360deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
	-moz-transform: rotate(360deg); /* Fx 3.5-15 */
	-ms-transform: rotate(360deg); /* IE 9 */
	-o-transform: rotate(360deg); /* Op 10.5-12 */
	transform: rotate(360deg); /* Fx 16+, IE 10+ */
}
}
/* Effect 6 */
.hi-icon {
	/*-webkit-transition: background 0.3s, color 0.3s;
	-moz-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;*/
	transition: All 1s ease-out;
	-webkit-transition: All 1s ease-out;
	-moz-transition: All 1s ease-out;
	-o-transition: All 1s ease-out;
	-ms-transform: All 1s ease-out;
}
.order1 {
	background: url(../Images/number1.png) center center no-repeat;
	background-size: 70% 70%
}
.order2 {
	background: url(../Images/number2.png) center center no-repeat;
	background-size: 70% 70%
}
.order3 {
	background: url(../Images/number3.png) center center no-repeat;
	background-size: 70% 70%
}
.order4 {
	background: url(../Images/number4.png) center center no-repeat;
	background-size: 70% 70%
}
.order5 {
	background: url(../Images/number5.png) center center no-repeat;
	background-size: 70% 70%
}
.order6 {
	background: url(../Images/number6.png) center center no-repeat;
	background-size: 70% 70%
}
.tab li:hover .hi-icon {
	/*-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;*/
		-webkit-transform: scale(1.5) rotate(360deg); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
	-moz-transform: scale(1.5)  rotate(360deg); /* Fx 3.5-15 */
	-ms-transform: scale(1.5)  rotate(360deg); /* IE 9 */
	-o-transform: scale(1.5)  rotate(360deg); /* Op 10.5-12 */
	transform: scale(1.5)  rotate(360deg); /* Fx 16+, IE 10+ */
}

#process_order p {
	margin: 20px
}
/*Vertical menu*/
#vertical_menu li {
	float: left;
	width: 100%
}
#vertical_menu li a {
	display: block;
	padding: 5px 0 5px 20px;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: 700
}
#vertical_menu li:hover a, #vertical_menu li.active a {
	background: url(../Images/menu_hoverBg.png) 0 0 repeat-y
}
/*Pagination*/
.pagination {
	width:80%;
	margin:auto;
	margin-top:20px;
	text-align: center
}
.pagination a {
	display:inline-block;
	padding:8px 15px;
	background:#c8e6fd;
	color:#333333;
	text-align:center;
	margin-left:2px;
	font-size:15px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:hover, .pagination a.active {
	background:#0d6bb2;
	color:#FFF;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:first-child {
	border-radius:100px 0 0 100px;
	-webkit-border-radius:100px 0 0 100px;
	-moz-border-radius:100px 0 0 100px;
}
.pagination a:last-child {
	border-radius:0 100px 100px 0;
	-webkit-border-radius:0 100px 100px 0;
	-moz-border-radius:0 100px 100px 0;
}
/*News*/
#list_news {
	padding: 15px
}
#list_news li {
	float: left;
	position: relative;
	width: 46%;
	padding: 10px;
	margin-bottom: 10px;
}
#list_news li:nth-child(2n+2) {
float: right;
}
#list_news li:nth-child(2n+1) {
clear: both;
}
#list_news .h3Title {
	display: block;
	padding-bottom: 5px;
	font-size: 18px;
}
#list_news p {
	margin: 0 0 1em 0;
	text-align: justify
}
#list_news .img_general {
	width: 200px;
	height: 150px;
	overflow: hidden;
	height: auto;
	position: relative
}
#list_news .img_general:hover, #list_news .img_general:hover img {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
}
#list_news img {
	max-width: 100%;
	height: auto
}
#list_news .img_general:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
#list_news .img_general:hover span {
	border: 5px solid #004da4;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/*Detail News*/
#info_g {
	padding: 10px 0;
}
#info_g, #info_g p {
	line-height: 160%
}
#info_g img {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
#info_g img:hover {
	opacity: .7
}
.h1Title {
	font-size: 1.4em;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}
#right_content .h1Title {
	color: #0d6bb2
}
.date {
	color: #fffc00;
	font-size: 12px;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 5px
}
a.email {
	background-position: 0 -29px
}
a.opinion {
	background-position: 0 -69px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #FFFFFF;
	font-weight: 700;
	font-size: 18px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arr_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 10px;
	font-size: 95%
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #fffc00;
}
/*List Projects*/
#list_projects li {
	float:left;
	width: 33.3%;
	margin: 10px 0 5px 0
}
#list_projects li:nth-child(3n+2) .project_item {
float: none;
margin: 0 auto
}
#list_projects li:nth-child(3n+3) .project_item {
float: right
}
.project_item {
	float: left;
	width: 94%;
	position: relative;
}
.project_item .img_project {
	display: block;
	width: 100%;
	height: 250px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.project_item img {
	width: auto;
	height: 100%
}
.project_item .project_name {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #FFFFFF;
}
.project_item .project_name a {
	font-size: 1em;
	text-transform: uppercase;
	color: #3a3d44
}
.project_item:hover .project_name {
	bottom: 30%;
	padding-top: 20px
}
.project_item .overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
	display: block;
	opacity: 0;
	position: absolute;
	top: 0;
	height: 100%;
	position: absolute;
	transition: all 250ms linear 0s;
	width: 100%;
}
.project_item .detail_icon {
	background: url(../Images/messagebox_info.png) no-repeat scroll 50% 50% rgba(255, 255, 255, 1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	content: "";
	display: block;
	height: 50px;
	left: 48%;
	margin: -13px 0 0 -13px;
	position: absolute;
	top: 10%;
	width: 50px;
	-webkit-transition:all 300ms linear !important;
	-moz-transition:all 300ms linear !important;
	-o-transition:all 300ms linear !important;
	transition:all 300ms linear !important;
	z-index: 50
}
.project_item:hover .overlay {
	opacity: 1;
	background:transparent;
	background: url(../Images/black40.png) 0 0 repeat;
	-webkit-transition:all 300ms linear !important;
	-moz-transition:all 300ms linear !important;
	-o-transition:all 300ms linear !important;
	transition:all 300ms linear !important;
}
.project_item:hover .detail_icon {
	oaacity: 1;
	top: 42%
}
/*Current Path*/
.current_path {
	margin: 5px 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCCCCC
}
.current_path a, .current_path {
	font-size: 100%;
	font-weight: 500;
	color: #222222
}
.current_path .spSeperator {
	background: url(../Images/arrow_on.png) 10px 3px no-repeat;
	height: 10px;
	padding: 0 10px;
	width: 8px;
	display: inline-block;
}
/*Main Footer*/
#footer {
	background: #0d6bb2;
	padding: 0 20px;
	margin: 10px 10px 0 10px;
}
#footer, #footer a {
	color: #FFFFFF
}
#footer p {
	margin: 0.2em 0
}
/*Intro*/
#intro {
	width: 54%;
	margin-top: 10px
}
#slide_intro {
	width: 100%0%;
	height: 300px;
	text-align: center;
	margin-top: 20px;
	position: relative
}
.slides_container {
	width:100%;
	height:100%;
	display:block;
}
.slide_item {
	float:left;
	width:520px;
	height:100%;
}
.slide_item a {
	display: block !important;
	width:100%;
	height:100%;
	background: url(../Images/boxBg.png) 0 0 repeat;
	overflow: hidden
}
.slide_item img {
	max-width: 100%;
	max-height: 100%
}
#intro .prev, #intro .next {
	display: none;
	position: absolute;
	z-index: 999;
	width: 35px;
	height: 100%;
	top: 50%;
	text-indent: -9999px;
	opacity: 0.8
}
#intro:hover .prev, #intro:hover .next {
	display: block;
}
#intro .prev {
	background: url(../Images/slideNav-prev.png) 0 0 no-repeat;
	left: 0
}
#intro .next {
	background: url(../Images/slideNav-next.png) -35px 0 no-repeat;
	right: 0
}
#intro .prev:hover {
	background-position: -35px 0
}
#intro .next:hover {
	background-position: 0 0
}
/*Recruitment*/
#recruitment {
	background: #fff2e1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e7dccb;
	margin: 10px;
	padding: 10px
}
#recruitment .recruit_img {
	width: 32%
}
#recruitment .recruit_ct {
	width: 66%;
	height: 350px;
	overflow: auto
}
#ads_bottom {
	background: #FFFFFF;
	margin: 10px;
	padding: 15px;
	color: #111111
}
/*Info Footer*/
#footer_r {
	width: 44%;
	text-align: center
}
#menu_footer {
	margin-bottom: 20px;
	margin-top: -16px
}
#menu_footer li {
	float: left;
	display: inline-block;
	background: url(../Images/space_menu.png) 0 center no-repeat
}
#menu_footer li:first-child {
	background: none
}
#menu_footer li.active a, #menu_footer li:hover a {
	border-color: #FFFFFF;
	-webkit-border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	background: #21ade4; /* Old browsers */
	background: -moz-linear-gradient(top, #21ade4 0%, #19a0db 50%, #0e80c3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21ade4), color-stop(50%, #19a0db), color-stop(100%, #0e80c3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #21ade4 0%, #19a0db 50%, #0e80c3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #21ade4 0%, #19a0db 50%, #0e80c3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #21ade4 0%, #19a0db 50%, #0e80c3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #21ade4 0%, #19a0db 50%, #0e80c3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21ade4', endColorstr='#0e80c3', GradientType=0 ); /* IE6-9 */
}
#menu_footer a {
	display: block;
	padding: 20px 10px 15px 10px;
	line-height: 38px;
	font-size: 24px;
	border: 6px solid transparent;
	border-top: none;
}
#info_footer {
	clear: right
}
#info_footer p {
	margin: 5px 0;
	border-bottom: 1px solid #FFFFF}
#logo_footer {
	margin: 30px 0 10px 0;
	display: block;
	clear: right;
}
#logo_footer h1 {
	display: none
}
#copyright {
	clear: right;
	margin-top: 20px;
	font-size: 90%;
	text-shadow: 1px 1px 1px #000000
}
/*Contact Us*/
.form_web {
	padding: 10px 40px
}
.form_web .left_row {
	display: block;
	line-height: 30px;
}
.form_web .row_contact {
	float: left;
	width: 100%;
	margin-bottom: 15px
}
.form_web .col_form {
	width: 48%
}
.form_web .row_contact input {
	width: 100%;
	background: #ffffff;
	height: 32px;
	line-height: 32px;
	font: normal 100% Arial, Helvetica, sans-serif;
	text-indent: 5px;
	border: 2px solid #b1b4b7;
	border-right: none;
	border-bottom: none
}
.form_web .styled-select {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #ffffff url(../Images/arr_down.gif) no-repeat scroll 100% 0;
	border: 2px solid #b1b4b7;
	border-right: none;
	border-bottom: none;
	height: 32px;
	margin-bottom: 3px;
	overflow: hidden;
	width: 100%;
}
.form_web select {
	-moz-appearance: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #2D2D2D;
	height: 32px;
	width: 105%;
	font: normal 100% Arial, Helvetica, sans-serif;
	text-indent: 5px;
}
.form_web textarea {
	background: #ffffff;
	border: 2px solid #b1b4b7;
	border-right: none;
	border-bottom: none;
	width: 100%;
	height: 170px;
	border: none;
	text-indent: 10px;
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #FFFFFF;
	width: 30%;
	margin: 40px 10px;
	height: 80px;
	line-height: 80px;
	font-size: 1.3em;
	text-align: center;
	font-weight: 700;
	color: #FFFFFF;
	background: #976938;
	cursor: pointer;
	float:left;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
.reset_btn {
	background: #FFFFFF !important;
	color: #555555 !important
}
.required {
	color: #fbf805;
}
