/*Jcarousel CSS*/
/** base carousel **/
.carousel {
	position: relative
}
.carousel ul {
	position:absolute;
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
}
.no-js .carousel ul {
	position:static;
}
.carousel .mask {
	position:relative;
	overflow:hidden;
}
.carousel ul li {
	float:left;
	margin-right: 9px;
}
.carousel .pagination-links {
	list-style:none;
	margin:0;
	padding:0;
}
.carousel .pagination-links li {
	display:inline;
}
.carousel .pagination-links li a {
	padding:2px 6px;
}
.carousel .pagination-links li a:hover {
	text-decoration:none;
}
.carousel .pagination-links li.current a {
	background:#444;
	color:#fff;
}
.carousel .disabled {
	color:gray;
	cursor:default !important;
	opacity:.2
}
.carousel .prev, .carousel .next {
	position: absolute;
	bottom: -15px;
	display: block;
	background-image: url(../Images/dot_button.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 15px;
}
.carousel .prev {
	left: 36%;
	background-position: 0 0
}
.carousel .next {
	left: 51%;
	background-position: 0 -15px
}
.homesubcatcontainer .view_all_cate {
	color: #369d07;
	font-size: 1.2em;
	position: absolute;
	left: 55%;
	bottom: 42px;
}
.homesubcatcontainer .view_all_cate:hover {
	color: #FF0000
}
