@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	color: #333333;
}
a {
	text-decoration: none;
	color: #434343;
}
a:hover {
	text-decoration: underline;
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.h2Title {
	font: bold 12px Arial, Helvetica, sans-serif;
}
.link_title {
	color: #0162da;
}
.inputbox {
	border: 1px solid #848484;
	height: 25px;
	line-height: 25px;
}
/* WRAPPER --------*/

.wrap {
	width:1000px;
	margin: 0 auto;
}
/* LAYOUT

--------------------------*/

#main {
	float: left;
	width: 100%;
}
#left_content {
	float: left;
	width: 240px;
}
#main_content {
	float: right;
	width: 740px;
}
#main .col {
	float: left;
	width: 280px
}
#main #col_middle {
	width: 420px;
	margin: 0 10px
}
#main #col_middle_sub {
	width: 710px;
	margin-left: 10px
}
/* HEADER

--------------------------*/

#header {
	padding: 10px 0
}
#logo {
	float:left;
	margin-right: 30px
}
#slogan {
	float: left;
	min-height: 90px;
	margin: 0
}
#header_right {
	float: right
}
/*Top Menu*/
.row_header {
	float: right;
	margin-bottom: 10px;
}
#support li a {
	color: #023c01;
	font-weight: 500
}
#support > ul > li {
	display: inline;
	margin: 0;
	padding-left: 20px;
	line-height: 25px;
	float:left;
	position:relative;
	color:#023c01;
	z-index:20 !important;
}
/* SEARCH TOP MAIN */
#search_form {
	float: right;
	height: 30px;
	position: relative
}
#search_form .inputSearch {
	background: none;
	border: 1px solid #6c6e6d;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #7B7B7B;
	float: left;
	font-family: Tahoma;
	height: 26px;
	line-height: 26px;
	width: 200px;
	padding-left: 5px;
	padding-right: 70px;
}
#search_form .submitSearch {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	height: 30px;
	margin-left: 5px;
	background: #007f03;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
}
#hotline {
	font-size: 18px;
	font-weight: 700;
	color: #dc1818
}
/*------------------------end sub menu-----------------------*/
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
}
.box_ct {
	padding: 10px;
	margin: 0 2px;
	-moz-box-shadow: 0px 0px 3px #c1c2c1;
	-webkit-box-shadow: 0px 0px 3px #c1c2c1;
	box-shadow: 0px 0px 3px #c1c2c1;
	background: #FFFFFF url(../Images/boxBg.png) top right no-repeat;
}
#gallery_images .box_ct {
	background-position: top left
}
#list_gallery li {
	float: left;
	width: 210px;
	height:  140px;
	overflow: hidden;
	margin: 17px
}
#list_gallery li img {
	width: 100%;
	height: 100%
}
/*Tab*/
.box_Tab_index {
	height: 40px;
	position: relative;
}
.box_Tab_index span {
	display: block;
	font-size: 1em;
	font-weight: 700;
	line-height: 40px;
	padding-left: 10px;
	color: #FFFFFF;
	text-transform: uppercase
}
.box_Tab_index span.tab_straight {
	background: url(../Images/bg_repeat.png) 0 -60px repeat-x;
}
.box_Tab_index span.tab_crossed {
	float: left;
	background: url(../Images/bg_repeat.png) 0 -60px repeat-x;
}
.box_Tab_index b {
	float: left;
	height: 40px;
	padding: 0 45px 0 15px;
	background: url(../Images/tab_crossedBg.jpg) bottom right no-repeat;
	font-weight: 700
}
/*Box Support*/
#box_support ul {
	margin-left: 20px;
}
#box_support li {
	margin: 5px 0
}
#box_support .hotline {
	margin-bottom: 10px
}
#box_support .number_phone {
	font-size: 16px;
	color: #c80909;
	font-weight: 600
}
/*Vertical menu*/
#topnav li {
	position: relative
}
#topnav li a {
	display: block;
	padding: 10px 0 10px 32px;
	font-weight: 700;
	font-size: 1.1em;
	background: url(../Images/icon_cate.png) 3px 3px no-repeat;
}
#topnav li a:hover {
	text-decoration: none;
	background: #f2f2f2 url(../Images/icon_cate.png) 3px 3px no-repeat;
}
#topnav ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 999999;
	width: 200px;
	padding: 0 10px;
	background: url(../Images/transparentBg.png) 0 0 repeat;
	-moz-box-shadow: 0 0 5px #dddddd;
	-webkit-box-shadow: 0 0 5px #dddddd;
	box-shadow: 0 0 5px #dddddd;
	height: auto;
}
#topnav ul ul a {
	font-size: 13px;
	font-weight: 700;
	outline:0;
	text-transform: none;
	color: #FFFFFF;
}
#topnav ul ul a:hover {
	color: #FFFFFF;
}
#topnav > li:last-child > a {
	border: none;
	margin-bottom: 3px;
}
/*Register to get email*/
#get_email {
	background: #e6e8e6;
}
#get_email input.txf {
	float: left;
	color: #8F8F8F;
	float: left;
	height: 26px;
	line-height: 26px;
	width: 210px;
	padding-left: 5px;
	background: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c3c3c3;
	border-right: 1px solid #fbfbfb;
	border-bottom: 1px solid #fbfbfb;
}
.send_button {
	float: right;
	background: url(../Images/bg_repeat.png) 0 -120px repeat-x;
	color: #333333;
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	margin-left: -3px;
	cursor: pointer;
}
.send_btn {
	background: url(../Images/bg_repeat.png) 0 -120px repeat-x;
	color: #333333;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	padding: 0 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	cursor: pointer;
}
.send_button:hover {
	text-decoration: none
}
/*List Products*/
#product_row ul {
	padding-bottom: 10px;
}
#product_row li {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #a4a4a4;
}
#product_row li:hover {
	background: #e7e7e7
}
h2.product_name {
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 8px;
}
.code_P, .price_P {
	margin: 0 0 5px 0
}
.red {
	color: #C00;
	font-size: 15px;
	font-weight: 700
}
.buy_bt {
	display: block;
	width: 103px;
	margin: 0 auto;
	height: 30px;
	margin-top: 20px;
	text-decoration: none;
	background: url(../Images/button_order.png) 0 0 no-repeat
}
.view_all_P {
	float: right;
	margin: 5x 0;
	background: url(../Images/arrow_l.png) 0 2px no-repeat;
	padding-left: 15px;
	color: #103000;
	font-size: 0.9em
}
#product_row_sub ul {
	margin-left: -12px
}
#product_row_sub li {
	float: left;
	width: 190px;
	height: 280px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 9px;
	overflow: hidden;
	text-align: center;
	background: #FFFFFF;
	border: 1px solid #e7e8e7
}
#product_row_sub h2.product_name {
	margin: 8px 0
}
#product_row_sub li:hover {
	background: #e7e7e7
}
#the_same_P #product_row_sub li {
	margin: 15px 0 15px 15px
}
/*News Index*/
#news_index li {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCCCCC
}
#news_index li:last-child {
	padding: 0;
	margin: 0;
	border: none
}
#news_index li .img_general {
	padding: 1px;
	border: 1px solid #CCCCCC;
}
.news_Title {
	font-size: 1em;
	font-weight: 500;
	color: #555555;
}
#recruitment li {
	float: left;
	width: 100%;
	margin: 5px 0
}
.rec_Title {
	font-size: 1em;
	font-weight: 500;
	color: #555555;
	background: url(../Images/icon_circle.gif) 0 0 no-repeat;
	padding-left: 20px;
}
/*Detail Info*/
#dtp_info {
	position: absolute;
	top: 60px;
	right: 20px;
	color: #444444;
	float: left;
	width: 340px;
}
.h1Title {
	font-size: 20px;
	font-weight: 500;
	color: #005b00;
	margin-bottom: 5px;
}
#dtp_info #model {
	font-size: 15px !important;
}
#dtp_info .dtp_status {
	color: #555555;
	font-size: 14px;
	margin-bottom: 8px;
}
#dtp_info #like_face {
	margin-bottom: 20px
}
#dtp_info .dtp_price {
	color: #ff0000 !important;
	font-size: 18px !important;
}
#dtp_info .title_status {
	float: left;
	width: 160px
}
#dtp_info .buy_bt {
	margin: 20px 0;
}
/*Pagination*/
.navigation {
	float: left;
	clear: both;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.navigation a {
	border: 1px solid #4a41f4;
	margin: 0 2px;
	padding: 4px 8px;
	color: #4a41f4;
}
.navigation b, .navigation a:hover {
	background: #4a41f4;
	border: 1px solid #4a41f4;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
}
/*News*/
#list_news ul {
	float: left;
	width: 100%;
}
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .view_detail {
	bottom: 5px;
	position: absolute;
	right: 0;
	display: block;
	width: 80px;
	margin: 0 auto;
	height: 21px;
	line-height: 21px;
	color: #f0ff00;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	background: url(../Images/icon.png) 0 -96px no-repeat;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news .h2Title a {
	font-size: 16px;
	font-weight: 500
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news img {
	border: 1px solid #e3e3e3;
	padding: 3px;
}
#info_g, #info_g p {
	line-height: 160%
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #d10000;
}
/*Current Path*/
.path {
	font-weight: bold;
	margin-bottom: 5px;
	text-align: left;
	text-transform: none;
	font-size: 0.9em;
	font-weight: 500;
	height: 28px;
	line-height: 28px;
}
.path img {
	vertical-align: baseline
}
/*Cart*/
table#page_cart {
	border-collapse: collapse;
	width: 100%;
	color: #444444
}
table#page_cart th, table#page_cart td {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #c5c7c5;
	padding: 8px 0;
	text-align: center
}
table#page_cart th {
	background: #e1e2e1;
}
table#page_cart td.td_price {
	width: 100px;
}
table#page_cart td.td_price span#vnd {
	color: #999999 !important;
}
table#page_cart td.ttd_price {
	border-right: medium none !important;
	font-weight: bold;
	padding-right: 20px !important;
	text-align: right;
}
table#page_cart td.ttd_price_t {
	border-left: medium none !important;
	color: #C21717;
	font-weight: bold;
	padding-left: 20px !important;
	text-align: center;
	font-size: 15px;
}
table#page_cart td.td_quantity input[type="text"] {
	border: 1px solid #7F9DB9;
	color: #000000;
	height: 17px;
	padding: 0 0 0 10px;
	width: 15px;
}
.button_payment {
	float: right;
	display: inline-block;
	padding: 0 20px;
	height: 30px;
	background: #116e02;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: 10px;
	color: #FFFFFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	line-height: 30px;
	text-align: center;
	cursor:pointer;
}
.button_payment:hover {
	text-decoration: none
}
/*Footer*/
#footer {
	float: left;
	clear: both;
	width: 100%;
	background: #f4f4f4 url(../Images/fooBg.jpg) 0 0 repeat-x;
	padding-bottom: 20px;
}
#footer a {
	color: #0c7f00
}
#footer p {
	margin: 5px 0;
}
#footer_ct {
	float: left;
	width: 60%;
	color: #333333;
	padding:15px 0;
}
#copyright {
	float: right;
	clear: right;
}
#access_status {
	float: right;
	margin: 20px 0;
}
#access_status b {
	float: left;
	width: 80px;
	text-align: left;
	font-size: 16px;
	color: #006b0d
}
/* Contact */ 
.form_contact {
	float: left;
	margin: 0 auto;
	padding: 20px;
	background: url(../Images/advisoryBg.png) repeat scroll 0 44px rgba(0, 0, 0, 0);
}
.form_contact p {
	margin: 0 0 10px 0
}
div.row_contact {
	width: 100%;
	float: left;
	margin-bottom: 5px;
	position: relative;
}
.left_row {
	float: left;
	display: block;
	width: 26%;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
	color: #003d07
}
.right_row {
	float: left;
	display: block;
	text-align: left;
}
.write_comment label {
	padding: 1px 7px 0;
	position: absolute;
	top: 4px;
	z-index: 1;
	color: #3e3e3e;
}
.form_contact .type_option {
	width: 170px;
	padding: 3px 2px;
	height: 25px;
	line-height: 20px;
	border: 1px solid #d5d8d8;
	font-size: 12px;
}
.form_contact textarea {
	padding: 5px;
	border: 1px solid #e5e7e7;
	width: 400px;
	height: 100px;
}
.send_cmt {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 80px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 10px;
	margin-right: 10px;
	background: #116e02;
	cursor: pointer;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
.row_contact .inputbox {
	width: 400px;
	font: 12px Arial;
	padding: 0 5px;
	height: 28px;
	line-height: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d5d8d8
}
.reset {
	text-align: right;
	border: none;
}
.required {
	color: #F00;
}
#send_btn {
	text-align: center
}
.address_info {
	float: right;
	width: 220px;
	padding: 10px;
	background: #7d7d7d;
	color: #FFFFFF
}
.map_contact {
	clear: both;
	text-align: center;
	margin: 20px 0
}
/*Social Network*/
.social_network {
	position: fixed;
	top: 370px;
	right: 0;
	width: 38px;
	text-align: center
}
.social_network a:hover {
	text-decoration: none
}
.social_network span {
	display: block;
	background-image: url(../Images/icon_social.png);
	background-repeat: no-repeat;
	width: 35px;
	height: 32px;
	margin-bottom: 2px;
}
.icon_facebook {
	background-position: 0 0
}
.icon_mail {
	background-position: 0 -36px
}
/*Contact*/
#sp_head {
	position: fixed;
	top: 118px;
	right: 0;
	z-index: 9999
}
#map-legend-control {
	width: 47px;
	height: 214px;
	float: right;
	position: relative;
}
#map-legend {
	display: none;
	width: 300px;
	background: #454545;
	height: 100%;
	margin: 0;
	padding: 15px;
	float: right;
	position: relative;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#map-legend .inputbox, #map-legend textarea {
	color: #8F8F8F;
	float: left;
	height: 26px;
	line-height: 26px;
	margin-bottom: 8px;
	width: 100%;
	padding-left: 5px;
	background: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c3c3c3;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
