/* Navigation */
.tab_nav ul {
	height: 26px;
	margin-left: 2px;
}
.tab_nav ul li {
	float: left;
	height: 100%;
	margin: 0 1px;
	text-align: center;
	position: relative;
	z-index: 10;
}
.tab_nav ul li a {
	display: block;
	color: #00309C;
	cursor: default;
	font-family: Arial;
	font-size: 11px;
	font-weight: 700;
	padding: 0 6px;
	height: 25px;
	line-height: 25px;
	background: #FFFFFF url(../Images/tab_bg1.gif) 0 center repeat-x;
	border: 1px solid #cecfce;
	border-bottom: none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.tab_nav ul li a:hover, .tab_nav ul li a:focus, .tab_nav ul li a.current {
	color: #333333;
	display: block;
	background: #FFFFFF;
	border-bottom: none;
	position: relative;
	text-decoration: none;
	height: 26px;
}
.tab_nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
	background-image: url('../img/notch.png');
}
/* Content */
.section {
	margin:0;
	padding: 0.9em;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
#tabs_content {
	border: 1px solid #b5c7d6;
	z-index: 5;
}
#tabs_content ul {
	list-style: url(../Images/icon_big_dot_news.gif) outside;
	margin-left: 20px
}
#tabs_content li {
	float: left;
	width: 100%;
	margin-bottom: 8px
}
#tabs_content a {
	color: #04355F;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
}
