/*Contact Us*/
#info_contact {
	margin-bottom: 30px
}
#info_contact p {
	margin: 0.3em 0
}
#contactus, #map {
	margin-bottom: 20px
}
.form_web .row_contact {
	width: 80%;
	margin-bottom: 10px
}
#contactus .row_contact {
	width: 100%
}
.form_web .left_row {
	display: block;
	line-height: 30px;
}
.form_web .row_contact input {
	width: 100%;
	background: #e5e6e6;
	height: 32px;
	line-height: 32px;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-indent: 5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form_web textarea {
	background: #e5e6e6;
	width: 100%;
	height: 170px;
	border: none;
	text-indent: 10px;
}
.send_cmt, .form_web input.send_cmt {
	width: 80px;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
#map {
	padding: 20px 0
}
.required {
	color: #F00;
}
@media only screen and (max-width: 767px) {
 #contactus, #map, .form_web .row_contact {
width: 100%
}
.send_cmt, .form_web input.send_cmt {
width: 100%;
margin-left: 0
}
}
@media only screen and (min-width: 770px) and (max-width: 959px ) {
 #contactus, #map, .form_web .row_contact {
width: 100%
}
}
