/* Navigation */

.nav {
	background: #5fa600;
}
.nav ul {
	overflow: hidden;
	text-align: center;
}
.nav ul li {
	float: left;
	margin: 0;
	text-align: center;
	width: 180px;
	height: 38px;
}
.nav ul li a {
	display: block;
	color: #0a0a0a;
	font-size: 12px;
	font-weight: 500;
	line-height: 30px;
	width: 178px;
	background: #dcddde;
	border-left: 2px solid #FFFFFF;
}
.nav ul li a:hover, .nav ul li a:focus, .nav ul li a.current {
	background: #5fa600;
	color: #FFFFFF;
	border: none;
}
.nav ul li a.tab_f {
	border: none;
}
.nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
	background-image: url('../img/notch.png');
}
/* Content */
#content section {
	display: none;
}
.section {
	margin:0;
	padding: 0.9em;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
