<link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'> @charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #343435;
	line-height: 1.5;
	border-top: 6px solid #f48822;
}
@font-face {
 font-family: 'Open Sans Regular';
 src: url('../Images/Fonts/opensans-regular-webfont.eot');
 src: url('../Images/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/opensans-regular-webfont.woff') format('woff'), url('../Images/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #043759;
}
a:hover {
	text-decoration: underline;
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ol, ul {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.blue {
	color: #0079ff;
}
.inputbox {
	border: 1px solid #848484;
	height: 25px;
	line-height: 25px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.font1 {
	font-family: 'Open Sans Regular', Helvetica, sans-serif
}
.font2 {
	font-family: 'Roboto', Helvetica, sans-serif
}
.trans {
	transition: All 0.4s ease-out;
	-webkit-transition: All 0.4s ease-out;
	-moz-transition: All 0.4s ease-out;
	-o-transition: All 0.4s ease-out;
}
.hidden {
	display: none
}
.show {
	display: block
}
.ft_normal {
	font-weight: 500
}
.cl_grey {
	color: #737373
}
.cl_red {
	color: #ff000c
}
.cl_blue {
	color: #0095da
}
/* WRAPPER --------*/
.wrap {
	width:1200px;
	margin: 0 auto;
	position: relative;
	clear: both;
	background: #FFFFFF
}
/* LAYOUT

--------------------------*/
#main {
	position: relative
}
#main .sidebar {
	width: 215px;
}
#main #main_col {
	width: 740px;
	margin:0 15px;
}
.cf:after, #header:after, #footer:after, #main:after, .wrap:after, .nav_page:after, .box:after, .box_ct:after, #search_form:after, #top_main:after, #left_col:after, #right_col:after, .list_newsRV:after, div.tab-content:after, .ads:after, .choose_filters:after, .info_owner:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
/* HEADER

--------------------------*/
#header {
	position: relative;
	padding: 5px 0
}
#logo {
	width: 180px;
	margin-right: 10px;
}
#logo img {
	max-width: 100%;
	max-height: 150px
}
/*Member*/
#member input[type="checkbox"], #member input[type="radio"], .form_web input[type="checkbox"], .form_web input[type="radio"] {
	padding: 0 1px;
}
#member {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 ); /* IE6-9 */
	border: 1px solid #e0e0e0;
	padding: 8px;
	width: 196px;
}
#member .m_header {
	color: #f4932a;
	text-transform: uppercase;
	font-weight: 700
}
#member .row_member {
	float: left;
	margin: 1px 0;
	clear: both;
	font-size: 11px;
}
#member .m_title {
	float: left;
	height: 28px;
	line-height: 28px;
	margin-right: 10px;
	width: 60px;
}
#member .inputbox {
	width: 120px;
	text-indent: 5px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #c8c8c8;
	font-size: 11px;
}
#member .link_member {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	color: #0068e9;
	font-size: 11px;
}
#member .btn_login {
	display: block;
	margin: 5px 0;
	width: 80px;
	color: #333333;
	border: 1px solid #c8c8c8;
	text-align: center;
	padding: 3px 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #ededed 74%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(74%, #ededed), color-stop(100%, #ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%, #ededed 74%, #ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%, #ededed 74%, #ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%, #ededed 74%, #ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 1%, #ededed 74%, #ebebeb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0 ); /* IE6-9 */
}
#member .btn_login:hover {
	text-decoration: none
}
#member .lost_password {
	margin-left: 70px
}
/*Contact*/
.contact_head {
	position: fixed;
	width: 250px;
	top: 200px;
	right: -200px;
	z-index: 9999;
	cursor: pointer
}
.contact_head_active {
	right: 0
}
.title_contact {
	float: left;
	display: block;
	position: absolute;
	left: 26px;
	width: 24px;
	height: 157px;
	transition:1s;
	-webkit-transition:1s;
	background: url(../Images/contact_icon.png) 0 0 no-repeat;
}
.contact_bg {
	float: left;
	display: block;
	position: absolute;
	top: 1px;
	right: -2px;
	width: 180px;
	min-height: 190px;
	max-height: 280px;
	overflow: hidden;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid #ff7800;
	transition:1s;
	-webkit-transition:1s;
}
.contact_bg li {
	float: left;
	width: 100%;
	margin: 5px 0;
}
.contact_bg a {
	display: block;
	margin-top: 5px;
}
.number_phone {
	font-size: 18px;
	color: #b70500;
	margin-left: 5px;
}
.contact_head_active .title_contact {
	top: 35px
}
/*Ads Header*/
.ads_head {
	width: 793px
}
.ads_head a {
	float: left;
	width: 33.3%
}
.ads_head img {
	float: right;
	width: 96%;
	height: 150px;
}
#topbar {
	height: 30px;
	background: url(../Images/topbarBg.png) 0 0 no-repeat
}
/*Search Form*/
#search_form .inputSearch {
	color: #000000;
	float: left;
	height: 23px;
	line-height: 23px;
	padding: 0 0 0 5px;
	margin-right: 5px;
	min-width: 180px;
	border: none;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}
#search_form .dropdown_adv {
	float: left;
	width: 190px;
	position: relative;
	margin-right: 5px;
}
#search_form .dropdown_adv select {
	height: 23px;
	line-height: 23px;
	padding: 3px;
	width: 100%;
	z-index: 10;
	color: #555555;
}
#search_form .sm_button {
	float: left;
	width: 81px;
	height: 23px;
}
#topbar .posting_btn_gen {
	width: 113px;
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 5px;
	height: 23px;
	line-height: 21px;
	background: #000cff;
	text-align: center
}
#topbar .corner {
	display: inline-block;
	content: '';
	font-weight: 700;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 23px 23px 0 0;
	border-color: #000cff transparent transparent;
}
#topbar .posting_btn_gen:hover {
	text-decoration: none
}
/*Topmenu*/
.topmenu li {
	float: left;
	display: inline-block;
	padding-left: 18px;
	margin-right: 35px;
	line-height: 30px;
	background: url(../Images/icon_web/green_arr_l.png) 5px 11px no-repeat
}
.topmenu a {
	font-size: 1.3em;
	color: #FFFFFF;
}
/*Current Path*/
#current_path {
	padding-left: 10px
}
#current_path a, .current_path {
	font-size: 100%;
	font-weight: 500;
}
/*Box*/
.box {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
}
.box_ct {
	padding: 9px;
	border: 1px solid #e1e1e1;
	border-top: none
}
/*Tab*/
.box_Tab {
	height: 30px;
	line-height: 30px;
	font-size: 1.1em;
	padding-left: 10px;
	position: relative;
	background: url(../Images/bg_repeat.png) 0 -64px repeat-x;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF
}
.box_Tab_main {
	height: 34px;
	background: url(../Images/bg_repeat.png) 0 -108px repeat-x;
}
.box_Tab_main span {
	float: left;
	background: url(../Images/left_tabMain.png) 0 0 no-repeat
}
.box_Tab_main b {
	display: inline-block;
	height: 34px;
	padding: 0 50px;
	margin-left: 12px;
	line-height: 34px;
	background: url(../Images/bg_repeat.png) 0 -166px repeat-x;
	color: #FFFFFF;
	font-size: 1.1em;
}
/*Ads*/
.ads {
	overflow: hidden
}
.ads img {
	float: left;
	height: auto;
	margin-bottom: 10px
}
.ads a:last-child img {
	float: right
}
#ads_main_pos1 {
	max-height: 150px;
}
#ads_main_pos2 {
	max-height: 250px;
}
#ads_main_pos3 {
	max-height: 250px;
}
#ads_main_pos3 img {
	margin-left: 10px
}
.likebox {
	width: 390px
}
#ads_home_pos3 {
	max-height: 120px;
	overflow: hidden;
	margin: 0 0 20px 0
}
#ads_home_pos3 .ads_item:first-child {
	width: 645px;
}
#ads_home_pos3 .ads_item:last-child {
	width: 290px;
}
/*Vertical menu*/
#box_category > ul {
	display: block;
	z-index: 999999;
}
#box_category ul ul {
	background: #FFFFFF;
	padding-bottom: 3px
}
#box_category li {
	position: relative;
}
#box_category > ul > li {
	float: left;
	width: 100%;
}
#box_category > ul > li > a {
	display: block;
	padding: 5px 5px 5px 0;
	color: #3b3b3b;
	font-weight: 700;
}
#box_category > ul > li > .icon_menu_l {
	float: left;
	width: 25px;
	text-align: center
}
#box_category > ul > li > .icon_menu_l img {
	position: relative;
	top: 5px
}
#box_category > ul > li.active > a, #box_category > ul > li:hover > a {
	color: #f60000;
	text-decoration: none
}


#box_category > ul > li > ul {
	position: relative;
	display:none;
	margin-left: 15px;
}
#box_category > ul > li.active ul {
	display:block;
}
#box_category > ul > li > ul > li {
	padding-left: 10px;
	position: relative;
	background:url(../Images/arr_l.png) 10px 12px no-repeat;
}
#box_category > ul > li span:hover {
	cursor:pointer;
}
#box_category > ul > li.active > a {
	color:#f60000;
}
#box_category > ul > li.active a + ul {
	display: block;
}
#box_category ul ul a {
	display: block;
	outline:0;
	padding: 2px 5px 2px 10px;
	text-transform: none;
	color: #000000;
	background: url(../Images/circle_bullet.gif) 0 7px no-repeat
}
#box_category ul ul li:last-child a {
	border: none
}
#box_category > ul > li > span.close {
	background: url(../Images/nolines_minus.png) 0 0 no-repeat;
	width:15px;
	height:15px;
	float:right;
	margin-right:5px;
	margin-top:2px;
	display:block;
}
#box_category > ul li li span.close {
	background: url(../Images/nolines_minus.png) 0 0 no-repeat;
	width:15px;
	height:15px;
	float:right;
	margin-right:5px;
	margin-top:2px;
	display:block;
}
#box_category > ul li.active > span.close {
	background-position: 0 0
}
#box_category ul li span.close.collapsed {
	background-position: 0 -38px
}
#box_category ul li span.close.expanded {
	background-position: 0 -38px;
}
#box_category > ul > li span.close:hover {
	cursor:pointer;
}
#box_category .close {
	position:absolute;
	top:7px;
	right:0px;
}
#box_category ul ul .close {
	position:absolute;
	top:0px;
	right:0px;
}
/*List News RV*/
.table_list_RV {
	display: table;
	width: 100%;
	border-collapse: collapse
}
.row_RV {
	display: table-row
}
.row_RV:nth-child(2n+3) {
background: #f4f7f5
}
.th_RV, .td_RV {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}
.th_RV {
	background: #ffefcf;
	border-bottom: 1px solid #f4932a;
	height: 24px;
	line-height: 24px;
	font-weight: 700;
	font-size: 1.1em
}
.td_RV {
	padding: 5px;
	border-bottom: 1px dotted #474747;
	position: relative
}
.col_RV1 {
	width: 5%
}
.col_RV2 {
	width: 55%;
	padding-right: 20px;
}
.col_RV3 {
	width: 16%
}
.col_RV4 {
	width: 14%
}
.col_RV5 {
	width: 10%
}
.td_RV img {
	max-width: 30px;
	max-height: 30px;
}
.td_RV img.icon_vip {
	position: absolute;
	right: 0;
	top: 7px
}
.td_RV.col_RV2 {
	text-align: left
}
.td_RV .tilte_RV {
	font-weight: 700;
	margin-bottom: 3px
}
.td_RV .view {
	color: #ff7e00;
	padding: 0 5px
}
/*Posting Control*/
#posting_control {
	width: 218px;
	border: 1px solid #c8c8c8
}
.avatar {
	display: block;
	text-align: center;
	margin: 5px 0;
	width: 100%
}
#posting_control .title_owner {
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fc9a00;
	font-size: 14px;
	font-weight: 700;
	background: #f3f3f3
}
#posting_control h4.title_box {
	height: 25px;
	line-height: 25px;
	background: #f3f3f3;
	padding-left: 10px;
	font-size: 12px;
	margin: 5px 0
}
#posting_control li {
	margin: 0 5px 2px 5px
}
#posting_control li img {
	vertical-align: baseline;
	margin-right: 8px;
}
/*Posting Page*/
#form_porting {
	width: 960px;
	text-align: justify;
	position: relative
}
#form_porting .title_form {
	float: left;
	font-size: 18px;
	font-weight: 500;
	color: #222222;
	padding-bottom: 10px;
	background: #000cff;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #FFFFFF
}
#form_porting .tt_form_vip {
	background: #ff0000
}
#form_porting .tt_fr { clear: both;font-size: 16px; text-transform: uppercase; height: 40px; line-height: 40px }
#form_porting .row_posting {
	float: left;
	width: 100%;
	margin-bottom: 8px
}
#form_porting .left_row_posting {
	float: left;
	width: 20%;
	margin-left: 5%;
	margin-bottom: 5px;
	font-weight: 700
}
#form_porting .right_row_posting {
	float: left;
	width: 75%
}
#form_porting .inputbox, .form_web .inputbox {
	width: 69%;
	text-indent: 5px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #bbbaba;
	border-right: 1px solid #f1f1f2;
	border-bottom: 1px solid #f1f1f2;
}
#form_porting select {
	width: 31%;
	height: 25px;
	line-height: 25px;
}
/*Detail News RV*/
.main_img {
	float: left;
	display: table;
	overflow: hidden;
	width: 210px;
	height: 210px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #d7d7d7;
	margin-right: 10px;
}
.main_img .midd {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.main_img .midd {
	text-align: center;
}
#flowerimage {
	display: block;
	width: 100%;
	height: 180px;
}
#flowerimage img {
	max-width: 100%;
	max-height: 100%;
}
.h2Title {
	font-size: 20px;
	font-weight: 700;
	color: #000000;
	padding-bottom: 5px;
	font: normal 24px 'Roboto', Helvetica, sans-serif;
}
.title_dtRV {
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #f4932a
}
.price_dtp {
	width: 100%;
	text-align: center;
	color: #ff0000;
	font-size: 1.2em;
	font-weight: 700;
	margin: 5px 0
}
.border_solid {
	border: 1px solid #e2e2e2;
	padding: 10px;
	margin-bottom: 10px
}
.border_dot {
	border: 1px dotted #757575;
	padding: 10px;
	margin-bottom: 10px
}
.info_owner_dtp {
	margin-top: 10px;
	margin-left: 220px;
	border: 1px solid #d8d8d8
}
.info_owner_dtp legend {
	font-size: 15px;
	font-weight: 700;
	color: #f4932a
}
.info_owner_dtp .dtp_status {
	margin-bottom: 5px;
	font-size: 1.2em
}
.info_owner_dtp .tt_info_owner {
	display: inline-block;
	width: 80px
}
.info_owner_dtp #like_face {
	margin-bottom: 20px
}
.info_owner_dtp .short_des {
	margin: 5px 0
}
.info_owner_dtp .contact_btn {
	margin: 20px 0;
	font-size: 1.2em;
	width: 100px
}
#dtp_info_news #info_g {
	padding: 10px
}
#feedback_dt {
	text-align: center;
}
#feedback_dt a {
	display: inline-block;
	background: #e1e1e1;
	border: 1px dotted #999;
	padding: 5px;
	font: normal 11px Tahoma, Geneva, sans-serif
}
#feedback_dt a:hover {
	background: #ffe34a;
	text-decoration: none
}
.fb_like {
	position: relative;
	display: inline-block
}
.your_comment textarea {
	width: 98%;
	height: 100px;
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 5px
}
.your_comment .btn_action {
	float: right;
	text-decoration: none
}
.send_action {
	display: block;
	padding: 5px 10px;
	background: #f4932a;
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 5px
}
.title_box_1 {
	height: 30px;
	line-height: 30px;
	color: #ff8400;
	background: #f3f3f3;
	padding-left: 10px;
	font-size: 13px;
	margin: 10px 0 5px 0
}
/*Comments*/
.comment_part {
	float: left;
	width: 100%;
}
.detail .h1Title {
	text-align: left;
	margin: 0 0 10px 400px;
	padding-bottom: 3px;
	border-bottom: 1px solid #d6d6d6;
}
.info_detail .facebook {
	left: 100%;
	top: 0;
}
.info_detail ul li {
	background: url(../Images/process_icon.png) -689px -73px no-repeat;
	margin: 5px 0;
	padding-left: 20px;
}
/*Comment Box*/
.comment_part h4 {
	color: #4582B9;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
.choose_product {
	margin-top: 5px;
	padding: 0 10px;
}
.investigation .choose_product {
	padding-top: 0;
}
.choose_product p {
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
.vote {
	background: url(../Images/vote.png) repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 26px;
	width: 71px;
}
.send_comment {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
.buttoncm {
	background: none repeat scroll 0 0 #C4C4C4;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	color: #3C3C3C !important;
	cursor: pointer;
	padding: 5px 20px;
}
.postcomment input, .postcomment textarea {
	color: #7F7F7F;
	border: 1px solid #B5B5B5;
}
.pcmnd textarea {
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 5px;
	width: 98.5%;
}
.pcmnd {
	padding: 10px 0
}
.pcm {
	float: left;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment .star {
	margin-top: 40px;
	width: 100px !important;
}
.star {
	float: left;
	margin-top: 9px;
	width: 200px !important;
}
.star_post {
	float: left;
	margin-top: 35px;
}
.choose_product {
	color: #3C3C3C;
	float: left;
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 30px;
}
.inputcomment {
	float: left;
	margin-top: 29px;
}
.nhapten {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-right: 5px !important;
	padding: 5px;
	width: 160px;
}
.diachi {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	padding: 5px;
	width: 250px;
}
.noidungcomment {
	padding: 15px;
}
.tenuser {
	float: left;
	margin-top: 10px;
}
.comment {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment {
	float: left;
	width: 100%;
}
.user {
	border-bottom: 1px solid #CCCCCC;
}
.image-user {
	float: left;
	width: 54px;
}
.image-user img {
	height: 54px;
	width: 54px;
}
.datetime {
	float: left;
	width: 600px;
}
.points {
	color: #3C3C3C;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.nhanxet {
	margin-bottom: 20px;
	padding-left: 20px;
}
#star {
	float: left;
}
#vote {
	color: red;
}
.tenspcb {
	color: #6D6B6C;
	font-size: 14px;
	font-weight: bold;
}
.des {
	color: #7F7F7F;
}
.noidungspcb p {
	margin-bottom: 10px !important;
}
.spcb p {
	margin-bottom: 0;
}
.spcb input {
	float: left;
	margin-right: 50px;
	margin-top: 20px;
}
.spcb img {
	float: left;
	height: 94px;
	margin-right: 30px;
	width: 120px;
}
.noidungspcb {
	float: left;
	width: 665px;
}
.ques {
	margin-bottom: 10px;
}
.hoidap {
	padding-left: 25px;
	padding-right: 25px;
}
.hoi {
	color: #E46A07;
	float: left;
	font-size: 14px;
	width: 40px;
}
.traloi {
	color: #7F7F7F;
	float: left;
	margin-top: 3px;
	width: 650px;
}
.dap {
	color: #2FB30F;
	float: left;
	font-size: 14px;
	width: 40px;
}
/*Form Account*/
.form_web input[type="checkbox"], .form_web input[type="radio"] {
	padding: 0 1px;
}
.info_account {
	width: 80%;
	margin: 0 auto
}
.posting_btn {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	margin-top: 10px;
	margin-right: 20px;
	background: #ff7e00;
	color: #FFFFFF;
	font-size: 16px;
}
.posting_btn:hover {
	background: #543e91;
	text-decoration: none
}
.form_web .form_header {
	float: left;
	width: 100%;
	color: #333333;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 10px;
	background: #f1f1f1
}
.form_web .row_account {
	float: left;
	width: 100%;
	margin: 3px 0;
	clear: both;
}
.form_web .item_title {
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 4px 0;
	width: 25%;
	text-align: right
}
.form_web .right_row_account {
	width: 72%
}
.form_web .inputbox {
	width: 300px
}
.form_web .sl_form_web {
	width: 303px;
	height: 30px;
	padding: 3px
}
.form_web .row_account i {
	float: left;
	padding: 5px 0;
	font-size: 11px
}
.form_web .mvs {
	margin-left: 260px
}
.form_web .btn_action {
	margin-right: 20px;
}
.form_web .text {
	clear: both;
	float: left;
	padding-left: 170px;
}
.form_web .row .checkbox {
	padding-bottom: 5px;
	padding-top: 10px;
}
.form_web .write_comment label {
	line-height: 30px;
	color: #FFFFFF;
	z-index: 1;
}
.form_web .write_comment textarea {
	width: 340px;
	height: 100px;
	padding: 5px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.login_account {
	padding: 20px 0;
	width: 60%;
	margin: 0 auto
}
.login_account .lost_password p {
	margin: 0 0 0 150px
}
.login_account .link_acount {
	text-decoration: underline;
	color: #e82d08
}
.login_account .link_acount:hover {
	text-decoration: none
}
.required {
	color: #ff0000
}
/*Pagination*/
.pagination {
	float: left;
	text-align: center;
	width: 100%;
	line-height: 30px;
	margin-top: 10px
}
.pagination a {
	padding: 3px 8px;
	margin: 0 2px;
	background: #757575;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF
}
.pagination b, .pagination a:hover {
	text-decoration: none;
	background: #ff7800;
	padding: 3px 8px;
	margin: 0 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF
}
.pagination a:first-child, .pagination a:last-child {
	background: #004fd1
}
/*Detail News*/
#info_g, #info_g p {
	line-height: 1.5
}
.info_P_title {
	margin: 10px 0;
	font: bold 15px/25px Arial, Geneva, sans-serif;
	border-bottom: 1px solid #f4932a
}
.date {
	color: #a6a6a6;
	font-size: 12px;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #6b6b6c -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -16px;
}
a.opinion {
	background-position: 0 -43px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	margin: 10px 0;
	position: relative;
	font-weight: 700;
	font-size: 1.2em;
}
.other_news_sub ul {
	margin-top: 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_on.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
/*Main Footer*/
#footer {
	background: #eeeeee;
	border: 1px solid #cccccc;
	padding: 15px
}
#list_categories_foo {
	width: 75%
}
#list_categories_foo li {
	float: left;
	width: 25%
}
#list_categories_foo a {
	display: block;
	padding: 3px 20px;
	font-weight: 700;
	background: url(../Images/icon_web/grey_arr_l.png) 8px 8px no-repeat;
	color: #4f4e4e;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
#list_categories_foo a:hover {
	color: #111111;
	text-decoration: none
}
#info_footer {
	padding: 15px 0;
	font: normal 11px Tahoma, Geneva, sans-serif;
	text-align: center
}
#info_footer p {
	margin: 0
}
/*Social Network*/
#social_network {
	text-align: center;
	margin-bottom: 10px
}
#social_network span {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 3px;
	background-image: url(../Images/social_process_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 -41px
}
.icon_twitter {
	background-position: -41px -41px
}
.icon_gplus {
	background-position: -82px -41px
}
.icon_youtube {
	background-position: -124px -41px
}
.icon_facebook:hover {
	background-position: 0 0
}
.icon_twitter:hover {
	background-position: -41px 0
}
.icon_gplus:hover {
	background-position: -82px 0
}
.icon_youtube:hover {
	background-position: -124px 0
}
/*Status*/
#access_status {
	float: right;
	clear: right;
	margin-top: 15px;
	padding-left: 68px;
	font-size: 15px;
	background: url(../Images/status_icon.png) 0 center no-repeat;
}
#access_status span {
	display: block;
	margin: 2px 0
}
#access_status b {
	color: #ff0000;
	padding-left: 5px;
}
/*Menu bottom Page*/
#menu_bottom_page {
	text-align: center;
	font: normal 11px/18px Tahoma, Geneva, sans-serif;
	border-bottom: 1px solid #cccccc;
	padding: 8px 0
}
#menu_bottom_page b {
	margin-right: 5px
}
#menu_bottom_page a {
	display: inline-block;
	padding: 0 4px 0 5px;
	border-left: 1px solid #cccccc
}
#menu_bottom_page a:first-child {
	border: none
}
/*Tab Button*/
.tabs-menu {
	float: left;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaaaaa;
	text-align:left;
}
.tabs-menu li {
	float: left;
	list-style:none;
	display:inline;
	margin:0;
	padding:0;
	position: relative
}
.tabs-menu li.current {
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #fff;
	z-index: 5;
}
.tabs-menu li.current .box_Tab_main span {
	background: url(../Images/left_tabMain_active.png) 0 0 no-repeat
}
.tabs-menu li.current .box_Tab_main b {
	background-position: 0 -216px
}
.tab-content {
	display: none;
}
#tab-1 {
	display: block;
}
