/* COMMON STYLE

--------------------------------------------------------- */

html,body,fieldset {margin: 0;padding: 0;}



body {margin: 0;padding: 0;}

body#bd {	font-size: 12px;

	font-family: Arial;

	color:#555555;
	
	background: #FFFFFF;
	
}

a { text-decoration: none;  color: #FFFFFF;}

a:hover { text-decoration: underline; }

.clearfix {display: inline-block;}


* html .clearfix { height: 1%;}

.clearfix {display: block; clear: both;}

img {border: none;}

h1 {font-size: 18px;}

h2 {font-size: 16px;}

h3 {font-size: 14px;}

h4 {font-size: 13px;}

ul {list-style: none;}

pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0;

	padding: 0;

}

.ar11, .ar11 a { font: normal 11px Arial; }

.ar12, .ar12 a { font: normal 12px Arial; }

.ar13, .ar13 a { font: normal 13px Arial; }

.ar14, .ar14 a { font: normal 14px Arial; }

.ar18, .ar18 a { font: normal 18px Arial; }

p { line-height: 18px; }

/* WRAPPER --------*/

#wrapper { width:100%; float: left; margin: 0 auto; padding: 0; background: #ffffff url(../Images/page_bg.jpg) top left repeat-x; }

#page {width: 1000px; pading: 0 10px; margin: 0 auto; }

/* LAYOUT

--------------------------*/

.main {float: left; margin: 0 auto; padding-top: 5px; display: block; width: 100%; clear: both; position: relative; }

.left { float: left; width: 205px; margin-right: 5px; }
.right { float: right; width: 790px; }

/* HEADER

--------------------------*/

.header { float:left; width: 100%; height: 120px; display: inline-block; margin: 0; position: relative; background: #e8f957; }

.logo { float: left; margin: 10px 10px 0 0; padding: 0; }

.slogan { float: left; margin: 20px 0 0 50px; }

.hotline { position: absolute; top: 25px; right: 10px; background: url(../Images/hotline.png) center left no-repeat; padding: 5px 0 0 28px; margin: 0; height: 30px; color: #ee1d25; }

/* SEARCH */

.search {
    background: url(../Images/search_bg.jpg) no-repeat scroll 0 0 transparent;
	position: absolute;
	top: 80px;
	right: 10px;
    height: 30px;
    overflow: hidden;
    width: 240px; 
}
.inputSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    float: left;
    font: 11px arial;
    height: 26px;
    padding: 4px 0 0 4px;
    width: 200px;
}
.submitSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 30px;
    padding: 0;
    width: 30px;
}
/* MAIN MENU ------*/

#nav_menu {
    float: left;
	width:100%;
	line-height:normal;
	height: 35px;
	background: url(../Images/nav_bg.png) top left repeat-x;
}
#nav_menu ul {
	padding: 0;
	margin: 0;
	list-style:none;
	}
#nav_menu li {
	float: left;
	margin:0 auto;
	padding:0;
	height: 35px;
	}
#nav_menu ul li a {
border-left: 1px solid #94bcf7;
height: 25px;
padding: 10px 15px 0 15px;
float: left;
display: block;
color: #FFFFFF;
text-decoration: none;
text-align: center;
font-weight: bold;
}
#nav_menu ul li.active a {
	background: #6aa2f4;
	padding-top: 8px;
	height: 27px;
	border-left: none;
}
#nav_menu ul li a:hover, #nav_menu ul li.active a:hover {
	text-decoration:none;
	background: #6aa2f4;
}	

/*Banner Scroll*/
#slideads { position: absolute; z-index: 100; visibility: hidden; }
.banner_scroll { position: absolute; top: 155px; }
.scr_l { left: 0; }
.scr_r { right: 0; }	

/*Left column*/
.block {
	clear: both;
	width: 100%;
	margin: 0 0 5px 0;
	position: relative;
}
.block_content { padding: 10px 5px 5px 5px; margin: 0 auto; display: table; }
.support { background: #034e91; }
.register { background: #74331d; }
.news { background: #5334ac; }
.news ul { width: 100%; list-style: none; }
.news ul li { margin-bottom: 5px; }
.news ul li a { background: url(../Images/arrow.png) center left no-repeat; padding-left: 15px; }
.link_title {
    color: #FFFFFF;
    font: 12px arial;
    text-decoration: none;
	padding: 5px 0 0 20px;
}
.txf { width: 155px; }
.btn_send { width: 30px; padding: 2px 0; background: #dcbf01; border: none; }
/*Slide*/
#slider_ads_main { 				
				clear: both;
				background: #FFFFFF;
				width: 100%;				
				margin: auto;
				margin-bottom: 5px;
				position: relative;
				z-index: 5;
			}
#mycarousel img{ width:790px; height: 215px;} 
/*------------------------------------------------------*/			
.jcarousel-skin-tango { padding: 0; }
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: auto;
    width: 100%;
	float: left;
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url(../Images/pre_slider.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: -40px;
    top: 25px;
    width: 30px;
	opacity: 0.5;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url(../Images/next_slider.png);
    left: 5px;
    right: auto;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url(../Images/next_slider.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    top: 20px;
	right: -40px;
    width: 30px;
	opacity: 0.5;	
}

/*Footer*/
.footer {
    float: left;
    width: 100%;
	padding: 5px 0;
	background: #034e91;
	color: #FFFFFF;
}
.footer_inner { margin: 0 auto; width: 1000px; position: relative; }
.footer p { padding: 0; margin: 0; }
.menu_footer { margin: 0 auto; text-align: left; padding: 5px 0; }
.menu_footer, .menu_footer a { color: #FFFFFF; font-weight: bold; }
.info_footer {
	float: left;	
	clear: both;
	width: 100%;
	padding: 0;
    text-align: left;
	line-height: 22px;
}
.visitors { position: absolute; top: 5px; right: 0; background: #4f83b2; padding: 5px; }

/*Products*/
.block_l { float: left; width: 430px; }
.block_r { float: right; width: 355px; }
.best_sell { position: relative; float: left; }
.h1Title { width: 100%; font: normal 20px Arial; position: absolute; bottom: 0; left: 0; color: #FFFFFF; background: url(../Images/title_productBg.png) top left no-repeat; }
.h1Title a { line-height: 40px; padding: 0 10px; }

{
}
.navigation {
    float: left;
    width: 420px;
}
.navigation ul, .navigation ul li, .navigation ul li a {
    float: left;
}
.navigation ul li a {
    -moz-box-sizing: border-box;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease 100ms;
}
.navigation ul li a.hover {
    border-color: #555555;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.4) inset;
}
.navigation ul {
    margin-right: 2px;
}
.navigation ul.last {
    margin-right: 0;
}
.navigation ul li {
    margin-bottom: 2px;
}
.navigation ul li.digital, .navigation ul li.accessories, .navigation ul li.sim-card {
    margin-bottom: 3px;
}
.navigation ul li.last {
    margin-bottom: 0;
}
.navigation .row1, .navigation .row1 li, .navigation .row1 li a {
    width: 100px;
}
.navigation .row1 li.mobile {
}
.navigation .row1 li.pants a {
    background: #FF8A00 url(../Images/quan_kaki.png) center 9px;
    height: 100px;
    padding-top: 65px;
}
.navigation .row1 li.mobile a.hover {
    background-position: center 33px;
    padding-top: 9px;
}
.navigation .row1 li.tablet {
}
.navigation .row1 li.tablet a {
    background-color: #D9532D;
    background-image: url("images/sites/icon-tablet.png");
    background-position: 20px 9px;
    height: 64px;
    padding: 23px 10px 0 70px;
    text-align: left;
}
.navigation .row1 li.tablet a.hover {
    background-position: 111px 9px;
    padding-left: 10px;
    padding-right: 70px;
}
.navigation .row1 li.laptop {
}
.navigation .row1 li.laptop a {
    background-color: #B61B43;
    background-image: url("images/sites/icon-laptop.png");
    background-position: 94px 9px;
    height: 52px;
    padding: 18px 10px 0 38px;
    text-align: left;
}
.navigation .row1 li.laptop a.hover {
    background-position: 31px 9px;
    padding: 18px 10px 0 94px;
}
.navigation .col2, .navigation .col2 li, .navigation .col2 li a {
    width: 140px;
}
.navigation .col2 li a {
    padding: 0 5px;
}
.navigation .col2 li.accessories {
}
.navigation .col2 li.accessories a {
    background-color: #9F005D;
    background-image: url("images/sites/icon-headphone.png");
    background-position: 90px 15px;
    height: 60px;
    padding-left: 20px;
    padding-top: 24px;
    text-align: left;
}
.navigation .col2 li.accessories a.hover {
    background-position: 20px 15px;
    padding-left: 70px;
}
.navigation .col2 li.sim-card {
}
.navigation .col2 li.sim-card a {
    background-color: #0084CC;
    background-image: url("images/sites/icon-sim-card.png");
    background-position: 11px 19px;
    height: 68px;
    padding-left: 52px;
    padding-top: 17px;
}
.navigation .col2 li.sim-card a.hover {
    background-position: 99px 19px;
    padding-left: 5px;
    padding-right: 47px;
}
.navigation .col2 li.application {
    margin-right: 2px;
    width: 70px;
}
.navigation .col2 li.application a {
    background-color: #197B30;
    background-image: url("images/sites/icon-angrybird.png");
    background-position: center 5px;
    height: 76px;
    padding-top: 43px;
    width: 70px;
}
.navigation .col2 li.application a.hover {
    background-position: center 38px;
    padding-top: 5px;
}
.navigation .col2 li.digital {
    width: 68px;
}
.navigation .col2 li.digital a {
    background-color: #0F63A3;
    background-image: url("images/sites/icon-camera.png");
    background-position: center 10px;
    height: 76px;
    padding-top: 40px;
    width: 68px;
}
.navigation .col2 li.digital a.hover {
    background-position: center 44px;
    padding-top: 10px;
}
.navigation .col3 {
    width: 101px;
}
.navigation .col3 li {
    width: 101px;
}
.navigation .col3 li a {
    background-color: #999999;
    height: 51px;
    padding-top: 18px;
    width: 101px;
}
.banner {
    background-color: #EEEEEE;
    float: right;
    height: 210px;
    width: 550px;
}
.banner .banner-wrapper .arrow-wrapper {
    position: relative;
}
.banner .banner-wrapper .arrow-wrapper .left-arrow, .banner .banner-wrapper .arrow-wrapper .right-arrow {
    position: absolute;
    top: 83px;
    z-index: 1000;
}
.banner .banner-wrapper .arrow-wrapper .left-arrow {
    left: 0;
}
.banner .banner-wrapper .arrow-wrapper .right-arrow {
    right: 0;
}
.banner .banner-wrapper {
}
.banner .banner-wrapper .the-mask {
    height: 210px;
    overflow: hidden;
    position: relative;
    width: 540px;
}
.banner .banner-wrapper .the-mask .mask-left, .banner .banner-wrapper .the-mask .mask-right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 210px;
    position: absolute;
    top: 0;
    width: 95px;
    z-index: 100;
}
.banner .banner-wrapper .the-mask .mask-right {
    right: 0;
}
.banner .banner-wrapper .the-mask .image-wrapper {
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}
.banner .banner-wrapper .the-mask .image-wrapper .img {
    float: left;
    height: 210px;
    overflow: hidden;
    width: 540px;
}
.product-news .product-list-wrapper {
    float: left;
    width: 601px;
}
.product-news .product-list-wrapper .product-list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD -moz-use-text-color -moz-use-text-color #DDDDDD;
    border-image: none;
    border-style: solid none none solid;
    border-width: 1px 0 0 1px;
}
.product-news .product-list-wrapper .product-list li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-right: 1px solid #DDDDDD;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    float: left;
    height: 219px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 199px;
}