#header .logo {width: 195px; height: 66px; margin: 0px 0 9px 0; }

.deal_topmenu li a { text-align: right;}

ul.menu li.other {border-left:none; padding-left: 30px;}

#email {
	float: right;
	width: 230px;
	height: 30px;	
	margin-top: 10px;
} 

#email .inputbox  {

	padding: 4px 5px 4px 30px;
	
	margin-right: 0;
} 

#email .bt_send { background: url(../Images/deal-today/send-button.png) center center no-repeat; border: none; padding: 10px; margin-left: -8px;}

#mail_img { background:url(../Images/deal-today/mail.png) center left no-repeat;}

.nav { float: left; width: 70%; height: 40px; margin-top: -5px;}

.nav ul.bar { float: left; margin: 0 auto; width: 100%;}

.nav ul.bar li { float: left; border-right: none; margin-right: 0; height: 40px;}

.nav ul.bar li.active, .nav ul.bar li:hover{ background: #fcd207;}

.nav ul.bar li a {
	font-size: 18px;
	font-weight: bold;
	color: #878787;
	padding: 8px 10px; 
	margin: 0;
}
.nav ul.bar li.active:hover { background: none; }

#header-bottom .local_deal {
	float: right;	
	width:245px;
	margin: 4px 0 0 0;}

.dealtoday {margin: 5px 6px 10px 5px; }

.dealtoday .cate { width: 33.3334%;}

.dealtoday .list .product_image { width: 278px; height: 278px; border: 1px solid #e3e3e3; padding: 0; margin-bottom: 10px;}

.dealtoday .list .cate .product { height: 390px; padding: 3px 16px 0 26px; border-right: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3; }

.deal_title { color: #006600; font-size: 18px; font-weight: bold; padding: 3px 0 6px 0;}

.view { float: left; width: 142px; height: 52px;}

.info { float: right;  color: #3e3e3e; width: 48%; font-size: 11px; margin-right: 5px; padding-left: 3px;}

.info .save { float: left; width: 36%; border-right: 1px solid #878787; text-align: left;}

.info .time { float: right; border: none; width: 59%; text-align: left;}

.info .save span, .info .time span { float: left; clear: both; padding: 0 5px; font-size: 14px; font-weight: bold;}

.deal_price { color: #ff0000; font-size: 18px; text-align: center;}


/*---------------------------------------- slider ----------------------------------------------*/

.deal_slider { width: 1000px; float: left; margin-bottom: 5px;}
#deal_focus {width:1000px; height:300px; overflow:hidden; position:relative; margin: 5px;}
#deal_focus ul {height:300px; position:absolute; padding: 0;}
#deal_focus ul li {float:left; width:1000px; height:300px; overflow:hidden; position:relative;}
#deal_focus ul li div {position:absolute; overflow:hidden;}
#deal_focus .btnBg {position:absolute; width:1000px; height:20px; left:0; bottom:0; }
#deal_focus .btn {position:absolute; width:550px; height:10px; padding:5px 10px; right:0; bottom:0; text-align:right;}
#deal_focus .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
#deal_focus .btn span.on {background:#fff;}
#deal_focus .preNext {width:38px; height:38px; position:absolute; top:120px; background: url(../Images/silder/sprite.png) no-repeat 0 0; cursor:pointer;}
#deal_focus .preNext:hover {width:38px; height:38px; position:absolute; top:120px; background: url(../Images/silder/sprite.png) no-repeat bottom 0; cursor:pointer;}
#deal_focus .pre {left:0;}
#deal_focus .next {right:0; background-position:right top;}


/* RIGHT SIDEBAR */

.tel { font-size: 20px; padding:  18px 10px; line-height: 50px; color: #FF0000; font-weight: bold;}

.yahoo { padding: 0 5px 0 10px;}

.block .price_date { padding: 0 16px 0 19px;}

.block .price_date ul { background: none;}

.block .price_date ul li { background: none; float: left; width: 260px; }

.block .price_date h3.blocktitle { float: left; clear: both; font-size: 14px; color: #66ccff; background: none; border: none;}

.block .price_date .price { float: left; clear: both; background: url(../Images/deal-today/price_date/price_bg.png) top left no-repeat; width: 200px; height: 30px; font-size: 20px; color: #990000; text-align: right;} 

.block .price_date .reduce { float: right; width: 12%; padding: 0; margin-right: 20px; font-size: 12px; color: #006600; text-align: center; }

/* BUY DEAL */

.block .title_shop { font-size: 14px; color: #006600; }

.buy_deal { padding: 0 5px; margin-bottom: 20px;}

.buy_deal_left { float: left; padding: 5px 8px 0 10px; width: 50%;}

.buy_deal_left p {margin-bottom: 25px; text-align: justify;}

.buy_deal_left a {padding: 8px 30px 10px 30px;}

.buy_deal_left a.buy_other { background:url(../Images/deal-today/buy-other.png) center left no-repeat; width: 151px; height: 30px; padding-left: 30px;}

.buy_deal_right { float: right; padding-top: 20px; width: 46%;}

.buy_deal_right span.shop_image{ float: left; border: 1px solid #eaeaea; margin-top: 10px;}

.buy_deal_right ul { float: left; width: 79%; background:none; margin-top: 5px; margin-left: 10px;}

.buy_deal_right ul li {border: none; background: none; width: 100%; padding: 6px 0;}

.buy_deal_right ul li img { float: left; height: 15px; border: none; margin-right: 5px;}

/* DEAL DETAIL */

.block_deal { float: left; clear: both; width: 693px; background: #f3f3f3; border: 1px solid #e3e3e3; margin-top: 5px;}

.nomargin_top { margin-top: 0;}

.noborder_top { border-top: none;}

h1.title {color: #006600; text-transform: uppercase; padding: 16px 0 0 15px;}

.detail { padding: 15px;}

.info_detail { float: left; width: 188px; padding: 60px 5px 65px 5px; text-align: center; background: #FFFFFF;  border: 1px solid #878787; margin-right: 15px; }

.detail_price { font-size: 30px; font-weight: bold; color:#FF0000; margin-bottom: 10px;}

.detail_price span {
	font-size: 14px;
	line-height: 15px;
}

.first_price { padding: 12px 0;}

.first_price span { font-size: 12px; margin: 10px; background: url(../Images/line.gif) center left repeat-x;}

.detail_status { float: left; width: 100%; margin-bottom: 5px; background: #f3f3f3; border: 1px solid #e3e3e3;}

.detail_status ul { margin: 0; list-style-type: none;}

.detail_status ul li { float: left; width: auto; padding: 5px; border-left: 1px solid #e3e3e3;}

.detail_status ul li span { padding-left: 3px;}

.detail_status ul li.active { border-left: none;} 

.rate_image { float: left; padding: 1px; clear: both;}

.quantity { float: left; width: 100%; margin-top: 15px;}

.quantity span{ color: #ff0000; font-weight: bold;}

#product_slider { float: right; width: 445px;}

.thumb { float: left; width: 100%; margin: 15px 10px 25px 10px;}

.thumb ul li { float: left; border: 1px solid #e4e4e4; margin-right: 5px;} 

.description { border-top: none; background: #FFF; padding: 0; width: 693px; margin: 0;}

h2.blocktitle { padding: 12px 0 14px 15px; font-size: 18px; color: #66ccff; background: none; border: none;}

.description ul li { float: left; width: 47%; padding: 0 5px 15px 12px; border-left: 1px solid #e3e3e3;}

.description ul li.character { border-left: none;}

.description ul li.condition span { color: #ff0000;}

.contact { width: 673px; padding: 10px;}

.contact img { float: left; padding: 1px; background: #FFFFFF; margin-right: 10px;}

.block_deal ul.product_detail { margin-left: 100px;} 

.block_deal ul.product_image li img{ padding: 0; margin-bottom: 12px;} 

.block_deal ul.product_image li.active img { border: 1px solid #006600; }

.block_deal .bot_status { width: 95%; background: none; border: none; padding: 0; margin: 0;}

.block_deal .bot_status ul li { width: 20%; text-align: center;}

.block_deal .bot_status ul li.active { width: 33%;}

.block_deal .bot_status ul li.active span { font-size: 14px; color: #F00; font-weight: bold;}

.nomargin_top p { padding: 3px 0;}

.banner_bottom { width: 960px; border: none; background: url(../Images/deal-today/banner-bg.gif) top left repeat-x; margin: 5px; padding: 20px; }

.banner_bottom img { border: 1px solid #474242}


