/* COMMON STYLE

--------------------------------------------------------- */

html,body,fieldset {margin: 0;padding: 0;}



body {margin: 0;padding: 0;}

body#bd {	font-size: 13px;

	font-family: Tahoma;

	color:#3e3e3e;
	
	background: #FFF url(../Images/bg.jpg) top left repeat-x;
}

a { text-decoration: none;  color: #000;}

a:hover { text-decoration: underline; color: #000;}

.clearfix:after {

	content: ".";

	display: block;

	height: 0;

	clear: both;

	visibility: hidden;

	line-height:0;



}

.clearfix {display: inline-block;}


* html .clearfix { height: 1%;}

.clearfix {display: block; clear: both;}

img{border: none;}

h1 {font-size: 20px;}

h2 {font-size: 14px;}

h3 {font-size: 13px;}

h4 {font-size: 12px;}

ul {list-style: none;}

ul li.active{ border-left: none;}

p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0;

	padding: 0;

}
/* WRAPPER --------*/

#wrapper {margin: 0; padding: 0; width: 100%; }

#page {width: 1010px; margin: 0 auto; background:#FFF; }

/* LAYOUT

--------------------------*/

#main {float: left; margin: 0 auto; display: block; width: 100%; clear: both;}

#sidebar {width: 210px;float: left; }

#sidebar_inner {margin: 0 5px 5px 5px;}

#content {width: 800px;float: right;}

#content-inside { margin-right: 5px;}

#content1 { float: left; width: 700px; }

#content1_inside { margin-left: 5px; }

#right_sidebar { float: right; width: 310px;}

#right_sidebar_inner { padding: 5px;}

/* HEADER

--------------------------*/

.header {width: 100%; height: 125px; display: inline-block; margin-bottom: 5px;}

#header-inner { padding: 10px 5px 0 5px; background: #FFF;}

#header-right { float:right; width: 800px;}

#header-bottom { float: left; width: 1000px; clear: both; margin: 0 auto; padding: 5px; height: 30px; margin-bottom: 5px; background:#e1e1e1;}

/* LOGO ---------*/

#logo {float: left; display: block; width: 197px; height: 63px; margin: 3px 0 9px 0; }

/* TOP MENU ------*/

.topmenu{ float: right; width:100%;margin:0;font-size: 13px;}

ul.menu { float:right; margin:0;}

ul.menu li {display: inline; background:none;padding: 0px 5px 0 4px; border-bottom: none;border-right:1px solid #3e3e3e;}

ul.menu li.last, .blockcontent ul#vertical-menu li.last {border-right:none; border-bottom: none;}

ul.menu li.last { padding-right: 0;}

ul.menu li.dealmenu {border-right:none;}

ul.menu li a {display:inline-block; font-weight: bold;color: #3e3e3e; }

ul.menu li.dealmenu  a{color: #0c7f40; background:url(../Images/deal.png) top left no-repeat;padding: 0 30px 0 35px; font-size: 13px;} 
 

/* SEARCH --------*/

#search { float: left; width: 70%; padding: 0; }

.search { float: left; width: 60%; padding: 0; }

.search .inputbox {	padding: 0 4px; height: 28px;}

#search .bt-search{

	padding:0;margin:0;

	background: url(../Images/search-button.png) top left no-repeat;

	width: 50px; height: 30px;

	float:right;
	
	border:none;
	
	margin-top: -1px;
	
}

/* LOGIN --------*/
#login {
	float: left;
	margin-top: 20px;
	width: 150px;
	height: 30px;
	padding-left: 10px;
	background: url(../Images/login.png) left 0 no-repeat;
}
#login a {
	font-weight: normal;
	padding-top: 3px;}
#local {
	float: right;
	height: 28px;	
	margin-top: 15px;
}
.type-option {
	width: 145px;
	border: 1px solid #a5a5a5;
	padding: 4px;
}
#search .type-option {
	height: 30px;
	width: 180px;
	padding: 4px;
	background: #FFF;
	border: 1px solid #a5a5a5;
	margin-top: -1px;
}
#cart {
		float: right;
		padding-left:15px;
		height: 30px;
		background: url(../Images/cart.png) center left no-repeat;		
}
#quantity {
	float: left;
	display: block;	
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
#cart a{
	color: #878787;
	font-weight: bold;
	line-height: 40px;
	padding-left: 1px;
}

/* BLOCK */

.border_bottom { border-bottom: 1px solid #e3e3e3;}

.block .nopadding {padding: 0;}

.block .padding {padding: 5px 5px 0 5px;}

.block .padding1 {padding: 10px}

.block .padding2 {padding: 5px;}

.block .margin1 { margin: 0 5px; }

.block .nopadding_bottom { padding-bottom: 0;}

.block .nomargin_top {margin-top: 0;}

.block .padding_top {padding-top: 5px;}

.block .nobackground {background: none;}

.block .noborder {border: none;}

.block .noborder_bottom {border-bottom: none;}

.block .noborder_right {border-right: none;}

.block .noborder_top {border-top: none;}

.block .justify { text-align: justify;}

.block .line_height { line-height: 25px;}

.block .right_round_bottom { background: url(../Images/corner/right-corner-bottom.png) bottom right no-repeat; height: 3px;}

.block .left_round_bottom { background: url(../Images/corner/left-corner-bottom.png) bottom left no-repeat; height: 3px;}

.block .line_round_bottom { background: url(../Images/corner/line-bottom.png) bottom left repeat-x; height: 3px; margin: 0 5px;}

.block .right_round_top { background: url(../Images/corner/right-corner-top.png) right 13px no-repeat; height: 16px;}

.block .left_round_top { background: url(../Images/corner/left-corner-top.png) left 13px no-repeat; height: 16px;}

.block .line_round_top { background: url(../Images/corner/line-top.png) left 13px repeat-x; height: 16px; margin: 0 5px;}

.blockcontent ul {float: left; width: 100%; list-style: none; padding: 0; margin: 0;background: #f3f3f3; }

.blockcontent ul li {display: block; padding: 0;}

#facebook .blockcontent{padding-bottom: 5px;}


/* MENU SIDEBAR */

.sidebarmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: normal 13px Verdana;
	width: 200px; /* Width menu_level 1 */
	z-index: 1;
}
.sidebarmenu ul li {
	position: relative;
}

.sidebarmenu ul li a {
	display: block;
	overflow: auto; 
	text-decoration: none;
	padding: 6px;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active, .sidebarmenu ul li a:hover {
	background: url(../Images/arrow-menu.png) 188px 12px no-repeat;
}
.sidebarmenu ul li a:visited {
}
.sidebarmenu ul li a:hover {
	background-color: #f3f3f3;
}
/*Sub level menu items */
.sidebarmenu ul li ul {
	position: absolute;
	width: 200px; /* Width menu_level 2, 3 */
	top: -1px;
	visibility: hidden;
	border-top: 1px solid #e3e3e3;
	background: #FFF;
}
.sidebarmenu a.subfolderstyle {
	background: #f3f3f3;
}


/* BANK */

#bank { float: left; width: 100%; margin-bottom: 5px;}

#bank ul.bank li { float: left; background:none; border: none; display: inline; padding: 0 4px;}

#bank ul.bank li.active { float: left; background:none; border: none; display: inline; margin: 0; padding-left: 0;}


/* FOOTER

--------------------------*/

#footer { float: left; clear:both; width: 100%; color:#9da0a8; font-size: 13px; border-top: 2px solid #c5c5c5;background: #e1e1e1;}

#footer_top { margin: 0 auto; width: 1000px; margin: 10px 0;}

#footer_top ul.province { margin: 0 auto; width: 100%; list-style-type: none; }

#footer_top ul.province li { float: left; width: 14%; }

#footer_bottom { width: 850px; margin: 0; border-top: 1px solid #c5c5c5; padding: 10px 0 0 150px; text-align: left; line-height: 18px;}

#footer_bottom a { text-align: center; font-weight: bold; }

#footer_inner { margin: 0 auto; width: 990px; padding: 10px;}

#footer img {float: left; width: 79px; height: 52px; padding: 0 20px 0 0;}

#footer .block { float: left; width: 100%; height: auto;}

#footer .copyright {
	clear:both;
	text-align: left;
	color: #000000;
	padding: 0;
	margin-top: 5px;
	font: normal 11px Tahoma;
	line-height: 18px;
}
#footer .copyright a { 	font: normal 11px Tahoma; }
.block h2 { background: none; border: none; line-height: 18px; color: #000; font-weight: normal; margin-bottom: 9px;}

