div.sdmenu {
	width: 198px;
	font-family: Tahoma;
	font-size: 12px;
	padding-bottom: 10px;
	background: #f3f3f3
}
div.sdmenu div {
	background: url(title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(toptitle.gif) no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	cursor: pointer;
}
div.sdmenu div span a {
	font-weight: normal;	
	padding: 8px 3px 8px 15px;	
	background: url(../Images/list-icon.png) 0 center no-repeat;
	color: #066;	
}
div.sdmenu div.collapsed span {
	padding-left: 5px;
}
div.sdmenu div.collapsed span a {
	font-weight: normal;	
	padding: 8px 3px 8px 15px;	
	background: #f3f3f3 url(../Images/list-icon.png) 0 center no-repeat;
	color: #3e3e3e;	
}
div.sdmenu div.collapsed span a:hover {
	background: url(../Images/list-icon.png) 0 center no-repeat;
}
div.sdmenu div a {
	padding: 7px 3px 7px 25px;
	background: #FFF url(../Images/arrow-menu.png) 15px 10px no-repeat;
	display: block;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div a.current  {
	padding-left: 20px;
	background: #f3f3f3 url(../Images/list-icon1.png) 5px center no-repeat;
}
div.sdmenu div a.current:hover {
	background: #f3f3f3 url(../Images/list-icon1.png) 5px center no-repeat;
}
div.sdmenu div a:hover {
	background: url(../Images/arrow-menu.png) 15px 10px no-repeat;
}