/*Detail Products*/
#detail_products {
	padding: 10px 0;
}
/*Slide Products*/
#pro_left {
	margin-right: 20px;
	width: 210px;
	position: relative;
	background: white;
	padding: 4px;
	border: 1px solid #ececec
}
.boxcenter {
	display: table;
	overflow: hidden;
	text-align: center;
}
.boxcenter .midd {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#pro_left .main_img {
	background: none repeat scroll 0 0 #fff;
	width: 210px;
	height: 210px;
	line-height: 1px;
	position: relative
}
#pro_left .main_img img {
	max-width: 210px;
	max-height: 210px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out 0s;
}
#pro_left .main_img a {
	display: block;
}
/*Info Detail Product*/
#dtp_info {
	width: 250px;
}
#dtp_info .h1Title {
	color: #ff0000;
	margin-bottom: 10px
}
.dtp_status {
	float: left;
	width: 100%;
	margin-bottom: 10px
}
.title_status {
	display: inline-block;
	width: 60px
}
.price_dtp {
	color: #ff0000;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
}
.btn_addtocart {
	width: 85px;
	margin: 10px 0;
}
.addtocart_ico {
	float: left;
	width: 20px;
	height: 16px;
	background: url(../Images/addtocart.png) center center no-repeat
}
.info_detail p {
	margin: 10px 0;
}
#technic_info {
	width: 178px;
	border: 1px solid #dbdbdb;
	padding: 10px
}
/*Tab Detail Products*/
#TabsContent {
	float: left;
	width: 100%;
}
#TabsContent section {
	clear: both;
	padding: 10px 0;
}
#nav_Tab {
	float: left;
	width: 100%;
	background: #FFFFFF;
	border-bottom: 2px solid #dddddd;
}
#nav_Tab li {
	float: left;
	margin-bottom: -1px;
	margin-right: 40px;
}
#nav_Tab li.active {
	margin-bottom: -2px;
}
#nav_Tab a {
	display: block;
	color: #888888;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 10px 0;
	position: relative;
	text-decoration: none;
}
#nav_Tab li a.active {
	background: url(../Images/arr_up.png) bottom center no-repeat;
	border-bottom: 2px solid #c40000;
	color: #c40000
}
.stickydiv {
	position: fixed;
	top: 0;
	z-index: 10000;
}
.section_title_dt {
	border-bottom: 1px solid #e7e7e7;
	color: #444444;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-bottom: 5px;
}
.section_dt_content > table {
	max-width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	font-size: 14px
}
.section_dt_content td, .section_dt_content th {
	border: 1px solid #ddd;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: top;
}
.section_dt_content tr:nth-child(2n+1) > td, .section_dt_content tr:nth-child(2n+1) > th {
 background-color: #f9f9f9;
}
.moreBg {
	float: left;
	width: 100%;
	margin: 15px 0
}
.view_more_infoP {
	cursor: pointer;
	font-weight: bold;
	display: block;
	width: 240px;
	padding: 8px 0;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	background: #f0f0f0;
	/* Old browsers */
  background: -moz-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, #e5e5e5));
	/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0f0f0 0%, #e5e5e5 100%);
	/* IE10+ */
  background: linear-gradient(to bottom, #f0f0f0 0%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#e5e5e5', GradientType=0);
	/* IE6-9 */
  box-shadow: 0 -2px 0 #cacaca inset;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
}
.view_more_infoP:hover {
	color: #FFFFFF;
	background: #fca70a;
	text-decoration: none
}
/*Comments*/
.comment_part {
	float: left;
	width: 100%;
}
.detail .h1Title {
	text-align: left;
	margin: 0 0 10px 400px;
	padding-bottom: 3px;
	border-bottom: 1px solid #d6d6d6;
}
.info_detail .facebook {
	left: 100%;
	top: 0;
}
.info_detail ul li {
	background: url(../Images/process_icon.png) -689px -73px no-repeat;
	margin: 5px 0;
	padding-left: 20px;
}
/*Comment Box*/
.comment_part h4 {
	color: #4582B9;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
.choose_product {
	margin-top: 5px;
	padding: 0 10px;
}
.investigation .choose_product {
	padding-top: 0;
}
.choose_product p {
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
.vote {
	background: url(../Images/vote.png) repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 26px;
	width: 71px;
}
.send_comment {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
.buttoncm {
	background: none repeat scroll 0 0 #C4C4C4;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	color: #3C3C3C !important;
	cursor: pointer;
	padding: 5px 20px;
}
.postcomment input, .postcomment textarea {
	color: #7F7F7F;
	border: 1px solid #B5B5B5;
}
.pcmnd textarea {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	height: 100px;
	margin: 0 0 10px 0;
	padding: 7px 5px;
	width: 98.5%;
}
.pcmnd {
	padding: 10px 0
}
.pcm {
	float: left;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment .star {
	margin-top: 40px;
	width: 100px !important;
}
.star {
	float: left;
	margin-top: 9px;
	width: 200px !important;
}
.star_post {
	float: left;
	margin-top: 35px;
}
.choose_product {
	color: #3C3C3C;
	float: left;
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 30px;
}
.inputcomment {
	float: left;
	margin-top: 29px;
}
.nhapten {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	float: left;
	margin-right: 5px !important;
	padding: 7px 5px;
	width: 160px;
}
.diachi {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	float: left;
	padding: 7px 5px;
	width: 250px;
}
.noidungcomment {
	padding: 15px;
}
.tenuser {
	float: left;
	margin-top: 10px;
}
.comment {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment {
	float: left;
	width: 100%;
}
.user {
	border-bottom: 1px solid #CCCCCC;
}
.image-user {
	float: left;
	width: 54px;
	margin-bottom: 10px;
}
.image-user img {
	height: 54px;
	width: 54px;
}
.datetime {
	float: left;
	width: 600px;
}
.points {
	color: #3C3C3C;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.nhanxet {
	margin-bottom: 20px;
	padding-left: 20px;
}
#star {
	float: left;
}
#vote {
	color: red;
}
.tenspcb {
	color: #6D6B6C;
	font-size: 14px;
	font-weight: bold;
}
.des {
	color: #7F7F7F;
}
.noidungspcb p {
	margin-bottom: 10px !important;
}
.spcb p {
	margin-bottom: 0;
}
.spcb input {
	float: left;
	margin-right: 50px;
	margin-top: 20px;
}
.spcb img {
	float: left;
	height: 94px;
	margin-right: 30px;
	width: 120px;
}
.noidungspcb {
	float: left;
	width: 665px;
}
.ques {
	margin-bottom: 10px;
}
.hoidap {
	padding-left: 25px;
	padding-right: 25px;
}
.hoi {
	color: #E46A07;
	float: left;
	font-size: 14px;
	width: 40px;
}
.traloi {
	color: #7F7F7F;
	float: left;
	margin-top: 3px;
	width: 650px;
}
.dap {
	color: #2FB30F;
	float: left;
	font-size: 14px;
	width: 40px;
}
/*Other Products*/
#other_products {
	width: 218px;
	border: 1px solid #d4d4d4;
	position: relative;
}
#other_products .tt_categoryhead {
	font-size: 16px;
	font-weight: 700;
	background: #f5f5f5 url(../Images/small_logo.png) 10px center no-repeat;
	padding: 10px 10px 10px 40px
}
#other_products li {
	float: left;
	width: 100%;
	border-top: 1px solid #cacaca
}
#other_products li:hover {
	background: #F3F3F3
}
#other_products .product {
	width: 100%;
	height: auto;
	border: none;
}
#other_products .img_product {
	width: 100%;
	height: auto
}
