@charset "utf-8";
/* CSS Document */

li {list-style:none}
img{border:none}
a{text-decoration:none; color:#3e3e3e}
a:hover{text-decoration:none; }
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6, p {margin: 0;padding: 0;}
.clearfix{clear:both; display:block}

body{font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#ffffff fixed; margin:0; padding:0; color:#3e3e3e; }
body a{transition:All 0.6s ease ; -webkit-transition:All 0.6s ease ; -moz-transition:All 0.6s ease ; -o-transition:All 0.6s ease }
.img_general {
	float: left;
	margin-right: 10px;
}
.wrapper{width:1020px ; height:auto; margin: 0 auto; background: url(../Images/Outer.jpg)}
.outer{width:1000px; height:auto; float:left; margin-left:10px; background:#ffffff}

.block {width:100%; height:auto; float:left; margin-bottom:10px}
.header, .content , .footer {width:100%; height:auto; float:left}

/*==============HEADER===================*/
.header {position:relative}
.banner {width:100%; height:300px; float:left; border-bottom:1px solid #bbbbbb}
.welcome{ width:100%; height:auto; float:left; margin-top:2px ;border-top:10px solid #bbbbbb;  border-bottom:1px solid #bbbbbb ;font-size:20px; font-style:italic;  font-weight:bold ;color:#800000; padding:6px 0}


/*=================MENU==================*/
.menu_main {width:100%; height:auto; float:left; padding-bottom:5px; border-bottom:1px solid #bbbbbb; margin-top:5px} 

/*==============LEFT============*/
.textfield{width:170px; height:16px; border:1px solid #ccc; border-top-color:#999 ; margin:10px 5px}

.button { margin-left:5px}
.button a{ border-radius:5px; -moz-border-radius:5px ; -webkit-border-radius:5px;
	background:url(../Images/Search.jpg); border:1px solid #707070; color:#0000cc; font-weight:bold; font-size:12px; padding:2px 7px}
.button a:hover{ background:url(../Images/Search_hover.jpg); border:1px solid #3c7fb1}

.ads{width:170px; margin-left:5px; margin-top:10px; float:left}

/*===================RIGHT===============*/
.product_new {width:100%; margin-top:20px; float:left}
.product_new ul { margin:0; padding:0;}
.product_new ul li{width:162px; list-style:none; float:left; padding:0 10px ; padding-bottom:0; text-align:center; position:relative} 
.product_new .images{width:160px; height:100px; ;float:left; border:1px solid #a9a9a9; }

.product_new .name_prouct {width:100%;height:40px; float:left;line-height:18px; margin-top:5px; text-align:center}
.product_new .name_prouct a{color:#06C; text-transform:capitalize; text-align:center; font-weight:bold; font-size:12px}
.product_new .name_prouct a:hover{color:#00F; text-decoration:underline}
 


.support{ padding:5px 0 5px 10px; font-weight:bold ; padding-bottom:10px; text-align:center}
.support a{ padding:5px 0 0 10px; font-weight:bold; line-height:15px ; float:left; color:#00f}
.support a:hover{text-decoration:none; color:#F00}



.news{width:100%; height:auto}
.news ul {margin:0; padding:0; }
.news ul li{  list-style:none; border-bottom:1px dashed #bbb;font-size:11px ; padding:5px; padding-bottom:20px;   }
.news .news_img{float:left; margin-right:5px}
.news ul li a{ color:#5566dd ;  text-transform:uppercase;  text-align:justify }
.news ul li a:hover{text-decoration:underline; color:#00f;}
.path {
    border-bottom: 1px solid #575757;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 0 3px;
    text-align: left;
    text-transform: none;
}
/*Pagination*/
.navigation {
	clear: both;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 0;
	height: 20px;
    text-align: center;
    width: 100%;
}
.navigation a {
    border: 1px solid #676565;
    border-radius: 5px 5px 5px 5px;
    margin: 0 2px;
    padding: 3px 8px;
}
.navigation b, .navigation a:hover {
    background: #676565;
    border: 1px solid #676565;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 0 2px;
    padding: 3px 8px;
    text-decoration: none;
}

/*==============Content===================*/
.content {  margin-top:2px; border-top:5px solid #bbbbbb; padding-top:10px; margin-bottom:10px; float:left}

.left,.right{
-moz-box-shadow: 0px 5px 10px #666;
-webkit-box-shadow: 0px 5px 10px #666;
box-shadow: 0px 5px 10px #666;
	width:180px; height:auto; margin:0 10px; padding-top:19px ;}
.left { float:left; background:url(../Images/bg-tab-left.gif) no-repeat}
.right{ float:right; background:url(../Images/bg-tab-right.gif)no-repeat}
.main{width:600px; height:auto; float:left;}

.title_col{width:94.5%; height:30px; float:left; background:url(../Images/menu-bar.gif) right no-repeat; padding-left:10px; color:#fff; line-height:30px; font-weight:bold; font-size:14px; display:block}
.title_col a{color:#fff; text-transform:uppercase;display:block}
.title_col a:hover{color:#ff0}

.content_col{width:100%; height:auto; float:left; padding-bottom:5px}

.menu_left{width:100% ;float:left}
.menu_left ul{margin:0; padding:0}
.menu_left ul li{width:100%; list-style:none; float:left;border-bottom:1px dashed #bbb; }
.menu_left ul li a{ width:89%;padding:7px 10px; float:left; font-size:12px; text-transform:capitalize; color:#555555; font-weight:bold; display:block; background:url(../Images/arr_menu.png) right 5px center no-repeat; }
.menu_left ul li a:hover{color:#f00}
 
.cart{text-align:center; padding:10px 0; font-size:13px;}
.cart a{color:#00f}
.cart a:hover{text-decoration:underline}
/*================MAIN===============*/
.intro{width:100%; height:30px; float:left; background:#f00; color:#fff; line-height:30px; font-size:14px} 
.banner_main{width:600px; height:300px ; float:left; margin:10px 0;} 


.boder_main{ width:598px;border:1px solid #990000; background:url(../Images/bg_title_main.jpg) repeat-x; position:relative; padding:10px 0; margin-top:10px; float:left}
.title_main { position:absolute; top:-5px; left:10px}
.title_main  a{background:#FFF; padding:2px 10px; font-size:14px; font-weight:bold; color:#f00}

.product{width:100%; margin-top:20px; float:left}
.product ul { margin:0; padding:0;}
.product ul li{width:162px; margin-left:12px; margin-bottom: 10px; border:1px solid #ccc; list-style:none; float:left; padding:10px ; padding-bottom:0; text-align:center; position:relative}
.product ul li:hover{transition:All 0.6s ease ; -webkit-transition:All 0.6s ease ; -moz-transition:All 0.6s ease ; -o-transition:All 0.6s ease;
	background:#e1edf9}

.product .images{width:160px; height:100px; ;float:left; border:1px solid #a9a9a9; }


.buy,.detail{ border-radius:5px; -moz-border-radius:5px ; -webkit-border-radius:5px;
border:1px solid #ccc;  float:left; margin:5px; background:url(../Images/buy.jpg); font-size:11px; font-weight:bold; color:#1459a6}
.buy a { padding:3px 7px 3px 30px; color:#1459a6; float:left; background:url(../Images/icon_buy.png) 3px 1px no-repeat}
.buy a:hover{background:url(../Images/icon_buy_hover.png) 3px 1px no-repeat}

.detail a{ padding:3px 7px; color:#1459a6; float:left}
.detail a:hover, .product .buy a:hover{border-radius:5px; -moz-border-radius:5px ; -webkit-border-radius:5px; color:#90959a}

.product .name_prouct {width:100%;height:40px; float:left;line-height:18px; margin-top:5px; text-align:center}
.product .name_prouct a{color:#06C; text-transform:capitalize; text-align:center; font-weight:bold; font-size:12px}
.product .name_prouct a:hover{color:#00F; text-decoration:underline}

.product .new{ width:33px; height:16px; position:absolute; top:0; left:0; background:url(../Images/new.gif) no-repeat;}

.info_detail { padding: 20px 10px 0 10px; }
.h1Tile { font-size: 18px; }
/*News*/
.list_news {
	float: left;
	width: 100%;
}
.list_news ul {
	padding: 0;
}
.list_news ul li {
	border-bottom: 1px dashed #f45b82;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .view_more {
	bottom: 5px;
	font-size: 11px;
	position: absolute;
	right: 0;
}
.list_news .h2Title {
	margin: 0 0 5px 0;
}
.list_news .h2Title a {
	color: #1459A6;
	font: bold 13px Verdana,Arial,Helvetica,sans-serif;
}
.list_news p {
	margin: 0 0 1em 0;
}
.list_news img {
	border: medium none;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial;
}
#detail_news {
	float: left;
	padding: 10px;
}
.detail_info {
	float: left;
	width: 65%;
}
#detail_news p { line-height: 150%; margin: 0 0 10px 0; }
#detail_news .detail_info {
	width: 100%;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arr_menu.png) no-repeat scroll left 2px transparent;
	padding-left: 10px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #222222;
}
/*=======FOOTER======================*/
.footer{width:98%; background:#4d4d4d; border-top:7px  solid #bbb; margin:10px; margin-top:0; padding-bottom:10px}

.footer_menu{ width:75%;  margin:20px auto ; margin-bottom:10px ;padding-bottom:6px ;text-align:center; border-bottom:1px dashed #fff; font-weight:bold; color:#fff}
.footer_menu a{  color:#fff ; padding:0 10px; text-transform:uppercase; font-weight:bold; text-align:center}
.footer_menu a:hover{color:#ff0; text-decoration:underline}

.info{width:75%; margin:0 auto; color:#fff; font-size:12px; line-height:18px; }

.copy{float:right; color:#fff; margin-top:10px; text-align:right; font-size:11px}

 