/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/*Macbook pro 1440x900*/
/*================================================== */
 @media only screen and (min-width: 1366px) and (max-width: 1440px) {
}
/*Some laptop 1366x768*/
/*================================================== */
 @media only screen and (min-width: 1280px) and (max-width: 1366px) {
}
/*Macbook air 1280x800*/
/*================================================== */
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
/*Most netbook 1024x600*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
 .head_bot {
margin-top: 50px
}
 #news .four.columns {
width: 33.3%
}
 .post:nth-child(4n+1) {
clear: none
}
 .post:nth-child(3n+1) {
clear: both
}
}
/*Most Ipad 1024x768*/
/*================================================== */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
.container #sidebar.four.columns {
width: 40%
}
.container #main_content.twelve.columns {
width: 60%
}
}
/*IPhone 4 960x640*/
/*================================================== */
 @media only screen and (max-width: 960px) {
 .head_bot {
position: absolute;
top: 30px;
right: 0
}
 #news .four.columns {
width: 50%
}
 .post:nth-child(3n+1) {
clear: none
}
 .post:nth-child(2n+1) {
clear: both
}
#top_menu {
clear: both;
margin-bottom: 10px
}
#top_menu > ul {
float: none;
text-align: center
}
#top_menu > ul > li {
float: none;
display: inline-block
}
}
/*Google nexus one 4 800x480*/
/*================================================== */
 @media only screen and (max-width: 1199px) {
 #logo {
height: auto
}
}
 @media only screen and (max-width: 767px) {
body {
 font-size: 95%;
}
.fullsize {
width: 100% !important
}
.inner_side {
margin: 0
}
 #logo {
width: 100%;
 text-align: center
}
.middle_centersubpage {
padding: 5px 0
}
header {
padding: 7px 0
}
.head_bot {
top: auto;
bottom: 10px
}
/*Making Appointment*/
.container-followus {
display: none
}
 .box_appointment {
display: block
}
.box_appointment {
background-position: 15px 15px;
background-color: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: 1px solid #cfcfcf;
padding: 10px 10px 10px 200px
}
/*Gallery*/
.tg_item {
height: auto
}
#news .four.columns {
width: 50%
}
.col_foo {
 padding-bottom: 15px;
}
.col_foo:last-child {
padding-bottom: 0;
margin-bottom: 0
}
#box_comment {
margin-top: 20px
}
}
@media only screen and (max-width: 639px) {
#news .four.columns {
width: 50%
}
/*Danh gia*/
.comment_frame div.question { padding-right: 0 }
.comment_frame .down { position: relative; bottom: 10px; float: right; margin-top: 5px }
}
/*Meizu M8 one 4 720x480*/
/*================================================== */
 @media only screen and (min-width: 480px) and (max-width: 720px) {
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
}
/*IPhone 3G 480x320*/
/*================================================== */
 @media only screen and (max-width: 480px) {
.fullsize480 {
width: 100% !important
}
.head_bot {
position: static;
margin-top: 0
}
#lang {
position: absolute;
top: 10px;
right: 5px;
margin: 0
}
.search_box {
margin-top: -32px
}
/*Testimonial*/
#testimonial .testimonial_ct {
 margin-left: 0
}
#testimonial p {
height: auto
}
/*Services*/
#list_service_home .service_item .img_service {
 width: 96%;
 height: auto;
}
#news .four.columns {
width: 100%
}
.post h2, .news_post_desc {
height: auto
}
/*Making Appointment*/
.box_appointment {
background-position: top center;
padding: 120px 0 0 0;
text-align: center
}
.box_appointment .btn_web {
width: 80%;
margin: 15px auto 0 auto !important;
float: none !important
}
.like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
.post {
width: 100%
}
/*Comment*/
.input_comment { width: 96%; margin: 0 0 5px 0 }
}

/*Mobile*/
/*================================================== */
 @media only screen and (max-width: 320px) {
body {
overflow-x: hidden
}
.modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove  
		comment brackets */

@font-face {
 font-family: 'Helvetica Narrow';
 src: url('../Images/Fonts/helvetin_0-webfont.eot');
 src: url('../Images/Fonts/helvetin_0-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/helvetin_0-webfont.woff2') format('woff2'), url('../Images/Fonts/helvetin_0-webfont.woff') format('woff'), url('../Images/Fonts/helvetin_0-webfont.ttf') format('truetype'), url('../Images/Fonts/helvetin_0-webfont.svg#helvetica-narrowregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
