@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
	border: none
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.5 Arial, Helvetica, sans-serif, Helvetica, sans-serif;
	color:#222222;
	background: #ffffff url(../Images/bg.jpg) center 0 no-repeat;
}
a {
	text-decoration: none;
	color: #9e3d9e;
}
a:hover {
	text-decoration: none;
	color: #000000
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
	max-width:100%;
}
h1 {
	font-size: 140%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.fl {
	float: left !important
}
.fr {
	float: right !important
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
.btn_web {
	display: block;
	background: #a2248f;
	padding: 4px 10px;
	margin-bottom: 20px;
	color: #FFFFFF !important;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.btn_web:hover {
	color: #ffffff;
	background: #040003
}
.padding10 {
	padding: 10px
}
.cl_black {
	color: #000000
}
#services, #testimonial_gallery {
	margin: 20px 0
}
/* WRAPPER --------*/
.container {
	margin: 0 auto;
	position: relative;
}
/* LAYOUT

--------------------------*/
.cf:after, section:after, .container:after, header:after, footer:after, #main:after, .box:after, .box_ct:after, .pagination:after, #slide_banner:after, .news_item:after, .subpage_inner:after, .comment_frame .z-quest:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#subpage {
	position: relative;
}
.left_topsubpage {
	height: 25px;
	background: url(../Images/lefttop_subpageBg.png) 0 0 no-repeat
}
.middle_topsubpage {
	height: 25px;
	background: url(../Images/midtop_subpageBg.png) 0 0 repeat-x;
	margin: 0 25px
}
.right_topsubpage {
	height: 25px;
	background: url(../Images/righttop_subpageBg.png) right top no-repeat
}
.left_centersubpage {
	min-height: 751px;
	background: url(../Images/leftcenter_subpageBg.png) 0 0 no-repeat
}
.middle_centersubpage {
	min-height: 751px;
	background: #FFFFFF;
	padding: 10px;
	margin: 0 25px
}
.right_centersubpage {
	min-height: 751px;
	background: url(../Images/rightcenter_subpageBg.png) right top no-repeat
}
.inner_side {
	margin-right: 40px
}
#sidebar . inner_side {
background: #f8ecf9
}
/* HEADER*/
header {
	position: relative;
}
#header_ct {
	position: relative;
	padding: 10px 0
}
#logo {
	width: 25%;
	height: 140px;
	margin-top: 10px
}
#logo img {
	max-height: 100%
}
.hotline_head {
	color: #FFFFFF;
	padding-left: 26px;
	line-height: 25px;
	background: url(../Images/icons/hotline_icon.png) 0 center no-repeat
}
.head_bot {
	clear: right;
	margin-top: 30px
}
/*Language*/
#lang {
	margin-left: 20px;
}
#lang .ico_lang {
	cursor:pointer;
	margin-left: 5px;
}
/*Search Form*/
.search_box {
	position: relative;
	width: 185px;
	height: 28px;
	background: url(../Images/searchBg.png) 0 0 no-repeat;
	padding-left: 20px
}
.search_box .inputSearch {
	background: none;
	border: none;
	float: left;
	font-family: inherit;
	font: normal 12px Arial;
	padding: 6px 0 7px 0;
	width: 80%;
	color: #FFFFFF;
}
.search_box .btn_search {
	background: url(../Images/icons/search_icon.png) center center no-repeat;
	border: medium none;
	cursor: pointer;
	width: 20px;
	height: 24px;
	text-indent: -9999px;
	position: absolute;
	right: 8px;
	top: 1px;
	padding: 0 5px;
}
/*Make Appointment*/
.container-box {
	position: fixed;
	transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-box-shadow: 0px -1px 5px #000000;
	-webkit-box-shadow: 0px -1px 5px #000000;
	box-shadow: 0px -1px 5px #000000;
}
.container-followus {
	width: 350px;
	left: -392px;
	top: 190px;
	z-index: 99999;
}
.title-contact {
	position: absolute;
	right: -92px;
	width: 50px;
	top: 0;
	padding: 0;
	font-size: 16px;
	opacity: 1;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}
.title-followus {
	height: 206px
}
.title-contact p {
	float: left;
	width: 50px;
	margin: 0;
	color: white;
	cursor: pointer;
}
.title-followus p {
	height: 206px;
	background: url(../Images/order_btn.png) 0 0 no-repeat;
}
.likebox {
	padding: 15px;
	min-height: 120px;
	height: auto;
	background: url(../Images/bacsy.png) bottom right no-repeat;
}
.likebox .btn_web {
	margin-top: 15px;
	font-size: 1em
}
div.tab-support {
	height: 40px;
	line-height: 40px;
	background-color: #a2238f;
	font-size: 1em;
	font-weight: bold;
	color: white;
	opacity: 1;
	padding: 0 10px;
}
.close-contact {
	width: 25px;
	height: 25px;
	margin-top: 7px;
	float: right;
	padding: 0;
	background: url(../Images/close_icon.png) 0 0 no-repeat;
	cursor: pointer;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.box_appointment {
	display: none
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
}
#sidebar .box_ct {
	background: #f8ecf9; /* Old browsers */
	background: -moz-linear-gradient(top, #f8ecf9 0%, #f9eefa 32%, #fdf9fd 72%, #ffffff 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8ecf9), color-stop(32%, #f9eefa), color-stop(72%, #fdf9fd), color-stop(99%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8ecf9 0%, #f9eefa 32%, #fdf9fd 72%, #ffffff 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8ecf9 0%, #f9eefa 32%, #fdf9fd 72%, #ffffff 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8ecf9 0%, #f9eefa 32%, #fdf9fd 72%, #ffffff 99%); /* IE10+ */
	background: linear-gradient(to bottom, #f8ecf9 0%, #f9eefa 32%, #fdf9fd 72%, #ffffff 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ecf9', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	margin-top: -50px;
	padding-top: 52px
}
.box_border {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cfcfcf;
}
.box_Tab_home {
	border-bottom: 1px solid #c295c3;
	background: rgba(255, 255, 255, 0.6);
	color: #000000;
	font-size: 20px;
	padding: 5px 10px;
	font-family: 'Convergence', sans-serif;
}
#main_content .box_Tab {
	border-bottom: 1px solid #c295c3;
	background: rgba(255, 255, 255, 0.6);
	color: #000000;
	font-family: 'Convergence', sans-serif;
}
#sidebar .box_Tab {
	position: relative;
	width: 92%;
	height: 46px;
	line-height: 46px;
	color: #FFFFFF;
	font-size: 1.1em;
	padding-left: 20px;
	margin-left: -3px;
	text-transform: uppercase;
	background: url(../Images/r_tabBg.png) right top no-repeat;
	font-family: 'Convergence', sans-serif;
}
#sidebar .box_Tab:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 46px;
	content: '';
	background: url(../Images/l_tabBg.png) 0 0 no-repeat;
}
/*Services*/
.tt_heading {
	border-bottom: 1px solid #d30bff;
	color: #8e499d;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 30px
}
.tt_heading:after {
	position: absolute;
	left: 50%;
	margin-left: -16px;
	bottom: -16px;
	content: '';
	background: url(../Images/small_logo.gif) 0 0 no-repeat;
	width: 32px;
	height: 32px
}
.tt_heading_page {
	color: #79005b;
	font-size: 20px;
	font-weight: 500;
	position: relative;
}
#services .short_des {
	display: block;
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
	font-size: 110%
}
#services {
	padding: 0 30px
}
#list_service_home .service_item {
	margin: 0 0 15px 0;
	position: relative;
	text-align: center
}
#list_service_home .service_item .img_service {
	display: block;
	width: 220px;
	height: 220px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #a2238f;
	margin-bottom: 10px;
}
#list_service_home .service_item .img_service img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
	-ms-transform: All 0.5s ease-out;
}
#list_service_home .service_item .img_service:hover img {
	transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}
#list_service_home h2 {
	padding: 7px 10px;
	background: #a2238f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 3px #000000;
	-webkit-box-shadow: 0px 1px 3px #000000;
	box-shadow: 0px 1px 3px #000000;
}
#list_service_home h2 a {
	color: #FFFFFF;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
}
/*Testimonial*/
.tg_item {
	width: 94%;
	height: 280px;
	overflow: hidden;
	margin: 0 auto 20px auto;
	position: relative
}
#gallery_home .tt_pos {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%
}
#testimonial .img_testimonial {
	width: 200px;
	height: auto;
	margin-bottom: 15px
}
#testimonial .testimonial_ct {
	margin-left: 220px
}
#testimonial h2 {
	font-size: 18px;
	font-weight: 500
}
#testimonial p {
	height: 93px;
	overflow: hidden;
	margin: 0.3em 0 1.5em 0
}
/*Ads*/
.ads {
	text-align: center;
}
/*Support Online*/
#support_online {
	margin: 0 5px 0 15px
}
#support_online li {
	float: left;
	width: 100%;
	margin: 5px 0;
}
#support_online li.nick_chat span {
	padding-left: 5px
}
/*Vertical menu*/
.left_nav li {
	position:relative;
}
.left_nav a {
	text-decoration: none;
	display:block;
	padding: 7px 10px 7px 0;
	font-size: 14px;
	font-weight: 500;
	border-top: 1px dotted #cd9cd1;
}
.left_nav > ul > li:first-child > a {
	border: none
}
.left_nav ul ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
}
.left_nav > ul > li.active a + ul {
	display: block;
}
.left_nav li li a {
	color: #111111;
	font-weight: 500;
	padding-left: 17px;
	background: url(../Images/bullet-4.png) 5px 13px no-repeat;
}
.left_nav li li li a {
	padding-left: 30px;
	background: url(../Images/arr_l.png) 20px 12px no-repeat;
}
.left_nav li li a:hover {
	text-decoration: underline
}
.left_nav > ul > li > span.close {
	background: url(../Images/arrow_down.png) 0 0 no-repeat;
	width:16px;
	height:16px;
	float:right;
	margin-right: 5px;
	display:block;
}
.left_nav > ul li li span.close {
	background: url(../Images/arrow_down.png) 0 0 no-repeat;
	width:16px;
	height:16px;
	float:right;
	margin-right: 5px;
	display:block;
}
.left_nav > ul li.active > span.close {
	background-position:3px -69px;
}
.left_nav ul li span.close.collapsed {
	background: url(../Images/arrow_down.png) 0 0 no-repeat;
}
.left_nav ul li span.close.expanded {
	background: url(../Images/arrow.png) center center no-repeat;
}
.left_nav > ul > li span.close:hover {
	cursor:pointer;
}
.left_nav .close {
	position:absolute;
	top:7px;
	right:0px;
}
.left_nav ul ul .close {
	position:absolute;
	top:7px;
	right:0px;
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin: 10px 0;
	text-align: center;
}
.pagination a {
	padding: 5px 8px;
	margin: 0 2px;
	color: #FFFFFF;
	background: #111111;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.pagination b, .pagination a:hover {
	text-decoration: none;
	color: #FFFFFF;
	padding: 5px 8px;
	margin: 0 2px;
	background: #a2238e;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.pagination a:last-child {
	border: none
}
/*List News*/
#list_news {
	max-width: 100%;
	margin-top: 10px;
}
#news_post_wrap {
	overflow: hidden;
	position: relative;
}
.post {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 10px;
	color: #111111
}
.img_news {
	float: left;
	margin-right: 15px;
	width: 160px;
	height: auto;
	text-align: center
}
.news_post_ct {
	clear: both;
	padding: 15px 12px 12px;
}
.news_item h2 {
	font-size: 1.2em;
	font-weight: 700;
	margin: 12px 0;
	line-height: 1.3;
}
.news_item h2 a {
	color: #3a012e;
}
.news_item h2 a:hover {
	color: #85517a;
}
.news_post_desc p {
	margin: 0.5em 0
}
.news_post_dt {
	color: #BD070D;
	font-size: 11px;
	text-decoration: underline;
}
.news_dt_blog {
	font-size: 14px;
	padding: 0 24px
}
.news_item .read_more {
	float: right;
	text-indent: -9999px;
	margin-top: 10px;
	background: url(../Images/readmore_icon.png) 0 center no-repeat;
}
/*Detail*/
.h1heading {
	line-height: 1.2;
	font-size: 1.5em;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase
}
/*Detail News*/
.info_g {
	line-height: 20px
}
.info_g img, .text_content img {
	max-width: 100%;
	height: auto;
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
.date {
	color: #403f40;
	font-size: 11px
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #CCCCCC -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	margin: 10px 0;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	padding: 0
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
	white-space: nowrap
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -32px
}
a.opinion {
	background-position: 0 -73px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #a2238e;
	font-size: 130%;
	font-weight: 700;
	border-bottom: 2px solid #a2238e
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arr_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 12px;
	color: #333333
}
.other_news_sub a:hover {
	text-decoration: underline
}
.other_news_sub .view_all {
	float: left;
	background: none !important;
	margin: 10px 0;
	text-align: right;
	text-decoration: underline;
	font-size: 95%;
	color: #f02c24;
	white-space: nowrap
}
/*Detail Services*/
.moreBg, .btn_addtocart_bottom {
	float: left;
	width: 100%;
	margin: 30px 0
}
.view_more_infoP {
	position: relative;
	cursor: pointer;
	font-weight: bold;
	display: block;
	width: 200px;
	height: 36px;
	padding-right: 20px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	background: #ebebeb;
	/* IE6-9 */
  box-shadow: 0 -2px 0 #636363 inset;
}
.view_more_infoP a#hplPaymentMore {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 36px;
	text-decoration: none;
	background: url(../Images/icons/animated_arrow_down.png) 91% center no-repeat;
	color: #4b004f;
}
.view_more_infoP:hover {
	color: #FFFFFF;
	background: #a2238f;
	text-decoration: none
}
.view_more_infoP a#hplPaymentMore:hover {
	color: #FFFFFF
}
/*Path*/
.path {
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-transform: none;
	text-align: right;
	border-bottom: 1px dotted #8f8f8f
}
.path a {
	color: #79005b
}
/*Footer*/
footer {
	clear: both;
	padding: 30px 0;
	border-top: 2px solid #6f2f74
}
footer p {
	margin: 0
}
.col_foo {
	float: left;
	width: 25%;
	font-size: 120%;
	font-family: 'Helvetica Narrow';
	margin-bottom: 20px
}
.title_col_footer {
	white-space: nowrap;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #e1e1e1
}
.col_F_ct {
	margin-right: 40px
}
.col_foo:last-child .col_F_ct {
	margin-right: 0
}
.info_footer li {
	float: left;
	width: 100%;
}
.ico_foo {
	float: left;
	display: inline-block;
	width: 21px;
	height: 25px;
	margin-right: 5px;
	background-image: url(../Images/icons/sprites_ico.png);
	background-repeat: no-repeat
}
.phone_ico {
	background-position: -32px 5px
}
.add_ico {
	background-position: -57px 5px
}
.email_ico {
	background-position: -79px 6px
}
/*Social Network*/
#social_network span {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 7px;
	background-image: url(../Images/icons/sprites_ico.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 -29px
}
.icon_gplus {
	background-position: -144px -29px
}
.icon_linkedin {
	background-position: -96px -29px
}
.icon_twitter {
	background-position: -48px -29px
}
/*Promotion*/
#promotion .img_promo img {
	max-width: 100%;
	height: auto
}
/*Slide Partners*/
#partners {
	border-top: 1px solid #841783;
	padding: 20px 30px;
}
#slide_partners a {
	display: block;
	text-align: center;
	overflow: hidden;
	height: 100px
}
#slide_partners img {
	width: auto;
	max-height: 100%
}
#copyright {
	background: url(../Images/coppyrightBg.jpg) 0 0 repeat;
	padding: 10px 0;
	margin: 0;
	color: #830081
}
#topcontrol {
	z-index: 50 !important
}
/*Newsletter*/
* html div#habifl {
	position: absolute;
	overflow:hidden;
 top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}
#habifl {
	font: 12px Arial, Helvetica, sans-serif;
	position:fixed;
	_position: absolute;
	right:0;
	bottom:0;
	height:90px;
	border:0px gray solid
}
#habieb {
	width:240px;
	padding-right:7px;
repeat-x right top;
	border: dashed 0px;
}
#habicob {
	height:33px;
	padding-left:7px;
	border: dashed 0px;
}
#habicoc li a {
	background-image:url(../Images/button.gif);
	background-repeat:no-repeat;
	width:22px;
	height:0;
	padding-top:15px;
	overflow:hidden;
	float:left;
}
#habicoh {
	display:block;
	height:33px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	background: #a2238f url(../Images/zoomchat.png) 10px 5px no-repeat;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	width:240px;
}
#habicoh a {
	text-decoration:none;
}
#habicoc {
	float:right;
	margin-top: 10px;
	margin-right: 5px;
	list-style:none;
	overflow:hidden;
	height:15px;
}
#habicoc li {
	display:inline;
}
#habicoc li a.close {
	background-position: 0 0;
}
#habicoc li a.close:hover {
	background-position: 0 -15px;
}
#habicoc li a.min {
	background-position: -24px 0;
}
#habicoc li a.min:hover {
	background-position: -24px -15px;
}
#habicoc li a.max {
	background-position: -47px 0;
}
#habicoc li a.max:hover {
	background-position: -47px -15px
}
#habico {
	display:block;
	margin:0;
	padding: 10px;
	height: 60px;
	background-color: #f0f0f0;
	border: 1px solid #a2238f;
	overflow:hidden;
	width:218px;
}
#chat_with_us a {
	display: block;
	text-align: left;
	margin: 5px 0
}
#chat_with_us img {
	width: 20px;
	height: 20px;
	margin-right: 5px
}
/*Detail Video*/
.videoWrapper {
	position: relative;
	padding-bottom: 62.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*Comment Box*/
#box_comment h4 {
	color: #4b004f;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px dotted #8f8f8f
}
.comment_part {
	background: #fbf3fb;
	padding: 10px
}
.send_comment {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
.buttoncm {
	background: #9d234c;
	color: #FFFFFF !important;
	cursor: pointer;
	padding: 5px 10px;
	margin-top: 10px;
	font: 700 12px Arial, Helvetica, sans-serif
}
.pcm {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #CCCCCC;
	margin-bottom: 10px;
}
.inputcomment {
	margin-left: 70px;
	margin-top: 29px;
}
.input_comment {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	float: left;
	margin-right: 5px !important;
	padding: 5px;
	width: 25%;
	font: 500 12px Arial, Helvetica, sans-serif
}
.input_email {
	width: 35%
}
.input_title {
	width: 62%;
	margin-top: 5px
}
.input_textarea {
	width: 98%;
	height: 80px
}
.noidungcomment {
	padding: 15px;
}
.tenuser {
	float: left;
	margin-top: 10px;
}
.comment {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment {
	float: left;
	margin-right: 5px;
	width: 100%;
}
.user {
	border-bottom: 1px solid #CCCCCC;
}
.image-user {
	float: left;
	padding: 10px;
	width: 54px;
}
.image-user img {
	height: 54px;
	width: 54px;
}
.datetime {
	float: left;
	width: 600px;
}
.points {
	color: #3C3C3C;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.nhanxet {
	margin-bottom: 20px;
	padding-left: 20px;
}
/*Print Page*/
#printing {
	width: 600px;
	margin: 0 auto;
	background-color: White;
}
#printing, #printing a {
	color: #000000
}
#printing #logo {
	width: 20%
}
#printing #logo {
	width: 20%;
	margin-right: 20px
}
#printing #function_print {
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background: #9b0004;
	border-bottom: 4px solid #000000;
	color: #FFFFFF;
	display:none;
}
#printing #function_print a {
	color: #FFFFFF
}
#printing #main {
	padding: 10px 0;
	border-bottom: 2px solid #000000;
	text-align: justify;
	color: #000;
	top: 0
}
.h2Title_P {
	font-size: 2em;
	font-weight: 500;
	color: #000;
	margin-bottom: 5px;
}
#printing #main img {
	width:100% !important
}
/*FAQ*/
.comment_frame .question {
	padding:12px 100px 12px 35px;
	background: url(../Images/ico_ask.gif) no-repeat 2px 10px;
	color:#000000;
	font-size: 1em;
	font-weight: 500;
	line-height: 20px
}
.comment_frame .z-quest {
	border-top:1px dotted #cccccc;
	position:relative;
}
.comment_frame div.question {
	background: none;
	padding-left: 0
}
.comment_frame .z-quest:first-child {
	border-top:none;
}
.comment_frame .question > span {
	display: inline-block
}
.comment_frame .answer {
	padding:10px 10px 40px;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #ffffff 60%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(60%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%, #ffffff 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%, #ffffff 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%, #ffffff 60%); /* IE10+ */
	background: linear-gradient(to bottom, #efefef 0%, #ffffff 60%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display:none;
}
.comment_frame .down {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
	cursor:pointer;
	width: 70px;
	height:15px;
	padding: 5px 15px 5px 7px;
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	background: #935a87 url(../Images/down.png) 92% 5px no-repeat;
	text-align:center;
	right:0;
	bottom: 20px;
	white-space: nowrap
}
.comment_frame .got-question {
	background: url(../Images/gotquest.gif) 0 0 no-repeat;
}
.comment_frame .got-question p {
	padding: 29px 0 14px 112px;
	margin:0px;
	font-size:12px;
	text-transform:uppercase
}
.comment_frame .down.active {
	background: #935a87 url(../Images/top.png) 92% 5px no-repeat;
	bottom: 10px;
}
.comment_frame .img_avatar_comment {
	float: left;
	width: 70px;
	margin-right: 10px
}
/*Form Danh gia*/
.comment_faq .pcmnd {
	clear: right;
	margin-bottom: 5px
}
.comment_faq .input_comment.input_name {
	width: 40%;
	padding: 7px 0;
	text-indent: 5px;
}
.comment_faq .input_comment.input_name:focus, .comment_faq .input_comment.input_textarea:focus {
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
}
