/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial;
	color:#666666;
	background: url(../Images/bg.jpg) 0 0 repeat;
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #FFFFFF;
	border: 1px solid #cacaca;
	padding: 5px;
}
.h1Title {
	font-size: 18px;
	color: #4c4343;
	margin-bottom: 10px;
}
.fll {
	float: left;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	padding: 0;
}
.page {
	width: 1000px;
	pading: 0;
	margin: 0 auto;
}
/***** Inner ********************/

.main {
	width: 100%;
	float: left;
}
/* LAYOUT

--------------------------*/
.main_content {
	float: right;
	width: 730px;
}
.Left_content {
	float: left;
	width: 260px;
}
/* HEADER

--------------------------*/
.header {
	padding: 20px 0 0 0;
	position: relative;
	background: #f89201 url(../Images/gradient_oBg.jpg) top right repeat-y;
}
.green_line {
	width: 100%;
	background: url(../Images/bg_repeat.png) 0 0 repeat-x;
	height: 5px
}
.img_head {
	float: left;
	width: 850px
}
.logo {
	float: left;
	margin-right: 80px;
}
.logotext {
	float: left;
}
.banner_head {
	float: left;
	width: 600px
}
.account {
	float: right;
	color: #FFFFFF;
}
.account a {
	color: #FFFFFF;
}
/*Language*/
.lang {
	float: right;
	clear: right;
	margin-top: 15px;
}
.lang a {
	display: inline-block;
	margin-left: 2px;
	line-height: 15px;
	width: 30px;
	height: 20px;
}
.lang .vn_icon {
	background: url(../Images/icon.png) 0 0 no-repeat;
}
.lang .en_icon {
	background: url(../Images/icon.png) -35px 0 no-repeat;
}
.cart {
	float: right;
	clear: right;
	margin-top: 15px;
	background: #FFFFFF;
	width: 128px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #c1bdbd;
}
.icon_cart {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin: -1px 10px 0 -1px;
	background: url(../Images/icon.png) -70px 0 no-repeat
}
.cart b {
	color: #969696
}
/*Top Main*/
.top_main_info {
	float: left;
	width: 100%;
	height: 30px;
	padding: 5px 0;
	background: #f9f9f9;
	line-height: 30px;
}
.top_main_info .bookmark a {
	display: inline-block;
	background: url(../Images/checked_icon.png) 0 5px no-repeat;
	padding-left: 25px;
	margin-left: 50px;
}
.top_main_info .like_btn {
	width: 10%;
	margin-top: 4px;
	margin-left: 50px;
}
/* SEARCH TOP MAIN */
div#search_filter {
	padding: 20px;
	background: url(../Images/gradient_oBg.jpg) 0 0 repeat-y;
	margin: 0 auto;
	border: none;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
div#search_filter input {
	border: 1px solid #3ca5c5;
	width: 208px
}
div#search_filter .dropdown {
	float: left;
	background: #FFFFFF;
	height: 25px;
	margin: 5px 0;
	overflow: hidden;
	width: 100%;
}
div#search_filter select {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #3ca5c5;
	font: 13px Arial;
	height: 25px;
	line-height: 25px;
	padding: 2px;
	width: 100%;
}
div#search_filter .sm_button {
	float: left;
	width: 100%;
	margin: 10px auto 0 auto;
	text-align: center;
}
div#search_filter .sm_button input {
	background: url(../Images/icon.png) -1px -160px repeat-x;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #000000;
	font: italic bold 14px Arial, Helvetica, sans-serif;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
/*Support*/
.support_head {
	position: fixed;
	top: 35%;
	left: 0;
	z-index: 9999;
}
.title_support {
	display: block;
	position: absolute;
	left: 0;
	width: 50px;
	height: 110px;
	background: url(../Images/icon.png) -167px 0 no-repeat;
}
.support_bg {
	display: block;
	position: absolute;
	top: 7px;
	left: -185px;
	width: 160px;
	padding: 0 0 10px 8px;
	background: #F3F3F3;
	border: 1px solid #FFFFFF;
	-moz-box-shadow: -2px 1px 5px #888888;
	-webkit-box-shadow: -2px 1px 5px #888888;
	box-shadow: -2px 1px 5px #888888;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	text-align: center;
}
.support_head:hover .support_bg {
	-moz-transform: translateX(132%);
	-o-transform: translateX(132%%);
	-webkit-transform: translateX(132%%);
	transform: translateX(132%%);
}
.hotline_head {
	float: left;
	border-right: 1px solid #555555;
	width: 110px;
	font-size: 13px;
	font-weight: 700;
}
.hotline_icon {
	background:  url(../Images/icon.png) -40px -24px no-repeat;
	float: left;
	height: 11px;
	margin: 2px 5px;
	width: 17px;
}
.support_head a {
	display: inline-block;
	width: 70px;
	margin-right: 8px;
	margin-top: 10px;
}
.support_head img {
	padding-bottom: 5px
}
/* MENU SIDEBAR */
#vertical_menu {
	padding: 0 10px
}
.topnav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.topnav li {
	position: relative
}
.topnav li a {
	display: block;
	padding: 8px 5px 8px 20px;
	color: #363636;
	text-decoration: none;
	font-weight: 700;
	font-size: 13px;
	font-style: italic;
	border-bottom: 1px dotted #c2c2c2;
	background: url(../Images/arrow_left.png) 5px 12px no-repeat;
}
.topnav ul, .topnav ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 9999;
	width: 100%;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
	height: auto;
}
.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
}
.topnav ul a {
	font-size: 12px;
	padding-left: 20px;
	font-weight: 500;
	outline:0;
	text-transform: none;
	color: #363636;
	font-style: normal;
}
.topnav a:hover {
	color:#F74203;
}
.topnav li:last-child a {
	border-bottom: none
}
/*Access Status*/
#visitors p {
	margin: 5px 0
}
#visitors span {
	float: left;
	width: 110px;
	text-align: right;
	position: relative;
	top: -4px;
	margin-right: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: 700
}
/*Link Website*/
.type_option {
	border: 1px solid #41a7c7;
	background: #FFFFFF;
	color: #000000;
	font: 13px Tahoma;
	padding: 3px 2px;
	width: 240px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*support*/
#beforefooter-support .wraper {
	width:980px;
	padding: 0 10px;
	height:45px;
	float:left;
	margin:0 auto;
	background: url(../Images/bg_repeat.png) 0 -87px repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 999999;
}
#beforefooter-support {
	position:relative;
}
.stick {
	bottom: 0;
	position: fixed;
}
#support li {
	float: left;
	height: 45px;
	line-height: 45px;
}
#support li.hotline {
	width: 280px
}
#support li.fl_botttom {
	padding-top: 5px
}
#support li.payment {
	float: right;
	width: 215px
}
#support li span.title_sp {
	margin-right: 10px;
	font-style: italic;
	color: #FFFFFF;
	font-weight: 700;
	text-shadow: 0 1px 1px #000000;
}
#support li span.phonenumber {
	color: #FFFFFF;
	font: bold 14px Georgia, "Times New Roman", Times, serif
}
div#sticker .phone {
	color: #FFFFFE;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 0 12px;
	background: url(../Images/icon.png) -90px -72px no-repeat;
	padding-left: 120px;
}
div#sticker .phone span {
	padding: 0 10px;
}

/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content {
	padding: 9px;
	background: #FFFFFF;
	border: 1px solid #f9a5f4;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
}
.main_content .box_content {
	padding: 10px;
	border: none;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}
/* Create arrow right */
.arrow_right {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ffffff;
	top: 30%;
	right: -10px;
}
/*Tab*/
.box_Tab {
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	background: url(../Images/bg_repeat.png) 0 -12px repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.main_content .box_Tab {
	text-align: left;
	text-transform: none;
}
.main_content .box_Tab span {
	font-style: italic;
	padding-left: 10px;
}
/*Product*/
.product_row {
	margin-left: -15px;
}
.product {
	float: left;
	text-align: center;
	width: 210px;
	height: 300px;
	margin: 20px 0 0 30px;
	position: relative;
}
.img_product {
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
	-moz-box-shadow:3px 3px 8px #4F753C;
	-webkit-box-shadow:3px 3px 8px #4F753C;
	box-shadow:3px 3px 8px #4F753C;
}
.product_name {
	max-height: 30px;
	overflow: hidden;
}
.product_name a {
	font-weight: 700;
	line-height: 16px;
}
.price {
	color: #ff0000;
	font: bold 16px Georgia, "Times New Roman", Times, serif;
	margin-bottom: 5px;
}
.price sup {
	font: normal 13px Arial, Helvetica, sans-serif;
}
.addtocart {
	display: block;
	width: 80px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 700;
	text-shadow: 1px 1px #777777;
	background: url(../Images/icon.png) -1px -121px no-repeat;
}
/*Detail Products*/
.dt_infop {
	float: left;
	width: 330px;
}
.float_L {
	float: left;
	clear: both;
	line-height: 25px;
}
.float_L span {
	float: left;
	width: 100px;
	font-weight: 700;
	font-size: 12px;
	color: #333333;
}
.dt_infop .short_des p {
	margin: 10px 0;
	line-height: 120%;
	color: #156ec9;
}
.dt_infop .quantity .inputbox {
	width: 20px;
	padding: 4px;
	text-align: center;
}
.dt_infop .dt_price {
	color: #CC0000;
	font: bold 20px Arial, Helvetica, sans-serif;
}
.dt_price span {
	line-height: 40px
}
.dt_infop .button a {
	float: left;
	display: inline-block;
	margin-top: 20px;
}
.dt_infop .dt_buy {
	margin-right: 10px;
	width: 100px;
	height: 45px;
	background: url(../Images/icon.png) 0 -258px no-repeat;
}
.dt_infop .dt_addtocart {
	margin-top: 20px;
	display: block;
	width: 210px;
	height: 45px;
	background: url(../Images/icon.png) 0 -305px no-repeat;
}
/*Cart*/
table.page_cart {
	background-color: #dedede;
	border-spacing: 1px;
	margin: 0.5em 0;
}
table.page_cart th {
	color: #FFFFFF
}
table.page_cart th, table.page_cart td {
	padding: 4px
}
table.page_cart td {
	background-color: #FFFFFF;
}
table.page_cart td.product_name {
	color: #783900;
	font-weight: 700
}
#news-container {
	margin-bottom: 10px;
	padding: 0 30px;
}
#news-container .title {
	background-color: #46a9f1;
	border-top: 1px solid #dedede;
	color: #555555;
	font: bold 14px Arial;
	margin: 0.5em 0;
	padding: 10px;
}
.button_payment {
	display: inline-block;
	width: 80px;
	height: 30px;
	background: url(../Images/bg_repeat.png) 0 -99px repeat-x;
	margin-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font: bold 12px Arial;
	line-height: 30px;
	text-align: center;
	cursor:pointer;
}
.button_payment:hover {
	text-decoration: none
}
/*Pagination*/
.navigation {
	font-weight: bold;
	margin: 15px auto;
	padding: 0;
	line-height: 15px;
	text-align: right;
	width: 100%;
}
.navigation a {
	padding: 0 5px;
	color: #388400;
	border-right: 1px solid #388400;
}
.navigation b, .navigation a:hover {
	color: #d25101;
	padding: 0 5px;
	border-right: 1px solid #388400;
}
.navigation a:last-child {
	border: none
}
/*List News*/
#list_news li {
	border-bottom: 1px dotted #b9babb;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news .h2Title a {
	background: url(../Images/cicle_arrow.png) 100% 50% no-repeat;
	padding-right: 15px;
}
#list_news .hot_news .h2Title a {
	font-size: 18px;
	font-weight: 700;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_general {
	float: left;
	padding-top: 10px;
	width: 100%;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_left.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_more {
	position: absolute;
	bottom: 10px;
	right: 0;
	color: #f74203;
}
.path {
	float: left;
	width: 98.6%;
	background: #d15001;
	font-weight: 500;
	padding: 5px;
	margin-bottom: 10px;
	text-align: left;
	text-transform: none;
	color: #FFFFFF;
}
.path a {
	color: #FFFFFF;
}
.left_content .image_gallery {
	margin-top: 20px;
}
.left_content .image_gallery li {
	margin-bottom: 5px;
	text-align: center;
}
/*Footer*/
.footer {
	clear: both;
	float: left;
	padding-top: 10px;
	width: 100%;
	color: #FFFFFF;
	border-top: 5px solid #1f7b00;
	background: #a75823;
	padding-bottom: 45px;
}
.footer a {
	color: #FFFFFF;
}
.foo_l {
	float: left;
	width: 70%
}
.foo_r {
	float: right
}
.menu_footer {
	float: left;
	width: 100%;
	margin: 0;
}
.menu_footer a {
	padding-right: 10px;
	font-weight: 500
}
.foo_bot {
	float: left;
	width: 100%;
	padding: 10px 0;
	margin-top: 10px;
	background: url(../Images/bg_repeat.png) 0 -168px repeat-x;
}
.info_footer {
	float: left;
	width: 80%;
	text-align: center;
}
.info_footer p {
	margin: 0;
	padding: 0;
}
.transport {
	float: right;
}
.icon_transp {
	float: left;
	margin-right: 3px;
	display: block;
	width: 34px;
	height: 30px;
	background: url(../Images/icon.png) -113px 0 no-repeat
}
.copyright {
	float: left;
	text-align: left;
	margin-top: 5px;
}
/*Get Email*/
#get_email {
	float: right;
	width: 218px;
	height: 23px;
	border: 1px solid #251508;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ff9348
}
#get_email input {
	float: left;
	background:  none;
	color: #FFFFFF;
	padding-left: 5px;
	height: 21px;
	line-height: 21px;
	width: 165px
}
.send_button {
	float: right;
	display: block;
	width: 40px;
	height: 21px;
	line-height: 21px;
	margin: 1px 1px 0 0;
	background: url(../Images/bg_repeat.png) 0 -140px repeat-x;
	font-size: 12px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
	font-style: italic;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.social_network {
	float: left;
	clear: right;
	text-align: right;
	margin-top: 10px;
}
.social_network span {
	display: inline-block;
	width: 32px;
	height: 31px;
	background-image: url(../Images/icon.png);
	background-repeat: no-repeat;
	padding-right: 3px;
}
.icon_facebook {
	background: url(../Images/icon.png) 0 -220px no-repeat;
}
.icon_twitter {
	background: url(../Images/icon.png) -38px -220px no-repeat;
}
.icon_gplus {
	background: url(../Images/icon.png) -76px -220px no-repeat;
}
.icon_p {
	background: url(../Images/icon.png) -113px -220px no-repeat;
}
.icon_linkedin {
	background: url(../Images/icon.png) -151px -220px no-repeat;
}
.icon_youtube {
	background: url(../Images/icon.png) -187px -220px no-repeat;
}
.facebook_cn a:hover {
	text-decoration: none
}
