@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#555555;
	background: #FFFFFF;
}
body a {
	text-decoration: none;
	color: #4d4d4d;
}
body a:hover {
	text-decoration: none;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.ar11, .ar11 a {
	font: normal 11px Arial, Helvetica, sans-serif;
}
.ar12, .ar12 a {
	font: normal 12px Arial, Helvetica, sans-serif;
}
.ar13, .ar13 a {
	font: normal 13px Arial, Helvetica, sans-serif;
}
.ar14, .ar14 a {
	font: normal 14px Arial, Helvetica, sans-serif;
}
.ar18, .ar18 a {
	font: normal 18px Arial, Helvetica, sans-serif;
}
p {
	line-height: 18px;
}
.img_general {
	float: left;
	margin-right: 10px;
}
/* WRAPPER --------*/

#wrapper {
	width:100%;
	float: left;
	margin: 0 auto;
	padding: 0;
}
.page {
	width: 1000px;
	pading: 0;
	margin: 0 auto;
}
/* LAYOUT

--------------------------*/

.main {
	float: left;
	margin: 0 auto;
	padding: 0;
	display: block;
	width: 100%;
	clear: both;
}
.main_content {
	float: left;
	width: 100%;
	margin: 10px 0;
}
.left-content {
	float: left;
	width: 740px;
}
.right-content {
	float: right;
	width: 250px;
}
/* HEADER

--------------------------*/
.top_link {
	float: left;
	width: 100%;
	margin-top: 5px;
	background: #e7e7e7;
	border-top: 1px solid #a8a8a8;
	height: 25px;
	line-height: 24px;
	font-size: 11px;
}
.hotline {
	float: left;
	width: 18%;
	margin-left: 5px;
}
.features {
	float: left;
	width: 48%;
	margin-left: 20px;
	font-size: 12px;
}
.features span {
	display: inline-block;
	margin-left: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
.account_user {
	float: right;
	width: 23%;
}
.account_user ul {
	color: #2d2c2c;
}
.account_user ul li {
	float: left;
	position: relative;
	margin-top: 4px;
	height: 15px;
}
.account_user ul li a {
	display: block;
	color: #2d2c2c;
	padding: 0 5px;
	line-height: 15px;
	border-left: 1px solid #2d2c2c;
}
.header {
	float: left;
	width: 100%;
	display: inline-block;
	margin: 0;
}
.logo {
	float: left;
	margin-top:32px;
}
/*Account*/
.popup_login, .popup_support {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 20px;
	position: absolute;
	width: 240px;
	z-index: 999999;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	border-top: 1px solid #DDDDDD;
	font: normal 12px Arial, Helvetica, sans-serif;
}
.account_user ul li.bubbleInfo .popup_login a {
border: none !imporatnt;
	padding: 0
}
.input_form {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.input_form input {
	border: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	color: #333333;
	font: normal 12px Arial, Helvetica, sans-serif;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 218px;
	text-align: left;
}
.note_wrapper {
	float: left;
	width: 100%;
	margin: 0;
}
.lost_password {
	float: left;
	width: 58%;
}
.link_acount {
	color: #0B58C2;
	line-height: 16px;
	text-decoration: underline;
}
.remember_password {
	float: right;
	width: 40%;
	text-align: right;
}
.remember_password input[type="checkbox"] {
	border: medium none;
	box-shadow: none;
	float: left;
	height: 30px;
	margin-top: -8px;
	width: 20px;
}
.popup_login ul li, .popup_support ul li {
	float: left;
	width: 100%;
}
.popup_login .button {
	background: #FF6600;
	border: 0 none;
	color: #FFFFFF;
	width: 130px;
	text-align: center;
	cursor: pointer;
}
.popup_support {
	width: 200px;
	left: -20px;
}
.popup_support ul li {
	margin: 5px 0;
}
.menu_account {
	background-color: #FFFFFF;
	overflow: hidden;
	margin-top: 5px;
}
.menu_account ul {
	float: left;
	width: 100%;
	margin-top: -1px;
	position: relative;
	text-align: left;
}
.menu_account ul li {
	border-top: 1px dotted #CCCCCC;
	border-left: none;
	clear: left;
	float: none;
	padding: 0;
	margin-top: -1px;
	overflow: hidden;
	height: auto;
}
.menu_account ul li a {
	background: none repeat scroll 0 0 transparent;
	color: #333333;
	font-family: robotoRegular, arial;
	font-size: 100%;
	font-weight: 400;
	height: 28px;
	line-height: 28px;
	padding: 0;
	width: 100%;
}
.menu_account ul li:hover {
	background-color: #DDDDDD;
	text-decoration: none;
}
/* MENU SIDEBAR */
.all_categories {
	float: left;
	width: 198px;
	min-height: 360px;
	border: 1px solid #c4c4c4;
	-moz-box-shadow: 0 0px 5px #DDDDDD;
	-webkit-box-shadow: 0 0px 5px #DDDDDD;
	box-shadow: 0 0px 5px #DDDDDD;
}
.nav_menu {
	float:left;
	background: #FFFFFF;
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
	width: 100%;
	position: relative;
	display: none;
	min-height: 0;
}
.all_categories .show_menu:hover .nav_menu {
	display: block;
}
.m_li {
	cursor: pointer;
	float: left;
	margin: 0;
	padding: 7px 10px;
	width: 100%;
	font-weight: 700;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px dotted #cacaca;
}
.m_li a {
	font-weight: bold;
	padding-left: 10px;
	background: url(../Images/icon.png) no-repeat scroll 0 -79px transparent;
}
.pc_menu a {
	font-weight: normal;
}
.m_li:hover {
	text-decoration: none;
	z-index: 999999999;
}
.m_li:hover a.t_menu {
	color: #3e3e3e;
}
.t_menu {
	color: #3e3e3e;
	display: block;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}
.t_menu:hover {
	text-decoration: none;
}
.t_menu:hover .tip {
	display: block;
}
.sbm-bge {
	display: inline;
	margin-left: 0.3em;
	margin-top: -5px;
	background: #ffdad5;
}
.sbm-bge > span {
	background: linear-gradient(to bottom, #E53D2C 0px, #BB0000 100%) repeat scroll 0 0 transparent;
	border: 1px solid #FFFFFF;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	display: inline;
	font-size: 0.6em;
	font-weight: bold;
	line-height: 100%;
	margin: 0 5px;
	padding: 3px;
	position: absolute;
	text-transform: uppercase;
}
.list_categories img {
	margin-top: 4px;
}
.list_categories a {
	font-size: 12px;
	font-weight: normal;
	padding: 2px 3px 2px 15px;
	background: none;
}
.list_categories ul {
	list-style-type: none;
}
.list_categories ul li {
	background: none repeat scroll 0 0 transparent !important;
	border: medium none !important;
	float: none !important;
	font-weight: normal;
	line-height: 20px;
	margin-left: 20px;
	width: 200px;
}
.list_categories ul li span {
}
/*.list_categories {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #0039DE;
    display: none;
    padding-bottom: 10px;
    position: absolute;
    top: 30px;
    width: 560px !important;
    z-index: 99999999;
}*/
.list_categories {
	background: none repeat scroll 0 0 #FFFFFF;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
	display: none;
	padding: 10px 0;
	position: absolute;
	top: -35px;
	left: 194px !important;
	width: 770px !important;
	z-index: 999999;
}
.tip {
	display: none;
	width:0px;
	height:0px;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 999999999;
}
.tip:before, .tip:after {
	content: '';
	width: 0px;
	height: 0px;
}
.tip:before {
	border-bottom:8px solid transparent;
	border-top:8px solid transparent;
	border-right:8px solid #c1c1c1;
	position: absolute;
	top: 0;
	left: 99%;
	z-index: 1;
}
.tip:after {
	border-bottom:7px solid transparent;
	border-top:7px solid transparent;
	border-right:8px solid #FFFFFF;
	position: absolute;
	top: -1px;
	left: 100%;
	z-index: 2;
}
.pc_menu {
	float: left;
	width: 250px !important;
}
.list_categories p {
	color: #C81A19;
	font-size: 13px;
	font-weight: bold;
	margin: 2px 0;
	padding: 2px 5px;
}
.list_categories p a {
	color: #BD0000;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.image_cate {
	clear: both;
	width: 98%;
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
	display: block;
}
.pc_menu ul li a {
	background: url(../Images/icon.png) no-repeat scroll 0 -75px transparent;
	padding-left: 10px;
	display: block;
	text-decoration: none !important;
}
/*Top Main*/
.top_main {
	margin-top: 10px;
}
.right_top_main {
	float: right;
	width: 790px;
	padding: 0;
	margin: 0;
	position: relative;
}
.ads_top_main {
	float: right;
	text-align: right;
	width: 200px;
}
.ads_top_main img {
	margin-bottom: 10px;
	border: 1px solid #c2c2c2;
}
.ads_middle {
	float: left;
	margin-left: -9px;
	margin-bottom: 10px;
}
.ads_middle img {
	margin-left: 9px;
}
.inputbox {
	border: 1px solid #cac2c2;
	padding: 4px;
}
.icon_account {
	float: left;
	width: 50%;
}
/* SEARCH */
.search {
	float: left;
	width: 400px;
	margin: 25px 0 25px 40px;
	background: #FFFFFF;
	border: 1px solid #cdcdcd;
}
.inputSearch {
	border: none;
	color: #000000;
	float: left;
	font: 12px arial;
	height: 28px;
	line-height: 28px;
	padding: 0 0 0 5px;
	width: 300px;
}
.btn_search {
	float: right;
	margin: 1px;
	display: block;
	width: 90px;
	height: 26px;
	line-height: 26px;
	background: #f88b08 url(../Images/icon.png) 5px 5px no-repeat;
	padding-left: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	border: none;
}
.cart {
	float: right;
	margin-top: 10px;
	text-align: right;
	width: 70px;
	height: 35px;
	background: url(../Images/icon.png) 40px -35px no-repeat;
	z-index: 999;
}
.cart a {
	display: block;
	padding-right: 35px;
	line-height: 18px;
	text-transform: uppercase;
}
.support {
	float: right;
	background: url(../Images/icon.png) 0 -214px no-repeat;
	clear: right;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
	padding-left: 25px;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
}
/*Voucher*/
.voucher {
	float: left;
	border: 1px solid #CCCCCC;
	margin: 10px auto 0;
	padding: 1px 0;
	position: relative;
	width: 100%;
	-moz-box-shadow: 0 4px 7px #DDDDDD;
	-webkit-box-shadow: 0 4px 7px #DDDDDD;
	box-shadow: 0 4px 7px #DDDDDD;
	font: bold 12px Arial, Helvetica, sans-serif;
}
label.nl_header {
	text-transform: uppercase;
	color: #bd0000;
}
.voucher_l {
	float: left;
	width: 50%;
}
.voucher_l h3 {
	left: -10px;
	line-height: 28px;
	position: absolute;
	top: 0;
	width: 100%;
}
.ribbon_voucher {
	float: left;
	position: relative;
	top: -1px;
	left: 5px;
	width: 180px;
	height: 35px;
	background: url(../Images/icon.png) 0 -250px no-repeat;
	padding-left: 5px;
	color: #f88b08;
}
.inner_text_voucer_ribbon {
	color: #FFFFFF;
}
.btn_submit {
	float: right;
	min-width: 140px;
	background: #f88b08;
	border: none;
	padding: 0;
	height: 27px;
	margin-right: 1px;
	font-weight: bold;
	vertical-align: top;
	color: #FFFFFF;
	text-transform: uppercase;
	cursor: pointer;
}
.choose_type {
	float: left;
	line-height: 27px;
	margin-left: 500px;
	position: relative;
}
label.nl_header {
	display: inline;
	padding: 0 10px 0 3px;
}
.msgBox-center {
	display: none;
	margin: 12px auto 0;
	width: 996px;
}
.nl_absolute {
	position: absolute;
	text-align: center;
	width: 300px;
}
#nllosu_center_box {
	height: 480px;
	overflow: hidden;
}
.nl_inline_notification {
	display: none;
	text-align: center;
}
.ui-buttonCtaNewsletter {
	text-transform: none !important;
}
.nl_frequencyRadio {
	display: inline !important;
	margin-left: 15px;
	vertical-align: middle;
}
.nl_frequencyRadioLabel {
	display: inline !important;
	margin-top: 15px;
}
.nl_frequencyCheckboxLabel {
	margin-bottom: 15px;
}
.nl_frequencyPaddingBottom {
	padding-bottom: 10px;
}
.nl_frequencyHide {
	display: none !important;
}
.ie10 .nb-input-cont input[type="radio"] {
	margin: 0 -6px -4px 0;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content {
	border: 1px solid #c1c1c1;
	padding: 3.2em 0.9em 0.9em 0.9em;
}
#box_detail {
	padding: 0.9em
}
.dt_right .box_content {
	padding: 0.3em
}
.box_tab {
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid #cfcfcf;
	line-height: 25px;
	text-align: center;
}
* {
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0s ease-in-out 0s;
}
.ribbon_container {
	background-color:#0049ce;
	color:#fff;
	display:inline-block;
	font-family:arial;
	font-size:12px;
	line-height:1.1em;
	font-weight: 700;
	min-width:13%;
	padding:8px 28px 8px 25px;
	position: absolute;
	top: 0;
	left: -5px;
	text-align:center;
	text-transform:uppercase;
	white-space:nowrap;
	text-transform:uppercase
}
.ie7 .ribbon_container {
	width:18%
}
.ribbon_container:before {
	z-index:1000;
	content:' ';
	position:absolute;
	width:0;
	height:0;
	right:0;
	top:0;
	border-color:transparent #FFF transparent transparent;
	border-width:15px;
	border-style:solid
}
.ribbon_container:after {
	content:' ';
	position:absolute;
	width:0;
	height:0;
	left:0;
	top:100%;
	border-width:3px;
	border-style:solid;
	border-color:#001f57 #001f57 transparent transparent
}
/*Products*/
.product_row {
	margin: 0 auto;
}
.product {
	float: left;
	width: 20%;
	height: 270px;
	line-height: 20px;
	text-align: center;
	font: normal 12px Arial, Helvetica, sans-serif;
}
.product:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:inset 0 -4px 10px #a1a0a0;
	-webkit-box-shadow:inset 0 -4px 10px #a1a0a0;
	box-shadow:inset 0 -4px 10px #a1a0a0;
}
.product_inner {
	padding: 5px 12px;
}
.product_name {
	width: 100%;
	height: 35px;
	overflow: hidden;
	display: table;
	text-align: center;
}
.product_name span {
	display: table-cell;
	vertical-align: middle;
}
.product_name a {
	line-height: 16px;
}
.price {
	margin: 7px 0 5px 0;
}
.price span {
	color: #fe0000;
	font-weight: 700;
}
.view_more {
	float: right;
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	background: url(../Images/button_viewBg.jpg) top left repeat-x;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.reduce {
	display: block;
	position: absolute;
	top: 5px;
	right: -5px;
	font-size: 12px;
	color: #FFFFFF;
	background: url(../Images/icon.png) transparent no-repeat 100% 0;
	text-align: center;
	width: 77px;
	height: 29px;
	z-index: 100;
	line-height: 25px;
}
.boxgrid {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: left;
}
.boxcaption {
	background: none repeat scroll 0 0 #f5f5f5;
	float: left;
	height: 170px;
	padding: 10px;
	margin: 0 2px;
	width: 170px;
	position: absolute;
	left: 0;
	top: 174px;
	color: #3e3e3e;
}
.boxcaption a {
	text-decoration: none;
}
/*Jquery chay tu duoi len*/
/*=========BOX #demo ========*/
#demo {
	width:100%;
	font-size:12px;
	;
	padding: 0;
	margin:0 auto;
	font-family:Verdana, Arial, Helvetica, sans-serif, Sans-Serif;
}
/*========= BOX .jcarouse ========*/
.jcarouse {
	width:100%;
}
.jcarouse ul li {
	list-style:none;
	display:block;
	padding: 10px;
	margin-bottom:5px;
	height:50px;
}
.jcarouse ul li a {
	display:block;
	color:#514448;
	width:200px;
}
.jcarouse ul li a:hover {
	display:block;
	color:#DB2E66;
}
.jcarouse .thumb {
	float:left;
	width:110px;
	height:50px;
}
.jcarouse .info {
	float:right;
	width:210px;
}
.clr {
	clear: both;
}
/*Slide*/
.slider_hoz {
	float: left;
	width: 100%;
	margin: auto;
	position: relative;
	z-index: 5;
}
/*------------------------------------------------------*/			
.jcarousel-skin-tango {
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 97.5%;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin: 0;
	width: 190px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	background: url(../Images/arrows.png) no-repeat scroll 100% 0;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: -11px;
	top: 40%;
	width: 20px;
	z-index: 10;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: url(../Images/arrows.png) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 40px;
	position: absolute;
	top: 40%;
	left: -10px;
	width: 20px;
	z-index: 10;
}
.trade_mark .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 98%;
}
.trade_mark .jcarousel-skin-tango .jcarousel-next-horizontal {
	background: url(../Images/arrows.png) no-repeat scroll 100% -146px;
	cursor: pointer;
	height: 14px;
	position: absolute;
	right: -5px;
	top: -28px;
	width: 15px;
	z-index: 10;
}
.trade_mark .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: url(../Images/arrows.png) no-repeat scroll 0 -146px transparent;
	cursor: pointer;
	height: 14px;
	position: absolute;
	top: -28px;
	left: auto;
	right: 15px;
	width: 15px;
	z-index: 10;
}
.trade_mark .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 20px;
	width: 142px;
	border: 1px solid #e3e3e3;
}
.slider_hoz .product {
	width: 100%;
	display: block;
}
.slider_hoz .product_inner {
	padding: 5px 10px;
}
/*Logo Bank*/
#logo_bank ul {
	margin-left: -4px;
}
#logo_bank ul li {
	float: left;
	width: 190px;
	height: 80px;
	margin-left: 6px;
}
/*Detail*/
.path {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	text-transform: uppercase;
}
.path a {
	font-weight: 500;
	padding: 0 5px;
	color: #3e3e3e;
}
.dt_left {
	float: left;
	width: 770px;
}
.info_product {
	float: right;
	width: 390px;
}
.brand {
	width: 100%
}
.title_brand {
	font-size: 14px;
	text-transform: uppercase;
	font: normal 18px Arial, Helvetica, sans-serif;
}
.title_pr {
	font-weight: 700;
	font-size: 12px;
}
.brand .h1Title {
	float: left;
	color: #3e3e3e;
}
.short_des {
	margin: 20px 0;
}
.short_des span {
	font-weight: 700;
}
.short_des .dt_price {
	font-size: 14px;
	color: #fe0000;
}
.time_transport {
	text-align: right;
}
.time_transport span {
	color: #1e7200;
	font-weight: 700;
	text-transform: uppercase;
}
.buy_function {
	float: left;
	width: 100%;
	padding: 5px;
	margin: 15px 0;
	background: #eaeaea;
}
.buy_function ul li {
	background: url(../Images/icon.png) 0 -523px no-repeat;
}
.info_detail p {
	margin: 10px 0;
}
.line {
	float: left;
	border-top: 1px solid #cfcfcf;
	width: 100%;
	height: 1px;
	margin-top: 10px;
}
.buy_detail {
	float: left;
	display: block;
	background: url(../Images/icon.png) 0 -350px no-repeat;
	width: 185px;
	height: 50px;
	margin-right: 20px;
}
.buy_detail span {
	display: block;
	line-height: 50px;
	padding-left: 70px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 150%;
	text-transform: uppercase;
	text-shadow:0 1px 1px #000000;
}
.buy_detail:hover {
	color: #FFFFFF;
	text-decoration: none
}
.buy_function ul {
	float: right;
}
.buy_function ul li {
	background: url(../Images/icon.png) 0 -415px no-repeat;
	padding-left: 15px;
	margin: 7px 0;
}
.dt_support {
	width: 260px;
	height: 40px;
	margin: 10px auto;
	background: url(../Images/icon.png) 0 -579px no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.chat {
	float: left;
	width: 80px;
	padding: 22px 0 0 20px;
	font-size: 11px;
}
.order_online {
	float: right;
	width: 160px;
	font-size: 11px;
	font-weight: 700;
	padding-top: 5px;
}
.phonenumber {
	color: #ff0000;
	font-weight: 700;
	font-size: 14px;
}
.links_more {
	text-align: center;
}
.links_more a {
	display: inline-block;
	padding-left: 15px;
	margin: 10px 20px;
	text-transform: uppercase;
	color: #0e9cf6
}
.like_pr {
	background: url(../Images/icon.png) 0 -440px no-repeat;
}
.compare {
	background: url(../Images/icon.png) 0 -465px no-repeat;
}
.method_payment {
	display: block;
	background: url(../Images/icon.png) 135% -88px no-repeat;
	padding-left: 20px;
	padding-top: 10px;
}
.dt_right {
	float: right;
	width: 200px;
}
.dt_right ul {
	width: 100%;
}
.dt_right ul li {
	background: url(../Images/icon.png) 5px -523px no-repeat;
	padding-left: 20px;
	margin: 7px 0;
}
.dt_right ul.all_features li {
	background: url(../Images/icon.png) 5px -523px no-repeat;
}
.dt_right ul.all_features li.hotln {
	background: url(../Images/icon.png) 5px -547px no-repeat;
}
.lb_classified {
	font-weight: 700;
	padding: 5px 0 0 0;
	display: block;
}
.dt_right ul.classified li {
	background: none;
}
.tab_info {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 10px;
}
/*Comments*/
.comment_part {
	float: left;
	width: 100%;
}
.detail .h1Title {
	float: right;
	text-align: left;
	margin: 0 0 10px 0;
	padding-bottom: 3px;
	width: 66.5%;
	border-bottom: 1px solid #d6d6d6;
}
.info_detail .facebook {
	left: 100%;
	top: 0;
}
.info_detail ul li {
	background: url(../Images/icon.png) 214% -73px no-repeat;
	margin: 5px 0;
	padding-left: 20px;
}
/*Comment Box*/
.comment_part h4 {
	color: #4582B9;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
.choose_product {
	margin-top: 5px;
	padding: 0 10px;
}
.investigation .choose_product {
	padding-top: 0;
}
.choose_product p {
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
.vote {
	background: url(../Images/vote.png) repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 26px;
	width: 71px;
}
.result {
	float: left;
	margin: 0;
	padding: 0;
}
.result input {
	float: left;
}
.result a {
	color: #568AB9;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
	text-decoration: none;
}
.investigation h4 {
	border-bottom: 2px solid #1B65AC;
	padding-bottom: 5px;
	padding-left: 10px;
}
.quantity_post {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 20px
}
.send_comment {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
.buttoncm {
	background: none repeat scroll 0 0 #C4C4C4;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	color: #3C3C3C !important;
	cursor: pointer;
	padding: 5px 20px;
}
.postcomment input, .postcomment textarea {
	color: #7F7F7F;
	border: 1px solid #B5B5B5;
}
.pcmnd textarea {
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 5px;
	width: 98.5%;
}
.pcmnd {
	padding: 10px 10px 0 10px;
}
.pcm {
	float: left;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment .star {
	margin-top: 40px;
	width: 100px !important;
}
.star {
	float: left;
	margin-top: 9px;
	width: 200px !important;
}
.star_post {
	float: left;
	margin-top: 35px;
}
.choose_product {
	color: #3C3C3C;
	float: left;
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 30px;
}
.inputcomment {
	float: left;
	margin-top: 29px;
}
.nhapten {
	border-radius: 5px 5px 5px 5px;
	float: left;
	margin-right: 5px !important;
	padding: 5px;
	width: 160px;
}
.diachi {
	border-radius: 5px 5px 5px 5px;
	float: left;
	padding: 5px;
	width: 250px;
}
.noidungcomment {
	padding: 15px;
}
.tenuser {
	float: left;
	margin-top: 10px;
}
.comment {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment {
	border: 1px solid #CCCCCC;
	float: left;
	margin-right: 5px;
	width: 100%;
}
.user {
	border-bottom: 1px solid #CCCCCC;
}
.image-user {
	float: left;
	padding: 10px;
	width: 80px;
}
.image-user img {
	height: 54px;
	width: 54px;
}
.datetime {
	float: left;
	width: 600px;
}
.points {
	color: #3C3C3C;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.nhanxet {
	margin-bottom: 20px;
	padding-left: 20px;
}
#star {
	float: left;
}
#vote {
	color: red;
}
.tenspcb {
	color: #6D6B6C;
	font-size: 14px;
	font-weight: bold;
}
.des {
	color: #7F7F7F;
}
.noidungspcb p {
	margin-bottom: 10px !important;
}
.spcb p {
	margin-bottom: 0;
}
.spcb input {
	float: left;
	margin-right: 50px;
	margin-top: 20px;
}
.spcb img {
	float: left;
	height: 94px;
	margin-right: 30px;
	width: 120px;
}
.noidungspcb {
	float: left;
	width: 665px;
}
.ques {
	margin-bottom: 10px;
}
.hoidap {
	padding-left: 25px;
	padding-right: 25px;
}
.hoi {
	color: #E46A07;
	float: left;
	font-size: 14px;
	width: 40px;
}
.traloi {
	color: #7F7F7F;
	float: left;
	margin-top: 3px;
	width: 650px;
}
.dap {
	color: #2FB30F;
	float: left;
	font-size: 14px;
	width: 40px;
}
/*Pagination*/
.pagination {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	line-height: 20px;
}
.pagination a {
	border: 1px solid #5e5e5e;
	border-radius: 5px 5px 5px 5px;
	margin: 0 2px;
	padding: 3px 8px;
}
.pagination b, .pagination a:hover {
	background: #5e5e5e;
	border: 1px solid #5e5e5e;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*News*/
.list_news {
	float: left;
	width: 100%;
	border-top: 3px solid #00346a;
	padding-top: 10px;
}
.list_news ul {
	padding: 10px;
}
.list_news ul li {
	border-bottom: 1px dashed #f45b82;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .view_more {
	font-size: 12px;
	font-style: italic;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #4b454a;
	background: none;
	text-transform: none;
	border: none;
}
.list_news .h2Title {
	margin: 0 0 3px 0;
}
.list_news .h2Title a {
	font: bold 13px Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #004688;
}
.list_news p {
	margin: 0 0 1em 0;
}
.list_news img {
	border: medium none;
}
.detail_news {
	float: left;
	width: 100%;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.detail_info_p {
	float: left;
	width: 270px;
}
.detail_info .button {
	margin: 0;
}
.detail .box_content_center {
	padding: 10px;
}
.function {
	border-top: 1px solid #a4a0a4;
	border-bottom: 1px solid #a4a0a4;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_f_news {
	float: left;
	height: 25px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
	padding-top: 5px;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0 0 0;
	width: 100%;
}
.other_newsT {
	background: #EDEDED;
	border-bottom: 1px solid #D5D5D5;
	padding: 5px 10px;
	margin: 10px 0;
	position: relative;
	color: #3e3e3e;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arrows_left.png) no-repeat scroll left -10px transparent;
	padding-left: 12px;
	color: #3e3e3e;
}
.other_news_sub .view_all {
	float: left;
	background: none !important;
	text-align: right;
	position: relative;
	text-decoration: none;
	font-size: 11px;
	color: #FF0000 !important;
	margin-bottom: 20px;
}
/*Footer*/
.footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 0;
	color: #3e3e3e;
	border-top: 1px solid #c6c6c6;
	background: #f3f3f3;
}
.topmenu_footer {
	float: left;
	width: 100%;
	border-bottom: 1px solid #cac9c9;
	padding: 10px 0 20px 0
}
.footer_inner {
	padding: 10px;
}
.col_menuFooter {
	float: left;
	padding: 0;
	width: 25%;
}
.ctentColuMenuFooter {
	float: right;
	text-align: left;
	width: 88%;
}
.cf {
	width: 45%;
	margin-top: 40px;
}
.f_icon {
	display: block;
	width: 100%;
	height: 40px;
}
.policy {
	background: url(../Images/icon.png) 40px -93px no-repeat;
}
.introduction {
	background: url(../Images/icon.png) 40px -140px no-repeat;
}
.ctentColuMenuFooter h2 {
	margin-bottom: 10px;
}
.ctentColuMenuFooter h2 a {
	color: #00b4ff;
	font-weight: bold;
	font-size: 12px;
}
.listMenuFooter {
	padding: 0;
}
.listMenuFooter a {
	color: #3e3e3e;
	display: block;
	font-weight: 200;
	margin-top: 5px;
	padding-left: 12px;
	background: url(../Images/icon.png) 0 -188px no-repeat;
}
input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea {
	color: #000000;
}
textarea {
	height: 100px;
	padding: 5px;
	width: 730px;
}
.footer_bottom {
	float: left;
	width: 100%;
	padding: 0;
	border-top: 1px solid #FFFFFF;
}
.facebook {
	float: left;
	width: 32%;
	margin-top: 10px;
}
.info_footer {
	float: left;
	width: 40%;
	text-align: left;
}
.footer_bottom p {
	margin: 0 0 3px 0;
}
.copyright {
	float: right;
	text-align: right;
	font-size: 0.9em;
}
.visitors {
	font-size: 1.1em;
}
/*Compare*/
.list-products-comp {
	background: none repeat scroll 0 0 #f0f0f0;
	border: 1px solid #C1C1C1;
	margin-bottom: 10px;
	padding: 4px;
	position: relative;
}
.list-products-comp ul {
	float: left;
}
.list-products-comp li {
	background: none repeat scroll 0 0 #F9FDFF;
	display: block;
	float: left;
	font-size: 11px;
	margin: 0 15px 0 0;
	overflow: hidden;
	padding: 3px;
	position: relative;
	width: 179px;
}
.list-products-comp li .img {
	border: 1px solid #D0E6F8;
	display: block;
	float: left;
	height: 56px;
	margin: 0 10px 0 0;
	width: 56px;
}
.list-products-comp li .title {
	color: #333333;
	display: block;
	font-size: 11px;
	height: 48px;
	overflow: hidden;
	padding: 5px 10px 0 0;
}
.list-products-comp li a:hover .title {
	color: #FFB319;
}
.list-products-comp .last a:hover .title {
	color: #333333;
}
.list-products-comp li a {
	display: block;
	margin: 0 10px 0 0;
	position: relative;
}
.loaderComp {
	display: none;
	left: 17px;
	position: absolute;
	top: 17px;
}
.btn-remove2 {
	background: url(../Images/btn-close.png) no-repeat scroll 0 -28px rgba(0, 0, 0, 0);
	display: block;
	height: 7px;
	margin: 0 !important;
	position: absolute !important;
	right: 5px;
	top: 5px;
	width: 7px;
}
.btn-remove2:hover {
	background-position: -7px -28px;
}
.list-products-comp .last .img {
	color: #D1D1D1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
	font-weight: bold;
	line-height: 130%;
	text-align: center;
}
.list-products-comp .btn-comp {
	background: #F88B08;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: inline-block;
	float: right;
	font-weight: bold;
	margin: 19px 19px 0 0;
	padding: 5px 15px 8px;
}
.list-products-comp .btn-comp:hover {
	background: -moz-linear-gradient(center top, #FF8800, #E97C00) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.list-products-comp .btn-remove3 {
	background: url(../Images/btn-close.png) no-repeat scroll 0 -37px rgba(0, 0, 0, 0);
	display: block;
	height: 11px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 11px;
}
.list-products-comp .btn-remove3:hover {
	background-position: 0 -49px;
}
.list-products-comp .disable {
	cursor: default;
}
.clearfix:before, .clearfix:after, #content, #content:after, .box:before, .box:after, .box-hd:before, .box-hd:after, .box-bd:before, .box-bd:after, .box-ft:before, .box-ft:after, .l-pageWrapper:before, .l-pageWrapper:after {
	content: "";
	display: table;
}
.clearfix:after, #content:after, .box:after, .box-hd:after, .box-bd:after, .box-ft:after, .l-pageWrapper:after, .oldie .clearfix {
	clear: both;
}
/*Table Compare*/
.headline2 {
	background: none repeat scroll 0 0 #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	color: #004688;
	padding: 5px 15px;
}
.cms-staticpage .headline2 h2 {
	font-size: 16px;
	margin: 0 !important;
}
.btn-print {
	background: url(../Images/ico-print.png) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
	display: block;
	float: right;
	padding: 3px 0 3px 30px;
}
.compare-content table {
	border-collapse: collapse;
	margin-bottom: 10px;
}
.compare-content td {
	background: none repeat scroll 0 0 #F4F4F4;
	border: 1px solid #C1C1C1;
	padding: 10px;
	text-align: center;
}
.compare-content th {
	background: none repeat scroll 0 0 #E1E1E1;
	border: 1px solid #C1C1C1;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	width: 162px;
}
.best-price {
	margin: 0;
	position: absolute;
	right: -60px;
	top: -10px;
	vertical-align: middle;
}
.compare-content td strong {
	color: #BB0000;
	display: inline-block;
	font-size: 18px;
	position: relative;
}
.compare-content td span {
	display: inline-block;
	position: relative;
}
.compare-content td em {
	font-style: italic !important;
}
.compare-content tr:hover td, .compare-content tr:hover th {
	background: none repeat scroll 0 0 #EEEEEE;
}
.compare-content thead td {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #C1C1C1;
	border-right: medium none;
	border-top: medium none;
}
.compare-content thead th {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-left: medium none;
	border-top: medium none;
}
.compare-content thead span {
	display: block;
	margin: 0 0 10px;
}
.compare-content thead .title {
	font-size: 14px;
	font-weight: bold;
	height: 61px;
	line-height: 1.4;
	overflow: hidden;
	padding: 0 20px;
}
.compare-content thead tr:hover th, .compare-content thead tr:hover td {
	background: none repeat scroll 0 0 #FFFFFF;
}
.compare-content thead .btn {
	margin-bottom: 0;
}
.cms-staticpage .headline2 h2 .cat-current {
	color: #FFB319;
	font-style: italic;
	padding: 0 0 0 10px;
}
.compare-content td .inputbox {
	color: #333333;
	font-weight: bold;
	padding: 6px;
	width: 240px;
}
.compare-content td .add-item a {
	border: 1px solid #CCCCCC;
	color: #C3C3C3;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 155px;
	font-weight: bold;
	height: 239px;
	line-height: 100%;
	padding-top: 70px;
	text-align: center;
	width: 238px;
}
.compare-content td div {
	position: relative;
	z-index: 5;
}
.compare-content td form {
	text-align: left;
}
.compare-content .btn-remove {
	background: url(../Images/btn-close.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 14px;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 14px;
	z-index: 10;
}
.compare-content .btn-remove:hover {
	background-position: 0 -14px;
}
.box-type {
	margin-bottom: 10px;
	position: relative;
}
/*Search dung im tren Top*/
#sticky_navigation {
	position: relative;
	z-index: 99999;
	background: #DDDDDD;
	width: 100%;
}
#sticky_navigation .search {
	display: none;
	margin: 0 auto;
	float: none;
	height: 30px;
	margin: 5px auto;
	width: 500px;
}
#sticky_navigation .search .inputSearch {
	width: 400px;
}
