/*Ho tro truc tuyen*/
#sp_head {
	position: fixed;
	top: 110px;
	right: 0px;
	z-index: 9999999;
	color: #111;
}
#map-legend {
	display: none;
	width: 150px;
	background: none repeat scroll 0% 0% #FFF;
	height: 100%;
	margin: 0px;
	padding: 10px;
	float: right;
	position: relative;
}
#map-legend-control {
	width: 30px;
	float: right;
	position: relative;
}
#sp_head #map-legend ul {
	margin-left: 0px;
	text-align: center;
		-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}
#map-legend a {
	width: 70px;
}
#sp_head .hotline {
	font-weight: 500;
	font-size: 1.3em;
}
#sp_head .hotline .number_phone {
	display: block;
	color:#F00;
	font-weight: 700;
	font-size:17px;
}
.close_f {
	text-align: right;
	line-height: 20px;
	min-width:90px;
}
.close_f :hover{ text-decoration:underline}
