@charset "utf-8";
.container{background-color:#fff}
 .bgHeader{ background-color:#0072a3; background-image:url(../images/bgimgHeader.png); background-position: right bottom; background-size:auto 100%; background-repeat:no-repeat; border-bottom: solid 3px #6E7882}
 .bgHeader .container{ background-color:transparent}
.headerBox {
	min-height: 100px;
	position:relative;
	background-image:url(../images/bgHeader.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-color:transparent !important
}
 
.wrap{ width:100%; float:left}
 .bannerHeader{ margin-top:20px; margin-left:10px}
 
/* .clsLogo img, .bannerHeader img{ max-width:100%}*/
.contentBox{ background:#fff}
.innerHeaderBox {
 
	float: left;
	width:98.5%; padding:0.75%;
}
.clsLogo{ float:left;margin:20px;}
.clsLogo img{ width:198px; height:138px}

 
 
 .spSmall_fix{ position:fixed; bottom:0; background:#06F; z-index:999999; color:#fff; width:100%; line-height:30px; font-size:1.1em}
.hotlineS{  font-size:1.1em; margin:10px}
.menuLeft{ float:left; width:25%; }
.menuRight{ float:right; /*width:25%;*/ }
.mainContent{ float:left; /*width:74%*/}
.innerMenuLeft{ float:left; padding-right:10px; padding-left:3px }
.innerMenuRight{ float:left; padding-right:10px; padding-left:3px }
.innerMainContent{ float:left; width:99.7%; padding-right:0.3%; }
.box{ float:left; width:100%; margin-top:10px;  background-position: center bottom; background-repeat:no-repeat;  }
div .box:first-child{ margin-top:0}
.innerBox{  border-bottom: dotted 1px #ccc; float:left; width:100%; padding:0px; border-top:0; }
div .innerBox:last-child{border:0;}
.headingBox{ width:100%; float:left; line-height:35px; background-color: transparent; color:#f58634; text-transform:uppercase; text-align:center; background-image: url(../images/bgBT.png); background-repeat:no-repeat; background-position: 5px center; font-size:1.1em;  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); border-bottom: solid 1px #a3a3a3; margin-bottom:5px; font-size:13px; font-weight:bold}
.boxMain{border: solid 1px #ddd ; background-image:none; background-color:#fff}
.headingBoxMain{ background:none; color:#D70000; border-bottom:solid 1px #333; padding-bottom:0; font-weight:bold; line-height:30px; text-transform:uppercase; font-size:1.1em; margin: auto 10px}

.innerBoxMain{ padding:10px; overflow:hidden; border: solid 0px #E0DB7D ;}
.txtleft{ text-align:left}
.videoBox img, .videoBox iframe{ width:100% !important}
.txtleft span{ padding-left:25px;}
.partnerBox{ padding-top:15px;}
.innerPartnerBox{ padding:1%; float:left; border: solid 0px #E0DB7D; width:98%; }
.wrap{ width:100%; float:left}
.menuFooter{ background: }
.footerBox{  background-image:url(../images/topPartner.png); background-position:center 10px; background-repeat:no-repeat; padding-top:20px;   }
.footerB{ margin-top:20px;}

.innerColLeft{ padding:10px; float:left}
.innerColRight{ padding:10px; float:right;}
.copyRight{ padding-top:10px; font-style:italic; font-size:11px; width:100%; float:left; text-align:center; padding-bottom:10px;}
.copyRight a{ color:#FFF}
.hotlineBox{ float:right; margin-right:20px;font-size:15px;text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);}
 .colf h2{ font-size:13px; font-weight:bold}
 .colf a{ clear:both; padding-left:5%; float:left; width:90%; color:#fff}
.hotlineBox b{ font-size:23px;  font-family:"Times New Roman", Times, serif; font-style:italic ; }
 
.noP{ padding:0}
/*Search*/
.inputSearch {
	border: solid 1px #FF0000;
	text-indent: 10px;
	height: 30px;
	width: 68%;
	float: left;
	
}
.btnSearch {
	background: #FF0000;
	color: #fff !important;
	float: left;
	height: 30px;
	width: 25%;
	text-align: center;
	line-height: 30px;
	border: solid 1px #FF0000;
}
.popupSearch {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 30px;
	position: absolute;
	width: 320px;
	padding: 5px;
	right: 0px;
	top: 32px;
	z-index: 999999;
	background: #0665CF;
	overflow: hidden;
	border: solid 1px #055AB8;
}
.closeBtn {
	display: block;
	width: 20px;
	height: 20px;
	background: #fff;
	text-align: center;
	font-size: 14px;
	color: #f00;
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.trigger {
	float: right;
	line-height: 30px;
	position: relative;
	background: url(../images/iconSearch.png) center center no-repeat;
	width: 30px;
	height: 30px;
}


.listPhoto .itemPhoto{ width:20%; float:left}
.innerItemPhoto{ padding:5px; float:left}
.innerItemPhoto img{ max-width:100%; border:solid 1px #814900; padding:1px}
.captionPhoto{ padding:10px; text-align:center;}

.contacBox{ float:left; width:100%}
.form-group{ margin-bottom:10px; display:table}
.frmCT{ width:54%; float:left}
.frmCT label{ width:100px; float:left}
.form-group input{ width:400px; float:left; height:25px; text-indent:10px;}
.form-group textarea{ width:400px; float:left; resize:vertical}
.form-group [type="submit"]{width:90px; margin-left:100px; background:#814900; color:#fff; border:0; text-align: center; padding:0; text-indent:0}
.ggMap{ margin-top:15px; float:left; width:100%}
.clsCaptcha{ margin-left:100px;}
.ggMap{ float:right; width:45%; margin:0;}


.itemCate{ position:relative; overflow:hidden}
.itemCate .desCate{ position:absolute; bottom:0; left:0; width:100%; margin-right:4px; line-height:30px; }
.desCate h2{ margin-left:4px; margin-right:4px;color:#fff; background:url(../images/bgCate.png);overflow:hidden; font-size:1.1em; font-weight:normal}
.desCate h2 span{ padding-left:10px;white-space:nowrap; color:#fff; text-overflow:ellipsis}
.itemCate h2 a{ color:#fff; float:right; background:#0f71de; font-size:11px; padding:2px;   margin:7px; }
.itemCate h2 a i{ top:0}

.countOB {
	width: 200px;
	float: left; font-style:italic; float:right; margin-right:30px; margin-top:15px;
}
.numberonl {
	font-weight: bold;
	color: #000; font-style:normal
}
.imgVS { background:url(../images/VSimg.png) center no-repeat; width:33px; height:40px; float:left}
.address{ text-align:left; }
.address h2{ color:#005478; font-size:1.1em; text-transform:uppercase; margin-top:0;}
.httt .nm{ width:30%; text-align:right; margin-right:5%}
.ht{ width:65%}
.ht img{ max-width:120px;}
.itht{ padding-top:10px; padding-bottom:5px;}
.httt tel, .httt email{ clear:both; min-height:1px; float:left; width:100%; }
.httt email{ text-align:center; color:#055bbb}

.navy ul{ list-style:none; padding-bottom:10px}
.navy ul >li{ padding-left:15px; min-height:30px; padding-right:10px; padding-top:5px; border-bottom:dotted 1px #ccc; position:relative; }
.navy ul > li:hover{ background:#CCC; cursor:pointer}
.navy ul >li >a{  color:#333; text-decoration:none !important}
.navy ul >li >a:hover{ color:red}
/*.navy li a:before{ content:"\2666"; color:#FFA200; margin-right:5px}
*/
.navy ul ul li{ background:#FFF; color:#333; min-width:200px}
.navy ul ul li:hover>a{ color:red}
.navy ul ul{ position:absolute; left:100%; top:0; display:none; z-index:999;}
.navy ul li:hover>ul{ display:block}

a.viewMore{ color:red; font-style:italic; float:right; text-decoration:none; margin-right:10px}
a.viewMore:after{ content:"\00bb"; margin-left:2px;}

.langBox{ position:absolute; top:10px; right:10px;}
.langBox a { margin-right:5px}
 
 .searchBox{ border:solid 0px #ccc; float:right; margin-right:20px;}
 .searchBox .inputS{ border:0;border:solid 0px #777; height:22px; width:82%; float:left; margin-left:2%; text-indent:5px; background:#ddd;-webkit-box-shadow:inset 5px 5px 15px 0 #bbb;
box-shadow:inset 5px 5px 15px 0 #bbb; color:#000; font-style:italic}
 .searchBox .btnS{ width:15%; float:right; height:22px; cursor:pointer;border:solid 1px #777; text-align:center}
 .btnS i{ color:#777; line-height:20px; }
 .vsBox{ padding:10px; overflow:hidden}
 .vsBox b{ margin-left:10px}
 
 .htttBox{ padding:10px; overflow:hidden  }
 .htttBox .imghttt{ background:url(../images/bgHtttBox.png) center no-repeat; height:86px; width:100%; background-size: 100% auto;}
 .rowUser{ margin:10px 0;}
 .htttBox span b{ color:#005478; font-weight:bold}
 .hlNumber{ font-weight:bold; color:#f00
 }
 .rowUser p{ padding:0; margin:5px 0
 }
 .rowUser span{ font-weight:bold}
 .social_network{ position:absolute; bottom:10px; right:25px; float:none;}
 .bannerHeader {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: bold;
  color: #DA0000;
}

.sidebar{ background: url(../images/bgTransWhite.png); border: solid 1px #ddd; padding-top:5px; margin-top:-50px; z-index:10; position:relative}
.innerSidebar{ padding:5px; overflow:hidden; background:#fff;}
.videoBox{ text-align:center}


/*cate indexitem*/
.itemCateIndex{ width:33.33%; float:left;}
.innerCateIndex{ padding:5px; overflow:hidden; padding-top:0px}
.introBox{ text-align:justify}
.introBox img{ width:100%}
.itemCateIndex .headingBox{ border-top: solid 5px #f58634}

.itemProNews{   margin-bottom:10px; padding:5px; border-bottom: dotted 1px #ccc; overflow:hidden }
.itemProNews h2{ margin:0}
.itemProNews h2 a{ font-size:13px; font-weight:bold; color:#005478; padding-left:10px; background:url(../images/lianews.png) 0px 2px no-repeat}
.itemProNews .txtProNews{ text-align:justify; width:100%; float:left; margin-top:10px}

.hotNewsBox h2{ margin:0}
.hotNewsBox h2 a{ font-size:13px; font-weight:bold; color:#005478; padding-left:10px; background:url(../images/lianews.png) 0px 2px no-repeat}
.hotNewsBox .txthn{ text-align:justify; width:100%; float:left; margin-top:10px}

.topPartner, 
.botPartner{
	min-height:8px;
	width:100%; overflow:hidden;
	float:left;
	background-image:url(../images/topPartner.png);
	background-size:100% 100%;
}
.botPartner{background-image:url(../images/botPartner.png);}

.getEmailB .btn{ height:25px;     line-height:25px; padding:0 10px; margin-left:5px }
.frmGetemail{ margin-right:3px; float:right;}

.partnerBox{ float:left; width:100%; margin:10px 0}

.htptBox{ text-align:center}
.htptBox img{ max-height:290px}
.innerC{ border: solid 1px #ddd; overflow:hidden; padding:0 10px;}
.contentCateIndex{ float:left; width:100%}
.contentCateIndex img:hover{ opacity:0.8 }
.breadcrumbBox{ padding-bottom:10px}

.llB{ font-size:1.3em; font-weight:bold; margin:15px 0; width:100%; float:left}
.llB b{ color:red
}
.rowmn{ background-color:#fff}