/*Jcarousel CSS*/
/*Horizontal*/
.jcarousel-skin-tango {
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
#the_same_P .jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 93%;
	height: 100%;
	margin: 0 auto;
}
.zoom-desc .jcarousel-clip-horizontal {
	width: 98%
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 0px;
	margin-right:3px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 0px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
/*control*/
.control_slide {
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 9999999999;
	overflow: hidden;
	left: 0;
}
.control_slide .next, .control_slide .prev {
	cursor: pointer;
	background: url(../images/arrows.png) left no-repeat;
	height: 61px;
	width: 61px;
	float: left;
	position: relative;
}
.control_slide .next {
	background-position: right;
	right: 0px;
	float: right
}
.control_slide .prev {
	left: 0px;
}
.carousel-pagination li {
	display: block;
	width: 13px;
	height: 13px;
	margin-right: 5px;
	cursor: pointer;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	background-image: linear-gradient( to bottom, #fff, #ccc 100% );
}
.carousel-pagination .carousel-pagination-active {
	background: #09F;
}
/**
 *  Horizontal Buttons*/
.jcarousel-skin-tango .jcarousel-next-horizontal, .jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 42%;
	width: 20px;
	height: 50px;
	cursor: pointer;
	background: url(../Images/arrows.png) left top;
	background-repeat: no-repeat;
	z-index: 10;
	display:none !important
}
.doi_tac .jcarousel-next-horizontal, .doi_tac .jcarousel-prev-horizontal {
	top: 30%;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	right: 0;
	background-position: right top !important;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	left: 0;
	background-position: left top !important;
}
.zoom-desc .jcarousel-skin-tango .jcarousel-next-horizontal, .zoom-desc .jcarousel-skin-tango .jcarousel-prev-horizontal {
	top: 35%
}
.jcarousel-prev-disabled-horizontal, .jcarousel-next-disabled-horizontal {
	color: gray;
	cursor: default !important;
	opacity: 0;
	visibility: hidden
}
ul.carousel-pagination {
	position: absolute;
	z-index: 99999999999;
	text-align: center;
	overflow: hidden;
	right: 0px;
	color: red;
	bottom: 15px;
}
.jcarousel-skin-tango {
	overflow: hidden;
	width: 100%
}
.jcarousel-container {
	height: 100%;
	overflow: hidden
}



#mycarousel_products .jcarousel-next-horizontal, #mycarousel_products .jcarousel-prev-horizontal {
	top: 42%;
	width: 21px;
	height: 34px;
	background: url(../Images/arrows_d.png) left top;
	display:block !important
}
 
