/* Navigation */
.nav {
	height: 40px;
}
.nav ul {
	float: left;
	overflow: hidden;
	border-bottom: 3px solid #c0c0c0;
	width: 806px;
	margin-left: -14px;
}
.nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
}
/*Tab Detail Content*/
#tabs_detail p {
	margin: 0 0 10px 0;
	line-height: 180%;
}
.nav ul#tabs_detail li, .nav ul#tabs_detail li:hover {
	float: left;
	margin-left: 6px;
	text-align: center;
	padding: 0;
	background: none;
}
.nav ul#tabs_detail li a {
	display: block;
	color: #333333;
	font-weight: 500;
	font-size: 16px;
	line-height: 40px;
	padding: 0;
	width: 192px;
	background: #FFFFFF;
	border: 1px solid #c0c0c0;
	border-bottom: none;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.nav ul#tabs_detail li a:hover, .nav ul#tabs_detail li a:focus, .nav ul#tabs_detail li a.current {
	color: #333333;
	background: url(../Images/bg_repeat.jpg) 0 -75px repeat-x;
}
#tabs_detail_content .section {
	background: #FFFFFF;
	padding: 15px 10px;
}
#tabs_detail_content .section p {
	line-height: 170%;
	margin: 0 0 10px 0;
}
