@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial;
	color:#777777;
	background: url(../Images/bg.jpg) top center repeat-y;
	background-attachment: fixed;
}
@font-face {
 font-family: 'UVNBaiSauRegular';
 src: url('../Images/font/uvnbaisau.eot');
 src: url('../Images/font/uvnbaisau.eot') format('embedded-opentype'), url('../Images/font/uvnbaisau.woff') format('woff'), url('../Images/font/uvnbaisau.ttf') format('truetype'), url('../Images/font/uvnbaisau.svg#UVNBaiSauRegular') format('svg');
}
@font-face {
 font-family: 'UVNHongHaRegular';
 src: url('../Images/font/uvnhongha.eot');
 src: url('../Images/font/uvnhongha.eot') format('embedded-opentype'), url('../Images/font/uvnhongha.woff') format('woff'), url('../Images/font/uvnhongha.ttf') format('truetype'), url('../Images/font/uvnhongha.svg#UVNHongHaRegular') format('svg');
}
a {
	text-decoration: none;
	color: #1d8ed9;
}
a:hover {
	text-decoration: none;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #cacaca;
	padding: 5px;
}
.h1Title {
	font-size: 22px;
	color: #ef8f05;
}
.title_page {
	font: 22px 'UVNBaiSauRegular';
	text-transform: uppercase;
	color: #777777;
	margin: 10px 0;
	border-bottom: 1px solid #e3e3e3;
}
/* WRAPPER --------*/

#wrapper {
	float: left;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	margin: 0 auto 0 auto;
	padding: 0;
}
.section {
	margin:0 auto;
	bottom:0px;
	width:1000px;
}
.page_inner {
	width: 1000px;
	margin: 0 auto;
}
.page {
	float: left;
	width: 100%;
	pading: 0;
	margin: 45px auto 30px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 5px #b4b4b4;
	-webkit-box-shadow: 0px 0px 5px #b4b4b4;
	box-shadow: 0px 0px 5px #b4b4b4;
	background: #fcfefe;
}
/*Element Page*/
.content {
	width:980px;
	padding:10px;
	overflow:auto;
}
.content_page {
	height:440px;
}
.section_l {
	margin-bottom: 120px;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	display: block;
	width: 100%;
	clear: both;
	background: #FFFFFF;
}
.left_content {
	float: left;
	width: 250px;
	min-height: 500px;
	padding-top: 10px;
	padding-bottom: 60px;
	background: url(../Images/slider_shadow.png) 50% 50% no-repeat;
	background-size: 100% 100%;
}
.main_content {
	background: #FFFFFF;
	float: right;
	width: 740px;
	margin-top: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* HEADER

--------------------------*/
.header {
	float: left;
	width: 100%;
	position: relative;
	float: left;
}
.bot_head {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.slogan {
	float: left;
	width: 600px;
}
/* SEARCH TOP MAIN */
.search {
	position: absolute;
	top: 10px;
	right: 0;
	height: 30px;
	overflow: hidden;
	width: 200px;
	-moz-box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-box-shadow:inset 1px 2px 3px #dddddd;
	box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
	background: #FFFFFF;
}
.search .input_Search {
	border: medium none;
	color: #000000;
	float: left;
	font: 12px arial;
	height: 24px;
	line-height: 24px;
	padding: 3px 0 3px 5px;
	width: 160px;
	background: none;
}
.search .search_btn {
	position: absolute;
	top: 1px;
	right: 0;
	width: 30px;
	height: 30px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
/*Top Main*/
.top_main_banner {
	float: left;
	width: 100%;
}
/*Main menu*/
.menu {
	float: left;
	width: 100%;
	background: #52c4e9 url(../Images/menu_Bg.jpg) 0 0 repeat-y;
	height: 53px;
	position: fixed;
	top: 0;
	z-index: 9999999
}
.menu .navigation {
	float: left;
	height: 100%;
}
.menu .navigation li {
	float: left;
	background: url(../Images/space.png) 0 0 no-repeat;
	padding-left: 1px;
}
.menu .navigation li.home {
	padding-left: 0;
	background: none;
}
.menu a {
	text-decoration:none;
	color:#FFFFFF;
	position:relative;
	z-index:77;
	text-transform: uppercase;
	display:block;
	padding:0 20px;
	line-height: 43px;
	font-weight: 700;
}
.menu .navigation li.on a, .menu .navigation li a:hover {
	background: url(../Images/menu_hover.jpg) 0 0 repeat-x;
}
.menu .navigation li.lang a {
	background: none
}
.menu_shadow {
	float: left;
	background: #6bace2 url(../Images/menu_shadowBg.png) 0 0 repeat-y;
	height: 10px;
	width: 100%;
	border-top: 1px solid #FFFFFF;
}
.menu li.lang {
	padding-top: 10px;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content_center {
	padding: 0 5px;
}
/* Create arrow right */
.arrow_right {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ffffff;
	top: 30%;
	right: -10px;
}
/* Create arrow down */
.arrow_down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f74203;
	position: absolute;
	top: 45%;
	right: 0;
}
.arrow_down1 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFF;
	position: absolute;
	top: 45%;
	right: 14%;
}
/*Support*/
.support_head {
	position: fixed;
	top: 15%;
	right: 0;
	z-index: 9999;
	width: 45px;
	height: 284px;
}
.support_element {
	float: left;
	cursor: pointer;
	position: relative
}
.support_element label {
	float: left;
	width: 100%;
	line-height: 25px;
	margin-bottom: 10px;
	text-transform:uppercase;
	font-weight: 700;
	color: #f45125;
}
.title_social {
	display: block;
	width: 45px;
	height: 37px;
	background: url(../Images/icon.png) 2px 0 no-repeat;
}
.title_chat {
	display: block;
	width: 45px;
	height: 50px;
	background: url(../Images/icon.png) 0 -40px no-repeat;
}
.title_email {
	display: block;
	width: 45px;
	height: 50px;
	background: url(../Images/icon.png) 0 -90px no-repeat;
}
.title_web {
	display: block;
	width: 45px;
	height: 45px;
	background: url(../Images/icon.png) 0 -142px no-repeat;
}
.title_gift {
	display: block;
	width: 45px;
	height: 48px;
	background: url(../Images/icon.png) 0 -190px no-repeat;
}
.title_visistors {
	display: block;
	width: 45px;
	height: 50px;
	background: url(../Images/icon.png) 0 -240px no-repeat;
}
.sp_bg {
	display: block;
	position: absolute;
	top: -10%;
	right: 50px;
	width: 230px;
	padding: 10px;
	background: #F3F3F3;
	border: 1px solid #FFFFFF;
	-moz-box-shadow: -2px 1px 5px #888888;
	-webkit-box-shadow: -2px 1px 5px #888888;
	box-shadow: -2px 1px 5px #888888;
	display: none;
}
.social_info {
	width: 50px;
	height: 235px;
	border: none;
	right: 50px;
	text-align: center;
}
.chat_info {
	background: #FFFFFF url(../Images/support_bg.jpg) 100% 0 no-repeat;
	width: 150px;
	padding-right: 150px;
	height: 160px
}
.chat_info img {
	float: left;
	margin: 5px
}
.icon_email {
	display: block;
	width: 50px;
	height: 50px;
	background: url(../Images/icon.png) 0 -90px no-repeat;
	margin-left: 180px;
	margin-top: -35px;
}
.email_info li {
	float: left;
	margin: 5px 0;
	width: 100%
}
.email_info p {
	margin: 0
}
.button {
	display: block;
	width: 70px;
	margin: 0 auto;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
	text-shadow: 1px 1px 0 #888888;
	font-weight: 700;
	text-transform: uppercase;
	background: url(../Images/blue-button.png) 50% 50% no-repeat;
	background-size: 100% 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.link_web_info {
	width: 150px;
}
.link_web_info select {
	width: 150px;
}
.gift_info {
	width: 500px;
	height: 300px;
	overflow: auto;
}
.visistors_info {
	width: 196px;
}
.tip {
	z-index: 999999999;
}
.tip:before, .tip:after {
	content: '';
	width: 0px;
	height: 0px;
}
.tip:before {
	border-bottom:10px solid transparent;
	border-top:10px solid transparent;
	border-left:10px solid #c1c1c1;
	position: absolute;
	top: 2px;
	left: 101%;
	z-index: 1;
}
.tip:after {
	border-bottom:8px solid transparent;
	border-top:8px solid transparent;
	border-left:9px solid #F3F3F3;
	position: absolute;
	top: 5px;
	left: 100%;
	z-index: 2;
}
.hotline {
	text-align: center;
}
.hotline span {
	display: block;
	clear: both;
	color: #FF0000;
	font-size: 18px;
}
/*Tab*/
.box_Tab {
	width: 100%;
	line-height: 40px;
	color: #c37b13;
	font-weight: 700;
}
/*Slide Agents*/
#slider_partners img {
	border: 1px solid #c1c1c1;
}
.title_partner {
	float: left;
	width: 40px;
	height: 55px;
	padding: 15px 30px;
	line-height: 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 700;
	position: absolute;
	top: 20px;
	margin-left: -60px;
	background: #FFFFFF;
	text-align: center;
	font-size: 13px;
	background: url(../Images/ribbon.png) 0 0 no-repeat;
}
.jcarousel-skin-tango {
	clear: both;
	padding: 5px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 92%;
	height: 72px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 20px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
	background: url(../Images/arrow_button.png) no-repeat scroll 100% 100% transparent;
	cursor: pointer;
	height: 17px;
	right: 15px;
	position: absolute;
	top: 25px;
	width: 13px;
	z-index: 10;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: url(../Images/arrow_button.png) no-repeat scroll 0 100% transparent;
	cursor: pointer;
	height: 17px;
	position: absolute;
	left: 15px;
	top: 25px;
	width: 13px;
	z-index: 10;
}
/*Categories Index*/
.categories_index {
	float: left;
	width: 100%;
}
.categories_index ul li {
	float: left;
	width: 300px;
	height: 260px;
	margin: 50px 0 50px 15px;
	text-align: center;
}
.categories_index ul li .product_name {
	display: block;
	width: 100%;
	height: 35px;
	overflow: hidden;
	margin: 10px 0
}
/*Product*/
.product_row {
	float: left;
}
.product {
	float: left;
	text-align: center;
	width: 200px;
	height: 220px;
	margin: 10px 18px;
	position: relative;
}
.product_inner {
	width: 100%;
}
.img_product {
	overflow: hidden;
	transition: all 1s ease;
	width: 250px;
	height: 200px;
	-moz-box-shadow: 0px 0px 5px #b4b4b4;
	-webkit-box-shadow: 0px 0px 5px #b4b4b4;
	box-shadow: 0px 0px 5px #b4b4b4;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	padding: 4px;
}
#list_products .img_product { width: 200px; height: 134px; }
.product img {
	margin-bottom: 10px;
	text-align: center;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.img_product:hover img {
	width: 220px;
	height: 147px;
}
.product_name {
	width: 200px;
	text-align: center;
	padding: 0;
	height: 30px;
	line-height: 18px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	text-overflow: ellipsis;
}
.product_name a {
	font-weight: 700;
	font-size: 16px;
}
#home {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	padding-top: 10px;
}
#agent .categories_index li {
	width: 460px;
	height: 320px;
	margin: 40px 0 20px 15px;
}
#agent .categories_index ul li .img_product {
	width: 400px;
	height: 267px;
}
.price {
	font-size: 13px;
	font-weight: 700;
	color: #ff0000;
	margin-bottom: 3px;
}
.buy_bt {
	display: block;
	width: 70px;
	margin: 5px auto 0 auto;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
	text-shadow: 1px 1px 0 #888888;
	font-weight: 700;
	text-transform: uppercase;
	background: url(../Images/blue-button.png) 50% 50% no-repeat;
	background-size: 100% 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#detail .buy_bt {
	width: 120px;
	line-height: 40px;
	height: 40px;
	font-size: 18px
}
#detail .quantity input {
	width: 40px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #dbdbdb;
	text-align: center
}
#detail .price {
	font-size: 18px;
}
/*Pagination*/
.pagination {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	line-height: 20px;
}
.pagination a {
	border: 1px solid #dfdfdd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 3px 8px;
	color: #1D8ED9;
	background: url(../Images/bg_repeat.png) 0 -42px repeat-x;
}
.pagination b, .pagination a:hover {
	background: #777778;
	border: 1px solid #777778;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*List News*/
.list_news {
	float: left;
	width: 100%;
}
.list_news ul {
	padding: 10px 0;
}
.list_news ul li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .h2Title {
	padding: 0 0 3px 0;
}
.list_news .h2Title a {
	font-size: 16px;
}
.list_news p {
	margin: 0 0 1em 0;
}
.list_news img {
	border: medium none;
}
.list_news .view_more {
	float: right;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f6f6f7;
	border: 1px solid #ebeae9;
	padding: 3px;
	color: #f95015;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_general {
	float: left;
	padding-top: 10px;
	width: 100%;
}
.dt_price {
	color: #FF0000;
	font-size: 18px;
	text-decoration: none;
	font-weight: 700;
}
.dt_fprice {
	text-decoration: line-through;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	float: left;
	width: 960px;
	background: #e5e5e5;
	font-weight: 500;
	padding: 5px;
	margin-top: 10px;
	text-align: left;
	text-transform: none;
	color: #555555;
}
/*Cart*/
.detail_cart {
	float:left;
	min-height: 250px;
	margin-right:10px;
}
.detail_cart li { float: left; width: 100%; margin-bottom: 20px; }
.detail_cart .img_product {
	-moz-box-shadow:0px 0px 5px #333;
	-webkit-box-shadow:0px 0px 5px #333;
	box-shadow:0px 0px 5px #333;
	float:left;
	width: 135px;
	height: 90px;
	margin: 0 10px;
	border:3px solid #FFF;
}
.detail_cart .block_Cart_content {
	-moz-box-shadow:0px 0px 5px #333;
	-webkit-box-shadow:0px 0px 5px #333;
	box-shadow:0px 0px 5px #333;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:80%;
	float:right;
	height:106px;
	background:#FFFFFF;
	position:relative;
	padding:0;
}
.block_Cart_content .name {
	width:38%;
	height:106px;
	display:table;
	float:left;
	border-right:1px dotted #333;
	text-align:center
}
.block_Cart_content .name span {
	vertical-align:middle;
	display:table-cell;
	font-size:15px;
	font-weight:bold;
	padding:0 10px
}
.block_Cart_content .Price {
	width:20%;
	height:106px;
	float:left;
	border-right:1px dotted #333;
	padding:0 10px
}
.block_Cart_content .Price .Price_frist {
	margin-top:30px;
	font-size:12px;
	text-decoration:line-through
}
.block_Cart_content .Price .sale {
	margin-top:5px;
	font-size:15px;
	font-weight:700;
	color: #FF0000
}
.block_Cart_content .number {
	height:106px;
	width:10%;
	float:left;
	border-right:1px dotted #333;
}
.block_Cart_content .number .listmenu {
	width:40px;
	height:25px;
	padding:2px;
	margin-top:40px;
	margin-left:10px
}
.block_Cart_content .All_price {
	height:66px;
	width:27%;
	float:left;
	margin-top:40px;
	padding:0;
	font-size:16px;
	font-weight:bold;
	text-align:right;
	color: #FF0000
}
.block_Cart_content .delete {
	height:12px;
	width:12px;
	overflow:hidden;
	background:url(../Images/button.png) 0 0 no-repeat;
	position:absolute;
	right:-5px;
	top:-5px
}
.all_pay {
	-moz-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
	box-shadow:0px 0px 10px #333;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	float:right;
	margin: 20px 0;
	padding:10px 20px;
	background:#FFFFFF;
}
.all_pay span {
	font-size:16px;
	color: #FF0000;
	font-weight:700;
}
.button_pay {
	float:right;
	clear: right;
}
.button_pay a {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:7px 30px;
	float:left;
	margin:10px 0 10px 10px;
	color:#fff;
	background: url(../Images/blue-button.png) 0 0 repeat-x;
	background-size: 100% 100%;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
}
/*Footer menu*/
.footer {
	position: fixed;
	bottom: 0;
	z-index: 200;
	width: 100%;
	background: #FFFFFF;
}
.footer_menu {
	float: right;
	height: 25px;
	line-height: 25px;
	color: #333333;
}
.footer_menu a {
	padding: 0 5px;
	color: #333333
}
