/* COMMON STYLE

--------------------------------------------------------- */

html,body,fieldset {margin: 0;padding: 0;}



body {margin: 0;padding: 0;}

body#bd {	
	font: normal 13px Arial;

	color:#3e3e3e;
	
	background: url(../Images/bg.jpg) top center no-repeat;
	
	background-attachment: fixed;
	
}

a { text-decoration: none; }

a:hover { text-decoration: underline; }

.clearfix {display: inline-block;}


* html .clearfix { height: 1%;}

.clearfix {display: block; clear: both;}

img {border: none;}

h1 {font-size: 18px;}

h2 {font-size: 16px;}

h3 {font-size: 14px;}

h4 {font-size: 13px;}

ul {list-style: none;}

pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0;

	padding: 0;

}

.ar11, .ar11 a { font: normal 11px Arial; }

.ar13, .ar13 a { font: normal 13px Arial; }

.ar14, .ar14 a { font: normal 14px Arial; }

p { line-height: 18px; }

.red { color: #f23e3e; }

.img { float: left; margin-right: 10px; }

/* WRAPPER --------*/

#wrapper { width:100%; float: left; margin: 0 auto; padding: 0; background: url(../Images/wrapp_bg.png) top center repeat-y; }

#page {width: 1000px; pading: 0 5px; margin: 0 auto; background: #eee8d2; }

/* LAYOUT

--------------------------*/

.main {float: left; margin: 0 auto; padding-top: 5px; display: block; width: 100%; clear: both; }

.left { float: left; width: 235px; margin-right: 5px; }

.right { float: right; width: 760px; }

/* HEADER

--------------------------*/

.header { float:left; width: 100%; height: 150px; display: inline-block; margin: 0; position: relative; background: url(../Images/banner_header.jpg) top left no-repeat; position: relative; }

/* SEARCH */

.search {
    background: url(../Images/search_bg.jpg) no-repeat scroll 0 0 transparent;
	position: absolute;
	top: 5px;
	right: 5px;
    height: 20px;
    overflow: hidden;
    width: 170px; 
}
.inputSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    float: left;
    font: 11px arial;
    height: 17px;
    padding: 3px 0 0 4px;
    width: 140px;
}
.submitSearch {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 20px;
    padding: 0;
    width: 20px;
}
/* MAIN MENU ------*/

#nav_menu {
    float: left;
	width:100%;
	line-height:normal;
	height: 35px;
	background: url(../Images/nav_bg.jpg) top left repeat-x;
}
#nav_menu ul {
	padding: 0;
	margin: 0;
	list-style:none;
	}
#nav_menu li {
	float: left;
	margin:0 auto;
	padding:0;
	height: 35px;
	}
#nav_menu ul li a {
height: 25px;
padding: 10px 15px 0 15px;
float: left;
display: block;
color: #FFFFFF;
text-decoration: none;
text-align: center;
font-weight: bold;
background: url(../Images/space.jpg) left 6px no-repeat;
}
#nav_menu ul li.active a {
	background: none;
	color: #ffff00;
}
#nav_menu ul li a:hover, #nav_menu ul li.active a:hover {
	color: #ffff00;
}	

/*Left column*/
.block {
	clear: both;
	width: 100%;
	margin: 0 0 5px 0;
	position: relative;
}
.block_content { padding: 0; margin: 0 auto; border: 1px solid #d8c88d; }
.main_content { background: #FFFFFF; }
.h3Title_block {
	background: url(../Images/line_Title.jpg) bottom left repeat-x;
	margin: 0;
	padding: 6px 0 0 0;
	height: 24px;
	text-align: center;
	color: #1f9a0c;
	font-weight: bold;
}
.main_Tab { position: relative; background: url(../Images/main_Tab.jpg) top left repeat-x; text-align: left; padding-left: 10px; padding-top: 8px; height: 22px; color: #FFFFFF; }
.main_Tab a { color: #FFFFFF; }
ul.general { padding: 5px; list-style: none; }
ul.general li { float: left; margin-bottom: 5px; }
ul.left_menu { width: 100%; padding: 0; margin: 0; }
ul.left_menu li { width: 100%; height: 30px; padding: 0; margin: 0; }
ul.left_menu li a { display: block; background: url(../Images/bullet_01.png) 5px 12px no-repeat; padding: 7px 5px 0 18px; height: 22px; border-top: 1px solid #FFFFFF; color: #3e3e3e; }
ul.left_menu li.active a { border-top: none; }
.hotline { margin: 5px 0; }
.news { padding: 5px; }
.h3Title a { text-align: left; color: #3e3e3e; }
div.categories {
    list-style-type: none;
    padding: 0;
	margin: 0 auto;
    width: 100%;
	background: #FFFFFF url(../Images/line_bg.jpg) top left repeat-y;
	border: none;
}
div.categories div.col {
    float: left;
    height: 100%;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 47.36%;
}
div.categories div.divider {
    clear: both;
    height: 1px;
	background: #68ff51;
}
.rss { position: absolute; top: 10px; right: 5px; color: #FFFFFF; } 
.rss { background: url(../Images/rss.png) center left no-repeat; padding-left: 20px; font-weight: bold;}
div.categories .h3Title a { font-weight: bold; color: #0f6f00; }
div.categories h4 { margin-bottom: 30px; }
.view_more { position: absolute; bottom: 5px; right: 10px; background: url(../Images/view_more.png) center left no-repeat; width: 45px; height: 20px; padding: 6px 0 0 15px; color: #0f6f00; }

/*Slide*/
#slider_ads { 				
				clear: both;
				width: 100%;				
				margin: auto;
				margin-bottom: 5px;
				position: relative;
				z-index: 5;
			}
#mycarousel img{ width:760px; height: 240px;} 
/*------------------------------------------------------*/			
.jcarousel-skin-tango { padding: 0; }
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 0;
    width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: auto;
    width: 100%;
	float: left;
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin: 0;
	height: 240px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url(../Images/slide.png) no-repeat scroll top left transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    left: 0;
    top: 100px;
    width: 15px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url(../Images/slider.png);
    left: 5px;
    right: auto;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url(../Images/slide.png) no-repeat scroll top right transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    top: 100px;
	right: 0;
    width: 15px;
}
.visitors { position: absolute; top: 5px; right: 0; background: #4f83b2; padding: 5px; }
.list_news { 
    list-style-type: none;
    padding: 0;
	margin: 0 auto;
    width: 100%;
	background: #FFFFFF;
	border: none;
}
div.list_news div.col {
    float: left;
    height: 100%;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 97.5%;
	border-bottom: 1px solid #68ff51;
}
.h1Title, .h1Title a { padding-bottom: 3px; color: #0f6f00; }
.navigation {
    float: left;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.navigation a {
    background: #caffc2;
    color: #128600;
    padding: 5px 10px;
}
.navigation b {
    background: #128600;
    border: medium none;
    color: #FFFFFF;
    padding: 5px 8px;
}
.navigation a:hover {
    color: #FFFFFF;
    background: #128600;
}
.detail_news { padding: 10px; background: #FFFFFF; border: none; }
.toolbar {
	border-top: 1px solid #68ff51;
	padding: 5px 0 10px;
    text-align: right;
}
.toolbar a {    
    color: #3E3E3E;
    display: inline-block;
    font: 11px/22px Tahoma;
    margin-left: 10px;
    padding-left: 22px;
}
a.email {
	background: url(../Images/toolbar.png) no-repeat scroll 0 -44px; transparent;
   
}
a.print {
	background: url(../Images/toolbar.png) no-repeat scroll 0 -22px; transparent;
}
.other_news { margin: 0 auto; padding-top: 10px; width: 100%; }
.other_news ul { margin: 10px 0 10px 20px; }
.other_news ul li { background: url(../Images/bullet_01.png) center left no-repeat; padding-left: 15px; }
.other_news a { color: #3e3e3e; margin-bottom: 5px; line-height: 20px; }
.title_otherNews { color: #6f6b00; font: bold 15px Arial; }
.view_more_detail { background: url(../Images/arrow.png) center left no-repeat; padding-left: 10px; }

/* Contact */
.contact { background: #FFFFFF; padding: 10px; }
.info_contact { float: left; width: 40%; } 
.info_contact p { padding: 0; margin: 0; }
.form_contact { float: right; width: 60%; }
div.row { width: 95%; float: left; margin: 0 0 0 5%;}
.col { float: left; }

span.required { color: #f00; position: relative; left: 5px; margin-right: 5px;}

.left_col { display: block; width: 30%; margin-right: 10px; line-height: 25px; text-align: right; }
.right_col { display: block; width: 65%; text-align: left; }
div.right_col * { float: left; margin-top: 2px; }

.right_col input { padding: 4px; width: 250px; border: 1px solid #d9d6d6; font: 12px Tahoma; }
.right_col input { height: 11px; }
.note { font: normal 11px Tahoma; padding-left: 30%;}
.button { float: left; margin: 10px 0 10px 35%; }
/*Footer*/
.footer {
    float: left;
	clear: both;
	width: 100%;
	padding: 0;
	background: #c5e389;
	text-align: center;
}
.footer a { color: #3e3e3e; }
.footer p { padding: 0; margin: 0; }
.menu_footer { margin: 0 auto; background: url(../Images/footer_menuBg.jpg) top left repeat-x; }
.menu_footer, .menu_footer a { color: #0b4f00; padding: 6px 10px 0 10px; height: 24px; }
.info_footer {
	float: left;	
	clear: both;
	width: 100%;
	padding: 5px 0;
	border-bottom: 1px solid #9cb86d;
}
.copyright { float: left; width: 100%; border-top: 1px solid #FFFFFF; color: #0b4f00; padding: 5px 0; }
.copyright a { color: #0b4f00; }

