/*Slide Products*/
.pro_left {
	float: left;
	width: 35%;
	position: relative;
}
/*Info Detail Product*/
#dtp_info {
	width: 65%;
}
#dtp_info .brand {
	width: 100%;
	border-bottom: 1px solid #d6d6d6;
}
#dtp_info .title_brand {
	font: 18px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#dtp_info .title_pr {
	font-size: 12px;
	font-weight: 700;
}
#dtp_info .h1Title {
	padding-bottom: 3px;
	margin-bottom: 10px
}
.info_dtp_product {
	width: 58%;
	margin-right: 15px
}
.dtp_status {
	float: left;
	width: 100%;
	margin-top: 8px;
}
.dtp_status .tt_status {
	float: left;
	width: 120px;
}
.dtp_price b {
	color: #fe0000;
	font-size: 1.3em;
	font-weight: 700
}
.buy_function {
	margin: 20px 0;
}
.addtocart_btn {
	background: url(../Images/addtocart_btn.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 50px;
	margin-right: 20px;
	width: 225px;
}
.addtocart_btn:hover {
	text-decoration: none;
}
.addtocart_btn span {
	color: #ffffff;
	display: block;
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
	padding-left: 80px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}
.links_more {
	width: 200px
}
.links_more a {
	color: #0e9cf6;
	display: block;
	margin: 3px 0 5px 0;
	text-transform: uppercase;
}
.heart_icon {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../Images/icons.png) 5px -119px no-repeat
}
.links_more input {
	position: relative;
	top: 2px
}
.status {
	width: 40%;
	clear: none;
}
.status_product {
	text-align: center;
	font: bold 14px Arial, Helvetica, sans-serif;
	width: 98px;
	height: 40px;
	padding-top: 43px;
	background: url(../Images/status_icon.png) 0 0 no-repeat;
}
.status_product div {
	transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
}
.available {
	color: #FFFFFF;
}
.unavailable {
	color: #FFFF00;
}
.status p {
	margin: 5px 0;
}
.time_transport {
	margin-top: 10px
}
.time_transport span {
	color: #006bff;
	font-weight: 700;
	text-transform: uppercase;
}
#info_spp {
	padding: 0 10px;
	margin-top: 20px;
	border: 1px solid #d8d8d8
}
#info_spp .tt_spp {
	color: #034ea2;
	border-bottom: 1px dotted #e7e7e7;
	line-height: 25px
}
.icon_method {
	padding-left: 25px;
	margin: 10px 0 !important;
	line-height: 18px
}
.hotline_spp {
	background: url(../Images/sprites_icon/hotline_spp.png) 0 1px no-repeat
}
.guarantee {
	background: url(../Images/sprites_icon/tech_icon.png) 0 1px no-repeat
}
.address {
	background: url(../Images/sprites_icon/address_icon.png) 0 1px no-repeat
}
.time_work {
	background: url(../Images/sprites_icon/time_work_icon.png) 0 1px no-repeat
}
.timer_out {
	background: url(../Images/sprites_icon/hotline_spp.png) 0 1px no-repeat
}
.status .facebook {
	text-align: left;
	width: 100%
}
.location {
	line-height: 30px;
}
.col_detail {
	width: 45%;
	margin-left: 10px;
}
.line_dot {
	float: left;
	width: 100%;
	height: 1px;
	border-top: 1px dotted #555555;
}
.viewed {
	float: left;
	width: 100%;
	color: #CC0000;
	font-weight: 700;
	line-height: 30px;
	margin: 5px 0;
	font-size: 11px;
}
.info_detail p {
	margin: 10px 0;
}
.method_payment {
	display: block;
	padding: 10px 0;
}
.method_payment span {
	background: url(../Images/arr_check.png) 0 13px no-repeat;
	padding-left: 18px;
	display: block;
	padding-top: 8px;
}
/*Tab Detail Products*/
#box_detail_left {
	width: 890px
}
.tabs_detail {
	background: none;
	padding: 0;
	margin: 0;
	border: none
}
.tabs_detail li {
	height: 30px;
	margin: 0 5px 0 0;
	z-index: 999;
}
.tabs_detail li a {
	display: block;
	color: #333333;
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
	padding: 0 20px;
	text-transform: uppercase;
	background: #c1c1c1;
	border: none;
}
.tabs_detail li:hover a, .tabs_detail li:focus a, .tabs_detail li.current a {
	color: #333333;
	display: block;
	background: #FFFFFF;
	border: 1px solid #C1C1C1;
	border-bottom: none;
	position: relative;
	padding: 0 19px;
}
.tabs_detail_content .section {
	margin-top: -1px;
}
.tabs_detail_content p {
	margin: 10px 0;
	line-height: 170%;
}
/*Comments*/
.comment_part {
	float: left;
	width: 100%;
}
.detail .h1Title {
	text-align: left;
	margin: 0 0 10px 400px;
	padding-bottom: 3px;
}
.info_detail .facebook {
	left: 100%;
	top: 0;
}
.info_detail ul li {
	background: url(../Images/process_icon.png) -689px -73px no-repeat;
	margin: 5px 0;
	padding-left: 20px;
}
/*Comment Box*/
.comment_part h4 {
	color: #4582B9;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
.choose_product {
	margin-top: 5px;
	padding: 0 10px;
}
.investigation .choose_product {
	padding-top: 0;
}
.choose_product p {
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
.vote {
	background: url(../Images/vote.png) repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 26px;
	width: 71px;
}
.send_comment {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
.buttoncm {
	background: none repeat scroll 0 0 #C4C4C4;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	color: #3C3C3C !important;
	cursor: pointer;
	padding: 5px 20px;
}
.postcomment input, .postcomment textarea {
	color: #7F7F7F;
	border: 1px solid #B5B5B5;
}
.pcmnd textarea {
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 5px;
	width: 98.5%;
}
.pcmnd {
	padding: 10px 0
}
.pcm {
	float: left;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment .star {
	margin-top: 40px;
	width: 100px !important;
}
.star {
	float: left;
	margin-top: 9px;
	width: 200px !important;
}
.star_post {
	float: left;
	margin-top: 35px;
}
.choose_product {
	color: #3C3C3C;
	float: left;
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 30px;
}
.inputcomment {
	float: left;
	margin-top: 29px;
}
.nhapten {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-right: 5px !important;
	padding: 5px;
	width: 160px;
}
.diachi {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	padding: 5px;
	width: 250px;
}
.noidungcomment {
	padding: 15px;
}
.tenuser {
	float: left;
	margin-top: 10px;
}
.comment {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment {
	float: left;
	width: 100%;
}
.user {
	border-bottom: 1px solid #CCCCCC;
}
.image-user {
	float: left;
	width: 54px;
}
.image-user img {
	height: 54px;
	width: 54px;
}
.datetime {
	float: left;
	width: 600px;
}
.points {
	color: #3C3C3C;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.nhanxet {
	margin-bottom: 20px;
	padding-left: 20px;
}
#star {
	float: left;
}
#vote {
	color: red;
}
.tenspcb {
	color: #6D6B6C;
	font-size: 14px;
	font-weight: bold;
}
.des {
	color: #7F7F7F;
}
.noidungspcb p {
	margin-bottom: 10px !important;
}
.spcb p {
	margin-bottom: 0;
}
.spcb input {
	float: left;
	margin-right: 50px;
	margin-top: 20px;
}
.spcb img {
	float: left;
	height: 94px;
	margin-right: 30px;
	width: 120px;
}
.noidungspcb {
	float: left;
	width: 665px;
}
.ques {
	margin-bottom: 10px;
}
.hoidap {
	padding-left: 25px;
	padding-right: 25px;
}
.hoi {
	color: #E46A07;
	float: left;
	font-size: 14px;
	width: 40px;
}
.traloi {
	color: #7F7F7F;
	float: left;
	margin-top: 3px;
	width: 650px;
}
.dap {
	color: #2FB30F;
	float: left;
	font-size: 14px;
	width: 40px;
}
/*Compare Products*/
/*Compare*/
.list-products-comp {
	background: none repeat scroll 0 0 #f0f0f0;
	border: 1px solid #C1C1C1;
	margin-bottom: 10px;
	padding: 4px;
	position: relative;
}
.list-products-comp ul {
	float: left;
}
.list-products-comp li {
	background: none repeat scroll 0 0 #F9FDFF;
	display: block;
	float: left;
	font-size: 11px;
	margin: 0 15px 0 0;
	overflow: hidden;
	padding: 3px;
	position: relative;
	width: 179px;
}
.list-products-comp li .img {
	border: 1px solid #D0E6F8;
	display: block;
	float: left;
	height: 56px;
	margin: 0 10px 0 0;
	width: 56px;
}
.list-products-comp li .title {
	color: #333333;
	display: block;
	font-size: 11px;
	height: 48px;
	overflow: hidden;
	padding: 5px 10px 0 0;
}
.list-products-comp li a:hover .title {
	color: #FFB319;
}
.list-products-comp .last a:hover .title {
	color: #333333;
}
.list-products-comp li a {
	display: block;
	margin: 0 10px 0 0;
	position: relative;
}
.loaderComp {
	display: none;
	left: 17px;
	position: absolute;
	top: 17px;
}
.btn-remove2 {
	background: url(../Images/btn-close.png) no-repeat scroll 0 -28px rgba(0, 0, 0, 0);
	display: block;
	height: 7px;
	margin: 0 !important;
	position: absolute !important;
	right: 5px;
	top: 5px;
	width: 7px;
}
.btn-remove2:hover {
	background-position: -7px -28px;
}
.list-products-comp .last .img {
	color: #D1D1D1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
	font-weight: bold;
	line-height: 130%;
	text-align: center;
}
.list-products-comp .btn-comp {
	background: #F88B08;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: inline-block;
	float: right;
	font-weight: bold;
	margin: 19px 19px 0 0;
	padding: 5px 15px 8px;
	cursor: pointer;
	text-decoration: none;
}
.list-products-comp .btn-comp:hover {
	background: -moz-linear-gradient(center top, #FF8800, #E97C00) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.list-products-comp .btn-remove3 {
	background: url(../Images/btn-close.png) no-repeat scroll 0 -37px rgba(0, 0, 0, 0);
	display: block;
	height: 11px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 11px;
	cursor: pointer;
}
.list-products-comp .btn-remove3:hover {
	background-position: 0 -49px;
}
.list-products-comp .disable {
	cursor: pointer;
}
.cf:before, .cf:after, #content, #content:after, .box:before, .box:after, .box-hd:before, .box-hd:after, .box-bd:before, .box-bd:after, .box-ft:before, .box-ft:after, .l-pageWrapper:before, .l-pageWrapper:after {
	content: "";
	display: table;
}
.cf:after, #content:after, .box:after, .box-hd:after, .box-bd:after, .box-ft:after, .l-pageWrapper:after, .oldie .cf {
	clear: both;
}
/*Table Compare*/
.headline2 {
	background: none repeat scroll 0 0 #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	color: #004688;
	padding: 5px 15px;
}
.headline2 h2 {
	font-size: 16px;
	font-weight: 700;
	margin: 0 !important;
}
.btn-print {
	background: url(../Images/ico-print.png) no-repeat scroll 0 2px rgba(0, 0, 0, 0);
	display: block;
	float: right;
	padding: 3px 0 3px 30px;
}
.compare-content table {
	border-collapse: collapse;
	margin-bottom: 10px;
}
.compare-content td {
	background: none repeat scroll 0 0 #F4F4F4;
	border: 1px solid #C1C1C1;
	padding: 10px;
	text-align: center;
}
.compare-content th {
	background: none repeat scroll 0 0 #E1E1E1;
	border: 1px solid #C1C1C1;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	width: 162px;
}
.best-price {
	margin: 0;
	position: absolute;
	right: -60px;
	top: -10px;
	vertical-align: middle;
}
.compare-content td strong {
	color: #BB0000;
	display: inline-block;
	font-size: 18px;
	position: relative;
}
.compare-content td span {
	display: inline-block;
	position: relative;
}
.compare-content td em {
	font-style: italic !important;
}
.compare-content tr:hover td, .compare-content tr:hover th {
	background: none repeat scroll 0 0 #EEEEEE;
}
.compare-content thead td {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #C1C1C1;
	border-right: medium none;
	border-top: medium none;
}
.compare-content thead th {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-left: medium none;
	border-top: medium none;
}
.compare-content thead span {
	display: block;
	margin: 0 0 10px;
}
.compare-content thead .title {
	font-size: 14px;
	font-weight: bold;
	height: 61px;
	line-height: 1.4;
	overflow: hidden;
	padding: 0 20px;
}
.compare-content thead tr:hover th, .compare-content thead tr:hover td {
	background: none repeat scroll 0 0 #FFFFFF;
}
.compare-content thead .btn {
	margin-bottom: 0;
}
.cms-staticpage .headline2 h2 .cat-current {
	color: #FFB319;
	font-style: italic;
	padding: 0 0 0 10px;
}
.compare-content td .inputbox {
	color: #333333;
	font-weight: bold;
	padding: 6px;
	width: 240px;
}
.compare-content td .add-item a {
	border: 1px solid #CCCCCC;
	color: #C3C3C3;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 155px;
	font-weight: bold;
	height: 239px;
	line-height: 100%;
	padding-top: 70px;
	text-align: center;
	width: 238px;
}
.compare-content td div {
	position: relative;
	z-index: 5;
}
.compare-content td form {
	text-align: left;
}
.compare-content .btn-remove {
	background: url(../Images/btn-close.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 14px;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 14px;
	z-index: 10;
}
.compare-content .btn-remove:hover {
	background-position: 0 -14px;
}
.box-type {
	margin-bottom: 10px;
	position: relative;
}
