/*Slide*/
.sl_products {
	margin: auto;
	position: relative;
	z-index: 5;
}
/*------------------------------------------------------*/			
.jcarousel-skin-tango {
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	color: #000000;
}
.sl_products .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin: 0;
	width: 196px;
}
.sl_products .jcarousel-skin-tango .jcarousel-next-horizontal, .sl_products .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background-image: url(../Images/slide_ctrl.png);
	background-repeat: no-repeat;
	cursor: pointer;
	width: 26px;
	height: 47px;
	margin-top: -23px;
	position: absolute;
	top: 50%;
	z-index: 10;
}
.sl_products .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background-position: 0 0;
	left: -10px
}
.sl_products .jcarousel-skin-tango .jcarousel-next-horizontal {
	background-position: 100% 0;
	right: -10px
}
/*Viewed Products*/
#viewed_P .jcarousel-skin-tango {
	padding: 20px 0
}
#viewed_P .jcarousel-skin-tango .jcarousel-clip {
	height: 155px
}
#viewed_P .jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 5px;
}
#viewed_P .jcarousel-skin-tango .jcarousel-next-vertical, #viewed_P .jcarousel-skin-tango .jcarousel-prev-vertical {
	background: transparent url(../Images/slide_ctrl.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 9px;
	height: 6px;
	position: absolute;
	left: 25px;
	cursor: pointer;
}
#viewed_P .jcarousel-skin-tango .jcarousel-prev-vertical {
	background-position: -21px -52px;
	top: -15px
}
#viewed_P .jcarousel-skin-tango .jcarousel-next-vertical {
	background-position: -21px -61px;
	top: 156px
}
/*Dot Liked Products*/
#liked_P .jcarousel-skin-tango {
	margin: 5px 0
}
.jcarousel-navigation {
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	text-align: center
}
.jcarousel-navigation li {
	display: inline-block;
	margin: 0 2px;
}
.jcarousel-navigation li a {
	width: 5px;
	height: 5px;
	display: block;
	background: #b4b4b4;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	cursor: pointer;
	text-indent: -9999px;
}
.jcarousel-navigation li.active a {
	background: #971514;
}
/*Trade Mark*/
#trade_mark {
	border: 1px solid #bdbdbd;
	padding: 0 15px
}
.tt_trademark {
	border-bottom: 1px solid #bdbdbd;
	height: 30px
}
.tt_trademark span {
	display: inline-block;
	line-height: 30px;
	border-bottom: 1px solid #fc0808;
	color: #971514;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase
}
#trade_mark .jcarousel-skin-tango .jcarousel-item-horizontal {
	width: 140px;
	margin: 10px 3px;
	text-align: center
}
#trade_mark .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#trade_mark a {
	display: table-cell;
	vertical-align: middle;
	width: 130px;
	height: 70px;
	border: 1px solid #bdbdbd
}
#trade_mark img {
	max-width: 130px;
	max-height: 70px
}
#trade_mark .jcarousel-skin-tango .jcarousel-next-horizontal, #trade_mark .jcarousel-skin-tango .jcarousel-prev-horizontal, .zoom-desc .jcarousel-skin-tango .jcarousel-next-horizontal, .zoom-desc .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background-image: url(../Images/slide_ctrl.png);
	background-repeat: no-repeat;
	cursor: pointer;
	width: 10px;
	height: 18px;
	margin-top: -9px;
	position: absolute;
	top: 50%;
	z-index: 10;
}
#trade_mark .jcarousel-skin-tango .jcarousel-prev-horizontal, .zoom-desc .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background-position: 0 -73px;
	left: -10px
}
#trade_mark .jcarousel-skin-tango .jcarousel-next-horizontal, .zoom-desc .jcarousel-skin-tango .jcarousel-next-horizontal {
	background-position: -10px -73px;
	right: -10px
}
/*Ads Bottom*/
#trade_mark {
	border: 1px solid #bdbdbd;
	padding: 0 15px
}
.tt_trademark {
	border-bottom: 1px solid #bdbdbd;
	height: 30px
}
.tt_trademark span {
	display: inline-block;
	line-height: 30px;
	border-bottom: 1px solid #fc0808;
	color: #971514;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase
}
#ads_bottom .jcarousel-skin-tango .jcarousel-item-horizontal {
	width: 232px;
	margin: 10px 10px 10px 0;
	text-align: center;
	background: #f1f1f1
}
#ads_bottom .jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#ads_bottom a {
	display: table-cell;
	vertical-align: middle;
	width: 232px;
	height: 130px
}
#ads_bottom img {
	max-width: 230px;
	max-height: 130px
}
#ads_bottom .jcarousel-skin-tango .jcarousel-next-horizontal, #ads_bottom .jcarousel-skin-tango .jcarousel-prev-horizontal, #payment_bank .jcarousel-skin-tango .jcarousel-next-horizontal, #payment_bank .jcarousel-skin-tango .jcarousel-prev-horizontal, #slide_liked_P .jcarousel-skin-tango .jcarousel-next-horizontal, #slide_liked_P .jcarousel-skin-tango .jcarousel-prev-horizontal {
	display: none
}
/*Logo Bank*/
#payment_bank .jcarousel-skin-tango .jcarousel-item-horizontal {
	width: 110px;
	margin-right: 5px;
}
#payment_bank a {
	display: table-cell;
	vertical-align: middle;
	width: 110px;
	height: 50px
}
#payment_bank img {
	max-width: 110px;
	max-height: 50px
}
