/* Navigation */
#tabs { float: left; width: 700px }
.nav {
	height: 30px;
}
.nav ul {
	float: left;
	overflow: hidden;
	width: 100%;
}
.nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
}
/*Tab Detail Content*/
#tabs_detail p {
	margin: 0 0 10px 0;
	line-height: 180%;
}
.nav ul#tabs_detail li {
	float: left;
	margin-right: 5px;
	text-align: center;
	padding: 0;
	background: none;
}
.nav ul#tabs_detail li a {
	display: block;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	padding: 0;
	width: 192px;
	background: #565656;
	border: 1px solid #c1c1c1;
	border-bottom: none;
}
.nav ul#tabs_detail li a:hover, .nav ul#tabs_detail li a:focus, .nav ul#tabs_detail li a.current {
	color: #333333;
	background: #FFFFFF;
	text-decoration: none;
}
#tabs_detail_content .section {
	background: #FFFFFF;
	padding: 15px 10px;
	border: 1px solid #c1c1c1;
}
#tabs_detail_content .section p, #tabs_detail_content .section {
	line-height: 170%;
}
