@charset "utf-8";
/* sidebar _left, main_col, sideber_right*/
#main_col {
	width: 65%;
	margin-left: 1%;
	margin-top:10px;
}
.sidebar {
	width: 16.5%;
}
#main_col_index {
	width: 82.5%;
	margin: 0;
	margin-top:10px;
}
.w825{width: 82.5%;}
.w165{width: 16.5%;}