#nav_x {
	width: 100%;
	float: left;
	height: 33px;
	background: #E2FC14;
	position:relative;
}
#nav_x ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 9999;
	border-bottom: solid 1px #939F3D;
}
#nav_x ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;                           /*---edit line height---*/
	cursor: pointer;
	border-right: solid 1px #939F3D;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#nav_x ul a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 200%;
	line-height: 33px;                      /*---edit line height---*/
	padding: 0px 15px 0px 15px;
	font-size: 14px;                      /*---edit---*/
	float: left;
	width: 90%;
	font-weight:600;
}
 
#nav_x ul > li:first-child {
	background: none;
	padding: 0;
	border-left: 0
}
#nav_x ul > li:first-child a img {
	margin-top: 15px;
}
#nav_x ul li.active a, #nav_x ul li a:hover {
	color: #F00;                         /*---edit mau sac active---*/
}
#nav_x ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 250px;
	float: left;
	z-index: 9999999999999999999;
}
#nav_x ul ul li {
	float: left;                           /*---edit width li level 2, 3---*/
	border-left: 0;
	width:100%;
	position: relative;
	z-index: 999999999;
	border-bottom: 1px dotted #CCCCCC;
	background: #fff;
	min-height: 22px;
	text-align: left !important;
	padding: 5px 0px !important;
}
#nav_x ul ul li:hover {
	background: #fafafa;
}
#nav_x ul ul a {
	padding: 0;
	padding-left: 15px;                      /*---edit padding left a li level 2, 3---*/
	color: #000 !important;
	line-height: 20px;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
	width: 90%;
}
#nav_x ul ul li a:hover {
	color: red !important;
}
#nav_x ul ul li:last-child, #nav_x ul ul li.last > a {
	border-bottom: 0;
}
#nav_x ul ul ul {
	top: 0;
	left: 100%;
}
#nav_x ul li:hover > ul {
	display: block;
}
/*-------------------------------------*/
#nav_x span {
	float: left;
}
#nav_x.nav_f {
	background: url(../images/bg_nav_x_f.png) repeat-x;
	height: 35px;
	line-height: 35px;
	margin-top: 5px;
}
#nav_x.nav_f ul ul {
	display: none !important;
}
#nav_x.nav_f a {
	font-weight: normal;
	float: left;
	width: 100%
}

 

/*----------------------------------------*/
.nav_chuyen_muc_active {
	width: 100%;
	float: left;
	height: 38px;
	background: #E2FC14;
	position:relative;
	background: url(../images/bg_nav_chuyen_muc.png) repeat-x;
	height: 38px;
	line-height: 38px;
	margin-top: 5px;
	position:relative;
	width:100%; float:left;
	background-size:100% 100%
}
.nav_chuyen_muc_active ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	background: url(../images/bg_nav_chuyen_muc.png) repeat-x;
}
.nav_chuyen_muc_active ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;                           /*---edit line height---*/
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	 float:left;  padding:0px 10px; background:url(../images/bg_li_nav_chuyen_muc.png) left 8px  no-repeat;
}
.nav_chuyen_muc_active ul a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 200%;
	line-height: 33px;                      /*---edit line height---*/
	padding: 0px 15px 0px 15px;
	font-size: 14px;                      /*---edit---*/
	float: left;
	width: 90%;
	font-weight:600;
	 width:100%; float:left; padding:0px 10px; font-weight:bold; text-align:left
}
 
.nav_chuyen_muc_active ul > li:first-child {
	background: none;
	padding: 0;
	border-left: 0
}
.nav_chuyen_muc_active ul > li:first-child a img {
	margin-top: 15px;
}
.nav_chuyen_muc_active ul li.active a, #nav_x ul li a:hover {
	color: #F00;                         /*---edit mau sac active---*/
}
.nav_chuyen_muc_active ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 250px;
	float: left;
	z-index: 9999999999999999999;
}
.nav_chuyen_muc_active ul ul li {
	float: left;                           /*---edit width li level 2, 3---*/
	border-left: 0;
	width:100%;
	position: relative;
	z-index: 999999999;
	border-bottom: 1px dotted #CCCCCC;
	background: #fff;
	min-height: 22px;
	text-align: left !important;
	padding: 5px 0px !important;
}
.nav_chuyen_muc_active ul ul li:hover {
	background: #fafafa;
}
.nav_chuyen_muc_active ul ul a {
	padding: 0;
	padding-left: 15px;                      /*---edit padding left a li level 2, 3---*/
	color: #000 !important;
	line-height: 20px;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
	width: 90%;
}
.nav_chuyen_muc_active ul ul li a:hover {
	color: red !important;
}
.nav_chuyen_muc_active ul ul li:last-child, #nav_x ul ul li.last > a {
	border-bottom: 0;
}
.nav_chuyen_muc_active ul ul ul {
	top: 0;
	left: 100%;
}
.nav_chuyen_muc_active ul li:hover > ul {
	display: block;
}