/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/*Macbook pro 1440x900*/
/*================================================== */
 @media only screen and (min-width: 1366px) and (max-width: 1440px) {
}
/*Some laptop 1366x768*/
/*================================================== */
 @media only screen and (min-width: 1280px) and (max-width: 1366px) {
}
/*Macbook air 1280x800*/
/*================================================== */
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
@media only screen and (max-width: 1024px) {
/*Menu*/
#cssmenu > ul > li > a {
padding: 0 15px
}
}

/*Most netbook 1024x600*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
 #list_gallery_img .img_item {
width: 25%
}
}
/*Most Ipad 1024x768*/
/*================================================== */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
 #list_gallery_img .img_item {
width: 33.3%
}
}
/*IPhone 4 960x640*/
/*================================================== */
 @media only screen and (max-width: 960px) {
 #head_hotline {
margin-top: 15px;
clear: both;
margin-right: 0
}
}
/*Google nexus one 4 800x480*/
/*================================================== */
 
 @media only screen and (max-width: 767px) {
body {
 font-size: 95%;
}
.inner_side {
margin: 0
}
/*Header*/
.container #logo.two.columns {
width: 25%
}
.container #banner_head.eleven.columns {
width: 75%
}
.container #header_r.three.columns {
margin-top: -30px
}
#search_head {
position: absolute;
left: 0;
bottom: -45px;
z-index: 1000000
}
#search_box {
 margin: 10px
}
#search_box .inputSearch {
width: 88%;
margin-top: 5px
}
/*Function Web*/
#function_web .cate_icon {
margin-top: -15px
}
#function_web p {
height: auto
}
/*Footer*/
#social_network, #access_status .fr {
float: left !important
}
#access_status span {
margin-left: 0;
margin-right: 30px
}
#likebox {
float: none
}
#list_gallery_img .img_item {
width: 50%
}
}
@media only screen and (max-width: 639px) {
.sidebar {
left: 50%;
margin-left: -140px
}
 #banner_head {
width: 100%;
text-align: center
}
#info_footer li {
display: block;
width: 100%;
margin-bottom: 15px
}
}
/*Meizu M8 one 4 720x480*/
/*================================================== */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
/*Toolbar*/
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
}
/*IPhone 3G 480x320*/
/*================================================== */
 @media only screen and (max-width: 480px) {
.fullsize480 {
width: 100% !important
}
/*Header*/
.container #logo.two.columns, .container #banner_head.eleven.columns {
width: 100%;
text-align: center
}
/*Support Online*/
.container-box {
 display: none
}
.nivo-directionNav {
display: none
}
.theme-default .nivo-controlNav {
display: block
}
.img_news img {
width: 100%;
margin-right: 0;
padding: 0;
margin-bottom: 10px;
border: 0;
-webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0
}
 .like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
}

/*Mobile*/
/*================================================== */
 @media only screen and (max-width: 320px) {
body {
overflow-x: hidden
}
 .modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove  
		comment brackets */
