/*Contact Us*/
#info_contact {
	margin-bottom: 20px;
	line-height: 20px;
}
#info_contact p {
	margin: 0.5em 0;
}
.form_web .row_contact {
	width: 100%;
	margin-bottom: 10px;
}
#contactus * {
	font-size: 14px
}
div.row_account {
	width: 100%;
	float: left;
	margin-bottom: 0.5em;
	position: relative;
}
.form_web .item_title {
	width: 160px;
	display: inline-block;
	line-height: 30px;
}
.form_web .row_right {
	margin-left: 180px
}
.form_web select {
	height: 31px;
	text-indent: 0 !important;
}
.form_web .inputbox, .form_web .date_send table {
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	background: none;
	color: black;
	padding: 6px 0;
	text-indent: 5px;
	width: 320px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 100% Arial, Helvetica, sans-serif
}
.form_web .inputbox:focus {
	-moz-box-shadow: 0 0 5px #678dac;
	-webkit-box-shadow: 0 0 5px #678dac;
	box-shadow: 0 0 5px #678dac;
	border-color: #678dac
}
.form_web textarea.inputbox {
	background: #FFFFFF;
	width: 300px;
	height: 120px;
	padding: 6px 10px;
	text-indent: 0;
}
.send_cmt, .form_web input.send_cmt {
	float: left;
	margin: 10px 10px 0 0;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
 *background-color: #f89406;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	font-size: 14px;
}
.send_cmt:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #f89406;
 *background-color: #df8505;
}
#map {
	padding: 20px 0
}
.required {
	color: #FF0000;
}
#contactus .item_title {
	text-align: right
}
.reset_btn {
	display: inline-block;
 *display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
 *margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
 *line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
 *background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
 *border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
 *zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
