/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.5 Arial, Helvetica, sans-serif;
	color:#222222;
	background: #ffffff;
	min-width: 1200px
}
@font-face {
 font-family: 'Avo Regular';
 src: url('../Images/Fonts/utm_avo-webfont.eot');
 src: url('../Images/Fonts/utm_avo-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/utm_avo-webfont.woff2') format('woff2'), url('../Images/Fonts/utm_avo-webfont.woff') format('woff'), url('../Images/Fonts/utm_avo-webfont.ttf') format('truetype'), url('../Images/Fonts/utm_avo-webfont.svg#utm_avoregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #2e68ae;
}
a:hover {
	text-decoration: underline;
	color: #222222
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
	max-width: 100%;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin: 2px 0
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
.btn_web {
	display: block;
	background: #053f7c;
	padding: 3px 10px;
	color: #FFFFFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #bbbbbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 24px;
}
.btn_web:hover {
	color: #ffffff;
	background: #668cab;
	text-decoration: none
}
.padd {
	padding: 10px !important
}
.inner_col {
	margin-left: 20px;
}
/* WRAPPER --------*/
.font1 {
	font-family: 'Avo Regular', Helvetica, sans-serif
}
/* LAYOUT

--------------------------*/

.cf:after, .container:after, #header:after, #footer:after, #main:after, .box:after, .box_ct:after, .row:after, .pagination:after, .list_products:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#main {
	padding: 10px 0
}
/* HEADER*/
#header {
	padding: 10px 0;
	background: url(../Images/headerBg.gif) bottom left repeat-x;
}
#logo {
	text-align: center
}
#hotline_head {
	padding-left: 20px;
	margin: 10px 30px 0 0;
	background: url(../Images/hotline_icon.png) 0 center no-repeat;
}
#hotline_head b {
	display: block;
	color: #ff0000;
	font: 700 18px/20px 'Avo Regular', Helvetica, sans-serif;
	letter-spacing: 1px
}
/*Search Form*/
.search_box {
	position: relative;
	height: 26px;
	width: 280px;
	margin-bottom: 12px;
	background: url(../Images/searchBg.gif) 0 0 repeat-x;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-top: 1px solid #CACACA
}
.search_box label {
	float: left;
	white-space: nowrap;
	line-height: 26px;
	padding: 0 5px
}
.search_box .inputSearch {
	background: url(../Images/input_searchBg.gif) 0 0 repeat-x;
	border: none;
	float: left;
	font-family: inherit;
	font: italic 12px Arial;
	padding: 6px 0;
	text-indent: 5px;
	width: 180px;
	color: #9c9c9c;
}
.search_box .submitSearch {
	display: block;
	background: url(../Images/search_icon.png) center center no-repeat;
	border: medium none;
	cursor: pointer;
	width: 37px;
	height: 26px;
	position: absolute;
	right: 0;
	top: 0;
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
	background: #e3e9e7
}
/*Tab*/
.tab_home {
	height: 32px;
	background: #025f7d url(../Images/tabBg.gif) 0 0 repeat-x;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px
}
.tab_home span {
	display: inline-block;
	line-height: 32px;
	padding-left: 15px;
	color: #FFFFFF;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 700
}
.sub_cate {
	display: inline-block;
	width: 960px;
	margin-right: 100px;
	height: 28px;
	background: url(../Images/subcateBg.gif) 0 0 repeat-x;
	-moz-box-shadow: -2px 1px 3px #888888;
	-webkit-box-shadow: -2px 1px 3px #888888;
	box-shadow: -2px 1px 3px #888888;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 2px;
	text-align: right
}
.sub_cate li {
	float: left;
	isplay: inline-block
}
.sub_cate li:not(:first-child) {
background: url(../Images/split_menu.gif) 0 center no-repeat
}
.sub_cate a {
	display: block;
	line-height: 28px;
	padding: 0 10px 0 25px;
	font-weight: 700;
	color: #111111
}
.tab_home .view_all {
	position: absolute;
	top: 6px;
	right: 15px;
	color: #FFFFFF;
	font-weight: 700
}
.heading_page {
	font-size: 1.1em;
	font-weight: 700;
	color: #363636;
	margin-bottom: 10px;
	border-bottom: 1px dotted #CACACA
}
h1.heading_page {
	font-size: 1.5em	
}
.l_Tab {
	height: 32px;
	line-height: 32px;
	background: #4f81bd;
	padding-left: 15px;
	color: #FFFFFF;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 700
}
/*News Home*/
.inner_news {
	margin-left: 30px;
	padding-bottom: 20px;
	position: relative
}
.inner_news h4 {
	border-bottom: 1px solid #474747;
	padding-bottom: 3px
}
.inner_news h4 a {
	color: #2e68ae;
	font-size: 16px;
	line-height: 1.3em;
	text-transform: uppercase;	
	text-decoration: none;
	margin-top: auto;
	overflow: hidden;
}
#homenews li {
	margin: 8px 0
}
#homenews h3 a {
	color: #474747;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2em;
	text-decoration: none;
}
#homenews h3 a:hover {
	color: #367acc
}
#homenews .img_news {
	display: block;
	width: 100px
}
#homenews .date {
	font-size: 11px;
	color: #818181
}
.inner_news .linkviewmore {
	bottom: 10px;
	margin-top: 15px;
	position: absolute;
	display: block;
	font-style: italic;
	text-decoration: underline;
	color: #FF0000;
	padding-right: 10px;
	background: url(../Images/arr_l2.png) right center no-repeat
}
/*Vertical menu*/
#left_nav li {
	position:relative;
}
#left_nav a {
	text-decoration: none;
	display:block;
	padding: 6px 10px 6px 18px;
	font-size: 1em;
	border-bottom: 1px dotted #7b7b7b;
}
#left_nav h2 {
	font-size: 1em
}
#left_nav > ul > li > a {
	font-weight: 700;
	background: url(../Images/arr_l.png) 6px 12px no-repeat
}
#left_nav > ul > li > a:hover, #left_nav > ul > li > a.active {
	background-image: url(../Images/arr_l1.png)
}
#left_nav > ul > li > ul {
	display: none;
	background: #f2f2f2
}
#left_nav li li a {
	padding-left: 20px;
	background: url(../Images/bullet.gif) 10px 12px no-repeat
}
#left_nav a.active, #left_nav a:hover {
	background-color: #e13324;
	color: #FFFFFF
}
/*List Products*/
.list_products {
	border-left: 1px solid #d1d1d1;
	border-top: 1px solid #d1d1d1
}
.list_products .product_item {
	position: relative;
	box-sizing: border-box;
	padding: 0 10px 10px 10px;
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1
}
.product_item .img_product {
	display: table-cell;
	vertical-align: middle;
	width: 179px;
	height: 176px;
	text-align: center;
}
.product_item .img_product img {
	max-width: 179px;
	max-height: 176px
}
.product_item h3 {
	margin: 8px 0 3px 0;
}
.product_item .product_name {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	font-size: 1.1em;
}
.product_item .overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 176px;
	background: rgba(0, 0, 0, .8);
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.over_inner {
	padding: 5px
}
.product_item .overlay span {
	display: block;
	padding: 2px 6px;
	color: #FFFFFF
}
.btndetail {
	text-align: center;
	margin-top: 15px
}
.btndetail a {
	color: #fff000;
	padding: 3px 20px 3px 10px;
	background: #367acc url(../Images/arr_l1.png) 90% center no-repeat;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none
}
.btndetail a:hover {
	background-color: #ff0000
}
.product_item:hover .overlay {
	opacity: 1
}
/*Products Page*/
.products_page {
	border: none
}
.products_page ul {
	margin-left: -8px
}
.products_page .product_item {
	position: relative;
	box-sizing: border-box;
	border: 1px solid #d1d1d1;
	margin-left: 8px;
	margin-bottom: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.products_page .img_product {
	width: 171px;
}
.products_page .img_product img {
	max-width: 171px;
}
#thesame_pro .img_product {
	width: 192px;
}
#thesame_pro .img_product img {
	max-width: 192px;
}
/*Detail Product*/
#pro_left {
	height: 360px;
	margin-bottom: 20px
}
#pro_left a {
	display: block;
	width: 360px;
	height: 360px;
	text-align: center;
	margin: 0 auto
}
#pro_left img {
	max-height: 100%
}
/*Popular Products*/
#l_products li:not(:last-child) {
margin-bottom: 8px;
padding-bottom: 8px;
border-bottom: 1px solid #CCCCCC
}
#l_products .img_product {
	width: 110px;
	margin-right: 15px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#l_products .img_product img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#l_products .product_name {
	font-size: 1.1em;
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin: 10px 0;
	text-align: center;
}
.pagination a {
	display: inline-block;
	padding: 3px 9px;
	margin: 0 3px;
	color: #000000;
	background: #f9f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f8f8), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f8f8 0%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f8', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
	border: 1px solid #cecccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination b, .pagination a:hover {
	display: inline-block;
	text-decoration: none;
	color: #053f7c;
	padding: 3px 9px;
	margin: 0 3px;
	background: #e2e0e0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*List News*/
#list_news li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .news_ct {
	margin-left: 155px
}
#list_news .title_news {
	font-size: 1.1em;
	margin-bottom: 5px;
}
#list_news p {
	margin: 0 0 1em 0;
	text-align: justify
}
#list_news .img_general {
	width: 200px;
	padding: 2px;
	background: #FFFFFF;
	-moz-box-shadow: 0px 0px 5px #d3d3d3;
	-webkit-box-shadow: 0px 0px 5px #d3d3d3;
	box-shadow: 0px 0px 5px #d3d3d3;
	height: auto;
	position: relative;
	overflow: hidden;
}
#list_news img {
	width: 100%;
	height: auto
}
#list_news .readmore_news {
	display: block;
	margin-top: 15px;
	color: #FF0000
}
/*Detail News*/
.title_page {
	font-size: 1.3em;
	font-weight: 700;
	color: #053f7c;
}
.info_g {
	font-size: 1.1em
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
/*Detail News*/
.info_g {
	line-height: 160%;
}
.info_g .date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	float: left;
	margin: 10px 0;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	padding: 0
}
.toolbar {
	float: right;
	padding: 0;
	margin-right: 15px;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 20px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -36px
}
a.opinion {
	background-position: 0 -76px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
	font-weight: 700;
	font-size: 13px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 3px 0;
}
.other_news_sub li a {
	background: url(../Images/bullet.gif) no-repeat scroll 0 4px transparent;
	padding-left: 10px;
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Tab Regis*/
.tabs-menu {
	background: #ebebeb;
	border: 1px solid #b7b7b7;
	border-bottom: none;
	padding: 7px 0
}
.tabs-menu li {
	float: left;
	margin: 0 30px;
	text-align: center;
}
.tabs-menu li a {
	color: #3e3e3e;
	font-size: 1.2em;
	font-weight: 700;
	text-transform: uppercase
}
.tabs-menu li a:hover, .tabs-menu li a:focus, .tabs-menu li.current a {
	color: #ee1d25;
	text-decoration: none
}
.tab-content {
	display: none;
}
#tab-1 {
	display: block;
}
/*Path*/
.path {
	text-align: left;
	text-transform: none;
	margin-bottom: 10px;
}
/*Footer*/
#footer {
	padding: 20px 0;
	background: url(../Images/footerBg.gif) 0 0 repeat
}
#footer, #footer a {
	color: #FFFFFF
}
#footer a:hover {
	color: #fffc00
}
#footer p {
	margin: 0 0 5px 0
}
/*Footer Columns*/
#footer li:not(;
first-child) .col_F_ct {
 padding-left: 50px
}
#footer h3 {
	font-size: 1.1em;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fffc00
}
.list_menu_footer li {
	margin: 5px 0
}
.list_menu_footer .link_foo {
	color: #515050;
	background: url(../Images/arr_l.png) 0 3px no-repeat;
	padding-left: 12px;
}
#support_online {
	font-size: 1.1em
}
#support_online span {
	color: #fffc00
}
#support_online a {
	display: inline-block;
	padding-right: 5px;
	padding-top: 3px
}
#info_footer {
	margin-bottom: 10px
}
/*Social Network*/
#social_network {
	margin-left: 10px
}
#social_network span {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-left: 6px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_glus {
	background-position: -55px 0
}
.icon_youtube {
	background-position: -28px 0
}
#visitors {
	margin-top: 10px;
	color: #fffec7
}
#visitors span {
	margin-left: 8px
}
