@charset "utf-8";
/* CSS Document */
.tabsContent2 {
	float:left;
	width:570px;
	margin-top:10px;
}
/*tab*/
.tab-head {
	overflow:hidden;
	margin-bottom:-1px;
}
.tab-head li {
	list-style:none;
	float:left;
	padding:10px;
	height:16px;
	margin: 0 10px 0 0;	
}
.tab-head li.active {
	border-style:solid;
	border-width: 1px 1px 0px 1px;
	border-color:#ccd6d9;
	background:#fff;
	padding-bottom:10px;	
}
.tab-head li a {
	display:block;
	padding: 0 20px;
	color:#333333;
	font-weight:bold;
	text-transform:uppercase;
	
}
.tab-head li:hover >a, .tab-head li.active >a {
	color:#ee4426;
	font-weight:bold;
	text-transform:uppercase;
}
.tab-head li a:hover, .tab-head li.active >a {
	
}
.tab-content2 {
	overflow:hidden;
	border: 1px solid #ccd6d9;
	min-height:255px;
	padding: 10px 20px;
	width: 665px;
}
