@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,vietnamese,latin-ext);
@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 13px/1.4 Arial, Helvetica, sans-serif;
	color:#333333;
	background: #523112
}
a {
	text-decoration: none;
	color: #523112;
}
a:hover {
	text-decoration: none;
	color: #000000
}
.cl_orange a {
	color: #ff9430;
}
.cl_orange a:hover {
	text-decoration: none;
	color: #ffcc00
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	background: #FFFFFF;
	border: 1px solid #dcdcdc;
	padding-left: 5px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.font1 {
	font: normal 13px Arial, Helvetica, sans-serif
}
.line {
	width: 100%;
	height: 1px;
	background: #959595;
	margin: 10px 0
}
.trans {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
/* WRAPPER --------*/
.wrap {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
/* LAYOUT

--------------------------*/
#main {
	margin-top: 10px
}
#left_col {
	width: 738px
}
#right_col {
	width: 230px;
	color: #FFFFFF
}
.wrap:after, #header:after, #footer:after, #menu_footer:after, .box:after, .box_ct:after, .pagination:after, #main:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/* HEADER

--------------------------*/
#header {
	position: relative;
}
#banner_head {
	width: 100%;
}
#banner_head img {
	width: 100%;
}
/* SEARCH TOP MAIN */
#search_form {
	height: 23px;
	position: relative;
	top: 1px;
	right: 2px;
	background: #FFFFFF;
	border: 1px solid #834d00;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}
#search_form .inputSearch {
	background: none;
	border: none;
	color: #7B7B7B;
	float: left;
	font-family: Arial;
	height: 21px;
	line-height: 21px;
	width: 170px;
	padding-left: 5px;
}
#search_form .submitSearch {
	float: right;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 15px;
	height: 15px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	border: none;
	cursor: pointer;
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
}
.box_ct {
	padding: 10px;
}
#left_col .box_ct {
	background: #FFFFFF;
	-moz-box-shadow: 2px 2px 4px #000000;
	-webkit-box-shadow: 2px 2px 4px #000000;
	box-shadow: 2px 2px 4px #000000;
	border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	margin-right: 10px;
	margin-top: -10px;
}
#right_col .box_ct {
	background: #432105;
	border-radius: 0 0 8px 8px;
	-webkit-border-radius:  0 0 8px 8px;
	-moz-border-radius:  0 0 8px 8px;
}
/*Tab*/
#left_col .box_Tab {
	font-size: 1.3em;
	height: 35px;
	line-height: 35px;
	margin-top: 15px;
	border-bottom: 1px solid #ffa837;
	color: #ffa837;
	text-transform: uppercase
}
#right_col .box_Tab {
	height: 35px;
	line-height: 35px;
	background: #311b04 url(../Images/space2.png) center bottom no-repeat;
	border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	font-size: 1em;
	position: relative;
	color: #ffa837;
	text-align: center;
	text-transform: uppercase;
}
/*List Item*/
.list_item li {
	float:left;
	margin: 0 15px 10px 0;
}
.li_item {
	-moz-box-shadow: 2px 2px 4px #000000;
	-webkit-box-shadow: 2px 2px 4px #000000;
	box-shadow: 2px 2px 4px #000000;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid #432105;
	background: #432105;
	position: relative;
}
.li_item .title_item {
	background: url(../Images/space.png) bottom center no-repeat;
	font-size: 1em;
	font-weight: 500;
	height: 32px;
	line-height: 32px;
	margin-bottom: 2px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.li_item .img_item {
	display: block;
	margin: 10px;
	overflow: hidden;
	text-align: center;
	position: relative;
	background: url(../Images/shadowBg.gif) center bottom no-repeat;
}
.li_item img {
	width: auto;
	height: 100%
}
.img_item div.effect {
	opacity:0;
	position:absolute;
	z-index:3;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	transition: opacity 0.6s ease 0.2s;
	-webkit-transition: opacity 0.6s ease 0.2s;
	-moz-transition: opacity 0.6s ease 0.2s;
	-o-transition: opacity 0.6s ease 0.2s;
	filter: alpha(opacity=0);
	background:#000000;
}
.img_item:hover div.effect {
	opacity:0.4;
}
/*Categories Home*/
#categories_home li {
	width: 230px;
	margin-bottom: 20px
}
#categories_home .title_item a {
	text-transform: uppercase
}
#categories_home .img_item {
	height: 230px
}
/*List Products*/
#list_products li {
	width: 169px;
	margin-top: 15px;
}
#list_products .img_item {
	height: 160px;
}
/*Box Support*/
#box_support li {
	float: left;
	width: 100%;
	margin: 5px 0;
}
#box_support .title_sp {
	width:100px;
	padding-left:10px
}
#box_support .hotline {
	text-align: center;
	background: url(../Images/hotline_icon.png) 0 center no-repeat;
	padding-left: 30px;
	margin-bottom: 5px;
	border-bottom: 1px solid #aa5a18
}
#box_support .number_phone {
	display: block;
	color: #FFFFFF;
	font-size: 1em;
	margin: 5px 0;
}
/*Social Network*/
.social_icon span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	background-image: url(../Images/social_icon.gif);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_glus {
	background-position: -25px 0
}
.icon_youtube {
	background-position: -52px 0
}
.icon_facebook:hover {
	background-position: 0 -25px
}
.icon_glus:hover {
	background-position: -25px -25px
}
.icon_youtube:hover {
	background-position: -52px -25px
}
/*Vertical menu*/
#box_category > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 7px 10px 7px 5px;
	font-size:1em;
}
#box_category > ul > li {
	position:relative;
}
#box_category > ul > li:first-child {
	padding-top:1px;
}
#box_category > ul > li.last {
	border:none;
}
#box_category > ul > li > ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
}
#box_category > ul > li.active ul {
	display:block;
}
#box_category > ul > li > ul > li {
	padding-left: 15px;
	position: relative;
	background: url(../Images/icon_list_video.gif) 10px 11px no-repeat;
}
#box_category > ul > li span:hover {
	cursor:pointer;
}
#box_category > ul > li.active a + ul {
	display: block;
}
#box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	padding: 7px 10px 7px 10px;
	font-size: 90%;
}
#box_category > ul > li ul > li li {
	margin-left: 20px;
	background: url(../Images/bullet.gif) 0 12px no-repeat
}
#box_category > ul > li ul > li li a {
	padding-left: 10px
}
/*Ads*/
.ads img {
	width: 100%;
	height: auto;
	margin-bottom: 10px
}
#ads_slide li {
	float: left;
	width: 230px;
	height: 250px
}
.ads_item {
	background: none repeat scroll 0 0 #fff;
	display: table-cell;
	height: 250px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 230px;
}
#ads_slide img {
	height: 250px;
	width: 230px;
}
.slide_ctrl {
	background: transparent url(../Images/control_btn.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 40px;
	position: absolute;
	top: 100px;
}
.slide_ctrl.prev {
	background-position: 0 0;
	left: 0;
}
.slide_ctrl.next {
	background-position: -30px 0;
	right: 0;
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin:auto;
	margin:15px 0;
	text-align: center
}
.pagination a {
	display:inline-block;
	padding:3px 10px;
	background:#e0e0e0;
	color:#222222;
	text-align:center;
	margin-left:2px;
	font-size:15px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.pagination a:hover, .pagination a.active {
	background:#ffa829;
	color:#FFF;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
/*Detail News*/
.h2Title {
	font-size: 1.5em;
	color: #523112;
	margin-bottom: 5px;
}
#info_g img {
	max-width: 100%;
	height: auto;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
#info_g img:hover {
	opacity: 0.6
}
#info_g, #info_g p {
	line-height: 1.4
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
/*News*/
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	padding: 10px 0;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding: 0 0 3px 0;
	font-size: 1em;
	font-weight: 700;
}
#list_news p {
	margin: 0.5em 0 1em 0;
	line-height: 150%;
	font-size: 90%
}
#list_news img {
	border: 10px solid #f6f6f6;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 200px;
	height: auto;
	background: #FFFFFF;
	transition: All 0.4s ease-out;
	-webkit-transition: All 0.4s ease-out;
	-moz-transition: All 0.4s ease-out;
	-o-transition: All 0.4s ease-out;
}
#list_news img:hover {
	opacity: 0.6
}
#list_news .view_more {
	font-weight: 700;
	text-transform: uppercase
}
#list_news .view_more:hover {
	text-decoration: underline
}
#info_g, #info_g p {
	line-height: 160%;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	margin: 10px 0;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -32px;
}
a.opinion {
	background-position: 0 -72px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 4px 0;
}
.other_news_sub li a {
	background: url(../Images/bullet.gif) no-repeat scroll 0 4px transparent;
	padding-left: 10px;
	font-size: 90%
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Detail Products*/
.proleftdet {
	float: left;
	width: 320px;
	margin-bottom: 20px;
	overflow: hidden;
	border: 1px solid #d2d2d2;
	position: relative
}
.img-box {
	background: none repeat scroll 0 0 #fff;
	display: table-cell;
	height: 360px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 320px;
}
.img-box img {
	max-height: 360px;
	max-width: 320px;
	text-align: center;
}
#dtp_info {
	float: right;
	width: 350px;
}
.dtp_status {
	clear: both;
	display: block;
	width: 100%;
	margin: 10px 0
}
.dt_price b {
	color: #ef151a
}
.list_download {
	margin-top: 20px
}
.list_download li {
	float: left;
	width: 100%;
	margin: 3px 0
}
.list_download a {
	color: #523112
}
/*Gallery*/
#gallery_images {
	margin-left: -15px
}
#gallery_images li {
	float: left;
	width: 150px;
	height: 160px;
	margin: 10px 0 10px 15px;
	overflow: hidden;
	border: 1px solid #cccccc
}
#gallery_images .img_gallery {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	height: 160px;
	text-align: center
}
.img_gallery img {
	max-width: 150px;
	max-height: 160px
}
/*Path*/
.path {
	padding-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 35px;
	line-height: 35px;
	border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-moz-box-shadow: 0 2px 4px #000000;
	-webkit-box-shadow: 0 2px 4px #000000;
	box-shadow: 0 2px 4px #000000;
	background: #311b04;
	position: relative;
	color: #ffa837;
	text-align: left;
	text-transform: uppercase;
}
/*Footer*/
#footer {
	background: #311b04;
	padding: 10px 20px;
	color: #FFFFFF
}
#footer p {
	margin: 3px 0
}
#menu_footer {
	margin-bottom: 10px
}
#menu_footer a {
	float: left;
	display: inline-block;
	padding: 0 10px;
	background: url(../Images/space_menu.gif) 0 center no-repeat
}
#menu_footer a:first-child {
	background: none;
	padding-left: 0
}
#info_footer {
	width: 70%
}
/*Access Status*/
#status span {
	display: block;
	margin: 3px 0
}
#status b {
	color: #ffe400
}
#copyright {
	text-align: right;
	margin-top: 15px;
}
/*Banner Ads*/
#divAdRight {
	display:none;
	position:absolute;
	top:10px;
	width: 130px
}
#divAdLeft {
	display:none;
	position:absolute;
	top:10px;
	width: 130px
}
#divAdLeft img, #divAdRight img {
	float: left;
	width: 100%;
	height: auto;
	margin-bottom: 5px
}
