@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
	border: none
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color:#222222;
	overflow-x: hidden;
	background: url(../Images/bg.gif) 0 0 repeat-x;
}
a {
	text-decoration: none;
	color: #007eff;
}
a:hover {
	text-decoration: none;
	color: #000000
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.font1 {
	font-family: 'Signika Negative', sans-serif;
}
.cl_black, .cl_black a {
	color: #000000
}
.cl_black a:hover {
	text-decoration: underline
}
.cl_blue, .cl_blue a {
	color: #0061b0
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
/* WRAPPER --------*/
.container {
	margin: 0 auto;
	padding-bottom: 5px;
	position: relative;
	-moz-box-shadow: 0 0 7px #000000;
	-webkit-box-shadow: 0 0 7px #000000;
	box-shadow: 0 0 7px #000000;
}
.row_main {
	padding: 0 5px
}
/* LAYOUT

--------------------------*/
#main {
	padding: 5px;
	background: url(../Images/bg_1x1_gray.gif) 70.8% 0 repeat-y
}
#left_col {
	width: 28%;
}
#main_col {
	width: 70%;
}
.container:after, header:after, footer:after, .row_main:after, #top_page:after, .box:after, .box_ct:after, .hot_news:after, #get_email .inner:after, .pagination:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/*Top Page*/
#top_page {
	color: #FFFFFF;
	background: #433e43
}
#hotline {
	padding-left: 10px;
	font-size: 1.4em;
	line-height: 40px
}
/* SEARCH TOP MAIN */
#search_box {
	background: #373235;
	-moz-box-shadow:inset 2px 0 15px #000000;
	-webkit-box-shadow:inset 2px 0 15px #000000;
	box-shadow:inset 2px 0 15px #000000;
	height: 40px;
}
#search_box .inputSearch {
	background: none;
	border: none;
	color: #FFFFFF;
	font-style: italic;
	float: left;
	font-family: Arial;
	margin-top: 10px;
	text-indent: 10px;
	height: 20px;
	width: 200px;
	padding: 0;
}
#search_box .submitSearch {
	float: right;
	width: 19px;
	padding: 0 8px;
	height: 40px;
	background:url(../Images/search_Icon.png) center center no-repeat;
	border: none;
	cursor: pointer;
}
/*Top Link*/
#toplink {
	height: 40px;
	border-right: 1px solid #5a5057
}
#toplink ul {
	float: right;
	margin-right: 20px;
	height: 25px;
	line-height: 25px
}
#toplink li {
	float: left;
	display: inline-block
}
#toplink li a {
	display: block;
	color: #FFFFFF;
	padding: 0 10px;
	font-size: 1.2em;
	line-height: 40px
}
#toplink li a:hover {
	text-decoration: underline
}
#toplink .select_menu {
	display: none;
	font: normal 100% Arial, Helvetica, sans-serif;
	color: #1946a1;
	cursor: pointer;
	height: 28px;
	padding: 3px;
	margin: 0 auto;
	outline: medium none;
	padding: 5px;
	width: 98%;
}
/* HEADER*/
header {
	background: #f0f0f0;
	position: relative
}
#logo {
	position: absolute;
	top: 0;
	left: 2%;
	width: 14.5%;
	z-index: 10;
	padding-top: 7px;
	height: 107px;
	text-align: center;
	background: #ffffff;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	-moz-box-shadow: -1px 1px 3px #666565;
	-webkit-box-shadow: -1px 1px 3px #666565;
	box-shadow: -1px 1px 3px #666565;
}
#logo img {
	max-width: 100%;
	max-height: 100%
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	padding: 10px;
}
#main_col .box_ct {
	border-bottom: 1px solid #cacaca
}
/*Tab*/
.box_Tab {
	height: 36px;
	line-height: 36px;
	background: #ede9ec; /* Old browsers */
	background: -moz-linear-gradient(top, #ede9ec 0%, #e4e0e3 50%, #dfdbde 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ede9ec), color-stop(50%, #e4e0e3), color-stop(100%, #dfdbde)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ede9ec 0%, #e4e0e3 50%, #dfdbde 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ede9ec 0%, #e4e0e3 50%, #dfdbde 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ede9ec 0%, #e4e0e3 50%, #dfdbde 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ede9ec 0%, #e4e0e3 50%, #dfdbde 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede9ec', endColorstr='#dfdbde', GradientType=0 ); /* IE6-9 */
	border: 1px solid #cacaca;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-size: 1.2em;
	color: #006fff;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	padding-left: 20px;
}
.box_Tab a {
	font-size: 1em
}
.box_Tab_main {
	margin: 0 5px;
	height: 50px;
	background: #e8e4e7;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: 1px solid #cacaca;
	font: 700 1.3em/50px Arial, Helvetica, sans-serif;
	color: #006fff;
	position: relative;
}
.box_Tab_main .icon_logo {
	float: left;
	width: 63px;
	height: 50px;
	margin-right: 15px;
	background: url(../Images/small_logo.png) 0 center no-repeat;
}
/*Ads*/
.ads, #saleoff {
	text-align: center
}
.ads img {
	max-width: 100%;
	margin-bottom: 5px;
}
#ads_head {
	padding-left: 15.8%
}
#ads_head .ads_item {
	margin: 3px 0 3px 1px;
}
#ads_head .ads_item img {
	height: 90px;
	margin: 0
}
#ads_head .ads_item:first-child {
	margin-left: 0
}
#saleoff img {
	max-width: 100%
}
#ads_footer {
	width: 30%
}
#ads_footer img {
	width: 48%;
	margin-left: 2%
}
/*Slide TV channels*/
#carousel_channels {
	padding: 10px 40px;
	background: #ede9ec; /* Old browsers */
	background: -moz-linear-gradient(top, #ede9ec 0%, #dfdbde 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ede9ec), color-stop(100%, #dfdbde)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ede9ec 0%, #dfdbde 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ede9ec 0%, #dfdbde 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ede9ec 0%, #dfdbde 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ede9ec 0%, #dfdbde 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede9ec', endColorstr='#dfdbde', GradientType=0 ); /* IE6-9 */
}
#carousel_channels li {
	float: left
}
#carousel_channels .img_channels {
	display: block;
	height: 70px;
	text-align: center;
	padding: 0 10px;
}
#carousel_channels .img_channels img {
	max-width: 100%;
	max-height: 100%
}
.slideNav a {
	background-image: url(../Images/slide_ctrl.png);
	background-repeat: no-repeat;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 35px;
	height: 35px;
	position: absolute;
	bottom: 25px;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.slideNav .prev {
	background-position: 0 0;
	left: 5px;
}
.slideNav .next {
	background-position: -35px 0;
	right: 5px;
}
/*News Home*/
#news_home .img_general {
	width: 90px;
	height: auto;
	border: 1px solid #b1b1b1
}
#news_home .title_news {
	font-weight: 500;
}
/*Access Static*/
#access_static .icon_status {
	float: left;
	margin-right: 3px;
	display: block;
	width: 22px;
	height: 20px;
	background-image: url(../Images/status_icon.png);
	background-repeat: no-repeat
}
#access_static p {
	margin: 0;
	padding: 5px 20px;
	color: #444444;
}
#access_static .icon_status.online, #access_static .icon_status.s_month {
	background-position: 0 0
}
#access_static .icon_status.s_today {
	background-position: 0 -25px
}
#access_static .icon_status.all_visistors {
	background-position: 0 -49px
}
#access_static b {
	color: #ff0000
}
/*Support Online*/
#support_online {
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	font-size: 1.1em
}
#support_online .nick_chat a {
	display: block;
}
#support_online .numberphone span {
	display: block;
	margin-bottom: 3px;
	color: #ff7e00
}
/*Vertical menu*/
#menu_sidebar > ul > li {
	position:relative;
}
#menu_sidebar > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 5px 0 5px 20px;
	font-size: 1.2em;
	font-weight: 500;
}
#menu_sidebar > ul > li > a:hover, #menu_sidebar > ul > li.active > a {
	background: #e5e1e4;
	text-decoration: none
}
#menu_sidebar > ul > li > ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
}
#menu_sidebar > ul > li.active ul {
	display:block;
}
#menu_sidebar > ul > li > ul > li {
	padding-left: 18px;
	position: relative
}
#menu_sidebar li li a:hover {
	text-decoration: underline
}
#menu_sidebar > ul > li span:hover {
	cursor:pointer;
}
#menu_sidebar > ul > li.active a + ul {
	display: block;
}
#menu_sidebar > ul > li > ul > li > a {
	text-decoration: none;
	display: block;
	padding: 10px 20px 10px 18px;
	text-transform: capitalize;
	background: url(../Images/arr_orange.png) 5px 13px no-repeat
}
#menu_sidebar li li a {
	border-bottom: 1px dotted #104f94;
}
#menu_sidebar li li li > a {
	display: block;
	padding: 8px 20px 8px 30px;
	background: url(../Images/dot_icon.png) 15px 18px no-repeat
}
/*Top News*/
.hot_news .img_general {
	width: 240px;
	margin-bottom: 10px
}
.hot_news .img_general img, .hot_news_cate .img_general {
	width: 100%;
	height: auto
}
.title_hotnews {
	font-size: 1.3em;
	margin-bottom: 0.5em
}
p.short_des {
	margin: 0;
}
.view_more_news {
	margin-top: 1em;
	color: #e20001
}
/*Slide News*/
#carousel_topnews {
	padding: 10px 0
}
.slide_topnews {
	position: relative;
	z-index: 5;
	width: 100%;
}
.slide_topnews li {
	float: left;
	position: relative;
	height: 150px;
}
.slide_topnews .item_top_news {
	width: 90%;
	margin: 0 auto
}
.slide_topnews .top_news_title {
	display: block;
	margin: 5px 0;
	height: 50px;
	overflow: hidden
}
.slide_topnews .img_topnews {
	display: block;
	height: 90px;
	line-height: 90px;
	margin-bottom: 5px;
	overflow: hidden;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cacaca;
}
.slide_topnews img {
	width: 100% !important;
	height: 100% !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*Category Home*/
.cate_item {
	background: url(../Images/bg_2x2_dotgray.gif) 64% 0 repeat-y
}
.hot_news_cate {
	width: 63%;
	margin-bottom: 10px
}
.hot_news_cate .img_general {
	width: 180px;
	margin-bottom: 10px;
}
.hot_news_cate h3 {
	display: block;
	margin-bottom: 0.5em;
}
.hot_news_cate .title_hotnews_cate {
	font-size: 1.2em
}
.list_hotnews_cate {
	width: 35%;
}
.list_hotnews_cate ul {
	list-style: url(../Images/ar_l.png) outside;
	padding: 10px 10px 10px 20px;
}
.list_hotnews_cate li {
	float: left;
	width: 100%;
	border-bottom: 1px solid #cacaca;
	margin-bottom: 6px;
	padding-bottom: 6px
}
.list_hotnews_cate li:last-child {
	border: none;
	margin: 0;
	padding: 0
}
.list_hotnews_cate p.date {
	margin: 2px 0 6px 5px
}
.view_all {
	float: right;
	font-family: Arial;
	font-size: 90%;
	font-weight: 500;
	text-decoration: underline;
	margin: 5px;
}
.view_all:hover {
	color: #87ABC8
}
/*List Equipments*/
#list_equipments li {
	float: left;
	width: 25%;
	margin: 10px 0;
}
#list_equipments li div {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	position: relative
}
#list_equipments li:nth-child(4n+1) {
clear: both
}
#list_equipments li .img_equipment {
	display: block;
	width: 100%;
	height: 120px;
	text-align: center;
}
#list_equipments li img {
	max-width: 100%;
	max-height: 100%
}
#list_equipments li h3 {
	text-align: center;
	padding: 10px 0;
}
#list_equipments li h3 a {
	font-size: 1em;
	color: #FFFFFF
}
/*Detail Products*/
.proleftdet {
	width: 40%;
	margin: 20px auto;
	overflow: hidden;
	border: 1px solid #d2d2d2;
	position: relative;
}
#pro_detail_slide {
	max-width: 320px;
	max-height: 300px;
	margin: 0 auto;
}
#pro_detail_slide li {
	float: left;
	height: 300px;
}
.img-box {
	background: none repeat scroll 0 0 #fff;
	display: block !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
.img-box img {
	max-height: 100%;
	max-width: 100%
}
#dtp_info {
	width: 57%;
	margin-top: 20px
}
#dtp_info .dtp_status {
	clear: both;
	display: block;
	width: 100%;
}
#dtp_info .short_des_dtp p {
	margin: 10px 0
}
#dtp_info .btn_contact {
	display: inline-block;
	padding: 8px 20px;
	margin-bottom: 20px;
	font-size: 1.4em;
	font-weight: 500;
	color: #FFFFFF;
	text-decoration: none;
	background: #0280db; /* Old browsers */
	background: -moz-linear-gradient(top, #0280db 0%, #0267b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0280db), color-stop(100%, #0267b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0280db 0%, #0267b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0280db 0%, #0267b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0280db 0%, #0267b5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0280db 0%, #0267b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0280db', endColorstr='#0267b5', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tt_box_dt {
	height: 25px;
	line-height: 25px;
	font-size: 1.2em;
	text-transform: uppercase;
	border-bottom: 3px double #c0c1c2;
	margin-bottom: 15px;
	font-weight: 700
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin:auto;
	margin:15px 0;
	text-align: center
}
.pagination a {
	padding: 3px 5px;
	color: #444444;
	border-right: 1px solid #333333;
}
.pagination b, .pagination a:hover {
	text-decoration: none;
	color: #FFFFFF;
	padding: 3px 5px;
	border-right: 1px solid #f02c24;
	background: #ff6600;
}
.pagination a:last-child {
	border: none
}
/*List News*/
#list_news li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin: 10px 0;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	font-size: 1.1em;
	margin-bottom: 5px;
}
#list_news p {
	margin: 0 0 1em 0;
	text-align: justify
}
#list_news .img_general {
	border: 1px solid #CCCCCC;
	padding: 3px;
	width: 150px;
	display: block;
	height: auto;
	position: relative;
	overflow: hidden;
}
#list_news img {
	width: 100%;
	height: auto
}
#list_news img:hover {
	opacity: 1;
}
#list_news .img_general:hover img {
	opacity: 0.7;
}
#list_news .img_general:hover .info_icon:before {
	top: 46%
}
#list_news .view_more {
	float: right;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	margin-top: 15px;
	font-size: 100%;
	font-weight: 500;
	color: #FFFFFF;
	background: #ff7711;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#list_news .view_more:hover {
	background: #878888;
	color: #FFFFFF;
}
/*Detail News*/
.h1Title {
	line-height: 1.2;
	font-size: 1.8em;
	font-weight: 500;
	color: #0c0c0a;
	margin-bottom: 10px;
}
#info_g img {
	max-width: 100%;
	height: auto;
}
#info_g, #info_g p {
	line-height: 1.4
}
#info_g ul {
	margin-left: 20px
}
#info_g li {
	margin: 3px 0
}
.date {
	color: #403f40;
	font-size: 11px
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #CCCCCC -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	padding: 0
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -32px
}
a.opinion {
	background-position: 0 -73px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
	font-weight: 700;
	border-bottom: 3px double #CCCCCC
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arr_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 12px;
}
.other_news_sub .view_all {
	float: left;
	background: none !important;
	margin: 10px 0;
	text-align: right;
	text-decoration: underline;
	font-size: 95%;
	color: #f02c24;
}
.path {
	text-align: left;
	text-transform: none;
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #cacaca;
	color: #134f7f
}
.path a {
	color: #134f7f
}
/*Footer*/
footer {
	background: #433e43;
	padding: 15px;
	margin: 0 5px;
}
footer, footer a {
	color: #FFFFFF
}
footer p {
	margin: 0 0 3px 0
}
#info_footer {
	width: 40%;
	text-align: left
}
/*Register to get email*/
#get_email {
	width: 28%;
}
#get_email .inner {
	width: 90%;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ffffff;
	border: 1px solid #cacaca
}
#get_email div {
	font-weight: 700;
	font-size: 1.25em;
	margin-bottom: 5px;
}
#get_email input {
	float: left;
	color: #8F8F8F;
	float: left;
	padding: 5px 0;
	height: 20px;
	width: 78%;
	text-indent: 5px;
}
.send_button {
	background: #e5e5e5;
	border-left: 1px solid #cacaca;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 20%;
	color: #000000;
	font-weight: 700;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	text-transform: uppercase
}
.send_button:hover {
	text-decoration: none;
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 770px) and (max-width: 999px) {
#ads_head .ads_item {
float: left;
width: 33%;
display: inline-block
}
#ads_head .ads_item img {
width: 100%;
height: 90px
}
/*Top Page*/
#top_page {
padding-bottom: 50px
}
#search_form {
 position: absolute;
 right: 10px;
 top: 40px;
 height: 40px;
}
}
@media only screen and (min-width: 780px) and (max-width: 1000px) {
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
body {
 font-size: 100%;
 line-height: 1.5
}
.fullsize {
width: 100% !important
}
#main, .cate_item {
background: none
}
/*Top Link*/
#toplink ul, #ads_head {
display: none
}
#toplink .select_menu {
display: block
}
/*Header*/
#logo {
 background: none;
 -webkit-border-radius: none;
 -moz-border-radius: none;
 border-radius: none;
 -moz-box-shadow: none;
 -webkit-box-shadow: none;
 box-shadow: none;
 width: auto;
 height: 60px;
}
#logo img {
 max-height: 100%
}
#search_box {
 margin: 0 0.5em 0.5em 0.5em;
}
#search_box .inputSearch {
width: 92%
}
#text_logo img {
max-width: 98%
}
#hotline {
text-align: center
}
/*Slide Top News*/
.slide_topnews li {
height: 175px
}
.slide_topnews .top_news_title {
height: 72px
}
/*Footer*/
footer > div {
text-align: left;
margin-bottom: 15px
}
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
#topcontrol {
position: relative !important;
right: 0;
margin-top: 20px;
width: 100%;
height: 50px;
text-align: center;
}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 640px) {
/*List Equipments*/
#list_equipments li {
 width: 50%;
}
#list_equipments li:nth-child(2n+1) {
clear: both
}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.fullsize480 {
width: 100% !important
}
#search_box .inputSearch {
width: 85%
}
.box_Tab a {
font-size: 1em
}
/*List News*/
#list_news .img_general {
border: none;
margin: 0 0 10px 0
}
.like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
}
@media only screen and (min-width: 220px) and (max-width: 479px) {
body {
overflow-x: hidden
}
.modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}
