@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
	border: none
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.5 Arial, Helvetica, sans-serif;
	color:#222222;
	background: url(../Images/bg.gif) 0 0 repeat;
	min-width: 1000px;
}
a {
	text-decoration: none;
	color: #ab4400;
}
a:hover {
	text-decoration: none;
	color: #000000
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	max-width: 100%;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.fl {
	float: left !important
}
.fr {
	float: right !important
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin: 2px 0
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
.btn_web {
	display: block;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
	padding: 4px 10px;
	margin-bottom: 20px;
	color: #000000;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #CACACA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: 500;
	line-height: 24px;
}
.btn_web:hover {
	color: #ffffff;
	background: #cc3300;
	border-color: #cc3300
}
.padd {
	padding: 10px !important
}
/* WRAPPER --------*/
.container {
	margin: 0 auto;
	position: relative;
	-moz-box-shadow: 0px 0 46px #000000;
	-webkit-box-shadow: 0px 0 46px #000000;
	box-shadow: 0px 0 46px #000000;
}
/* LAYOUT

--------------------------*/
.inner_col {
	margin-right: 12px
}
.container:after, header:after, footer:after, #main:after, .box:after, .box_ct:after, .pagination:after, .list_news_home:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#main {
	background: #FFFFFF;
	padding: 10px;
}
/* HEADER*/
header {
	position: relative;
	z-index: 10;
	min-height: 217px;
	background: url(../Images/headerBg.jpg) center 0 no-repeat
}
#logo {
	padding-top: 46px;
}
#logo img {
	max-width: 100%;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	background: #fffbce;
	-moz-box-shadow: 0px 0px 2px #828282;
	-webkit-box-shadow: 0px 0px 2px #828282;
	box-shadow: 0px 0px 2px #828282;
}
/*Marquee*/
#top_main {
	background: #c8b3ad;
	height: 32px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	-moz-box-shadow: 0 0 2px #762206;
	-webkit-box-shadow: 0 0 2px #762206;
	box-shadow: 0 0 2px #762206;
}
#wellcome {
	color: #FFFFFF;
	font: normal 18px/32px "Palatino Linotype", "Book Antiqua", Palatino, serif
}
.marquee {
	width: 100%;
	overflow: hidden;
}
/*Search Form*/
.search_box { margin-top: 4px }
.search_box .inputSearch {
	background: #ffffff;
	border: 1px solid #a4a4a4;
	float: left;
	font-family: inherit;
	font: normal 12px Arial;
	padding: 4px 0;	
	text-indent: 5px;
	width: 150px;
	color: #666666;
}
.search_box .submitSearch {
	float: right;
	background: #b03401 url(../Images/searchBg.gif) 0 0 repeat-x;
	border: 1px solid #c04817;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
	cursor: pointer;
	padding: 0 10px;
	height: 22px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF; margin-left: 5px;
	margin-right: 5px;
}
/*Tab*/
.box_Tab {
	height: 28px;
	position: relative;
	background: url(../Images/tabBg.gif) 0 0 repeat-x;
	line-height: 28px;
	font-size: 1em;
	color: #000000;
	font-weight: 700;
	padding-left: 20px;
	text-transform: uppercase;
}
h1.box_Tab, h2.box_Tab {
	font-size: 1.1em;
}
.img_Tab {
	color: #000000;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	text-transform: uppercase;
	font-weight: 700
}
/*Ads*/
.ads img {
	max-width: 100%;
	margin-bottom: 8px
}
.ads a:last-child img {
	margin-bottom: 0
}
/*News Home*/
.hotnews .img_general {
	width: 140px;
	border: 1px solid #c9c9c9;
	padding: 3px;
	background: #FFFFFF
}
.news_ct {
	margin-left: 155px
}
.news_ct h2 a {
	font-size: 13px;
	color: #000000
}
.news_ct h2 a:hover {
	color: #cf0000
}
.news_ct p {
	margin: 0.5em 0
}
.list_news_home ul {
	padding: 10px 0
}
.list_news_home ul a {
	padding-left: 10px;
	background: url(../Images/arr_l.png) 0 4px no-repeat
}
.readmore {
	white-space: nowrap;
	padding-left: 12px;
	background: url(../Images/arr_l1.png) 0 5px no-repeat;
	color: #cf0000
}
/*List News*/
#list_news li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .news_ct {
	margin-left: 155px
}
#list_news h2 {
	font-size: 1em;
	margin-bottom: 5px;
}
#list_news p {
	margin: 0 0 1em 0;
	text-align: justify
}
#list_news .img_general {
	width: 140px;
	border: 1px solid #c9c9c9;
	padding: 3px;
	background: #FFFFFF;
	height: auto;
	position: relative;
	overflow: hidden;
}
#list_news img {
	width: 100%;
	height: auto
}
#list_news .view_more {
	height: 25px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	margin-top: 15px;
	font-size: 90%;
	font-weight: 500;
	color: #e50000;
}
#list_news .view_more:hover {
	background: #b80d1e;
	color: #FFFFFF;
}
/*Notify*/
#notify {
	background: url(../Images/thongbao.jpg) 0 0 no-repeat;
	min-height: 150px;
	padding: 70px 5px 5px 70px
}
#notify a {
	padding-left: 10px;
	background: url(../Images/sb-latest-headlines.png) 0 5px no-repeat;
	color: #444444
}
#notify a:hover {
	text-decoration: underline
}
/*Tab Home*/
#tabs-container {
}
.tab_home ul {
	width: 100%
}
.tab_home li {
	float: left;
	width: 50%;
	padding: 2% 0;
	color: #000000;
	background: #cdcdcc;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	text-align: center
}
.tab_home li:hover, .tab_home li.active {
	background: #ffba00;
	text-decoration: none
}
.tab_container {
	border: 1px solid #d2d2cf;
	width: auto;
}
.tab_content {
	padding: 5px;
	display: none;
}
#tab-1 {
	display: block;
}
/*Table music*/
.table_list_music {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.row_music {
	display: table-row;
}
.th_music, .td_music {
	display: table-cell;
	vertical-align: top;
	text-align: center
}
.row_music:nth-child(2n+1) {
background: #ffffff
}
.row_music:hover {
	background: #fffbce
}
.th_music {
	background: #f5f5f5;
	font-size: 1em;
	color: #ff4200;
	font-weight: 700;
	text-transform: uppercase;
	vertical-align: middle
}
.th_music.col_music1 {
	text-align: left;
	padding-left: 20px
}
.th_music, .td_music {
	padding: 6px 5px;
	width: 10%
}
.col_music1 {
	width: 70%;
	text-align: left
}
.td_music .author {
	display: block;
	margin-left: 30px;
	background: url(../Images/arr_l.png) 0 7px no-repeat;
	font-size: 0.9em;
	padding: 5px 0 2px 12px
}
.note_music {
	width: 100%;
	background: #FFFFFF;
	text-align: right;
	padding: 10px 0
}
.note_music img {
	margin-right: 5px;
	vertical-align: baseline
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin: 20px 0;
	text-align: center
}
.pagination a {
	display: inline-block;
	padding: 3px 9px;
	margin: 0 3px;
	color: #000000;
	font-size: 90%;
	background: #f9f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f8f8), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f8f8 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f8f8 0%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f8', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
	border: 1px solid #cecccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination b, .pagination a:hover {
	display: inline-block;
	text-decoration: none;
	color: #FFFFFF;
	padding: 3px 9px;
	margin: 0 3px;
	font-size: 90%;
	background: #cc3300;
	border-color: #cc3300;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*Detail News*/
#detail_news {
	margin-top: 10px;
}
.h1Title {
	font-size: 1.8em;
	font-weight: 500;
	color: #0c0c0a;
	margin-bottom: 10px;
}
.info_g {
	padding: 10px 0
}
.info_g img {
	max-width: 100%;
	height: auto;
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
#info_g table {
	width: 100% !important;
	border-collapse: collapse
}
#info_g table tr {
	background: #f5f5f5
}
#info_g table tr:nth-child(2n) {
background: #FFFFFF
}
#info_g tr td {
	vertical-align: top;
	padding: 5px 0
}
#info_g tr td p {
	margin: 0 0 3px 0
}
.date {
	color: #403f40;
	font-size: 11px
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #d2d2d1 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	padding: 0
}
.function .like_face a {
	float: none !important;
	display: inline-block
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -32px
}
a.opinion {
	background-position: 0 -73px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
	font-weight: 700;
	border-bottom: 1px solid #d2d2d1
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arr_cate_child.gif) no-repeat scroll 0 3px transparent;
	padding-left: 14px;
}
.other_news_sub .view_all {
	float: left;
	background: none !important;
	margin: 10px 0;
	text-align: right;
	text-decoration: underline;
	font-size: 95%;
	color: #f02c24;
}
.path {
	text-align: left;
	text-transform: none;
	margin: 5px 0 10px 0;
	font-size: 0.9em;
}
.path img {
	position: relative;
	top: -3px
}
/*Connect*/
#connect {
	position: relative;
	background: #af7c00;
	color: #FFFFFF;
	font-size: 1em
}
#connect_inner {
	padding: 8px 10px
}
#menu_foo {
	margin-top: 2px;
}
#menu_foo a {
	display: inline-block;
	border-left: 1px solid #FFFFFF;
	white-space: nowrap;
	color: #FFFFFF;
	padding: 0 6px;
	line-height: 15px;
}
#menu_foo a:first-child {
	border: none
}
#menu_foo a:hover {
	text-decoration: underline
}
/*Access Status*/
#access_static {
	padding: 10px 50px
}
#access_static span {
	display: block;
	margin: 4px 0;
	line-height: 22px;
	white-space: nowrap
}
#access_static .online {
	padding-left: 28px;
	background: url(../Images/online_icon.gif) 0 4px no-repeat
}
#access_static .visitors {
	padding-left: 28px;
	background: url(../Images/visitors.png) 0 3px no-repeat
}
#access_static b {
	color: #905d30;
	text-align: right
}
/*Footer*/
footer {
	clear: both;
	text-align: center;
	padding: 10px 0
}
footer p {
	margin: 0
}
#copyright {
	margin-top: 10px
}
/*Slide Ads*/
#slide_ads {
	z-index: 5;
	position: relative;
	padding: 10px 40px;
	margin: 0;
}
#slide_ads li {
	float: left;
	width: 160px;
	margin: 0 10px;
	overflow: hidden
}
#slide_ads .img_ads {
	display: table-cell;
	vertical-align: middle;
	width: 160px;
	height: 100px;
	overflow: hidden;
	text-align: center;
	position: relative
}
.img_ads img {
	max-width: 160px;
	max-height: 100px;
}
#slide_ads .slide_control {
	background: url(../Images/control_btn.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
#slide_ads .slide_control.prev {
	background-position: 0 -46px;
	left: 10px;
}
#slide_ads .slide_control.next {
	background-position: -30px -46px;
	right: 10px;
}
/*Gallery Images*/
.list_gallery {
	margin-left: -2%
}
.list_gallery li {
	float: left;
	width: 23%;
	margin-left: 2%;
	margin-bottom: 10px;
	position: relative
}
.list_gallery li a {
	display: table-cell;
	vertical-align: middle;
	width: 142px;
	height: 100px;
	text-align: center;
	border: 1px solid #e5ba1d
}
.list_gallery li img {
	max-width: 142px;
	max-height: 100px
}
.list_gallery .zoom-icon {
	background: none repeat scroll 0 0 rgba(140,93,51, 0.5);
	top: 0;
	cursor: pointer;
	display: block;
	opacity: 0;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.list_gallery li:hover .zoom-icon {
	opacity: 1;
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.list_gallery .zoom-icon:before {
	background: url(../Images/bt_zoom.png) no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
	content: "";
	display: block;
	height: 40px;
	left: 50%;
	margin: -20px 0 0 -20px;
	position: absolute;
	top: 50%;
	width: 40px;
}
#topcontrol {
	z-index: 50;	
	right: 50% !important;
	margin-right: -618px;
}
