/*Contact Us*/
#info_contact, #map {
	margin-bottom: 15px
}
#info_contact p {
	margin: 0.3em 0
}
#l_contact {
	width: 50%
}
#map {
	width: 48%;
}
.form_web .row_contact {
	width: 80%;
	margin-bottom: 5px;
	position: relative
}
#contactus .row_contact {
	float: left;
	width: 100%
}
.form_web .left_row {
	display: block;
	line-height: 30px;
}
.form_web .inputbox {
	width: 86%;
	background: #ffffff;
	padding: 7px 0;
	font: normal 100% Arial, Helvetica, sans-serif;
	text-indent: 20px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid #b6b7b6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.form_web textarea.inputbox {
	background: #ffffff;
	width: 80%;
	border: 1px solid #b6b7b6;
	height: 130px;
	padding: 7px 7px 7px 20px;
	text-indent: 0;
	font: normal 100% Arial, Helvetica, sans-serif;
}
.form_web .row_contact .inputbox:focus {
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: inline-block;
	width: 70px;
	margin-right: 10px;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	float:left;
}
.send_cmt:hover {
	text-decoration: none;
	color: #FFFFFF
}
.required {
	color: #F00;
}
