@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color:#4f5050;
	overflow-x: hidden;
	background: url(../Images/bg.gif) 0 0 repeat-x;
}
@font-face {
 font-family: 'Roboto Condensed';
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot');
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/robotocondensed-regular-webfont.woff') format('woff'), url('../Images/Fonts/robotocondensed-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'Open Sans Regular';
 src: url('../Images/Fonts/opensans-regular-webfont.eot');
 src: url('../Images/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/opensans-regular-webfont.woff') format('woff'), url('../Images/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #054d85;
}
a:hover {
	text-decoration: underline;
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ol, ul {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.link_title {
	color: #333433;
}
.inputbox {
	border: 1px solid #848484;
	height: 25px;
	line-height: 25px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.font1 {
	font-family: 'Roboto Condensed', Helvetica, sans-serif
}
.font2 {
	font-family: 'Open Sans Regular', Helvetica, sans-serif
}
.trans {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
.hidden {
	display: none !important
}
.show {
	display: block !important
}
.position {
	position: relative !important;
	left: 0 !important
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
/* WRAPPER --------*/
.wrap {
	margin: 0 auto 50px auto;
	position: relative;
	background: #FFFFFF;
}
.container {
	margin: 0 auto;
	z-index: 50
}
/* LAYOUT

--------------------------*/
#main #left_col {
	width: 22%;
}
#main #right_col {
	width: 76%;
}
#header:after, #footer:after, #main:after, .wrap:after, .container:after, .pagination:after, .box:after, .box_ct:after, .box_ct_other:after, #left_col:after, #right_col:after, .disclaimer:after, #categories_home:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
/* HEADER

--------------------------*/
#header {
	padding-top: 15px;
	height: 105px;
	z-index: 9999;
}
#logo {
	display: inline-block;
	margin-bottom: 10px
}
#toplink {
	margin-top: 15px
}
#toplink a {
	display: inline-block;
	color: #FFFFFF;
	font-size: 1.2em;
	padding-left: 15px
}
#toplink .select_menu {
	display: none;
	position: absolute;
	top: 5px;
	left: 5px;
	font: normal 100% Arial, Helvetica, sans-serif;
	color: #1946a1;
	cursor: pointer;
	height: 28px;
	padding: 3px;
	margin: 0 auto;
	outline: medium none;
	padding: 5px;
	width: 98%;
}
.subpage #toplink a {
	color: #333333
}
/*Hot News*/
#hotnews {
	position: relative;
	margin-top: -185px;
	width: 100%
}
#hotnews li {
	float: left;
	width: 25%
}
#hotnews .hotnews_item {
	background: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #cecece;
	min-height: 137px;
	height: auto;
	width: 94%;
	margin: 0 auto
}
.hotnews_item .inner {
	padding: 5px
}
.hotnews_item .inner .img_cate {
	display: block;
	width: 100%;
	height: 96px;
	margin-bottom: 5px;
	text-align: center
}
.hotnews_item .inner img {
	max-width: 100%;
	max-height: 100%;
}
.hotnews_item h2 {
	background: #fe7f20; /*url(../Images/bg_repeat.png) 0 -45px;*/
	padding: 0 5px 0.2em;
	font-size: 1em;
	height: 23px
}
.hotnews_item .tt_news {
	color: #FFFFFF;
	line-height: 23px
}
.hotnews_item .ct_news {
	display: none;
	padding: 3px;
}
.hotnews_item:hover .ct_news {
	display: block;
}
.hotnews_item .ct_news p {
	margin: 0.5em 0 0.7em
}
.hotnews_item .ct_news, .hotnews_item a {
	font-size: 0.9em
}
.hotnews_item .readmore {
	display: block;
	padding: 3px 3px 0.1em;
	font-weight: 700;
	color: #555555
}
.disclaimer {
	color: #005da3;
	font-size: 15px;
	font-weight: 500
}
/*Box*/
.box {
	float: left;
	width: 100%;
	margin: 0 0 15px 0;
	overflow: hidden;
	position: relative;
}
.box_ct {
	clear: both;
	padding: 10px;
	border: 1px solid #d9d9d9
}
#left_col .box_ct {
	background: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #cecece;
}
#left_col .box_ct_other {
	border: 1px solid #fe7f20;
	padding: 7px
}
/*Tab*/
.box_Tab {
	height: 30px;
	position: relative;
	top: 1px
}
.box_Tab span {
	float: left;
	position: relative;
	z-index: 5;
	border: 1px solid #d9d9d9;
	border-bottom: none;
	background: #FFFFFF;
	line-height: 30px;
	padding: 0 30px;
	color: #1c407b;
	font-weight: 700;
}
h2.box_Tab span {
	font-size: 0.8em
}
.box_Tab a {
	color: #FFFFFF;
}
#left_col .box_Tab {
	background: #fe7f20;
	font-size: 12px;
	font-weight: 700;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: center
}
/*Ads*/
.ads {
	text-align: center
}
.ads img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px
}
/*Categories Home*/
#categories_home {
	padding: 10px 0 20px
}
#categories_home .cate_item {
	float: left;
	width: 20%
}
.cate_item .cate_item_in {
	float: left;
	width: 94%;
}
.cate_item h4 {
	background: #fe7f20;
	padding: 5px 0;
	text-align: center;
	font-size: 1.1em;
}
.cate_item h4 a {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}
.cate_item ul {
	padding: 8px 16px;
}
.cate_item ul li {
	padding: 0.33em 0;
}
.cate_item li a {
	color: #4e4e4e;
	font-weight: 700;
}
/*Vertical menu*/
#menu_sidebar > ul > li > a:hover {
	color:#f7941e;
}
#menu_sidebar > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 7px 20px 7px 25px;
	font-size: 14px;
}
#menu_sidebar li a {
	border-bottom: 1px solid #CCCCCC
}
#menu_sidebar > ul > li:last-child > a {
	border: none
}
#menu_sidebar > ul > li {
	position:relative;
	background: url(../Images/bits.png) 5px -638px no-repeat;
}
#menu_sidebar > ul > li.active, #menu_sidebar > ul > li:hover {
	background-position: 5px -688px
}
#menu_sidebar > ul > li > ul {
	padding:0px;
	margin:0px;
}
#menu_sidebar > ul > li.active ul {
	display:block;
}
#menu_sidebar > ul > li > ul > li {
	padding-left: 10px;
	position: relative;
	background: #FFFFFF url(../Images/arr_right.gif) 12px 11px no-repeat;
}
#menu_sidebar > ul > li span:hover {
	cursor:pointer;
}
#menu_sidebar > ul > li.active > a {
	color:#C71126;
}
#menu_sidebar > ul > li.active a + ul {
	display: block;
}
#menu_sidebar > ul > li ul > li > a:hover {
	color:#C71126;
}
#menu_sidebar > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#424241;
	padding: 7px 20px 7px 15px;
	border-bottom: 1px solid #cccccc
}
#menu_sidebar > ul > li ul > li.active > a, #menu_sidebar > ul > li ul > li.active > a {
	font-weight:normal;
	color:#3b2c26;
}
#menu_sidebar > ul > li > span.close {
	background:url(../Images/nolines_minus.png) 0 -18px no-repeat;
	width:15px;
	height:15px;
	float:right;
	margin-top:2px;
	display:block;
}
#menu_sidebar > ul li li span.close {
	background:url(../Images/nolines_minus.png) 0 -18px no-repeat;
	width:15px;
	height:12px;
	float:right;
	margin-top:12px;
	display:block;
}
#menu_sidebar > ul li.active > span.close {
	background-position:0 0;
}
#menu_sidebar ul li span.close.collapsed {
	background-position:0 0;
}
#menu_sidebar ul li span.close.expanded {
	background-position:0 0;
}
#menu_sidebar > ul > li span.close:hover {
	cursor:pointer;
}
#menu_sidebar .close {
	position:absolute;
	top:7px;
	right:0px;
}
#menu_sidebar ul ul .close {
	position:absolute;
	top:0px;
	right:0px;
}
/*List Products*/
#list_products ul {
	margin-left: -15px
}
#list_products li {
	float:left;
	width: 25%;
	margin: 10px 0;
	position: relative;
}
.product_item {
	margin-left: 15px;
	position: relative;
	z-index: 50;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	padding: 10px 0;
}
#list_products li:nth-child(4n+1) .product_item {
clear: both
}
.product_item .img_product {
	display: block;
	height: 110px;
	overflow: hidden;
	text-align: center;
}
.product_item:hover .img_product {
	opacity: 0.8
}
.product_item img {
	max-width: 100%;
	max-height: 100%;
 -webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
}
.product_item .product_name {
	height: 34px;
	overflow: hidden;
	padding: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-top: solid 1px #fff;
	background: #4e5357;
	opacity: 0.8;
	z-index: 3;
	outline: solid 0px rgba(0, 0, 0, .0);
	text-align: center
}
.product_item .product_name a {
	font-size: 1em;
	color: #FFFFFF
}
.product_item .info_price {
	margin-top: 10px;
	font-weight: 700;
	text-align: center;
}
.info_price span {
	display: block;
	line-height: 20px
}
.info_price .price_NY {
	color: #111111;
	text-decoration: line-through;
}
.info_price .price_reduce {
	color: #981825
}
.product_item:hover {
	border: 1px solid rgba(34, 34, 34, 0.6)
}
.product_item:hover .product_name {
	background: #2e83c3; /* Old browsers */
	background: -moz-linear-gradient(top, #2e83c3 0%, #2d6ea6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e83c3), color-stop(100%, #2d6ea6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2e83c3 0%, #2d6ea6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2e83c3 0%, #2d6ea6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2e83c3 0%, #2d6ea6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2e83c3 0%, #2d6ea6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e83c3', endColorstr='#2d6ea6', GradientType=0 ); /* IE6-9 */
}
.product_item:hover .product_name a {
	color: #f0ee34;
	text-decoration: none
}
/*Detail Products*/
#dtp_info {
	width: 335px;
}
.h1Title {
	font-size: 1.6em;
	color: #e87403;
	margin-bottom: 5px;
}
.dtp_status {
	float: left;
	display: block;
	width: 100%;
	margin: 8px 0
}
.price_tag {
	background: url(../Images/pricetagBg.png) 0 0 no-repeat;
	color: #ffffff;
	float: left;
	font-weight: bold;
	height: 25px;
	padding: 2px 0 0 20px;
	width: 84px;
}
.price_dtp {
	color: #de082e;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4em;
	margin-left: 20px;
}
.title_dtp {
	color: #003468;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 3px;
	border-bottom: 1px solid #CCCCCC
}
.basic_info li {
	background: url(../Images/arr_right.gif) 0 6px no-repeat;
	color: #003468;
	display: inline;
	float: left;
	font-weight: normal;
	margin-top: 5px;
	padding-left: 10px;
	width: 47%;
}
.basic_info li span {
	color: #222222;
}
.info_owner {
	border: 2px solid #bfbfbf;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin-top: 10px;
	width: 100%;
	padding-bottom: 10px;
}
.title_owner {
	color: #ee6002;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	padding: 2px 5px;
}
.info_owner li {
	background: url(../Images/arr_right.gif) 3px 8px no-repeat;
	color: #003468;
	font-weight: normal;
	line-height: 20px;
	margin: 5px 5px 0;
	padding-left: 8px;
}
.info_owner li span {
	color: #222222;
	font-weight: 700;
}
.btn_contact {
	background: #ff6a21 url(../Images/bgr_button_or_arrow.png) right center no-repeat;
	color: #2d2d2d;
	cursor: pointer;
	display: block;
	height: 25px;
	overflow: hidden;
	text-decoration: none;
	margin-top: 10px;
	margin-right: 10px;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
.btn_contact i {
	float: left;
	margin: 1px;
	margin-right: 15px;
	height: 23px;
	text-align: center;
	background: #FFFFFF url(../Images/greyBg.gif) 0 10px repeat-x;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
.btn_contact input {
	background: none;
	border: none;
	line-height: 20px;
	cursor: pointer
}
/*List News*/
#list_news li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	font-size: 1.1em;
	margin-bottom: 5px;
}
#list_news p {
	margin: 0.5em 0;
	font-size: 100%
}
#list_news .img_general {
	float: right;
	margin-left: 20px;
	margin-right: 0;
	width: 230px;
	display: block;
	height: auto;
	background: #fff6ca;
	position: relative;
	overflow: hidden;
}
#list_news img {
	max-width: 100%;
	height: auto
}
#list_news img:hover {
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#list_news .info_icon {
	background: none repeat scroll 0 0 rgba(228, 157, 0, 0.4);
	bottom: 0;
	cursor: pointer;
	display: block;
	opacity: 0;
	position: absolute;
	right: 0;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(240, 159, 52, 0.8) inset;
	-moz-box-shadow: 0 0 0 0 rgba(240, 159, 52, 0.8) inset;
	-webkit-box-shadow: 0 0 0 0 rgba(240, 159, 52, 0.8) inset;
	height: 175%;
	left: -12.5%;
	position: absolute;
	top: -37.5%;
	transition: all 250ms linear 0s;
	width: 125%;
}
#list_news .info_icon:before {
	content: "";
	display: block;
	margin: -13px 0 0 -13px;
	position: absolute;
	top: 0;
	width: 50px;
	-webkit-transition:all 300ms linear !important;
	-moz-transition:all 300ms linear !important;
	-o-transition:all 300ms linear !important;
	transition:all 300ms linear !important;
	background: url(../Images/messagebox_info.png) no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
	height: 50px;
	left: 46%;
}
#list_news .info_icon:before {
	background: url(../Images/messagebox_info.png) no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
	height: 50px;
	left: 46%;
}
#list_news .img_general:hover .info_icon {
	opacity: 1;
	background:transparent;
	box-shadow:0 0 0 220px rgba(21, 77, 102, 0.4) inset;
	-moz-box-shadow: 0 0 0 220px rgba(21, 77, 102, 0.4) inset;
	-webkit-box-shadow: 0 0 0 220px rgba(21, 77, 102, 0.4) inset;
	-webkit-transition:all 300ms linear !important;
	-moz-transition:all 300ms linear !important;
	-o-transition:all 300ms linear !important;
	transition:all 300ms linear !important;
}
#list_news .img_general:hover .info_icon:before {
	top: 46%
}
#list_news .view_more {
	margin-top: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #305894;
	background: #ebeced;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
}
#list_news .view_more:hover {
	background: url(../Images/bg_repeat.png) 0 -74px repeat-x;
	border: none;
	text-decoration: none;
	color: #FFFFFF
}
/*Pagination*/
.pagination {
	float: left;
	text-align: right;
	width: 100%;
	line-height: 30px;
	font-size: 0.9em;
	margin: 10px 0
}
.pagination a {
	padding: 0 8px;
	border-left: 1px solid #10446e
}
.pagination b, .pagination a:hover {
	color: #ff9700;
	padding: 0 8px;
	text-decoration: none;
}
.pagination a:first-child {
	border: none
}
/*Detail News*/
.info_g img {
	max-width: 100%;
	height: auto;
}
.info_g, .info_g p {
	line-height: 1.4
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
.date {
	color: #a6a6a6;
	font-size: 12px;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #d9d9d9 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -16px;
}
a.opinion {
	background-position: 0 -43px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	margin: 10px 0;
	position: relative;
	font-weight: 700;
	font-size: 1.2em;
}
.other_news_sub ul {
	margin-top: 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_on.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub .view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #FF0C00;
}
/*Current Path*/
.path {
	margin-bottom: 10px;
}
.path a, .path {
	font-size: 11px;
}
.path .spSeperator {
	background: url(../Images/arrow_on.png) 10px 3px no-repeat;
	height: 10px;
	padding: 0 10px;
	width: 8px;
	display: inline-block;
}
/*support*/
#beforefooter-support .wraper {
	height:45px;
	line-height: 45px;
	float:left;
	margin:0 auto;
	background: url(../Images/bkg_stat.png) 0 0 repeat-x;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#beforefooter-support {
	bottom: 0;
	position: fixed;
	z-index: 99999;
}
#beforefooter-support .phone {
	float: left;
	color: #FFFFFE;
	display: inline-block;
	font-size: 27px;
	margin: 0 0 0 33%;
	background: url(../Images/hotline_icon.png) 0 2px no-repeat;
	padding-left: 120px;
}
#beforefooter-support .phone span {
	padding: 0 10px;
}
.float-ck {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	width: 300px;
	overflow: hidden;
}
* html .float-ck {
	position:absolute;
	bottom:auto;
top:expression(eval (document.documentElement.scrollTop+document.docum entElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}
#float_content_left {
	display: none;
	font-weight: bold;
	line-height: 20px;
	min-height: 80px;
	padding: 50px 10px 10px 130px;
	font: normal 12px Arial, Helvetica, sans-serif;
	z-index: 999;
	background: url(../Images/chatBg.png) bottom left no-repeat;
}
#float_content_left a {
	color: #2d2d2c
}
#hide_float_left {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	height:45px;
	overflow: hidden;
}
#hide_float_left a {
	display: block;
	background: url(../Images/support_icon.png) 0 8px no-repeat;
}
#hide_float_left span {
	display: inline-block;
	height: 45x;
	line-height: 20px;
	margin-top: 15px;
	background-image: url(../Images/arrow_updown.png);
	background-repeat: no-repeat;
	margin-left: 35px;
	padding-right: 25px;
}
#hide_float_left span.arr_up {
	background-position: right 0;
	color: #FFFFFF;
}
#hide_float_left span.arr_down {
	background-position: right -20px;
	color: #1c171b;
}
.yahoo {
	margin-bottom: 10px;
	text-align: center
}
.yahoo a {
	float: left;
	margin: 5px 0
}
.yahoo img {
	margin-right: 5px
}
/*Form Register*/
#form_register {
	width: 960px;
	text-align: justify;
	position: relative
}
#form_register .form_col {
	width: 48%
}
#form_register .form_col:last_child {
float: right
}
#form_register .title_form {
	float: left;
	font-size: 18px;
	font-weight: 500;
	color: #222222;
	padding-bottom: 10px;
	background: #000cff;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #FFFFFF
}
#form_register .tt_form_vip {
	background: #ff0000
}
#form_register .tt_fr {
	clear: both;
	font-size: 16px;
	text-transform: uppercase;
	height: 40px;
	line-height: 40px
}
#form_register .row_contact {
	float: left;
	width: 100%;
	margin-bottom: 8px
}
#form_register .left_row_contact {
	float: left;
	width: 20%;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #33669a
}
#form_register .inputbox, .form_web .inputbox {
	border-left: 1px solid #bbbaba;
	border-top: 1px solid #bbbaba;
	width: 338px;
	text-indent: 5px;
	height: 25px;
	line-height: 25px;
}
#form_register select {
	width: 239px;
	height: 25px;
	line-height: 25px;
}
.styled-select {
	border: 1px solid #cdcccc;
	border-radius: 4px;
	box-shadow: 0 0 5px 1px #eaeaea inset;
	height: 36px;
	margin-bottom: 3px;
	overflow: hidden;
	width: 100%;
}
/*Main Footer*/
#footer {
	background: #fe7f20; /*url(../Images/footerBg.gif) 0 0 repeat-x;*/
	font-size: 1em;
	color: #FFFFFF;
}
#facebook_area {
	width: 100%;
	margin-top: 15px;
	height: 55px
}
#logo_footer {
	position: absolute;
	top: 20px;
	right: 0;
	display: block;
	height: 80px;
	text-decoration: none;
	text-indent: -999em;
	width: 150px;
	background: url(../Images/logo_footer.jpg) 0 0 no-repeat
}
#menu_footer {
	margin-top: 10px;
}
#menu_footer a {
	border-left: 1px solid #FFFFFF;
	padding: 0 5px 0 4px;
	color: #FFFFFF
}
#menu_footer a:first-child {
	border: none;
	padding-left: 0
}
#printing {
	margin: 0 auto;
	width: 1150px;
}
form_regis {
	padding: 10px 50px;
}
.form_regis h2 {
	font-size: 2em;
	margin: 40px 0;
	text-align: center;
	color: #e87403;
	text-transform: uppercase
}
.form_col {
	margin-left: 2%;
	width: 42%;
}
.form_col .inputbox, .form_col select {
	font: 12px Arial, Helvetica, sans-serif;
}
.tt_form {
	border-bottom: 1px solid #CDCCCC;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 15px;
	padding: 16px 0 8px;
	text-align: center;
	width: 100%;
}
.row_regis {
	float: left;
	margin-bottom: 12px;
	width: 100%;
}
.row_regis label {
	color: #33669A;
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 8px;
}
.row_regis .inputbox {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #2d72ab;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	height: 32px;
	line-height: 32px;
	text-indent: 5px;
	width: 99.5%;
}
.row_regis .styled-select {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #2d72ab;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	height: 32px;
	margin-bottom: 3px;
	overflow: hidden;
	width: 100%;
	position: relative
}
.row_regis .sl_form_regis {
	color: #2D2D2D;
	height: 32px;
	margin: 0 0 1.2em;
	padding: 0.75em 0.8em 0.6em 0.6em;
	text-indent: 0.01px;
	text-overflow: "";
	width: 100%;
	box-shadow: 0 0 5px 1px #eaeaea inset;
}
.checkbox-image {
	background: url("sprite-forms.png") no-repeat scroll 0 -72px rgba(0, 0, 0, 0);
	cursor: pointer;
	float: left;
	height: 20px;
	margin: 0 10px 24px 0;
	width: 21px;
}
.btn_send {
	display: block;
	background: linear-gradient(to bottom, #0289C5 0%, #00407F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	border-radius: 5px;
	color: #FFFFFF;
	cursor: pointer;
	font: bold 14px/36px Arial, Helvetica, sans-serif;
	height: 36px;
	margin: 22px auto 30px;
	text-transform: uppercase;
	width: 100%;
	text-align: center
}
.btn_send:hover {
	text-decoration: none;
}
/*Price table*/
.price_row {
	float: left;
	width: 100%;
	padding: 10px 0;
	border-bottom: 2px solid #6c6c6c
}
.item_car {
	width: 24%;
	text-align: center;
	margin-bottom: 10px
}
.item_car img {
	max-width: 100%
}
.item_car h3 {
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f5f5 0%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f5f5 0%, #fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f5f5 0%, #fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f5f5 0%, #fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#fefefe', GradientType=0 ); /* IE6-9 */
	border: 2px solid #cecece;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
	text-transform: uppercase;
	margin: 0 auto
}
.item_car h3 a {
	color: #000000;
	display: block;
	text-align: center;
	font-size: 1.1em;
}
.item_car:hover h3 {
	background: #237cb5; /* Old browsers */
	background: -moz-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #237cb5), color-stop(100%, #1b6291)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #237cb5 0%, #1b6291 100%); /* IE10+ */
	background: linear-gradient(to bottom, #237cb5 0%, #1b6291 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#237cb5', endColorstr='#1b6291', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.item_car:hover h3 a {
	background: none;
	color: #FFFFFF;
	text-decoration: none
}
.item_price {
	float: left;
	width: 100%;
	margin-bottom: 5px
}
.right_row_price {
	width: 74%
}
.type_car, .price_info {
	width: 48%;
}
.type_car div {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	padding: 8px 10px 8px 20px;
	font-weight: 700;
	background: #efefef url(../Images/arr_right.gif) 8px 13px no-repeat
}
.price_item {
	padding: 9px 0;
	border-bottom: 1px dotted #CCCCCC
}
.price_item span {
	color: #981825;
	font-weight:bold;
}
/*Box Other*/
.logo_bank_item {
	float: left;
	width: 45%;
	text-align: center;
	height: 70px;
	margin-bottom: 5px;
	border: 1px solid #dad9d7
}
.logo_bank_item:nth-child(2n+2) {
float: right
}
.logo_bank_item img {
	max-width: 100%;
	max-height: 100%
}
#info_saleoff {
	width: 28%;
	background: #F3F3F3;
}
#info_saleoff .box_ct {
	border: none
}
#info_saleoff img {
	max-width: 100%
}
/*Rating*/
.table_foreign table {
	border: none;
	font-size: 0.9em;
	width: 100%
}
.table_foreign table td {
	border: 1px solid #b1b0b0 !important;
	border-collapse: collapse
}
.table_foreign table th {
	border: 1px solid #b1b0b0 !important;
	font-weight: 700;
	color: #FF0000;
	text-align: center;
	padding: 5px 4px
}
.table_foreign table td {
	text-align: right;
	padding: 4px
}
 .table_foreign table tr:nth-child(2n) {
background: #ececec
}
 .table_foreign table tr:nth-child(2n + 1) {
background: #FFFFFF
}
.table_foreign p {
	margin: 5px 0;
	font-weight: 700;
	text-align: center
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 770px) and (max-width: 999px) {
 #main #left_col {
width: 30%
}
 #main #right_col {
width: 68%
}
}
@media only screen and (min-width: 640px) and (max-width: 999px) {
/*List Products*/
#list_products li {
width: 33.3%
}
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
body {
 font-size: 100%;
 line-height: 1.5
}
.fullsize {
width: 100% !important
}
/*Top Link*/
#toplink div {
display: none
}
#toplink .select_menu {
display: block
}
/*Header*/
#header {
background: #f2f3f3;
width: 102%;
margin-left: -1%
}
#logo {
 padding-top: 40px;
 padding-left: 10px;
 height: 60px;
}
#logo img {
 max-height: 100%
}
#hotnews {
margin-top: 15px
}
#hotnews li {
width: 50%;
margin-bottom: 15px
}
#hotnews li:nth-child(2n) .hotnews_item {
float: right
}
.hotnews_item .ct_news {
display: block
}
.hotnews_item .ct_news p {
height: 110px
}
/*Cate Item*/
.cate_item .cate_item_in {
width: 100%
}
.cate_item h4 {
text-align: left;
padding-left: 15px;
font-size: 1.2em;
font-weight: 500
}
/*List Products*/
.product_item .product_name {
height: 45px
}
.product_item .product_name a {
font-size: 0.95em
}
/*Box Other*/
.logo_bank_item {
 width: 31.5%;
 margin-right: 2%
}
.logo_bank_item:nth-child(3n) {
 margin-right: 0
}
.logo_bank_item:nth-child(2n+2) {
 float: left
}
/*Detail News*/
.info_g table {
width: 100% !important
}
.info_g td {
width: 50% !important
}
.info_g table img {
 max-width: 100% !important;
 height: auto;
}
/*Form Regis*/
.form_col {
margin-left: 0
}
/*Footer*/
#menu_footer {
 text-align: center
}
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
#topcontrol {
position: relative !important;
right: 0;
margin-top: 20px;
width: 100%;
height: 50px;
text-align: center;
}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 640px) {
.hotnews_item .ct_news p {
 height: 150px;
}
/*List Products*/
#list_products li {
width: 50%
}
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.fullsize480 {
width: 100% !important
}
.hotnews_item .ct_news p {
height: auto
}
/*List Products*/
.product_item {
border: 1px solid rgba(34, 34, 34, 0.6)
}
.product_item .product_name {
height: auto
}
/*List News*/
#list_news .img_general {
border: none;
margin: 0 0 10px 0
}
.like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
.info_g table, .info_g td {
width: 100%
}
.info_g table img {
 max-width: 100% !important;
 height: auto;
}
/*Price Table*/
.item_price {
margin-bottom: 10px
}
#beforefooter-support .phone { background: none; padding-left: 0; margin: 0; width: 100%; text-align: center}
}
@media only screen and (min-width: 220px) and (max-width: 479px) {
body {
overflow-x: hidden
}
.modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}
