@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	background: url(../Images/bg.jpg) center 0 repeat;
	color: #333333;
}
@font-face {
 font-family: 'Roboto Condensed';
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot');
 src: url('../Images/Fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/robotocondensed-regular-webfont.woff') format('woff'), url('../Images/Fonts/robotocondensed-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #3281cc;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
a:hover {
	text-decoration: none;
	color: #205dff
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.link_title {
	color: #0162da;
}
.inputbox {
	border: 1px solid #848484;
	height: 25px;
	line-height: 25px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.font1 {
	font-family: 'Roboto Condensed', Helvetica, sans-serif
}
.font2 {
	font-family: 'Asap', sans-serif
}
.hidden {
	display: none
}
.trans {
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
.mgin10 {
	margin-bottom: 10px !important
}
/* WRAPPER --------*/

.wrap {
	width:1000px;
	margin: 0 auto;
	background: #FFFFFF;
	position: relative
}
.wrap:after, #header:after, #main:after, #footer:after, .box_ct:after, .product_row:after, .product:after, #intro:after, .pagination:after, .row_home:after, .path:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.row_home {
	border-bottom: 1px solid #d6d6d6;
	padding: 30px 40px;
}
.row_h1 {
	padding: 30px 0 !important;
}
/* LAYOUT

--------------------------*/
#left_col {
	width: 25%;
}
#right_col {
	width: 69%;
}
/* HEADER

--------------------------*/
#header {
	position: relative;
	border-bottom: 2px solid #3a86ce;
	padding: 10px
}
#logo {
	float: left;
	width: 250px;
	text-align: center
}
#logo img, .text_logo img {
	max-width: 100%;
}
.text_logo {
	margin-top: 40px
}
/* SEARCH TOP MAIN */
#search_form {
	position: absolute;
	top: 5px;
	right: 10px;
	height: 25px;
	background: #FFFFFF;
	border: 1px solid #834d00;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}
#search_form .inputSearch {
	background: none;
	border: none;
	color: #7B7B7B;
	float: left;
	font-family: Arial;
	height: 23px;
	line-height: 23px;
	width: 180px;
	padding-left: 5px;
	padding-right: 35px;
}
#search_form .submitSearch {
	float: right;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 11px;
	height: 11px;
	margin-left: 5px;
	background: url(../Images/search_icon.gif) 0 0 no-repeat;
	border: none;
	cursor: pointer;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
}
.box_ct {
	padding: 10px 0;
}
/*Tab*/
.box_Tab {
	height: 32px;
	border-bottom: 1px solid #c1d9f0;
	position: relative;
	margin-bottom: 10px
}
.box_Tab span {
	color: #007eff;
	font: normal 18px/32px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.view_all {
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 13px;
	color: #ff0404
}
#left_col .box_Tab {
	border: none;
	background: #3281cc;
	text-align: center
}
#left_col .box_Tab span {
	font: normal 18px/35px 'Roboto Condensed', Helvetica, sans-serif;
	color: #FFFFFF
}
/*Intro*/
#intro {
	margin-bottom: 30px;
	font-size: 18px;
	line-height: 30px;
	color: #1d70bf;
	text-align: center;
}
#intro p {
	margin: 3px 0;
	line-height: 1.4
}
/*Services*/
#services li {
	float: left;
	width: 230px;
	margin-left: 16px;
	position: relative;
}
#services .icon_corner {
	z-index: 5;
	position: absolute;
	top: -4px;
	right: -4px;
	background: url(../Images/top_cornerBg.png) 0 0 no-repeat;
	width: 94px;
	height: 94px;
	display: block
}
#services .service_item {
	background: #3381cc;
}
#services .service_item a {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	padding: 1px;
	position: relative;
	text-align: center;
	color: #FFFFFF
}
#services .service_item:hover {
	background: #31b6e5
}
#services .service_item:hover img {
	max-width: 100%;
	max-height: 110%
}
#services .img_cate {
	width: 100%;
	height: 215px;
	background: #FFFFFF;
	overflow: hidden;
	display: block;
	text-align: center;
}
#services .img_cate img {
	max-width: 100%;
	max-height: 100%
}
#services .cate_name {
	margin: 5px;
	height: 50px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}
/*News Home*/
#news_home {
	width: 75%
}
#news_home li {
	float: left;
	width: 30%;
	margin-right: 34px;
	text-align: justify
}
#news_home li:last-child {
	margin-right: 0
}
#news_home h4 a {
	font-size: 12px;
	color: #222222
}
#news_home h4 a:hover {
	text-decoration: underline
}
#news_home p {
	margin: 0.5em 0
}
/*Box Support*/
#box_support li {
	margin: 10px
}
#box_support b {
	margin-right: 10px
}
#box_support .number_phone {
	display: block;
	color: #a31a1a;
	font-size: 1.3em;
	font-weight: 700;
	margin-top: 8px;
	margin-left: 30%
}
/*Link web*/
#link_web select {
	display: block;
	width: 100%;
	height: 25px;
	padding: 3px
}
/*Ads*/
#ads_right_home {
	width: 22%
}
.ads img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px
}
/*List Products*/
#transport {
	width: 25%;
	margin-right: 50px
}
#popular_P {
	width: 69%
}
.product_row li {
	float:left;
	width:25%;
	margin: 5px 0;
	position: relative;
}
.product {
	margin: 0 8px;
	padding: 8px 0;
	position: relative;
	z-index: 50;
	box-sizing: border-box;
}
.product .img_product {
	display: block;
	height: 120px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #c7c7c7;
}
.product_row li:hover .img_product {
	border: 1px solid #3281cc;
	opacity: 0.8
}
.product img {
	max-width: 100%;
	max-height: 100%
}
.product .product_name {
	max-height: 50px;
	overflow: hidden;
	margin-top: 10px;
}
.product .price {
	font-weight: 700;
	padding: 3px 0 5px 0;
	font-size: 1.1em;
	color: #4d4e4e
}
.product .product_name a {
	font-size: 1.1em;
}
.product .view_more {
	color: #ff0404
}
.product_row li span {
	height: 0;
	left: 0;
	position: absolute;
	transition: all 0.4s ease 0s;
	width: 100%;
	box-sizing: border-box;
	bottom: 0;
}
.product_row li:hover span {
	height: 100%;
	background: #3281cc
}
.product_row li:hover .product_name a, .product_row li:hover .price, .product_row li:hover .view_more {
	color: #FFFFFF
}
/*Vertical menu*/
#topnav > ul {
	display: block;
	z-index: 999999;
}
#topnav ul ul {
	background: #FFFFFF;
	padding-bottom: 3px
}
#topnav li {
	position: relative;
}
#topnav li li:last-child {
	margin-bottom: 3px;
}
#topnav li a {
	display: block;
	padding: 7px 0 7px 20px;
	font-size: 1em;
	font-weight: 700;
}
#topnav > ul > li > a {
	font-size: 100%;
	border-bottom: 1px solid #DDDDDD;
	padding-left: 25px;
	color: #444444;
	background: url(../Images/arr_l.png) 10px 11px no-repeat
}
#topnav > ul > li:last-child > a {
	border: none
}
#topnav > ul > li.active > a, #topnav > ul > li > a:hover {
	background: url(../Images/arr_l.png) 10px 11px no-repeat;
	color: #ec3135;
	text-decoration: none
}
#topnav ul ul a {
	outline:0;
	text-transform: none;
	padding-left: 30px;
	color: #000000;
}
/*Pagination*/
.pagination {
	clear: both;
	font-weight: 700;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
.pagination a {
	display: inline-block;
	border: 1px solid #fbeadc;
	margin: 0 2px;
	padding: 4px 8px;
	color: #6e0000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination b, .pagination a:hover {
	display: inline-block;
	background: #ec3135;
	border: 1px solid #fbeadc;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*News*/
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	margin-bottom: 10px;
	padding: 10px 0;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding: 0 0 3px 0;
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase
}
#list_news h3 a {
	color: #322f20
}
#list_news h3 a:hover {
	text-decoration: underline
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news img {
	border: 10px solid #f6f6f6;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 200px;
	height: auto;
	background: #FFFFFF;
	transition: All 0.4s ease-out;
	-webkit-transition: All 0.4s ease-out;
	-moz-transition: All 0.4s ease-out;
	-o-transition: All 0.4s ease-out;
}
#list_news img:hover {
	opacity: 0.6
}
#list_news .view_more {
	font-weight: 700;
	float: right;
	position: absolute;
	bottom: -8px;
	right: 0;
	background: #3281cc;
	color: #FFFFFF;
	padding: 5px;
	font-size: 0.9em;
}
#info_g, #info_g p {
	line-height: 160%;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 4px 0;
}
.other_news_sub li a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
.h2Title {
	font-size: 24px;
	color: #444444;
	font-weight: 500
}
/*Detail Products*/
#dtp_info {
	float: right;
	width: 45%;
}
.img_dtp {
	width: 50%;
	text-align: center
}
.img_dtp a {
	display: table-cell;
	vertical-align: middle
}
.img_dtp img {
	max-width: 300px;
	max-height: 300px
}
.dtp_status {
	clear: both;
	display: block;
	width: 100%;
	margin: 8px 0
}
.description_dtp {
	border-top: 1px solid #f9f6ec;
	padding:15px 5px 10px 5px;
	line-height: 20px;
	color: #747272;
}
.title_status {
	font-weight: 700;
	color: #191919;
	padding-right: 10px
}
.dtp_price {
	color: #ec3135;
	font-size: 16px
}
.btn_contact_dtp {
	display: block;
	width: 60%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
	background: #3396f3; /* Old browsers */
	background: -moz-linear-gradient(top, #3396f3 0%, #3281cc 90%, #1460a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3396f3), color-stop(90%, #3281cc), color-stop(100%, #1460a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3396f3 0%, #3281cc 90%, #1460a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3396f3 0%, #3281cc 90%, #1460a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3396f3 0%, #3281cc 90%, #1460a8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3396f3 0%, #3281cc 90%, #1460a8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3396f3', endColorstr='#1460a8', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
	text-transform: uppercase
}
.btn_contact_dtp:hover {
	color: #FFFFFF
}
/*Current Path*/
.path {
	padding: 8px 0;
	text-align: left;
}
.path, .path a {
	color: #555555;
	font-size: 100%;
	height: 20px;
	line-height: 20px;
}
.path a:hover {
	text-decoration: underline
}
/*Footer*/
#footer {
	padding: 20px
}
#footer p {
	margin: 0 0 3px 0
}
#info_footer {
	width: 60%
}
/*Social Network*/
#social_network span {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 3px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 10px 0
}
.icon_twitter {
	background-position: -40px 0
}
.icon_rss {
	background-position: -85px 0
}
.icon_gplus {
	background-position: -130px 0
}
#copyright {
	clear: right;
	margin-top: 10px;
	text-align: right;
}
