/*Main Menu*/
#cssmenu {
	clear: right;
	padding-top: 10px;
	background: url(../Images/menuBg.gif) top right no-repeat;
}
#cssmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#cssmenu:after, #cssmenu ul:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#cssmenu ul, #cssmenu li, #cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}
#cssmenu > ul {
	float: right;
	display: block;
	z-index: 500;
}
#cssmenu > ul > li {
	float: left;
	display:inline-block;
	background: url(../Images/space_menu.png) 0 center no-repeat
}
#cssmenu > ul > li.home {
	padding-left: 0;
	background: none
}
#cssmenu ul li a {
	display: block;
	text-decoration: none;
}
#cssmenu > ul > li > a {
	white-space: nowrap;
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	padding: 0 18px 0 20px;
	line-height: 30px;
	color: #FFFFFF;
	text-transform: uppercase;
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
}
#cssmenu > ul > li.home img {
	margin-top: 5px
}
#cssmenu > ul > li:not(.home):hover > a {
 background: #045fa6;
 color: #ffff00
}
#cssmenu > ul > li.active > a {
	color: #ffff00
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 30px;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background:#045fa6;
}
#cssmenu ul ul ul {
	top: 30px;
}
#cssmenu ul ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 180px
}
#cssmenu > ul > li:hover > ul {
	left: auto;
	top: 30px;
	opacity: 1;
}
#cssmenu ul ul li:hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
	background:#035696;
}
#cssmenu ul ul li a {
	border-bottom: 1px solid #3798e4;
	filter: none;
	font-size: 100%;
	display: block;
	line-height: 100%;
	padding: 10px;
	color: #FFFFFF;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
#cssmenu ul ul li:last-child a {
	border: none
}
#cssmenu ul ul ul li a {
	border-color: #148eec
}
#cssmenu ul ul li:hover > a {
	color: #ffff00;
}
#cssmenu li.has-sub::after {
 display: block;
 content: '';
 position: absolute;
 width: 0;
 height: 0;
}
#cssmenu > ul > li.has-sub::after {
 right: 4px;
 top: 13px;
 border: 4px solid transparent;
 border-top-color: #FFFFFF;
}
#cssmenu > ul > li:hover::after {
 border-top-color: #AAA;
}
#cssmenu ul ul li.has-sub::after {
 border: 4px solid transparent;
 border-left-color: #500202;
 right: 10px;
 top: 12px;
 -moz-transition: all .2s ease;
 -ms-transition: all .2s ease;
 -o-transition: all .2s ease;
 transition: all .2s ease;
 -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu ul ul li.has-sub:hover::after {
 border-left-color: #fff;
 right: -5px;
 -webkit-transform: rotateY(180deg);
 -ms-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
 -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
}
