/* Navigation */
#tabs {
	float: left;
	width: 560px
}
.nav {
	height: 35px;
}
.nav ul {
	float: left;
	overflow: hidden;
	width: 100%;
	background: #dadada
}
.nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
}
/*Tab Detail Content*/
#tabs_detail p {
	margin: 0 0 10px 0;
	line-height: 180%;
}
.nav ul#tabs_detail li {
	float: left;
	height: 30px;
	margin: 3px 5px 2px 5px;
	text-align: center;
	background: none;
}
.nav ul#tabs_detail li a {
	display: block;
	color: #222222;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	padding: 0 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.nav ul#tabs_detail li a:hover, .nav ul#tabs_detail li a:focus, .nav ul#tabs_detail li a.current {
	color: #ff0000;
	background: #FFFFFF;
	text-decoration: none;
}
#tabs_detail_content .section {
	background: #FFFFFF;
	padding: 15px 10px;
	border: 1px solid #dadada;
}
#tabs_detail_content .section p, #tabs_detail_content .section {
	line-height: 170%;
}
#tabs_detail_content p img {
	max-width: 100%
}
