/* Drop menu by http://namkna.blogspot.com/ */
/* ddsmoothmenu */
.ddsmoothmenu {
	background: url(../Images/bg_repeat.png) repeat-x scroll 0 0 transparent;
	height: 50px;
	line-height: normal;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.ddsmoothmenu ul {
	z-index:100;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	width: 1000px;
}
/*Top level list items*/
.ddsmoothmenu > ul > li {
	float: left;
	position: relative;
}
.ddsmoothmenu > ul > li {
	height: 50px;
	padding-left: 2px;
	background: url(../Images/space_menu.gif) 0 0 repeat-y;
}
.ddsmoothmenu > ul > li:first-child { background: none }
/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display: block;
	line-height: 50px;
	margin: 0;
	padding: 0 20px;
	text-decoration: none;
	font-size: 100%;
	font-weight: 700;
	color: #040404;
}
.ddsmoothmenu ul li.active a, .ddsmoothmenu ul li a:hover {
	color: #ff0000;
}
* html .ddsmoothmenu ul li a { /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
/*1st sub level menu*/
.ddsmoothmenu ul ul {
	position: absolute;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #f1f1f1;
	width: 200px;
	padding: 0 10px;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu li li {
	display: list-item;
	float: left;
	position: relative;
	height: 35px;
	padding: 0;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul ul ul {
	top: 0;
}
/* Sub level menu links style */
.ddsmoothmenu ul ul li a {
	font-size: 100%;
	font-weight: 500;
	width: 220px; /*width of sub menus*/
	padding: 0;
	margin: 0;
	border-top-width: 0;
	line-height: 33px;
	background: none;
	text-transform: none;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #bcbcbc;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.ddsmoothmenu ul ul li a:hover {
	background: #ebebeb;
	font-weight: 700;
}
.ddsmoothmenu ul ul li:first-child a {
	border-top: none;
	line-height: 34px
}
.ddsmoothmenu ul ul li:last-child a {
	border-bottom: none
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu {
	height: 1%;
} /*Holly Hack for IE7 and below*/
/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass {
	position: absolute;
	top: 18px;
	right: 8px;
}
.rightarrowclass {
	position: absolute;
	top: 6px;
	right: 5px;
}
/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: none;
}
.toplevelshadow { /*shadow opacity. Doesn't work in IE*/
	opacity: 0.8;
}
/* ddsmoothmenu-v */
.ddsmoothmenu-v ul {
	margin: 0;
	padding: 0;
	width: 160px; /* Main Menu Item widths */
	list-style-type: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #ccc;
}
.ddsmoothmenu-v ul li {
	position: relative;
}
/* Top level menu links style */
.ddsmoothmenu-v ul li a {
	display: block;
	overflow: auto; /*force hasLayout in IE7 */
	color: white;
	text-decoration: none;
	padding: 6px;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #f45b82;
}
.ddsmoothmenu-v ul li a:link, .ddsmoothmenu-v ul li a:visited, .ddsmoothmenu-v ul li a:active {
	background: #414141; /*background of menu items (default state)*/
	color: white;
}
.ddsmoothmenu-v ul li a.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: black;
	color: white;
}
.ddsmoothmenu-v ul li a:hover {
	color: white;
}
/*Sub level menu items */
.ddsmoothmenu-v ul li ul {
	position: absolute;
	width: 160px; /*Sub Menu Items width */
	top: 0;
	font-weight: normal;
	visibility: hidden;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu-v ul li {
	float: left;
	height: 1%;
}
* html .ddsmoothmenu-v ul li a {
	height: 1%;
}
/* End */
