@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 13px Arial, Helvetica, sans-serif;
	background: #d1d0c6 url(../Images/bg.jpg) 0 0 repeat-x;
	color: #333333;
}
a {
	text-decoration: none;
	color: #104801;
}
a:hover {
	text-decoration: underline;
}
* html .cf {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 13px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.h2Title {
	font: bold 13px Arial, Helvetica, sans-serif;
}
.link_title {
	color: #0162da;
}
.inputbox {
	border: 1px solid #848484;
	height: 25px;
	line-height: 25px;
}
.fl {
	float: left
}
.fr {
	float: right
}
/* WRAPPER --------*/

.wrap {
	width:1000px;
	margin: 0 auto;
	position: relative
}
/* LAYOUT

--------------------------*/

#main {
	float: left;
	width: 980px;
	padding: 10px 10px 0 10px;
	background: #F7F7F7
}
#right_col {
	float: right;
	width: 740px;
}
/* HEADER

--------------------------*/

#header {
	max-height: 200px;
}
#logo {
	float:left;
	width: 140px;
	margin: 50px 20px 10px 0
}
#logo img {
	width: 100%
}
.text-logo {
	float: left;
	text-align: center;
	margin-top: 60px
}
#header_right {
	float: right
}
/*Top Page*/
#hotline {
	float: right;
	font-size: 20px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 38px;
	background: url(../Images/phone_icon.png) 0 center no-repeat;
	padding-left: 40px;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 10px 0;
	position: relative;
}
.box_ct_index {
	padding: 10px;
	border: 1px solid #b7ac81;
	background: url(../Images/main_Bg.jpg) 0 0 repeat
}
.box:after, .box_ct_index:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
/*Tab*/
.box_Tab {
	display: block;
	font-size: 1.3em;
	font-weight: 700;
	line-height: 30px;
	color: #156e00;
	text-transform: uppercase;
	border-bottom: 1px solid #c0651f
}
/*Vertical menu*/
#topnav {
	float: left;
	width: 200px;
	margin-right: 10px;
}
#topnav li {
	position: relative;
	padding: 8px 0 8px 20px;
	background: url(../Images/arrow_l.png) 5px 12px no-repeat;
}
#topnav li a {
	display: block;
	font-weight: 500;
	font-size: 1.2em;
}
#topnav li.active a, #topnav li a:hover {
	text-decoration: none;
	color: #D5521F
}
#topnav ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 999999;
	width: 200px;
	padding: 0 10px;
	background: url(../Images/transparentBg.png) 0 0 repeat;
	-moz-box-shadow: 0 0 5px #dddddd;
	-webkit-box-shadow: 0 0 5px #dddddd;
	box-shadow: 0 0 5px #dddddd;
	height: auto;
}
#topnav ul ul a {
	font-size: 13px;
	font-weight: 700;
	outline:0;
	text-transform: none;
	color: #FFFFFF;
}
#topnav ul ul a:hover {
	color: #FFFFFF;
}
/*Top Main*/
#top_main {
	padding: 10px 10px 0 10px;
	width: 980px;
	height: 360px;
	overflow: hidden;
	background: #F7F7F7
}
#ads_top {
	width: 290px;
	min-height: 279px;
	overflow: hidden;
	margin-bottom: 5px
}
#ads_top img {
	max-width: 100%;
	min-height: 100%
}
#social_network {
	border: 1px solid #bcbcbc;
	padding: 9px;
	width: 270px
}
#social_network span {
	float: left;
	margin-top: 20px;
	color: #124d00;
	font-size: 0.85em;
	font-weight: 700
}
#social_network a {
	float: left;
	width: 60px;
	text-align: center;
	line-height: 1.8
}
#social_network a#face {
	margin-left: 10px
}
/*Cate Index*/
#cate_products div {
	float: left;
	width: 480px
}
#cate_products li {
	float: left;
	width: 48%;
	margin-right: 20px;
	border-bottom: 1px solid #dcc395;
	margin: 0 5px
}
#cate_products li:nth-of-type(2n+2) {
margin-right: 0
}
#cate_products li a {
	display: inline-block;
	padding: 7px 0 7px 15px;
	background: url(../Images/list_item_ico.gif) 0 center no-repeat;
}
.title_cate {
	font-size: 16px;
	font-weight: 500
}
#cate_products p {
	font-size: 16px
}
#cate_products .img_cate {
	float: right;
	max-width: 450px
}
#intro { max-height: 40px; overflow: hidden;}
#intro .h1Title { float: left; font-size: 26px; font-weight: 500; color: #013100 }
.short_des_intro { position: relative; margin: 8px 0; margin-left: 20%}
/*Pagination*/
.navigation {
	float: left;
	clear: both;
	font-weight: 700;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.navigation a {
	display: inline-block;
	border: 1px solid #b37c2a;
	margin: 0 2px;
	padding: 4px 8px;
	color: #b37c2a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.navigation b, .navigation a:hover {
	display: inline-block;
	background: #b37c2a;
	border: 1px solid #b37c2a;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 4px 8px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/*News*/
#list_news ul {
	padding-top: 10px;
}
#list_news ul li {
	border-bottom: 1px dotted #8B8B8B;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news .h2Title a {
	font-size: 1.2em;
	font-weight: 600;
	color: #D5521F
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news img {
	border: 1px solid #e3e3e3;
	padding: 3px;
}
#info_g, #info_g p {
	line-height: 160%
}
.h1Title {
	color: #D5521F
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #606060;
	font-weight: 500;
	font-size: 16px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin: 10px 0;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #d10000;
}
/*Gallery*/
#list_gallery li {
	float: left;
	width: 210px;
	height:  140px;
	overflow: hidden;
	margin: 17px
}
#list_gallery li img {
	width: 100%;
	height: 100%
}
/*Current Path*/
.path {
	font-weight: bold;
	margin-bottom: 5px;
	text-align: left;
	text-transform: none;
	font-size: 0.85em;
	font-weight: 500;
	height: 20px;
	line-height: 20px;
}
.path img {
	vertical-align: baseline
}
/*Footer*/
#footer {
	clear: both;
	width: 100%;
	background: #013100;
	color: #fafafa;
}
#footer .wrap {
	padding: 20px 0 10px 0;
	background: #013100;
}
#footer a {
	color: #d2d2d2
}
#footer a:hover {
	color: #FFFFFF;
	text-decoration: none
}
#info_company {
	float: left;
	width: 600px;
	text-align: left;
}
#info_company p {
	margin: 0 0 5px 0
}
#access_status {
	float: right;
	margin-top: 20px
}
#copyright {
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
	background: url(../Images/lineBg.png) 0 0 repeat-x;
}
