a{ text-decoration:none}
.imgDetail{ width:100%; float:left}
.infoDetail{ width:100%; float:left; margin-left:0}
.infoDetail h1{ border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px; margin:10px ;}
.innerInfoDetail{}
.shortInfo{ white-space:pre-line}
.btnGroup{ padding:5px; text-align:center}
.btnBuy{ background:#bbb; color:#000; font-size:1.3em; margin: 0 auto; margin-left:0; line-height:30px; width:150px}
.btnBuy a{  color:#000}
.priceGroup{padding:5px 5px; text-align:center; color:#333; overflow:hidden}
.newPrice{ color:Red; font-size:14px; font-weight:bold}
.oldPrice{ color:Gray; font-size:1em; text-decoration:line-through;}
              
.infoDetailMore{ width:100%; float:left; padding:10px 0px;}
.infoDetailMore h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin:0; padding-bottom:5px}
.innerInfoMore{ padding:10px; overflow:hidden}
.samePro{ width:100%; float:left; padding:10px 0px;}
.samePro h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px}
.listProduct .productItem{ width:33.33%; float:left}
/* @media (min-width:768px) 
 {
     .imgDetail{ width:45%; float:left}
     .infoDetail{ width:50%; float:left; margin-left:3%}
	 
 }
 @media (max-width:768px){
	 .listProduct .productItem{ width:50%}
 }
 @media (max-width:480px){
	 .listProduct .productItem{ width:100%}
 }*/
 
 .product{ padding:5px}
 .product:hover img{ opacity:0.8}
 .desProduct{width:100%; float:left; padding-bottom:7px}
 .innerProduct{ position:relative; border:solid 0px #CACACA;  text-align:left; width:96%; min-height:1px; float:left; padding:2%;}
 .photoProduct{ text-align:center; float:left; width:100%;}
 .product h2{ margin:0; padding:0; font-size:1.1em;overflow:hidden; line-height:30px;text-overflow: ellipsis; white-space:nowrap; text-align:center}  
 .product h2 a{font-weight:normal; text-overflow: ellipsis; white-space:nowrap; text-align:center; font-size:13px; font-weight:bold}   
 .product{width:100%; float:left;} 
 .photoProduct img{width:100%; margin:0%; height:100%}     
 .photoProduct{border:solid 2px #CACACA; height:250px; overflow:hidden;}
 .slide .product{ padding:0}
 
 .productItem:hover .photoProduct{ border:solid 2px #0085C6;}
 .innerSamePro{ float:left; width:100%; padding-top:10px; }
