/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body#bd {
	font-size: 12px;
	font-family: Arial;
	color:#666666;
	background: #FFFFFF;
}
@font-face {
 font-family: 'UVNNguyenDuRegular';
 src: url('../Images/font/uvnnguyendu.eot');
 src: url('../Images/font/uvnnguyendu.eot') format('embedded-opentype'), url('../Images/font/uvnnguyendu.woff') format('woff'), url('../Images/font/uvnnguyendu.ttf') format('truetype'), url('../Images/font/uvnnguyendu.svg#UVNNguyenDuRegular') format('svg');
}
a {
	text-decoration: none;
	color: #0064b7;
}
a:hover {
	text-decoration: none;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 12px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	border: 1px solid #cacaca;
	padding: 5px;
}
.h1Title {
	font-size: 22px;
	color: #4c4343;
}
.fll {
	float: left;
}	

/* WRAPPER --------*/

#wrapper {
	width:100%;
	min-height: 400px;
	float: left;
	margin: 0 auto;
	padding: 0;
	background: url(../Images/wrap_bg.png) center 0 repeat-y;
}
.page {
	width: 1000px;
	pading: 0;
	margin: 0 auto;
}

/***** Inner ********************/

.main {
	width: 100%;
	margin: 0 0 20px 0;
	float: left;
	}
/* LAYOUT

--------------------------*/
.main_content {
	float: left;
	width: 740px;
	margin-left: 5px;
	padding-right: 30px;
	background:  url(../Images/vertical_shdowBg.png) 100% 0 repeat-y;
	background-size: 3% 100%;
}
.right_content {
	float: right;
	width: 230px;
	margin-right: 5px;
	margin-left: -10px;
}
/* HEADER

--------------------------*/
.header {
	padding: 5px 0;
	position: relative;
	background: url(../Images/header_Bg.jpg) 100% 20px no-repeat;
	-moz-box-shadow: -1px 2px 5px #888888;
	-webkit-box-shadow: -1px 2px 5px #888888;
	box-shadow: -1px 2px 5px #888888;
}
.logo {
	padding-left: 10px;
}
.top_menu {
	position: absolute;
	top: 5px;
	left: 40%;
}
.top_menu li {
	float: left;
	height: 15px;
	border-left: 1px solid #666666;
}
.top_menu li a {
	padding: 0 6px 0 5px;
	line-height: 15px
}
.top_menu li.home {
	width: 20px;
	height: 20px;
	background: url(../Images/icon.png) 0 0 no-repeat;
	border: none
}
/*Language*/
.lang {
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0
}
.lang a {
	display: inline-block;
	margin-left: 20px;
	line-height: 15px;
}
.lang span {
	display: block;
	width: 20px;
	height: 15px;
	float: left;
	margin-right: 3px;
}
.lang .vn_icon {
	background: url(../Images/icon.png) -48px 2px no-repeat;
}
.lang .en_icon {
	background: url(../Images/icon.png) -20px 2px no-repeat;
}
.lang .active {
	color: #0198d2;
}
.header .hotline {
	position: absolute;
	line-height: 30px;
	bottom: 5px;
	right: 0;
	margin: 6px 0;
	z-index: 200;
	width: 250px;
	font-size: 30px;
	color: #ac0000;
}
.icon_phone {
	float: left;
	width: 40px;
	height: 30px;
	background: url(../Images/icon.png) -69px 0 no-repeat;
}
/*Top Main*/
.top_main_info {
	float: left;
	width: 100%;
	height: 30px;
	padding: 5px 0;
	background: #f9f9f9;
	line-height: 30px;
}
.top_main_info .bookmark a {
	display: inline-block;
	background: url(../Images/checked_icon.png) 0 5px no-repeat;
	padding-left: 25px;
	margin-left: 50px;
}
.top_main_info .like_btn {
	width: 10%;
	margin-top: 4px;
	margin-left: 50px;
}
/* SEARCH TOP MAIN */
.search {
	float: right;
	height: 26px;
	margin-right: 5px;
	overflow: hidden;
	width: 280px;
	-moz-box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-box-shadow:inset 1px 2px 3px #dddddd;
	box-shadow:inset 1px 2px 3px #dddddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	background: #FFFFFF;
	position: relative;
}
.search .input_Search {
	border: medium none;
	color: #000000;
	float: left;
	font: 12px arial;
	height: 20px;
	line-height: 20px;
	padding: 6px 0 0 5px;
	width: 240px;
	background: none;
}
.search .search_btn {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 34px;
	height: 28px;
	background: url(../Images/search_icon.png) 0 0 no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.top_main_banner {
	float: left;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 14px;
	background: url(../Images/bottom_shadowBg.png) bottom center no-repeat;
}
/*Scrol Ads*/
.banner{
	display: none;
	position: absolute;
	width: 150px;
	top: 0;
}
/*support*/
#beforefooter-support .wraper{
	width:1000px;
	height:45px;
	float:right;
	margin:0 auto;
	background: url(../Images/blue_bg.jpg) 0 0 repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 999999;
	text-align: center;
}
#beforefooter-support{
	position:relative;
}
.stick {
    bottom: 0;
    position: fixed;
}
#support {
	width: 100%;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
	text-shadow: 0 1px 1px #000000;
}
#support li {
	float: left;
	width: 49%;
	margin: 5px 0;
	padding-bottom: 5px;
}
#support li.hotline {
	border-right: 1px dotted #FFFFFF
}
#support li span {
	display: inline-block;
	margin: 3px 0;
}
#support li span.title_sp {
	margin-right: 10px;
	text-transform: uppercase
}
#support li span.phonenumber {
	color: #FFFF00;
}
div#sticker .phone {
	color: #FFFFFE;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 0 12px;
	background: url(../Images/icon.png) -90px -72px no-repeat;
	padding-left: 120px;
}
div#sticker .phone span {
	padding: 0 10px;
}
/*Main menu*/
/* menu::base */
#menu {
	position:relative;
	z-index:100;
	height:45px;
	width:98%;
	margin: 10px auto;
}
#menu .menu {
	width:100%;
	margin: 0 auto;
	height: 55px;
	background: #FFFFFF;
	z-index: 10;
}
#menu * {
	list-style:none;
	border:0;
	padding:0;
	margin:0;
}
#menu a {
	display:block;
	padding:0 20px;
	height: 45px;
	line-height: 25px;
	font-size: 12px;
}
#menu>ul>li {
	float: left;
	background: url(../Images/blue_bg.jpg) 0 0 repeat-x;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-box-shadow: -2px 1px 2px #888888;
	-webkit-box-shadow: -2px 1px 2px #888888;
	box-shadow: -2px 1px 2px #888888;
	border: 1px solid #d2d4d4;
	margin-right: 20px;
	width: 220px;
}
#menu li li {
	float: left;
	_border:1px solid #bb3e3e; /** fix for ie6 */
	background: none;
	width: auto;
	padding: 8px 0;
}
/* menu::special styles */
/* menu::level 1 */
#menu a {
	text-decoration:none;
	color:#FFFFFF;
	position:relative;
	z-index:77;
	font-family: 'UVNNguyenDuRegular';
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
#menu a:hover {
	color:#FFFFFF;
}
#menu .des_menu {
	float: left;
	width: 100%;
	display: block;
	font: normal 12px Arial, Helvetica, sans-serif;
	text-transform: none
}
/* menu::level >= 2 */
#menu .sub_menu {
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: -10;
	width: 950px;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 5px #888888;
	-webkit-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
#menu li:hover .sub_menu {
	display: block;
	-moz-transform: translateY(40px);
	-o-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}
#menu li li a {
	padding:0;
	height: 15px;
	line-height: 15px;
	position:static;
	border-top: 1px solid #FFFFFF;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #0064B7;
	text-transform: none;
	padding: 0 10px;
	border-left: 1px solid #0064B7;
}
#menu li li a.parent {
	border-left: none;
}
#menu li li a:hover {
	color: #0064B7
}
/** <fix for ie6> */
#menu li li li {
	_border:1px solid #bb3e3e;
}
#menu li li li li {
	_border:1px solid #bb3e3e;
}
/** </fix for ie6> */
.arrow_dicon {
	display: block;
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 10px;
	height: 10px;
	background: url(../Images/icon.png) -113px 0 no-repeat !important;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content_center {
	padding: 0;
}
/* Create arrow right */
.arrow_right {
	width: 0;
	height: 0;
	position: absolute;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #ffffff;
	top: 30%;
	right: -10px;
}
/* Create arrow down */
.arrow_down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #f74203;
	position: absolute;
	top: 45%;
	right: 0;
}
.arrow_down1 {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #FFFFFF;
	position: absolute;
	top: 45%;
	right: 14%;
}
/*Categories Index*/
.categories_index {
	float: left;
	width: 100%;
	padding-bottom: 10px;
	margin-top: 5px;
	background: url(../Images/cate_index_bg.png) 50% 50% repeat;
	background-size: 100% 100%;
}
.categories_index li {
	float: left;
}
.categories_index .cate_li {
	width: 225px;
	margin: 0 20px 0 15px;
	text-align: left;
}
.categories_index .cate_li img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #1d1d1d;
	-webkit-box-shadow: 0 0 5px #1d1d1d;
	box-shadow: 0 0 5px #1d1d1d;
	border: 1px solid #FFFFFF;
}
.categories_index .cate_name {
	display: block;
	padding: 0;
	margin: 10px 0 5px 0;
	font-size: 14px;
	font-weight: 500;
	color: #014e96;
}
.categories_index .cate_name a {
	line-height: 20px;
	padding-right: 20px;
	font-size: 14px;
	font-weight: 500;
	color: #014e96;
	background:url(../Images/cicle_arrow.png) center right no-repeat
}
.categories_index p {
	line-height: 150%;
	margin: 5px 0;
	height: 55px;
	overflow: hidden
}
.categories_index .view_detail {
	display: block;
	width: 84px;
	height: 21px;
	float: right;
	margin-top: 20px;
	color: #9c0000;
	background: url(../Images/view_moreBg.png) 0 0 no-repeat;
	padding-left: 22px;
	line-height: 25px;
	text-transform: uppercase;
	font-weight: 700
}
/*News Index*/
.news_index {
	width: 200px;
	margin-left: 10px
}
.news_index ul {
	list-style: url(../Images/bullets.png) inside;
}
.news_index li {
	float: left;
	width: 100%;
	margin: 3px 0;
}
.news_index .cate_name {
	border-bottom: 3px solid #d7d8d9;
	padding-bottom: 3px
}
.quick_access {
	width: 100%;
	margin-top: 10px
}
.right_content .news_index {
	margin: 0;
	padding: 10px 5px;
	width: 210px
}
/*Tab*/
.box_Tab {
	width: 100%;
	height: 25px;
	color: #c37b13;
	font-weight: 700;
	border-bottom: 3px solid #d7d8d9;
}
.right_content .box .box_Tab span {
	line-height: 25px;
	color: #3e3e3e;
	text-transform: uppercase;
	font-size: 14px;
}
/*Ads*/
#ads img {
	margin-bottom: 10px;
}
/*Ads Bottom Corner*/
#footerSlideContainer {
	z-index: 1000;
	position: fixed;
	bottom:30%;
	right: 0;
	width: 150px;
}
#footerSlideButton {
	background: url(../Images/support_bg.png) top left no-repeat transparent;
	position: absolute;
	right: 10px;
	width:150px;
	height:42px;
	border: none;
	cursor: pointer;
}
#footerSlideContent {
	width: 100%;
	height: 0px;
	background: #FFFFFF;
	font-size: 0.8em;
	font-family: DejaVuSansBook, Sans-Serif;
	position: relative;
	bottom: -12px;
	right: 10px;
	display: none;
	-moz-box-shadow: 0px -2px 5px #000000;
	-webkit-box-shadow: 0px -2px 5px #000000;
	box-shadow: 0px -2px 5px #000000;
}
#footerSlideText ul li {
	float: left;
	width: 50%;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	padding: 20px 0;
}
/*Pagination*/
.navigation {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	line-height: 20px;
}
.navigation a {
	border: 1px solid #00a0e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 3px 8px;
	color: #00a0e5;
	background: url(../Images/bg_repeat.png) 0 -42px repeat-x;
}
.navigation b, .navigation a:hover {
	background: #00a0e5;
	border: 1px solid #00a0e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*List News*/
.list_news {
	float: left;
	width: 100%;
}
.list_news ul {
	padding: 10px 0;
}
.list_news ul li {
	border-bottom: 1px solid #b9babb;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.list_news .h2Title {
	padding: 0 0 3px 0;
}
.list_news .h2Title a {
	background: url(../Images/cicle_arrow.png) 100% 50% no-repeat;
	padding-right: 15px;
}
.list_news .hot_news .h2Title a {
	font-size: 18px;
	font-weight: 700;
}
.list_news p {
	margin: 0;
}
.list_news img {
	border: 1px solid #b9babb;
}
.detail_news {
	padding: 10px;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_general {
	float: left;
	padding-top: 10px;
	width: 100%;
}
.dt_price {
	color: #FF0000;
	font-size: 18px;
	text-decoration: none;
	font-weight: 700;
}
.dt_fprice {
	text-decoration: line-through;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll 0 2px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
.path {
	float: left;
	width: 730px;
	background: #029bd4;
	font-weight: 500;
	padding: 5px;
	margin-bottom: 10px;
	text-align: left;
	text-transform: none;
	color: #FFFFFF;
}
.path a {
	color: #FFFFFF;
}
.left_content .image_gallery {
	margin-top: 20px;
}
.left_content .image_gallery li {
	margin-bottom: 5px;
	text-align: center;
}
/*Footer*/
.footer {
	clear: both;
	float: left;
	margin-top: 10px;
	padding: 10px 0;
	width: 100%;
	color: #626262;
	border-top: 3px solid #00aeef;
	background: #f7f7f7;
}
.footer a {
	color: #003392;
}
.footer p {
	margin: 0;
	padding: 0;
}
.info_footer {
	float: left;
	width: 480px;
	font: normal 12px Arial;
	text-align: left;
	padding-left: 10px;
}
.copyright {
	float: right;
	width: 400px;
	margin: 0;
	font-size: 12px;
	line-height: 30px;
	text-align: right;
	padding-right: 10px;
}
.social_network { float: right; clear: right; margin: 10px }

