#nav {
	height: 36px;
	background: #e5e5e5 url(../Images/greyBg.gif) 0 0 repeat-x;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#nav:after, #nav ul:after {
	content: '';
	display: block;
	clear: both;
}
#nav ul, #nav li, #nav a {
	margin: 0;
	padding: 0;
	position: relative;
}
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#nav > ul {
	position: relative;
	display: block;
	width: 100%;
	z-index: 500;
}
#nav > ul > li {
	float: left;
	display:inline-block;
}
#nav ul li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}
#nav > ul > li > a {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-ms-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	z-index: 50;
	position: relative;
	color: #0d95f8;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 700;
	line-height: 36px;
	padding: 0 20px;
	text-transform: uppercase;
	text-decoration: none;
}
#nav > ul > li > a.home_icon {
	width: 50px;
	height: 36px;
	padding: 0;
	background: url(../Images/home_icon.png) center center no-repeat;
}
#nav > ul > li.active:not(:first-child) > a, #nav > ul > li:hover:not(:first-child) > a {
 background: url(../Images/l_TabBg.gif) 0 0 repeat-x;
 color: #FFFFFF
}
#nav > ul > li.has_sub:hover > a {
	border-color: #18a443;
}
#nav ul ul {
	position: absolute;
	left: -9999px;
	top: 44px;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 9999;
	background:#23a3ff;
}
#nav ul ul ul {
	top: 36px;
}
#nav ul ul li {
	position: relative;
	margin:0;
	text-align:left;
	white-space: nowrap;
	min-width: 200px
}
#nav > ul > li:hover > ul {
	left: auto;
	top: 36px;
	opacity: 1;
}
#nav ul ul li:hover > ul {
	left: 100%;
	top: 0;
	opacity: 1;
}
#nav ul ul li a {
	border-bottom: 1px solid #FFFFFF;
	filter: none;
	font-size: 1em;
	display: block;
	line-height: 120%;
	padding: 10px;
	color:#FFFFFF;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
#nav ul ul li:hover > a {
	background: #eeeeee;
	color: #111111;
}
#nav ul ul li:last-child > a, #nav ul ul li.last > a {
	border-bottom: 0;
}
