/*Form Account*/
.form_web input[type="checkbox"], .form_web input[type="radio"] {
	padding: 0 1px;
}
.info_account {
	width: 45%;
	height: 560px;
	margin: 15px 0;
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px 20px
}
.form_web .form_header {
	color: #0192f3;
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 3px double #e4e4e4
}
.form_web .row_account {
	float: left;
	margin: 3px 0;
	clear: both;
}
.form_web .item_title {
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 4px 10px 4px 0;
	width: 140px;
}
.not_account {
	margin-top: 15px !important
}
.form_web .right_row_account {
	width: 340px
}
.form_web .row_account i {
	float: left;
	padding: 5px 0;
	font-size: 11px
}
.form_web .sl_form_web {
	width: 100%;
	height: 30px;
	padding: 3px
}
.form_web .sl_form_web.accountBirthDay {
	width: 32.5%
}
.tab_transport .right_row_account .inputbox {
	width: 99%
}
.tab_transport .sl_form_web {
	width: 100%
}
.form_web .btn_action {
	margin-right: 20px;
}
.form_web .text {
	clear: both;
	float: left;
	padding-left: 170px;
}
.form_web .row .checkbox {
	padding-bottom: 5px;
	padding-top: 10px;
}
.form_web .write_comment label {
	line-height: 30px;
	color: #FFFFFF;
	z-index: 1;
}
.form_web .write_comment textarea {
	width: 340px;
	height: 100px;
	padding: 5px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.login_account {
	padding: 20px 0;
	width: 45%;
	margin: 0 auto
}
.login_account .lost_password p {
	margin: 0 0 0 150px
}
.login_account .link_acount {
	text-decoration: underline;
	color: #e82d08
}
.login_account .link_acount:hover {
	text-decoration: none
}
/*Cart*/
.process_payment {
	margin-top: 15px
}
table#page_cart {
	border-collapse: collapse;
	width: 100%;
	color: #444444;
	margin-top: 10px;
	font-size: 15px
}
table#page_cart th, table#page_cart td {
	padding: 8px;
	vertical-align: middle;
	border-bottom: 1px solid #b2b2b2;
}
table#page_cart th {
	font-size: 18px;
	font-weight: 500;
	color: #505050
}
table#page_cart .all_price_div {
	background: #f2f2f2
}
table#page_cart td.td_price_all {
	color: #0095da
}
table#page_cart td.ttd_price {
	font-weight: bold;
	padding-right: 20px !important;
	text-align: right;
}
table#page_cart td.ttd_price_t {
	border-left: medium none !important;
	color: #ef532a;
	font-weight: bold;
	padding-left: 20px !important;
	text-align: center;
	font-size: 24px;
}
table#page_cart td.td_quantity input[type="text"] {
	border: 1px solid #dfdacb;
	color: #929292;
	height: 22px;
	text-align: center;
	width: 30px;
}
table#page_cart td.td_quantity .update_quantity {
	display: block;
	margin-top: 5px;
	text-align: center
}
.btn_cart i {
	font-size: 16px;
	text-decoration: underline;
	margin-right: 20px;
	color: #505050
}
/*Payment Step*/
input[type="radio"] {
	margin: 0
}
#payment_step1 {
	width: 96%;
	margin: 0 auto
}
.col_login {
	float: left;
	margin-top: 20px;
	width: 32%;
}
.col_right_login {
	width: 56%;
	padding-left: 10%;
	background: url(../Images/line_or.png) no-repeat scroll left 36px rgba(0, 0, 0, 0);
}
p.title_login {
	font-size: 16px;
	text-align: left;
}
div.login_other {
	line-height: 30px;
	margin-top: 15px;
}
div.login_other a {
	margin: 10px 0;
}
a.btn_face {
	background: url(../Images/btn_login.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 38px;
	width: 235px;
}
a.btn_google {
	background: url(../Images/btn_login.png) no-repeat scroll 0 -48px rgba(0, 0, 0, 0);
	display: block;
	height: 38px;
	width: 235px;
}
a.btn_yahoo {
	background: url(../Images/btn_login.png) no-repeat scroll 0 -96px rgba(0, 0, 0, 0);
	display: block;
	height: 38px;
	width: 235px;
}
/*Progress Bar*/
.progress-bar {
	position: relative;
	width: 715px;
	height: 34px;
	margin: 10px auto;
	padding-bottom: 10px;
	background: url(../Images/quytrinh-background.png) 0 0 no-repeat
}
.progress-bar ul {
	text-align: center;
}
.progress-bar li {
	display: inline-block;
	height: 29px;
	margin-top: 3px;
	margin-left: -1px;
	position: relative;
	text-align: center;
	width: 33%;
}
.progress-bar li span {
	color: #FFFFFF;
	font-size: 1.3em;
	font-weight: 700;
	line-height: 29px;
	display: block;
}
.progress-bar .current {
	background: url(../Images/stepNumber.png) center bottom no-repeat
}
.progress-bar .current2 {
	color: #1b64a9;
	font-weight: 700;
	font-size:13px
}
.progress-bar li:last-child:before {
	content: none;
}
#thanks {
	text-align: center
}
.box_payment {
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	position: relative
}
.box_payment p {
	margin: 10px 0
}
.box_payment, #mini_cart {
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box_payment_left {
	width: 69%;
	padding-bottom: 25px;
	font-size: 13px;
}
#mini_cart, #info_address {
	width: 30%
}
.submit_btn {
	background: linear-gradient(to bottom, #E2760F 0%, #E56315 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #fca03c; /* Old browsers */
	background: -moz-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fca03c), color-stop(100%, #f9821e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fca03c 0%, #f9821e 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca03c', endColorstr='#f9821e', GradientType=0 ); /* IE6-9 */
	border: medium none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	height: 38px;
	margin: 0;
	text-align: left;
	width: 272px;
}
.login_form, #three_step_checkout .shipping_form, #three_step_checkout .payment_form {
	border: 1px solid #D6D6D6;
	border-radius: 5px 5px 5px 5px;
	height: 100%;
}
.login_btn {
	left: 170px;
	position: relative;
	top: 5px;
}
.submit_btn {
	background: linear-gradient(to bottom, #E2760F 0%, #E56315 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #fca03c; /* Old browsers */
	background: -moz-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fca03c), color-stop(100%, #f9821e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fca03c 0%, #f9821e 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca03c', endColorstr='#f9821e', GradientType=0 ); /* IE6-9 */
	border: medium none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	height: 38px;
	margin: 0;
	text-align: left;
	width: 272px;
}
.buttondathang {
	float: left;
	clear: both;
	background: #003466 url(../Images/blue_bg.jpg) repeat-x scroll 0 0;
	border: medium none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 20px;
	height: 38px;
	margin: 15px 0 10px 210px;
	text-align: center;
	width: 210px;
}
.txtemaildangnhap {
	float: left;
	margin-left: 15px;
	color: black;
	margin-top: 25px;
	padding: 10px 7px;
	width: 320px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}
.txtpassdangnhap {
	color: black;
	padding: 8px;
	margin-bottom: 10px;
	width: 320px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}
.rb {
	float: left;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
}
.forgot_pass {
	display: block;
	margin-left: 255px;
	text-decoration: underline;
	font-style: italic
}
.btn_account {
	margin-top: 10px
}
.row_account .btn_account, #payment_step1 .btn_account {
	float: left
}
.order_sum {
	padding: 10px
}
.order_sum th {
	background: #FFFFFF;
	border: none;
	font-weight: 700;
	height: 25px
}
.left_align {
	width: 58%;
	text-align: left
}
.qty {
	text-align: center;
	width: 20%;
}
.right_align {
	text-align: right;
}
.total_item {
	margin: 5px 0;
}
.total_item tr {
	border-top: 2px solid #b3b3b3;
	height: 26px;
	line-height: 26px
}
.total_item td {
	vertical-align: top
}
.order_scrollable {
	max-height: 140px;
	min-height: 40px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px 0;
	border-top: 1px dashed #b3b3b3
}
.order_scroll_table tr {
	border-bottom: 1px dashed #b3b3b3
}
.order_scroll_table td {
	padding: 5px 0
}
.total {
	font-size: 1.2em;
	font-weight: 700
}
.order_scroll_table .qty select {
	margin: 0;
	vertical-align: top;
	width: 100%;
}
.order_scroll_table .checkout_remove_item {
	color: #0010a7;
	text-decoration: none;
	font-size: 0.9em
}
.pay-form.left {
	left: 0;
	position: absolute;
	top: 0;
	width: 26%;
}
.pay-form.right {
	margin-left: 28%;
	padding-top: 4px;
}
.red {
	color: Red;
}
.pay-form .text {
	color: #000000;
	display: block;
	float: left;
	font-size: 120%;
	line-height: 40px;
	margin-right: 10px;
	width: 25%;
}
.pay-form .input-text {
	float: left;
	width: 68%;
	line-height: 40px;
	margin: 0;
}
.pay-form .input-text input {
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
	color: #000000;
	float: left;
	font-size: 130%;
	line-height: 18px;
	padding: 10px 0;
	text-indent: 7px;
	width: 100%
}
.ddlthanhphoh {
	width: 100%;
	padding: 10px 3px;
	font-size: 120%;
}
.pay-form .input-text textarea {
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
	color: #000000;
	float: left;
	font-size: 125%;
	height: 99px;
	line-height: 18px;
	padding: 10px 0;
	text-indent: 7px;
	width: 100%;
}
.button1, .button_cart .button1 {
	background: url("../Images/blue_bg.jpg") repeat-x scroll 0 0 #003466;
	border: medium none;
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	font-size: 130%;
	height: 40px;
	line-height: 40px;
	margin: 10px 0 0 0;
	padding: 0 15px;
	position: relative;
	text-align: center;
}
/*Tab Payment*/
#tabs_payment:after {
	clear: both;
	display: block;
	content: ''
}
#tabs_payment ul {
	float: left;
	width: 25%;
	height: 100%;
	padding-top: 4px;
}
#tabs_payment li {
	float: left;
	width: 100%
}
#tabs_payment ul li a {
	text-decoration: none;
	font-weight: bold;
	background: #f8f8f8;
	border-bottom: 1px solid #dfdfdf;
	border-left: 5px solid #dfdfdf;
	box-sizing: border-box;
	color: #5b5b5b;
	display: block;
	height: 50px;
	line-height: 50px;
	margin-bottom: 5px;
	padding-left: 15px;
	width: 100%;
	box-shadow: -2px 2px 5px #dddddd
}
#tabs_payment ul li.active a {
	background: #FFFFFF;
	border-left: 5px solid #1793de;
	border-right: 1px solid #ffffff;
}
#tabs_payment .tab_payment_ct {
	padding: 15px;
	width: 70%
}
.method_payment_tab .payment_radio_check {
	display: inline-block;
}
.method_payment_tab .payment_form_title {
	display: inline-block;
	width: 95%;
}
.method_payment_tab .row {
	margin-bottom: 20px
}
#bill_info .row {
	margin-bottom: 5px
}
.hidden {
	display: none
}
.address {
	padding: 10px
}
.change_info {
	position: absolute;
	z-index: 50;
	top: 10px;
	right: 10px;
	font-size: 0.9em;
	color: #00F;
	text-transform: none;
}
/*Tab Share*/
#box_share, #orderInfo {
	width: 49.5%;
}
#tabs_share:after {
	clear: both;
	display: block;
	content: ''
}
#tabs_share ul.nav_share {
	height: 30px;
	margin-top: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #d3d3d3
}
#tabs_share ul.nav_share li {
	display: inline;
	float: left;
	margin-right: 2px;
}
#tabs_share ul.nav_share li a {
	display: block;
	text-decoration: none;
	background: #FFFFFF;
	line-height: 28px;
	border: 1px solid #d3d3d3;
	border-bottom: none;
	padding: 0 30px;
	font-size: 1.2em;
	color: #004688;
}
#tabs_share ul.nav_share li.active a {
	background: #f4f4f4;
}
#tabs_share .tab_share_ct {
	padding: 15px;
	width: 95%
}
/*Order*/
.orderInfo_hidden {
	position: relative;
	color: #ff5b00;
	text-decoration: underline
}
.box_hover {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 10px;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 5px 3px rgba(153, 153, 153, 0.3);
	-webkit-box-shadow: 0 0 5px 3px rgba(153, 153, 153, 0.3);
	box-shadow: 0 0 5px 3px rgba(153, 153, 153, 0.3);
	width: 200px;
	z-index: 100;
	color: #333333
}
.orderInfo_hidden:hover .box_hover {
	display: block
}
#orderInfo .row {
	float: left;
	width: 100%;
	margin: 5px 0
}
.overlay-price {
	display: block;
	color: #c30005
}
.required {
	color: #FF0000
}
