@charset "utf-8";
/* COMMON STYLE

--------------------------------------------------------- */
* {
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
}
html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
body {
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color:#333333;
	background: #FFFFFF
}
@font-face {
 font-family: 'Open Sans Regular';
 src: url('../Images/Fonts/opensans-regular-webfont.eot');
 src: url('../Images/Fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/opensans-regular-webfont.woff') format('woff'), url('../Images/Fonts/opensans-regular-webfont.ttf') format('truetype'), url('../Images/Fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #088ded
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.inputbox {
	background: #FFFFFF;
	border: 1px solid #dcdcdc;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.font1 {
	font: normal 15px 'Open Sans Condensed', Helvetica, sans-serif
}
.font2 {
	font: normal 15px 'Open Sans Regular', Helvetica, sans-serif
}
.line {
	height: 3px;
	background: #2fb759;
	display: block;
	margin: 10px 0
}
.btn_web {
	text-decoration: none;
	text-transform: uppercase;
	background: #0280db; /* Old browsers */
	background: -moz-linear-gradient(top, #0280db 0%, #0267b5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0280db), color-stop(100%, #0267b5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0280db 0%, #0267b5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0280db 0%, #0267b5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0280db 0%, #0267b5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0280db 0%, #0267b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0280db', endColorstr='#0267b5', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 20px;
	text-shadow: 1px 1px 0 #444444;
	padding: 8px 40px;
}
.btn_web:hover {
	text-decoration: none;
	color: #FFFFFF
}
.h1Title {
	font-size: 24px
}
/* WRAPPER --------*/
.wrap {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
/* LAYOUT

--------------------------*/
#main {
	padding: 15px 0 5px 0
}
#left_col {
	width: 20%;
}
#right_col {
	width: 79%;
}
.cf:after, .wrap:after, #header:after, #footer:after, .row_news_home:after, .box:after, .box_ct:after, .product:after, .pagination:after, #top_main:after, #toppage:after, #box_account:after, .product .btn_P:after, .nav_menu:after, .info_g:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
/*Top Page*/
#toppage {
	padding: 5px 0;
	background: #0278a6 url(../Images/blueBg.gif) 0 0 repeat-x;
	color: #FFFFFF;
}
#hotline {
	padding-left: 30px;
	background: url(../Images/hotline_icon.png) 0 center no-repeat;
	font-size: 1.5em
}
#hotline b {
	color: #f6ff00
}
/*Social Network*/
#social_network a {
	display: inline-block;
	margin-left: 5px;
}
#social_network span {
	display: inline-block;
	width: 40px;
	height: 30px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_gplus {
	background-position: -96px 0
}
.icon_youtube {
	background-position: -48px 0
}
/*HEADER*/
#header {
	position: relative;
	padding: 15px 0
}
#logo {
	float: left;
	width: 19%;
	text-align: center;
	position: relative;
}
#header_right {
	width: 80%
}
/*Search Form*/
#search_form {
	width: 560px;
	height: 32px;
	position: relative;
	background: #FFFFFF;
	border: 1px solid #c6c6c6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#search_form .dropdown {
	float: left;
	position: relative;
	width: 80px;
	overflow: hidden;
	height: 32px;
	background: url(../Images/arr_search.png) 90% center no-repeat;
	z-index: 99;
	border-right: 1px solid #c6c6c6;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#search_form select {
	width: 125%;
	color: #888888;
	padding: 4px 0;
	height: 32px;
	background: none;
	border: none
}
.inputSearch {
	border: none;
	color: #555555;
	float: left;
	font: italic normal 12px arial;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0 5px;
	margin-top: 6px;
	width: 75%;
}
.btn_search {
	position: absolute;
	top: 0;
	right: 0;
	width: 52px;
	height: 32px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
	background: url(../Images/blueBg.gif) 0 0 repeat-x;
	border: none;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
/*Cart*/
#cart {
	position: relative;
	border: 1px solid #c5c5c5;
	border-top: none;
	border-bottom: none;
	width: 12%;
	text-align: center
}
#cart .cart_icon {
	display: block;
	width: 100%;
	height: 19px;
	background: url(../Images/cart_icon.png) center 0 no-repeat;
}
#cart b {
	position: absolute;
	background: #ff0000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-width: 14px;
	height: 12px;
	line-height: 12px;
	padding: 2px;
	right: 20px;
	top: -6px;
	z-index: 2;
	color: #FFFFFF
}
#cart span {
	display: block;
	margin-top: 2px
}
/*Account*/
#account_area {
	width: 15%;
	background: url(../Images/account_icon.gif) 0 0 no-repeat;
	padding-left: 40px;
	position: relative
}
.tt_link_account {
	font-size: 11px;
	display: block;
	min-height: 40px
}
.tt_link_account b {
	font-size: 12px
}
.arr_down_acc {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #999999;
	position: absolute;
	right: 8px;
	top: 13px;
}
#account_area:hover .arr_down_acc {
	border-top: 5px solid #23a3ff
}
#box_account {
	display: none;
	left: 0;
	position: absolute;
	top: 40px;
}
#box_account ul {
	background: #FFFFFF;
	padding-top: 13px;
	padding: 15px 20px;
	z-index: 999;
}
#account_area:hover #box_account {
	display: block;
	min-width: 200px
}
.arrow_top {
	position: relative;
	background: #fff;
	border: 1px solid #ccc !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.arrow_top:after, .arrow_top:before {
	bottom: 100%;
	left: 12%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_top:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_top:before {
	border-color: transparent;
	border-bottom-color: #ccc !important;
	border-width: 9px;
	margin-left: -9px;
	left: 18px;
}
#box_account li {
	display: block;
	position: relative;
}
#box_account .btn_acc {
	display: block;
	margin-bottom: 10px;
	padding: 8px 10px;
	text-decoration: none;
}
.btn_blue {
	background: #32befb;
	/* Old browsers */
  background: -moz-linear-gradient(top, #32befb 0%, #19a5e1 100%);
	/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32befb), color-stop(100%, #19a5e1));
	/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #32befb 0%, #19a5e1 100%);
	/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #32befb 0%, #19a5e1 100%);
	/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #32befb 0%, #19a5e1 100%);
	/* IE10+ */
  background: linear-gradient(to bottom, #32befb 0%, #19a5e1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32befb', endColorstr='#19a5e1', GradientType=0);
	/* IE6-9 */
  border: none;
	box-shadow: 0 -2px 0 #0788bf inset;
	padding: 6px 14px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn_blue:hover {
	color: #fff;
	opacity: 0.9;
}
.btn_fb {
	background-image: -webkit-linear-gradient(top, #5972a5 0%, #3e578b 100%);
	background-image: linear-gradient(to bottom, #5972a5 0%, #3e578b 100%);
	background-repeat: repeat-x !important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5972a5', endColorstr='#ff3e578b', GradientType=0);
	border: none;
	box-shadow: 0 -2px 0 #112d6c inset;
	padding: 6px 14px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn_fb:hover {
	color: #fff;
	opacity: 0.9;
}
.user_new_account {
	font-size: 11px
}
.user_new_account a {
	color: #00aaf1;
	font-weight: 700;
	text-decoration: underline;
}
/*Top Main*/
#right_top_main {
	width: 79%
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_ct {
	border: 1px solid #cccccc;
	padding: 0 15px;
}
.box_home_left {
	width: 79%
}
#box_ct_news {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bababa;
	padding: 15px
}
.ads_cate {
	width: 20%
}
.ads_cate img {
	margin-bottom: 10px;
	border: 1px solid #ddd;
	max-width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#ads_cate_page {
	margin: 5px 0
}
/*Tab*/
.box_Tab {
	height: 35px;
	line-height: 35px;
	border: 1px solid #cfcfcf;
	border-left: none;
	position: relative;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	margin-bottom: 10px
}
.box_Tab .main_cate {
	background: url(../Images/l_TabBg.gif) 0 0 repeat-x;
	display: inline-block;
	height: 35px;
	padding: 0 30px 0 25px;
	position: relative;
}
.box_Tab h2 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 35px;
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.box_Tab .r_Tab {
	position: absolute;
	top: 0;
	right: -15px;
	display: inline-block;
	width: 22px;
	height: 35px;
	background: url(../Images/r_TabBg.gif) 0 0 no-repeat
}
.process_payment .box_Tab {
	border: none;
	border-bottom: 1px solid #cfcfcf
}
.sub_cate_home {
	margin-right: 20px
}
.sub_cate_home li {
	display: block;
	float: left;
	padding: 7px 0;
}
.sub_cate_home li a {
	border-right: 1px solid #d5d5d5;
	display: block;
	height: 20px;
	line-height: 22px;
	margin-right: 15px;
	padding-right: 15px;
	font-size: 1.1em;
}
.sub_cate_home .view_all {
	border: none;
	padding: 0;
	margin: 0;
	font-weight: 700;
	color: #00af08
}
.sub_cate_home .view_all:hover, .view_all_tab:hover {
	color: #111111
}
.sub_cate_home .arr_down {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../Images/green_arr_down.png) right center no-repeat
}
.view_all_tab {
	position: absolute;
	top: 10px;
	right: 50px;
	color: #1dd206;
	background: url(../Images/green_arr_left.png) 0 center no-repeat;
	padding-left: 10px
}
.box_Tab_main {
	height: 38px;
	line-height: 38px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	color: #000000;
	padding-left: 10px;
	font-size: 1.1em;
	font-weight: 700;
	text-transform: uppercase
}
.box_Tab_main h1 {
	font-size: 1.5em;
	color: #057cd1;
	font-weight: 500
}
/*Slideshow Fade*/

.fade_side {
	position:relative;
	height:350px;
}
.fade_side img {
	position:absolute;
	top:0;
	left:0;
	z-index:8;
}
.fade_side img.active {
	z-index:10;
}
.fade_side img.last-active {
	z-index:9;
}
/*List Products*/
.item_P {
	float: left;
	position: relative;
	width: 20%;
	text-align: center
}
.item_P .product {
	padding: 5px 5px 10px 5px;
	border: 1px solid #efefef;
}
.item_P .product:hover {
	border-color: #1793de
}
.product .img_product {
	display: block;
	width: 100%;
	height: 150px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center
}
.product img {
	max-height: 100%;
	max-width: 100%;
}
.product li .product_name {
	display: block;
	width: 100%;
	text-align: center;
	color: #111111;
}
.product h3 {
	margin: 10px 0;
	height: 33px;
	overflow: hidden;
	font-weight: 500
}
.info_price span {
	display: block;
	text-align: center;
}
.info_price .f_price {
	font-size: 1em;
	color: #7b7b7b;
}
.info_price .main_price {
	color: #ff0000;
	font-size: 1.25em;
	font-weight: 700;
}
.product .btn_P {
	display: block;
	margin: 5px 8px
}
.product .btn_P a {
	float: left;
	display: inline-block;
	padding: 3px 10px;
	background: #1dd206; /* Old browsers */
	background: -moz-linear-gradient(top, #1dd206 0%, #0e7201 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1dd206), color-stop(100%, #0e7201)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1dd206 0%, #0e7201 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1dd206 0%, #0e7201 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1dd206 0%, #0e7201 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1dd206 0%, #0e7201 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dd206', endColorstr='#0e7201', GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 0.9em;
	font-weight: 700;
}
.product .btn_P .addtocart {
	float: right
}
.product .reduce {
	position: absolute;
	top: 5px;
	left: 5px;
	display: block;
	width: 50px;
	height: 50px;
	background: url(../Images/reduceBg.png) 0 0 no-repeat;
	line-height: 50px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
}
/*List Products Page*/
.most-viewed {
	border: 1px solid #e9e9e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 15px
}
.most-viewed h2, .most-viewed h3 {
	color: #444;
	font-weight: bold;
	padding: 9px 10px 9px 10px;
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	border-bottom: 1px solid #e9e9e9;
	background: rgb(253,253,253);
	background: -moz-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253, 253, 253, 1)), color-stop(100%, rgba(249, 249, 249, 1)));
	background: -webkit-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -o-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: -ms-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 249, 1) 100%);
	background: linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 249, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f9f9f9', GradientType=0 );
	text-shadow: 1px 1px 1px white;
	border-top: none !important;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	letter-spacing: -1px;
	word-spacing: 2px;
}
.most-viewed > ul {
	padding: 10px
}
.most-viewed .cate_parent_left {
	color: #0d95f8;
	font-size: 13px;
	font-weight: 700;
	padding: 10px 2px 10px 2px;
	width: auto;
}
.most-viewed ul {
	list-style: none outside none;
}
.most-viewed li li, #trademark li, #search_price li {
	background: url(../Images/arr_l.png) 0 10px no-repeat;
	border-bottom: 1px solid #f2f1f1;
	padding: 5px 5px 5px 12px;
}
.most-viewed li li a {
	color: #444444;
	font-weight: 500
}
#list_products ul {
	margin-top: 10px;
	margin-left: -14px
}
#list_products .item_P {
	width: 23.5%;
	margin: 10px 0 10px 14px
}
#list_products .product .btn_P {
	width: 65%;
	margin: 8px auto
}
#thesame_price {
	float: right;
	width: 205px;
}
#thesame_price .box_Tab {
	background: #dadada;
	height: 35px;
	line-height: 35px;
	text-align: center
}
/*News Home*/
.row_news_home {
	background: url(../Images/grey_lineBg.gif) 60% 0 no-repeat;
	margin-bottom: 20px
}
.row_news_home:last-child {
	padding-top: 20px;
	margin: 0;
	border-top: 1px dotted #003366;
	background-position: 60% 20px
}
.hot_news_cate {
	width: 55%
}
.hot_news_cate img {
	width: 150px
}
.hot_news_cate .title_hotnews_cate {
	color: #0c4da2;
	font-size: 1.1em
}
.hot_news_cate .date_news {
	color: #8a8a8a;
	padding-right: 10px
}
.hot_news_cate .short_des {
	line-height: 1.5;
	margin: 5px 0
}
.hot_news_cate .view_more_news {
	color: #FF0000;
	font-style: italic
}
.hot_news_cate .view_more_news:hover {
	text-decoration: underline
}
.list_news_cate {
	width: 34%;
	margin: 0 2%
}

.list_news_cate .tab_news {
	font-size: 1.2em;
	color: #000000;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #0044b4;
	text-transform: uppercase;
	font-weight: 700
}
.list_news_cate li {
	float: left;
	width: 100%;
	padding: 6px 0;
	margin-bottom: 5px;
	border-bottom: 1px solid #ecede8
}
.list_news_cate .date_news {
	display: inline-block;
	color: #8a8a8a;
	width: 12%
}
.list_news_cate .tt_news_home {
	width: 87%
}
.list_news_cate li a {
	float: left;
	font-weight: 700;
	color: #00609d;
}
.list_news_cate li a:hover {
	color: #000000
}
#left_col .list_news_cate { width: auto }
.list_news_cate .date_news {
	width: 16%
}
.list_news_cate .tt_news_home {
	width: 83%
}
/*SEO content*/
#SEO_content {
	padding: 15px 0
}
#SEO_content h1 {
	font-size: 18px;
	color: #0d95f8;
	border-bottom: 1px solid #0d95f8;
	margin-bottom: 15px
}
#SEO_content p {
	margin: 0;
	font-size: 14px
}
/*View Area*/
.view_area {
	padding: 3px 0;
	margin: 10px 0;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef
}
.view_area span {
	font-size: 0.85em;
	font-style: italic;
	color: #84817a;
	line-height: 15px
}
.view_area img {
	width: 12px;
	height: 12px;
	margin-right: 2px
}
/*Vertical menu*/
#box_category > ul > li > a:hover {
	color:#C71126;
}
#box_category > ul > li > a {
	text-decoration: none;
	display:block;
	padding: 7px 10px 7px 0;
	border-bottom: 1px solid #cccccc;
	color: #0f1110
}
#box_category > ul > li {
	position:relative;
}
#box_category > ul > li > ul {
	position: static
}
#box_category > ul > li > ul > li {
	position: relative;
	background: #FFFFFF url(../Images/bullet.gif) 5px 14px no-repeat;
}
#box_category li.active a, #box_category l:hover a {
	color:#C71126;
}
#box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#424241;
	font-size: 0.95em;
	padding: 7px 10px 7px 15px;
	border-bottom: 1px solid #f4f4f4
}
/*Pagination*/
.pagination {
	float: left;
	font-weight: bold;
	padding: 10px 0;
	margin-bottom: 10px;
	text-align: right;
	width: 100%;
	height: 25px;
}
.pagination a, .pagination b, .pagination a:hover {
	display: inline-block;
	background: #3b5669;
	color: #FFFFFF;
	margin: 0 3px;
	padding: 5px 10px;
}
.pagination b, .pagination a:hover {
	background: #0892f5;
	color: #FFFFFF;
	text-decoration: none
}
/*List News*/
#list_news ul {
	padding: 10px 0;
}
#list_news li {
	border-bottom: 1px dotted #abacab;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	margin-bottom: 5px;
	font-size: 1.1em
}
#list_news p {
	margin: 0 0 1em 0;
}
#list_news .img_general {
	border: 1px solid #efefef;
	padding: 4px;
	width: 200px;
	display: block;
	height: auto;
	position: relative;
	overflow: hidden;
}
#list_news img {
	max-width: 100%;
	height: auto
}
#list_news img:hover {
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#list_news .view_more {
	margin-top: 15px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #a80004
}
/*Other Products*/
#other_products {
	width: 240px;
	margin-bottom: 15px;
}
#other_products li {
	float: left;
	width: 100%;
	margin-top: 10px;
	text-align: left
}
#other_products .img_product {
	float: left;
	margin-right: 10px;
	width: 100px;
	height: auto;
	border: 1px solid #CCCCCC
}
#other_products .info_price span {
	text-align: left
}
/*Detail News*/
#tab_detail_product .info_g {
	padding: 10px;
	border: 1px solid #aaaaaa;
	border-top: none
}
#detail_news { padding: 15px }
.info_g img {
	max-width: 100%;
	height: auto;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
.info_g, .info_g p {
	line-height: 1.4
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
.date {
	color: #878787;
	font-size: 11px
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -32px
}
a.opinion {
	background-position: 0 -73px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
	font-size: 1.1em;
	font-weight: 700;
	border-bottom: 3px double #CCCCCC
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arr_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
/*Comments*/
.comment_part {
	float: left;
	width: 100%;
}
.detail .h1Title {
	text-align: left;
	margin: 0 0 10px 400px;
	padding-bottom: 3px;
	border-bottom: 1px solid #d6d6d6;
}
.info_detail .facebook {
	left: 100%;
	top: 0;
}
.info_detail ul li {
	background: url(../Images/process_icon.png) -689px -73px no-repeat;
	margin: 5px 0;
	padding-left: 20px;
}
/*Comment Box*/
.comment_part h4 {
	color: #4582B9;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
.choose_product {
	margin-top: 5px;
	padding: 0 10px;
}
.investigation .choose_product {
	padding-top: 0;
}
.choose_product p {
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
.vote {
	background: url(../Images/vote.png) repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 26px;
	width: 71px;
}
.send_comment {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
.buttoncm {
	background: none repeat scroll 0 0 #C4C4C4;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	color: #3C3C3C !important;
	cursor: pointer;
	padding: 5px 20px;
}
.postcomment input, .postcomment textarea {
	color: #7F7F7F;
	border: 1px solid #B5B5B5;
}
.pcmnd textarea {
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 5px;
	width: 98.5%;
}
.pcmnd {
	padding: 10px 0
}
.pcm {
	float: left;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment .star {
	margin-top: 40px;
	width: 100px !important;
}
.star {
	float: left;
	margin-top: 9px;
	width: 200px !important;
}
.star_post {
	float: left;
	margin-top: 35px;
}
.choose_product {
	color: #3C3C3C;
	float: left;
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 30px;
}
.inputcomment {
	float: left;
	margin-top: 29px;
}
.nhapten {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-right: 5px !important;
	padding: 5px;
	width: 160px;
}
.diachi {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	padding: 5px;
	width: 250px;
}
.noidungcomment {
	padding: 15px;
}
.tenuser {
	float: left;
	margin-top: 10px;
}
.comment {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment {
	float: left;
	width: 100%;
}
.user {
	border-bottom: 1px solid #CCCCCC;
}
.image-user {
	float: left;
	width: 54px;
}
.image-user img {
	height: 54px;
	width: 54px;
}
.datetime {
	float: left;
	width: 600px;
}
.points {
	color: #3C3C3C;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.nhanxet {
	margin-bottom: 20px;
	padding-left: 20px;
}
#star {
	float: left;
}
#vote {
	color: red;
}
.tenspcb {
	color: #6D6B6C;
	font-size: 14px;
	font-weight: bold;
}
.des {
	color: #7F7F7F;
}
.noidungspcb p {
	margin-bottom: 10px !important;
}
.spcb p {
	margin-bottom: 0;
}
.spcb input {
	float: left;
	margin-right: 50px;
	margin-top: 20px;
}
.spcb img {
	float: left;
	height: 94px;
	margin-right: 30px;
	width: 120px;
}
.noidungspcb {
	float: left;
	width: 665px;
}
.ques {
	margin-bottom: 10px;
}
.hoidap {
	padding-left: 25px;
	padding-right: 25px;
}
.hoi {
	color: #E46A07;
	float: left;
	font-size: 14px;
	width: 40px;
}
.traloi {
	color: #7F7F7F;
	float: left;
	margin-top: 3px;
	width: 650px;
}
.dap {
	color: #2FB30F;
	float: left;
	font-size: 14px;
	width: 40px;
}
/*path*/
.path {
	margin-bottom: 10px;
	text-align: left;
	text-transform: none;
	font-size: 12px;
}
.path a {
	color: #333333
}
/*Connect*/
#connect {
	background: url(../Images/blueBg.gif) 0 0 repeat-x;
	padding: 8px 0;
	height: 35px;
	color: #FFFFFF
}
/*Register to get email*/
#get_email label {
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 700;
	line-height: 35px;
	margin-right: 10px;
	margin-left: 10px
}
#get_email div {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #a8a8a8;
	background: #FFFFFF;
	width: 320px;
	padding-left: 5px;
}
#get_email input[type='text'] {
	float: left;
	color: #8F8F8F;
	float: left;
	height: 17px;
	line-height: 17px;
	padding: 7px 0;
	width: 74%;
	text-indent: 5px;
}
.send_btn {
	display: block;
	float: right;
	padding: 4px 0;
	text-align: center;
	text-decoration: none;
	width: 25%;
	color: #FFFFFF;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	background: #10ae00;
}
.send_btn:hover {
	text-decoration: none;
	color: #FFFFFF
}
/*Access*/
#access_status {
	background: url(../Images/staticBg.png) 0 center no-repeat;
	padding-left: 55px;
	height: 35px;
	line-height: 35px;
	font-size: 1.1em
}
#access_status span {
	display: inline-block;
	padding-right: 20px
}
#access_status b {
	color: #ffde00;
}
/*Footer*/
#footer {
	padding: 15px 0 50px 0
}
.col_foo {
	float: left;
	width: 19%;
	margin-left: 1%;
	margin-bottom: 10px
}
.col_foo:first-child {
	width: 14%;
}
.col_foo:last-child {
	float: right;
	width: 22%;
	margin-left: 0
}
.title_col_footer {
	font-size: 1.4em;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000
}
.col_F_ct {
	padding: 5px 0
}
.list_menu_footer li {
	margin: 4px 0
}
.list_menu_footer a {
	color: #444444;
	transition: All 0.5s ease-out;
	-webkit-transition: All 0.5s ease-out;
	-moz-transition: All 0.5s ease-out;
	-o-transition: All 0.5s ease-out;
}
.list_menu_footer a:hover {
	color: #111111;
	text-decoration: none
}
#info_footer p {
	margin: 0 0 0.3em 0
}
#method_payment i {
	font-weight: 700;
	font-size: 14px;
	color: #4f4f4f;
	display: block;
	margin-bottom: 5px
}
#copyright {
	clear: both;
	margin-top: 3px;
	padding-top: 1px;
	background: url(../Images/shadowBg.png) center 0 no-repeat;
	padding: 10px 0;
	clear: both;
	font-size: 100%;
	text-align: center;
}
/*Print Page*/
#printing {
	width: 600px;
	margin: 0 auto
}
#printing #logo {
	width: 20%
}
#printing #text_logo {
	width: 78%
}
#printing #function_print {
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background-color:#20b24d;
	color: #000
}
#printing #function_print a {
	color: #000
}
#printing #main {
	padding: 10px;
	background: #FFFFFF;
	border-bottom: 2px solid #18b32d;
	text-align: justify;
	-moz-box-shadow: 0 0 3px #555555;
	-webkit-box-shadow: 0 0 3px #555555;
	box-shadow: 0 0 3px #555555;
}
/*hotro*/
#footerSlideContainer {
	bottom: 0;
	position: fixed;
	right: 0;
	width: 325px;
	z-index: 1000;
}
#footerSlideButton {
	background: url("../Images/support-title-background.png") no-repeat scroll left top transparent;
	border: medium none;
	cursor: pointer;
	height: 128px;
	position: absolute;
	right: 0;
	top: -123px;
	width: 185px;
}
#footerSlideContent {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #EFEFEF;
	border-color: #23a3ff -moz-use-text-color -moz-use-text-color #23a3ff;
	border-image: none;
	border-style: solid none none solid;
	border-width: 5px medium medium 5px;
	bottom: -5px;
	color: #CCCCCC;
	font-family: DejaVuSansBook, Sans-Serif;
	font-size: 0.8em;
	height: 0;
	position: relative;
	width: 100%;
	background:#FFF;
	overflow:hidden;
}
#footerSlideContent h3 {
	color: #9AC941;
	font-size: 36px;
	margin: 10px 0;
}
#footerSlideContent ul {
	color: #EE8D40;
	line-height: 2em;
	list-style-type: none;
}
#footerSlideText {
	color: #065F92;
	font-size: 11px;
	padding: 10px 5px 5px 0px;
	text-shadow: 1px 1px #FFFFFF;
}
#footerSlideText .note {
	color: red;
	left: 20px;
	position: relative;
}
#footerSlideText .line {
	background: url("http://img.hostvn.net/line.gif") repeat-x scroll center top transparent;
	height: 2px;
	margin: 5px auto;
	width: 95%;
}
#footerSlideText .titles {
	color: #006795;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color:orange;
}
#footerSlideText ul {
	list-style: none outside none;
	margin: 10px 0 0 20px;
	padding: 0;
	width: 244px;
}
#footerSlideText ul li {
	background: none repeat scroll 0 0 transparent;
	color: #006795;
	font-size: 12px;
	font-weight: bold;
	list-style: none outside none;
	margin-top: 8px;
	padding: 0;
}
#footerSlideText ul li .left {
	display: inline-block;
	width: 116px;
}
#footerSlideText ul li .right {
	display: inline-block;
	width: auto;
	float:right;
	margin-right: -45px;
}
.BigHotLine {
	background: none repeat scroll 0 0 #ff6400;
	border-radius: 3px 3px 3px 3px;
	margin: 20px auto;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
.BigHotLine strong {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: normal;
	text-shadow: 1px 1px 0 #960606;
}
.list-support a {
	display:block;
	line-height:25px;
	text-decoration:none
}
.list-support .yahoo {
	background:url(../Images/live-support-yahoo.png) left center no-repeat;
	padding-left:40px;
}
.list-support .skype {
	background:url(../Images/skype-chat.png) center left no-repeat;
	padding-left:40px;
}
.support-container strong {
	color:#F00;
	font-weight:normal;
	margin-left:3px;
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
}
