@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,vietnamese,latin-ext);
#nav_menu {
	width: 100%;
	z-index: 50;
	height: auto;
	margin-bottom: 10px;
}
#nav_menu:after, #nav_menu ul:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.box_category > ul > li {
	position: relative;
	margin-left: 25px;
}
.box_category > ul > li > a {
	display: block;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	z-index: 1;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 16px;
	padding: 12px 0;
	text-decoration: none;
}
.box_category > ul > li.active > a, #nav_menu > ul > li:hover > a {
	color:#ffe44b;
	background: url(../Images/green40.png) 0 0 repeat;
}
.box_category > ul > li.last {
	border:none;
}
.box_category > ul > li > ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
	font: normal 13px Tahoma, Helvetica, sans-serif
}
.box_category > ul > li.active ul {
	display:block;
}
.box_category > ul > li > ul > li {
	padding-left: 10px;
	position: relative;
	background: url(../Images/dot_lastestnew.png) 10px 12px no-repeat;
}
.box_category ul ul ul {
	margin-left: 10px
}
.box_category li li li {
	background: url(../Images/left-li-bg.png) 5px 12px no-repeat
}
.box_category > ul > li span:hover {
	cursor:pointer;
}
.box_category > ul > li.active > a {
	color:#ffd300;
}
.box_category > ul > li.active a + ul {
	display: block;
}
.box_category > ul > li ul > li > a:hover {
	color:#ffd300;
}
.box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#FFFFFF;
	font-weight: 700;
	padding: 7px 10px 7px 15px;
}
.box_category ul ul ul a {
	font-size: 90%;
	font-weight: 500 !important
}
.box_category > ul > li ul > li.active > a, .box_category > ul > li ul > li.active > a {
	font-weight:normal;
	color:#3b2c26;
}
.box_category > ul > li > ul > li:last-child > a {
	border: none
}
.box_category > ul > li > span.close {
	background:url(../Images/nolines_minus.png) 94% -14px no-repeat;
	width:100%;
	height:30px;
	float:right;
	display:block;
	z-index: 100
}
.box_category > ul li li span.close {
	background:url(../Images/nolines_minus.png) 94% -14px no-repeat;
	width:100%;
	height:30px;
	float:right;
	display:block;
}
.box_category > ul li.active > span.close {
	background-position:94% -14px;
}
.box_category ul li span.close.collapsed {
	background-position:94% -14px;
}
.box_category ul li span.close.expanded {
	background-position:94% 6px;
}
.box_category ul li span span.close.expanded {
	background-position:94% 7px;
}
.box_category > ul > li span.close:hover {
	cursor:pointer;
}
.box_category .close {
	position:absolute;
	top:7px;
	right:0px;
}
.box_category ul ul .close {
	position:absolute;
	top:0px;
	right:0px;
}
