@charset "utf-8";
/* CSS Document */
.dropdown-menu ul, .dropdown-menu {
/*display: block !important*/
}
.bgMenuMain {
	height: 100px;
	background: url(../images/bg_menu.png) no-repeat;
}
.navbar {
	position: relative;
	min-height: 30px;
	margin-bottom: 0px;
	border: 0px solid transparent;
	z-index: 99999999;
}
.navx {
	margin-top: 48px;
}
.navbar-default {
}
/*level 3: 3 ul*/
ul.dropdown-menu ul {
	position: absolute;
	left: 100%;
	top: 0px;
	min-width: 200px;
	display: none;
 
	list-style: none;
	background-color:transparent;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
 
	 -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.ss ease-in-out;
	transition: all 0.ss ease-in-out;
 
	padding: 0;
 
}
ul.dropdown-menu li:hover > ul {
	display: block;
}
ul.dropdown-menu a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
ul.dropdown-menu a:hover, ul.dropdown-menu a:focus {
	background-color: transparent;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 0px 15px;
	color: #e0cd73;
	text-transform: uppercase;
	white-space: nowrap;/*line-height: 115px;*/
	
 
}
.nav>li {
}
.nav>li .glyphicon {
	font-size: 14px;
}
.nav>li:first-child {
	background-image: none
}
.nav>li>a:focus, .nav>li>a:hover {
	color: #DE9C50;
	background: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: transparent;
	color: #DE9C50
}
 
.dropdown-menu {
	padding: 0;
	border: 0;
	padding-bottom: 5px;
	background-color: transparent;
}
ul.dropdown-menu ul {
	padding-bottom: 5px;
}
.dropdown-menu > li {
}
.dropdown-menu > li > a {
	color: #fff; border:solid 1px #fff;
	margin-bottom:5px; background:url(../images/bgLinavx.png) !important; padding-top:5px; padding-bottom:5px;
}
.navbar .navbar-nav .open .dropdown-menu {
	background-color: transparent;
	padding-top: 10px;
}
ul.dropdown-menu ul{ background:url(../images/bgLinavx.png);border:solid 1px #e0cd73;}
ul.dropdown-menu ul li{ }
 ul.dropdown-menu ul li a{ color:#fff;   margin-bottom:5px; background:url(../images/arrow_r.png)  5px center  no-repeat;   text-decoration:none; padding-left:35px;}
  ul.dropdown-menu ul li a:hover{ color:#e0cd73; }
/*=============note===============*/
 
/*=============note===============*/
 
.pagination>li>a, .pagination>li>span {
	margin-right: 4px
}
.pagination>li>a, .pagination>li>span {
	background-color: transparent;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #f0ba27;
	padding: 3px 8px;
	color: #e0cd73;
}
.pagination .prePage, .pagination .nextPage {
	border: 0;
	background: url(../images/arrow_page.png) left no-repeat;
	height: 25px;
	width: 25px;
}
.pagination .nextPage {
	background: url(../images/arrow_page.png) right no-repeat;
}
.pagination>li>a:hover, .pagination>li>a.active, .pagination>li.acrive>a {
	background-color: transparent;
	border-color: #c5930c;
	color: #c5930c;
}
