.topMenuLeft {
	background: url(../images/bgTopLeft.png) center bottom no-repeat;
	min-height: 121px;
}
.botMenuLeft {
	background: url(../images/bgBottLeft.png) center top no-repeat;
	min-height: 104px;
}
.innerMenuLeft {
	border-left: solid 1px #dfb350;
	border-right: solid 1px #dfb350;
	margin: 0px 9px;
	padding-left: 25px;
	padding-right: 10px;
}
.clsLeftMenu li {
	list-style: none
}
ul.navY > li {
	float: none;
	list-style: none;
	list-style-image: url(../images/arrow_r.png);
	background: url(../images/liB_nav_y.png) center 30px no-repeat;
}
ul.navY > li > a {
	line-height: 35px;
	color: #e0cd73;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size:1.1em; text-decoration:none
}
ul.navY li li a {
	color: #ffd300;
	line-height: 25px;
}
ul.navY > li > a:hover{ color:#ff9c00}
.boxCount {
	margin-left: 10px;
	color: #ffd300;
	margin-top: 20px;
}
.boxCount .hd {
	background: url(../images/liB_nav_y.png) bottom no-repeat;
	margin-bottom: 10px;
	font-size: 1.1em
}
.boxCount .orange {
	color: #ff9c00;
}
.numCount {
	margin-left: 10px
}
