@charset "utf-8";
body {
	background-image: url(../images/bg.png);
}
.fleft {
	float: left;
}
.fright {
	float: right
}
ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 10px;
}
.bgWhite {
	background: #fff
}
.bgHeader {
	background: url(../images/bg_banner.png) repeat-x;
	background-size: auto 100%;
	min-height: 220px;
	position: relative;
}
/*loginBox*/
.modal_login {
	margin-top: 20%
}
/*itemProduct*/
 
.proName {
	font-weight: normal;
	font-size: 1.1em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	min-height: 30px;
	color: #e0cd73;
	text-align: center;
	text-transform: uppercase
}
.proName a {
	color: #e0cd73;
	cursor: pointer;
	text-decoration: none
}
.newPrice, .oldPrice {
	text-align: center;
}
.newPrice {
	color: red;
	font-weight: bold;
	font-size: 1.1em
}
.oldPrice {
	font-size: 0.9em
}
.btnGroup {
	width: 100%;
	float: left;
	height: 25px;
}
.btnCustBuy {
	padding: 7px 65px;
	background-image: url(../images/btn_buy.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 10px;
}
.li_pro {
	width: 20%;
	float: left;
	height: 280px;
	overflow: hidden
}
.photo img {
	width: 100%;
	display: block
}
/*foot*/
.footer {
	width: 100%;
	float: left;
	display: table
}
.f_row {
	width: 100%;
	float: left;
	display: table-row
}
.f_col {
	display: table-cell;
	padding: 5px;
}
.f_col h2 {
	color: #000;
	text-transform: uppercase;
	padding-bottom: 10px;
	border-bottom: solid 1px #ccc;
	text-align: left;
	padding-left: 5%;
	font-size: 110%;
}
.f_col a {
	width: 100%;
	float: left;
	padding: 5px 0px;
	text-align: left;
}
.dropdown-menu>li {
	position: relative;
}
.navbar-toggle {
	color: #000;
	padding-top: 0;
	padding-bottom: 0;
}
.side-menu .btn-default:hover, .side-menu .btn-default:focus {
	background-position: 0 0px;
}
/*====================================================*/
 
.clsLogo {
	text-align: center;
}
.clsLogo img {
	max-width: 100%;
	max-height: 100%;
}
.numberPhone {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #deca70;
}
.hotlineBox {
	position: absolute;
	bottom: 0;
	right: 0
}
.langBox a {
	margin-left: 5px;
	line-height: 113px
}
.langBox {
}
.clsHeader {
	position: relative
}
.white, .white a {
	color: #fff;
}
.red, .red a {
	color: red
}
.ads {
	position: relative
}
.noPLR {
	padding-left: 0;
	padding-right: 0
}
.noPL {
	padding-left: 0
}
.noPR {
	padding-right: 0
}
.ads img {
	width: 100%
}
.shadow {
	-webkit-box-shadow: 0 0 10px 0 #C9C9C9;
	box-shadow: 0 0 10px 0 #C9C9C9;
}
.marginL {
	margin-left: 50px;
}
.fl {
	float: left
}
/*=====================sideRight============================*/
.sideRight {
	width: 100%;
	float: left;
	background: #f6f6f6
}
.sideRight .ads img {
	background: #fff;
	padding: 5px 0px
}
.box {
	width: 100%;
	float: left;
	position: relative;
}
.boxInner {
	padding: 9px;
	overflow: hidden
}
.boxTitle {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 40px;
	height: 72px;
	line-height: 105px;
	background-image: url(../images/bgTitle.png);
	background-size: 100% 100%;
	font-size: 18px;
	text-align: center;
	color: #ffdc00;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}
.boxTitle span {
}
.boxTitle2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	line-height: 40px;
	padding: 0 0px 0 70px;
	white-space: nowrap;
	background-image: url(../images/bgTitle2.png);
	background-size: 100% 100%;
	/*font-family: "Bellerose", Helvetica, sans-serif;*/
	font-family: "UTMAvenida", Helvetica, sans-serif;
	font-size: 20px;
}
.dichVu {
	padding: 0;
	margin: 0;
}
.dichVu li {
	line-height: 35px;
	border-bottom: dotted 1px #3f89c3;
	overflow: hidden;
	text-overflow: ellipsis
}
.dichVu li a {
	white-space: nowrap;
	color: #111;
	text-overflow: ellipsis;
	background: url(../images/li_news_right.png) left no-repeat;
	padding-left: 15px;
}
.pad0 {
	padding: 0
}
.padT {
	padding-top: 10px
}
/*============================================*/
/*Social net work*/
.social_network {
	position: absolute;
	bottom: 0;
	left: 0;
}
.social_network a {
	height: 33px;
	width: 40px;
	float: left;
	background: url(../images/social_icon.png) left top no-repeat;
}
.social_network .facebook {
	background-position-x: 0px;
}
.social_network .twitter {
	background-position-x: -40px;
}
.social_network .gplus {
	background-position-x: -80px;
}
.social_network .skype {
	background-position-x: -200px;
}
.social_network .instagram {
	background-position-x: -240px;
}
.social_network .youtube {
	background-position-x: -440px;
}
.social_network .pinteres {
	background-position-x: -120px;
}
.social_network .wordpress {
	background-position-x: -600px;
}
.social_network a {
	background-position-y: 0px;
}
.social_network a:hover {
	background-position-y: -33px;
}
/*============================================*/
/*Social net work*/
.social_network_sm {
}
.social_network_sm a {
	height: 17px;
	width: 20px;
	float: left;
	background: url(../images/social_icon_sm.png) left top no-repeat;
}
.social_network_sm .facebook {
	background-position-x: 0px;
}
.social_network_sm .twitter {
	background-position-x: -20px;
}
.social_network_sm .gplus {
	background-position-x: -40px;
}
.social_network_sm .skype {
	background-position-x: -100px;
}
.social_network_sm .instagram {
	background-position-x: -120px;
}
.social_network_sm .youtube {
	background-position-x: -220px;
}
.social_network_sm .pinteres {
	background-position-x: -60px;
}
.social_network_sm .wordpress {
	background-position-x: -300px;
}
.social_network_sm a {
	background-position-y: 0px;
}
.social_network_sm a:hover {
	background-position-y: -17px;
}
.copyRight {
	border-top: solid 1px #fff;
	line-height: 30px;
	font-style: italic
}
.addressBox {
	border-bottom: solid 1px #c4c4c4;
	padding: 5px 0;
}
.slideDoiTac {
	background: url(../images/bg_slide_s.png) repeat-x;
	background-size: auto 100%;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
.slideDoiTac ul.slides li {
	margin-right: 25px !important
}
/*.slideDoiTac .flex-direction-nav .flex-prev{ left:0;opacity: 1;}*/
.slideDoiTac .flex-direction-nav a {
	opacity: 1 !important;
	top: 61%;
}
.slideDoiTac .flex-direction-nav .flex-prev {
	left: -30px;
	opacity: 1 !important
}
.slideDoiTac .flex-direction-nav .flex-next {
	right: -30px;
	opacity: 1 !important
}
.slideDoiTac .flex-direction-nav a:before {
	font-size: 20px;
	color: #F90;
}
/*right_fix*/
.right_fix {
	position: fixed;
	top: 100px;
	right: -2px;
	z-index: 999999999999999
}
.item_r {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 10px;
	position: relative;
}
.btnsp {
	position: relative;
	margin-left: -1px;
}
.support_bg {
	display: block;
	position: absolute;
	top: 0;
	width: 230px;
	right: -230px;
	padding: 0 10px 10px 10px;
	background: #FFFFFF;
	border: 1px solid #e0e0e0;
	z-index: 50;
	transition: All 0.7s ease-out;
	-webkit-transition: All 0.7s ease-out;
	-moz-transition: All 0.7s ease-out;
	-o-transition: All 0.7s ease-out;
	opacity: 0;
	visibility: hidden;
	min-height: 142px;
}
.sp1 {
	min-height: 166px;
}
#btnSP1:hover .sp1 {
	opacity: 1;
	visibility: visible;
	left: auto;
	right: 0px;
	top: 0
}
.support_bg p {
	margin: 3px 0
}
.yahoo {
	float: left;
	display: block;
	margin: 10px 0 0 30px;
}
.yahoo span {
	color: #8f8f8f;
	font-size: 11px;
}
.yahoo a {
	display: inline-block;
	width: 70px;
	margin-top: 5px;
	margin-right: 15px;
}
.hotLine {
	color: #FF0000;
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin: 7px 0 10px 20px;
}
.mailSupport {
	color: #4b4b4b;
	float: left;
	font-size: 12px;
	font-weight: 700;
	margin: 7px 0 10px 20px;
}
.optionSupport {
	border-bottom: 1px solid #8C8C8C;
	float: left;
	padding: 8px 0 0;
	width: 100%;
}
.optionSupport a {
	clear: both;
	color: #4b4b4b;
	cursor: pointer;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: 10px;
}
.spSmall_fix {
	position: fixed;
	bottom: 0;
	background: #06F;
	z-index: 999999;
	color: #fff;
	width: 100%;
	line-height: 30px;
	font-size: 1.1em
}
.hotlineS {
	font-size: 1.1em;
	margin: 10px
}
/*news*/
.list_news {
	color: #fff
}
.list_news .media-left img {
	max-width: 130px;
	border: solid 1px #e0cd73;
	padding: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.media-heading a {
	color: #e0cd73;
	font-size: 14px;
	font-weight: bold
}
.list_news li {
	width: 50%;
	float: left;
	margin-bottom: 10px !important;
	margin-top: 10px;
}
.media:first-child {
	margin-top: 10px;
}
.media-body {
	padding-right: 10px;
}
.viewDetail {
	color: #e0cd73;
	text-align: right
}
/*detail_news*/
 
#detail_news h1 {
	font-size: 16px;
	font-weight: 700;
	color: #fcca5b;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#info_g, #info_g p {
	line-height: 160%;
	text-align: justify;
	padding-right: 7px
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #E1B451;
	font-weight: 500;
	font-size: 14px;
	color: #E1B451;
	text-transform: uppercase;
}
.other_news_sub ul {
	margin: 10px 0 0 0px;
	list-style: none;
	-webkit-padding-start: 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/li_f.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub a.view_all {
	margin-left: 10px;
	color: #0081FF;
}
.date {
	color: #878787;
	margin-left: 5px;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #E1B451;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	white-space: nowrap;
	margin-top: 10px;
}
.like_product {
	float: left;
	padding: 0;
	width: 90%;
	margin: 5px 0px
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
	color: #E1B451;
}
.toolbar a i {
	margin-right: 5px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.breadcrumb {
	margin-bottom: 0
}
.caret {
	margin-left: 5px;
}
.icon-share-T {
	width: 31px;
	height: 29px;
	float: left;
	background: url(../images/icon-network-T.png) top center;
}
.shareT {
	width: 31px;
	float: right;
	overflow: hidden;
}
.fb-T {
	background-position: top center
}
.tw-T {
	background-position: -30px center
}
.gp-T {
	background-position: bottom center
}
.onlUser {
	line-height: 30px;
	color: #fff
}
.onlUser span:nth-child(2+n) {
	margin-left: 10px;
}
.onlUser strong {
	font-weight: bold;
	margin-left: 5px
}
.menuF h3 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.menuF ul {
	list-style: none
}
.frmGetemail {
	border: solid 1px #624107
}
.btnCust2 {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	height: 26px;
	float: right;
	background: #e6ddcb;
	text-align: center;
	padding: 0;
	background: #624107;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	text-transform: uppercase;
	white-space: nowrap
}
.frmBox {
	margin: 0;
	padding: 0;
}
.inputCust {
	height: 26px;
	text-indent: 10px;
}
.btnCust2:hover {
	color: #fff
}
.adsLeftPro {
	padding-top: 5px
}
.productList {
/*padding-left: 0;*/
	 
}
.slideVerProduct {
	padding-right: 0;/*padding-left: 0;*/
}
.productList .li_pro:nth-child(n+5) .itemProduct {
	margin-right: 0
}
.productList .li_pro:nth-child(5n+1) .itemProduct {
	margin-left: 0
}
.adsleftSlide {
	position: relative;
	height: 615px;
	overflow: hidden;
}
.adsL {
	position: absolute;
	bottom: 0;
	left: 0;
}
.adsL img {
	margin-top: 5px;
	max-width: 195px;
}
.boxTitle2 span a {
	color: #fff;
	text-transform: none;
	font-weight: normal;
	font-size: 12px;
	margin-right: 10px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif
}
.boxTitle2 span i {
	color: #FF0;
	font-size: 10px;
	font-weight: normal;
	margin-right: 10px;
}
/*Account*/
.popup_login {
	border-collapse: collapse;
	display: none;
	font-weight: bold;
	line-height: 20px;
	position: absolute;
	width: 240px;
	right: 0;
	top: 30px;
	z-index: 999999;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	overflow: hidden;
	border-top: 1px solid #DDDDDD;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333333 !important
}
.popup_login.popup_account {
	width: 200px;
}
.trigger {
	cursor: pointer;
	position: relative
}
.login_b {
	position: relative;
	margin-left: 10px;
}
.input_form {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	text-align: left
}
.input_form label {
	display: block;
	margin-bottom: 3px
}
.input_form input {
	border: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	color: #333333;
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 7px 0;
	width: 218px;
	text-align: left;
	text-indent: 5px;
}
.required {
	color: #FF0000
}
.note_wrapper {
	float: left;
	width: 100%;
	margin: 0;
	text-align: left
}
.lost_password {
	clear: both;
	margin-bottom: 10px;
	text-align: left
}
.link_acount {
	color: #0B58C2;
	line-height: 16px;
	text-decoration: underline;
}
.remember_password {
	float: right;
	width: 40%;
	text-align: right;
}
.remember_password input[type="checkbox"] {
	border: medium none;
	box-shadow: none;
	float: left;
	height: 30px;
	margin-top: -8px;
	width: 20px;
}
.popup_login .button {
	background: #0068cb;
	border: 0 none;
	color: #FFFFFF;
	width: 130px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-size: 14px
}
.popup_login .button:hover {
	background: #43a80c
}
.close_box_acc {
	display: block;
	width: 20px;
	height: 20px;
	background: #e41826;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	line-height: 20px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.popup_account a:hover {
	background: #ddd
}
.popupacc {
	position: absolute;
	top: 0;
	left: 72px;
	width: 200px;
	background: #fff;
	text-align: left;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
/*List Products Page*/
 
.most-viewed > ul {
	margin-top: 10px;
}
.most-viewed .cate_parent_left {
	color: #0068cb;
	font-size: 13px;
	font-weight: 700;
	padding: 10px 2px 10px 2px;
	width: auto;
}
.most-viewed ul {
	list-style: none outside none;
}
.most-viewed li li, #trademark li, #search_price li {
	background: url(../Images/arr_orange.png) 2px 10px no-repeat;
	border-bottom: 1px solid #f2f1f1;
	padding: 5px 5px 5px 12px;
}
.most-viewed li li a {
	color: #444444;
	font-weight: 500
}
.slideThuonHieu {
	margin-top: 10px; /*border:solid 1px #624107; background:#fff ;*/
	padding: 5px 0;
}
.breadcrumb {
	background-color: transparent;
	color: #fff
}
.breadcrumb li a {
	color: #930
}
.breadcrumb li.active {
	color: #666;
	font-weight: bold
}
.slider3 img {
	max-width: 100px;
}
.input_form a.button {
	padding-top: 0;
	padding: 0px 15px !important;
	height: 0;
	line-height: 25px !important;
	height: 25 !important
}
.input_form a.button:hover {
	background: #624107 !important
}
.fr {
	float: right
}
.boxTab2 {
	color: #fff;
	line-height: 30px;
	background: #0048a9;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: bold
}
.topPro, .botPro {
	height: 18px;
	width: 100%;
}
.topPro {
	background: url(../images/bgPro.png) top center no-repeat;
}
.botPro {
	background: url(../images/bgPro.png) bottom center no-repeat;
}
.midPro {
	border: solid 1px #e0cd73;
	text-align: center
}
.innerPro {
	margin: 5px;
	padding: 22px;
	text-align: center;
	background: #c4b365
}
.innerPro > a {
	text-align: center
}
.clsFooter {
	background: url(../images/bgFooter.png) no-repeat;
	background-size: auto 100%;
	text-align: center;
	color: #e0cd73;
	margin-top: 20px
}
.innerFooter {
	padding-top: 15px;
	padding-bottom: 10px;
}
.clsCopyright {
	font-size: 10px;
	font-style: italic;
	color: #aea398;
	text-align: center;
	margin-top: 7px
}
.listPro ul {
	list-style: none
}
.listPro ul li {
	float: left;
	width: 33.33%
}
.proItem {
	padding: 10px;
}
.photoItem {
	padding: 2px;
	border: solid 1px #e0cd73;
	text-align: center;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
.innerPhoto {
	margin: 2px;
	background: #fff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	overflow: hidden
}
.photoItem img {
	max-width: 90%;
	background: #fff;
	height: 158px;
	margin: 0 auto
}
.nameItem {
	text-align: center;
	overflow: hidden;
	line-height: 30px;
}
.nameItem a {
	color: #e0cd73;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis
}
.groupBTN {
	margin-top: 20px;
}
.btnBuy {
	height: 31px;
	width: 107px;
	;
	background: url(../images/btnBuy.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	text-align: center;
}
.btnBuy a {
	color: #ffdb00;
	line-height: 31px
}
.infoPro {
	color: #fff
}
.infoPro h1 {
	font-size: 13px;
	color: #ffdc00;
	font-weight: bold
}
.likePro {
	margin-top: 15px;
}
.detailPro .modal-body img {
	max-height: 500px;
	max-width: 100%
}
.modal-content {
	z-index: 999999999999999999999
}
.form-group label {
	float: left;
	width: 110px;
	color: #e0cd73
}
.yellow {
	color: #e0cd73
}
.yellow .input-group-addon {
	color: #e0cd73;
	background: url(../images/bgLinavx.png)
}
.yellow .form-control {
	background: url(../images/bgLinavx.png);
	color: #fff
}
.clsCaptcha {
	margin-left: 110px;
	margin-top: 5px;
}
.frmContact {
	margin-top: 10px;
}
.ggmap {
	padding: 5px;
	border: solid 1px #e0cd73;
	margin: 10px;
}
address {
	color: #fff;
}
address a {
	color: #e0cd73
}
.clsCaptcha {
	width: 200px;
}
.clsCaptcha img {
	max-width: 100%
}
