@charset "utf-8";
/* CSS Document */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color:#000000;
}
a {
	text-decoration: none;
	color: #4b4b4b;
}
a:hover {
	text-decoration: none;
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 18px;
}
.fl {
	float:left
}
.fr {
	float:right !Important;
}
.img_general {
	float: left;
	margin-right: 10px;
}
input {
	border:none;
}
.cf:after, .page:after, #header:after, #main:after, #footer:after, #box_account:after, #top_main:after, #topbar:after, #topmenu_footer:after, #footer_bottom:after, .homesubcatcontainer:after, .carousel:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.btn_web {
	display: block;
	background: #1c7a00;
	border: none;
	box-shadow: 0 -2px 0 #176001 inset;
	padding: 6px 20px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn_web:hover {
	color: #ffffff;
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
/* WRAPPER --------*/
.page {
	width: 1250px;
	pading: 5px 1em 0;
	margin: 0 auto;
	position: relative;
}
#top_page {
	float: left;
	width: 100%;
}
#top_link {
	float: left;
	width: 100%;
	height: 25px;
	background: #1c7a00;
	color: #FFFFFF
}
.hline {
	float: left;
	line-height: 25px;
	font-size: 16px
}
#top_link ul {
	float: right;
	text-align: right;
	color: #FFFFFF
}
#top_link ul li {
	float: left;
	height: 15px;
	margin-top: 5px;
	margin-left: 5px;
	position: relative;
}
#top_link ul li a {
	color: #FFFFFF;
	line-height: 15px;
	font-size: 11px;
	padding-left: 5px;
	border-left: 1px solid #FFFFFF;
	font-weight: 700;
}
#top_link ul li.active a, #top_link ul li:hover a {
	color: #FFFF00;
}
#top_link ul li:first-child a {
	border: none
}
/* LAYOUT */
#right_topmain {
	width: 1022px;
}
.left_content {
	float: left;
	width: 235px;
	padding: 0;
	margin: 0;
}
.main_content {
	float: left;
	margin-left: 10px;
	width: 755px;
}
/* HEADER

--------------------------*/
#header {
	padding: 5px 0;
}
.logo {
	float: left;
	width: 30%;
	margin-top: 5px;
}
#info_header {
	float: left;
	width: 40%;
	padding: 26px 0 0 0;
	text-align: left;
	height: 35px;
	margin-left: 30px;
	position: relative;
}
#info_header .function_web {
	color: #878787;
	display: inline-block;
	font: 13px/22px Arial, Helvetica, sans-serif;
	margin-left: 10px;
	line-height: 16px;
	width: 30%;
}
#info_header .function_web span {
	float: left;
	display: block;
	width: 35px;
	height: 30px;
	background-image: url(../Images/policy_icon.png);
	background-repeat: no-repeat
}
.delivery {
	background-position: 0 0
}
.payment {
	background-position: 0 -65px
}
.return {
	background-position: 0 -122px
}
/* SEARCH TOOL GENERAL */
#topbar {
	height: 40px;
	background: #c1c1c1
}
#search_tool {
	height: 34px;
	margin-top: 3px;
	margin-left: 3px;
	position: relative;
	background: #FFFFFF
}
.inputSearch {
	color: #000000;
	float: left;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 9px 0;
	margin: 0;
	width: 375px;
	border: none;
	background: none;
	text-indent: 5px
}
.submitSearch {
	background: url(../Images/search_text.gif) center center no-repeat;
	border: medium none;
	cursor: pointer;
	display: block;
	height: 34px;
	padding: 0;
	width: 100px;
	float: left;
	position: relative;
	z-index: 100;
}
/*Support*/
#support_order {
	float: left;
	position: relative;
	width: 249px;
	margin: 0 50px;
}
.icon_point {
	background: url(../Images/arr_up.png) center 0 no-repeat;
	display: block;
	height: 15px;
	left: 48%;
	position: absolute;
	top: -10px;
	width: 15px;
}
.support_order_button {
	display: block;
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 46px;
	background: url(../Images/support_order.png) no-repeat;
	cursor: pointer;
}
.sp_content {
	display: none;
	position: absolute;
	top: 50px !important;
	right: -84px !important;
	width: 380px;
	padding: 10px;
	background: #FFFFFF;
	-moz-box-shadow: 2px 2px 5px #444444;
	-webkit-box-shadow: 2px 2px 5px #444444;
	box-shadow: 2px 2px 5px #444444;
	z-index: 99999;
}
#support_order .optionSupport {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px
}
#support_order .input-txt {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #dfdfdf;
	float: left;
	font-size: 15px;
	padding-left: 5px;
	height: 32px;
	line-height: 32px;
	width: 370px;
	margin-top: 10px;
	font: normal 13px Arial, Helvetica, sans-serif
}
#support_order .textarea-txt {
	margin-bottom: 10px;
	margin-top: 0
}
.sm_button {
	float: left;
	margin-top: 10px;
	width: 100%;
}
.sm_button .btn_web {
	cursor: pointer;
	font: bold 15px Arial, Helvetica, sans-serif;
	width: 100px;
}
/*Cart*/
#cart_box {
	width: 160px;
	height: 40px;
	background: url(../Images/greenBg.gif) 0 0 repeat-x
}
.icon_cart {
	float: left;
	display: block;
	padding: 4px 0 0 65px;
	height: 36px;
	background: url(../Images/cart_icon.png) 15px center no-repeat;
	position: relative;
	color: #FFFFFF;
	line-height: 16px;
	font-size: 14px;
}
.icon_cart span {
	font-size: 15px;
	font-weight: 700;
	color: #1b1918;
}
/*Account*/
#account_area {
	width: 13%;
	height: 40px;
	background: url(../Images/account_icon.gif) 0 0 no-repeat;
	padding-left: 40px;
	margin-top: 25px;
	position: relative
}
.tt_link_account {
	font-size: 11px;
}
.tt_link_account b {
	font-size: 12px
}
.arr_down_acc {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #999999;
	position: absolute;
	right: 20px;
	top: 13px;
}
#account_area:hover .arr_down_acc {
	border-top: 5px solid #091007
}
#box_account {
	display: none;
	left: 0;
	position: absolute;
	top: 40px;
}
#box_account ul {
	background: #FFFFFF;
	padding-top: 13px;
	padding: 15px 20px;
	width: 165px;
	z-index: 999;
}
#account_area:hover #box_account {
	display: block;
	min-width: 200px
}
.arrow_top {
	position: relative;
	background: #fff;
	border: 1px solid #ccc !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.arrow_top {
	position: relative;
}
.arrow_top:before, .arrow_top:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_top:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_top:before {
	border-color: transparent;
	border-bottom-color: #ccc !important;
	border-width: 9px;
	margin-left: -9px;
	left: 18px;
}
#box_account li {
	display: block;
	position: relative;
}
#box_account .btn_acc {
	display: block;
	margin-bottom: 10px;
	padding: 8px 10px;
	text-decoration: none;
}
.user_new_account {
	font-size: 11px
}
.user_new_account a {
	color: #154a00;
	font-weight: 700;
	text-decoration: underline;
}
/* SEARCH BOX */
.search_box {
	padding: 10px 0;
	width: 210px;
	margin: 0 auto;
	text-align: center;
}
.type_option {
	float: left;
	border: 1px solid #b4b4b4;
	background: #FFFFFF;
	color: #000000;
	font: 12px Tahoma;
	margin-top: 10px;
	padding: 1px;
	width: 100%;
	height: 25px;
	line-height: 25px;
}
/*Box*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}
.box_content_center {
	background: #ffffff;
	border: 1px solid #e3e3e3;
}
.box_category {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #8c897d
}
/* MENU SIDEBAR */
.vertical_menu {
	float: left;
	border: 1px solid #d7d7d7;
	overflow-x: visible;
	width: 230px;
	background: #f9f7f7;
}
.categoryhead {
	border-bottom: 1px dotted #777777;
	left: 0;
	position: absolute;
	width: 184px;
	padding: 15px 0 25px 26px;
	margin: 0 10px;
	background: url(../Images/small_logo.png) 0 13px no-repeat;
}
.categoryhead h2 {
	font-size: 16px;
	line-height: 1.2em;
}
.categoryhead .view_all_cate {
	color: #1c7a00;
	font-size: 0.9em;
	position: absolute;
	right: 0;
	bottom: 3px;
}
.homesubcatcontainer .view_all_cate {
	bottom: -10px;
	background: #FFFFFF;
	color: #1c6b17;
	font-weight: 700;
	left: 45%;
	width: 120px;
	text-align: center;
	position: absolute;
}
.quangcaochuyenmuc {
	margin: 30px auto;
	width: 1075px;
	height: 100px;
}
.quangcaochuyenmuc img {
	width: 100%;
	height: 100%
}
.product_row .quangcaochuyenmuc {
	margin-top: 0
}
.topnav {
	padding: 70px 0 10px 10px;
	margin: 0;
	height: 210px;
	overflow: hidden;
}
.topnav ul li {
	position: relative
}
.topnav li a {
	line-height: 24px;
	padding: 0 15px;
	display: block;
	text-decoration: none;
	font-weight: 700;
	text-transform: capitalize;
}
.top3_type li a {
	font-weight: 500
}
.topnav li a:hover {
	color: #133b00
}
.topnav ul ul {
	margin: 0;
	padding: 0;
	display: block;
}
.topnav ul ul a {
	padding-left:20px;
	outline:0;
	font-weight: 500
}
.topnav a.active {
	line-height: 30px;
	font-size: 1em;
	font-weight: 700;
	color: #FFFFFF;
	background: #133b00 url(../Images/arr_active.png) 97% center no-repeat;
}
.topnav a.active:hover {
	color:#FFFFFF;
}
/*Subpage Nav*/
.subpage_nav .categoryhead {
	padding: 15px 0 15px 25px;
	border: none
}
.subpage_menu {
	padding: 50px 0 0 0;
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.subpage_menu ul {
	background: #FFFFFF;
}
.subpage_menu ul ul {
	width: 232px;
	max-height: 130px;
	border-top: 1px solid #c2c2c2;
}
.subpage_menu li a {
	line-height: 24px;
	padding: 0 15px;
	display: block;
	text-decoration: none;
	font-weight: 700;
	text-transform: capitalize;
}
.subpage_menu li a:hover {
	color: #1c6b17
}
.subpage_menu h3 {
	height: 30px;
	background: #e8eae7; /* Old browsers */
	background: -moz-linear-gradient(top, #e8eae7 0%, #fafcf9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8eae7), color-stop(100%, #fafcf9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8eae7 0%, #fafcf9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8eae7 0%, #fafcf9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8eae7 0%, #fafcf9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e8eae7 0%, #fafcf9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eae7', endColorstr='#fafcf9', GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #c2c2c2;
}
.subpage_menu h3 a {
	font-size: 12px;
	line-height: 30px
}
.subpage_menu ul ul a {
	font-weight: 500;
	padding: 5px 15px;
	line-height: 16px;
}
/*Tab*/
.box_Tab {
	width: 100%;
	height: 34px;
	text-align: left;
	font-size: 15px;
	font-weight: 700;
	line-height: 35px;
	color: #333333;
	border-bottom: 2px solid #e3e3e3;
	margin-bottom: 10px;
}
.main_content .box_Tab {
	background: none;
	border-bottom: 2px solid #c3c3c3;
	text-align: left
}
.main_content .box_Tab .name_Tab {
	font-size: 14px;
	color: #f74203;
	text-transform: uppercase;
	position: relative;
	padding-right: 15px;
}
/*Link Web*/
#link_web {
	width: 210px;
	margin: 0 auto;
}
#link_web .type_option {
	margin-bottom: 10px;
}
/*Ads*/
#ads img {
	margin-bottom: 10px;
}
/*Product*/
.product_row {
	margin-left: -23px;
}
.product_row li {
	float: left;
	margin-left: 23px
}
.product {
	float: left;
	text-align: center;
	width: 178px;
	height: 290px;
	margin-bottom: 20px;
	border: 1px solid #d4d4d4;
	position: relative;
}
.product_inner {
	padding: 9px;
}
.img_product {
	position: relative;
	width: 160px;
	height: 160px;
}
.reduce {
	display: block;
	-webkit-border-bottom-left-radius: 360px;
	-moz-border-radius-bottomleft: 360px;
	border-bottom-left-radius: 360px;
	-moz-box-shadow: -6px 5px 8px #dddddd;
	-webkit-box-shadow: -6px 5px 8px #dddddd;
	box-shadow: -6px 5px 8px #dddddd;
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	text-align: center;
	position: absolute;
	top: 1px;
	right: 1px;
	background: #FFFFFF;
	color: #FF0000;
	font-weight: 700;
	z-index: 999;
}
.image_caption {
	-moz-transition:bottom 0.4s ease;
	-webkit-transition:bottom 0.4s ease;
	-o-transition:bottom 0.4s ease;
	-ms-transition:bottom 0.4s ease;
	transition:bottom 0.4s ease;
	bottom: -120px;
	height: 120px;
	padding: 30px 10px 10px 10px;
}
.img_product:hover .image_caption {
	position:absolute;
	bottom: 0;
	left:0;
	background: #efefee;
	z-index: 10;
}
.product_name {
	text-align: center;
	margin: 5px 0;
	height: 33px;
	overflow: hidden;
	vertical-align: middle;
}
.product_name a {
	font-weight: 700;
}
.price {
	font-size: 12px;
	color: #393939;
}
.f_price {
	font-size: 13px;
	color: #ff0000;
	font-weight: 700;
}
.button {
	margin: 0 auto;
	height: 20px;
	margin-top: 10px;
}
.button a {
	display: inline-block;
	width: 70px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 700;
	background: url(../Images/btn_product.png) 0 0 no-repeat;
}
.button a.buy_bt {
	margin-left: 5px;
}
.detail_general .buy_bt {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	background: url(../Images/icon.png) 0 -610px no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.saleoff_icon {
	display: block;
	position: absolute;
	top: -9px;
	right: -9px;
	background: url(../Images/saleoff_icon.png) 0 0 no-repeat;
	width: 89px;
	height: 89px;
	z-index: 100;
}
/*Pagination*/
.pagination {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	font-weight: bold;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	line-height: 20px;
}
.pagination a {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0 2px;
	padding: 3px 8px;
	color: #FFFFFF;
	background: #141414;
}
.pagination b, .pagination a:hover {
	background: #165400;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 3px 8px;
	text-decoration: none;
}
/*News*/
#list_news ul li {
	border-bottom: 1px dotted #CCCCCC;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .view_more {
	bottom: 10px;
	font-size: 11px;
	position: absolute;
	left: 130px;
	font-style: italic;
}
#list_news .h3Title {
	margin: 0 0 3px 0;
	color: #111111;
	font-size: 13px;
}
#list_news img {
	border: 1px solid #d8d8d8;
}
#list_news p {
	margin: 0 0 10px 0;
}
.h1Title {
	font-size: 20px;
	color: #000000;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_general {
	float: left;
	padding-top: 10px;
	width: 100%;
}
.dt_slider {
	float: left;
	width: 400px;
	margin-right: 20px;
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	zoom: 1;
}
.dt_price {
	color: #FF0000;
	font-size: 18px;
	text-decoration: none;
	font-weight: 700;
}
.dt_fprice {
	text-decoration: line-through;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
}
.like_face {
	float: left;
	padding: 0;
	width: 50%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -32px;
}
a.opinion {
	background-position: 0 -72px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #292929;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 3px 0;
}
.other_news_sub a {
	background: url(../Images/arr_l.png) 0 3px no-repeat;
	padding-left: 10px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #f74203;
}
/*Current Path*/
#pagenav {
	background: #FFFFFF;
	float: left;
	width: 100%;
}
#pagenav .path {
	padding: 10px 0 5px 0;
	font-weight: 700
}
#pagenav .linktext {
	color: #333333;
}
/*SEO content*/
#SEO_content h1 {
	font-size: 18px;
	color: #1c6b17;
	border-bottom: 1px solid #1c6b17;
	margin-bottom: 15px
}
#SEO_content p {
	margin: 10px 0;
	font-size: 14px
}
/*Footer*/
#topmenu_footer a {
	transition: all 0.3s ease 0s;
	color: #454648;
}
#topmenu_footer a:hover {
	color: #000000;
}
#topmenu_footer {
	padding: 20px 0;
	border-top: 4px solid #8c897d
}
.col_menuFooter {
	float: left;
	width: 20%;
	padding: 0;
}
.ctentColuMenuFooter {
	text-align: left;
	margin-left: 30px;
}
.ctentColuMenuFooter h3 {
	height: 20px;
	text-align: left;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 20px;
	color: #353535
}
.listMenuFooter {
	padding: 10px 0;
}
.listMenuFooter a {
	line-height: 20px;
	overflow: hidden;
	display: block;
	font-weight: 200;
	padding-left: 15px;
	background: url(../Images/arr_l.png) 0 5px no-repeat
}
/*Footer Bottom*/
#footer_bottom {
	background: #3a2e30;
	color: #FFFFFF
}
#footer_bottom .page {
	background: #3a2e30;
	padding: 20px 10px;
}
#footer_l {
	width: 70%
}
#footer_r {
	width: 28%
}
/*Social Network Footer*/
#social_network {
	display: block;
	z-index: 1000;
	margin-bottom: 10px;
}
#social_network a {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
	margin-right: 5px;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.icon_facebook {
	background-position: 0 0
}
.icon_twitter {
	background-position: -42px 0
}
.icon_rss {
	background-position: -84px 0
}
.icon_glus {
	background-position: -121px 0
}
.icon_youtube {
	background-position: -155px 0
}
#copyright {
	width: 50%;
	line-height: 30px;
	font-size: 11px;
}
/*Payment Card*/
#paymentarea {
	float: left;
	width: 100%;
	color: #989898;
	margin-top: 20px
}
#paymentarea span {
	margin-right: 50px
}
#paymentarea img {
	max-height: 35px;
	width: auto
}
/*Footer Contact*/
#info_footer p {
	margin: 2px 0
}
.hotline_foo {
	text-align: center;
	margin-bottom: 10px
}
.hotline_foo label {
	display: block;
	border-bottom: 1px solid #ffffff;
	height: 28px;
	line-height: 28px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase
}
.hotline_foo, .hotline_foo a {
	color: #FFFFFF
}
.numberphone {
	font-size: 24px
}
/*Register to get email*/
#get_email {
	background: #FFFFFF;
	height: 27px;
	width: 81%;
	margin: 20px auto
}
#get_email input[type='text'] {
	float: left;
	color: #8F8F8F;
	float: left;
	padding: 5px 0;
	width: 89%;
	text-indent: 5px;
	text-transform: capitalize;
}
.send_btn {
	display: block;
	float: right;
	height: 27px;
	text-align: center;
	text-decoration: none;
	width: 10%;
	cursor: pointer;
	padding: 0;
	margin: 0;
	background: url(../Images/sendmail_ico.gif) 0 center no-repeat;
}
.send_btn:hover {
	text-decoration: none;
	color: #FFFFFF
}
