#menu{
	height:45px;
	position:relative;
    z-index:100;
	margin-left:0px;
	padding-top:5px;
	z-index:9999;
	width:100%;
	background:#7b452c;
	
	-webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    -moz-border-top-left-radius:58px;
    border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -moz-border-top-right-radius:58px;
    border-top-right-radius: 5px;
	z-index:999;
}
#menu ul
{
	list-style:none;
	text-align:center;
	margin-left:10px;
}
#menu ul li{
	float:left;
	width:100px;
	background:#5f3913;
	border:solid 1px #94411f;
	padding-left:20px;
	height:40px;
	margin-left:2px;
}
#menu ul li a{
	color:#fff;
	line-height:35px;
	padding-left:0px;
	padding-right:10px;
}
#menu ul li:hover{
	color:#fff;
	cursor:pointer;
	background:#930;
	
}
#menu .menu {
    position:absolute;
    padding-left: 10px;
    
}
#menu * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu li .parent{background:transparent url(../Images/arrow.gif) no-repeat scroll 90% center; z-index:10;  }
#menu a {
    display:block;
    white-space:nowrap;
}
#menu li {
    float:left;
    background:#fff;
}
#menu li li {
    float:none;
}
#menu ul ul{margin-left:0px;}
#menu div {
    visibility:hidden;
    position:absolute;
}
#menu div div {
    margin:-20px 0 0 -1px;
    left:100%;
}
#menu li:hover>div { visibility:visible; }
#menu a {
    text-decoration:none;
    position:relative;
    z-index:77;
}

#menu ul ul {width: 150px;}
#menu li li{
	  }
#menu li li a {
    position:static;
    white-space:normal;
    text-align: center;
    padding:0;
		text-transform:none;
		width: 100%;
}
#menu li li a:hover{
    position:static;
    white-space:normal;
    text-align: center;
    padding:0;
		text-transform:none;
		width: 100%;
	color:#fff;
	background:#94411f !important;
}
#menu li li:hover{
	color:#fff;
	background:#94411f !important;
}
