/*Start Slider Css*/
/*
* jQuery Nivo Slider v2.6
* http://nivo.dev7studios.com
*
* Copyright 2011, Gilbert Pellegrom
* Free to use and abuse under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* Customized and introduced by http://www.shareallworld.info
* March 2010
*/
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.6; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:10px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
	display:none;
}
.nivo-directionNav a, .nivo-directionNav a:hover {
	position:absolute;
	top:50%;
	width: 19px;
	height: 24px;
	text-indent: -9999px;
	z-index:9;
	cursor:pointer;
	background-image: url(../Images/arrows.png);
	background-repeat: no-repeat;
}
.nivo-prevNav {
	left: 10px;
	background-position: 0 0;
}
.nivo-nextNav {
	right: 10px;
	background-position: 100% 0;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	width: 55%;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: right;
	padding: 5px 0;
	z-index: 999;
	text-indent: -99999px;
}
.nivo-controlNav a {
	transition:none;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	cursor:pointer;
	display:inline-block;
	width:12px;
	height:12px;
	padding: 0;
	border:0;
	margin: 0 2px;
	color: #010101;
	text-align: center;
	background: url(../Images/colorful_circle_icon_backgrounds_wordpress.png) 0 0 no-repeat;
}
.nivo-controlNav a.active, .nivo-controlNav a:hover {
	text-decoration: none;
	background-position: -69px 0;
	color: #1037b9;
}
/*
Skin Name: Pascal Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A nice, light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Pascal Gartner
Author URI: http://dev7studios.com
Developer: http://www.shareallworld.info
*/

.theme-pascal {
	float: left;
	width:980px;
	height:400px;
	position:relative;
	z-index: 1;
	padding: 5px;
	margin: 10px 0;
	background: #FFFFFF;
	-moz-box-shadow: 0px 0px 10px #727272;
	-webkit-box-shadow: 0px -0px 10px #727272;
	box-shadow: 0px 0px 10px #727272;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.theme-pascal .nivoSlider {
	position:relative;
	width:100%;
	height:100%;
}
.theme-pascal .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	width:100%; /* Make sure your images are the same size */
	height:100%; /* Make sure your images are the same size */
}
.theme-pascal .nivo-directionNav a {
	display:block;
}
/*Collectible*/
.theme-pascal-collectible {
	width: 550px;
	height: 800px;
}
