/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
@font-face {
 font-family: 'UVNPhuongTayRegular';
 src: url('../Images/font/uvnphuongtay.eot');
 src: url('../Images/font/uvnphuongtay.eot') format('embedded-opentype'),  url('../Images/font/uvnphuongtay.woff') format('woff'),  url('../Images/font/uvnphuongtay.ttf') format('truetype'),  url('../Images/font/uvnphuongtay.svg#UVNPhuongTayRegular') format('svg');
}
body#bd {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
	background: url(../Images/bg.jpg) 0 0 repeat-x;
	background-attachment: fixed;
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
	clear: both;
}
img {
	border: none
}
h1 {
	font-size: 15px;
}
h2 {
	font-size: 14px;
}
ul {
	list-style: none;
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	line-height: 150%;
}
.clear {
	clear: both;
}
.img_general {
	float: left;
	background: #FFFFFF;
	border: 1px solid #ebd46b;
	padding: 4px;
	margin-right: 10px;
	position: relative;
}
.inputbox {
	border: 1px solid #929292;
	height: 21px;
	line-height: 21px
}
.link_title {
	color: #ff5401
}
/* WRAPPER --------*/

#wrapper {
	float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.page_inner {
	width: 990px;
	pading: 0;
	margin: 0 auto;
}
.top_page {
	float: left;
	width: 100%;
	position: relative;
}
/* LAYOUT

--------------------------*/
.main {
	float: left;
	margin: 0 auto;
	display: block;
	width: 100%;
	clear: both;
	background: #f8ffd4;
}
.left_content {
	float: left;
	width: 220px;
	margin: 10px 0 0 10px;
	padding: 10px;
	background: #fcfcec;
}
.main_content {
	float: right;
	width: 720px;
	padding: 10px;
}
/* HEADER

--------------------------*/

.header {
	position: relative;
	z-index: 10;
}
.logo {
	float: left;
	display: block;
}
.slogan {
	float: left;
	margin-left: 20px
}
/*Support*/
.support_head {
	position: fixed;
	top: 18%;
	right: 0;
	z-index: 9999;
}
.title_support {
	display: block;
	position: absolute;
	right: -1px;
	width: 39px;
	height: 36px;
	padding: 9px;
	border: 1px solid #f2dda5;
	background: #FFFFFF url(../Images/icon.png) 10px -17px no-repeat;
	-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.support_bg {
	display: block;
	position: absolute;
	top: 2px;
	right: -230px;
	width: 200px;
	padding: 10px;	
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	-moz-box-shadow: -2px 1px 5px #888888;
	-webkit-box-shadow: -2px 1px 5px #888888;
	box-shadow: -2px 1px 5px #888888;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
}
.support_head:hover .support_bg {
	-moz-transform: translateX(-130%);
	-o-transform: translateX(-130%);
	-webkit-transform: translateX(-130%);
	transform: translateX(-128%);
}
.hotline_head {
	font-size: 13px;
	font-weight: 700;
}
.optionSupport { font-weight: 700; text-transform: uppercase; }
.hotline_icon {
	background:  url(../Images/icon.png) -40px -24px no-repeat;
	float: left;
	height: 11px;
	margin: 2px 5px;
	width: 17px;
}
.yahoo {
	float: left;
	display: block;
	margin: 10px 0 0 20px;
}
.yahoo span {
	color: #8f8f8f;
	font-size: 11px;
}
.yahoo a {
	display: inline-block;
	width: 70px;
	margin-top: 5px;
	margin-right: 15px;
}
.tip {
	z-index: 999999999;
}
.tip:before, .tip:after {
	content: '';
	width: 0px;
	height: 0px;
}
.tip:before {
	border-bottom:10px solid transparent;
	border-top:12px solid transparent;
	border-left:10px solid #c1c1c1;
	position: absolute;
	top: 2px;
	left: 100%;
	z-index: 1;
}
.tip:after {
	border-bottom:8px solid transparent;
	border-top:8px solid transparent;
	border-left:9px solid #FFFFFF;
	position: absolute;
	top: 5px;
	left: 100%;
	z-index: 2;
}
/*Social Network*/
.socilal_network {
	float: right;
	clear: right;
	margin-top: 35px;
}
.socilal_network span {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-image: url(../Images/icon.png);
	background-repeat: no-repeat;
	padding-right: 2px;
}
.socilal_network a:hover {
	text-decoration: none
}
.icon_facebook {
	background: url(../Images/icon.png) 0 -75px no-repeat;
}
.icon_twitter {
	background: url(../Images/icon.png) -32px -75px no-repeat;
}
.icon_gplus {
	background: url(../Images/icon.png) -64px -75px no-repeat;
}
.icon_p {
	background: url(../Images/icon.png) -93px -75px no-repeat;
}
.icon_linkedin {
	background: url(../Images/icon.png) -126px -75px no-repeat;
}
.icon_youtube {
	background: url(../Images/icon.png) -157px -75px no-repeat;
}
.facebook_cn a:hover {
	text-decoration: none
}
/* SEARCH */
.search {
	float: right;
	clear: right;
	width: 230px;
	height: 27px;
	position: relative;
	top: 20px;
	right: 0;
	background: #FFFFFF;
	display: block;
	border: 1px solid #f2dda5;
	background: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.input_Search {
	float: left;
	color: #000000;
	background: #FFFFFF;
	font: 14px Arial;
	height: 27px;
	padding: 0 5px;
	line-height: 27px;
	width: 205px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
}
.search_btn {
	background: url(../Images/icon.png) 0 0 no-repeat;
	border: medium none;
	cursor: pointer;
	height: 19px;
	padding: 0;
	width:19px;
	position: absolute;
	top: 4px;
	left: 210px;
}
/*Categories Index*/
.categories_index {
	float: left;
}
.categories_index .cate_li {
	float: left;
	width: 455px;
	text-align: left;
	margin: 10px 20px 20px 20px;
	height: 335px;
	overflow: hidden;
}
.cate_name {
	height: 40px;
	overflow: hidden;
	line-height: 25px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background: url(../Images/bg_repeat.png) 0 -58px repeat-x;
	color: #d84903;
	text-align: left;
	font: normal 24px 'UVNPhuongTayRegular';
}
.categories_index .short_des {
	font-size: 14px;
	font-weight: 500;
	text-align: justify;
	margin: 5px 0;
	line-height: 140%;
}
/*News index*/
.news_hot {
	margin-bottom: 10px
}
.news_hot .title_news a {
	font-style: italic;
	font-weight: 700
}
.news_hot .short_des {
	height: 80px;
	overflow: hidden;
	line-height: 140%
}
.news_hot .view_detail {
	float: left;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	background: url(../Images/arrows.png) 0 -57px no-repeat;
	height: 30px;
	line-height: 30px;
	color: #ff8a00;
	padding-left: 10px;
}
#news_index {
	float: left;
	width: 100%;
}
#news_index li {
	float: left;
	padding: 0;
	position: relative;
	margin: 4px 0;
}
#news_index li a {
	display: block;
	font-weight: 500;
	line-height: 20px;
	padding-left: 20px;
	background: url(../Images/bullets.png) 5px 6px no-repeat;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*Tab*/
.box {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}
.box_content {
	padding: 10px;
	position: relative;
}
.right_content .box_content {
	padding: 4px;
	margin: 0
}
/*Tab*/
.box_Tab {
	height: 30px;
	overflow: hidden;
	line-height: 30px;
	margin-bottom: 10px;
	background: url(../Images/bg_repeat.png) 0 -70px repeat-x;
	color: #d84903;
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
}

/*Slide*/
#slider_menu {
	float: left;
	width: 100%;
	padding-bottom: 20px;
	position: relative;
	z-index: 5;
	background: #f8ffd4;	
}
#slider_menu .cate_name {
	padding-left: 10px
}
#slider_menu .title_menu { position: absolute; left: 9px; bottom: 9px; background: #000000; opacity: 0.6; color: #FFFFFF; width: 190px; display: block; padding: 5px; text-align: center; font-weight: 500 }
#slider_menu img {
	min-width: 200px;
}
/*------------------------------------------------------*/			
.jcarousel-skin-tango {
	padding: 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding: 0;
	width: 100%;
}
.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: auto;
	width: 95%;
	height: 220px;
	margin: 0 auto;
	padding: 0;
}
#slider_partners .jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 100%;
	height: 100%;
	margin: 10px auto
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 20px;
	border: 1px solid #fff185;
	background: #FFFFFF;
	padding: 9px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 200px;
	position: relative;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
}
#slider_menu .jcarousel-skin-tango .jcarousel-next-horizontal {
	background: url(../Images/arrows.png) no-repeat scroll 100% -26px;
	cursor: pointer;
	height: 32px;
	position: absolute;
	right: -18px;
	top: 40%;
	width: 32px;
	z-index: 10;
}
#slider_menu .jcarousel-skin-tango .jcarousel-prev-horizontal {
	background: url(../Images/arrows.png) no-repeat scroll 0 -26px;
	cursor: pointer;
	height: 32px;
	position: absolute;
	top: 40%;
	left: -18px;
	width: 32px;
	z-index: 10;
}
/*Vertical menu*/
#vertical_menu {
	width: 208px;
	padding: 0;
	border-bottom: none;
}
#vertical_menu {
	list-style: none outside none;
	width: 100%;
}
#vertical_menu li {
	position: relative;
}
#vertical_menu li a {
	display: block;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	line-height: 20px;
	color: #333333;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 8px 0;
	border-bottom: 1px solid #dbdbdb;
}
#vertical_menu li ul {
	display: block;
	width: 100%;
}
#vertical_menu li li a {
	text-transform: none;
	color: #333333;
	font-weight: 500;
	border-bottom: none;
	padding: 6px 0 6px 15px;
	border-bottom: 1px solid #dbdbdb;
	background: url(../Images/arrows.png) no-repeat scroll 3px -58px transparent;	
}
#vertical_menu li.vl {
	border: none;
}
/*Pagination*/
.navigation {
	float: left;
	font-weight: bold;
	margin: 0 auto 10px auto;
	padding: 0;
	height: 30px;
	margin-top: 10px;
	text-align: right;
	width: 100%;
}
.navigation a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 2px;
	padding: 5px 10px;
	color: #FFFFFF;
	background: #868686;
}
.navigation b, .navigation a:hover {
	background: #ff8a00;
	color: #FFFFFF;
	margin: 0 2px;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}
/*News*/
#list_news {
	width: 100%;
}
#list_news ul {
	padding: 0 10px;
}
#list_news ul li {
	border-bottom: 1px dotted #3F7100;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news .view_more {
	float: right;
	padding: 0 10px;
	margin-top: 10px;
	font-size: 11px;
	font-weight: 700;
	line-height: 25px;
	background: url(../Images/bg_repeat.png) 0 -44px repeat-x;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #FFFF00;
}
#list_news .h2Title {
	padding: 0 0 3px 0;
}
#list_news p {
	margin: 0 0 1em 0;
	color: #3e3e3e;
	line-height: 150%
}
#list_news img {
	border: 1px solid #dbdbdb;
	padding: 4px;
}
#list_news .view_detail {
	float: right;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-transform: capitalize;
	background: url(../Images/arrows.png) 0 -57px no-repeat;
	height: 30px;
	line-height: 30px;
	color: #ff8a00;
	padding-left: 10px;
}
#detail_page {
	padding: 10px;
}
.shortcode-onehalf {
	float: left;
}
.hiTitle {
	font: bold 20px Arial, Helvetica, sans-serif;
	color: #FF0C00;
}
.date {
	color: #878787;
	font: 11px Arial;
}
.detail_info {
	float: left;
	width: 100%;
}
#detail_page p {
	margin: 5px 0
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3 -moz-use-text-color;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	color: #333333;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 5px 0;
}
.other_news_sub a {
	background: url(../Images/bullets.png) no-repeat scroll left 3px transparent;
	padding-left: 15px;
}
.view_all {
	float: left;
	background: none !important;
	margin-top: 10px;
	text-align: right;
	text-decoration: underline;
	font-size: 11px;
	color: #FF0C00;
}
.path {
	float: left;
	width: 99%;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 11px;
	font-weight: 700;
	text-align: left;
	text-transform: none;
	background: #fcfcea;
}
/*Albumn_images*/
#albumn_images { margin-left: -30px; }
#albumn_images li { float: left; width: 210px; margin: 0 0 10px 30px; background: url(../Images/shadow.png) 100% 100% no-repeat; padding-bottom: 14px; text-align: center; }
#albumn_images .img_albumn { background: #FFFFFF; padding: 4px; border: 1px solid #ebd46b }
#albumn_images li .title_albumn { height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 5px 0; }
/*Footer*/
.footer {
	float: left;
	width: 100%;
	margin: 0 auto;
	border-top: 1px dashed #c8af04;
	background: #f8ffd4;
	font-size: 12px;
}
.footer_inner {
	padding: 10px
}
.footer a {
	color: #d84903
}
.footer p {
	margin: 0 0 5px 0
}
.info_company {
	float: left;
	width: 530px;
	color: #484848;
	font-size: 12px;
}
.footer_r {
	float: right;
	width: 440px;
	text-align: right
}
.footer .menu_footer {
	height: 25px;
	line-height: 25px;
}
.footer .menu_footer a {
	font-size: 11px;
	font-weight: 700;
	padding-left: 10px;
	line-height: 20px;
	font-weight: bold;
	color: #d84903;
}
.footer .visitors {
	float: right;
	clear: right;
	background: #FFFFFF;
	padding: 10px;
	border: 1px solid #f2dda5;
	margin: 5px 0;
}
.footer .copyright {
	float: left;
	width: 100%;
	margin: 0;
	padding: 8px 0 12px 0;
	font-size: 11px;
}
/*Email*/
div.row {
	float: left;
	margin: 5px 0;
	position: relative;
	width: 100%;
}
.col1 {
	float: left;
}
.left_col {
	display: block;
	margin-right: 5px;
	text-align: left;
	width: 49%;
}
div.row1 {
	float: left;
	margin: 10px 0;
	width: 100%;
}
.left_col1 {
	display: block;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
	width: 25%;
	font-size: 11px;
}
.right_col1 {
	display: block;
	text-align: left;
	width: 70%;
}
.right_col1 input {
	border: 1px solid #D9D6D6;
	font: 12px Tahoma;
	height: 15px;
	padding: 4px;
	width: 280px;
}
.p_title {
	float: left;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0 0 10px;
}
.button {
	margin: 5px auto;
	display: inline-block;
}
span.required {
	color: #FF0000;
	left: 5px;
	margin-right: 5px;
	position: relative;
}
.buttonE {
	margin: 5px auto;
	display: inline-block;
}
/*-----------------------------Pop Up--------------------------------*/
.block {
	clear: both;
	margin: 0 0 5px;
	width: 100%;
}
.p_title {
	float: left;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 0 0 10px;
}
div.row {
	float: left;
	width: 100%;
}
.col {
	float: left;
}
span.required {
	color: #FF0000;
	left: 5px;
	margin-right: 5px;
	position: relative;
}
.left_col {
	color: #000000;
	display: block;
	line-height: 25px;
	margin-right: 10px;
	text-align: right;
	width: 30%;
}
.right_col {
	display: block;
	text-align: left;
	width: 68%;
}
div.right_col * {
	float: left;
	margin-top: 2px;
	width: 280px;
}
.right_col input {
	border: 1px solid #D9D6D6;
	font: 12px Tahoma;
	padding: 4px;
	width: 280px !important;
}
.right_col input {
	height: 15px;
}
.note {
	font: 11px Tahoma;
	padding-left: 25%;
}
.toolbar a.button {
	background: none repeat scroll 0 0 transparent;
	float: left;
	margin: 10px 0 10px 35%;
}
.toolbar .close a.button {
	background: none repeat scroll 0 0 transparent;
	float: right;
}
.boderss {
	border: 1px solid #D9D6D6;
	padding: 5px 5px 0px 5px;
}
