/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/*Macbook pro 1440x900*/
/*================================================== */
 @media only screen and (min-width: 1366px) and (max-width: 1440px) {
}
/*Some laptop 1366x768*/
/*================================================== */
 @media only screen and (min-width: 1280px) and (max-width: 1366px) {
}
/*Macbook air 1280x800*/
/*================================================== */
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {
}
/*Most netbook 1024x600*/
/*================================================== */
 @media only screen and (min-width: 960px) and (max-width: 1199px) {
 #news .four.columns {
width: 33.3%
}
 .post:nth-child(4n+1) {
clear: none
}
 .post:nth-child(3n+1) {
clear: both
}
}
/*Most Ipad 1024x768*/
/*================================================== */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
.top_products .three.columns {
width: 31.25%
}
.top_products .thirteen.columns {
width: 68.75%;
}
.list_products_page .item_P.one-third.column {
width: 50%
}
.img_dtp_P.seven.columns, .dtp_product.nine.columns {
width: 100%
}
.zoom-section .mousetrap {
 display:none;
}
.zoom-section {
margin-right: 0
}
}
/*IPhone 4 960x640*/
/*================================================== */
 @media only screen and (max-width: 960px) {
.list_products .item_P.four.columns {
width: 33.3%
}
}
/*Google nexus one 4 800x480*/
/*================================================== */
 @media only screen and (max-width: 1199px) {
 #ads_top_main, .left_nav {
height: auto;
margin-top: 5px
}
}
 @media only screen and (max-width: 767px) {
body {
 font-size: 110%;
}
.fullsize {
width: 100% !important
}
.inner_side {
padding: 0
}
#logo {
margin: 0;
width: 100%;
text-align: center
}
#logo img {
max-height: 120px
}
#lang {
right: 5px
}
.list_products_page .item_P.one-third.column, .list_products .item_P.four.columns {
width: 50%
}
.img_dtp_P.seven.columns {
width: 43.75%
}
.dtp_product.nine.columns {
width: 56.25%
}
 .zoom-desc {
 padding: 10px 35px;
}
}
@media only screen and (max-width: 639px) {
.img_dtp_P.seven.columns, .dtp_product.nine.columns {
width: 100%
}
.zoom-section .mousetrap {
 display:none;
}
.zoom-section {
margin-right: 0
}
.zoom-desc {
 padding: 10px 55px;
}
}
/*Meizu M8 one 4 720x480*/
/*================================================== */
 @media only screen and (min-width: 480px) and (max-width: 767px) {
/*Toolbar*/
a.print {
 background-position: 0 5px;
}
a.email {
 background-position: 0 -29px;
}
a.opinion {
 background-position: 0 -69px;
}
 #outter_print {
width: 92%
}
.print_ct img {
max-width: 100%;
height: auto
}
}
/*IPhone 3G 480x320*/
/*================================================== */
 @media only screen and (max-width: 480px) {
.fullsize480 {
width: 100% !important
}
.item_P.four.columns, .list_products_page .item_P.one-third.column, .list_products .item_P.four.columns {
width: 100%
}
.list_products, .list_products_page, .product {
margin-left: 0
}
.product h2 a {
width: auto;
white-space: normal
}
.img_news img {
width: 100%;
margin-right: 0;
margin-bottom: 10px
}
.sl_products .product .img_product {
	height: 160px
}
.like_face, .toolbar {
float: none;
clear: both;
margin: 8px 0 5px 0;
text-align: center
}
}

/*Mobile*/
/*================================================== */
 @media only screen and (max-width: 320px) {
body {
overflow-x: hidden
}
.modalPopup {
 width: 92% !important;
 height: 100%;
 overflow: auto
}
.blockcontent1 {
padding: 10px
}
.blockcontent1 .col1 {
width: 90%;
margin: 0;
text-align: left
}
.blockcontent1 input, .blockcontent1 textarea {
width: 100% !important
}
}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove  
		comment brackets */
