/* COMMON STYLE

--------------------------------------------------------- */

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font: normal 13px/1.5 Arial, Helvetica, sans-serif;
	color:#222222;
	background: #eaeaea url(../Images/bg.jpg) center 0 repeat-y;
}
@font-face {
 font-family: 'Avo Regular';
 src: url('../Images/Fonts/utm_avo-webfont.eot');
 src: url('../Images/Fonts/utm_avo-webfont.eot?#iefix') format('embedded-opentype'), url('../Images/Fonts/utm_avo-webfont.woff2') format('woff2'), url('../Images/Fonts/utm_avo-webfont.woff') format('woff'), url('../Images/Fonts/utm_avo-webfont.ttf') format('truetype'), url('../Images/Fonts/utm_avo-webfont.svg#utm_avoregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
a {
	text-decoration: none;
	color: #0373bb;
}
a:hover {
	color: #000000
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle;
	max-width: 100%;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.img_general {
	float: left;
	margin-right: 10px;
}
.fl {
	float: left
}
.fr {
	float: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
	-ms-transform: All 0.3s ease-out;
}
.list_ul li {
	float: left;
	width: 100%;
	margin: 2px 0
}
.name_web {
	text-indent: -9999px;
	visibility: hidden;
	height: 0
}
.btn_web {
	display: block;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
	background-color: #1293e6;
 *background-color: #067ecc;
	background-image: -moz-linear-gradient(top, #1293e6, #067ecc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1293e6), to(#067ecc));
	background-image: -webkit-linear-gradient(top, #1293e6, #067ecc);
	background-image: -o-linear-gradient(top, #1293e6, #067ecc);
	background-image: linear-gradient(to bottom, #1293e6, #067ecc);
	background-repeat: repeat-x;
	border-color: #0471b7 #0471b7 #0471b7;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#ff067ecc', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #0471b7;
	padding: 6px 10px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
}
.btn_web:hover {
	text-decoration: none;
	color: #ffffff;
	background: #067ecc;
 *background: #df8505;
}
.padd {
	padding: 10px
}
.nopadd {
	padding: 0
}
.inner_col {
	margin-left: 15px;
}
.shadowBg {
	width: 100%;
	height: 5px;
	background: url(../Images/shadowBg.png) 0 center no-repeat;
	margin: 10px 0
}
/* LAYOUT*/

.cf:after, .container:after, #header:after, #footer:after, #main:after, .box:after, .box_ct:after, #hot_news:after, .pagination:after, .shadowBg:after, .product_item:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#main {
	padding: 10px 0;
	background: url(../Images/mainBg.png) 0 0 repeat-y
}
/* HEADER*/
#header {
	margin-top: 25px;
	padding: 10px;
	background: #FFFFFF url(../Images/headerBg.jpg) bottom left repeat-x;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#logo, #text_logo {
	text-align: center;
}
#text_logo {
	margin: 0
}
#logo img, #text_logo img {
	max-width: 100%;
}
.head_hotline {
	position: absolute;
	right: 10px;
	top: 0;
	height: 40px;
	padding-left: 22px;
	background: url(../Images/phone_icon.png) 0 center no-repeat;
	font: 700 18px/40px 'Avo Regular', Helvetica, sans-serif;
	color: #fffc00;
	letter-spacing: 1px
}
/*Search Form*/
#search_form {
	position: relative;
	height: 40px;
	background: url(../Images/space_menu.gif) 0 center no-repeat
}
#search_form .search_icon {
	display: block;
	width: 38px;
	height: 38px;
	background: url(../Images/search_icon.png) center center no-repeat;
	cursor: pointer;
}
#dpop {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 8px;
	right: 0;
	height: 28px;
	z-index: -1;
}
.search_box {
	background: #025d97;
	float: right;
	width: 200px;
	position: relative;
}
#search_form .search_trans {
	opacity: 1;
	visibility: visible;
	left: auto;
	top: 40px;
	z-index: 5000;
}
.search_box .inputSearch {
	background: none;
	border: none;
	float: left;
	font-family: inherit;
	font: normal 12px Arial;
	padding: 7px 0;
	text-indent: 5px;
	width: 160px;
	color: #ffffff;
}
.search_box .submitSearch {
	display: block;
	background: url(../Images/search_icon.png) center center no-repeat;
	border: medium none;
	cursor: pointer;
	width: 21px;
	height: 27px;
	position: absolute;
	right: 1px;
	top: 1px;
	padding: 0 5px;
}
#search_form .close_search {
	background: #025d97 url(../Images/close_icon.png) center center no-repeat;
}
/*Box*/
.box {
	clear: both;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 6px;
	background: url(../Images/shadowBg1.png) bottom center no-repeat
}
#main_content .box {
	background: url(../Images/shadowBg.png) bottom center no-repeat
}
.box_ct {
	background: #f6f6f6
}
#main_content .box_ct {
	padding: 10px 0;
	background: #f8f8f8
}
/*Tab*/
.l_Tab {
	height: 34px;
	line-height: 34px;
	padding-left: 50px;
	background: #0072bc url(../Images/tabBg.png) 0 0 no-repeat;
	position: relative;
	color: #FFFFFF;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700
}
.l_Tab img {
	position: absolute;
	left: 10px;
	top: 10px;
}
.box_Tab {
	height: 34px;
	line-height: 34px;
	position: relative;
	color: #FFFFFF;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
}
#sidebar .box_Tab {
	padding-left: 40px;
	background: #0072bc url(../Images/tabBg.png) 0 0 no-repeat;
}
#main_content .box_Tab {
	padding-left: 15px;
	background-color: #0072bc;
	border-left: 2px solid #ff0000
}
/*Hot news*/
#hot_news {
	margin: 10px 0;
	padding-left: 10px;
}
#hot_news .tt_newsinfo {
	float: left;
	width: 120px;
	text-transform: uppercase;
	color: #ff0101;
	font-weight: 700
}
#hot_news #link_hotnews {
	margin-left: 130px
}
#hot_news #link_hotnews a {
	font-size: 1.1em;
	font-weight: 500;
}
/*Vertical menu*/
#left_nav {
	background: #f6f6f6 url(../Images/nav_lBg.jpg) right top repeat-y
}
#left_nav li {
	position:relative;
}
#left_nav a {
	text-decoration: none;
	display:block;
	padding: 6px 10px 6px 18px;
	font-size: 1em;
	color: #111111;
}
#left_nav > ul > li:not(:last-child) > a {
border-bottom: 1px dotted #7b7b7b;
}
#left_nav h2 {
	font-size: 1em
}
#left_nav > ul > li > a {
	background: url(../Images/arr_l.png) 6px 12px no-repeat
}
#left_nav > ul > li > ul {
	display: none;
	background: #f2f2f2
}
#left_nav li li a {
	padding-left: 20px;
	background: url(../Images/bullet.gif) 10px 12px no-repeat
}
#left_nav a.active, #left_nav a:hover {
	background-color: #e8e8e8;
}
/*Support Online*/
#support_online {
	padding: 10px 20px
}
#support_online .spp_item {
	display: block;
	margin: 5px 0;
	color: #0072bc;
	font-size: 1.1em;
}
#support_online .hotline {
	background: url(../Images/phone1_icon.png) 0 5px no-repeat;
	padding-left: 20px
}
#support_online .tt_spp {
	float: left;
	width: 80px
}
#support_online b {
	color: #ff0000;
	font: 700 14px "Avo Regular", Helvetica, sans-serif;
}
#support_online .nickchat a {
	display: inline-block;
	margin: 8px 5px 0 5px
}
/*Ads*/
.ads {
	text-align: center
}
.ads img:not(:last-child) {
margin-bottom: 5px
}
#visitors span {
	display: block;
	margin-bottom: 8px;
	background: url(../Images/arr_l.png) 0 5px no-repeat;
	padding-left: 12px
}
/*News Home*/
#news_home ul {
	padding: 10px 0
}
#news_home li {
	padding-bottom: 6px;
	margin-bottom: 8px;
	border-bottom: 1px dashed #c7c7c7
}
#news_home .img_news {
	float: left;
	width: 155px;
	margin-right: 10px;
	border: 1px solid #a0a0a0;
	padding: 1px;
}
#news_home .img_news img {
	width: 100%;
	height: auto;
	max-width: inherit
}
#news_home p {
	margin: 0.3em 0
}
/*List Products*/
.list_products {
	margin-left: -22px
}
.list_products li {
	margin: 10px 0;
}
.list_products .product_item {
	margin-left: 22px;
	position: relative;
	background: #f5f5f5
}
.list_products li:nth-child(4n+1) .product_item {
clear: both
}
.product_item .img_product {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 230px;
	height: 145px;
}
.product_item img {
	max-width: 230px;
	max-height: 145px
}
.product_item .product_name {
	font-size: 1em;
	padding: 8px;
	line-height:1.375
}
/*Detail Products*/
#img_dtp {
	position: relative;
	text-align: center;
}
.boxcenter {
	display: table;
	overflow: hidden;
	text-align: center;
}
.boxcenter .midd {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.pro_left .main_img {
	height: 300px;
	line-height: 1px;
	width: 100%;
	position: relative
}
.pro_left .main_img img {
	max-height: 300px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out 0s;
}
.pro_left .main_img a {
	display: block;
}
.pro_left .main_img a:hover {
	cursor: zoom-in
}
.pro_left #thumbnails_P {
	padding: 10px 0;
	position: relative
}
.pro_left .thumb a {
	display: table-cell;
	vertical-align: middle;
	width: 72px;
	height: 52px;
	text-align: center;
	border: 1px solid #c3c3c3;
}
.pro_left .thumb a.current, .pro_left .thumb a:hover {
	border-color: #02a1d5;
}
.pro_left .thumb img {
	max-width: 70px;
	max-height: 50px;
}
/*Pagination*/
.pagination {
	float: left;
	width:100%;
	margin: 10px 0;
	text-align: center;
	font-size: 0.9em
}
.pagination a {
	display: inline-block;
	padding: 3px 9px;
	margin: 0 3px;
	color: #000000;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
	border: 1px solid #cecccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pagination b, .pagination a:hover {
	display: inline-block;
	text-decoration: none;
	color: #053f7c;
	padding: 3px 9px;
	margin: 0 3px;
	background: #dcdcdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cecccc;
}
/*List News*/
#list_news li {
	border-bottom: 1px dotted #abacab;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}
#list_news .news_ct {
	margin-left: 155px
}
#list_news .title_news {
	font-size: 1em;
	margin-bottom: 5px;
}
#list_news .title_news a {
	color: #333333
}
#list_news p {
	font-size: 0.9em;
	line-height: 20px;
	margin: 0 0 1em 0;
	text-align: justify
}
#list_news .img_general {
	width: 150px;
	padding: 2px;
	background: #FFFFFF;
	-moz-box-shadow: 0px 0px 5px #d3d3d3;
	-webkit-box-shadow: 0px 0px 5px #d3d3d3;
	box-shadow: 0px 0px 5px #d3d3d3;
	height: auto;
	position: relative;
	overflow: hidden;
}
#list_news img {
	width: 100%;
	height: auto
}
#list_news .readmore_news {
	color: #FF0000;
	padding-left: 15px;
	background: url(../Images/arr_l.png) 8px 3px no-repeat;
	font-style: italic
}
/*Detail News*/
.title_page {
	font-size: 1.4em;
	font-weight: 700;
	color: #0072bc;
}
.info_g ul {
	margin-left: 20px
}
.info_g li {
	margin: 3px 0
}
/*Detail News*/
.info_g {
	line-height: 160%;
}
.info_g .date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	float: left;
	margin: 10px 0;
	padding: 5px 0;
	width: 100%;
}
.like_face {
	float: left;
	padding: 0
}
.toolbar {
	float: right;
	padding: 0;
	margin-right: 15px;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 20px;
	padding-left: 20px;
}
a.print {
	background-position: 0 2px
}
a.email {
	background-position: 0 -36px
}
a.opinion {
	background-position: 0 -76px
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
	font-weight: 700;
	font-size: 13px;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub li {
	padding: 3px 0;
}
.other_news_sub li a {
	background: url(../Images/arr_l1.png) no-repeat scroll 0 4px transparent;
	padding-left: 15px;
	color: #222222
}
.other_news_sub .view_all {
	position: relative;
	float: left;
	margin: 10px;
	color: #ea360d !important;
	text-decoration: underline
}
/*Path*/
.path {
	text-align: left;
	text-transform: none;
	font-size: 90%;
	font-weight: 500;
	margin-bottom: 10px;
}
/*Footer*/
#footer {
	padding: 20px 0;
}
#footer p {
	margin: 0 0 0.2em 0
}
/*Social Network*/
#social_network {
	margin-bottom: 10px
}
#social_network span {
	display: inline-block;
	width: 31px;
	height: 30px;
	margin-left: 6px;
	margin-top: 5px;
	background-image: url(../Images/social_icon.png);
	background-repeat: no-repeat;
}
.icon_facebook {
	background-position: 0 0
}
.icon_glus {
	background-position: -75px 0
}
.icon_youtube {
	background-position: -38px 0
}
.icon_linkedin {
	background-position: -113px 0
}
