a{ text-decoration:none}
.imgDetail{ width:100%; float:left}
.infoDetail{ width:100%; float:left; margin-left:0}
.infoDetail h1{ border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px; margin:10px ;}
.innerInfoDetail{}
.shortInfo{ white-space:pre-line}
.btnGroup{ padding:5px; text-align:center}
.btnBuy{ background:#bbb; color:#000; font-size:1.3em; margin: 0 auto; margin-left:0; line-height:30px; width:150px}
.btnBuy a{  color:#000}
.priceGroup{padding:5px;}
.newPrice{ color:Red; font-size:1.2em;}
.oldPrice{ color:Gray; font-size:1em; text-decoration:line-through;}
              
.infoDetailMore{ width:100%; float:left; padding:10px 0px;}
.infoDetailMore h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin:0; padding-bottom:5px}
.innerInfoMore{ padding:10px}
.samePro{ width:100%; float:left; padding:10px 0px;}
.samePro h3{ font-weight:bold; font-size:1.1em;border-bottom:solid 1px #ddd; margin-bottom:10px; padding-bottom:5px}
.listProduct .productItem{ width:25%; float:left}
 @media (min-width:768px) 
 {
     .imgDetail{ width:45%; float:left}
     .infoDetail{ width:50%; float:left; margin-left:3%}
	 
 }
 @media (max-width:768px){
	 .listProduct .productItem{ width:50%}
 }
 @media (max-width:480px){
	 .listProduct .productItem{ width:100%}
 }
 
 .product{ padding:10px}
 .product:hover img{ opacity:0.8}
 .desProduct{  width:100%; float:left}
 .innerProduct{ position:relative; border:solid 1px #111;  text-align:left; padding:5px; background-color:#636250; overflow:hidden}
 .photoProduct{ text-align:center; border:solid 1px #fff}
 .product h2{ margin:0; padding:0; font-size:1em;overflow:hidden; margin-top:5px;letter-spacing:0px; word-spacing:-1px}  
 .product h2 a{ width:100%; float:left; color:#FFF; font-weight:normal;  text-overflow: ellipsis; white-space:nowrap; color:#FF0; text-transform:uppercase; overflow:hidden}   
 
 .photoProduct img{ max-width:100%; margin:0%; height:145px;}
 
 .indexPro .product{ padding:3px}