/* nav menu styles */
#nav { 
  display: block; 
  width: 100%;
  padding: 10px 0;
  margin: 0 auto; 
}

#nav > li { background: #c7eafb; /* Old browsers */
background: #c7eafb; /* Old browsers */
background: -moz-linear-gradient(left, #c7eafb 0%, #bee3f8 58%, #68a7d5 91%, #589ace 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c7eafb), color-stop(58%,#bee3f8), color-stop(91%,#68a7d5), color-stop(100%,#589ace)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #c7eafb 0%,#bee3f8 58%,#68a7d5 91%,#589ace 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #c7eafb 0%,#bee3f8 58%,#68a7d5 91%,#589ace 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #c7eafb 0%,#bee3f8 58%,#68a7d5 91%,#589ace 100%); /* IE10+ */
background: linear-gradient(to right, #c7eafb 0%,#bee3f8 58%,#68a7d5 91%,#589ace 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7eafb', endColorstr='#589ace',GradientType=1 ); /* IE6-9 */   
margin-bottom: 5px;
}
#nav > li > li { background: none; }
#nav > li > a { 
  display: block; 
  padding: 9px 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #005baa;
  text-decoration: none;
  background: url(../Images/arrow_left.png) 180px -40px no-repeat;
}
#nav > li > a:hover, #nav > li > a.open { 
  color: #005baa;
}
#nav li ul { display: none; background: #005baa; }

#nav li ul li a { 
  display: block; 
  background: none;
  padding: 8px 0px;
  padding-left: 10px;
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #000;
  border-bottom: 1px solid #FFFFFF;  
  background: url(../Images/arrow_left.png) 0 -16px no-repeat;
}
#nav li ul li a:hover {
  background: #394963 url(../Images/arrow_left.png) 0 14px no-repeat;
}