#menu{
	height:37px;
	position:relative;
    z-index:100;
	margin-left:0px;
	z-index:9999;
	width:100%;
	background:url(../Images/menu_bg.jpg) center repeat-x;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius: 5px;
	margin-top:10px;
}
#menu ul
{
	list-style:none;
	text-align:center;
	margin-left:10px;
}
#menu ul li{
	float:left;
	width:120px;
	padding-left:10px;
	height:30px;
	margin-left:2px;
	
}
#menu ul li a{
	color:#fff;
	line-height:35px;
	padding-left:0px;
	padding-right:10px;
	font-weight:bold;
	font-size:13px;
}
#menu ul li:hover{
	color:#fff;
	cursor:pointer;
	
}
#menu .menu {
    position:absolute;
    padding-left: 10px;
    
}
#menu * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu li {
    float:left;
	text-transform:uppercase;
}
#menu li #a-first{border-left:0;}
#menu li .parent{background:transparent url(../Images/down.gif) no-repeat scroll 90% center; z-index:10;  }
#menu a {
    display:block;
    white-space:nowrap;
	font-size:13px;
	font-weight:bold;
	padding-left:10px;
}

#menu li li {
    float:none;
	background:#fff;
	text-align:left;
	padding-left:10px;
	border-bottom:1px dotted #ccc;
}
#menu ul ul{margin-left:0px;}
#menu div {
    visibility:hidden;
    position:absolute;
}
#menu div div {
    margin:-20px 0 0 -1px;
    left:100%;
}
#menu li:hover>div { visibility:visible; }
#menu a {
    text-decoration:none;
    position:relative;
    z-index:77;
}

#menu ul ul {width: 150px; margin-left:0px; padding-left:0px;}
#menu li li{
	width:150px;
	padding-left:0px;
	  }
#menu li li a {
    position:static;
    white-space:normal;
    text-align: left;
    padding:0;
	text-transform:none;
	width: 100%;
	color:#00B623;
	font-weight:normal;
	padding-left:20px;
}
#menu li li a:hover{
    position:static;
    white-space:normal;
	text-transform:none;
	width: 100%;
	color:#333;

}
#menu li li:hover{


}
