@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	min-width: 1000px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #5b9f14;
}
.clear {
	clear: both;
	display: none;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.pagewrap {
	width: 1000px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
.clear {
	clear: both;
}
#top-page {
	background: #ffcc00 url(../Images/top_pageBg.jpg) top repeat-x;
	position: absolute;
	top: 0px;
	height: 202px;
	z-index: 0;
	bottom: -202px;
	width: 100%;
	left: 0;
}
#bottom-page {
	position: relative;
	margin-top: -120px;
	height: 120px;
	z-index: 0;
	width: 100%;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#c3c3c3), to(#aaaaaa));
	background-image: -webkit-linear-gradient(left, #c3c3c3, #aaaaaa);
	background-image: -moz-linear-gradient(left, #c3c3c3, #aaaaaa);
	background-image: -o-linear-gradient(left, #c3c3c3, #aaaaaa);
	background-image: linear-gradient(to bottom, #c3c3c3, #aaaaaa);
}
/*=====================header=====================*/
#header {
	height: 145px;
	width: 100%;
	position: relative;
	z-index: 1;
}
#logo {
	width: 278px;
	height: 114px;
	float: left;
	margin-top: 20px;
}
#logo img {
	height: 114px;
}
#company-name {
	font-size: 24px;
	color: #fff;
	padding-left: 0px;
	line-height: 0px;
}
#infor-header {
	float: right;
	height: 100%;
	width: 500px;
	text-align: right;
	text-align: right;
}
#top-link-header {
	text-align: right;
	width: 380px;
	;
	float: right;
	clear: both;
	height: 25px;
	font-size: 13px;
	margin-top: 10px;
	font-weight: bold;
}
#top-link-header ul {
	list-style: none;
	text-align: right;
}
#top-link-header li {
	text-align: center;
	width: 100px;
	border-left: solid 1px #fff;
	float: left;
}
#top-link-header a {
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
.link-header-index {
	border-left: none !important;
}
#dienthoai, #thanhtoan, #giaohang {
	float: left;
	width: 50%;
	height: 55px;
}
#thanhtoan span {
	background: url('../Images/icon.png') no-repeat scroll 0px -362px transparent;
	float: left;
}
#giaohang span {
	background: url('../Images/icon.png') no-repeat scroll 0px -423px transparent;
	float: left;
}
#dienthoai span {
	background: url('../Images/icon.png') no-repeat scroll -103px -362px transparent;
	float: left;
}
#dienthoai span, #thanhtoan span, #giaohang span {
	width: 60px;
	height: 43px;
	margin-top: 10px;
}
#dienthoai p, #thanhtoan p, #giaohang p {
	padding-left: 10px;
	color: #fff;
	float: left;
	width: 150px;
	font-size: 14px;
	text-align: left;
	margin-top: 20px;
}
p a {
	color: #fff;
}
#search span {
	background: url('../Images/search_icon.png') no-repeat;
	width: 30px;
	height: 30px;
	float: right;
}
#search {
	margin-top: 20px;
	float: left;
	width: 200px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	color: #060;
	padding-left: 10px;
	background: #fff;
	border: solid 1px #060;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 58px;
	border-radius: 5px;
}
#dienthoai p {
	font-size: 25px;
	line-height: 25px;
	color: red;
	padding-left: 0;
	margin-top: 20px;
}
/*=====================slide=====================*/
#slide {
}
/*=====================content=====================*/
#content {
	width: 100%;
	margin-top: 15px;
	background: transparent;
	float: left;	
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-bottom:20px;
	margin-top: 15px;
	background: #fff;
}

#pagewrap2 #content {
	background: transparent;
}
#content-detail {
	width: 100%;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	min-height: 600px;
}
#content-detail .box {
	float: left;
	background: #fff;
	border: solid 1px #CCC;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 20px;
	margin-top: 20px;
	box-shadow: 0 0 3px #666;
	-moz-box-shadow: 0 0 3px #666;
	-webkit-box-shadow: 0 0 3px #666;
}
.box img {
	width: 90%;
	padding: 20px;
}
}
#content-detail #box5 {
	width: 450px;
	height: 335px;
}
#content-detail #box3 {
	width: 450px;
	height: 210px;
	padding: 0px;
	text-align: center;
}
#content-detail #box2 {
	width: 500px;
	height: 335px;
	float: right;
}
#content-detail #box4 {
	width: 500px;
	height: 210px;
	padding: 0px;
	float: right;
}
#content-detail .box .top-box-index {
	width: 100%;
	height: 40px;
	border-bottom: solid 1px #ccc;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	font-weight: bold;
	color: #666;
	text-transform: uppercase;
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#content-detail .box .row {
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: green;
	width: 90%;
	border: 2px solid #0089E1;
	margin: 2px;
	margin-left: 20px;
	margin-top: 15px;
	box-shadow: 0 0 8px #ddd;
	-moz-box-shadow: 0 0 8px #ddd;
	-webkit-box-shadow: 0 0 8px #ddd;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#content-detail .box a {
	text-decoration: none;
	color: green;
	line-height: 30px;
	margin-top: 15px;
}
#content-detail .box .row:hover {
	box-shadow: 0 0 8px #000;
	-moz-box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
}
#content-detail .box .text-box-index #text-news {
	float: left;
	width: 73%;
	text-align: justify;
}
#content-detail .box .text-box-index img {
	float: left;
	width: 20%;
	padding: 10px;
}
.text-box-index .newsfirst {
	float: none;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
#content-detail .box .text-box-index #text-news a {
	color: #030;
}
#content-detail .box .text-box-index #text-news a:hover {
	color: #666;
}
#tinlienquan a {
	font-size: 12px !important;
	color: #063;
	line-height: 12px !important;
	margin-top: 5px;
}
#tinlienquan a:hover {
	color: red;
}
#silde-index-box {
	width: 450px;
	height: 335px;
}
/*#silde-index-box img{
	height:300px;
}*/
/*=====================side bar=====================*/

/*=====================footer=====================*/
#footer {
	height: 120px;
	text-align: left;
	width: 100%;
	position: relative;
	z-index: 999;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#c3c3c3), to(#aaaaaa));
	background-image: -webkit-linear-gradient(left, #c3c3c3, #aaaaaa);
	background-image: -moz-linear-gradient(left, #c3c3c3, #aaaaaa);
	background-image: -o-linear-gradient(left, #c3c3c3, #aaaaaa);
	background-image: linear-gradient(to bottom, #c3c3c3, #aaaaaa);
}
#footer .fcol {
	float: left;
	height: 100%;
	border-left: dotted 1px #fff;
}
#footer .fcol .text-footer {
	float: left;
	width: 50%;
	margin-left: 20px;
	margin-top: 10px;
}
#footer #fcol1 img{
	height:90px;;
	margin-top: 20px;
	margin-left: 20px;
	width:80%;
}
#footer .fcol #share-footer {
	float: right;
	width: 30%;
	margin-right: 20px;
	margin-top: 20px;
}
#footer .fcol .text-footer h3 {
	font-size: 15px;
	font-weight: bold;
}
#footer #fcol1 {
	border-left: none;
	width: 25%;
}

#fcol2 {
	width: 40%;
}
#fcol3 {
	width: 30%;
}
/*=====================btn=====================*/
.btn-order {
	text-align: center;
	width: 70px;
	height: 23px;
	font-size: 10px;
	margin-top: 5px;
	margin-left: 11px;
	color: #fff;
	float: left;
	line-height: 23px;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#ca9a17), to(#b48a13));
	background-image: -webkit-linear-gradient(left, #ca9a17, #b48a13);
	background-image: -moz-linear-gradient(left, #ca9a17, #b48a13);
	background-image: -o-linear-gradient(left, #ca9a17, #b48a13);
	background-image: linear-gradient(to bottom, #ca9a17, #b48a13);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#menu-footer {
	box-shadow: 0 0 3px #fff;
	-moz-box-shadow: 0 0 3px #fff;
	-webkit-box-shadow: 0 0 3px #fff;
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	height: 30px;
	margin-top: 50px;
	line-height: 30px;
}
#pagewrap2 {
	height: 600px;
}
#pagewrap1 {
	height: 200px;
}
#menu-footer ul {
	list-style: none;
}
#menu-footer ul li {
	float: left;
	width: 130px;
	text-align: center;
}
#menu-footer ul li a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.content-products {
	background: #fff;
	width: 100%;
	height: auto;
	min-height: 700px;
}
.content-products #linksp {
	width: 98%;
	text-align: right;
	clear: both;
	margin-left: 10px;
	margin-top: 10px;
}
.products-col1 {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 20px;
}
.content-products .products-col2 {
	width: 75%;
	height: 500px;
	float: left;
}
.products-detail-col2 h2, .content-products .products-col2 h2 {
	color: red;
	font-size: 18px;
	font-weight: none;
	border-bottom: dotted 1px #ccc;
	width: 95%;
	margin-left: 25px;
}
.products-detail-col2 h2 {
	margin-left: 0PX;
}
#page-number-pro {
	text-align: center;
}
#page-number-pro ul {
	list-style: none;
}
#page-number-pro ul li {
	float: left;
	background: #060;
	color: #fff;
	margin-left: 10px;
}
#page-number-pro ul li a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
}
/*=====================table=====================*/
.content-products .table .row {
	clear: both;
	height: 230px;
	margin-left: 0px;
	width: 100%;
	line-height: none;
}
.content-products .table .row a {
	font-weight: bold;
	color: #666;
}
.content-products .table .row .th {
	font-weight: bold;
	color: #930;
}
.content-products .table .row .col {
	float: left;
	text-align: center;
	border-bottom: dotted 1px #ccc;
	height: 100%;
	width: 28%;
	margin-left: 3%;
}
.content-products .table .row .col img {
	padding: 5px;
	border: solid 1px #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
/*=====================.products-detail=====================*/
.products-detail-col2 {
	width: 75%;
	float: right;
}
.products-detail-col2 .table {
	float: right;
	margin-right: 20px;
	width: 50%;
}
.products-detail-col2 .table #number-order {
	height: 30px;
}
.products-detail-col2 .table .row {
	clear: both;
	height: 20px;
	margin-left: 0px;
	width: 100%;
	line-height: 20px;
	;
	border: solid 1px #ccc;
}
.products-detail-col2 img {
	padding: 10px;
	border: solid 1px #ccc;
}
.products-detail-col2 .table .row .col {
	float: left;
	text-align: left;
	border-left: solid 1px #ccc;
	height: 100%;
	width: 55%;
	margin-left: 3%;
	padding-left: 10px;
}
.products-detail-col2 .table .row .th {
	font-weight: bold;
	color: #930;
	border-left: 0;
	width: 25%;
}
.btn-order a {
	color: #fff !important;
	text-decoration: none;
}
input[number-pro] {
	float: left;
	width: 20px;
}
#share-pro {
	padding-top: 10px;
	height: 50px;
	float: right;
	text-align: right;
}
#share-pro img {
	border: none;
}
#mota img {
	height: 300px !important;
}
input[type="text"] {
	margin-top: 3px;
	width: 100px;
	height: 20px;
	float: left;
	display: block;
	margin-bottom: 10px;
	background-color: #fff;
	border: solid 1px #ccc;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*=====================mota san pham=====================*/

#mota-chitiet .table {
	width: 98%;
	margin-left: 20px;
}
#mota-chitiet .table .row {
	width: 100%;
}
#mota-chitiet .table .row th {
	border: solid 1px #ccc;
	font-weight: bold;
}
#mota-chitiet .table .row .col {
	width: 17%;
	float: left;
	text-align: left;
	padding-left: 5px;
}
#mota-chitiet .table .row .fcol {
	border-left: none;
	width: 22%;
}
#mota-chitiet {
	width: 98%;
}

#mota-chitiet img{
	width:200px;
}
#cart img {
	height: 60px;
}
#cart a img{
	width:20px;
	height:20px;
}
#cart table {
	text-align: center;
}
#cart tr {
	border-left: solid #ca9a17 1px;
}
#cart td {
	border: solid #ca9a17 1px;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	border-top: 0;
	border-left: 0;
}
#cart .th>td {
	background: #ca9a17;
	color: #fff !important;
	height: 30px !important;
	font-weight: normal !important;
}
#cart .tdf {
	border-left: solid #ca9a17 1px;
}
#cart .btn a {
	text-decoration: none;
}
.div-btn-right{
	float:right;
	position:relative;
	right:0;
	margin-right:15px;
}
#cart .btn {
	text-align: center;
	width: 200px;
	height: 30px;
	font-size: 15px;
	margin-top: 5px;
	margin-left: 11px;
	color: #fff;
	float: left;
	line-height: 30px;
	float: left;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#ca9a17), to(#b48a13));
	background-image: -webkit-linear-gradient(left, #ca9a17, #b48a13);
	background-image: -moz-linear-gradient(left, #ca9a17, #b48a13);
	background-image: -o-linear-gradient(left, #ca9a17, #b48a13);
	background-image: linear-gradient(to bottom, #ca9a17, #b48a13);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#cart #sum {
	text-align: right;
	padding-right: 20px;
	color: red;
	font-size: 15px;
	font-weight: bold;
	widht: 98%;
	height: 30px;
	line-height: 30px;
}
/*DANH MUC*/

#danhmuc {
	width: 200px;
	margin-left: 20px;
}
#danhmuc #top-danhmuc {
	height: 30px;
	width: 100%;
	text-align: center;
	line-height: 30px;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#5E5852), to(#4C4742));
	background-image: -webkit-linear-gradient(left, #5E5852, #4C4742);
	background-image: -moz-linear-gradient(left, #5E5852, #4C4742);
	background-image: -o-linear-gradient(left, #5E5852, #4C4742);
	background-image: linear-gradient(to bottom, #5E5852, #4C4742);
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}
#danhmuc ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: solid 1px #ccc;
}
#danhmuc ul li {
	height: 30px;
	width: 100%;
	text-align: left;
	padding: 0px;
	line-height: 30px;
	background-image: -webkit-gradient(linear, left bottom, right bottom, from(#FBFBFB), to(#ccc));
	background-image: -webkit-linear-gradient(left, #FBFBFB, #ccc);
	background-image: -moz-linear-gradient(left, #FBFBFB, #ccc);
	background-image: -o-linear-gradient(left, #FBFBFB, #ccc);
	background-image: linear-gradient(to bottom, #FBFBFB, #ccc);
	margin: 0;
}
#danhmuc ul li a {
	padding-left: 20px;
	cursor: pointer;
	background: url(../Images/icon_cat.png) 10px center no-repeat;
	font-size: 13px;
}
#danhmuc img {
	width: 200px;
	padding-top: 20px;
}
/*==================new============================*/
.content-news {
	background: #fff;
}
.content-news h2 {
	color: red;
	font-size: 18px;
	font-weight: none;
	border-bottom: dotted 1px #ccc;
	width: 95%;
	margin-left: 25px;
	padding-top: 0px;
}
#news {
	margin: 10px;
	text-align: center;
	float: left;
}
.col2-news {
	width: 75%;
	float: right;
}
.img-news {
	float: left;
	width: 20%;
}
#news .boxnews {
	width: 90%;
	text-align: center;
	padding: 0px;
	margin-right: 10px;
	margin-left: 15px;
	clear: both;
	min-height: 150px;
	border-bottom: dotted 1px #666666;
}
#news .boxnews img {
	height: 90%;
	border: solid 1px #666666;
	padding: 5px;
	background: #fff;
	float: left;
	margin-top: 20px;
}
#news .boxnews h4, #news .box h4 a {
	font-size: 13px;
	color: #C60;
	text-decoration: none;
	line-height: none;
}
#news .boxnews .text-news {
	padding-left: 5px;
	text-align: justify;
	float: left;
	width: 75%;
	margin-left: 25px;
}
#news .boxnews .btn {
	width: 80px;
	background: #900;
	color: #fff;
	height: 20px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 58px;
	border-radius: 5px;
	margin-top: 10px;
	text-align: center;
}
#news .boxnews .btn a {
	color: #FFF;
	text-decoration: none;
	line-height: 20px;
}
#page-numbers {
	float: right;
	height: 50px;
	width: 400px;
	margin-left: 20px;
}
#page-numbers a {
	color: #930;
	float: left;
	padding: 5px;
	text-decoration: none;
}
#page-numbers a #next, #page-numbers a #prev {
	float: left;
	color: #FFF;
	background: #930;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: none;
}
#page-numbers a #last, #page-numbers a #fisrt {
	float: left;
	color: #FFF;
	background: #930;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: none;
}
/*==================new============================*/
/*==================new============================*/
#news-detail {
	margin: 15px;
	text-align: justify;
	line-height: 18px;
	margin-bottom: 20px;
	color: #333;
}
#news-detail #text-new-detail img {
	height: 230px;
	margin-left: 20%;
	border: solid 1px #666666;
}
#news-detail .share {
	height: 30px;
	margin-top: 10px;
}
#news-detail .share img {
	float: left;
	margin-top: 20px;
}
#news-detail .share #print {
	float: right;
}
#news-detail .share #social {
	float: left;
}
#news-detail .news-other {
	clear: both;
	margin-top: 20px;
	line-height: 20px;
}
#news-detail .news-other a {
	color: #930;
	text-decoration: none;
	font-weight: bold;
}
#news-detail .news-other date {
	font-size: 10px;
}
.content-news-detail {
	background-color: #fff;
}
