@charset "utf-8";
/* CSS Document */
html, body, fieldset {
	margin: 0;
	padding: 0;
	border: none
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/1.4 Arial, Helvetica, sans-serif;
	color: #000;
	outline-color: initial;
	outline-style: none;
	outline-width: initial;
	overflow-x: hidden;
	background: #fffcbd;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover, a span:hover {
	color: red;
}
* html .clearfix {
	height: 1%;
}
.cf {
	display: block;
	clear: both;
}
img {
	border: none;
	vertical-align: middle
}
/*img {
	max-width: 100%
}*/
h1 {
	font-size: 150%;
}
h2 {
	font-size: 125%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 90%;
}
ul, ol {
	list-style: none;
	list-style-position: inside
}
pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
input {
	border: none;
}
.fl {
	float: left
}
.fr {
	float: right
}
.alignl {
	text-align: left
}
.alignc {
	text-align: center
}
.alignj {
	text-align: justify
}
.alignr {
	text-align: right
}
.hidden {
	display: none;
}
.trans {
	transition: All 0.3s ease-out;
	-webkit-transition: All 0.3s ease-out;
	-moz-transition: All 0.3s ease-out;
	-o-transition: All 0.3s ease-out;
}
.w70 {
	width: 70% !important
}
.w75 {
	width: 75% !important
}
.w23 {
	width: 23% !important
}
.w80 {
	width: 80% !important
}
.w60 {
	width: 60% !important
}
.w65 {
	width: 65% !important
}
.w40 {
	width: 40% !important
}
.w30 {
	width: 30% !important
}
.w35 {
	width: 35% !important
}
.w50 {
	width: 50% !important
}
.w90 {
	width: 90% !important
}
.w100 {
	width: 100% !important
}
.w10 {
	width: 10% !important
}
.w20 {
	width: 20% !important
}
/*-----------------------------*/
 
/*-------------------------------*/
.container {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	overflow: hidden;/*	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac*/
}
.wrap {
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow: hidden;
	float: left;
}
#main {
	width: 99%;
	padding: 0.5%;
	float: left;
	background: #fff;
}
.inner_wrap {
	margin: 0 auto;
	position: relative;
	width: 1000px;
	overflow: hidden;
}
.wrap.wrap1 {
	overflow: initial !important;
}
.wrap.wrap1 .inner_wrap {
	overflow: initial !important;
}
.wrap.wrap2 .inner_wrap {
	color: blue;
	font-size: 130%;
	line-height: 43px;
}
.hotline {
	color: #007eff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	font-weight: bold;
	margin-left: 50px;
}
.wrap.wrap2 {
	background: #ffe400 url(../images/bg_top_main.png) left top no-repeat;
	min-height: 43px;
}
.wrap.wrap3 {
	background: url(../images/bg_footer.png) bottom repeat-x;
	min-height: 84px;
}
.wrap.wrap3 .inner_wrap {
	background: url(../images/img_copyright.png) bottom right no-repeat;
	min-height: 78px;
}
/*--------------------------*/
/* HEADER*/
/*--------------------------*/
header {
	padding: 0;
	min-height: 190px;
	position: relative;
	width: 100%;
	float: left;
	z-index: 999999999;
}
#logo {
	float: left;
	width: 20%;
}
#logo img {
	max-height: 100%;
	max-width: 100%;
}
.lang {
	position: absolute;
	top: 10px;
	right: 10px
}
.lang img {
	margin-right: 5px;
}
.lang a {
	margin-left : 5px;
	float: left;
	color: #fff
}
/*baner slider*/
.ads_top_slide {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-bottom: 7px;
}
.ads_top_slide img {
	max-width: 100%;
}
.baner {
	float: left;
	margin-top: 0px;
	height: 390px;
	margin-bottom: 0px;
	overflow: hidden;
	width: 98%;
	padding: 1%;
}
.b_slide {
	float: right;
	width: 70%;
	overflow: hidden;
}
.b_left {
	float: left;
	width: 29%;
	overflow: hidden;
}
.bl_item {
	width: 98%;
	margin: 0 1%;
	margin-bottom: 7px;
	text-align: center;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
	background: #ffe400;
}
.bl_item img {
	max-width: 100%
}
.inner {
	padding: 10px;
}
.khuyen_mai a {
	width: 100%;
	float: left;
	margin: 5px 0px;
	background: url(../images/bg_a_khuyenmai.png) 10px 5px no-repeat;
	color: #014e97;
	font-size: 105%
}
.khuyen_mai .inner {
	background: #fff;
	width: 95%;
	margin: 2.5%;
	float: left;
	padding: 0;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
/*-----------------------------------*/
/*SEARCH TOP*/
/*-----------------------------------*/
#search_form {
	height: 35px;
	position: absolute;
	float: left;
	background: url(../Images/bg_search.png) no-repeat 0 0;
	width: 252px;
	overflow: hidden;
	margin-left: 30px;
	top: 20px;
	right: 00px;
}
#search_form .inputSearch {
	background: none;
	border: none;
	color: #7B7B7B;
	float: left;
	font-family: Arial;
	line-height: 27px;
	width: 180px;
	padding: 0;
	text-indent: 10px;
	height: 33px;
}
#search_form .submitSearch {
	float: right;
	width: 70px;
	height: 33px;
	border: none;
	cursor: pointer;
	background: none;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
/*-----------------------------------*/
/*SEARCH TOP dropdown*/
/*-----------------------------------*/
#search_form_dropdown {
	height: 36px;
	position: relative;
	float: left;
	background: url(../images/btn_search_1.png) no-repeat;
	width: 170px;
	margin-left: 10px;
	top: 10px;
	z-index: 9999999;
}
#search_form_dropdown .search_box {
	position: absolute;
	top: 41px;
	left: -10px;
	padding: 15px 10px 10px;
	z-index: 9999;
	width: 200px;
	background: url('../Images/transBg.png') repeat scroll 0px 0px transparent;
	box-shadow: 2px 2px 5px #444;
	border-top: 5px solid #1492C2;
	display: none;
	text-align: center;
}
#search_form_dropdown #dpop {
	display: none;
	position: absolute;
	top: 40px;
	padding: 20px;
	margin-top: 5px;
	z-index: 9999;
	width: 250px;
	background: none repeat scroll 0% 0% #FFF;
	box-shadow: 2px 2px 5px #444;
	border-top: 5px solid #054D8C;
}
.trigger_search {
	width: 100%;
	float: left;
	height: 30px;
}
.icon_point {
	cursor: pointer;
	position: absolute;
	top: -24px;
	left: 45%;
	display: block;
	width: 37px;
	height: 20px;
	background: url('../Images/icon_point.png') no-repeat scroll 0px 0px transparent;
}
#search_form_dropdown .inputSearch {
	color: #000000;
	float: left;
	font: 13px Arial, Helvetica, sans-serif;
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 5px;
	margin: 0;
	min-width: 243px;
	border: none;
	border: none;
	background: #FFFFFF;
	border: 1px solid #dfdfdf;
	margin-bottom: 10px;
}
.dropdown_adv {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
	cursor: pointer;
	font-weight: normal;
	height: 32px;
	padding: 1px 3px 1px 1px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	position: relative;
}
.dropdown_adv select {
	height: 32px;
	line-height: 32px;
	padding: 5px;
	position: relative;
	width: 100%;
	z-index: 10;
	color: #555;
	border: 1px solid #DFDFDF;
}
#search_form_dropdown .search_icon {
	display: block;
	width: 100%;
	float: left;
	height: 30px;
	cursor: pointer;
}
#search_form_dropdown .submitSearch {
	margin-left: 25px;
	position: relative;
	z-index: 11;
}
#search_form_dropdown a {
	text-decoration: none;
	color: #333;
	transition: all 300ms ease-in-out 0s;
}
div.search_box .icon_search {
	border: medium none;
	cursor: pointer;
	display: block;
	width: 120px;
	line-height: 25px;
	background: #1492C2;
	color: #fff;
	margin: 10px auto 0 auto;
	position: relative;
	z-index: 10;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.sm_button {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.sub_Search {
	background: url(../Images/bg_repeat.png) 0 0 repeat-x;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	font: bold 15px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222222;
}
/*---------------------------------------------*/
/*visit*/
/*---------------------------------------------*/
.visit {
	color: #000;
	white-space: nowrap;
	float: right;
	font-style: italic;
}
.visit .soluong {
	text-align: left;
	font-weight: bold;
	line-height: 20px;
	padding-top: 6px;
	float: right;
	color: #000;
}
.visit b {
	font-style: normal;
	margin-left: 10px;
}
/*---------------------------------------------*/
/*box*/
/*---------------------------------------------*/
.box {
	float: left;
	clear: both;
	width: 99.8%;
	position: relative;
	margin-bottom: 10px;
	border: 1px solid #E9E9E9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.columns .box {
	width: 98%;
	margin: 1%
}
.box_ct {
	width: 99.9%;
	float: left;
}
.box_Tab {
	height: 40px;
	line-height: 40px;
	padding-bottom: 0;
	background: #E99C06;
}
.box_Tab span {
	color: #fff;
	text-transform: uppercase;
	padding-left: 10px;
	overflow: hidden;
	font-size: 120%
}
.box_Tab.title {
	border-bottom: 2px solid #458306;
	padding: 0;
}
.box_Tab.title span {
	padding-bottom: 1px;
}
.box_tab_s {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	background: #FFE400; /* Old browsers */
	background: -moz-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFE400), color-stop(100%, #FEB620)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFE400 0%, #FEB620 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE400', endColorstr='#FEB620', GradientType=0 ); /* IE6-9 */
	border-top: none !important;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	letter-spacing: 0px;
	word-spacing: 2px;
	height: 35px;
	padding: 0;
	float: left;
	width: 100%
}
.box_tab_s span {
	width: 100%;
	float: left;
	margin: 10px 0px;
	white-space: nowrap
}
.box_tab_1 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	background: #FFE400; /* Old browsers */
	background: -moz-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFE400), color-stop(100%, #FEB620)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFE400 0%, #FEB620 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE400', endColorstr='#FEB620', GradientType=0 ); /* IE6-9 */
	border-top: none !important;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	letter-spacing: 0px;
	word-spacing: 2px;
	height: 35px;
	padding: 0;
	float: left;
	width: 100%
}
.box_tab_1 span {
	float: left;
	margin: 10px 0px;
	white-space: nowrap;
	text-align: left;
	margin-left: 20px;
}
.box_tab_2 {
}
.box_tab_2 span {
}
/*---------------------------------------------*/
/*---------------------------------------------*/
/*view_all*/
/*---------------------------------------------*/
.view_all {
	float: left;
	color: red;
	font-style: italic;
	text-decoration: underline;
	font-size: 12px;
	padding-right: 10px !important;
}
.view_all:hover {
	color: #000;
}
/*---------------------------------------------*/
/*Current Path*/
/*---------------------------------------------*/
.path {
	padding: 8px 0;
	text-align: left;
	margin: 5px 0px;
	background: #fafafa;
	border-top: solid 3px #FEB620;
}
.path, .path a {
	color: #FEB620;
	font-size: 95%;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
}
.path a:hover {
	text-decoration: underline !important;
	color: #F00;
}
.view_detail {
	color: #0B88B6;
	float: right;
	margin-right: 20px;
}
/*---------------------------------------------*/
/*Pagination*/
/*---------------------------------------------*/
.navigation_news {
	float: left;
	clear: both;
	font-weight: 700;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}
.navigation_news a {
	display: inline-block;
	margin: 0 1px;
	padding: 5px 10px;
	color: #fff;
	background: #FFE400;
}
.navigation_news b, .navigation_news a:hover {
	display: inline-block;
	background: #E99C06;
	color: #fff;
	margin: 0 1px;
	padding: 5px 10px;
	text-decoration: none;
}
.navigation_news a.pre {
	-webkit-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
}
.navigation_news a.next {
	-webkit-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
}
/*News*/

#list_news {
	width: 96%;
	padding: 1% 2%
}
#list_news ul li {
	border-bottom: 1px dotted #ccc;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
#list_news h3 {
	padding: 0 0 3px 0;
}
#list_news p {
	margin: 0 0 1em 0;
	line-height: 150%;
}
#list_news a img {
	border: 1px solid #e3e3e3;
	width: 20%;
	height: auto;
	float: left;
	padding: 1%;
}
#list_news .short_news {
	width: 75%;
	float: right
}
.box_news_index {
	padding: 10px;
}
.box_news_index li {
	width: 100%;
	float: left;
	padding-bottom: 0px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.box_news_index li:last-child {
	border-bottom: 0px;
}
.box_news_index li a {
	width: 30%;
	float: left;
}
.box_news_index li h3 a {
	width: 100%;
	float: left
}
.list_news .box_news_index a img {
	max-width: 95%;
	float: left;
	margin-bottom: 10px;
}
.list_news .box_news_index .date {
	width: 100%;
	float: left;
}
.list_news .box_news_index h3 {
	float: right;
	width: 100%;
}
.list_news .box_news_index .text {
	width: 70%;
	float: left;
}
.list_news .box_news_index h3 a {
	width: 100%;
	color: #0078d4;
	padding: 2px 0px;
	font-weight: bold;
}
.img_news {
	border: solid 1px #ccc;
	width: 25%;
	float: left;
}
.des_news {
	width: 70%;
	float: right;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
.function {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #e3e3e3;
	border-image: none;
	border-style: solid none;
	border-width: 1px medium;
	float: left;
	padding: 5px 0;
	width: 100%;
}
.like_product {
	float: left;
	padding: 0;
	width: 50px;
	height: 21px;
	width: 50%;
	cursor: pointer;
	margin-left: 5px;
	margin: 5px;
}
.like_face {
	float: left;
	height: 18px;
	padding: 0;
	width: 35%;
}
.toolbar {
	float: right;
	padding: 0;
	position: relative;
	text-align: left;
}
.toolbar a {
	background: url(../Images/toolbar.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	margin-left: 10px;
	padding-left: 20px;
}
#main_col .box_news_index li {
	width: 33.3%;
	float: left;
	border: 0;
}
#main_col .li_news {
	padding: 10px;
	overflow: hidden;
}
#main_col .inner_li_news {
	overflow: hidden;
}
#main_col .list_news .box_news_index h3 a {
	color: red
}
/*detail_news*/
#detail_news {
	width: 96%;
	padding: 1% 2%;
}
#detail_news h1 {
	font-size: 16px;
	font-weight: 700;
	color: #E99C06;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.date {
	color: #878787;
	font: 11px Arial, Helvetica, sans-serif;
}
#info_g, #info_g p {
	line-height: 160%;
	text-align: justify;
	width: 98%;
	margin: 1%;
}
a.print {
	background-position: 0 2px;
}
a.email {
	background-position: 0 -18px;
}
a.opinion {
	background-position: 0 -37px;
}
.other_news_sub {
	clear: both;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
}
.other_newsT {
	padding-bottom: 3px;
	margin: 10px 0;
	position: relative;
	border-bottom: 1px solid #ccc;
	font-weight: 500;
	font-size: 16px;
	color: #E99C06;
	font-weight: bold;
}
.other_news_sub ul {
	margin: 10px 0 0 10px;
}
.other_news_sub ul li {
	padding: 4px 0;
}
.other_news_sub a {
	background: url(../Images/arrow_l.png) no-repeat scroll 0 3px transparent;
	padding-left: 15px;
}
.other_news_sub a.view_all {
	margin-left: 10px;
	color: #E99C06;
	font-weight: bold
}
/*Detail Info*/
#dtp_info {
	position: relative;
	color: #333;
	float: right;
	width: 49%;
	margin: 0;
	margin-right: 1%;
}
#dtp_info h2 {
	margin: 2px 5px;
	border-bottom: #CCC 1px solid;
	font-size: 150%;
}
#dtp_info .row {
	width: 100%;
	float: left;
	padding: 5px;
	display: table-cell;
}
#dtp_info .row .lbl {
	float: left;
	margin-right: 5px;
}
/*-------------------------------------*/
/*Products */
/*-------------------------------------*/

.product_row {
	float: left;
	width: 99.8%;
}
.product_row ul {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}
.product_row li {
	float: left;
	width: 33.3%;
	margin-top: 10px;
}
.sidebar .product_row li {
	width: 100%;
}
.product_row li .product {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 10px
}
.product_row li .product_inner {
	overflow: hidden;
	text-align: center;
	border: solid 1px #E9E9E9;
	padding: 10px;
	 
}
.product_row li .product_inner:hover {
	border: solid 1px #FEB620;
	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac
}
#mycarousel_products .product_row li {
	width: 223px !important;
	float: left !important;
	margin: 0;
	padding: 0;
}
#the_same_P #mycarousel_products .product_row li {
	width: 220px !important;
}
.cart_top {
	position: absolute;
	width: 169px;
	height: 43px;
	background: url(../images/bg_cart.png) no-repeat;
	right: 1px;
	top: -5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 43px;
	z-index: 999;
	font-size: 13px;
}
.cart_top a {
	color: #fff;
}
.cart_top a:hover {
	color: #73B200;
}
.percent_sale {
	width: 100%;
	float: left;
	margin-top: 30%;
	color: #fff;
	font-weight: bold;
	font-size: 110%
}
.product_row img {
	text-align: center;
	margin-bottom: 0px;
	max-width: 100%;
}
.product_row a {
	font-weight: bold;
}
.product_row .price {
	color: #000;
	font-weight: 700;
	float: left;
	width: 100%;
}
.product_row .price b {
	color: red;
}
.img_pro {
	float: left;
	width: 100%;
	height: 180px;
	overflow: hidden;
	border: solid 1px #fff;
}
.img_pro a {
	text-align: center
}
.product_row li .product_inner h3 {
	width: 95%;
	float: left;
	height: 40px;
	margin: 0 2.5%;
	margin-top: 10px;
}
.product_row li .product_inner h3 a {
	font-size: 13px;
}
.des_product {
	width: 100%;
	overflow: hidden;
	border-top: 0px;
	position: relative;
	z-index: 10;
	padding-top: 10px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}
.txt_desc {
	width: 94%;
	margin: 2% 3%;
}
.product_row p {
	text-align: left;
	font-size: 110%;
	margin: 0;
	margin-bottom: 2px;
	padding-left: 10px;
}
.product_row .btn {
	text-align: center;
	float: right;
}
/*Chuyen muc*/
.ds_chuyen_muc {
	width: 100%;
	float: left;
}
.ds_chuyen_muc ul, .ds_chuyen_muc ul li {
	list-style: none
}
.ds_chuyen_muc li {
	float: left;
	width: 25%;
}
.ds_chuyen_muc li .chuyen_muc {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 10px;
}
.ds_chuyen_muc li .chuyen_muc_inner {
	overflow: hidden;
	text-align: center;
	padding: 5px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #ffe400;
	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac
}
.ds_chuyen_muc li .chuyen_muc_inner:hover {
}
.chuyen_muc_title {
	color: #007eff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
	text-transform: uppercase;
	font-size: 130%;
	text-align: center;
	background: url(../images/bg_box_tab.png) top repeat-x;
	line-height: 45px;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
.img_chuyen_muc {
	border: solid 5px #fff;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
.img_chuyen_muc img {
	max-width: 100%;
}
/*photos*/
.ds_boxphotos {
	width: 100%;
	float: left;
}
.ds_boxphotos ul, .ds_boxphotos ul li {
	list-style: none
}
.ds_boxphotos li {
	float: left;
	width: 50%;
}
.ds_boxphotos li .boxphotos {
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 10px;
}
.ds_boxphotos li .boxphotos_inner {
	overflow: hidden;
	text-align: center;
	padding: 5px;
}
.ds_boxphotos li .boxphotos_inner:hover {
}
.boxphotos_title {
	color: #007eff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
	text-transform: uppercase;
	font-size: 130%;
	text-align: center;
	background: url(../images/bg_box_tab_2.png) left no-repeat;
	width: 196px;
	height: 43px;
	line-height: 43px;
	float: left;
	margin-left: 30px;
}
.img_boxphotos {
	width: 100%;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #ffe400;
	float: left;
	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac;
}
.img_boxphotos_inner {
	margin: 5px;
	background: #fff;
	padding: 10px;
	border: solid 4px #FFD200;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;/*height:150px; overflow:hidden*/
}
.img_boxphotos_inner img {
	border: solid 1px #00F;
	margin: 10px;
	max-width: 95%;
}
.img_boxphotos_inner a {
	width: 20%;
}
.img_boxphotos_inner a iframe {
	max-width: 90%
}
/*Footer*/
.footer {
	width: 100%;
	float: left;
	position: relative;
	padding-bottom: 10px;
	text-align: left;
}
.address {
	width: 45%;
	float: left;
	margin: 10px;
}
.copyright {
	float: right;
	white-space: nowrap;
	position: absolute;
	bottom: 5px;
	right: 85px;
	color: #fff;
}
/*Social net work*/
.social_network {
	text-align: left;
	float: right;
}
.social_network a {
	float: left;
	width: 40px;
	height: 40px;
	background: url(../images/social_network.png) left center no-repeat;
	margin-left: 5px;
}
.social_network .facebook {
	background-position: left center;
}
.social_network .youtube {
	background-position: -80px center;
}
.social_network .gplus {
	background-position: right center;
}
.social_network .skype {
	background-position: -40px center;
}
.social_network .twitter {
	background-position: -160px center;
}
.social_network .pinteres {
	background-position: -120px center;
}
.social_network .wordpress {
	background-position: -200px center;
}
/*sidebar*/
.sidebar .box {
	border: 1px solid #E9E9E9;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin-top: 0;
}
.sidebar .box_ct {
	padding: 0px;
	padding-bottom: 0px;
}
.sidebar .ads {
	padding-bottom: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.sidebar .ads img, .sidebar img {
	border: 0;
	padding: 0;
	margin: 0;
	max-width: 100%
}
.sidebar .ads img {
	width: 100%
}
.sidebar .ads iframe {
	width: 100% !important;
	border: 0;
	padding: 0;
	margin: 0;
}
.sidebar .row {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.sidebar .col {
	float: left;
	width: 50%;
	text-align: center;
	vertical-align: middle;
}
.sidebar .col img {
	width: 96%;
	height: 22px;
}
.hotro {
	font-size: 110%;
	line-height: 20px;
}
.hotro b {
	color: yellow;
	font-size: 125%;
}
/*form contact*/
#contact {
	padding: 20px;
}
.contact_add {
	width: 50%;
	float: left
}
.form_contact .btn {
	text-transform: uppercase;
	border: 0;
	margin: 0;
	height: 35px;
	width: 100px;
	clear: both;
	cursor: pointer;
	border: solid 2px #CCC;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	background: #FFE400; /* Old browsers */
	background: -moz-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFE400), color-stop(100%, #FEB620)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFE400 0%, #FEB620 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFE400 0%, #FEB620 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFE400', endColorstr='#FEB620', GradientType=0 ); /* IE6-9 */
}
.form_contact .btn:hover {
	background: #006100; /* Old browsers */
	background: -moz-linear-gradient(top, #006100 0%, #028200 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006100), color-stop(100%, #028200)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #006100 0%, #028200 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #006100 0%, #028200 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #006100 0%, #028200 100%); /* IE10+ */
	background: linear-gradient(to bottom, #006100 0%, #028200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006100', endColorstr='#028200', GradientType=0 ); /* IE6-9 */
}
.map_gg {
	width: 98%;
	float: left;
	margin-top: 20px;
	min-height: 300px
}
.map_gg iframe {
	width: 98%;
	border: solid 1px #ccc;
}
.form_contact {
	width: 50%;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
}
.form_contact h2 {
	width: 100%;
	font-weight: bold;
	font-size: 110%
}
.form_contact .txt {
	margin: 3px 0px;
	width: 100%;
	background: url(../images/fields.png) left center no-repeat;
	border: solid #ccc 1px;
	min-height: 25px;
	text-indent: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
textarea {
	resize: vertical;
	padding-top: 10px;
}
.form_contact .txt:focus {
	border: #666 1px solid;
	border-left: 2px solid #666;
}
.form_contact .row {
	width: 100%;
	float: left
}
.form_contact .name {
	background-position: left 9px top -172px;
	background-position-x: 9px;
	background-position-y: -172px;
}
.form_contact .email {
	background-position: left 9px top -218px;
	background-position-x: 9px;
	background-position-y: -218px;
}
.form_contact .phone {
	background-position: left 9px top -40px;
	background-position-x: 9px;
	background-position-y: -40px;
}
.form_contact .message {
	background-position: left 9px top -260px;
	background-position-x: 9px;
	background-position-y: -260px;
	min-height: 100px;
}
.form_contact span {
	width: 100%;
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: left;
}
.icon_send {
	background: url(../images/icon_send.png) right center no-repeat;
	background-size: auto 100%;
}
/*---------------------------------------------*/
/*user edit*/
/*---------------------------------------------*/
#doi_tac {
	background: #FFE401;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 15px;
	box-shadow: 0 0 10px #acacac;
	-moz-box-shadow: 0 0 10px #acacac;
	-webkit-box-shadow: 0 0 10px #acacac
}
#doi_tac .doi_tac_inner {
	margin: 10px;
	padding: 10px;
	background: #fff;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
#doi_tac ul li {
	width: 170px
}
a:hover {
	color: #F00;
	cursor: pointer;
}
/*E9E9E9*/
.right_fix {
	position: fixed;
	top: 200px;
	right: 0px;
	z-index: 99999999999999999999999;
}
.right_f {
	position: absolute;
	top: 0px;
	right: -100px;
	width: 229px;
	height: 69px;
	background: url(../images/bg_right.png) left no-repeat;
	cursor: pointer;
	color: #007eff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	line-height: 69px;
}
.right_f span {
	text-align: center;
	margin-left: 20px;
	font-size: 110%;
	white-space: nowrap;
}
.right_f a {
	color: #007eff;
}
#r2 {
	top: 100px;
}
#r3 {
	top: 200px;
	width: 269px;
	height: 83px;
	background: url(../images/i_tochucsinhnhat.png) left no-repeat;
	line-height: 83px;
}
#r4 {
	top: 300px;
}
#r4 span {
	margin-left: 40px
}
#r2 span {
	margin-left: 40px
}
#r5 {
	top: 400px;
}
#r5 span {
	margin-left: 40px
}
.r_inner {
	width: 100px;
	height: 43px;
	float: right;
	background: #fff;
	margin-top: 8px;
	border: solid 3px #d4b210;
	border-left: 0;
	border-right: 0;
	line-height: 20px
}
.right_f:hover {
	transition: All 0.7s ease-out;
	-webkit-transition: All 0.7s ease-out;
	-moz-transition: All 0.7s ease-out;
	-o-transition: All 0.7s ease-out;
}
#r3 .r_inner {
	height: 53px;
	margin-top: 11px;
}
#gallery {
	float: left;
	width: 100%
}
#gallery li {
	width: 950px
}
